[2016-08-30 19:57] choco-bot opened #1 "RFP - IO Ninja"
It would be awesome to have a package for IONinja

--

Rob
"Be passionate in all you do"

http://codebetter.com/robreynolds
http://ferventcoder.com
https://twitter.com/ferventcoder

[2016-09-01 12:36] kwill commented on #1
For reference (I hadn't heard of it before): http://tibbo.com/ninja/downloads.html

[2016-09-02 05:44] ferventcoder opened #2 "RFM - Spek"
https://chocolatey.org/packages/spek needs new maintainers.

[2016-09-02 05:47] ferventcoder opened #3 "RFM - Heroku-Toolbelt"
Package Url: https://chocolatey.org/packages/heroku-toolbelt

[2016-09-02 07:08] choco-bot opened #4 "RFP - wxHexEditor"
---------- Forwarded message ----------
From: Korintian <>
Date: Sat, Aug 6, 2016 at 5:18 PM
Subject: [chocolatey] Request package: wxHexEditor
To: chocolatey <>

Hello, this is a request to add the package wxHexEditor. It's already
portable as a zip file I think.

[2016-09-02 07:08] choco-bot opened #5 "RFP - XviD"
---------- Forwarded message ----------
From: Korintian <>
Date: Sun, Aug 7, 2016 at 3:49 PM
Subject: [chocolatey] Request package: XviD
To: chocolatey <>

Hello, this is a request to add the package XviD codec.

https://www.xvid.com/download/

[2016-09-02 07:08] choco-bot opened #6 "RFP - Jubler Subtitle Editor"
---------- Forwarded message ----------
From: Korintian <>
Date: Sun, Aug 7, 2016 at 6:00 PM
Subject: [chocolatey] Request package: Jubler Subtitle Editor
To: chocolatey <>

This is a request to add the package Jubler Subtitle Editor:

http://www.jubler.org/

[2016-09-03 12:27] AdmiringWorm commented on #1
I just pushed a package for IO Ninja <https://chocolatey.org/packages/io-ninja/3.6.7>

[2016-09-03 14:42] AdmiringWorm commented on #5
If anyone is interested, I just pushed the Xvid package to chocolatey <https://chocolatey.org/packages/xvid/1.3.4>

[2016-09-04 02:45] Elderry opened #7 "RFP - Internet Download Manager"
[Internet Download Manager(IDM)](http://www.internetdownloadmanager.com/) is a great tool in Windows for downloading files, I would be really happy if someone upload it as a package.

[2016-09-04 02:50] Elderry opened #8 "RFP - ShareMouse"
[ShareMouse](http://www.keyboard-and-mouse-sharing.com/) is a software that let you share your mouse and keyboard with multiple networked computers. It is similar to [Synergy](http://symless.com/synergy/) in [this package](https://chocolatey.org/packages/synergy), but I think ShareMouse is more user friendly and stable.

[2016-09-07 13:12] kwill opened #9 "RFP - Quod Libet (music manager and player)"
Music library manager / player for Linux, Windows, and OS X

Website: https://quodlibet.readthedocs.io
Windows downloads: https://quodlibet.readthedocs.io/en/latest/downloads.html#windows-logo-windows
Upstream package request: https://github.com/quodlibet/quodlibet/issues/1883

[2016-09-07 13:17] kwill opened #10 "RFP - Gobby (collaborative text editor)"
"Gobby is a multi-platform collaborative text editor. It allows multiple users to edit the same document together over the internet in real-time."

Website: https://gobby.github.io
Windows downloads: https://github.com/gobby/gobby/wiki/Download and http://releases.0x539.de/gobby/
Upstream package request: https://github.com/gobby/gobby/issues/134

[2016-09-11 01:14] Elderry commented on #7
I've committed this package [here](https://chocolatey.org/packages/internet-download-manager/6.26.2), seems failed because of AutoHotKey. Once I figured out how to fix it, this issue can be closed.
BTW, any help to [my repo](https://github.com/Elderry/chocolatey-packages/tree/master/Internet%20Download%20Manager) is welcome!

[2016-09-12 05:06] DustinVenegas opened #11 "RFP - GnuPG"
There is currently a Chocolatey package, gpg4win, that contains the GnuPG tools. Regretfully, the gpg4win package uses an out-of-date version of gpg (currently GnuPG 2.0.30).

**Website:** https://www.gnupg.org/
**Download Page:** https://www.gnupg.org/download/index.html
**Download Link:** https://www.gnupg.org/ftp/gcrypt/binary/gnupg-w32-2.1.15_20160818.exe

[2016-09-19 15:42] ferventcoder commented on #1
Also, thanks!

[2016-09-19 15:44] #5 closed

[2016-09-19 15:44] ferventcoder commented on #5
Thanks!

[2016-09-20 08:36] Elderry commented on #8
I have uploaded this package [here](https://chocolatey.org/packages/sharemouse).

[2016-09-20 08:36] #8 closed

[2016-09-21 13:10] kwill opened #12 "RFP - Dilay (3D sculpting application)"
"Dilay is a 3D sculpting application that provides an intuitive workflow using a number of powerful modeling tools. As each tool locally subdivides the mesh where more details are required, Dilay allows artists to rapidly create complex meshes."

Website: http://abau.org/dilay/index.html
Windows downloads: http://abau.org/dilay/download.html and https://github.com/abau/dilay/releases/
Upstream pac

[2016-09-21 21:33] AdmiringWorm commented on #12
I'm looking into creating a package for this now, I'll probably have one available shortly

[2016-09-21 21:59] AdmiringWorm commented on #12
Alright, so I just pushed the package to chocolatey now. See <https://chocolatey.org/packages/dilay/1.5.0>

[2016-09-22 07:56] kwill opened #13 "RFP - Rocket.Chat (web chat server)"
"Rocket.Chat is a Web Chat Server, developed in JavaScript, using the Meteor fullstack framework. It is a great solution for communities and companies wanting to privately host their own chat service or for developers looking forward to build and evolve their own chat platforms."

Website: https://rocket.chat
Windows downloads: https://rocket.chat/download and https://github.com/RocketChat/Rocket.

[2016-09-22 07:57] kwill commented on #13
(i.e. similar to Mattermost or Slack)

[2016-09-22 08:05] kwill opened #14 "RFP - EmojiOne Color Font (emoji font)"
"The font works in all operating systems, but will currently only show color emoji in Firefox, Thunderbird and other Mozilla Gecko-based applications. This is not a limitation of the font, but of the operating systems and applications. Regular B&W outline emoji are included for backwards/fallback compatibility."

Website: https://github.com/eosrei/emojione-color-font
EmojiOne website: http://emoji

[2016-09-24 18:39] Kristinita opened #15 "RFP - Electrum-LTC"
[Electrum-LTC](https://electrum-ltc.org/) —single lightweight LiteCoin client.

Owner Electrum-LTC [does not mind](https://github.com/pooler/electrum-ltc/issues/39#issuecomment-249216033).

Thanks.

[2016-09-25 16:31] Kristinita opened #16 "RFP - Jumpshare"
Jumpshare - program that allows to quickly upload files to a remote server. To upload a file, simply move the file in the Windows system tray, and the clipboard will contain a link to a file on a remote server.

**Official site**: https://jumpshare.com
**Download page for Windows**: https://jumpshare.com/downloading?os=win
**Download link**: https://apps.jumpshare.com/desktop/windows/JumpshareInst

[2016-09-27 07:10] Kristinita opened #17 "RFP - HerdProtect"
![HerdProtect](http://www.herdprotect.com/images/herddiagram_left.png)
![With HerdProtect](http://www.herdprotect.com/images/herddiagram_right.png)

**Official site:** http://www.herdprotect.com/
**Download page:** http://www.herdprotect.com/downloads.aspx
**Executable file:** http://www.herdprotect.com/installers/herdProtectScan_Setup.exe

Thanks.

[2016-09-28 10:08] #12 closed

[2016-10-05 08:35] kkzinger opened #18 "RFM - rclone"
Package Url - https://chocolatey.org/packages/rclone

[2016-10-05 08:38] kkzinger commented on #18
I would like to take maintainence of this package.

[2016-10-05 14:17] gep13 commented on #18
@kkzinger can you use the contact site admins link on the package page, and request co-maintenance through there?  That way we have a trace of where the request came from.  Also, I am assuming that you have tried to contact the current maintainer offering your help?

[2016-10-05 15:02] kkzinger commented on #18
@gep13 Hi, I already did both, contacted the maintainer and the site admins. No response since 22.09.16.

Because of that I searched for an alternative way to get in touch.

[2016-10-07 17:38] mcandre opened #19 "webp, a cli .webp image exporter"
https://developers.google.com/speed/webp/docs/using

[2016-10-07 19:51] mcandre opened #20 "gifsicle, a command line animated gif generator"
https://www.lcdf.org/gifsicle/

[2016-10-08 13:52] AdmiringWorm commented on #10
I would like to pick this up.

[2016-10-08 15:50] AdmiringWorm commented on #10
Gobby is now available here <https://chocolatey.org/packages/gobby/0.5.0>, just waiting for approval then this can be closed.

[2016-10-08 16:17] gep13 commented on #10
@AdmiringWorm great work! Thank you very much!

[2016-10-08 16:17] #10 closed

[2016-10-08 16:20] AdmiringWorm commented on #10
@gep13 No problem, Isn't the issue supposed to be closed after the moderation process is complete?
It hasn't been reviewed yet...

[2016-10-08 16:24] gep13 commented on #10
@AdmiringWorm the fact that it is in the moderation queue is good enough. I had a very quick glance at the package contents and it looks good to me, just not in a position to approve it just now.

[2016-10-08 16:25] AdmiringWorm commented on #10
Ah, I see. thanks

[2016-10-11 08:39] dkocher opened #21 "RFM –  Cyberduck"
We now have an automated release process which is also able to automatically push a new package during the release I'd like to ask you if you could transfer the package Cyberduck and Cyberduck (Install) to us.

[2016-10-11 12:21] gep13 commented on #21
@dkocher thanks for reaching out!

Can you confirm who are `us`?  What username are you using on chocolatey.org?

[2016-10-11 12:24] dkocher commented on #21
We are registered as <post@iterate.ch>.

[2016-10-11 12:43] gep13 commented on #21
@dkocher that is your email address, but what is your chocolatey.org username?

[2016-10-11 12:47] dkocher commented on #21
@gep13 I cannot seem to find our username on https://chocolatey.org/account. I assume it is identical with the email address.

[2016-10-11 13:14] dkocher commented on #21
@gep13 It looks like our username is _iterate_.

[2016-10-11 13:45] #21 closed

[2016-10-11 13:45] gep13 commented on #21
@dkocher perfect, thank you.  I have just added you as a co-maintainer of the package, and you should get an email asking for confirmation.

Let me know when you get it, and we can close this issue.

[2016-10-16 03:23] Elderry commented on #7
Now the package is approved.

[2016-10-16 03:23] #7 closed

[2016-10-17 18:21] mcandre opened #22 "a Unix time port?"
Would be nice to see the Unix `time` program available via Chocolatey. Does anyone know if coreutils, cygwin, etc. include `time`, or of another reasonably well maintained Windows port that we could Chocolate-ify?

[2016-10-19 13:58] dariusz-wozniak opened #23 "RFP - DataStax DevCenter"
Database queries are at the heart of every data-intensive application. Understanding your database schema, usage patterns, and bottlenecks is key to writing high performance applications. DataStax DevCenter is a multi-platform visual database tool that allows you to manage database schema, develop queries, and tune performance.

**Website**:
https://www.datastax.com/products/datastax-devcenter-and

[2016-11-01 13:36] kwill opened #24 "RFP - Juju Windows Client (orchestration client)"
"Juju is an application and service modelling tool that enables you to quickly model, configure, deploy and manage applications in the cloud with only a few commands. Use it to deploy hundreds of preconfigured services, OpenStack, or your own code to any public or private cloud."

Website: https://jujucharms.com
Installation instructions: https://jujucharms.com/docs/stable/getting-started-general

[2016-11-04 21:46] dragon788 commented on #22
Cygwin does have a `time` binary iirc, I'd have to look but I read an article once when I was using Babun/Cygwin about just calling `time` can be tricky, as without the path I think there is a built-in that responds on Windows.

[2016-11-04 22:06] AdmiringWorm commented on #22
There is also the possibility to use the powershell command: `Measure-Command`
I'm not really sure how it compares to the unix time utility though.
http://superuser.com/a/228067

[2016-11-06 16:52] AdmiringWorm commented on #4
this package is already available: https://chocolatey.org/packages/wxhexeditor/0.23-beta

[2016-11-06 16:54] gep13 commented on #4
Due to the fact that it is in beta, it won't show up properly in search results, which is possibly why it wasn't found.

Will close this off for now.

[2016-11-06 16:54] #4 closed

[2016-11-06 19:31] AdmiringWorm commented on #6
jubler is now available here: https://chocolatey.org/packages/jubler/5.1
Just awaiting review, then all is well

[2016-11-06 19:48] gep13 commented on #6
@AdmiringWorm great work! :+1:

I will go ahead and close this just for now.

[2016-11-06 19:48] #6 closed

[2016-11-07 00:41] jtcmedia commented on #3
I can take this on but this package should probably (maybe?) be deprecated. They've renamed it Heroku CLI (verified by what they say [here](https://devcenter.heroku.com/articles/getting-started-with-nodejs#set-up) though the executable is still called heroku-toolbelt.

[2016-11-07 14:01] ferventcoder commented on #3
Deprecation is covered at https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package

[2016-11-07 14:02] ferventcoder commented on #3
Were you assigned as a maintainer? I saw someone assigned. Let me know and we can close this issue.

[2016-11-07 16:30] jtcmedia commented on #3
You can close this issue. Package will be maintained [here](https://github.com/jtcmedia/chocolatey-packages/tree/master/manual/heroku-toolbelt).

[2016-11-07 17:43] #3 closed

[2016-11-15 08:32] AdmiringWorm commented on #24
@kwill this package has just been pushed to chocolatey now: <https://chocolatey.org/packages/juju/2.0.2>

[2016-11-15 09:07] majkinetor commented on #24
Great thing. Thanks.

[2016-11-17 17:18] jtcmedia commented on #18
@kkzinger Did you take maintenance of this package? Still seems to be outdated.

[2016-11-18 13:14] kkzinger commented on #18
@jtcmedia Hi, took it that moment. I missed the mail to take maintenance. I will publish the new package probably in a few hours

[2016-11-21 00:29] kkzinger commented on #20
I made a package. It is currently under review.

https://chocolatey.org/packages/gifsicle/1.88

[2016-11-21 11:44] AdmiringWorm commented on #24
this package has been approved, it can be closed.

[2016-11-21 11:52] #24 closed

[2016-11-22 06:24] jtcmedia commented on #11
I have submitted a package:
https://chocolatey.org/packages/gnupg-modern/

[2016-11-22 15:15] kwill commented on #24
Updated the Launchpad bug with the package details.

[2016-11-22 20:37] Xantix opened #25 "RFP - metapad"
Metapad is a small fast text editor which is completely free.

http://liquidninja.com/metapad/

The most recent download link is:

http://liquidninja.com/metapad/downloads/metapad36.zip

which was last updated in 2011.

The download is a .zip containing an executable and a README.

[2016-11-24 13:58] AdmiringWorm commented on #17
I'm currently working on a package for this now, no ETA on it yet though.

[2016-11-24 16:13] AdmiringWorm commented on #17
I just pushed herdprotect to chocolatey now:
https://chocolatey.org/packages/herdprotect/1.0.3.9

I'll update when/if the package gets approved

[2016-11-24 20:19] kkzinger commented on #20
package was approved. please close this issue.

[2016-11-24 20:20] kkzinger commented on #18
package was approved

[2016-11-24 20:20] #18 closed

[2016-11-24 20:25] #20 closed

[2016-11-24 22:48] kkzinger commented on #19
I will take this one. I think it would be good to do one package for the webp codec. and one for the lib and the cli tools.

[2016-11-27 22:45] AdmiringWorm commented on #17
The package was approved yesterday, as such this issue can now be closed.

[2016-11-28 07:52] #11 closed

[2016-11-28 10:13] Kristinita commented on #17
@AdmiringWorm , thank you very much!

[2016-11-28 10:13] #17 closed

[2016-11-28 10:34] AdmiringWorm commented on #17
you're welcome.
When/if I get time, I'll look into the other packages you've opened a request for.
Unless someone else beats me to it (😉)

[2016-11-28 19:49] DustinVenegas commented on #11
Excellent work and thank you @jtcmedia! The stable version of GnuPG out there was ancient.

[2016-12-02 23:10] ferventcoder opened #26 "RFM - https://chocolatey.org/packages/wget"
Needs a new maintainer. The software vendor does want the software embedded and the GPL license allows for that.

https://www.reddit.com/r/sysadmin/comments/5g5npg/fosshub_message_for_chocolatey_please_stop_with/dapou3d/

[2016-12-04 04:41] ferventcoder opened #27 "RFM - hadoop"
https://chocolatey.org/packages/hadoop needs new maintainers.

[2016-12-04 21:46] jtcmedia commented on #26
I'll take this on. I'll submit a package shortly.

[2016-12-05 21:20] ferventcoder commented on #26
w00t

[2016-12-06 19:00] jtcmedia commented on #27
I sent a request to be added as a maintainer.

[2016-12-06 19:43] ferventcoder commented on #27
To whom? If it falls here, not from the original maintainers you can just simply contact admins.

[2016-12-06 19:45] ferventcoder commented on #27
Nevermind. (Read your email Rob)

[2016-12-06 19:45] ferventcoder commented on #27
Done. Thanks!

[2016-12-06 19:45] ferventcoder commented on #27
Actually - we'll leave this open until the package gets approved - then please mention for it to be closed. Thanks!

[2016-12-06 20:04] jtcmedia commented on #27
Sounds good. While you're at it, any chance you can add me as a maintainer for gmvault and wget? I did send contact site admins for those too.

[2016-12-08 17:09] jtcmedia commented on #26
This issue can be closed. Package with embedded zips has been approved. [https://chocolatey.org/packages/Wget](https://chocolatey.org/packages/Wget)

[2016-12-08 17:50] #26 closed

[2016-12-15 19:37] ferventcoder opened #28 "RFP - conan"
See my comments at https://github.com/conan-io/wishlist/issues/53

[2016-12-15 19:37] ferventcoder commented on #28
https://www.conan.io/

[2016-12-18 19:52] MHketbi commented on #28
working on it.

[2016-12-20 17:01] chantisnake commented on #13
pushed, and waiting.

https://chocolatey.org/packages/rocket.chat/1.3.1

[2016-12-21 09:12] #13 closed

[2016-12-21 10:43] chantisnake commented on #2
Can I take this one?

What should I do to be the maintainer?

My choco id is also chantisnake

[2016-12-21 11:18] chantisnake commented on #2
package is ready: https://github.com/chantisnake/chocolateyPackage/tree/master/spek-choco

[2016-12-21 19:48] ferventcoder commented on #2
Added as maintainer pending email confirmation.

[2016-12-21 19:48] ferventcoder commented on #2
Once the package is approved, feel free to comment here so this can be closed.

[2016-12-21 21:11] chantisnake opened #29 "RFM - mactype"
mactype are outdated for 3 years

https://chocolatey.org/packages/mactype

https://github.com/snowie2000/mactype

[2016-12-21 21:12] chantisnake commented on #29
i am willing to take this

[2016-12-24 01:44] RichiCoder1 opened #30 "RFM - Meteor"
Meteor is a web app development tool and framework: https://www.meteor.com/install.

Install link: https://www.meteor.com/install

I believe there's some automated chocolatey tooling for building new packages when new versions of an installer are released at a url. Windows URL is https://install.meteor.com/windows.

[2016-12-24 10:08] chantisnake commented on #2
package accepted

[2016-12-24 19:09] #2 closed

[2017-01-02 03:14] MHketbi commented on #28
package approved:
https://chocolatey.org/packages/conan

[2017-01-02 17:02] #28 closed

[2017-01-06 07:05] dimqua opened #31 "RFP - Quassel IRC"
[Quassel IRC](http://quassel-irc.org/) is a modern, cross-platform, distributed IRC client, meaning that one (or multiple) client(s) can attach to and detach from a central core.

[Windows installer](http://quassel-irc.org/pub/?C=M;O=D;P=*.exe) containing core, client and the standalone client. Git builds can be found [here](https://ci.appveyor.com/project/AlD/quassel) or [here](https://quassel.ro

[2017-01-06 07:45] dimqua opened #32 "RFP - Calibre"
[Calibre](https://calibre-ebook.com/) is a free and open source e-book library management application developed by users of e-books for users of e-books.

https://github.com/kovidgoyal/calibre/releases/latest

[2017-01-06 07:47] dimqua opened #33 "RFP - Music Player Daemon"
[Music Player Daemon ](https://www.musicpd.org/) (MPD) is a flexible, powerful, server-side application for playing music.

https://www.musicpd.org/download/win32/

[2017-01-06 07:48] gep13 commented on #32
@dimqua calibre has been on chocolatey.org since 2011 😄 It was one of the first packages that I created.

https://chocolatey.org/packages/calibre

[2017-01-06 07:48] #32 closed

[2017-01-06 08:26] dimqua opened #34 "RFP - Iridium Browser"
The [Iridium Browser](https://iridiumbrowser.de/) is based on the Chromium code base. All modifications enhance the privacy of the user and make sure that the latest and best secure technologies are used.

https://downloads.iridiumbrowser.de/windows/

System requirements:
• Windows 7 or later;
• An Intel Pentium 4 processor or later that's SSE2 capable.

[Differences between Iridium and Chromium](

[2017-01-06 08:29] dimqua opened #35 "RFM - Little System Cleaner"
[Little System Cleaner](https://www.little-system-cleaner.com/) is an all in one system cleaner for Windows computers. Little System Cleaner combines several tools created by Little Apps into one, these tools include a registry cleaner, registry optimizer, disk cleaner, privacy cleaner, duplicate finder, startup manager and uninstall manager.

Downloads: https://sourceforge.net/projects/little-sys

[2017-01-06 08:32] dimqua opened #36 "RFP - ONLYOFFICE"
[ONLYOFFICE](https://en.wikipedia.org/wiki/OnlyOffice) is a multifunctional online office suite integrated with CRM system, document and project management toolset, Gantt chart and email aggregator. ONLYOFFICE is written in ASP.NET and translated to 21 languages (as of October 2014).

https://www.onlyoffice.com/download-desktop.aspx

[2017-01-06 08:34] dimqua opened #37 "RFP - RedshiftGUI"
Monitor temperature adjustment program based on time of day. Helps prevent eye strain.

https://github.com/maoserr/redshiftgui/downloads

[2017-01-06 08:38] dimqua opened #38 "RFP - Simple DNSCrypt"
Simple DNSCrypt is a simple management tool to configure [dnscrypt-proxy](https://dnscrypt.org/) on Windows-based systems.

https://github.com/bitbeans/SimpleDnsCrypt/releases/latest

[2017-01-06 08:42] dimqua opened #39 "RFP - Trojitá"
[Trojitá](http://trojita.flaska.net/) is a fast Qt IMAP e-mail client.

Stable builds: https://sourceforge.net/projects/trojita/files/win/
Unstable builds: http://ci-logs.kde.flaska.net/binaries/trojita/win32/rebuilddep/

[2017-01-06 10:14] be-good opened #40 "RFP - madVR"
madVR is an advanced video renderer for powerful PCs to show video at high quality. It can be used with MPC-HC which is already packaged (Options -> Playback -> Output -> DirectShow Video -> madVR).

I would expect a package to download madVR.zip, extract it to %programfiles%/madVR and run install.bat from this directory.

http://madvr.com/

[2017-01-06 10:42] yesbox opened #41 "RFP - GNS3"
GNS3 is a network simulator. It has not build-in auto updater and the main page requires an account to download updates, but the github page has the compiled release as well.

The default configuration attempts to install specific versions of Wireshark and TightVNC which will downgrade the installations made by Chocolatey or manual installs of latest versions. GNS3 does not appear to depend on tho

[2017-01-06 11:27] dimqua opened #42 "RFP - i2pd"
i2pd ([I2P Daemon](http://i2pd.website/)) is a full-featured C++ implementation of I2P client. I2P (Invisible Internet Protocol) is a universal anonymous network layer. All communications over I2P are anonymous and end-to-end encrypted, participants don't reveal their real IP addresses.

https://github.com/PurpleI2P/i2pd/releases/latest

[2017-01-06 13:09] villasv opened #43 "RFP - Mendeley"
[Mendeley](https://www.mendeley.com) is a scientific papers and references manager, you can easily organize and search your personal library, annotate documents and cite as you write.

Stable builds: https://www.mendeley.com/download-mendeley-desktop/
Unstable builds: https://www.mendeley.com/download-mendeley-desktop/preview/

[2017-01-06 14:13] chantisnake commented on #38
package pushed
https://chocolatey.org/packages/simplednscrpt/0.4.0

[2017-01-06 15:02] chantisnake commented on #42
can you tell me what is the difference between the packages in the release? I need to decide which one to choose to be the installer.

[code]

[2017-01-06 17:43] dimqua commented on #42
№1 and №6 are builds without AES-NI and AVX instruction sets support.
№3 is build without AES-NI instruction set support, but with AVX support.
№2 and №4 are builds with both AES-NI and AVX instruction sets support.

I suggest to use №1 for win32 and №3 for win64.

[2017-01-06 17:46] chantisnake commented on #42
That is helpful, a choco package will be up shortly. (maybe tomorrow, I am currently pretty busy with minecraft...)

[2017-01-06 18:35] dimqua opened #44 "RFP - Intel Graphics Driver"
The latest version for Windows 7/8/8.1/10, 32-bit and 64-bit:
https://downloadcenter.intel.com/download/26228/

More options: https://downloadcenter.intel.com/product/80939/Graphics-Drivers

[2017-01-07 04:07] Kristinita commented on #16
✅ [**Done**](https://chocolatey.org/packages/jumpshare).

[2017-01-07 04:07] #16 closed

[2017-01-07 09:55] chantisnake commented on #38
Package approved, please close this issue
https://chocolatey.org/packages/simplednscrpt/

[2017-01-07 10:11] #38 closed

[2017-01-08 19:31] AdmiringWorm commented on #15
@Kristinita I've just pushed this package to chocolatey now.
[Meta+Installer Package](https://chocolatey.org/packages/electrum-ltc/2.6.4.2)
[Portable/Standalone Package](https://chocolatey.org/packages/electrum-ltc.portable/2.6.4.2)

[2017-01-10 03:37] nturley opened #45 "RFP - gtkwave"
gtkwave is an open source waveform viewer. Binaries are here

https://sourceforge.net/projects/gtkwave/files/

It looks like it's distributed as a standalone executable.

[2017-01-10 10:50] AdmiringWorm commented on #15
The electrum-ltc packages have now been approved, and this issue can be closed

[2017-01-10 11:02] #15 closed

[2017-01-10 20:12] chantisnake commented on #42
package pushed https://chocolatey.org/packages/i2pd/2.11.0. When this is approved, we can then close this issue.

[2017-01-10 22:54] CrustyChris opened #46 "RFM - adobedigitaleditions"
Adobe Digital Editions is an ebook reader software program used for acquiring, managing, and reading eBooks, digital newspapers, and other digital publications.

Currently the package page https://chocolatey.org/packages/adobedigitaleditions shows the following message:
"This package is unlisted and hidden from package listings."

I cannot see a reason why it is in this state, unless this is due t

[2017-01-10 23:34] ferventcoder opened #47 "RFM - Ace Stream"
Out of date by quite a bit - https://chocolatey.org/packages/acestream/2.3.0.20140918

[2017-01-10 23:42] ferventcoder opened #48 "RFM - R.Project"
This needs a new maintainer - https://chocolatey.org/packages/R.Project is over a year old.

[2017-01-11 17:23] dimqua opened #49 "RFP - QOwnNotes"
QOwnNotes is the open source plain-text file notepad with markdown support and todo list manager, that (optionally) works together with the notes application of ownCloud or Nextcloud.

Download: https://github.com/pbek/QOwnNotes/releases/

[2017-01-12 17:46] ferventcoder opened #50 "RFM - HexChat"
https://chocolatey.org/packages/hexchat

[2017-01-12 17:52] ferventcoder opened #51 "RFM - Lein"
https://chocolatey.org/packages/Lein/2.2.0

[2017-01-12 17:53] ferventcoder opened #52 "RFM - Waterfox"
https://chocolatey.org/packages/waterfox/32.0.3

[2017-01-12 17:58] ferventcoder opened #53 "RFM - FlashDevelop"
https://chocolatey.org/packages/flashdevelop/4.7.2

[2017-01-12 18:02] dimqua opened #54 "RFM - QupZilla"
QupZilla is a lightweight multiplatform web browser written in Qt Framework and using its web rendering engine QtWebEngine.

Windows installer and portable version:
- https://www.qupzilla.com/startdownload?windows
- https://www.qupzilla.com/startdownload?windows_portable

[2017-01-12 18:04] ferventcoder opened #55 "RFM - hugo"
https://chocolatey.org/packages/hugo

[2017-01-12 18:20] ferventcoder opened #56 "RFM - CMSupportCenter"
https://chocolatey.org/packages/CMSupportCenter

[2017-01-12 19:34] AdmiringWorm commented on #48
I've picked this up as an additional maintainer.
@ferventcoder sorry about not commenting here before sending the request email.

[2017-01-12 20:20] chantisnake commented on #55
Let me take this one

[2017-01-12 22:34] chantisnake commented on #55
latest package is created and ready to push:
https://github.com/chantisnake/chocolateyPackage/tree/master/hugo-choco/Versions/0.18.1

[2017-01-13 00:12] AdmiringWorm commented on #48
This package was just pushed to chocolatey.org now.
I'll update again when it's accepted.

[2017-01-13 03:23] AdmiringWorm commented on #52
I would like to tackle this one

[2017-01-13 07:01] ferventcoder commented on #55
Added.

[2017-01-13 07:02] ferventcoder commented on #55
Please comment here once the package is approved so this can be closed. Thanks!

[2017-01-14 17:48] chantisnake commented on #41
This is a hard one, I tried lots of method, but the installer always launch the installer for winpcap no matter what. Therefore the package cannot be silently installed...

[2017-01-14 20:37] chantisnake opened #57 "RFM - dnspy"
https://chocolatey.org/packages/dnspy

[2017-01-15 00:37] dimqua opened #58 "RFP - JuffEd"
QScintilla-based tabbed text editor with syntax highlighting.

Download: http://juffed.com/en/downloads.html#windows

[2017-01-15 01:41] dimqua opened #59 "RFP - Enki"
[Enki](http://enki-editor.org/) is a text editor for programmers.

Download: https://github.com/andreikop/enki/releases/latest

[2017-01-15 05:23] AdmiringWorm commented on #52
this package have been pushed and approved
https://chocolatey.org/packages/waterfox/50.1.0

[2017-01-15 07:32] #52 closed

[2017-01-15 13:34] JayPowerUser commented on #50
I would like to become a maintainer. I submitted a request on Chocolatey.
Thanks,

[2017-01-15 16:23] yesbox commented on #41
In the 2.0.0b2 installer if unchecking WinPCAP, Wireshark, SolarWinds Response and TightVNC Viewer so that only Dynamips, QEMU, Cpulimit and GNS3 are checked there are no popups. WinPCAP, Wireshark and TightVNC could be set up as dependencies as they are already have Chocolatey packages.

[2017-01-15 17:52] chantisnake opened #60 "RFP - Process Explore"
[Process Explore](https://technet.microsoft.com/en-us/sysinternals/processexplorer.aspx)

## Introduction
Ever wondered which program has a particular file or directory open? Now you can find out. Process Explorer shows you information about which handles and DLLs processes have opened or loaded.
The Process Explorer display consists of two sub-windows. The top window always shows a list of the cu

[2017-01-15 18:27] dimqua opened #61 "RFP - RSS Guard"
RSS Guard is simple, light and easy-to-use RSS/ATOM feed aggregator developed using Qt framework which supports online feed synchronization.

https://github.com/martinrotter/rssguard/releases/latest

[2017-01-15 19:39] chantisnake commented on #61
I will take this one, it might take a few days

[2017-01-15 23:04] dimqua opened #62 "RFP - ungoogled-chromium"
Modifications to Google Chromium for removing Google integration and enhancing privacy, control, and transparency

Download pre-built packages: https://github.com/Eloston/ungoogled-chromium/releases/latest

[2017-01-16 01:38] chantisnake commented on #62
this is cool, I can take this

[2017-01-16 02:36] dimqua commented on #62
Then I should probably close [this issue](https://github.com/chocolatey/chocolatey-package-requests/issues/34), since ungoogled-chromium include Iridium patchset.

[2017-01-16 09:38] chantisnake commented on #62
I am not sure... What do you mean by 'include'

[2017-01-16 12:25] chantisnake commented on #62
package is pushed, the moderator's queue is moving pretty slow recently.

It might take weeks for this to be listed

https://chocolatey.org/packages/ungoogled-chromium/1.0

[2017-01-16 12:27] chantisnake commented on #61
package is pushed, the moderator's queue is moving pretty slow recently.
It might take weeks for this to be approved

https://chocolatey.org/packages/rssguard/3.3.5

[2017-01-16 14:15] #34 closed

[2017-01-18 06:54] ferventcoder opened #63 "RFM - Tomcat"
https://chocolatey.org/packages/Tomcat/8.0.33

[2017-01-19 08:35] dimqua opened #64 "RFM - Otter Browser"
[Otter Browser](https://otter-browser.org/) aims to recreate the best aspects of the classic Opera (12.x) UI using Qt5.

https://chocolatey.org/packages/otterbrowser/

[2017-01-19 09:53] dimqua opened #65 "RFP - Snappy Driver Installer"
[Snappy Driver Installer](https://sdi-tool.org/) is an application for installing/updating drivers on PCs running Microsoft Windows using driverpacks or included folders with drivers. It can be used to install drivers on newly assembled PCs at places where Internet isn't available. Users can also use the software to keep their drivers up to date.

Downloads: https://sdi-tool.org/releases/?C=M;O=D

[2017-01-19 10:26] dimqua opened #66 "RFP - dnscrypt-proxy"
DNSCrypt is a protocol that authenticates communications between a DNS client and a DNS resolver. It prevents DNS spoofing. It uses cryptographic signatures to verify that responses originate from the chosen DNS resolver and haven't been tampered with.

dnscrypt-proxy is the reference client implementation and works natively on Windows, from Windows XP to Windows 10. It runs as a service, and does

[2017-01-19 11:25] dimqua commented on #62
Something wrong:

Also package's version number shouldn't be 1.0.

[2017-01-19 12:25] chantisnake commented on #62
what the version should be?

[2017-01-19 17:22] dimqua commented on #62
Probably 55.0.2883.87-1.

[2017-01-19 17:45] AdmiringWorm commented on #62
@chantisnake @dimqua

Do not add the `-1` at the end, if you do the package will be considered a pre-release package and not show up unless `choco install --pre` is used

[2017-01-19 17:47] chantisnake commented on #62
that is the reason I did not use 55.0.283.87-1

And 55.0.283.87 is probably chromium version.

[2017-01-19 17:50] AdmiringWorm commented on #62
@chantisnake it probably is, however the author releases under that version so it should be used.
One thing you can also do is to pad the revision number so you can allow to add updated packages of the same version.
i.e `55.0.283.87001`
or something like that

[2017-01-20 10:20] damyang opened #67 "RFP - Logitech Options"
"Logitech Options" is similar software as "Logitech SetPoint", but newer or more modern version of it I believe.

Logitech Options software lets you customize your device's settings as follows:
Change function key shortcuts
Customize mouse buttons
Adjust point and scroll behavior
Enable and disable touchpad gestures
Get on-screen notifications when your device's battery runs low or when you press

[2017-01-20 19:26] kromuchi opened #68 "RFP - encfsmp"
With EncFS MP, you can store your data in an encrypted folder. This is especially important if you store your sensitive data in a cloud service like Dropbox or Google Drive. It mounts EncFS folders on Windows and OS X and can create, edit, export and change the password of EncFS folders. Is 100% compatible with EncFS 1.7.4 on Linux.

[https://encfsmp.sourceforge.io](https://encfsmp.sourceforge.io)

[2017-01-20 22:10] kromuchi opened #69 "RFP - lilypond"
LilyPond is a music engraving program, devoted to producing the highest-quality sheet music possible. It brings the aesthetics of traditionally engraved music to computer printouts. LilyPond is free software and part of the GNU Project.

http://lilypond.org/windows.html

[2017-01-21 05:25] bcurran3 commented on #44
I will probably take this on next week, but FYI: The graphic drivers do download and update using https://chocolatey.org/packages/intel-driver-update-utility

[2017-01-21 05:47] dimqua commented on #44
The Intel® DUU failed to find the latest version (which is 15.45.xx ATM) of graphics driver for my computer.
![](http://i.imgur.com/CBFmcBa.png)

[2017-01-22 03:02] dimqua opened #70 "RFP - ZeroNet"
Decentralized websites using Bitcoin crypto and the BitTorrent network.

https://zeronet.io/

[2017-01-22 03:08] dimqua opened #71 "RFP - GNU Ring"
Ring is free software for universal communication which respects freedoms and privacy of its users.

Download: https://ring.cx/en/download/windows

[2017-01-22 03:11] dimqua opened #72 "RFP - twister"
twister is the fully decentralized P2P microblogging platform leveraging from the free software implementations of Bitcoin and BitTorrent protocols.

Downloads: https://github.com/dryabov/twister-webkit/releases

[2017-01-22 03:30] dimqua opened #73 "RFP - Ricochet IM"
Anonymous instant messaging for real privacy.

Downloads: https://ricochet.im/releases/latest/

[2017-01-22 03:35] dimqua opened #74 "RFP - OnionShare"
OnionShare is an open source tool that lets you securely and anonymously share a file of any size.

Downloads: https://github.com/micahflee/onionshare/releases/latest

[2017-01-22 14:35] kromuchi commented on #60
this program is already available: https://chocolatey.org/packages/procexp

[2017-01-22 14:47] chantisnake commented on #60
Thank you

[2017-01-22 14:47] #60 closed

[2017-01-22 16:16] chantisnake commented on #62
package is fixed

[2017-01-22 20:03] dimqua commented on #62
Works as expected.

[2017-01-23 02:46] dimqua opened #75 "RFP - Cantata"
**Cantata** is a graphical client for [Music Player Daemon](https://github.com/chocolatey/chocolatey-package-requests/issues/33).

Downloads: https://github.com/CDrummond/cantata/releases/latest

[2017-01-23 02:49] dimqua opened #76 "RFP - Musique"
Music player with a clean and innovative interface.

Downloads: http://flavio.tordini.org/musique

[2017-01-23 02:50] dimqua opened #77 "RFP - Qmmp"
This program is an audio-player, written with the help of the Qt library. The user interface is similar to winamp or xmms.

Downloads: http://qmmp.ylsoftware.com/files/windows/?C=M;O=D

[2017-01-23 04:48] dimqua opened #78 "RFP - Teeworlds"
Teeworlds is a free online multiplayer game, available for all major operating systems.

https://downloads.teeworlds.com/

[2017-01-23 04:54] dimqua opened #79 "RFP - Urban Terror"
**Urban Terror** is a free multiplayer first person shooter developed by FrozenSand, that will run on any Quake III Arena compatible engine.

Downloads: http://www.urbanterror.info/downloads/current/

[2017-01-23 10:30] dimqua opened #80 "RFM - QEMU"
QEMU is a free and open-source hosted hypervisor that performs hardware virtualization.

Downloads: https://qemu.weilnetz.de/

[2017-01-23 20:12] dimqua opened #81 "RFP - Marble"
Marble is a virtual globe application which allows the user to choose among the Earth, the Moon, Venus, Mars and other planets to display as a 3-D model.

Downloads: https://files.kde.org/marble/downloads/windows/

[2017-01-24 04:16] dimqua opened #82 "RFM - XySubFilter"
XySubFilter (XySubFilter.dll) is the new high quality subtitle filter which requires a compatible Subtitle Consumer supporting the new subtitle interface. Based on VSFilter 2.39 Guliverkli2 with various important changes from VSFilter 2.41 MPC-HC. Supports and ONLY supports subtitle scripts supported by Official VSFilter 2.39 builds, but in a more efficient way.

Download: https://github.com/Cyber

[2017-01-24 04:52] dimqua opened #83 "RFP - madVR"
madVR is a high quality video renderer (GPU assisted). Both 32bit and 64 bit version included.

Downloads: http://www.videohelp.com/software/madVR

[2017-01-24 04:53] #83 closed

[2017-01-24 09:23] dimqua opened #84 "RFP - Baka MPlayer"
Baka MPlayer is a free and open source, cross-platform, libmpv based multimedia player. Its simple design reflects the idea for an uncluttered and enjoyable environment for watching tv shows.

Downloads: https://github.com/u8sand/Baka-MPlayer/releases/latest

[2017-01-24 09:26] dimqua opened #85 "RFP - bomi"
bomi is a multimedia player formerly known as CMPlayer, which is aimed for easy usage but also provides various powerful features and convenience functions. Just install and enjoy it! There will be already what you expect. If you don't like, you can configure almost everything.

Downloads: https://sourceforge.net/projects/bomi/files/windows/

[2017-01-25 03:33] dimqua opened #86 "RFM - Okular"
Okular is a universal document viewer based developed by KDE. Okular works on multiple platforms, including but not limited to Linux, Windows, Mac OS X, *BSD, etc.

Changelog: https://okular.kde.org/news.php

[2017-01-25 08:05] ferventcoder opened #87 "RFM - procmon"
https://chocolatey.org/packages/procmon/3.20

[2017-01-25 08:05] ferventcoder opened #88 "RFM - procexp"
https://chocolatey.org/packages/procexp

[2017-01-25 08:13] Thilas commented on #88
I can take this one (and pocmon as well).

[2017-01-25 08:14] Thilas commented on #87
I can take this one (and procexp as well).

[2017-01-25 08:16] Thilas commented on #88
Done

[2017-01-26 09:06] AdmiringWorm commented on #48
the package have now been approved

[2017-01-26 09:18] chantisnake commented on #42
package is approved: https://chocolatey.org/packages/i2pd

[2017-01-26 09:41] #42 closed

[2017-01-26 21:57] #48 closed

[2017-01-26 21:59] ferventcoder commented on #48
@AdmiringWorm the community maintainers team can now work on issues here as well.

[2017-01-26 23:39] AdmiringWorm commented on #48
awesome 😀

[2017-01-28 03:32] dimqua opened #89 "RFM - SpeedCrunch"
Package is outdated.

https://chocolatey.org/packages/SpeedCrunch

[2017-01-30 02:57] shmo00 opened #90 "RFM - avgantivirusfree"
I always try to install avg but it always falls. it is outdated and does not work. please update. Package: AVG Anti-Virus Free Edition.

[2017-01-30 05:48] #62 closed

[2017-01-30 07:58] dimqua commented on #64
https://chocolatey.org/packages/otter-browser

[2017-01-30 07:58] #64 closed

[2017-01-30 07:59] dimqua commented on #31
https://chocolatey.org/packages/quassel

[2017-01-30 07:59] #31 closed

[2017-01-30 11:53] dimqua commented on #49
https://chocolatey.org/packages/qownnotes/

[2017-01-30 11:53] #49 closed

[2017-01-30 11:54] dimqua commented on #89
I can take this finally!

[2017-01-30 12:00] dimqua commented on #47
I can take this.
https://chocolatey.org/profiles/dimqua

[2017-01-30 12:08] AdmiringWorm commented on #47
@dimqua you'll need to contact the chocolatey admins.

See the note in the README.md file located in this repository.

[2017-01-30 12:11] AdmiringWorm commented on #90
@jo00 I noticed this package is one of @dtgm 's packages.
Have you followed the triage process?
https://chocolatey.org/docs/package-triage-process#package-is-outdated

Requesting a new maintainer should be done after that triage process has completed.

[2017-01-30 12:20] dimqua commented on #66
https://chocolatey.org/packages/dnscrypt-proxy

[2017-01-30 12:20] #66 closed

[2017-01-30 12:42] chantisnake commented on #55
approved

[2017-01-30 13:01] dimqua commented on #44
https://chocolatey.org/packages/intel-graphics-driver

[2017-01-30 13:13] #55 closed

[2017-01-30 15:52] dimqua commented on #36
https://chocolatey.org/packages/onlyoffice/

[2017-01-30 15:52] #36 closed

[2017-01-30 15:52] dimqua commented on #86
https://chocolatey.org/packages/okular/

[2017-01-30 15:59] #61 closed

[2017-01-30 18:59] dimqua commented on #39
https://chocolatey.org/packages/trojita/

[2017-01-30 18:59] #39 closed

[2017-02-01 04:38] dimqua commented on #54
https://chocolatey.org/packages/qupzilla

[2017-02-01 04:38] #54 closed

[2017-02-01 04:39] dimqua commented on #89
https://chocolatey.org/packages/SpeedCrunch

[2017-02-01 04:39] #89 closed

[2017-02-01 08:32] dimqua commented on #40
If someone know how to do this, please tell me.

[2017-02-01 09:37] chantisnake commented on #40
[code]

basically like this, there maybe some minor tweak.

[2017-02-01 10:55] chantisnake commented on #84
if you are familiar with PowerShell, I recommend you to try my github2choco module https://github.com/chantisnake/github2choco

I recommend you to use the latest version of github2choco and PSGitHub from the github repo, because the one on the gallery is somewhat outdated.

This package is not well documented, if you have any question about this package feel free to open an issue there.

[2017-02-01 14:15] dimqua commented on #82
https://chocolatey.org/packages/xysubfilter/

[2017-02-01 15:18] dimqua commented on #37
https://chocolatey.org/packages/redshiftgui/

[2017-02-01 15:18] #37 closed

[2017-02-01 21:54] Thilas commented on #87
New package just pushed!

[2017-02-01 21:55] Thilas commented on #88
New package just pushed!

[2017-02-02 15:44] ferventcoder opened #91 "RFM - FirefoxESR"
Not sure if it is necessary to maintain given the Firefox package supposedly handles different locales. Open to suggestions, but have unlisted it for now.

https://chocolatey.org/packages/FirefoxESR/45.5.1

[2017-02-02 15:53] AdmiringWorm commented on #91
@ferventcoder I believe we perhaps could bring this one into the chocolatey core team packages repo?
I believe the scripts for the firefox package can be reused for this one.

I think this should be still maintained, the ESR packages may get some bug fixes that isn't monitored for the firefox package on older releases

Thoughts?

[2017-02-02 15:56] ferventcoder commented on #91
Works for me. Go for it. You can also relist the most recent version if that helps.

[2017-02-02 16:14] chantisnake opened #92 "RFP - neovim"
Neovim is a project that seeks to aggressively refactor Vim in order to:
- Simplify maintenance and encourage contributions
- Split the work between multiple developers
- Enable advanced external UIs without modifications to the core
- Improve extensibility with a new plugin architecture

windows install: https://github.com/neovim/neovim/wiki/Installing-Neovim#windows

[2017-02-02 16:44] AdmiringWorm commented on #91
PR opened on the core team packages repo, just waiting for a review then it's good too go.

[2017-02-02 23:23] AdmiringWorm commented on #91
package have been moved to the core team repo, and and updated package have been approved on chocolatey.org

[2017-02-02 23:23] #91 closed

[2017-02-03 23:01] jo00 commented on #90
Yes I have followed that process and I did contact @dtgm, but nothing has happened Here is the source package:   https://github.com/dtgm/chocolatey-packages/tree/master/automatic/_output/avgantivirusfree/15.0.6140

thanks

[2017-02-06 15:17] dimqua opened #93 "RFP - Psi+"
Psi+ is a development branch of Psi IM Jabber client.

Downloads: http://psi-plus.com/wiki/en:downloads#ms_windows

[2017-02-06 15:20] dimqua opened #94 "RFP - qutIM"
qutIM is free and open-source multiprotocol (ICQ, Jabber, Mail.Ru, IRC, VKontakte) instant messenger for Windows, Linux, MacOS X, OS/2, Symbian, Maemo/MeeGo, Solaris and *BSD.

Downloads: http://www.qutim.org/download

[2017-02-06 15:23] dimqua opened #95 "RFP - Vacuum-IM"
Full-featured cross-platform Jabber/XMPP client.

Downloads: https://github.com/Vacuum-IM/vacuum-im/releases

[2017-02-06 15:24] dimqua opened #96 "RFP - Swift"
Swift is an elegant, secure, adaptable and intuitive XMPP client, with features that make it suitable for a wide range of use scenarios.

Downloads: http://swift.im/downloads/releases/

[2017-02-07 06:50] Thilas commented on #87
Package approved: https://chocolatey.org/packages/procmon

[2017-02-07 07:03] #87 closed

[2017-02-08 04:50] AdmiringWorm commented on #88
package approved

[2017-02-08 04:50] #88 closed

[2017-02-09 17:07] rasa commented on #22
Cygwin used to have a [time command](https://cygwin.com/ml/cygwin/2003-10/msg00823.html), but not anymore:
[code]

[2017-02-10 21:26] JaMcCarter opened #97 "RFP - PortQry"
PortQryV2.exe, a command-line utility that you can use to help troubleshoot TCP/IP connectivity issues. Portqry.exe runs on Windows 2000-based computers.
It is useful for troubleshooting open sockets like Telnet, but has greater functionality and provides more information than Telnet.

https://www.microsoft.com/en-us/download/details.aspx?id=17148

[2017-02-11 22:16] vmiheer opened #98 "RFP - Wordweb"
Wordweb is free (as in freeware and not freedom) dictionary for windows.
http://wordweb.info/free/

[2017-02-14 12:35] Redsandro opened #99 "RFM opera-beta"
Pretty outdated. Could use autopackage. After all, people actively seeking out the beta want cutting edge.

https://chocolatey.org/packages/opera-beta

[2017-02-14 16:35] ferventcoder opened #100 "RFM - aimp"
https://chocolatey.org/packages/aimp

[2017-02-14 16:36] ferventcoder commented on #100
Nevermind, jumped the gun on this...

[2017-02-14 16:36] #100 closed

[2017-02-14 17:52] ferventcoder opened #101 "RFM - IcoFX"
https://chocolatey.org/packages/IcoFx

[2017-02-14 19:53] ferventcoder opened #102 "RFM - File Optimizer"
https://chocolatey.org/packages/FileOptimizer/

[2017-02-14 20:08] DavidSchargel commented on #102
File Optimizer is quite an amazing package that I wish more people knew about. It is simply a wrapper for all the best _lossless_ compression/optimization. It is not un

It is an integral part of my audio, photography, webdesign, and webdev workflow. It is not unusual to see 70-90% compression with SVGs, JPEGs, and PNGs; 45-80% compression with PDFs; and 5-25% on audio files.

[2017-02-14 20:09] DavidSchargel commented on #102
From the [official FileOptimizer's website](http://nikkhokkho.sourceforge.net/static.php?page=FileOptimizer):

FileOptimizer is an advanced file optimizer featuring a lossless (no quality loss) file size reduction that supports: .3GP, .A, .AAI, .AC, .ACC, .ADP, .AI, .AIR, .APK, .APNG, .APPX, .APR, .ART, .AVS, .BAR, .BMP, .BPL, .BSZ, .CBT, .CBZ, .CDR, .CDT, .CHI, .CHM, .CHQ, .CHS, .CHW, .CPL, .CSL,

[2017-02-14 20:13] DavidSchargel commented on #102
I do not have the skills to assist in this package being maintained. If I did, I would share my chocolately love and do so.

The largest concern a future maintainer should know about FileOptimizer is that it contains over 40 third party executables and 3 of those regularly show up as false positives on Cylance (a next-gen anti-virus that does not use signature files). In case it helps, these exe f

[2017-02-16 20:20] Spunkie commented on #102
I'm open to maintaining this pkg. I'm a newbie when it comes to chocolatey but I believe this would be sufficient to bring the pkg up to date?

https://github.com/Spunkie/chocolatey-packages/tree/master/FileOptimizer

[2017-02-17 03:58] aronovgj opened #103 "RFM - geforce-game-ready-driver"
Someone should continue this as I don't use an Nvidia GPU anymore. If the package breaks it probably breaks for good until someone takes over. I can not test it.

There is a general package which was discontinued:
https://chocolatey.org/packages/geforce-game-ready-driver
and there are packages for different Windows versions (they exist because Ketarin can't handle 4 different URLs easily):
https:/

[2017-02-17 06:23] bcurran3 commented on #67
I already had this in my personal queue.
I'll take this on.

[2017-02-17 08:41] bcurran3 commented on #67
Done.
https://chocolatey.org/packages/logitech-options/6.40.169

[2017-02-17 10:19] damyang commented on #67
Awesome, thank you!

[2017-02-17 13:19] bcurran3 commented on #67
YW.

[2017-02-17 15:18] Link-Satonaka commented on #103
I'll take over if no one else does before I find free time

[2017-02-17 15:19] aronovgj commented on #103
Let me know when you want me to add you as a maintainter.

[2017-02-17 18:35] AdmiringWorm commented on #43
Mendeley is available on chocolatey.org.
https://chocolatey.org/packages/mendeley

[2017-02-17 18:35] #43 closed

[2017-02-18 00:51] DavidSchargel commented on #102
Nice! It looks like you're still working ion it (with latest commit a few minutes ago). Tell me how I can test it. Do you know what the next steps are for getting it through chocolatey review? I do not.

[2017-02-18 01:40] Spunkie commented on #102
@DavidSchargel Thanks, it would be great to have someone other than me test the package. There are some caveats to installing packages from the moderation queue though so [read this first](https://chocolatey.org/faq#how-do-i-install-a-package-version-under-moderation).

If that sounds fine then you should be able to install simply by running:

`choco install FileOptimizer --version 9.50.1665`

[2017-02-18 01:59] DavidSchargel commented on #102
@Spunkie I am happy to say that I wiped the old version clean, did an install, uninstall, and installed again and all is well. Thanks!

[2017-02-18 02:12] Spunkie commented on #102
Thanks and the package just passed automatic testing so now just waiting on moderator to take a look and approve it. I'll post an update here once that happens.

[2017-02-18 22:49] Spunkie commented on #102
The pkg was approved so I think we should be good to close this issue now.

[2017-02-18 23:15] #102 closed

[2017-02-23 02:57] trajano commented on #103
Feel free to grab stuff from my attempt.  https://github.com/trajano/choco-packages/tree/master/geforce-game-ready-driver-win10

[2017-03-03 14:21] Spunkie opened #104 "RFM - phpstorm"
https://chocolatey.org/packages/phpstorm

The pkg currently has 3 maintainers. As far as I can tell 2 of them have abandoned chocolatey completely and deleted their pkg repos. The 3rd maintainer, Claud, still has [a repo](https://github.com/Claud/chocolatey-packages) but has not responded to [requests for updates](https://github.com/Claud/chocolatey-packages/issues/7) in a long time.

@mastacheata

[2017-03-03 16:15] Kristinita commented on #47
@dimqua , I add you to maintainers list. Please, check you mail.

Thanks.

[2017-03-06 20:41] Spunkie commented on #19
@kkzinger Did this ever go anywhere? I can't find anything involving webp(cli or codec) on chocolatey.

[2017-03-06 21:49] kkzinger commented on #19
webp cli is currently under moderation. codec will be packaged tomorrow.
https://github.com/kkzinger/chocolatey-packages-new

[2017-03-07 09:21] chantisnake opened #105 "RFM - Emacs"
Kind of hard to believe that emacs is outdated...

[2017-03-07 09:23] chantisnake opened #106 "RFM - Coq"
https://coq.inria.fr/

Coq is a formal proof management system. It provides a formal language to write mathematical definitions, executable algorithms and theorems together with an environment for semi-interactive development of machine-checked proofs. Typical applications include the certification of properties of programming languages (e.g. the CompCert compiler certification project, or the Bed

[2017-03-07 10:23] gep13 commented on #57
@chantisnake if you have a package version that is ready to push, have you requested co-maintenance of this package so that you can push to it?

[2017-03-07 10:28] chantisnake commented on #57
I am not planning to maintain this anymore, sorry.

[2017-03-09 07:51] pauby commented on #46
After trying to find an Adobe Digital Editions package and failing, I submitted my own. The mod has just pointed me to the original package and also here to post a comment.

I have asked to be a mainatiner of the original Adobe Digital Editions package and will update it when that comes through.

[2017-03-09 08:15] rggjan opened #107 "RFP - XnConvert"
XnConvert is a powerful and free cross-platform batch image processor, allowing you to combine over 80 actions. Compatible with 500 formats. It uses the batch processing module of XnViewMP.

http://www.xnview.com/en/xnconvert/

[2017-03-09 08:17] rggjan opened #108 "RFP - Resilio Sync"
A fast, reliable, and simple file sync and share solution

https://www.resilio.com/individuals/

[2017-03-09 08:18] rggjan opened #109 "RFP - Performance Monitor"
Performance Monitor is a small program that shows you the CPU, Memory, Disk and Network utilization under Windows NT platforms (2000, XP, Vista, Win 7, etc...).
It's composed by four fully configurable small graphs and it can work in the tray area also.
The windows are fully anchorable.
PerfMon can become transparent and permits you to forward left-mouse clicks so you can place it anywhere.
You ca

[2017-03-09 16:24] 07416 opened #110 "RFM - HWiNFO"
https://www.hwinfo.com/

HWiNFO is a comprehensive system information utility. [The packages](https://chocolatey.org/packages?q=hwinfo) by LinkSatonaka aren't really kept up to date and installation currently fails, this has been an issue with the previous versions as well:

`choco install hwinfo`:

[code]

[2017-03-09 16:30] 07416 opened #111 "RFP - ReShade"
https://reshade.me/
https://github.com/crosire/reshade

ReShade is a post-processing injector for games and video software, commonly used for injecting high-quality anti-aliasing SMAA for PC games. [Software compatibility](https://reshade.me/compatibility) is extremely comprehensive.

dowload: https://reshade.me/#download

[2017-03-09 16:34] 07416 commented on #110
@Link-Satonaka, if you're the maintainer.

[2017-03-09 16:50] Link-Satonaka commented on #110
Feel free to take this off my hands. HWINFO needs to be babysat and I'd be happy to get rid of it.

Some things the future maintainer should know: The author does not distribute the binaries in any sane way outside of FOSShub, which chocolatey can no longer use. There is no license, at all, so you cannot distribute the installers through chocolatey itself. The only available mirror we can use is t

[2017-03-09 16:55] Link-Satonaka commented on #110
Oh, and the icing on the cake is that the releases to fosshub don't match the hashes of the releases to the ftp server.

[2017-03-09 18:25] 07416 commented on #110
Maybe I will at some point, but I'm currently unable to maintain packages.
Can you delete the HWiNFO package from Chocolatey repository?

[2017-03-09 18:45] Link-Satonaka commented on #103
OK, I'm ready to take over @aronovgj

Please give me access to all three packages. I'll be deprecating the OS specific ones, I have restored the general one.

https://github.com/Link-Satonaka/chocopkgs/tree/master/geforce-game-ready-driver

[2017-03-09 18:48] Link-Satonaka commented on #50
If Jay cannot, I'll take it.

[2017-03-09 18:58] trajano commented on #103
@Link-Satonaka I like the way you did it the platform switch on yours.

[2017-03-09 19:22] aronovgj commented on #103
@Link-Satonaka You're in, my Ketarin instance won't push updates of the drivers anymore.

[2017-03-09 20:33] aronovgj commented on #103
https://github.com/Link-Satonaka/chocopkgs/blob/master/geforce-game-ready-driver/tools/chocolateyInstall.ps1
Does that even work? As far as I remember the exe does not accept parameters. That is why you have to unpack it first.

[2017-03-09 21:01] Link-Satonaka commented on #103
IIRC we specifically unpacked it to prevent update.core, GeForce experience, and etc from installing.

Since that no longer works as intended, we can go back to simply running the installer.

[2017-03-09 21:02] trajano commented on #103
@Link-Satonaka the one I have removed GeForce Experience and Update but I haven't tested it on the non-Windows 10 version.

[2017-03-09 21:06] Link-Satonaka commented on #103
It was reported to me that this would actually uninstall GeForce Experience, which is unacceptable.

[2017-03-09 21:06] aronovgj commented on #103
https://chocolatey.org/packages/geforce-game-ready-driver/347.52

Thats the first geforce package I pushed. That was before any requests to remove GF Experience. And I still unzipped it first. Pretty sure I did this for a reason.

[2017-03-09 21:10] aronovgj commented on #103
Regarding @trajano he modifies the config file, instead of just removing the folder. I don't know if that has the same effect of removing GFE.

[2017-03-09 21:27] trajano commented on #103
All I can tell is on my home machine I do not have GeForce Experience installed which was what I was after.  In addition I found out how to get rid of the other things such as the 3D Vision photo viewer and USB driver as well since I didn't have the hardware either.

In my implementation, there's a `TODO` block which would require some more chocolatey and PowerShell experience to implement,  Namel

[2017-03-10 14:46] trajano commented on #103
Just checked last night when I got home, no issues installing a new version.  However... I did find that the "uninstall" with the approach I am doing did not work.  Not that I would normally uninstall anyway.

[2017-03-10 15:03] aronovgj commented on #103
@trajano I am not sure if you entirely get the problem, so just to get it straight

The problem was:
- You have drivers and GFE installed
- You want to update the drivers
- You remove GFE from the installer by unzipping and then removing the folder where GFE is
- You update the drivers
- Drivers are updated but GFE is being removed

I am not sure if you tested if that also happens modifying the co

[2017-03-10 15:50] trajano commented on #103
@aronovgj my objective was to have just what is neeeded for the driver installed and avoid any extras such as 3DVision, GFE, NVision, NVUpdate from being loaded.

However, I didn't want to *remove* the folders because I am not exactly sure what would happen, instead I went with the configuration file change approach to simulate what would happen if the user decides to actually pick and choose the

[2017-03-10 20:44] mastacheata commented on #104
As requested on the referenced issue, this is my chocolatey.org profile:
https://chocolatey.org/profiles/mastacheata

[2017-03-13 15:22] kkzinger commented on #19
I will not package webp codec because it seems to be outdated. no commit in 3 years.
https://chromium.googlesource.com/webm/webp-wic-codec/

[2017-03-13 19:24] Spunkie commented on #19
@kkzinger wow ya I had not realize it has been so long since an update for the codec. I asked about this on the webp mailing list so hopefully we will get some developer insight.

The post is here: https://groups.google.com/a/webmproject.org/forum/#!topic/webp-discuss/41iNKXRSRnQ

[2017-03-13 22:08] kkzinger commented on #19
@Spunkie yep would be interesting if they plan do somthing in this area in future.

here is the package for the tools.
https://chocolatey.org/packages/webp

[2017-03-13 22:10] kkzinger commented on #19
btw I think we could close this issue and make a new one if the codec should be packaged too.

[2017-03-15 06:11] Spunkie commented on #104
@mastacheata I added you a few days ago, you have have gotten an email from chocolatey asking for confirmation.
___
Also I have made a few commits for you repo and would like to submit PRs but since generated files are committed in master it could cause many unnecessary merge conflicts or out of date files at times. Would you mind making a dev branch that deletes all those generated files and adds

[2017-03-15 15:21] mastacheata commented on #104
@Spunkie Landed in my junk mail, which I don't check so regularly, but found it now.

I removed the autogenerated installer, uninstaller and the nuspec file and added corresponding entries to the gitignore file.

I've fiddled a bit. Left the master branch untouched and created a dev branch where I removed all autogenerated files and added them to .gitignore
Just checked your fork, you added *.nusp

[2017-03-17 06:53] yongks85 opened #112 "RFP - OneNote"
Microsoft OneNote is a computer program for free-form information gathering and multi-user collaboration. It gathers users' notes (handwritten or typed), drawings, screen clippings and audio commentaries.

https://www.onenote.com/download

[2017-03-19 13:24] ferventcoder opened #113 "RFM - Join.me"
https://chocolatey.org/packages/join.me/2.15.5.302500

Got a report of this being out of date, although I believe there was an issue with going to the official distribution point. If anyone is interested, I believe @mikecole can provide the details on this one.

[2017-03-19 13:34] ferventcoder opened #114 "RFM - Monogame"
https://chocolatey.org/packages/monogame/3.2.0

[2017-03-19 13:36] ferventcoder opened #115 "RFM - PyCharm Professional"
https://chocolatey.org/packages/pycharm-professional/2016.2.2

[2017-03-19 13:38] ferventcoder opened #116 "RFM - PHPStorm"
https://chocolatey.org/packages/phpstorm/2016.2.2

[2017-03-19 14:05] ferventcoder opened #117 "RFM - gradle"
https://chocolatey.org/packages/gradle/3.1

[2017-03-20 17:19] mikecole commented on #113
I do not recall the issues I had. I will try to review and provide an update in a week or so.

[2017-03-20 21:01] Spunkie commented on #113
@mikecole I looked at this a few weeks ago and the only thing I could find was a commit where you simply said your were abandoning the pkg.

https://github.com/mikecole/chocolatey-packages/commit/1a79a74885c78b1ff496c4f77717f58217601817

[2017-03-20 21:04] mikecole commented on #113
I'll resurrect it and try again. IIRC there was something squirrely with
the URL doing a redirect, and I didn't have the PS skills at the time to
overcome it. Round 2 coming soon!

On Mon, Mar 20, 2017 at 2:01 PM, Spunkie <notifications@github.com> wrote:

[2017-03-20 21:21] photodude opened #118 "RFP - phpmyadmin"
We already have the pg admin install option for managing PostgreSQL, it would be very helpful to also have the phpMyAdmin install option for managing MySQL.

downloads
https://www.phpmyadmin.net/downloads/

PHPMyAdmin should be installed with PHP, MySQL and a webserver like Apache, IIS, or nginx

check if MySQL is installed, install if it's not
check if a webserver is installed, install one if not

[2017-03-21 07:34] majkinetor commented on #110
I don't get it. This package is not only available from foshub, it has local zip/exe, i.e. https://www.hwinfo.com/files/hw64_546.zip

Should be trivial to implement with AU updater. Its also embeddable.

Am I missing something ?

[2017-03-21 07:44] majkinetor commented on #75
https://chocolatey.org/packages/cantata

[2017-03-21 07:44] #75 closed

[2017-03-21 07:56] #19 closed

[2017-03-21 09:06] majkinetor commented on #22
There is no such thing IMO.

[2017-03-21 09:06] #22 closed

[2017-03-21 13:03] Link-Satonaka commented on #110
You are missing a few things.

1) Chocolatey is no longer allowed to scrape fosshub
2) "Why aren't you using the direct local URL?" has been brought up several times before. The answer is that it's not a direct URL.
As for being embeddable- under which license?

[2017-03-21 13:06] Link-Satonaka commented on #110
Once I re-set up automatic package updating, there will be a smaller window of down time.

Unfortunately AU is not intuitive to me, I plan to just write an equivalent in Bourne shell.

[2017-03-21 14:55] majkinetor commented on #110
This is not a problem if fosshub is used only to create embedded package.

Who knows and it is not important ? Its stated on their site under download page that _HWiNFO32 is FREEWARE and free distributable as-is_

`curl.exe "https://www.hwinfo.com/files/hw64_546.zip"  -H "referer: https://www.hwinfo.com/download.php"`

`iwr "https://www.hwinfo.com/files/hw64_546.zip"  -Headers @{referer='https://w

[2017-03-21 15:11] Link-Satonaka commented on #110
Thanks for that- I should be able to just put the header under -Options in Install-ChocolateyPackage right? Not in a position to test this instant.

[2017-03-21 17:15] majkinetor commented on #110
You should, but, why don't you migrate the package to chocolatey core repo and I can help with AU script ? And you will get rid of it.

[2017-03-21 17:18] majkinetor commented on #110
Good luck with that :) I was fine tuning entire year. But you should reconsider, perhaps watch a video or ask for help in gitter. Its really trivial once you grok it.

[2017-03-22 09:59] rggjan opened #119 "RFP - IObit Uninstaller"
http://www.iobit.com/en/advanceduninstaller.php

[2017-03-23 22:29] jtcmedia commented on #116
I can take this

[2017-03-23 22:32] jtcmedia commented on #116
Isn't this a duplicate of #104 ? Looks like a pre-release package was released but still no 2016.3

[2017-03-23 22:39] ferventcoder commented on #116
Good point.

[2017-03-23 22:39] #116 closed

[2017-03-25 01:19] dimqua opened #120 "RFP - Music Player Daemon"
I can take it myself, please tell me how I can install this type of package (just .exe file with no installer) using choco.

https://www.musicpd.org/download/win32/0.20.5/mpd.exe

[2017-03-25 01:21] #33 closed

[2017-03-25 08:38] majkinetor commented on #120
Its not that simple, you need to install it as a service.

[2017-03-25 16:34] dimqua commented on #120
Yes, I'm interesting how I can install mpd as portable app, since it's not a zip archive I can't use "Install-ChocolateyZipPackage" helper.

[2017-03-25 17:01] majkinetor commented on #120
u can just pack mpd.exe directly in package, that probably isnt terribly usefull tho.

To downoad it use get-webfile from core extension. U should embed it tho. Mpd requires other stuff to be useful...

[2017-03-25 17:02] majkinetor commented on #120
Probably best to not do it... inform urself about mpd

[2017-03-25 17:15] dimqua commented on #120
This is exactly what I trying to avoid. :-) Probably there is a better solution; I'm new to choco, not mpd. :-)

[2017-03-25 18:10] majkinetor commented on #120
This is exactly something you should try not to avoid, see https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines#114-embed-a-package-if-allowed

Not if he doesn't have a default config file, plugins, etc...

[2017-03-25 18:15] dimqua commented on #120
Thanks for info, I can embed a default config file with this package, but I'm not sure it is needed.

[2017-03-25 18:15] majkinetor commented on #120
It is needed. Just install mpd on any linux and see what you get.

[2017-03-25 18:17] dimqua commented on #120
Yes, but no one will use the default config anyway. :P

[2017-03-25 18:17] majkinetor commented on #120
It is unusable that way:

[code]

[2017-03-25 18:17] majkinetor commented on #120
No, people will use 90% of the default config.

[2017-03-26 04:12] dimqua commented on #120
https://chocolatey.org/packages/mpd/

[2017-03-26 04:37] dimqua opened #121 "RFP - NaChat"
Portable desktop chat client for Matrix.

https://github.com/Ralith/nachat

![](https://matrix.org/docs/projects/images/nachat005.jpg)

[2017-03-26 04:39] dimqua opened #122 "RFP - Quaternion"
Quaternion is a cross-platform desktop IM client for the Matrix protocol in development.

https://github.com/Fxrh/Quaternion
![](https://raw.githubusercontent.com/Fxrh/Quaternion/master/quaternion.png)

[2017-03-28 05:25] mikecole commented on #113
I resurrected the package and played around with it a bit. I found that the only URL I could find was https://www.join.me/Download.aspx?installer=win&webdownload=true. However, the checksums on that download constantly changed. I was never able to make it pass checksum validation because I would get erratic results on the checksum of the downloaded file.

[2017-03-28 05:40] majkinetor commented on #113
If license allows it u can embed it and then checksum problem is gone. Au can make that automatic.

[2017-03-28 10:48] ferventcoder commented on #113
IIRC the licensing doesn't allow distribution rights.

[2017-03-28 13:47] mikecole commented on #113
Exactly. This is where I got stuck before. I'm not sure where to go from here.

[2017-03-28 13:51] AdmiringWorm commented on #113
@mikecole if you're to embed the software, you'll need to contact the authors and ask them to give you the rights to redistribute the software.

[2017-03-28 14:32] mikecole commented on #113
I pursued that route, but it doesn't look like they will agree to letting us redistribute. Open to any other creative solutions.

[2017-03-28 14:36] majkinetor commented on #113
There are creative solutions:

- Add into the docs that you should always invoke it with --ignore-checksum
- Use `Get-WebFile`  from core ext to download the url locally and then `Install-ChocolateyInstallPackage` to install it just as it is embedded. This basically circumvents chocolatey checksum config. Make sure to add that in `## Notes` secction.

[2017-03-28 14:37] mikecole commented on #113
OK, I can give that a try. Thanks for the info.

[2017-03-28 14:37] majkinetor commented on #113
Use `Get-PackageCacheLocation` to get temp dir where to download too.

[2017-03-28 14:38] mikecole commented on #113
Are you aware of any packages currently using this approach that I can use as an example?

[2017-03-28 17:40] ferventcoder commented on #113
We don't recommend using `Get-WebFile` directly. Keep in mind that if it downloads over HTTPS, there is less issue with checksums currently. However intentionally circumventing a safety mechanism is against the community repository guidelines.

I would see use Install-ChocolateyPackage with an HTTPS location and mention in notes that the checksums constantly change, so they need to run with `--ign

[2017-03-29 14:55] jtcmedia commented on #27
Package has been submitted and approved https://chocolatey.org/packages/hadoop

This can be closed.

[2017-03-29 14:56] #27 closed

[2017-03-30 05:35] AdmiringWorm commented on #46
new version of this package was approved yesterday.

[2017-03-30 05:35] #46 closed

[2017-03-31 12:47] AdmiringWorm commented on #59
I've started looking into creating a package for this

[2017-03-31 14:30] AdmiringWorm commented on #59
Enki was just pushed to chocolatey.org
https://chocolatey.org/packages/enki/16.04.1

[2017-03-31 19:35] AdmiringWorm commented on #59
as mentioned in the Readme.md issues should stay open until the package is approved.

[2017-04-03 22:58] ferventcoder commented on #50
@JayPowerUser we are still waiting on you to tell us your username.

[2017-04-04 15:59] Link-Satonaka commented on #110
I'll take another stab at AU, but I will also write something in sh. I feel that proper linux support might be useful to some (and now with WSL, those more comfortable in sh have easy access to it :)

Latest update to hwinfo package includes the direct link via referrer; thanks for that.

[2017-04-04 16:27] majkinetor commented on #110
Proper Linux support will be available with AU since Posh is cross platform. I will look into that when somebody has a case that I can work with.

If you feel you need help don't hesitate to ask on gitter or simply rise an issue and post your code.

[2017-04-04 16:35] Link-Satonaka commented on #110
Instead of "proper linux support" I should have said "in the common language of linux".

I do need to get better at powershell though, and thanks, I will drop by gitter soon!

[2017-04-05 01:44] mikecole commented on #113
I made Rob's recommended changes and pushed to the gallery:
https://github.com/mikecole/chocolatey-packages/commit/247dad921601f5b83eac798507597175b6433abb

[2017-04-05 03:30] ferventcoder commented on #113
It was initially someone else's recommendation.

[2017-04-05 03:31] ferventcoder commented on #113
@majkinetor 's recommendation.

[2017-04-05 04:16] #120 closed

[2017-04-05 04:17] dimqua commented on #47
https://chocolatey.org/packages/acestream

[2017-04-05 04:17] #47 closed

[2017-04-05 04:48] #113 closed

[2017-04-05 15:59] 07416 commented on #103
Is it now possible to specify the driver components to install? I always uncheck 3D Vision drivers, Geforce Experience and HD Audio Driver when installing manually.

![2017-04-05 18_54_28-nvidia installer](https://cloud.githubusercontent.com/assets/14923168/24714493/5ba0715e-1a31-11e7-9a18-a81822a6f35e.png)

[2017-04-05 16:05] trajano commented on #103
@07416 not with the official chocolatey package.  However, I am curious about removing the HD Audio Driver.

[2017-04-05 21:29] Spunkie commented on #104
@mastacheata Thanks for your work on this. 👍  The pkg is approved now so I'm going to close this issue.

[2017-04-05 21:29] #104 closed

[2017-04-06 02:32] AdmiringWorm commented on #103
closing this as it seem updated packages have been submitted, and they have been approved.

[2017-04-06 02:32] #103 closed

[2017-04-06 16:16] mikecole commented on #112
I can look into this one.

[2017-04-08 05:35] Link-Satonaka commented on #103
@trajano @07416 You may be interested in my next package-

https://github.com/Link-Satonaka/chocopkgs/blob/master/nvidia-display-driver/tools/chocolateyInstall.ps1

I'll be submitting it after I confer with gitter as to what it should be named.

[2017-04-10 18:08] JayPowerUser commented on #50
Chocolatey username JayPoweruser. Thanks,

[2017-04-13 18:07] Spunkie commented on #65
https://chocolatey.org/packages/snappy-driver-installer

This pkg was approved last month, you should be good to close this. @ferventcoder

[2017-04-13 18:09] #65 closed

[2017-04-15 17:42] dimqua commented on #122
https://chocolatey.org/packages/quaternion

[2017-04-15 17:44] #59 closed

[2017-04-17 18:11] #122 closed

[2017-04-19 12:12] wigster opened #123 "RFM: paint.net"

[2017-04-20 15:16] AdmiringWorm opened #124 "RFM: RocketDock"
The rocket dock package have been unlisted, and was last updated in 2014.

as such, a new maintainer for this package is requested.

https://chocolatey.org/packages/rocketdock

[2017-04-20 20:17] kromkrom opened #125 "RFP - mp3DirectCut"
A great tool for quick mp3 edits.
http://mpesch3.de1.cc/mp3dc.html

[2017-04-23 19:34] bcurran3 commented on #124
This is a worthwhile program and easy package; I volunteer to maintain it.

[2017-04-23 19:41] bcurran3 commented on #112
I didn't know this program had a free version. Mike, if you don't have time - I could do as well.

[2017-04-23 19:45] bcurran3 commented on #67
This issue should be marked closed.

[2017-04-23 19:49] #67 closed

[2017-04-23 20:32] bcurran3 commented on #44
dimqua - the problem with your computer is you need to use the OEM drivers (HP? Dell?) and can't use the Intel generic ones unless you remove the OEM ones.

I have packaged up the latest two versions of the program. Add me as a maintainer and I'll push them up.

[2017-04-23 21:34] dimqua commented on #44
But I do not have OEM drivers installed.

Sorry, but how I can do that?

[2017-04-23 22:08] bcurran3 commented on #44
Login to Chocolatey.org, go to the package and then click "Manage Maintainers" on the left.  Add me as bcurran3.

What computer do you have (exact model number) and I'll help you look into the problem. But most likely you just need to uninstall your current drivers and then install the latest generic drivers.

[2017-04-23 22:12] dimqua commented on #44
Thanks.

Dell Latitude E6540, Windows 10 x64 LTSB.

[2017-04-24 01:21] bcurran3 commented on #44
New packages pushed.
I'm expecting them to fail the verifier since it won't have the hardware or OS support for them to install - an exemption will be needed.

[2017-04-24 01:24] bcurran3 commented on #44
You're E6540 has a 4th gen processor and Intel® Integrated HD Graphics 4600.
If you're 64bit, the Intel generic drivers don't support your system.
If you're 32bit, you'll have to check the "32-bit support is limited to particular SKU’s." as per Intel.

You can try going to Device Manager and removing your Intel driver under Display adapters, and then try installing but you should download the orig

[2017-04-24 01:54] mikecole commented on #112
Go ahead. I got busy with something else. Thanks!

On Sun, Apr 23, 2017 at 2:41 PM, bcurran3 <notifications@github.com> wrote:

[2017-04-24 02:24] bcurran3 commented on #44
FOLLOW-UP: Here's what you need to do (assuming it's compatible).
I knew I had the same problem as I've got Dell's OEM drivers installed on my XPS 8900 and had tried these before.
1> uninstall Intel driver from Device Manager and don't reboot
2> download the driver install program from Intel
3> Unzip the install program to a directory (it's a self-extracting/executing ZIP)
4> Locate the .INF file

[2017-04-24 03:45] AdmiringWorm commented on #124
@bcurran3 send an email using the `Contact Site Admins` link on the package page and we can get you added as a maintainer.

[2017-04-24 07:58] bcurran3 commented on #123
This is a widely used popular package. I could pick it up for the community's sake. I'll send a message to admins.

[2017-04-24 08:00] majkinetor commented on #123
It is currently being worked on Afaik

[2017-04-24 08:03] bcurran3 commented on #44
(This can be closed.)

[2017-04-24 08:11] bcurran3 commented on #109
This looks kind of cute, I want to check it out and might pick it up.
Ping me if you don't see me do in in a week or two at most.

[2017-04-24 08:12] rggjan commented on #109
Sure, thanks :)

[2017-04-24 08:15] bcurran3 commented on #109
(That was a fast response!)

I just checked it out. I like it. I'll do it.

[2017-04-24 08:19] bcurran3 commented on #110
I haven't looked at this program in a long time.
WOW! I like the RAM information it supplies, first I've seen outside of Speccy.
I'd be willing to help maintain it. How often is it updated?

[2017-04-24 08:50] bcurran3 commented on #109
Done!

Sorry it took so long! :)

https://chocolatey.org/packages/performance-monitor/4.1.3

This can be closed.

[2017-04-24 08:54] bcurran3 commented on #123
OK. I can have it done in a half hour or less. :)
If it doesn't pop up in a week or so, feel free to ping me.

[2017-04-24 08:55] bcurran3 commented on #124
e-mail sent

[2017-04-24 08:59] bcurran3 commented on #80
I'm familiar with this being used by pretty much all the USB boot disk installers under linux, but out of curiosity, how is it normally used in Windows or the command line?

[2017-04-24 09:06] #44 closed

[2017-04-24 09:19] AdmiringWorm commented on #109
nope, not until a the package have been approved.

[2017-04-24 09:52] bcurran3 commented on #112
This one is a real PITA.

I just pushed a version that will most likely fail (It might pass but leave a window/program open.). I just have to tweak closing that leftover window and it will be ready for prime time. Hopefully I can make it work!

[2017-04-24 10:14] AdmiringWorm commented on #123
As @majkinetor said, it's being worked on.
I think @The-Running-Dev is working on it with the purpose of migrating it to the [core team repo](https://github.com/chocolatey/chocolatey-coreteampackages), but not completely sure about that.
I don't know what the current status of his work either though.

[2017-04-24 10:21] majkinetor commented on #80
There is an decade old document [here](http://wiki.laptop.org/go/Using_QEMU_on_Windows) but sums up how it can be used today.

[2017-04-24 13:49] mikecole commented on #112
Good luck. I haven't done installs with AHK before, but I have with AutoIt,
so if you run into a roadblock I can try with that.

On Mon, Apr 24, 2017 at 4:52 AM, bcurran3 <notifications@github.com> wrote:

[2017-04-24 14:31] pauby commented on #112
@mikecole I've done a few AHK installs (and I helped with the mother of all AHK installs, Veracrypt :)). If you get stuck let me know.

[2017-04-24 19:53] bcurran3 commented on #124
New package pushed.

[2017-04-25 09:52] rggjan commented on #109
Cool, thanks!

Just tried to install it (while it was already installed and running) and this failed:

2017-04-25 11:48:16,093 [ERROR] - ERROR: Running ["C:\ProgramData\chocolatey\lib\performance-monitor\tools\PerfMon4x.exe" /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP- ] was not successful. Exit code was '5'. See log for possible error messages.

Just wanted to let you know. I suppose I should ju

[2017-04-25 09:57] AdmiringWorm commented on #109
@rggjan I'm just taking a guess here, but it could be that the installer supports the following.
try installing the package again (while you're running the perfmon4x.exe) but now with the following arguments `--ia '/CLOSEAPPLICATIONS /RESTARTAPPLICATIONS'`.
Somtimes the authors have added the necessary support to close and restart the program when those arguments are used. (actually it's baked int

[2017-04-25 10:44] bcurran3 commented on #109
Yeah, with a re-install it pops up a window asking about uninstalling. I didn't make that a factor in the package.

A clean install should work 100%.

[2017-04-25 20:25] katz opened #126 "RFM - Source Han Code JP"
The fonts are distributed from https://github.com/adobe-fonts/source-han-code-jp

Chocolatey package is subumitted as https://chocolatey.org/packages/source-han-code-jp , and waiting review.

[2017-04-25 20:27] katz opened #127 "RFM - Myrica"
The fonts are distributed from https://github.com/tomokuni/Myrica

Chocolatey package is subumitted as https://chocolatey.org/packages/myrica , and waiting review.

[2017-04-26 06:57] rggjan commented on #109
Yes, clean install worked fine :)

[2017-04-26 07:27] bcurran3 commented on #112
I did it and pushed it, but it does have a problem.

The program installs instantly without any switches and kicks back to command line, so it installs and passes verification fine. BUT it leaves the installer window open. AHK Spy shows the window title but no extra visible text. I've tried to catch the window and close it, but doesn't send the Alt-C to it.

Hmmmm, maybe a WinActivate command will

[2017-04-26 15:45] briandfoy opened #128 "RFM: Rakudo Star"
I'd like to maintain the Rakudo Star package, which hasn't been updated since 2014.

https://chocolatey.org/packages/rakudostar

[2017-04-27 13:08] pauby commented on #112
@mikecole I thought I had replied to his but there is nothing above :(

I've done a few installs with AHK (inlcuding helping on the infamous VeraCrypt) so can help out if you need it.

[2017-04-27 19:19] #124 closed

[2017-05-04 08:53] beneedict opened #129 "RFP - qmapshack"
Hi there,

qmapshack is an open source map based tour-planning software: https://bitbucket.org/maproom/qmapshack/wiki/Home
As it is updated quite frequently (and is very useful), could you maintain it as a package in your repository?

Thanks, Benedikt

[2017-05-04 09:50] dimqua commented on #129
https://chocolatey.org/packages/qmapshack

[2017-05-04 14:00] The-Running-Dev commented on #123
I am working on this, I should have it submitted in a day or two.

[2017-05-06 17:57] AdmiringWorm commented on #123
Just an update for this package now.
It's ready to be merged into the core team packages repo, only reason it hasn't yet is we're waiting for it to be removed from Robs repository first (as per the guidelines)

[2017-05-06 17:58] AdmiringWorm commented on #128
Closing this one, seems like you was added as the maintainer and the latest version was approved.

[2017-05-06 17:58] #128 closed

[2017-05-06 19:13] AdmiringWorm commented on #123
a new version of the paint.net package have just been pushed, keep an eye when it's done with the automated checks (most likely it will fail because of a dependency on .NET 4.6.1)

[2017-05-12 07:25] wigster commented on #123
Is it necessary for it to install .NET 4.6.1 is 4.6.2 or 4.7 are installed?

[2017-05-12 07:27] wigster opened #130 "RFM: FLAC"
It seems FLAC got updated to 1.3.2 but the maintainer for the package is not updating it. This updates extremely rarely, once every few years,, so most likely would be a near one-off if someone where to take it over.

http://downloads.xiph.org/releases/flac/

[2017-05-12 14:33] AdmiringWorm commented on #123
@wigster no it isn't necessary to install .NET 4.6.1 when .NET 4.6.1 (and I believe 4.7) is already installed, however there shouldn't be any harm in doing so either way.

[2017-05-12 14:34] AdmiringWorm commented on #123
BTW, completely forgot about this one, this package have been moved to the core team repo and have been updated (and approved). So I'm closing this now.

[2017-05-12 14:34] #123 closed

[2017-05-12 15:01] AdmiringWorm commented on #130
@wigster have you tried contacting the maintainer regarding updating the package?
You should always to that before opening a RFM.

[2017-05-12 15:55] jberezanski commented on #123
@wigster The .NET 4.6.1 package sees that a later .NET version is already installed and does not actually install anything.

[2017-05-12 16:41] wigster commented on #130
I have a few weeks ago and no response!

[2017-05-12 16:44] AdmiringWorm commented on #130
I see, just had to make sure.
I noticed it's a package maintained by @dtgm which is quite busy I believe.
Anyways, hopefully someone will pick this up soon.

[2017-05-12 18:22] Spunkie commented on #130
As long as @dtgm does not show up in the next day or so I'll put together a AU script and updated pkg this weekend.

[2017-05-13 21:01] Spunkie commented on #130
Alright I've got a new build ready, just waiting on one of the admins to add me as a maintainer now. :shipit:

[2017-05-15 06:11] kwill commented on #14
Due to licensing changes to the font, the font-packaging project won't be supporting further releases. See https://github.com/eosrei/emojione-color-font/issues/71

[2017-05-15 06:11] #14 closed

[2017-05-17 12:56] stefan-muc opened #131 "RFM - AtmelStudio"
About the software:

It's quite common IDE for developing software for Atmel microcontrollers

Download links for older versions:
https://www.mikrocontroller.net/articles/Atmel_Studio#Direktlinks_Installer
Current version:
http://www.microchip.com/development-tools/atmel-studio-7#Tabs

[2017-05-18 16:08] AdmiringWorm commented on #130
Updated package was just approved.

Closing this...

[2017-05-18 16:08] #130 closed

[2017-05-18 16:09] AdmiringWorm commented on #129
@dimqua you're qmapshack package is failing the automated tests.

[2017-05-18 16:11] AdmiringWorm commented on #127
@katz you've still not fixed the requested changes for this package, if they're not fixed within the next 14 days the package will be automatically rejected.

[2017-05-18 16:12] AdmiringWorm commented on #126
@katz you've still not fixed the requested changes for this package, if they're not fixed within the next 14 days the package will be automatically rejected.

[2017-05-18 16:15] AdmiringWorm commented on #125
@kromkrom I'm guessing it's this package you're looking for:
https://chocolatey.org/packages/mp3directcut

I would try contacting the maintainer of that package to submit a new version (the previous version was unlisted because it downloaded from fosshub)

[2017-05-18 16:23] AdmiringWorm commented on #117
Looks like this package is still being maintained (last updated on March 17th).
Closing this for now.

[2017-05-18 16:23] #117 closed

[2017-05-18 16:58] AdmiringWorm commented on #114
I would like to pick up this package.

[2017-05-18 17:59] dimqua commented on #129
Yes, since I can't make it silent.

[2017-05-18 18:01] AdmiringWorm commented on #129
I see, in that case you should probably consider looking into autohotkey to automate the parts that isn't silent.
Btw, when a package is failing you need to comment in the review comments list, otherwise mods/reviewers won't see the package and will eventually be automatically rejected instead.

[2017-05-18 19:02] dimqua commented on #129
Thanks for the info.

Where is it? :-)

[2017-05-18 19:07] AdmiringWorm commented on #129
When you log in on chocolatey.org, then go to your submitted package, you'll see a section called `Review Comments` (I call this the review comments list, although not entirely correct), below that section is a comment box you can use when a message is needed for the moderations/reviewers.

![image](https://cloud.githubusercontent.com/assets/1474648/26219142/f339d476-3c0d-11e7-955e-287f4bf369b0.pn

[2017-05-20 19:38] Spunkie commented on #110
@07416 Is this issue good to close? It seems the most recent version is up on chocolatey.org.

[2017-05-21 17:28] 07416 commented on #110
@Spunkie Appears to work.

[2017-05-21 17:28] #110 closed

[2017-05-23 23:32] bcurran3 commented on #112
This request should be closed.
(https://chocolatey.org/packages/onenote)

[2017-05-24 01:17] yongks85 commented on #112
Thank you all for the support!

[2017-05-24 01:17] #112 closed

[2017-05-24 02:00] bcurran3 commented on #109
This package was approved by moderator AdmiringWorm on 4/27/2017.

This was approved almost a month ago and should be closed.

[2017-05-24 02:11] bcurran3 commented on #109
package updated to handle upgrades

https://chocolatey.org/packages/performance-monitor/4.1.3.20170523

[2017-05-24 02:15] bcurran3 commented on #108
Resilio is the newish name for BTSync (https://chocolatey.org/packages/btsync/)

I would be willing to pick this one up.

Request sent via admin link on btsync (should be deprecated and pointed to this new package)

[2017-05-24 02:17] bcurran3 commented on #98
vmiheer has been patiently waiting for 3 months.

This looks easy, I'll do it.

[2017-05-24 02:22] bcurran3 commented on #98
So much for easy. I thought I could knock it out in under 5 minutes (was going to time myself!). Looks like it needs an AHK script. I'll still commit to doing it. Expect it within a day or two.

[2017-05-24 02:42] bcurran3 commented on #98
Done.
https://chocolatey.org/packages/wordweb-free
Is 20 minutes of my time worth a beer? :)

[2017-05-24 02:44] bcurran3 commented on #93
If I could EVER find a damn public Jabber server that works, I'd consider it!

[2017-05-24 02:46] bcurran3 commented on #80
@dimqua - how/what do you intend to use this if packaged? I'm still looking for a reasonable incentive.

[2017-05-24 09:23] bcurran3 commented on #79
What the hell...

Chocolatey public repository needs more games.

Done.

https://chocolatey.org/packages/urban-terror

[2017-05-24 10:29] bcurran3 commented on #108
Home version up, business version to come in a day or so.

https://chocolatey.org/packages/resilio-sync-home

[2017-05-24 11:11] #109 closed

[2017-05-24 16:00] rggjan commented on #108
Awesome, thanks!

[2017-05-26 20:16] AdmiringWorm commented on #114
Forgot about closing this, the latest package have been approved [v3.6](https://chocolatey.org/packages/monogame/3.6)

[2017-05-26 20:16] #114 closed

[2017-05-26 20:52] AdmiringWorm commented on #106
I'm looking into creating an updated package for this one, just now requested to be added as a maintainer to the package. I'll try pushing an updated version sometime during this weekend.

[2017-05-26 22:23] AdmiringWorm commented on #50
Looks like the latest version was approved a month ago (after the last comment on this issue), as such I'm closing this now.

[2017-05-26 22:23] #50 closed

[2017-05-26 22:24] AdmiringWorm commented on #63
Seems like this one is still being maintained, as such closing this for now.

[2017-05-26 22:25] AdmiringWorm commented on #63
nvm, missed the year it was submitted. Re-Opening.

[2017-05-26 23:26] photodude opened #132 "RFM - apache-httpd"
[As per comment](https://github.com/rgra/choco-packages/pull/13#issuecomment-290971610) maintainers are needed to help with apache-httpd update.

Help would be appreciated to [get an update out](https://github.com/rgra/choco-packages/pull/13) pending possible move to the core team repo https://github.com/chocolatey/chocolatey-coreteampackages/issues/728

[2017-05-26 23:41] AdmiringWorm commented on #132
For any would-be maintainers of this package, if you wish to add it to the core team packages repo.
Then please follow our [Contributing Guidelines](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md) (we're pretty strict on them, a little too much sometimes perhaps).

For anyone that wishes to pick up this package and move it to the core team repo, feel free to

[2017-05-27 01:10] dimqua commented on #129
@AdmiringWorm Can I tell chocolatey to skip of installation of vcredist2013 (by qmapshack's installer) if already installed?

[2017-05-27 01:20] AdmiringWorm commented on #129
@dimqua no unfortunately not (well not as far as I know anyhow).
However depending on how the package is put together, they may have some logic to skip it anyhow.
Or if correctly using the softwareName and the user have Pro+ version it may also be skipped if it's already installed.

[2017-05-27 07:35] majkinetor commented on #132
Which is the reason we maintain almost 200 packages without a problem - they are of exceptional quality.

Anyway, I agree, this package belongs to coreteam repo. We can help you to make it by the mentioned standards in gitter chat.

[2017-05-30 03:41] bcurran3 commented on #108
https://chocolatey.org/packages/resilio-sync-business/

is up now

Home is already approved and live.

This issue can be closed.

[2017-05-30 03:42] bcurran3 commented on #108
@rggjan - if you keep me abreast of updates, I'll push the new versions fast.

[2017-05-30 13:32] dimqua commented on #93
@bcurran3 take a look at this list: https://gist.github.com/dllud/a46d4a555e31dfeff6ad41dcf20729ac

[2017-05-31 07:42] rggjan commented on #108
Great, thank you!

[2017-06-07 02:37] ferventcoder opened #133 "RFM - Kodi"
https://chocolatey.org/packages/kodi/17.1

Been a few months since this has been updated and now we've received requests for updates.

[2017-06-07 05:55] Thilas commented on #133
I can update that one. I have already contacted site admins.

[2017-06-07 10:15] 07416 opened #134 "RFM - Borderless Gaming"
https://chocolatey.org/packages/borderlessgaming

The developer has [removed compiled builds from Github](https://github.com/Codeusa/Borderless-Gaming/releases):

http://store.steampowered.com/app/388080/Borderless_Gaming/

Is it allowed to distribute compiled packages? The program is licensed under GNU General Public License v2.0. Sadly [he has issued DCMA takedown requests to forks](https://gith

[2017-06-07 18:12] photodude commented on #132
closing via https://github.com/chocolatey/chocolatey-coreteampackages/pull/747

[2017-06-07 18:12] #132 closed

[2017-06-07 23:23] Thilas commented on #133
New version just pushed. Waiting for validation...

[2017-06-08 12:02] 07416 commented on #134
Compiled builds are now restored: https://github.com/Codeusa/Borderless-Gaming/issues/312#issuecomment-306796665

[2017-06-08 12:02] #134 closed

[2017-06-09 08:45] vmiheer opened #135 "RFP - vs2017remotetools"
@2xmax, There is already package vs2015remotetools. This is a request to also add vs2017remotetools package.
As always thanks a bunch for awesome work :).

[2017-06-09 08:50] vmiheer commented on #98
Confirmed I can now install wordweb 👍 . Closing. @bcurran3, definitely (we will catch up sometime).

[2017-06-09 08:50] #98 closed

[2017-06-09 08:58] bcurran3 commented on #108
This should be marked closed.

[2017-06-09 15:14] #108 closed

[2017-06-09 16:53] jberezanski commented on #135
I can take this, since I maintain all other VS 2017 packages. I'd rather call it "visualstudio2017-remotetools", though (for readability and consistency with other visualstudio2017-* packages).

[2017-06-09 17:41] AdmiringWorm commented on #135
@jberezanski since you would be the maintainer, it would be up to you how to name the package IMO.

[2017-06-09 18:51] AdmiringWorm commented on #106
an updated version of Coq was just pushed now, and is currently going through moderation.
/cc @chantisnake

[2017-06-09 18:59] AdmiringWorm commented on #125
@kromkrom heard anything back from the maintainer?

[2017-06-09 19:10] #79 closed

[2017-06-09 19:12] AdmiringWorm commented on #57
Since the package was updated May 26th, I believe this is ready to be closed.

[2017-06-09 19:12] #57 closed

[2017-06-10 00:52] 2xmax commented on #135
Hi, @jberezanski. I have another idea to discuss. What if we create a common package for vs remote tools of all versions? Here is the way I see it:
[code]
What do you think of all this?

[2017-06-10 08:53] chantisnake commented on #106
Thank you so much!

[2017-06-10 17:41] jberezanski commented on #135
Both releases of remote tools install independently of each other, so each should be in its own package. But it might be a good idea to create a meta package which will always point (via dependency) to the package for the latest remote tools release.

[2017-06-11 04:13] AdmiringWorm commented on #135
I agree with @jberezanski on this one, although it may seem counter-intuitive, it actually makes sense to separate the 2015 and 2017 version, as they could be considered different installers (I haven't looked at the software, so not entirely sure),
Of course, if the installers for both 2015 and 2017 is the same, a singular package should be used instead though. (If the previous statement is true,

[2017-06-11 20:59] jberezanski commented on #135
https://chocolatey.org/packages/visualstudio2017-remotetools/15.0.26430.2

[2017-06-16 16:58] kromkrom commented on #125
@AdmiringWorm I've misread your message and thought you're to contact the maintainer. No I've contacted him/her and waiting for response

[2017-06-18 14:27] Thilas commented on #133
Package has just been approved. RFM can now be closed.

[2017-06-18 17:25] #133 closed

[2017-06-18 17:25] ferventcoder commented on #133
Thanks for following up.

[2017-06-18 17:26] ferventcoder commented on #133
And thanks for maintaining this package!

[2017-06-18 20:13] AdmiringWorm commented on #135
Package was approved earlier today.

[2017-06-18 20:13] #135 closed

[2017-06-18 20:14] AdmiringWorm commented on #129
Package have already been approved, closing this one.

[2017-06-18 20:14] #129 closed

[2017-06-19 21:31] jberezanski commented on #135
I've also packaged the Performance Tools: visualstudio2017-performancetools 15.0.26430.2

[2017-06-19 22:21] Thilas commented on #81
I'll take this one.

[2017-06-19 22:39] Thilas commented on #81
Package pushed. Waiting for approval.

[2017-06-19 22:43] Thilas commented on #90
I can maintain this package. It is still outdated despite an answer from @dtgm 4 months ago.

[2017-06-20 18:30] dimqua opened #136 "RFP - Immunet AntiVirus"
Immunet® is a malware and antivirus protection system that utilizes cloud computing to provide enhanced community-based security.

https://download.immunet.com/binaries/immunet/bin/ImmunetSetup.exe

[2017-06-20 19:07] majkinetor commented on #125
This is great tool ? Does license allows to be embedded ?

[2017-06-21 02:23] AdmiringWorm commented on #125
@majkinetor nope, there is no public license hosted anywhere for this software, so It can't be embedded.

Anyways, an updated version of mp3DirectCut was recently submitted and approved today.
So, closing this one now.

[2017-06-21 02:23] #125 closed

[2017-06-21 05:45] Thilas commented on #81
Package has been approved.

[2017-06-21 14:26] #81 closed

[2017-06-21 14:27] AdmiringWorm commented on #106
The package have now been approved, and is available for normal download.

[2017-06-21 14:27] #106 closed

[2017-06-21 20:35] ferventcoder opened #137 "RFM - Nagstamon"
https://chocolatey.org/packages/Nagstamon/1.0.1.0

[2017-06-21 22:36] ferventcoder opened #138 "RFM - Eclipse"
https://chocolatey.org/packages/eclipse/4.5.1

[2017-06-21 23:03] ferventcoder opened #139 "RFM - MediathekView"
https://chocolatey.org/packages/MediathekView/12.0.0.0

[2017-06-21 23:15] ferventcoder opened #140 "RFM - LINE"
https://chocolatey.org/packages/line/3.8.0.1350

[2017-06-23 18:14] AdmiringWorm commented on #92
This package actually exist:
https://chocolatey.org/packages/neovim

As such I'm closing this issue

[2017-06-23 18:14] #92 closed

[2017-06-23 18:16] AdmiringWorm commented on #86
@dimqua I noticed the package you submitted was rejected in april, any chance for you to update?
Otherwise I'm thinking this should be changed to an RFM instead of a RFP

[2017-06-23 18:18] AdmiringWorm commented on #82
@dimqua I noticed this package was rejected back in april, any chance you can update it?
Otherwise I think changing this from a RFP to RFM would be appropriate.

[2017-06-23 18:19] AdmiringWorm commented on #80
There exists an old rejected package of this software, as such because of it age and there is only one version I'm changing this one to a RFM.

https://chocolatey.org/packages/qemu/

[2017-06-23 20:15] dimqua commented on #86
No, until version >= 1.0 will be publish. Existing Windows builds are outdated.

[2017-06-23 20:18] dimqua commented on #82
Sorry, no.

[2017-06-23 20:19] AdmiringWorm commented on #82
Well, that's fine. Just wanted to make sure were we stand with this package.

[2017-06-23 20:20] AdmiringWorm commented on #86
I see, in that case I don't see any problems with keeping the title as is.
Especially if the latest builds will always be outdated.

[2017-06-24 10:51] bhaible opened #141 "RFP - libffcall"
Hi,

GNU libffcall (previously called 'ffcall') is a dependency of GNU clisp.

GNU libffcall 1.13 is released. You find the download link at the homepage
https://www.gnu.org/software/libffcall/

New in 1.13:

* The license has been changed from GPLv2 to GPLv2+.

* Added support for the following platforms:
  (Previously, a build on these platforms failed.)
  - x86_64: Mac OS X 64-bit.
  - x86_64:

[2017-06-25 08:05] Thilas commented on #90
New version has been successfully published. RFM can be closed.

[2017-06-25 10:25] #90 closed

[2017-06-25 10:35] Thilas commented on #138
I can take this one.

[2017-06-27 00:20] dimqua opened #142 "RFM - ONLYOFFICE"
https://chocolatey.org/packages/onlyoffice

[2017-07-04 18:35] ferventcoder opened #143 "RFM - discord"
https://chocolatey.org/packages/discord/0.0.283

[2017-07-07 17:12] AdmiringWorm commented on #142
@dimqua just following up on this, I'm taking it that you wish to stop maintaining this package yourself and have someone else maintain the package?

[2017-07-07 18:14] dimqua commented on #142
Yes.

[2017-07-07 18:15] AdmiringWorm commented on #142
Thanks, just wanted to be sure before we changed the labeling.

[2017-07-08 12:35] p3lim commented on #143
I'll take this one, although there is a competing package.

[2017-07-08 19:01] AdmiringWorm commented on #143
@p3lim if you haven't already, please use the `Contact Site Admins` on the package page and request to be added as a co-maintainer for this package.
Don't forget to link to this issue though.

Thanks

[2017-07-10 11:57] AdmiringWorm opened #144 "RFM - rukerneltool"
The maintainers from the [rukerneltoo packagel](https://chocolatey.org/packages/rukerneltool) recently decided to stop maintaining this package and is requesting a new maintainer for it.

The source of the package is available [here](https://github.com/chocolatey/chocolatey-coreteampackages/tree/48432b87549778f930b9f0012c61d112237525c6/automatic/rukerneltool).

[2017-07-10 11:59] AdmiringWorm opened #145 "RFM - PandaFreeAntivirus"
The maintainers from the [PandaFreeAntivirus](https://chocolatey.org/packages/PandaFreeAntivirus) recently decided to stop maintaining this package and is requesting a new maintainer for it.

The source of the package is available [here](https://github.com/chocolatey/chocolatey-coreteampackages/tree/a1202463831ee4198950c04c9fac4cdf0816c46e/automatic/pandafreeantivirus).

[2017-07-12 14:50] zero77 opened #146 "RFP - Malwarebytes Anti Exploit"
Shields vulnerable systems and software like most web browsers, Jave, flash, Silverlight and much more from exploit attacks.

https://forums.malwarebytes.com/topic/184939-mbae-109-latest-standalone-beta

Thanks

[2017-07-12 14:53] zero77 opened #147 "RFP - Malwarebytes Anti-Ransomware"
Stops ransomware attacks before your data is held hostage.

https://forums.malwarebytes.com/topic/177751-introducing-malwarebytes-anti-ransomware-beta/

Thanks

[2017-07-12 14:58] zero77 opened #148 "RFP - DuckieTV"
DuckieTV is an application that takes care of TV-Show addicts by providing a personalized TV-Show calendar. DuckieTV makes sure the information is always up-to-date and gives you an integrated blocking-resistant torrent search to help you get to the right download as easy as possible.

It supports Windows, Linux, OSX and others.

Nightly  Download
https://github.com/DuckieTV/Nightlies/releases

Th

[2017-07-12 17:01] TakataSanshiro commented on #143
Has @p3lim submitted the latest discord package?

I have sent a message to Contact Site Admins from discord package page 8 days ago.

If he didn't submit one, I'd like to become a new maintainer of this package.

[2017-07-12 17:05] p3lim commented on #143
I submitted a message, haven't gotten an answer yet.

[2017-07-12 17:32] TakataSanshiro commented on #147
I guess "Malwarebytes Anti-Exploit #146" and "Malwarebytes Anti-Ransomware #147" are combined into a single product which Malwarebytes.

https://blog.malwarebytes.com/malwarebytes-news/2016/12/announcing-malwarebytes-3-0-a-next-generation-antivirus-replacement/

https://chocolatey.org/packages/malwarebytes

[2017-07-12 17:45] TakataSanshiro commented on #140
I'd like to become a new maintainer of this package.

[2017-07-12 17:49] TakataSanshiro commented on #115
I'd like to become a new maintainer of this package.

[2017-07-12 17:50] TakataSanshiro commented on #105
I'd like to become a new maintainer of this package.
https://chocolatey.org/packages/Emacs

[2017-07-12 17:51] zero77 commented on #147
Yes but, as far as I am aware they are only trial versions and to get the full version you must pay.

[2017-07-12 18:07] TakataSanshiro commented on #147
Understood.

[2017-07-12 18:28] dragon788 commented on #115
@TakataSanshiro what is your Chocolatey.org username? Did you also submit a request to become maintainer via the "Contact Site Admins" on Chocolatey.org?

[2017-07-12 18:37] TakataSanshiro commented on #115
@dragon788 My Chocolatey.org username is "Sanshiro".
No, I didn't, but I have sent a message via the "Contact Site Admins" for other packages(discord, sigil, pinta, processing... etc) 7 days ago, haven't gotten an answer yet.

[2017-07-12 19:20] dragon788 commented on #115
The moderation queue and the site admins list has a lot of activity so it can take a while for a response depending on how busy the volunteers monitoring them are at their day jobs.

If you can send a message over for this package (paper trail) I'll ping somebody and see if we can look at those others as well. One thing to note is that this package name should be deprecated (per the most recent mo

[2017-07-15 17:38] Thilas commented on #138
Package has been pushed. Waiting for approval.

[2017-07-17 12:49] Thilas commented on #138
4.7 has been approved. RFM can be closed.

[2017-07-17 13:07] #138 closed

[2017-07-18 16:18] SpencerOs opened #149 "RFP - MAMP"
About the software:

MAMP; Apache/MySQL/PHP testing environment. It rocks, and it's for Windows.

Current version can be found at:
https://www.mamp.info/en/downloads/

[2017-07-20 22:43] 07416 commented on #103
@Link-Satonaka [Your package](https://chocolatey.org/packages/nvidia-display-driver) looks great, but can it be safely installed over existing driver installation?

[2017-07-20 22:47] aronovgj commented on #103
Why wouldn't it?

[2017-07-21 04:28] Link-Satonaka commented on #103
@07416 The entire point is that it won't install nvidia's bloatware- you'll need to uninstall all that before installing the clean driver.

Fun fact, I discovered that Windows Update will just inherently give you the vanilla display driver. It's a few versions behind current, but honestly that's not really a big deal. Uninstalling all nvidia drivers and letting Windows Update take care of it is pe

[2017-07-25 07:22] domaemark opened #150 "RFP - TheSage English Dictionary and Thesaurus"
Description: Free  English dictionary and thesaurus
Download: http://www.sequencepublishing.com/1/thesage.html

[2017-07-25 08:32] 07416 commented on #103
I only have the core packages installed - I only asked to confirm.

[2017-07-25 16:01] TakataSanshiro commented on #107
I've submitted this one. Waiting for approval.

https://chocolatey.org/packages/xnconvert/1.74
https://chocolatey.org/packages/xnconvert.install/1.74
https://chocolatey.org/packages/xnconvert.portable/1.74

[2017-07-26 09:26] rggjan commented on #107
Awesome, thanks!

[2017-07-26 18:12] 07416 commented on #83
https://github.com/chocolatey/chocolatey-package-requests/issues/40

[2017-07-28 06:00] bcurran3 commented on #149
At a cursory glance, MAMP appears to be a great compilation of programs and implementation.

I might pick this up soon if no one else is interested.

[2017-07-28 06:04] bcurran3 opened #151 "RFP - Kaspersky Free"
I don't have a use for it, but it seems it would be a good program to have available for the community.

https://usa.kaspersky.com/free-antivirus

[2017-07-28 14:41] AdmiringWorm commented on #151
For users not being able to use the mentioned url, please try the following instead:
https://www.kaspersky.com/free-antivirus

[2017-07-28 19:26] TakataSanshiro commented on #149
Actually, I created this one, but the ahk script doesn't work while installing.
https://github.com/TakataSanshiro/Chocolatey-Packages/tree/master/mamp

I'm AutoHotkey beginner.
The encoding of the mampInstall.ahk is UTF-8(without BOM).
I downloaded the autohotkey.portable.nupkg in the same directory when tried installing mamp.nupkg.

@bcurran3
Why doesn't  this ahk script work?

[2017-07-28 20:04] bcurran3 commented on #149
@TakataSanshiro I just looked at it and it looks good via a quick glance.

I'll download and try it to see what's going on. Probably sometime tonight.

[2017-07-28 22:56] dimqua opened #152 "RFP - nheko"
[nheko](https://github.com/mujx/nheko) - desktop client for the Matrix protocol. The motivation behind the project is to provide a native desktop app for Matrix that feels more like a mainstream chat app (Riot, Telegram, etc.) and less like an IRC client.

Downloads: https://ci.appveyor.com/project/mujx/nheko/branch/master/artifacts

![](https://camo.githubusercontent.com/cc751517a9ec697478d9b2830

[2017-07-28 23:44] dimqua commented on #93
https://chocolatey.org/packages/psi-plus

[2017-07-28 23:47] dimqua opened #153 "RFP - Riot"
Riot (formerly known as Vector) is a Matrix web client built using the Matrix React SDK.

https://riot.im/desktop.html

[2017-07-28 23:48] dimqua opened #154 "RFM - QOwnNotes"
https://chocolatey.org/packages/qownnotes

I don't want to maintain it anymore, current users can use build-in auto-updater to update this package, since new versions comes almost every day.

[2017-07-29 01:58] bcurran3 commented on #149
@TakataSanshiro

`WinWaitActive, Setup - MAMP & MAMP PRO , , 90`

See the 90? I'm betting you think it's going to wait 90 seconds. Uh uh. The number is milliseconds. The script is aborting long before the file finishes downloading. Try 90000 and I bet you'll have success.

[2017-07-29 10:33] bcurran3 commented on #149
I think I padded an extra 0, 9000 should do.

[2017-07-29 12:47] AdmiringWorm commented on #153
@dimqua is this the package you was looking for?
https://chocolatey.org/packages/riot-web

[2017-07-29 18:12] TakataSanshiro commented on #149
@bcurran3 Thanks, you are awesome, my ahk script works correctly😊
Though I've no idea about padding commands.
I've submitted one and passed automated testing.
https://chocolatey.org/packages/mamp/3.3.1

[2017-07-29 18:19] TakataSanshiro commented on #107
XnConvert has been approved. This issue can be closed.

[2017-07-29 18:42] #107 closed

[2017-07-30 13:21] dimqua commented on #153
Yes.

[2017-07-30 13:21] #153 closed

[2017-07-30 18:42] TakataSanshiro commented on #115
@dragon788 Could you contact to the admins?
Though I've sent messages to the following packages admins via the "Contact Site Admins" on Chocolatey.org 3 weeks ago, I received a message only Hain package from ferventcoder.
Hain, Sigil, discord, Pinta, Processing, seer, yasm, lightshot, GoogleJapaneseInput, freemind, ghost, Monosnap, Atom, poedit, divvy, origin, MakeHuman, sugarsync, Pycharm, Emacs.

[2017-07-30 18:45] TakataSanshiro commented on #115
I've messaged about this on gitter, but haven't gotten an answer yet.

[2017-07-31 17:38] ferventcoder commented on #115
Hi @TakataSanshiro - do keep in mind you sent messages about more than five packages to the admins. It's good that you want to help out, but all messages coming through at the same time begs the question if you started by reaching out to the maintainers first to co-maintain packages with them prior to reaching out to the admins.

Bringing on new maintainers is slower, as admins will also reach out

[2017-07-31 21:33] quraishi opened #155 "RFP: Snapgene Viewer"
Molecular biology software
http://www.snapgene.com/products/snapgene_viewer/

[2017-08-01 05:06] jtcmedia commented on #111
I've looked into this and I don't think this can be made into a package. When clicking on the installer, it asks you for which game and which DirectX API to install into the Game's folder. There's no way to automate this. You do have the option for a manual install but all that does it put the DLL's into the same folder as the installer. They need to be put in the same folder as the game.

[2017-08-01 14:55] AdmiringWorm commented on #155
For any would be maintainers, the installer found on that page looks like it have been created using `NSIS`.

[2017-08-01 23:54] JourneyOver commented on #150
Have taken this up https://chocolatey.org/packages/tsedat/ just waiting on approval.

[2017-08-02 13:29] JourneyOver commented on #96
I have packaged/uploaded this https://chocolatey.org/packages/swift.im

[2017-08-02 15:31] AdmiringWorm commented on #127
As nothing have happened to the submitted package, and no reply have been given here on github.
This request is changed to a RFM, and opened to be picked up by someone else.

[2017-08-02 15:32] AdmiringWorm commented on #126
As nothing have happened to the submitted package, and no reply have been given here on github.
This request is changed to a RFM, and opened to be picked up by someone else.

[2017-08-03 08:05] 07416 commented on #111
@jtcmedia Of course the installation process should still be manual, the users only get the Reshade setup file. Reshade is used on per-game basis.

[2017-08-03 14:27] AdmiringWorm commented on #111
@07416 in that case, a package for this would be better as a private package hosted on a private repository instead of on the community repository, IMO.

[2017-08-07 19:01] #93 closed

[2017-08-14 18:42] dimqua opened #156 "RFM - DNSCrypt Proxy"
https://chocolatey.org/packages/dnscrypt-proxy

I don't want to maintain it anymore.

[2017-08-15 10:03] dimqua commented on #152
https://chocolatey.org/packages/nheko

[2017-08-15 10:03] #152 closed

[2017-08-15 10:07] dimqua commented on #44
@bcurran3 can you please remove me from maintainers list of this package? I can't do it. :-)

[2017-08-15 12:21] bcurran3 commented on #44
@dimqua - you shouldn't discount yourself so fast. It's easy to paste in a new checksum. :)

Done by your request.

[2017-08-15 17:53] BostiSlak opened #157 "RFP - AxCrypt"
On recommendation from Google groups:

Hi!

Let me first say, that Chocolatey is one of the best apps ever made. I use it personally and also recommend to all my friends and family. I only would like to have some more programs added to the pages. I would love to have:

AxCrypt: http://www.axantum.com/AxCrypt/

Unfortunately I don not have enough knowledge to made them myself.

Thanks for anything,

[2017-08-16 21:46] JourneyOver commented on #157
I'll look into them, give me a day or two and I should have them both up.

[2017-08-17 14:12] zero77 commented on #148
If I create an automatic package can I submit a pull requests to:
github.com/chocolatey/chocolatey-coreteampackages

[2017-08-17 15:55] AdmiringWorm commented on #148
@zero77 you could, I can't guarantee it will be accepted though. Especially since the program doesn't have any stable release.

[2017-08-17 15:56] AdmiringWorm commented on #157
@BostiSlak can you open a separate issue for the BSPlayer, I'm changing this one to only be for the AxCrypt program.

[2017-08-17 16:00] zero77 commented on #148
They have both stable and nightly developer release, what are the requirements for submit a pull requests to chocolatey-coreteampackages.

[2017-08-17 16:06] AdmiringWorm commented on #148
@zero77 I noticed that now, didn't notice at first that they provided stable releases at a different repo.

Mostly that the package conforms to the guidelines of the repository: https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md (it's a lengthy read)

[2017-08-17 16:07] zero77 commented on #148
Ok, thanks I will have a look at this.

[2017-08-17 16:16] BostiSlak opened #158 "RFP - BS Player"
On recommendation from Google groups and admins here, I'm reposting the request:

Hi!

Let me first say, that Chocolatey is one of the best apps ever made. I use it personally and also recommend to all my friends and family. I only would like to have some more programs added to the pages. I would love to have:

BSPlayer: http://bsplayer.com/

Thanks for anything,

[2017-08-17 19:40] JourneyOver commented on #158
As mentioned in issue #157 I will work on getting a package for this up today.

[2017-08-18 00:41] JourneyOver commented on #158
@AdmiringWorm please put this back to "Status: Available For Maintainer(s)" as I am giving up on this project myself, been working on this all day and getting really no where on it. So this is up for someone else to take over on.

[2017-08-19 13:11] JourneyOver commented on #96
Package has been approved.

[2017-08-19 13:11] JourneyOver commented on #150
Package has been approved.

[2017-08-19 14:07] #96 closed

[2017-08-20 03:16] JourneyOver commented on #158
has been packaged and pushed on up https://chocolatey.org/packages/bsplayer/

Uninstaller is a little weird as the auto uninstaller tries to uninstall the package as well, so there ends up being a silent uninstall and then a non-silent one (if you answer yes on the auto uninstall) if you answer no on the auto uninstaller then it will only do the silent one. Doesn't seem to matter if yes or no is c

[2017-08-21 16:49] Ian2020 opened #159 "RFM - AstroGrep"
Due to work commitments and no longer using Windows I would like to handover maintenance of this package to someone better able to maintain it.

I will make the source code available on GitHub and include a link here.

[2017-08-21 23:47] pqm opened #160 "RFP - Logisim Evolution"
Homepage: https://github.com/reds-heig/logisim-evolution
Description: Educational tool for designing and simulating digital logic circuits

[2017-08-24 16:58] PaulWalkerUK commented on #159
I've now been added as a maintainer and have been given access to the source code.

[2017-08-27 11:23] JourneyOver commented on #157
Package has been approved.

[2017-08-27 11:23] JourneyOver commented on #158
Package has been approved

[2017-08-27 14:43] #157 closed

[2017-08-27 14:43] #158 closed

[2017-08-27 14:44] #149 closed

[2017-08-27 14:45] #150 closed

[2017-08-29 19:13] rjt opened #161 "RFP - ZeNmap"
[ZeNmap](https://nmap.org/zenmap/) is a GUI for [nmap](https://chocolatey.org/packages/nmap)
https://nmap.org/zenmap/

Makes learning and relearning the command line nmap much easier because the GUI provides the command line equivalent.

[2017-08-31 05:02] jimmyvanau opened #162 "RFP - Authy"
Authy generates one-time passwords for use with sites and apps that offer support for two step verification/two factor authentication (2FA).

[Authy for Windows (beta)](https://authy.com/download/) can be downloaded from [https://authy.com/download/](https://authy.com/download/)

[2017-08-31 07:38] brcolow opened #163 "RFP - Java Development Kit 9 (Early Access)"
Oracle provides [early access](http://jdk.java.net/9/) downloads for Java 9.

I would assume this would be almost identical to the (verified) [Chocolatey Java 8 package](https://chocolatey.org/packages/jdk8).

I am not sure about the policy regarding "beta" software or if there is any other reason a Java 9 package hasn't been created yet. In case the reason is simply because no one has done it yet

[2017-08-31 17:53] ferventcoder opened #164 "RFM - SABnzbd"
https://chocolatey.org/packages/SABnzbd/0.7.20

[2017-08-31 19:28] zero77 commented on #156
Why don’t you move the Install.ps1 and update.ps1 to
github.com/chocolatey/chocolatey-coreteampackages

[2017-09-02 16:42] zero77 opened #165 "RFM - VlC nightly"
It is the nightly developer/beta version of vlc player, it get the latest changes and new features be fore vlc media player does.

https://nightlies.videolan.org/

[2017-09-02 17:22] remisharrock opened #166 "RFP - Molotov"
Please, someone may add the package Molotov ? For watching TV , it's a great app in France!

https://www.molotov.tv

download page : https://www.molotov.tv/download

Thank you !

[2017-09-02 18:54] 07416 commented on #111
@AdmiringWorm You have seemingly misunderstood. To be exact, ReShade doesn't require installation. ReShade is configured on per-program-basis for post-processing injection. The program is fully functional after downloading "ReShade_Setup_*.exe" file.

[2017-09-02 19:20] Thilas commented on #164
I can take this one. Sending a message to site admins right now.

[2017-09-02 23:20] AdmiringWorm commented on #111
@07416 ah, I see. My bad

[2017-09-04 11:11] AdmiringWorm commented on #165
@zero77 based on what you wrote, you seem to request a package for this (which exists: https://chocolatey.org/packages/vlc-nightly), but according to the title a new maintainer is requested, in that case have you gone through the [triage process](https://chocolatey.org/docs/package-triage-process#the-triage-process) first?

[2017-09-04 13:32] Thilas commented on #164
I just became maintainer on this. I should be able to push something soon.

[2017-09-04 16:37] AdmiringWorm commented on #162
I've started looking into creating a package for this program now, no ETA on it just yet though.

[2017-09-04 19:50] AdmiringWorm commented on #162
The authy package for the desktop application have been submitted: https://chocolatey.org/packages/authy-desktop/1.0.13

As a bonus, the google chrome extension for authy have also been submitted (this is one I've had plans to submit for quite some time):
https://chocolatey.org/packages/googlechrome-authy/2.3.0

/cc @jimmy-van

[2017-09-05 22:13] jongalloway opened #168 "RFP - plane9"
Installer: http://s3.plane9.com/releases/Plane9-2.5.1.3.exe

[2017-09-06 15:49] zero77 commented on #165
Thanks, I will have a look.

[2017-09-06 15:49] zero77 commented on #165
Thanks, I will have a look.

[2017-09-06 22:46] Thilas commented on #164
New package just pushed. Waiting for approval.

[2017-09-07 14:31] Ian2020 commented on #159
Thanks very much Paul, appreciate it.

[2017-09-07 20:14] AdmiringWorm commented on #159
@Ian2020 please don't close issues until a new version pushed by the new maintainer have been approved by the chocolatey moderators.

[2017-09-08 08:05] Ian2020 commented on #159
Apologies, wasn't aware of that - makes sense.

[2017-09-08 10:26] zero77 opened #169 "SUMo"
The sumo package is out of date by quite a few versions.
I have contacted the maintainer see:
https://www.github.com/dtgm/chocolatey-packages/issues/330

chocolatey.org/packages/sumo

[2017-09-09 09:32] Thilas commented on #164
Package has just been approved. RFM can be closed.

[2017-09-09 16:43] ferventcoder commented on #164
Done

[2017-09-09 16:43] #164 closed

[2017-09-09 16:43] ferventcoder commented on #164
Thank you!

[2017-09-10 20:40] Ian2020 commented on #159
New version has now been approved.

[2017-09-10 20:40] #159 closed

[2017-09-11 02:30] lmunro commented on #97
👍

[2017-09-11 17:21] NickJackson525 opened #170 "RFP - Bitdefender Trafficlight"
Bitdefender TrafficLight adds a strong and non-intrusive layer of security to your browsing experience.
TrafficLight is taking the security-while-browsing concept where it belongs: in the browser. This extension will add a strong layer of security over your browsing experience without inducing speed penalties or system resource consumption. Part of the processing is done in the cloud with some int

[2017-09-14 13:03] butekx opened #171 "RFP - Helm"
**Homepage**: [https://helm.sh/](https://helm.sh)
**Description**: The package manager for Kubernetes

[2017-09-16 13:22] ferventcoder opened #172 "RFM - EasyZip"
https://chocolatey.org/packages/Easy7zip/0.1.2.2

[2017-09-17 02:02] JourneyOver commented on #162
@AdmiringWorm might want to mark this as approved and close it as it seems it's been approved ;P

[2017-09-17 10:29] AdmiringWorm commented on #162
@JorneyOver thanks, I never got the message that it was approved. I'll close this one now

[2017-09-17 10:29] #162 closed

[2017-09-17 16:31] JourneyOver commented on #148
Can close this, has been published/approved https://chocolatey.org/packages/duckietv/1.1.4 has both latest and nightlies.

[2017-09-17 16:32] zero77 commented on #148
@JourneyOver
Thanks

[2017-09-17 16:32] #148 closed

[2017-09-21 00:30] DarwinJS commented on #136
It is also the one that found the recent complex ccleaner hack.  http://blog.talosintelligence.com/2017/09/avast-distributes-malware.html

[2017-09-21 01:02] ferventcoder opened #173 "RFM - atom"
https://chocolatey.org/packages/atom

[2017-09-21 05:20] Thilas commented on #173
I can take this one. Sending a message to site admins.

[2017-09-22 22:32] Thilas commented on #173
@ferventcoder, per its description, this package is always installing an up-to-date version regardless of the package version. And the software is self-updating. So I was wondering if this package really needs a new maintainer. Is there some policies in that kind of cases?
I started anyway to build a new AU package for it. Just need to become maintainer, if RFM is confirmed.

[2017-09-23 22:19] churchthecat opened #174 "RFP Privazer"
like ccleaner but better http://privazer.com/

[2017-09-26 21:48] Thilas commented on #173
@ferventcoder, any news on this package? Everything is done on my side, just waiting for becoming maintainer on it.

[2017-09-27 08:52] sufian07 opened #175 "RFP sdkman"
http://sdkman.io is a package for technology built on JVM(java virtual machine) such as grails, groovy, gradel etc

[2017-09-27 11:06] deva1003 commented on #115
Hi to the maintainer, I am new to this page and I am looking for chocolatey version of latest PyCharm Professional as I could find only the Community version present. Thanks!

[2017-09-27 11:10] deva1003 opened #176 "[RFM] - pycharm professional"
looking for latest version of pycharm professional to be packaged as chocolatey. Thanks!

[2017-09-27 15:22] AdmiringWorm commented on #176
I'm guessing this is the package you are looking for?
https://chocolatey.org/packages/Pycharm

Please try reaching out to the maintainer of that package first (look for the `Contact Maintainers` link), before we can open this one up for new maintainers of that package.

Thanks

[2017-09-27 15:23] AdmiringWorm commented on #176
nvm, I see this is a duplicate of issue #115

[2017-09-27 15:23] #176 closed

[2017-09-27 16:38] AdmiringWorm commented on #168
I've started looking into creating a package for this software, if everything goes well I should have something pushed to chocolatey a little later today.

[2017-09-27 19:40] AdmiringWorm commented on #174
I'm looking into creating a package for this software (both using the installer, and the portable version of the software)

[2017-09-27 20:04] Spunkie commented on #168
@AdmiringWorm I used plane9 for my screensaver/visualizer last year and at the time it was good software. If you still haven't figured it out by this weekend I'll take crack at getting a working install pkg on my system.

[2017-09-27 20:12] AdmiringWorm commented on #168
@Spunkie feel free, as I mentioned in the edited comment, I couldn't get it installed at all. The installer always crashed right when it was starting to copy the files.

[2017-09-27 21:15] ferventcoder commented on #173
@Thilas

So what do folks who want an upgrade strategy with Chocolatey get? And what about folks using the download CDN? They would not get the most up to date, they would get what meets the checksum.

Always use AU when the url is the same all the time, and yes, absolutely needs a maintainer to keep the package updated. It looks bad with older versions regardless of what it is doing, plus it does

[2017-09-27 21:15] ferventcoder commented on #173
@Thilas it looks like you are a maintainer from looking at the package page - not sure if that was adjusted before or after your message earlier?

[2017-09-27 21:26] AdmiringWorm commented on #174
just pushed the packages for privazer to chocolatey now:
Meta Package: https://chocolatey.org/packages/privazer
Install Package: https://chocolatey.org/packages/privazer
Portable Package: https://chocolatey.org/packages/privazer

Let me know if there are any problems
/cc @churchthecat

[2017-09-27 21:31] AdmiringWorm commented on #173
@ferventcoder it was done after.
Managed to dig out an old email from him, which had been lost somehow.

[2017-09-28 00:07] jongalloway commented on #168
@AdmiringWorm Might have been due to video card? From the [requirements](http://www.plane9.com/download) it says you need a graphics card with OpenGL 3.3 support.

[2017-09-28 06:07] AdmiringWorm commented on #168
@jongalloway which I do already have.

If you find a computer that doesn't have opengl 3.3 support, that means it is a really old computer.

[2017-09-28 06:24] pascalberger opened #177 "RFP IISExpress"
Create a package for IISExpress: https://www.microsoft.com/en-us/download/details.aspx?id=48264

I can tackle this myself, but if everyone has experience how to setup AU for Microsoft download pages I would appreciate some hints 😃

[2017-09-28 06:51] jongalloway commented on #168
@AdmiringWorm Sorry, should have looked that up. Dunno what it was then. Pretty smooth install for me.

[2017-09-28 07:04] AdmiringWorm commented on #168
@jongalloway not a problem.

Me neither, which is why I dropped trying to create a package for it, if I ever find out the reason, or it magically starts working again for me I will continue working on the package.
Unless @Spunkie beats me to it of course.

[2017-09-28 07:36] Thilas commented on #173
Thanks both of you. I'll push my new package by end of day.

[2017-09-28 13:42] dragon788 commented on #115
@deva1003 I believe the package "pycharm" is also the Professional version, while pycharm-community is the free version.

[2017-09-28 13:58] jberezanski commented on #177
I have this implemented already, just waiting to e published.

[2017-09-28 14:05] jberezanski commented on #177
Correction: it is [awaiting moderation](https://chocolatey.org/packages/iisexpress). I was troubleshooting a MyGet issue and I forgot to get back to it.

[2017-09-28 14:07] pascalberger commented on #177
@jberezanski Great!

So is it ready now for review / approval now? Because you left a comment there that you're still working on it

[2017-09-28 16:04] jberezanski commented on #177
I've repushed the package with correct metadata, it's ready now.

[2017-09-28 20:14] pascalberger commented on #177
@jberezanski Thanks! Package is now approved

[2017-09-28 20:14] #177 closed

[2017-09-28 22:46] Thilas commented on #173
Done. Package has been approved.

[2017-09-29 05:36] #173 closed

[2017-09-29 06:58] deva1003 commented on #115
@dragon788 I'm not sure about the functionality difference between the two but they install in machine with different names in ARP as well as the shortcut name itself. Can you refer me any formal document where it mentions that both's functionality are same except the licensing part?

[2017-10-01 10:29] AdmiringWorm commented on #68
I'm looking into creating a package for this software now

[2017-10-01 11:00] AdmiringWorm commented on #68
Just pushed a package for this software now.
https://chocolatey.org/packages/encfsmp/0.11.0

[2017-10-05 16:16] churchthecat commented on #174
Great, thanks!

[2017-10-08 16:25] mzomparelli opened #178 "RFP - zVirtualDesktop"
I'm trying to create a package on my own, but I'm having trouble figuring it out.

zVirtualDesktop is a utility for managing Windows 10 Virtual Desktops. Requires only the EXE itself, no external libraries.
-Configurable hotkeys
-Set different wallpapers for each desktop
-Name desktops
-System Tray Icons
-DesktopView - A TaskView replacement

https://github.com/mzomparelli/zVirtualDesktop

The mos

[2017-10-08 16:32] mzomparelli commented on #178
Is it possible for Chocolatey to install the exe (or a shortcut) to the user's startup folder? Sorry, I'm new to Chocolatey. I can modify zVirtualDesktop as necessary. Please let me know.

[2017-10-08 19:25] jnm2 opened #179 "RFP - Golly"
http://golly.sourceforge.net/

[2017-10-08 19:33] AdmiringWorm commented on #179
for any would-be maintainers, this software is licensed under GPLv2 and as such is allowed to be embedded on chocolatey.org (which is recommended whenever possible).
The size limit is not an issue with this software either.

[2017-10-09 19:34] daylightbrightledlight opened #180 "RFP - mosh"
Request for package

Package: mosh
Website: https://mosh.org/
Repository: https://github.com/mobile-shell/mosh

[2017-10-10 22:17] mzomparelli commented on #178
Was I wrong to create an issue here? I'm only here because my users want it and I'm unable to figure it out on my own.

[2017-10-11 14:33] AdmiringWorm commented on #178
@mzomparelli it isn't really wrong, but the wording from your initial post seem to be that you are actually creating the package yourself, rather than requesting a maintainer to create this package.

If it's the former, then it's better to reach out on the [gitter channel](https://gitter.im/chocolatey/choco).
If it's the later, then you just need to be patient until a maintainer picks this package

[2017-10-11 14:44] mzomparelli commented on #178
Thanks @AdmiringWorm , I was looking to do it myself, but it seems overly complicated so I decided to come here and let someone else do it. I would be interested in seeing how it is packaged so that I can learn from it.

[2017-10-11 14:45] AdmiringWorm commented on #178
I see, in that case you just need to be patient and until a maintainer is willing to pick it up.

[2017-10-11 17:14] TakataSanshiro commented on #115
I've submitted one and it has approved.
https://chocolatey.org/packages/Pycharm/2017.2.3

I've specified that the id "pycharm-professional" was deprecated.
These are the same.

[2017-10-11 17:31] AdmiringWorm commented on #115
we'll keep this open until the deprecated pycharm-professional package have been approved.

[2017-10-11 17:55] dimqua commented on #142
A new maintainer is found: @Akipe. Can someone please remove me from maintainers list?

[2017-10-11 18:03] AdmiringWorm commented on #142
@dimqua you can actually remove yourself from the maintainer list (except when you're the only maintainer).
I've removed you now though.

@Akipe please post a message here when the package have been approved, so we can close this issue.

[2017-10-11 18:15] dimqua commented on #142
Thanks, I can remove others but not myself.

![](https://i.imgur.com/MZrMWk5.png)

[2017-10-11 18:34] AdmiringWorm commented on #142
ah I see, I thought maintainers could remove themselves. I guess I was wrong, sorry about that

[2017-10-13 00:43] Akipe commented on #142
I confirm that I am the new maintainer of the application. I posted an update of the package which is ready for review. I will repost a message when the package will be approved.

[2017-10-18 16:53] AdmiringWorm commented on #174
Completely forgot about this, the packages was approved some time ago.

[2017-10-18 16:53] #174 closed

[2017-10-18 16:54] AdmiringWorm commented on #68
The package was approved a few days ago.

[2017-10-18 16:54] #68 closed

[2017-10-21 11:54] #115 closed

[2017-10-21 13:32] AdmiringWorm commented on #179
I'm working on creating a package for this software now.

[2017-10-21 15:36] AdmiringWorm commented on #179
The package for this software have been pushed to chocolatey:
https://chocolatey.org/packages/golly/3.1

[2017-10-21 16:47] AdmiringWorm commented on #163
seems like someone created a package of jdk9 last month, without responding to this issue.
As such I'm closing this RFP now.
https://chocolatey.org/packages/jdk9

[2017-10-21 16:47] #163 closed

[2017-10-21 17:07] AdmiringWorm commented on #161
zenmap is included with the standard nmap installer, and as such is installed with the [nmap package](https://chocolatey.org/packages/nmap).
Because of this, and since I couldn't see a different binary provided for windows to install only zenmap, I'm closing this one.

[2017-10-21 17:07] #161 closed

[2017-10-21 17:51] AdmiringWorm commented on #137
I would like to take over the maintaining of this package, message have been sent to the admins.

[2017-10-22 10:22] AdmiringWorm commented on #137
A new version of [nagstamon][] have been created.
This version have been converted to a meta package, with its corresponding [install][] and [portable][] packages.

[nagstamon]: https://chocolatey.org/packages/Nagstamon/3.0.2 "Nagstamon Meta Package"
[install]: https://chocolatey.org/packages/nagstamon.install/3.0.2 "Nagstamon Install Package"
[portable]: https://chocolatey.org/packages/nagstamon.

[2017-10-22 12:26] AdmiringWorm commented on #155
I'm looking into creating a package for this software now

[2017-10-22 13:20] AdmiringWorm commented on #69
I'm looking into creating a package for this software

[2017-10-22 14:01] AdmiringWorm commented on #139
I would like to pick this one up as a new maintainer, message have been sent to site admins.

[2017-10-22 17:18] AdmiringWorm commented on #155
Just pushed a package for this software now:
https://chocolatey.org/packages/snapgene-viewer/4.0.7

[2017-10-22 17:19] AdmiringWorm commented on #69
just pushed a package for this software now:
https://chocolatey.org/packages/lilypond/2.18.2

[2017-10-22 20:12] AdmiringWorm commented on #139
new version of the package have been submitted

[2017-10-24 14:38] AdmiringWorm commented on #179
that package have been approved

[2017-10-24 14:38] #179 closed

[2017-10-24 14:39] AdmiringWorm commented on #137
The updated version have been approved

[2017-10-24 14:39] #137 closed

[2017-10-24 14:39] AdmiringWorm commented on #155
The package have been approvied

[2017-10-24 14:39] #155 closed

[2017-10-24 14:39] AdmiringWorm commented on #139
The updated version have been approved

[2017-10-24 14:39] #139 closed

[2017-10-24 14:40] AdmiringWorm commented on #69
The package have been approved

[2017-10-24 14:40] #69 closed

[2017-10-24 14:41] AdmiringWorm commented on #142
Seems like the latest version have been approved.

[2017-10-24 14:41] #142 closed

[2017-10-24 14:52] dimqua opened #181 "RFM - Otter Browser"
Project aiming to recreate classic Opera (12.x) UI using Qt5.

I'm seeking for a new maintainer.

https://chocolatey.org/packages/otter-browser/

[2017-10-24 15:06] dimqua opened #182 "RFM - Psi+"
Psi Plus – Development branch of Psi IM Jabber client. Project Purpose: Collection, refinement and writing new patches for transfer them to Psi upstream developers.

A new maintainer is needed.

https://chocolatey.org/packages/psi-plus/

[2017-10-25 12:36] joachimschmidt557 commented on #76
I can work on creating a package for Musique

[2017-10-25 16:15] AdmiringWorm commented on #76
@joachimschmidt557 feel free to do so

[2017-10-26 00:50] joachimschmidt557 commented on #76
The package is pushed to the chocolatey repository and waiting for review.

[2017-10-26 01:20] dimqua opened #183 "RFM - Quassel"
Quassel IRC is a modern, cross-platform, distributed IRC client based on the Qt framework.

https://chocolatey.org/packages/quassel

I would like to make this package available for maintainer(s).

[2017-10-27 04:49] dimqua opened #184 "RFM - Ace Stream"
Ace Stream is an innovative media platform of a new generation, which will take you to a new high-quality level of multimedia space on the Internet.

https://chocolatey.org/packages/acestream

I'm seeking for a new maintainer.

[2017-10-27 12:57] majkinetor opened #185 "RFM - Skype"
Skype is outdated and @ferventcoder doesn't seem to have time for this anymore.
https://chocolatey.org/packages/skype

It should be migrated to coreteamrepo.

[2017-10-27 15:50] AdmiringWorm commented on #183
@dimqua I can take over maintaining this package if you wouldn't mind adding me as a maintainer :)

[2017-10-27 16:32] AdmiringWorm commented on #183
@dimqua I've accepted the request, I'm working on the package now and should have a new one pushed to chocolatey.org soon (since I'm embedding the software, I'm pushing out a forced fix release)

[2017-10-27 17:20] AdmiringWorm commented on #183
a new embedded package have been pushed

[2017-10-27 17:20] dimqua commented on #183
Can you please remove me from maintainers list?

[2017-10-27 17:23] AdmiringWorm commented on #183
@dimqua sure, just done that now.

You'll still be listed in the nuspec file itself (my way of acknowledging previous maintainers for all the work they have done in the past)

[2017-10-27 17:26] AdmiringWorm commented on #25
I plan to create a package for this one, as well as the LE edition of metapad.

Started working slowly on it now.

[2017-10-27 20:09] ferventcoder commented on #185
"seem to have time" - I've already stated as much that I'd like to see all of what I've been maintaining moved to the core team repo as I only have so much time in the week and the thing that tends to get bumped down in priority is package maintenance. In a perfect world I'd have all kinds of time, but in reality I can use all the help I can get. You don't even need to RFM these, you can simply cr

[2017-10-28 03:11] brianmego opened #186 "RFM - SQLyog"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 03:12] brianmego opened #187 "RFM - Winamp"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 03:13] brianmego opened #188 "RFM - f.lux"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 03:13] brianmego opened #189 "RFM - Steam"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 03:14] brianmego opened #190 "RFM - Dexpot"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 03:14] brianmego opened #191 "RFM - Star Wars: The Old Republic"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 03:14] brianmego opened #192 "RFM - Swish"
Do not do enough Windows development to justify being the main maintainer of this package any longer.

Source for the existing package exists here: https://github.com/brianmego/Chocolatey

[2017-10-28 08:51] AdmiringWorm commented on #187
@brianmego this one was actually moved over to the core team repo, where it is currently being maintained.

[2017-10-28 09:05] AdmiringWorm commented on #191
@brianmego I would love to take over the maintaining of this package, if you wouldn't mind adding me as an maintainer (same nickname on chocolatey as here on github)

[2017-10-28 10:14] AdmiringWorm commented on #191
scratch that, I was already looking into it and couldn't get it to work.
So leaving it to someone else if they want

[2017-10-28 10:20] pauby commented on #191
I will look at picking this up.

[2017-10-28 10:20] pauby commented on #189
I will pick this up.

[2017-10-28 10:21] pauby commented on #188
I will pick this up.

[2017-10-28 11:43] joachimschmidt557 commented on #175
I think this package is not available for Windows though, judging from their install page: http://sdkman.io/install.html

[2017-10-28 12:49] AdmiringWorm commented on #175
@joachimschmidt557 looks like you're right, guess we can just close this one then.

@sufian07 feel free to re-open this issue when windows support have been added to the software.

[2017-10-28 12:49] #175 closed

[2017-10-28 13:06] AdmiringWorm commented on #25
the metapad package have been added: https://chocolatey.org/packages/metapad
as well as the metapad-light package: https://chocolatey.org/packages/metapad-light

[2017-10-28 13:12] AdmiringWorm commented on #165
@zero77 it have been some time since you mentioned you contacted the maintainer, have you heard anything back from him/her yet?

If not, I'll make this RFM open for maintainers.

[2017-10-28 13:44] joachimschmidt557 commented on #73
I can create a package for Ricochet.

[2017-10-28 18:54] pauby commented on #191
I've got this working so will submit the package to the feed shortly.

[2017-10-28 21:04] AdmiringWorm commented on #191
@pauby the `Status: Published` tag is for when the package have been approved.

[2017-10-28 21:32] brianmego commented on #191
I do not mind remaining as a maintainer. I may contribute from time to time as I still have love for the project. I simply do not live my life in the Windows world much anymore, so the daily "Oh, there's a new version! I should update that in chocolatey" call to action hardly ever comes up.

Looks like you were able to get your name on the chocolatey package, but let me know if I need to do anythi

[2017-10-29 01:16] dimqua opened #193 "RFM - Redshift Tray (by Nepochal)"
[Redshift Tray by Nepochal](https://github.com/Nepochal/redshift-tray) (Michael Scholz) is a convenient tool for configuring and using [Redshift](https://chocolatey.org/packages/redshift) on Windows. It completely works in the background and is controllable through a tray icon.

~~I'm seeking for a maintainer.~~

[2017-10-29 01:29] joachimschmidt557 commented on #180
According to https://mosh.org/#getting ,

There is also a version with cygwin:

[2017-10-29 10:24] dimqua opened #194 "RFP - Iris"
Iris is software for eye protection, health and productivity. By default Iris works automatically and detects if it’s day or night. Based on that it will change your screen Color Temperature and Brightness. When you open the control panel of the program you can select different modes and types of Iris.

https://iristech.co/iris/

[2017-10-29 10:30] AdmiringWorm commented on #180
@joachimschmidt557 you also have mosh for chrome

[2017-10-29 10:56] joachimschmidt557 commented on #180
@AdmiringWorm Ok, then I'll try to create a package installing the chrome extension similar to what the Adblock plus package https://chocolatey.org/packages/adblockpluschrome does.

[2017-10-29 12:39] pauby commented on #189
Package complete and setup for automatic. Nothing to change in the package itself so it will nto be pushed until there is a new version.

[2017-10-29 14:24] pauby commented on #188
Package updated and will be pushed.

[2017-10-29 14:33] pauby commented on #194
I will pick this up.

[2017-10-29 14:48] AdmiringWorm commented on #180
@joachimschmidt557 so to confirm, you are picking up this package?

[2017-10-29 15:45] pauby commented on #194
Completed and pushed.

[2017-10-29 16:11] AdmiringWorm commented on #30
It seems like there is a package submitted for this one that was approved on the 23rd this month.
While the version doesn't match unfortunately, it still fulfils this request.
https://chocolatey.org/packages/meteor

[2017-10-29 16:11] #30 closed

[2017-10-29 16:50] zero77 commented on #165
I contacted the maintainer to say the package was out of date and he/her replied and updated the package to the latest out at the time.

In addition, I asked if the maintainer was able to automatically update the package as there is a new version out every day. Although, I did not get a reply relating to this and now the package is out of date again.

[2017-10-29 23:34] joachimschmidt557 commented on #180
Yes, I will create the package `mosh-for-chrome`

[2017-10-30 14:54] mikecole commented on #189
Hey @pauby, just an FYI, I already had steam running in AU using the same method you are to determine the version. The problem is that the version of the setup exe never increments. It appears they rely on using the same setup that has update built in. You may want to keep your eye on this. Let me know if you have any questions!

https://github.com/mikecole/chocolatey-packages/blob/master/automati

[2017-10-30 15:03] mikecole commented on #189
I'm 100% fine with you taking this over. Yours seems a bit more elegant than mine.

My approach with this package, since it was more difficult than others, was to just let the baked in updater in steam be the update solution. If you have alternative ideas, more power to you and feel free to bounce ideas off of me.

[2017-10-30 15:08] pauby commented on #189
No, I agree with you. If they are not updating the version number then the package will never update the way it stands at the moment.

My thoughts off the top of my head are compare the hash of the new file with the hash stored in the chocolateyInstall.ps1 and if it's different then they have released a new installer and bump the third segment of the package up by 1 so it's a new version to Chocol

[2017-10-30 15:10] mikecole commented on #189
Comparing the hashes is a good idea.

However, my assumption is that it's not just the version on the setup that doesn't get incremented... I don't believe the setup is updated at all. So, if you compare the hashes I think it will always be the same. The problem with the package was never the hashes being wrong... it was that it never updated the software.

[2017-10-30 15:16] pauby commented on #189
Ah.

When I open the SteamSetup.exe yesterday with 7Zip the steam.exe and uninstall.exe had dates of July / August 2016 so I assumed that was the last time it was updated.

I can see your package was submitted last November. So they likely do update the installer, just not very often.

To complicate matters the steam.exe has a version of 3.49.64.60 :)

It's a pity we can't get a hold of the old St

[2017-10-30 15:23] mikecole commented on #189
"I can see your package was submitted last November. So they likely do update the installer, just not very often." => The submission last November appears to have been when I first added it to AU. So, maybe it does, maybe it doesn't. :-) I honestly don't remember at this point.

[2017-10-30 15:51] AdmiringWorm commented on #189
I'll first just re-iterate what I told @pauby yesterday.
The package IMO should be updated to be current with the latest recommendation.

To name a few things,
- Updating all the metadata that can be updated.
- Updating the install script to remove unneeded parameters (in this case removing the `unzipLocation` since it isn't used).
- Update the uninstall script to change out/remove
    - Use an al

[2017-10-30 15:55] pauby commented on #189
"I'll first just re-iterate what I told @pauby yesterday.
The package IMO should be updated to be current with the latest recommendation.

To name a few things,"

That's why I suggested grabbing the 'elegant' bits.

But what I was looking for a second opinion on was how, assuming the installer version number is not updated, we increment the Chocolatey package version number. Segment etc. See above

[2017-10-30 16:07] AdmiringWorm commented on #189
I see, sorry missed that.

What is recommended from my perspective is to still use the 4th part of the version, but instead of using it originally as is, add a zero and a 1.
So for instance, the version: `2.10.91.91` becomes `2.10.91.9101`  (which seems to be what is already done).
But the important thing to remember is that all versions until `2.10.92` needs to have the 4th part higher then the p

[2017-10-30 17:02] AdmiringWorm commented on #45
I'm looking into creating a package for this software.
Should have one pushed to chocolatey shortly

[2017-10-30 17:31] AdmiringWorm commented on #74
I'm looking into creating a package for this one

[2017-10-30 18:17] AdmiringWorm commented on #74
A package have been submitted for this software
https://chocolatey.org/packages/onionshare

[2017-10-30 18:22] AdmiringWorm commented on #45
a package have been submitted for this one now.
https://chocolatey.org/packages/gtkwave

[2017-10-30 19:27] AdmiringWorm commented on #111
I'm looking into creating a package for this program.
Since it requires to be configured per game, I'm just going to make it available in the following locations:
- As an automatic shim
- In the desktop directory (opt-in)
- In the start menu directory (opt-out)

[2017-10-30 20:43] AdmiringWorm commented on #111
The reshade package have been submitted.
Let me know if there are anything you want to be changed on it
https://chocolatey.org/packages/reshade/3.0.8

/cc @07416

[2017-10-31 00:32] joachimschmidt557 commented on #180
The package is submitted

[2017-10-31 01:21] dimqua opened #195 "RFP - Windows Update MiniTool"
This Windows Update MiniTool (WUMT) is an alternative to the standard Windows Update, in such a way that it can do a lot for you as described below. However, bear in mind this minitool is just a front-end for the Windows Update built-in mechanism.

https://wumt.blogspot.com/

[2017-10-31 02:15] dimqua opened #196 "RFP - WindowsSpyBlocker"
WindowsSpyBlocker is an application written in Go and delivered as a single executable to block spying and tracking on Windows systems. The initial approach of this application is to capture and analyze network traffic based on a set of tools.

https://github.com/crazy-max/WindowsSpyBlocker

[2017-10-31 10:29] pauby commented on #189
@mikecole Do you want to keep this package or do you want me to re-submit mine? My intention would be to move this over to the core packages in the future (as I'm going to be looking at doing with all of my packages).

[2017-10-31 12:41] Akipe commented on #195
I will try to create a package for this app.

I don't think the blogspot link is the official link. From the app, there is a link for update the tool who redirect to a russian forum (i think it is a thread from the author) :
http://forum.ru-board.com/topic.cgi?forum=5&topic=48142#2

There is an other link show in the previous forum thread, in english (but need a account for showing the content) :

[2017-10-31 14:58] mikecole commented on #189
Go ahead and re-submit yours, especially if you have a goal to move it to
the core packages.

On Tue, Oct 31, 2017 at 5:30 AM, Paul Broadwith <notifications@github.com>
wrote:

[2017-10-31 15:20] pauby commented on #189
Submitted now.

[2017-10-31 17:25] dimqua commented on #195
Yes, from the author of this program. The blogspot link is from the author of [this forum thread](https://www.wilderssecurity.com/threads/windows-update-minitool.380535/).

[2017-10-31 17:45] Akipe commented on #195
I just finish to create the package, sources here :
https://github.com/Akipe/chocolatey-packages/tree/master/automatic/wumt
And the Chocolatey page :
https://chocolatey.org/packages/wumt/

[2017-11-01 06:33] wickles opened #197 "RFP - Private Internet Access"
Private Internet Access or PIA is a popular paid VPN service with a nice desktop client.

https://www.privateinternetaccess.com
Downloads from https://www.privateinternetaccess.com/installer/download_installer_win
Versioned downloads at https://www.privateinternetaccess.com/pages/downloads

[2017-11-01 17:47] AdmiringWorm commented on #77
I'm looking into creating a package for this one

[2017-11-01 21:30] AdmiringWorm commented on #78
I'm looking into creating a package for this one

[2017-11-02 13:59] AdmiringWorm commented on #78
package have been created and pushed:
https://chocolatey.org/packages/teeworlds

[2017-11-02 13:59] AdmiringWorm commented on #77
package have been created and pushed:
https://chocolatey.org/packages/qmmp

[2017-11-02 20:45] starrychloe opened #198 "RFP: Clonezilla"
http://clonezilla.org/

Also, you should have a link to package requests page at the bottom of the search results, especially when no results are found.

https://chocolatey.org/packages?q=clonezilla

[2017-11-02 20:49] AdmiringWorm commented on #198
From what I can tell, this software doesn't support windows.
If I'm wrong in that regard, please also supply the download location for windows to any would-be maintainers.

Otherwise, I may have to close this issue if it doesn't support windows.

[2017-11-02 20:50] AdmiringWorm commented on #187
Since this package have been moved to the core team repo, and nothing else have changed with this request I will be closing this now

[2017-11-03 01:46] joachimschmidt557 commented on #73
The package is submitted

[2017-11-03 09:00] szaiser opened #199 "RFM - pycharm-community"
[Pycharm (Community)](https://www.jetbrains.com/pycharm/download/#section=windows) is a lightweight IDE for Python & Scientific development .

https://chocolatey.org/packages/PyCharm-community

I am searching for a new maintainer. SHA-256 checksums and direct links to each version are provided on the download page, time requested for maintaining this package is minimal.

[2017-11-03 09:13] pintman commented on #199
Could you explain briefly or give a link to a resource on what has to be done to maintain this package?

[2017-11-03 09:28] pauby commented on #199
@pintman I'd start [here](https://chocolatey.org/docs/create-packages)

[2017-11-03 10:01] pauby commented on #198
Clonezilla is a bootable Linux OS that supports imaging systems. It's nto a package that Chocolatey could manage.

I'd close the issue.

[2017-11-03 22:05] AdmiringWorm commented on #198
I see, as such I'm closing this one as it won't be possible to create a chocolatey package for this one.

[2017-11-03 22:05] #198 closed

[2017-11-03 22:06] AdmiringWorm commented on #195
Package have been approved

[2017-11-03 22:06] #195 closed

[2017-11-03 22:06] AdmiringWorm commented on #194
Package have been approved

[2017-11-03 22:06] #194 closed

[2017-11-03 22:07] AdmiringWorm commented on #191
The updated package have been approved.

[2017-11-03 22:07] #191 closed

[2017-11-03 22:07] AdmiringWorm commented on #189
The updated package have been approved

[2017-11-03 22:07] #189 closed

[2017-11-03 22:08] AdmiringWorm commented on #188
The updated package have been approved.

[2017-11-03 22:08] #188 closed

[2017-11-03 22:09] AdmiringWorm commented on #180
The package have been approved

[2017-11-03 22:09] #180 closed

[2017-11-03 22:10] #187 closed

[2017-11-03 22:10] AdmiringWorm commented on #172
A updated package have been approved.

[2017-11-03 22:10] #172 closed

[2017-11-03 22:11] AdmiringWorm commented on #76
The package have been approved.

[2017-11-03 22:11] #76 closed

[2017-11-03 22:11] AdmiringWorm commented on #73
The package have been approved

[2017-11-03 22:11] #73 closed

[2017-11-03 22:41] AdmiringWorm commented on #25
package have been approved.

[2017-11-03 22:41] #25 closed

[2017-11-03 22:41] AdmiringWorm commented on #183
package have been approved.

[2017-11-03 22:41] #183 closed

[2017-11-03 22:41] AdmiringWorm commented on #111
package have been approved.

[2017-11-03 22:41] #111 closed

[2017-11-03 22:41] AdmiringWorm commented on #77
package have been approved.

[2017-11-03 22:41] #77 closed

[2017-11-03 22:42] AdmiringWorm commented on #74
package have been approved.

[2017-11-03 22:42] #74 closed

[2017-11-03 22:42] AdmiringWorm commented on #45
package have been approved.

[2017-11-03 22:42] #45 closed

[2017-11-04 01:05] dimqua opened #200 "RFP - Croscore fonts"
The Chrome OS core fonts, also known as the Croscore fonts, are a collection of three TrueType font families: Arimo (sans-serif), Tinos (serif) and Cousine (monospace). These fonts are metrically compatible with Arial, Times New Roman, and Courier New, the most commonly used fonts on Microsoft Windows operating system, for which they are intended as open-source substitutes.

More info: https://en.

[2017-11-04 06:54] dimqua opened #201 "RFP - MPC-Qt"
Media Player Classic Qute Theater (mpc-qt) is a clone of Media Player Classic (mpc-hc) reimplemented in Qt. It aims to reproduce most of the interface and functionality of mpc-hc while using [libmpv](https://github.com/mpv-player/mpv) to play video instead of DirectShow.

https://github.com/cmdrkotori/mpc-qt/

[2017-11-04 07:22] AdmiringWorm commented on #200
Please also supply the home page for these fonts, before we can make this available for maintainers.

[2017-11-04 08:52] dimqua commented on #200
Homepage: https://fonts.google.com/

More specificaly: [Amiro](https://fonts.google.com/specimen/Arimo), [Tinos](https://fonts.google.com/specimen/Tinos) and [Cousine](https://fonts.google.com/specimen/Cousine).

[2017-11-04 23:16] dimqua opened #202 "RFP - SkyMPC"
SkyMPC is a simple MPD (Music Player Daemon) client, powered by Qt5.

http://www.soramimi.jp/skympc/

[2017-11-05 21:22] JourneyOver commented on #201
Working on this package now.

[2017-11-06 01:02] dimqua opened #203 "RFP - Persepolis"
Persepolis is a Download Manager & a GUI For [aria2](https://chocolatey.org/packages/aria2). It's written in Python. Persepolis is a free and open source software. It's developed For GNU/Linux distributions, BSDs, macOS and Microsoft Windows.

https://persepolisdm.github.io/

[2017-11-06 01:07] dimqua opened #204 "RFP - Liberation Fonts"
The Liberation™ Fonts  is font collection which aims to provide document layout compatibility as usage of Times New Roman, Arial, Courier New. It is sponsored by Red Hat.

https://pagure.io/liberation-fonts/

[2017-11-06 03:57] dimqua opened #205 "RFP - Anki"
Anki is a program which makes remembering things easy. Because it's a lot more efficient than traditional study methods, you can either greatly decrease your time spent studying, or greatly increase the amount you learn.

https://apps.ankiweb.net/

[2017-11-06 04:02] dimqua opened #206 "RFP - Mnemosyne"
Mnemosyne is a free flash-card tool which optimizes your learning process.

https://mnemosyne-proj.org/

[2017-11-06 15:46] AdmiringWorm commented on #78
Package have been approved

[2017-11-06 15:46] #78 closed

[2017-11-07 15:39] AdmiringWorm commented on #206
@dimqua is this the software you're looking for?
https://chocolatey.org/packages/mnemosyne

[2017-11-07 15:40] AdmiringWorm commented on #205
is this the one you're looking for?
https://chocolatey.org/packages/anki

[2017-11-07 15:45] AdmiringWorm commented on #203
I'm looking into creating a package for this software now.

[2017-11-07 18:03] AdmiringWorm commented on #203
A package for this software have just been pushed:
https://chocolatey.org/packages/persepolis/2.4.2

[2017-11-07 18:39] AdmiringWorm commented on #168
I've decided to have another look at creating a package for this one.

[2017-11-07 19:08] AdmiringWorm commented on #168
Plane9 package have been pushed
https://chocolatey.org/packages/plane9/2.5.1.3

[2017-11-07 22:16] dimqua commented on #206
Yes.

[2017-11-07 22:16] #206 closed

[2017-11-07 22:17] dimqua commented on #205
Yes.

[2017-11-07 22:17] #205 closed

[2017-11-08 14:10] majkinetor commented on #202
Meh...
cantata is alraedy available

[2017-11-08 19:18] yegors opened #207 "RFP - Windscribe"
Windscribe is a VPN desktop application and VPN/proxy browser extension that work together to block ads, trackers, restore access to blocked content and help you safeguard your privacy online.

https://windscribe.com/install/desktop/windows

[2017-11-09 03:48] dimqua opened #208 "RFP - B1 Free Archiver"
B1 Free Archiver is a cross-platform file archiver and file manager.

https://www.b1.org/windows/

https://b1.org/download-windows

[2017-11-09 04:15] dimqua opened #209 "RFP - QNapi"
QNapi is free software for automatic fetching subtitles for given movie file. It uses online databases such as NapiProjekt, OpenSubtitles and Napisy24. It is based on Qt5 library, so it can be launched on any supported operating system, including Windows, OSX and Linux.

Latest binary packages are available at http://qnapi.github.io/#download

[2017-11-09 04:35] dimqua opened #210 "RFP - Sublight"
Sublight is very popular and easy to use application for automatic searching and downloading subtitles for your movies and TV series. It is suitable for total beginners as well as advanced users.

Sublight automates multiple boring and time-consuming tasks into single double-click action and saves your precious time. Is downloaded subtitle not good enough for you? No problem, just double-click nex

[2017-11-09 05:36] dimqua opened #211 "RFP - Cutegram"
Cutegram is a free and opensource telegram clients for Linux, Windows, OS X and OpenBSD, focusing on user friendly, compatibility with desktop environments. Cutegram using Qt5, QML, libqtelegram, libappindication, AsemanQtTools technologies and Faenza icons and Twitter emojies graphic sets. It's free and released under GPLv3 license.

http://aseman.co/en/products/cutegram/

[2017-11-12 14:06] zero77 opened #212 "RFM - Sandboxie"
The sandboxie package is out of date by quite a few versions.

I have contacted the maintainer see:
github.com/dtgm/chocolatey-packages/issues/331

[2017-11-13 04:27] JourneyOver commented on #212
sadly this isn't the first nor the last package that is way out of date that is in dtgm's repo and he doesn't seem to ever respond to anything.

[2017-11-13 14:33] zero77 commented on #212
@JourneyOver Thanks for letting me know.

It would be nice if dtgm could add it to the main chocolatey repo so it could be auto updated, and dtgm wouldn’t need to worry about it.

[2017-11-14 13:47] dimqua commented on #154
I changed my mind. 😆

Package is pushed.

[2017-11-14 15:03] dimqua commented on #181
https://chocolatey.org/packages/otter-browser/0.9.92-rc2

[2017-11-14 15:03] #181 closed

[2017-11-14 18:47] dimqua opened #213 "RFP - Merkaartor"
Merkaartor is an OpenStreetMap editor for Linux, OS X and Windows, distributed under the GNU GPL.

http://merkaartor.be/

[2017-11-15 03:54] dimqua opened #214 "RFP- qBittorrent Beta"
qBittorrent beta builds are officialy available at [fosshub.com](https://www.fosshub.com/qBittorrent.html).

[2017-11-15 04:01] dimqua opened #215 "RFP - Thunderbird Beta"
https://www.thunderbird.net/en-US/thunderbird/beta/all/

[2017-11-15 13:43] dimqua commented on #214
Oops, probably, this package is not allowed: https://github.com/chocolatey/package-validator/wiki/ScriptsDoNotDownloadFromFossHub

[2017-11-15 15:33] AdmiringWorm commented on #214
since a beta package should be provided as a part of the stable package, and not a separate package.
Please open an issue over at the maintainer repository: https://github.com/chocolatey/chocolatey-coreteampackages

[2017-11-15 15:34] AdmiringWorm commented on #215
since a beta package should be provided as a part of the stable package, and not a separate package.
Please open an issue over at the maintainer repository: https://github.com/chocolatey/chocolatey-coreteampackages

[2017-11-15 17:07] dimqua commented on #214
@AdmiringWorm Thanks for the info. But is Firefox's package different?

https://chocolatey.org/packages/firefox

https://chocolatey.org/packages/firefox-beta

[2017-11-15 17:08] #214 closed

[2017-11-15 17:08] #215 closed

[2017-11-15 17:10] AdmiringWorm commented on #214
@dimqua not really, just different maintainers, and the duplication was maybe not noticed when it was pushed.

[2017-11-16 11:06] AdmiringWorm commented on #203
The package was approved a while back, forgot to update.

[2017-11-16 11:06] #203 closed

[2017-11-16 11:06] AdmiringWorm commented on #168
The package was approved a while back, forgot to update

[2017-11-16 11:06] #168 closed

[2017-11-16 19:03] TakataSanshiro commented on #70
I've submitted one.
https://chocolatey.org/packages/zeronet/0.6.0

[2017-11-17 12:44] DarwinJS opened #216 "RFP - bitwarden"
open source, multiplatform password manager with brave extension

https://bitwarden.com

[2017-11-17 12:45] DarwinJS opened #217 "RFP KeypassXC"
open source, modernized version of an old favorite multiplatform password manager

https://keepassxc.org/download

[2017-11-18 11:52] dimqua opened #218 "RFM - digiKam"
Package is outdated and a new maintainer is needed.

https://chocolatey.org/packages/digikam

[2017-11-18 11:59] dimqua opened #219 "RFP - KMyMoney"
KMyMoney is the Personal Finance Manager for KDE. It supports various account types, categorization of expenses, multiple currencies, online banking support via QIF, OFX and HBCI, budgeting and a rich set of reports.

https://sourceforge.net/projects/kmymoney2/

[2017-11-18 12:03] dimqua opened #220 "RFP - Umbrello UML Modeller"
Umbrello UML Modeller is a Unified Modelling Language (UML) diagram program based on KDE Technology. UML allows you to create diagrams of software and other systems in a standard format to document or design the structure of your programs.

https://umbrello.kde.org/

[2017-11-18 12:29] wget commented on #218
@dimqua I can take care of it if you want me to (I'm already a choco admin, so I can take ownership if needed).

[2017-11-18 12:36] AdmiringWorm commented on #218
@dtgm have you tried to contact @dtgm first?
We can't give this to another maintainer unless the triage process have been attempted.

[2017-11-18 13:06] dimqua commented on #218
@AdmiringWorm yes, recently, but no answer yet. Should we wait a bit more?

[2017-11-18 13:08] wget commented on #218
Ok. I'll wait. If needed I'm here. And if you're willing to push this package in the core team package, let me know :)

[2017-11-18 13:12] AdmiringWorm commented on #218
@dimqua typically I would wait a couple of weeks, but considering it is @dtgm though which we know is often unresponsive I would say wait at least a week after you've tried to contact him.

@wget I have no plans on migrating this package to the core team, so when enough time have passed feel free to work on it.

[2017-11-18 13:41] wget commented on #217
Either I'm wrong but this package is already available in our repository: https://chocolatey.org/packages/keepassxc

[2017-11-18 14:01] AdmiringWorm commented on #217
hmm, odd it didn't show up when I searched chocolatey (probably a cache issue).

It seems like it is still being maintained, as such it is better to close this one.

[2017-11-18 14:01] #217 closed

[2017-11-18 22:51] dimqua commented on #182
I think I'll maintain it as long as I can.

[2017-11-18 22:51] #182 closed

[2017-11-18 22:52] #154 closed

[2017-11-19 07:46] joachimschmidt557 commented on #207
I can create a package for windscribe.

[2017-11-19 19:57] dodjango opened #221 "RFP - asciinema"
asciinema is a command line Utility to record terminal sessions and share them.
https://asciinema.org/

[2017-11-19 20:21] AdmiringWorm commented on #221
It seems like they don't provide any compiled binary for windows, as such a package for this software isn't possible until they do.

As such, I'm closing this request, feel free to reopen it if they start providing one in the future.

[2017-11-19 20:23] AdmiringWorm commented on #221
hmm, seems like I was a little hasty, seems like they provide it through pip.
Opening the request again.

[2017-11-20 23:01] dimqua commented on #136
Package is pushed: https://chocolatey.org/packages/immunet

[2017-11-23 15:36] dimqua commented on #201
Package is approved.

[2017-11-23 15:36] #201 closed

[2017-11-23 15:36] dimqua commented on #136
Package is approved.

[2017-11-23 15:36] #136 closed

[2017-11-23 16:00] DarwinJS commented on #136
Thanks very much @dimqua !

[2017-11-23 20:29] JourneyOver commented on #201
Thanks for reporting that it was approved @dimqua :p was just about to come do it myself lol

[2017-11-24 11:27] pauby opened #222 "RFM - freecommander-xe.install"
Current maintainer has offered this package up in the [package page comments](http://disq.us/p/1o1ndha).

Recording it here as I will pick it up.

[2017-11-26 01:19] joachimschmidt557 commented on #207
Package submitted

[2017-11-28 15:09] mvanstelle opened #223 "RFP - AzureStorageEmulator"
This software is essential for running integration tests locally with a framework like Selenium, and we install it on every new machine. It is currently the only software we install that is not available as a chocolatey package.

[MSI available here](https://go.microsoft.com/fwlink/?LinkId=717179&clcid=0x409)

[2017-11-28 15:45] mvanstelle opened #224 "RFP - Redis Desktop Manager"
This is 1 of only 2 software products that we install on every new machine that does not have a chocolatey package yet.

[EXE available here](https://github.com/uglide/RedisDesktopManager/releases/download/0.8.8/redis-desktop-manager-0.8.8.384.exe)

[2017-11-28 16:49] AdmiringWorm commented on #224
@mvanstelle isn't this one the one you're looking for?
https://chocolatey.org/packages/redis-desktop-manager

[2017-11-28 16:52] mvanstelle commented on #224
It is! Thank you. For some reason that was the 19th result in chocolatey when I searched for "Redis Desktop Manager" on the packages site, and I didn't read that far.

[2017-11-28 16:52] #224 closed

[2017-12-02 23:24] aariveros opened #225 "RFP - 1password 6"
1password package installs the 4.x version of 1password (available from 1password website by default).

However, the last version of the app and the one compatible with the Team/Cloud version of 1password is version 6.

Maybe, it would possible to create a new package called 1password6 pointing to the new version?
The installable for v6.x seems to be visible only to subscribers:
https://cache.agil

[2017-12-02 23:52] AdmiringWorm commented on #223
@mvanstelle is this one the package you're after?
https://chocolatey.org/packages/azurestorageemulator

[2017-12-03 00:03] AdmiringWorm commented on #225
Creating a package specifically tailored to the 6.x range of 1password would still be considered a duplicate package IMO.
The better option would be to also provide the 6.x range in the 1password package.

But in this case, I think we need some feedback from @ferventcoder and @gep13 on the matter first

[2017-12-03 00:06] AdmiringWorm commented on #218
I think we can safely say that enough time has passed, opening up this one for new maintainers

[2017-12-03 00:08] AdmiringWorm commented on #70
this package was approved some time ago

[2017-12-03 00:08] #70 closed

[2017-12-03 00:10] AdmiringWorm commented on #207
@joachimschmidt557 your package is failing the automated checks, seems like the install is hanging (missing dependency perhaps)?

[2017-12-03 01:50] joachimschmidt557 commented on #207
Windscribe installs it's dependencies (OpenVPN) automattically. But it may be that the installation of additional network adapters isn't compatible with the automated check.

[2017-12-03 02:20] yegors commented on #207
Administrative privilege is required to install the Tap driver. Use cli arg "/nodriver" (without quotes) to prevent it from being installed. The application will prompt the user to install it at runtime.

[2017-12-03 02:21] yegors commented on #207
You can also use /verysilent to do a silent install, omitting the Gui installer entirely.

[2017-12-03 05:56] joachimschmidt557 commented on #207
I added the `/NODRIVER` command-line argument. The full command-line option now is `/VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP- /NODRIVER`. Let's see if it works.

[2017-12-04 16:23] mvanstelle commented on #223
That's it! Thanks. @AdmiringWorm, Why do I have so much trouble searching for things on the chocolatey website?

[2017-12-04 16:23] #223 closed

[2017-12-04 16:53] AdmiringWorm commented on #223
@mvanstelle could be that you've been unlucky when you searched.
There is one known problematic server which sometimes doesn't return any search results, as well as it could have been while the server was rebuilding the cache.

[2017-12-04 16:54] mvanstelle commented on #223
@AdmiringWorm When I perform this search, the package I want isn't even on the first page: https://chocolatey.org/packages?q=azure+storage+emulator

[2017-12-04 16:57] AdmiringWorm commented on #223
try with dashes, that's what I did.
https://chocolatey.org/packages?q=azure-storage-emulator

[2017-12-08 10:15] joachimschmidt557 commented on #207
The package is approved.

[2017-12-08 15:33] #207 closed

[2017-12-09 15:10] AdmiringWorm commented on #212
Seems like the issue was closed, and a pr was merged.
Closing this one now then.
Feel free if you disagree with the closing.

[2017-12-09 15:10] #212 closed

[2017-12-09 16:04] AdmiringWorm commented on #209
I plan to look into creating a package for this software

[2017-12-09 16:04] gep13 commented on #212
It would be nice if dtgm could add it to the main chocolatey repo so it could be auto updated, and dtgm wouldn’t need to worry about it.

It isn't quite as simple as that unfortunatly.

@dtgm repository uses Ketarin, where as the Core Team Packages repository uses AU to provide the updates.  The packages would need to be migrated to that repository, so packages are being brought over on a case by

[2017-12-10 06:34] bcurran3 commented on #170
This is easy for me. I'll take it on.

[2017-12-10 08:10] bcurran3 commented on #170
Done.

https://chocolatey.org/packages/trafficlight-chrome/1.1.0.9

[2017-12-10 08:30] bcurran3 commented on #200
I MIGHT look into this.

Looks like this is the latest version right? https://gsdview.appspot.com/chromeos-localmirror/distfiles/croscorefonts-1.31.0.tar.bz2

[2017-12-10 08:37] bcurran3 commented on #178
@mzomparelli I'd like to encourage you to make the package yourself.

Read: https://github.com/chocolatey/choco/wiki/CreatePackages

Then use this as a template: https://chocolatey.org/packages/raidar everything you need is there.

[2017-12-10 08:49] bcurran3 opened #226 "RFP: Veeam Backup & Replication"
REF: https://www.veeam.com/vmware-esx-backup.html

I started this a year or so ago with v9.0 and it's very complicated, so I put it aside. I thought someone else was working on it but can't find a reference to it.

The main problem I had was installing the multitude of programs in the correct order; also I tried installing some of the pre-reqs using existing Chocolatey dependencies but the version

[2017-12-10 15:44] pauby opened #227 "RFP: Box Sync"
I will pick this up

[2017-12-10 17:26] mzomparelli commented on #178
Thanks @bcurran3, I'll give it a try.

[2017-12-11 18:49] ferventcoder opened #228 "RFM - GravitDesigner"
https://chocolatey.org/packages/GravitDesigner/3.1.3

[2017-12-11 21:32] bcurran3 commented on #170
I noticed that too and was wondering if it would come up. :) Sure. I'll do that too.

[2017-12-11 22:32] bcurran3 commented on #170
Done.
https://chocolatey.org/packages/trafficlight-firefox/1.1.1.3
BUT is considered a "legacy extension" and won't work with Firefox 57+. So probably not too useful until they release a new version.

[2017-12-12 22:29] dimqua opened #229 "RFM - Claws Mail"
Out of date.

https://chocolatey.org/packages/claws-mail

[2017-12-14 19:43] dimqua opened #230 "RFM - UNetbootin"
https://chocolatey.org/packages/unetbootin

This package is outdated.

[2017-12-16 04:04] joachimschmidt557 commented on #71
I can create a package for Ring

[2017-12-16 15:22] mcandre opened #231 "RFM - cwrsync"
https://chocolatey.org/packages/cwrsync

* The package has no files.
* A virus scan reports some kind of finding.
* The package is deprecated in favor of rsync, even though rsync for Windows is quite slow compared to cwrsync.

[2017-12-16 20:54] Wildvirus opened #232 "RFM FreeFileSync"
Current version is 9.6, the last package is 8.2

https://chocolatey.org/packages/freefilesync

[2017-12-16 21:04] Wildvirus opened #233 "RFM KeePass 2.x language files"
Current version is 2.4, last package is 2.33
https://chocolatey.org/packages/keepass-langfiles

[2017-12-18 02:49] d2phap opened #234 "RFM ImageGlass"
Current version is 4.0, the last package is 4.5
https://chocolatey.org/packages/imageglass

SHA-1 checksums is provided on download page,
Direct links to each version can be found on its [github](https://github.com/d2phap/ImageGlass).

[2017-12-18 13:19] kkzinger commented on #234
Hi,

I have contacted dtgm (current Maintainer) and offered him help with maintaining this package. I dont use Ketarin for automated package building and therefor was not able to send him a pull request for his package repo.

I already built a automated package because I needed it at my local mirror.
https://github.com/kkzinger/chocolatey-packages-new/tree/master/automatic/imageglass

Feel free to

[2017-12-19 16:02] kkzinger commented on #196
I will take that one its a great tool!

[2017-12-19 16:11] AdmiringWorm opened #235 "RFM - cameyo"
The chocolatey core team packages maintainers have decided to drop this package, and opening a request for new maintainers.

The package was dropped due to changes on the software authors website, and there hasn't been any interest in providing a fix to keep the package up to date.

For anyone interested, the source of the package (including the non-working AU update script) can be seen here:
http

[2017-12-20 22:52] kkzinger commented on #216
@DarwinJS At the moment there are only Browser extensions for installation on Desktops. What do have in mind for the package you requested.

[2017-12-20 22:59] DarwinJS commented on #216
I realized that after digging deeper.  Forgot about this request - I will close it.  Thanks!

[2017-12-21 09:31] joachimschmidt557 commented on #71
The package is submitted and awaiting review

[2017-12-21 16:32] AdmiringWorm commented on #216
@kkzinger @DarwinJS

There are plenty of packages that only install an extension (most are for chrome though), so the request is still valid.

[2017-12-21 17:04] kkzinger commented on #196
Submitted, waiting for Moderation.

[2017-12-21 19:43] kkzinger commented on #216
@AdmiringWorm
Thank you for the hint. I have to look into these packages to get a idea how to manually install browser extensions in a save way.

@DarwinJS
You can reopen the RFP. I will try to make a package for it.

[2017-12-22 12:08] AdmiringWorm commented on #216
@kkzinger if you need inspiration on how to install it for chrome, you can the script I'm using for one of my own googlechrome packages.
https://chocolatey.org/packages/googlechrome-authy

In both the install/uninstall script, the only thing you actually need to change is the extension id.

[2017-12-23 10:34] churchthecat opened #236 "RFP Master PDF Editor"
"Master PDF Editor 4 is a multifunctional PDF Editor

Master PDF Editor is straightforward, easy to use application for working with PDF documents equipped with powerful multi-purpose functionality. With Master PDF Editor you can easily view, create and modify PDF documents. The application enables you to merge several files into one, split a source document into multiple documents, and also to co

[2017-12-27 04:13] sumo300 opened #237 "RFP SonarLint for Visual Studio 2017"
SonarLint spots bugs and quality issues as fast as you code.

https://marketplace.visualstudio.com/items?itemName=SonarSource.SonarLintforVisualStudio2017

[2017-12-28 10:40] pauby commented on #233
I will look at picking this up.

[2017-12-28 10:44] pauby commented on #233
That was a quick look - this is part of the core team packages for Chocolatey. @wildvirus can you post an issue over at their repo as it's a manual update?

[2017-12-28 10:44] #233 closed

[2017-12-29 17:49] TakataSanshiro commented on #197
I've submitted one and pia has passed automated validation, automated testing.
https://chocolatey.org/packages/pia/75.0

[2017-12-30 16:34] kkzinger commented on #234
Have not heard of dtgm. Please add me as Maintainer of the package.

[2017-12-30 17:11] AdmiringWorm commented on #234
@kkzinger please send out an email to the site admins, and we can get you added as a maintainer of the package.

[2017-12-31 23:13] ferventcoder opened #238 "RFM - daemontoolslite"
https://chocolatey.org/packages/daemontoolslite/4.49.1.20140507

[2018-01-01 03:14] bcurran3 commented on #170
The status on this really needs to be updated.

[2018-01-01 22:59] kkzinger commented on #234
Package submitted and awaiting moderation.

[2018-01-02 18:28] ferventcoder opened #239 "RFM - NGrok.Portable"
https://chocolatey.org/packages/ngrok.portable/2.0

[2018-01-02 19:36] mcandre opened #240 "RFP - bzip2"
http://www.bzip.org/

http://gnuwin32.sourceforge.net/packages/bzip2.htm

[2018-01-04 15:07] kcclemo opened #241 "RFP - HelixALM"
It would be nice to have the HelixALM client added to the repository:
https://www.perforce.com/downloads/helix-alm-client

[2018-01-05 18:32] achims311 commented on #219
Official web Site: https://kmymoney.org/
Current download is: https://download.kde.org/stable/kmymoney/4.8.1.1/

[2018-01-06 16:57] pauby opened #242 "RFM - OpenMPT"
https://chocolatey.org/packages/openmpt

[2018-01-07 22:50] SZanlongo opened #243 "RFP - Cacher"
Code snippet organizer.
https://www.cacher.io/

[2018-01-07 22:51] SZanlongo opened #244 "RFP - Onetastic"
Multi-purpose addin for Microsoft OneNote, including macros and calendar.

https://getonetastic.com/

[2018-01-08 05:46] AdmiringWorm commented on #244
Changing to RFM, a package was submitted over a year ago, but no stable version was ever pushed.
https://chocolatey.org/packages/onetastic

[2018-01-08 09:29] pauby commented on #244
I had looked at this before but was unable to get a direct download URL so
I abandoned it.

However I will pick this up again.

On 8 Jan 2018 5:46 am, "Kim J. Nordmo" <notifications@github.com> wrote:

[2018-01-08 15:27] AdmiringWorm commented on #244
@pauby you plan to start working on it now?
If so, we should change the status labels, otherwise it's still up for grabs until you do.

[2018-01-08 17:39] AdmiringWorm commented on #209
I completely forgot about this one, I have something ready which should be pushed to chocolatey.org shortly.

I'll update when it has.

[2018-01-08 17:40] AdmiringWorm commented on #209
It was pushed just now:

Metapackage: https://chocolatey.org/packages/qnapi/0.2.3
Install Package: https://chocolatey.org/packages/qnapi.install/0.2.3
Portable Package: https://chocolatey.org/packages/qnapi.portable/0.2.3

[2018-01-08 18:13] pauby commented on #244
That's fine. Leave them as is and when I get the time to work on it I'll
change them if it's still available.

On 8 Jan 2018 3:27 pm, "Kim J. Nordmo" <notifications@github.com> wrote:

[2018-01-08 19:42] AdmiringWorm commented on #243
I'm looking into creating a package for this one, and will have something ready later this week

[2018-01-10 00:53] stephengroat opened #245 "RFM - uncrustify"
Currently have a PR (https://github.com/StevenWolfe/choco-uncrustify/pull/1) with whom I believe to be the current maintainer, but haven't seen any movement.

Need an update or some stable version to be pushed

I can work on it, i just need it opened up

[2018-01-10 04:09] ferventcoder commented on #225
I think we should likely move 1password to v6, but also create a 1password4 package for folks who need to stay in the lower edition. IIRC 1Password v6 doesn't allow you to have a local file at all, making it incompatible with folks who want to hook it up with their own solutions for sharing across machines and devices.

[2018-01-10 16:29] SZanlongo opened #246 "RFP - Franz"
Franz is your messaging app for WhatsApp, Facebook Messenger, Slack, HipChat, Telegram and many many more.

https://meetfranz.com/

[2018-01-10 17:25] AdmiringWorm commented on #246
@SZanlongo I take it that this is the package you're looking for?
https://chocolatey.org/packages/franz

Since it doesn't have a stable release, it won't show up in normal searches unless you change the dropdown box to `Include Prereleases` on the package search page.

![image](https://user-images.githubusercontent.com/1474648/34786184-ac19dd44-f633-11e7-92a6-b3c73131dd20.png)

[2018-01-10 19:14] SZanlongo commented on #246
That must be it, I was doing a regular search ad nothing showed up.

[2018-01-11 05:53] AdmiringWorm commented on #236
I will be looking into creating a package for this request

[2018-01-11 16:43] AdmiringWorm commented on #246
closing this request then, as it already exist.

[2018-01-11 16:43] #246 closed

[2018-01-11 17:32] AdmiringWorm commented on #245
lets give @StevenWolfe a few more days before we open this request up for new maintainers.

[2018-01-11 17:33] AdmiringWorm commented on #232
@Wildvirus I apologise, I have somehow missed this request.
To start of, have you tried to contact the maintainer first before opening this request?

[2018-01-11 17:40] AdmiringWorm commented on #231
Which it shouldn't when the package have been deprecated.

It actually doesn't seem to have reported anything, only that it have scanned the package itself.

A package is usually deprecated if development have ceased for this software, and a different software replaces it.
This is something you'll need to contact the package maintainer about though.
However, I see all of the versions have been unl

[2018-01-11 17:41] stephengroat commented on #245
no problem, sounds good!

[2018-01-11 17:42] AdmiringWorm commented on #230
@dimqua somehow I have missed this request, and I apologise for that.
But before we can open up this request for a new maintainer, I need to ask:
Have you tried to contact the current maintainer before opening this request?

[2018-01-11 17:46] AdmiringWorm commented on #169
@zero77 I see the issue was closed, is the package still outdated? or is it being kept up-to-date?

[2018-01-11 19:16] zero77 commented on #169
It was up to date for a wile but, after checking its chocolatey page and the official website it is out of date a gain.

[2018-01-12 13:07] pauby opened #247 "RFM - Teamviewer"
https://chocolatey.org/packages/teamviewer

[2018-01-12 13:10] pauby commented on #247
Will pick this one up.

[2018-01-12 18:09] ghost opened #248 "RFM - Mozilla Firefox Developer Edition"
https://www.mozilla.org/firefox/developer/

[2018-01-12 18:14] mikolajzaremba03 commented on #23
Why this issuse is labeled as `Blocked Upstrem` and `Status: Available For Maintainer(s)`?

[2018-01-12 19:13] AdmiringWorm commented on #23
@mikolajzaremba03 to quote the Readme.md

In this case, it's due to the need for a registered account to see the downloads, which means that redistribution must be granted by the software authors.

[2018-01-12 19:19] AdmiringWorm commented on #23
@mikolajzaremba03 you can read more about the meaning of the status labels here:
https://github.com/chocolatey/chocolatey-package-requests#package-request-status

[2018-01-12 20:14] #170 closed

[2018-01-12 20:15] AdmiringWorm commented on #243
Just pushed a package for this one now:
https://chocolatey.org/packages/cacher/1.2.1

[2018-01-12 20:30] AdmiringWorm commented on #244
Had a quick look at this one.
And looks like it's impossible to get a direct download link for the files, unless the request is a `POST` http method and the agree checkbox data is sent as well.

As such I'm adding the `Blocked Upstream` label, as it would require to get redistribution permissions from the authors before it can be made a chocolatey package.

[2018-01-12 20:32] AdmiringWorm commented on #236
just submitted a package for this request now:
https://chocolatey.org/packages/master-pdf-editor/4.3.62

[2018-01-12 20:55] dimqua commented on #248
https://chocolatey.org/packages/firefox-dev

[2018-01-12 20:56] dimqua commented on #230
Yes. No answer.

[2018-01-12 21:50] AdmiringWorm commented on #248
changing the request to a RFM

[2018-01-12 21:51] AdmiringWorm commented on #230
I see, in that case I'll open it as available

[2018-01-16 14:16] pauby opened #249 "RFM - Freefilesync"
https://www.chocolatey.org/packages/freefilesync

[2018-01-16 14:18] pauby commented on #249
My bad - closing as issue #232 already references this.

[2018-01-16 14:18] #249 closed

[2018-01-16 14:24] pauby opened #250 "RFM - Luminance HDR"
https://www.chocolatey.org/packages/luminance
https://www.chocolatey.org/packages/luminance.install

EDIT:
Also adding portable package, as it haven't gotten any package updates since 2014
https://www.chocolatey.org/packages/luminance.portable

[2018-01-16 14:26] pauby opened #251 "RFM - Hugin"
https://chocolatey.org/packages/hugin

[2018-01-16 21:06] pauby commented on #232
Gunner submitted a request to the Chocolatye Moderators group stating that he has used the 'Contact Maintainer' link for this and received no response.

[2018-01-16 21:06] pauby opened #252 "RFM - PDFsam"
https://chocolatey.org/packages/pdfsam

[2018-01-16 21:27] AdmiringWorm commented on #252
@pauby was the maintainer tried to be contacted?
From my understanding it was only in the comments section, not using `Contact Maintainer`

[2018-01-19 06:41] joachimschmidt557 commented on #9
I'll create a package for Quod Libet

[2018-01-19 11:40] dimqua opened #253 "RFM - Firefox Beta"
https://chocolatey.org/packages/firefox-beta

[2018-01-19 17:46] AdmiringWorm commented on #253
Should probably move this package to the core team packages, as we already maintain the default [firefox](https://chocolatey.org/packages/Firefox) package as well as the [firefoxESR](https://chocolatey.org/packages/FirefoxESR)

Anyways, I'll add it as available anyhow

[2018-01-20 20:59] pauby commented on #227
Package now published.

[2018-01-20 20:59] #227 closed

[2018-01-21 23:19] stephengroat commented on #245
@AdmiringWorm StevenWolfe/choco-uncrustify#1 was merged, but still no updated package pushed.

i'm giving another week to try to get the package updated

[2018-01-21 23:32] klondikemarlen commented on #199
I am interested. I am also way out of my depth :P. Do you have an example of an older ".nuspec" file for the package? So I can try and learn by example? Or a _minimum use case_ example? Of this or another package? With an example .ps1 file as well if possible. This is my first package. But since I use PyCharm Community and am getting tired of the update popup (from PyCharm itself) I decide I would

[2018-01-22 01:58] klondikemarlen commented on #199
Ok. I have a possibly working package (https://github.com/klondikemarlen/Chocolatey-Packages/tree/master/PyCharm-community). I am now waiting for the testing environment (https://github.com/chocolatey/chocolatey-test-environment) to download (I have really slow internet).

[2018-01-22 02:04] klondikemarlen commented on #199
If anyone has a good bot tutorial I would love to read it. The difference between version seems very small. So it should be easy to update automatically for each edition as it comes out.

[2018-01-22 05:52] klondikemarlen commented on #199
I can't get the testing environment up. I keep getting
![image](https://user-images.githubusercontent.com/23045206/35206936-d9f83d86-fef4-11e7-9baa-8449a99f5917.png)

Does anyone know if there is a bug tracker for the test suite? Since it says not to post issues on the main github. I tried reinstalling VirtualBox (am using vagrant 1.9.8, virtualbox 4.3.40) and Vagrant (I downgraded from vagrant 2.

[2018-01-22 13:02] joachimschmidt557 commented on #71
The package `ring` is available now

[2018-01-22 13:04] joachimschmidt557 commented on #9
The packages `quodlibet.install` and `quodlibet.portable` are submitted and awaiting review.

[2018-01-22 14:14] dragon788 commented on #199
I'd recommend giving AppVeyor a try. I'll see if I can find the gist I had that provides a universal Chocolatey build script. The chocolatey-test-environment has its own GitHub repo under the chocolatey organization.