[2019-12-05 12:29] pauby commented on #723
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:29] pauby commented on #722
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:29] pauby commented on #721
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:29] pauby commented on #720
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:30] pauby commented on #718
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:30] pauby commented on #719
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:30] pauby commented on #739
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:30] pauby commented on #742
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:30] pauby commented on #741
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:32] pauby commented on #437
@vintagesucks As there has not been any update on this it will be closed in the next three days. Please let us have an update before then.

[2019-12-17 16:05] #742 closed

[2019-12-17 16:06] #741 closed

[2019-12-17 16:06] #729 closed

[2019-12-17 16:07] #739 closed

[2019-12-17 16:07] #728 closed

[2019-12-17 16:07] #727 closed

[2019-12-17 16:10] #437 closed

[2019-12-17 16:10] #718 closed

[2019-12-17 16:10] #719 closed

[2019-12-17 16:10] #720 closed

[2019-12-17 16:10] #721 closed

[2019-12-17 16:10] #722 closed

[2019-12-17 16:10] #723 closed

[2019-12-17 16:10] #724 closed

[2019-12-17 16:10] #725 closed

[2019-12-17 16:10] #726 closed

[2019-12-19 14:48] fds39 opened #743 "RFP - NetTraffic"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.venea.net/web/nettraffic
Direct download URL for the software / installer : h

[2019-12-19 14:50] fds39 commented on #743
Sorry, it's RFP, not RFM. Please edit the title.

[2019-12-20 03:11] teknowledgist commented on #740
I'm willing to be the maintainer of this.

[2019-12-20 03:29] teknowledgist commented on #732
I'll take this on as a package.

[2019-12-20 10:00] aster94 opened #744 "RFP - weasis"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://nroduit.github.io/en/
Direct download URL for the software / installer : https://

[2019-12-20 15:15] AdmiringWorm commented on #740
@teknowledgist please send a message using the `Contact Site Admins` on the package page, then let us know when you have gotten added as a maintainer.

[2019-12-20 15:22] AdmiringWorm commented on #743
On their download page, they specifically request not to use external downloading software. (Which chocolatey would kind of be).

There also isn't any license that specifically allows redistribution of the software, so the only reason this could be created is either by the developers of the software or through explicit permission to redistribute.

For now, I will be putting this issue in a Triage

[2019-12-21 17:56] b16r05 commented on #739
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.strawberrymusicplayer.org/
Direct download URL for the software / installer :

[2019-12-21 19:32] andrizmitnick opened #745 "RFP - Clipto Pro"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://github.com/clipto-pro/Desktop
https://clipto.pro
Direct download URL for the soft

[2019-12-22 00:19] boubou commented on #716
Since I cant test and troubleshoot the installation problem, the package can be transfered to someone else.
When I try to install and start the chocolatey-test-environement, I got a BSOD "System_Service_Exception".

[2019-12-23 16:15] pauby commented on #743
@AdmiringWorm What are your thoughts around not labelling this 'Can't Implement' and closing it? What are we hoping the next stage is here that requires keeping it open?

[2019-12-24 01:58] teknowledgist commented on #732
`standardnotes` package has been submitted.

[2019-12-24 04:19] teknowledgist commented on #740
Maintainership gained.  Updated package submitted.

[2019-12-25 13:09] AdmiringWorm commented on #743
@pauby the reason why I am not closing this issue immiedately, is because it can still be created. However, it will require direct permission from the developers of the software.

The next stage would be for anyone wishing to create a package for this, to contact the developers to request permissions to redistribute the software, we don't have any labels in this repository that reflects this thoug

[2019-12-28 22:11] chtof commented on #454
Could a moderator can check if there is an intaller on https://www.growlforwindows.com? And to close this issue if it's confirmed there is no available installer? Thank you.

[2019-12-29 18:21] teknowledgist commented on #744
[Package submitted](https://chocolatey.org/packages/weasis)

[2019-12-29 21:06] gep13 commented on #454
@chtof looks like the last available version is stored on the GitHub repository here:

https://github.com/briandunnington/growl-for-windows#growl-for-windows

Not sure why this isn't linked through from the growlforwindows website though.

[2019-12-30 10:16] Sylian1 commented on #733
I use soundswitch everyday since several years.
Could I hope to see it in a new package from Chocolatey ?
Thanks a lot

[2019-12-31 10:59] pauby commented on #743
As we are opening for anyone to create the package I think we should just use the `Available For Maintainers` label - they can then see the discussion here and work through it?

[2019-12-31 11:31] AdmiringWorm commented on #743
Fair enough, I will change the labels.

[2019-12-31 14:05] teknowledgist commented on #743
I've contacted the developer about distribution in an embedded package.  He is considering it.  I will update here for either decision.

[2019-12-31 14:09] pauby commented on #743
Awesome @teknowledgist !

[2019-12-31 18:04] AdmiringWorm commented on #743
@teknowledgist I have assigned the issue to you, let us now how everything goes.

[2020-01-01 13:43] luzpaz opened #746 "RFP - giada"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.giadamusic.com/
https://github.com/monocasual/giada

Direct download URL for

[2020-01-01 17:32] teknowledgist commented on #746
Just a comment:  Currently, Giada can't be a machine-wide package without the security risk of giving all users modify rights to the location of the executable because the configuration file is fixed to the same directory.

[2020-01-01 19:23] chtof commented on #745
Status: **Review**
- https://chocolatey.org/packages/clipto-pro
- https://chocolatey.org/packages/clipto-pro.install

[2020-01-02 16:11] mkelley1972 opened #747 "RFP - Microsoft SQL Server 2019 Reporting Services"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://www.microsoft.com/en-us/download/details.aspx?id=100122
Direct download URL for

[2020-01-04 01:20] chtof commented on #731
Status: **Review**
https://chocolatey.org/packages/doxie

[2020-01-04 16:58] teknowledgist commented on #746
The problem of the config file location is [on the developer's radar](https://github.com/monocasual/giada/issues/299).  It's hard to say how long until it is resolved.

[2020-01-05 06:13] dgalbraith commented on #747
Package creation in progress.

[2020-01-07 02:20] brogers5 opened #748 "RFP - ROCCAT Swarm"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://en.roccat.org/Support/Product/ROCCAT-Swarm
Direct download URL for the software /

[2020-01-07 02:28] brogers5 opened #749 "RFP - WD Security for Windows"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://support.wdc.com/downloads.aspx?p=172
Direct download URL for the software / insta

[2020-01-07 02:40] brogers5 opened #750 "RFP - WD SmartWare"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://support.wdc.com/downloads.aspx?p=259
Direct download URL for the software / insta

[2020-01-07 08:41] mkevenaar commented on #750
I am willing to pick this one up.

[2020-01-07 08:41] mkevenaar commented on #749
I am willing to pick this one up.

[2020-01-07 15:47] brogers5 commented on #731
The package as linked above appears to have been published and approved 3 days ago. I think we're clear to close this one out.

Thanks @chtof for picking this up!

[2020-01-07 15:49] #731 closed

[2020-01-07 16:37] brogers5 opened #751 "RFP - Fuze Desktop for Windows"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.fuze.com/
Direct download URL for the software / installer : https://api.fuze

[2020-01-07 16:42] pauby commented on #751
I thought this was already a package but can't seem to see it listed!

[2020-01-08 12:34] dgalbraith commented on #747
Package ready for review - https://chocolatey.org/packages/ssrs-2019/15.0.7243.37714

[2020-01-08 13:38] mkevenaar commented on #749
This package is submitted:
https://chocolatey.org/packages/wd-security

[2020-01-09 02:21] teknowledgist commented on #733
[SoundSwitch package](https://chocolatey.org/packages/soundswitch) created and submitted.

[2020-01-09 17:39] TheCakeIsNaOH opened #752 "RFM - Linux Reader"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/linux-reader
Package source URL: https://github.com/TheCakeIsNaOH/chocolatey-packages/tree/master/Linux%20Reader

There is no practical way to create an AU script for thi

[2020-01-12 00:45] AdmiringWorm commented on #752
I can take over the maintenance for this package

@TheCakeIsNaOH would you mind adding me as a maintainer for the package?

[2020-01-12 01:02] dgalbraith commented on #752
While not optimal from a bandwidth usage perspective it is possible to automate here in the absence of version informaiton on the package source download pages.  The version can be determined from the file meta-data eg.

`(Get-Item '.\Linux_Reader.exe').VersionInfo.FileVersion`

[2020-01-12 01:05] AdmiringWorm commented on #752
@dgalbraith usually pretty easy to get the necessary information (even in the case where a file must be downloaded), and still not needing to download the file on every update run.

I have done that on a few packages I already maintain, and will be using that method on this one as well.

[2020-01-12 01:30] TheCakeIsNaOH commented on #752
@AdmiringWorm Request sent, thanks.

Just so you know, they the version at https://www.diskinternals.com/linux-reader lies, as they do not update the page on minor version changes.

[2020-01-12 01:34] AdmiringWorm commented on #752
@TheCakeIsNaOH I just found out. Still not a problem though. But thanks for letting me know

[2020-01-12 02:48] AdmiringWorm commented on #752
A new version have been pushed (and also is automatically updated 😃)

[2020-01-12 14:49] AdmiringWorm commented on #263
Closing as it seems this package is being maintained.

[2020-01-12 14:49] #263 closed

[2020-01-13 09:21] dgalbraith commented on #747
Package has bee reviewwed and is now available - https://chocolatey.org/packages/ssrs-2019

[2020-01-13 09:34] #747 closed

[2020-01-13 18:44] mkevenaar commented on #749
Available for install.

[2020-01-13 18:44] #749 closed

[2020-01-13 19:36] mkevenaar commented on #750
Submitted: https://chocolatey.org/packages/wd-smartware

[2020-01-13 23:24] AdmiringWorm commented on #752
New version have been approved

[2020-01-13 23:24] #752 closed

[2020-01-14 21:59] bcurran3 commented on #718
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 21:59] bcurran3 commented on #719
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 21:59] bcurran3 commented on #720
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 21:59] bcurran3 commented on #721
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 21:59] bcurran3 commented on #722
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #723
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #724
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #725
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #726
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #727
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #728
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #729
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #741
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:00] bcurran3 commented on #742
All information has been provided, requiring strict adherence to the template is absurd. Closing this "due to the template not being used" is not in the best interest of the community.

## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: see first post

[2020-01-14 22:04] bcurran3 opened #753 "RFM: winaero-tweaker"
## Current Maintainer

- [x ] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/winaero-tweaker
Package source URL: available on the package page on chocolatey.org

[2020-01-15 21:47] ferventcoder commented on #505
Probably should deprecate the older launchy to point to this one if it will no longer be maintained forward.

[2020-01-15 21:51] dgalbraith commented on #753
I would be happy to pick this up

[2020-01-16 01:57] bcurran3 commented on #753
Let me know your Chocolatey account.

[2020-01-16 02:04] dgalbraith commented on #753
Chocolatey account is [dgalbraith](https://www.chocolatey.org/profiles/dgalbraith)

[2020-01-16 02:34] bcurran3 commented on #753
Excellent.
I just sent you the maintainer request.

[2020-01-16 02:34] #753 closed

[2020-01-16 09:40] pauby commented on #743
@teknowledgist Any update on this?

[2020-01-16 15:36] karlhorky opened #755 "RFP - Microsoft Edge Stable"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.microsoft.com/en-us/edge
Direct download URL for the software / installer : ht

[2020-01-18 02:50] teknowledgist commented on #743
This is what I received earlier this week:

I think he is not understanding.  I will follow up.

[2020-01-20 09:34] pauby commented on #743
Thanks @teknowledgist - much appreciated.

[2020-01-21 19:59] chtof commented on #745
Status: **Published**
- https://chocolatey.org/packages/clipto-pro
- https://chocolatey.org/packages/clipto-pro.install

Can be closed.

[2020-01-21 20:23] #745 closed

[2020-01-23 23:39] brogers5 commented on #733
Package has been approved as of yesterday. We should be clear to close this one out.

[2020-01-23 23:39] brogers5 commented on #750
Package has been approved. We should be clear to close this one out.

[2020-01-23 23:49] #750 closed

[2020-01-23 23:49] #733 closed

[2020-01-23 23:51] AdmiringWorm commented on #744
I see that the package have been approved. Closing this one.

[2020-01-23 23:51] #744 closed

[2020-01-24 04:30] teknowledgist commented on #743
So, it appears that the developer is more concerned about the installer being "bundled" (like in a .nupkg) than about distribution.  He is saying that the license allows it to be distributed as is from other sites and that a Chocolatey package can download it from wherever that is.  He seems unwilling to amend or make an exception to the license to allow it to be embedded.

Specifically:

"Point 1

[2020-01-24 08:58] fds39 commented on #743
@teknowledgist , I could not imagine the legal difficulties that had to be overcome to create such a small Chocolatey package.
I thank you for persisting in trying to find a technical solution (even if it ends in failure).

[2020-01-24 13:23] teknowledgist commented on #743
@fds39 Bah, not difficult; Just a few emails and no lawyers!  😄

As for ending in failure, it's not over quite yet.  It depends on the ruling of the admins.

[2020-01-24 18:23] pauby commented on #743
@teknowledgist thanks for persevering with this.

Given the difficulties with all the options it sounds like it must be embedded (as the installer is not available to download directly from the vendor)? If the installer is hosted by an unofficial site then, if I was moderating it, I'd not approve it.

Embedding the installer sounds like the best option. If you could get an agreement from the vendo

[2020-01-25 00:03] brogers5 opened #756 "RFP - keepass2-haveibeenpwned"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/andrew-schofield/keepass2-haveibeenpwned
Direct download URL for the s

[2020-01-25 00:28] brogers5 opened #757 "RFP - KeePass RuleBuilder"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/ihanson/KeePass-Rule-Builder
Direct download URL for the software / in

[2020-01-25 10:33] pauby commented on #757
As I already maintain Keepass I'll pick this up.

[2020-01-25 10:35] pauby commented on #756
I already maintain Keepass so I'll pick this up too.

[2020-01-25 12:16] chtof commented on #454
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Latest version already available in Chocolatey and "Growl for Windows" seems to be no longer maintained.

[2020-01-25 12:17] chtof commented on #442
Status: **Published**
- https://chocolatey.org/packages/powerfolder

@bcurran3 See if you are still interested to ass support in choco-package-list-backup.

Can be closed.

[2020-01-26 00:44] teknowledgist commented on #743
I just sent one last email thanking the developer for his patience.  I also said that if he won't make an exception to distributing NetTraffic in a Chocolatey package from the public repository, then I will inform the "community" that a NetTraffic package is not possible at this time.

If he doesn't respond in the next week or he confirms that he won't make exceptions to the license, I think we ha

[2020-01-26 04:11] joshuacant opened #758 "RFP - Amazon Games App"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://twitch.amazon.com/tp
Direct download URL for the software / installer : https://d

[2020-01-26 17:03] #442 closed

[2020-01-28 03:01] teknowledgist commented on #743
Hi.  The developer writes:

I would think it's OK, but I don't want to promise something I can't deliver.

[2020-01-28 08:52] localhorst opened #759 "RFP - TextExpander for Windows"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://textexpander.com/download/
Direct download URL for the software / installer: https

[2020-01-28 10:32] pauby commented on #743
@teknowledgist As this would be an official download location and as long as the moderator can verify it is official, this would be good.

Awesome work!

[2020-01-28 10:33] pauby commented on #758
The package would need to be tagged as licensed as it requires a subscription to use.

[2020-01-28 10:35] pauby commented on #755
Is this not [this package](https://chocolatey.org/packages/microsoft-edge)?

[2020-01-28 10:36] pauby commented on #740
Published.

[2020-01-28 10:36] #740 closed

[2020-01-28 10:37] pauby commented on #732
@teknowledgist This is 'waiting on maintainer'?

[2020-01-28 10:38] #730 closed

[2020-01-28 10:40] pauby commented on #700
@boubou This package was rejected as it was not fixed during the grace period. Can you confirm what you want to happen to it?

[2020-01-28 10:47] pauby commented on #715
@mkevenaar You're not a maintainer on this package (using the URL in the OP)?

[2020-01-28 10:48] pauby commented on #697
@boubou This package has been rejected as it wasn't fixed in the grace period. Can you confirm what you happen to it?

[2020-01-28 10:49] #694 closed

[2020-01-28 10:50] #688 closed

[2020-01-28 10:51] #657 closed

[2020-01-28 10:54] pauby commented on #650
@chtof The package submitted has been rejected within the grace period for fixes. Can you confirm what you want to happen to here?

[2020-01-28 10:57] pauby commented on #628
New version was pushed in September 2019 which is after this request was made so closing this now. If we need to reopen let us know.

[2020-01-28 10:59] pauby commented on #549
There's been no update to this since the last message so I'm opening it to other maintainers.

[2020-01-28 11:01] pauby commented on #544
As it's been almost a year since this request was raised I'm keen to get an update on this @zoltanp @Foadsf

[2020-01-28 11:02] pauby commented on #454
@chtof If 'Growl For Windows' is no longer maintained I'm unsure if we should still have this issue open?

[2020-01-28 11:03] pauby commented on #293
@boubou This package has been rejected. Can you confirm what you want to happen here?

[2020-01-28 11:04] pauby commented on #226
Can we consider this complete?

[2020-01-28 11:54] chtof commented on #454
@pauby **Can be closed** as no longer maintened and latest version already available on Chocolatey.

[2020-01-28 11:57] chtof commented on #650
@pauby My record of attempts... I haven't find a way to download the software by a script and don't understand the "logic" of the downloading platform. Need help or another maintainer (or maybe it's not possible to create a package).

[2020-01-28 12:17] mkevenaar commented on #226
@pauby Yes I think so.

[2020-01-28 12:17] #226 closed

[2020-01-28 12:23] karlhorky commented on #755
Ah, this wasn't there when I submitted. Looks like a package was added for this in the meantime! Thanks for the heads up. Closing this issue.

[2020-01-28 12:23] #755 closed

[2020-01-28 14:18] pauby commented on #650
@chtof What's the issue? Maybe somebody can help?

[2020-01-28 14:19] #454 closed

[2020-01-28 15:20] joewiz opened #760 "RFP - eXist-db"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://exist-db.org
Direct download URL for the software / installer : https://bintray.c

[2020-01-28 15:50] pauby commented on #760
@joewiz There many different types and version of Java now - which one(s) does exist-db support?

[2020-01-28 21:32] chtof commented on #650
@pauby The issue is to find the URL to use. The last attempt was:
`packageName = $env:ChocolateyPackageName url = Get-RedirectedUrl 'http://file2.softsea.com/get.php?id=836900551' 'http://www.softsea.com/download/DjVu-Converter.html'`

It's difficult to explain. It works after you visit the website for a while. Maybe the access is allowed for a while but I don't know why. I have also tried another

[2020-01-28 21:41] joewiz commented on #760
@pauby Thank you for your question. For eXist-db, while Java 8+ is the minimum requirement, we  recommend Java 11. We have tested a number of OpenJDK flavors and have had good results with AdoptOpenJDK, etc. I believe, for example, that a dependency on `adoptopenjdk11` would suffice. I would be interested to know if the resulting installation sets the JAVA_HOME environment variable or if Chocolate

[2020-01-28 21:59] joewiz commented on #760
@johanjanssen I see you're the maintainer of many of the OpenJDK packages on Chocolatey. I noticed you've taken slightly different approaches with https://github.com/johanjanssen/AdoptOpenJDKChocolateyPackages and https://github.com/johanjanssen/ChocolateyPackages. Am I correct that you're planning to move the packages in the former repository (which use the zip file distribution) to the latter on

[2020-01-29 03:08] teknowledgist commented on #732
Yes.  It is a per-user install only.

I've asked for that to be changed, but it was within [a post about creating the Chocolatey package](https://github.com/standardnotes/forum/issues/821) that was moved from a desktop issue into the "forum".  I'm going to open a specific ticket for the desktop app.

[2020-01-29 06:40] johanjanssen-sanoma commented on #760
@joewiz that's unfortunately not correct. OpenJDK doesn't provide MSI installers at this time. So I unfortunately cannot migrate from the ZIP files to the MSI installer.

I like the installers better, they are easier to maintain. Next to that there is less scripting, which means less errors. However the AdoptOpenJDK installer at the moment has the disadvantage that if you upgrade the machine reboo

[2020-01-29 10:29] pauby commented on #760
@joewiz

Chocolatey doesn't set that specifically. That is down to the maintainer / package / software to do that.

I would agree with what @johanjanssen-sanoma said regarding Java dependencies. In the 'good ole days' there was one Java so if your package needed Java, you added the dependency. There are so many today that it's no longer a good user experience to depend on a particular flavour of J

[2020-01-29 10:30] pauby commented on #732
Can you update here so we can keep a track of what is happening? Thanks.

[2020-01-29 10:41] pauby commented on #650
@gep13 has had some luck with working on the Package Validator recently due to similar hoops that need to be jumped through. Maybe he can help?

[2020-01-30 13:19] zoltanp commented on #544
@pauby Since last year Februrary, KTechLab builds and runs with Qt5, but it is work in progress; some more fixes are needed for a KF5/Qt5 release.
In the direction of building and running KTechLab on windows, I haven't managed to do anything directly. These days it should be easier to do; volunteers are welcome :-)

[2020-01-30 13:36] pauby commented on #544
@zoltanp Where is the license for the project? The Git repository specified in the RAEDME isn't there anymore? We need to determine if this software can be embedded. If not, without an official build I can't see how it can proceed.

[2020-01-30 13:41] zoltanp commented on #544
@pauby Where are you looking?

The official repository is at KDE:

https://cgit.kde.org/ktechlab.git/

and also there is a(n extra) mirror on github:

https://github.com/ktechlab/ktechlab/

As license, see the COPYING* files in the sources. Basically it is GNU GPLv2+.

[2020-01-30 13:52] pauby commented on #544
I was looking in your README under 'Getting the source' and the URL https://anongit.kde.org/ktechlab.git ends up finding no repositories.

I assumed KDE would be some flavour of GPL so thanks for confirming that.

[2020-01-30 13:56] zoltanp commented on #544
I see now, the redirect is incorrect (has an excessive .git at the end). I will fix that, thanks.

[2020-01-30 21:28] teknowledgist commented on #732
[Here is the issue that's getting traction.](https://github.com/standardnotes/desktop/issues/469)

[2020-01-31 16:26] joewiz commented on #760
@johanjanssen-sanoma @pauby Thanks very much for your advice. We'll discuss this on our next community call and get back to you if it seems like Chocolatey can help reduce the pain/uncertainty of getting Java installed alongside our application. At the very least, I think Chocolatey users may benefit from having an eXist-db package, just as many Mac users use Homebrew to install eXist-db: https://

[2020-02-02 22:23] zoltanp commented on #544
Looking at it again, this URL is for `git` commands, the git web interface is at `https://commits.kde.org/ktechlab` . Updated the Readme file to be more explicit about these URLs.

[2020-02-05 22:52] brogers5 opened #761 "RFP - Microsoft SQL Server Compact 4.0"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.microsoft.com/en-in/download/details.aspx?id=17876
Direct download URL for th

[2020-02-07 09:07] Trance-Paradox opened #762 "jdk13"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.oracle.com/technetwork/java/javase/downloads/jdk13-downloads-5672538.html
Dir

[2020-02-07 09:16] pauby commented on #762
I have tried to verify that this doesn't exist on the Chocolatey Community Repository but as the Java ecosystem has exploded I honestly don't know if it does or not. So I'll have to take your word for it!

[2020-02-07 09:17] pauby commented on #760
@joewiz Where are we with this now?

[2020-02-07 09:18] pauby commented on #743
@teknowledgist Are we any further forward with this?

[2020-02-07 09:20] pauby commented on #715
@mkevenaar Can you update us on this?

[2020-02-07 09:21] pauby commented on #700
As there has been no update to this I'm changing this to a 'RFM' request (as we already have a package albeit not working).

[2020-02-07 09:22] pauby commented on #697
As there has been no update to this I'm changing this to a 'RFM' request (as we already have a package albeit not working).

[2020-02-07 09:24] pauby commented on #653
@chtof Has there been any progress on this or are you waiting for https://github.com/chocolatey/choco/issues/1221 ?

[2020-02-07 09:25] pauby commented on #650
@chtof Can you update us on this?

[2020-02-07 09:26] mkevenaar commented on #715
@pauby I have marked it available again as I don't have time for it currently.

[2020-02-07 09:27] pauby commented on #435
@wget I appreciate this was a while ago. It looks like there will not, in the foreseeable future, be a way to create a package for this that can be used on the Chocolatey Community Repository? If that is the case then I'm of the mind to close this.

@AdmiringWorm what's your thoughts?

[2020-02-07 09:31] pauby commented on #376
Given this has been open for a while, it needs to be compiled from source, [Chocolatey in the short-term will not have this functionality](https://github.com/chocolatey/choco/issues/1709), and there being  little traction on the Boost issue, it would appear a package we use on the Chocolatey Community Repository is a long way off?

I am of the mind to close this for the time being with a view to r

[2020-02-07 09:32] pauby commented on #293
As there has been no update to this I'm changing this to a 'RFM' request (as we already have a package albeit not working).

[2020-02-07 09:34] pauby commented on #147
Is there any movement with this?

[2020-02-07 09:34] pauby commented on #146
Is there any movement with this?

[2020-02-07 09:35] pauby commented on #141
Is there any further movement on this?

[2020-02-07 10:45] ComFreek commented on #376
I agree on closing this for the time being.

[2020-02-07 12:05] AdmiringWorm commented on #435
@pauby I agree with you, no need to keep this one open.
If something change in the future it could always be re-opened then.

[2020-02-07 12:05] #435 closed

[2020-02-07 12:07] AdmiringWorm commented on #376
@pauby I agree with you. We can always open this one in the future if anything changes.

[2020-02-07 12:07] #376 closed

[2020-02-07 12:45] teknowledgist commented on #743
I let the author know that we could work with an alternate download from his site (or a subdomain).  I also asked if it wouldn't just be easier to make an exception to the distribution rule.  Either way, I have not received any information in return.

I'm trying to not be too annoying since *we* are asking *him* for something in which he clearly isn't all that interested, and we've already gone ba

[2020-02-07 13:41] pauby commented on #743
Awesome. Just keen to get this moving but it's all in somebody else's hands 😄

[2020-02-07 19:37] chtof commented on #146
Excepted if we have an answer from @zero77 or @AdmiringWorm  regarding my previous post, my opinion is to close this issue. Note the link provided by @zero77 is no longer available.

[2020-02-07 19:39] chtof commented on #147
No link directly available so my opinion would be to close this issue.

[2020-02-07 19:40] chtof commented on #650
@pauby The issue is to find the URL to use. The last attempt was:
url = Get-RedirectedUrl 'http://file2.softsea.com/get.php?id=836900551' 'http://www.softsea.com/download/DjVu-Converter.html'

It's difficult to explain. It works after you visit the website for a while. Maybe the access is allowed for a while but I don't know why. I have also tried another ways without success. Maybe it will cleare

[2020-02-07 19:44] chtof commented on #141
I am not interested to build and manage a Windows version from source code for this library.

[2020-02-07 19:49] chtof commented on #653
I didn't find any license to allow to embed the package. Close as something like can't fix?

[2020-02-09 15:08] joewiz commented on #760
@pauby Thanks for checking in! We weren't able to get to this item on last Monday's community call, but we will tomorrow.

[2020-02-10 20:14] joewiz commented on #760
@pauby During today's eXist Community Call, we discussed Chocolatey, and we think that a Chocolatey package would be a benefit for Windows users who would like to install eXist. According to @reinhapa, AdoptOpenJDK does distribute MSI installers for all but the non-LTS versions, such as 9, etc., so @johanjanssen-sanoma, if you prefer MSI installers, AdoptOpenJDK has them. According to @adamretter,

[2020-02-11 05:33] johanjanssen-sanoma commented on #760
I know, I'm already using them for the AdoptOpenJDK Chocolatey package :).

I still think that you shouldn't depend on a specific Java build. However if you decide to do that, then please seriously consider depending on a JRE instead of a JDK.  For AdoptOpenJDK 11 the JRE MSI is 130 MB smaller then the JDK. I provide packages for JRE's as well, see for instance https://chocolatey.org/packages/adop

[2020-02-11 08:13] pauby commented on #760
@joewiz Awesome this is moving forward.

I'm in agreement with @johanjanssen-sanoma though - if you don't _need_ AdoptOpenJDK then I wouldn't take a dependency on it. It's not a good user experience to have to download a different flavour of Java because the author _prefers_ it. If you _require_ it then that is different. And I'm not talking about the version, just the flavour.

Part of what makes

[2020-02-11 11:22] #653 closed

[2020-02-11 11:27] pauby commented on #650
@chtof I saw that [original comment above](https://github.com/chocolatey-community/chocolatey-package-requests/issues/650#issuecomment-579466401).

[Have you reached out](https://github.com/chocolatey-community/chocolatey-package-requests/issues/650#issuecomment-579697208) to @gep13 or the vendor / author of the software to see if there is a direct link?

If you want to stop work on this just let

[2020-02-11 11:28] pauby commented on #626
@jrosdahl Given the updates on the linked issue, what is the status of this Chocolatey package request?

[2020-02-11 11:28] #147 closed

[2020-02-11 11:29] #146 closed

[2020-02-11 18:09] adamretter commented on #760
@pauby eXist-db needs a JRE which is at least Java 8. Maximum supported JRE is Java 11 for eXist-db. Is there a way to specify that generically?

[2020-02-11 18:52] jrosdahl commented on #626
Nothing has changed, really. Given the current status of the ccache Windows port (no automated tests and nobody stepping forward to drive Windows aspects), I'm not confident in creating official Windows binary releases since the state for me is kind of unknown. If somebody else would like to act as the maintainer of a Chocolatey package and at least make some rudimentary testing before publishing,

[2020-02-12 10:43] pauby commented on #626
@jrosdahl Whatever binaries are created they need to be official but let me clarify what I mean:

* If the binaries come from the official project then we can verify the checksums from the ones on GitHub (for example) and therefore confirm they are official;
* If the binaries _do not_ come from the official project then we still need to verify them. One way to do that would be to have the ability

[2020-02-12 10:46] pauby commented on #760
@adamretter There isn't a way to specify a particular version of Java. There is a way to specify a particular version of a package. But no way to allow it to say 'at least one of these Java flavours at this version'.

Given this I would propose:

1. The description of the package is updated to clarify the situation with the Java flavour and version (ie. you clarify what flavours will / will not wo

[2020-02-12 11:07] adamretter commented on #760
@pauby hmmm.. I don't think that is necessarily a good idea. Our application requires Java, without it, nothing will work. I would have thought/hoped that Choclatey would offer a "java-8-jre" metapackage which could be fulfilled by various implementations (e.g. Oracle, AdoptOpenJDK, etc), but would use a reasonable default if not already installed. I have seen this in other package systems like Ap

[2020-02-12 11:49] AdmiringWorm commented on #626
This will most likely not work. No two builds will have exactly the same checksum AFAIK.
Mostly due to metadata being compiled together with with the actual binaries (at least with MSVC, but probably with clang and GCC as well).
So any compilation would need to be done as part of the chocolatey installation procedure in that case.

[2020-02-12 12:04] pauby commented on #626
I moderated a package some time ago and I did compile and I did get the same checksum so it is possible. But if that is the exception and compiling from source during installation is not an option, it's going to be tough to create a package.

[2020-02-12 12:12] pauby commented on #760
@adamretter We have other packages whose software requires Java (any flavour, particular version) and the description is updated to reflect this and code is sometimes added to the chocolateyInstall.ps1 file to check for it. That's a maintainers decision in the package.

If the moderator spots your dependency on a particular flavour of Java and it's not required, then it is unlikely to pass through

[2020-02-12 17:43] adamretter commented on #760
So our package should not depend on Java?

I don't understand how it can be a "good user experience" if someone installs our package and it doesn't work because Java is not installed?

[2020-02-12 18:23] joewiz commented on #760
I should note that homebrew's eXist recipe doesn't cause java to be installed either - it only lets users know that they need to and tells them how, via the "Caveats" directive:

You can see this with `brew cask info exist-db`. This comes from https://github.com/Homebrew/homebrew-cask/blob/master/Casks/exist-db.rb#L15-L16. See also https://github.com/Homebrew/homebrew-cask/blob/master/doc/cask_lan

[2020-02-12 20:59] jrosdahl commented on #626
I wrote:

I should perhaps clarify this a bit. Just building Windows binaries from the official source code and publishing them in an official place would likely be fine. And doing so would arguably be better than having users finding and using unofficial binaries from some corner of the internet.

What I'm not confident in is saying is that the Windows binaries actually work since I won't test th

[2020-02-13 10:48] karlhorky opened #763 "RFP - gh"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://cli.github.com/
Direct download URL for the software / installer: https://github.c

[2020-02-13 10:51] karlhorky commented on #763
This CLI supersedes the `hub` package maintained by @pauby:

https://chocolatey.org/packages/hub

[2020-02-13 11:02] pauby commented on #763
It does. Which is why I'll pick it up! 😄

[2020-02-13 11:13] pauby commented on #760
@adamretter

That's not what I said. I said that your package should not have a dependency on a particular flavour if it's not an actual requirement. You've already confirmed that a specific flavour of Java is not required. Just a minimum version.

That's why you would put notes in the description and add code to the `chocolateyInstall.ps1` to let them know this and potentially fail to install if

[2020-02-14 11:02] pauby commented on #763
I've just pushed 0.5.5 of this just now. Once it's approved I'll deprecate `hub`.

[2020-02-14 12:45] karlhorky commented on #763
Thanks @pauby!

[2020-02-14 12:48] karlhorky commented on #763
Ah, just reading over the `hub` documentation, and I can't find anything that says it's deprecated or mentions `gh`...

And also in the new docs, they are seemingly talking about it as if `hub` will live on, in parallel:

Ref: https://github.com/cli/cli#comparison-with-hub

[2020-02-14 12:49] karlhorky commented on #763
So maybe `hub` shouldn't be deprecated after all?

[2020-02-14 13:39] pauby commented on #763
@karlhorky That is a valid point - I would _assume_ that once gh is out of beta then they would look to deprecate hub themselves but maybe doing so at this point would be premature.

So yeah, lets leave hub as it for the time being (unless somebody knows anything we don't).

[2020-02-15 20:06] #763 closed

[2020-02-16 05:15] joewiz commented on #760
Thanks, everyone. I think we have agreement on the general parameters of the package:

- Package should install eXist via jar, using the installation steps outlined at https://exist-db.org/exist/apps/doc/basic-installation#installation (see also https://exist-db.org/exist/apps/doc/advanced-installation for more detail on headless installation).
- Package description should tell users that "eXist-d

[2020-02-18 09:23] pauby commented on #760
@joewiz I think those are sounds parameters for the package and I've opened this up to potential maintainers.

[2020-02-18 09:25] pauby commented on #732
@teknowledgist Thanks for updating us on this. I note the author is testing this out for the next release and there have been three releases since his comment. Do you know if this has been included?

[2020-02-18 09:28] pauby commented on #650
As this issue isn't making any traction (no fault of anybody on this thread) I propose closing it as 'Can't Implement' soon.

[2020-02-18 09:35] pauby commented on #626
@jrosdahl Can I just clarify:

* The project is not going to officially support Windows binaries (by support I mean out much effort into making sure everything works under Windows);
* The project is not confident in any official Windows binaries it produces;
* Any Windows binaries that are released will not be tested prior to being released;

[2020-02-18 09:37] pauby commented on #141
As there are  build instructions available I've opened this up to maintainers again. There are going to be hurdles to jump through in a third party providing binaries but we can deal with those as they come up.

Appreciate any comments?

[2020-02-18 16:01] teknowledgist commented on #732
I'm asking about it.  I can't actually test anything at the moment because of some life and technical complications, but I won't forget about it.

[2020-02-18 16:02] teknowledgist commented on #743
From the developer:

[2020-02-18 19:15] jrosdahl commented on #626
@pauby: Not sure I understand. Do you need more information from me?

[2020-02-18 20:12] pauby commented on #626
@jrosdahl I'm looking to clarify the points I made [above](https://github.com/chocolatey-community/chocolatey-package-requests/issues/626#issuecomment-587365931) with a **yes** or **no**.

[2020-02-18 20:18] whitis opened #764 "RFP - trowser"
## Checklist

- [x ] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [ x] There is no open issue for this package;
- [ x] The issue title starts 'RFP - ';
- [ x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://github.com/tomzox/trowser
Direct download URL for the software / installer : h

[2020-02-19 08:33] brutaldev opened #765 "RFM - Screenpresso"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2020-02-19 08:39] brutaldev opened #766 "RFM - MusicBee"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2020-02-19 08:42] brutaldev opened #767 "RFM - MediaInfo"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2020-02-19 09:14] mkevenaar commented on #767
I am willing to maintain this one? Could you please add me as a maintainer? username mkevenaar

[2020-02-19 11:09] brutaldev commented on #767
Thanks, added you as a maintainer.

[2020-02-19 12:34] mkevenaar commented on #767
A new version of this package has been pushed. This package is now an embedded package.

[2020-02-20 14:51] dallyingllama opened #768 "RFP - DeepL"
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

_Software project URL_ : https://www.deepl.com/home
_Direct download URL for the software / installer_ : https://www.deepl.com

[2020-02-21 09:12] mkevenaar commented on #767
Hi, a new, embedded version, is now published

[2020-02-21 09:12] #767 closed

[2020-02-22 12:25] chtof commented on #765
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be submitted: https://github.com/chtof/chocolatey-packages/tree/master/automatic/screenpresso

[2020-02-24 15:28] brutaldev commented on #765
@chtof Added you as a maintainer.

[2020-02-24 16:18] procdaddy11 opened #769 "RFP - RealVNC Server"
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.realvnc.com/en/connect/download/vnc/
Direct download URL for the software / installer : htt

[2020-02-24 18:58] brutaldev opened #770 "RFM - Lammer Context Menu"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2020-02-24 19:38] chtof commented on #765
Status: **Review**
https://chocolatey.org/packages/screenpresso

[2020-02-25 11:27] pauby commented on #770
@brutaldev Are you listing this package for a new maintainer purely because you cannot get it through testing?

[2020-02-25 11:43] brutaldev commented on #770
@pauby No, I have no time to maintain any packages other than my own software so I'm handing ll of them over to whoever wants to look after them. I've submitted quite a few packages here to find new maintainers. Was just providing additional information for the potential maintainer(s) to be aware of.

[2020-02-25 11:54] pauby commented on #770
@brutaldev Thanks for clarifying that.

[2020-02-27 18:34] chtof commented on #765
Status: **Published**
- https://chocolatey.org/packages/screenpresso/1.7.16

Can be closed.

[2020-02-28 06:54] #765 closed

[2020-03-02 18:26] chtof commented on #770
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Corrected package with .Net 3.5 as dependency is ready to be submitted: https://github.com/chtof/chocolatey-packages/tree/master/manual/lammercontextmenu

[2020-03-02 18:48] brutaldev commented on #770
@chtof Added you as a maintainer.

[2020-03-02 18:52] chtof commented on #770
Status: **Review**
https://chocolatey.org/packages/lammercontextmenu/1.3.0.1901

[2020-03-02 19:47] chtof commented on #768
https://www.deepl.com/windows/download/full/DeepLSetup.exe is redirected to https://appdownload.deepl.com/windows/full/DeepLSetup.exe

https://appdownload.deepl.com/windows/full/DeepLSetup.exe downloads DeepLSetup.exe as "content-type: **text/plain**' according "response headers" but the file is really a binary as I can correctly launch manually the downloaded file D:\Temp\chocolatey_cache\deepl\1

[2020-03-03 02:37] pauby commented on #768
@chtof Have you contacted the author to let them know their website is broken? If they fix it everything should work?

[2020-03-03 10:27] chtof commented on #768
@pauby I haven't contacted the author as it works properly outside Chocolatey.

[2020-03-04 16:19] opusforlife2 opened #771 "RFP - ffmpeg-batch"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/ffmpeg-batch/
Direct download URL for the software / ins

[2020-03-04 21:33] AdmiringWorm commented on #769
@procdaddy11 is this the package that you are looking for? https://chocolatey.org/packages/vnc-connect

While it is called vnc connect, it seems it installs the realvnc server.

[2020-03-04 22:34] procdaddy11 commented on #769
VNC Connect is no longer maintained to my knowledge as it’s still called that but has been split into two packages (server/viewer). Does this mean that the VNC Connect maintainer needs to update their installer?

[2020-03-05 03:59] AdmiringWorm commented on #769
The maintainer of the vnc-connect package have split out a new package for the viewer, and is using the server in the vnc-connect package.

It should probably be deprecated and split out to a new package with the correct name.
In all though, you would still need to contact the maintainer of that package (can be done through the package page) to make that happen.

[2020-03-06 18:57] aster94 opened #772 "RFP - arduino-cli"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://github.com/arduino/arduino-cli
Direct download URL for the software / installer :

[2020-03-06 19:05] aster94 opened #773 "RFP - avrdude"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://savannah.nongnu.org/projects/avrdude
Direct download URL for the software / instal

[2020-03-07 18:15] chtof commented on #770
Status: **Published**
https://chocolatey.org/packages/lammercontextmenu/1.0.3.1901

Can be closed.

[2020-03-08 12:44] chtof commented on #771
Status: **Review**
- https://chocolatey.org/packages/ffmpeg-batch
- https://chocolatey.org/packages/ffmpeg-batch.install
- https://chocolatey.org/packages/ffmpeg-batch.portable

[2020-03-08 13:00] opusforlife2 commented on #771
Off-topic:
@abejenaru Please update fre:ac to the new stable version.

[2020-03-08 21:33] #770 closed

[2020-03-09 12:02] pauby commented on #769
@procdaddy11 @AdmiringWorm Can we close this?

[2020-03-09 12:03] pauby commented on #732
@teknowledgist Any update to this?

[2020-03-09 12:03] #650 closed

[2020-03-09 12:04] pauby commented on #626
If there is no further update on this my intention would be to close it with "Can't implement" soon.

[2020-03-09 13:33] abejenaru opened #774 "RFM - gMKVExtractGUI"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-03-09 13:39] abejenaru opened #775 "RFM - freac"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-03-09 13:46] pauby commented on #775
@abejenaru Can you please raise one issue per package. I agree it makes sense for the same maintainer to pick up both but it is not required.

[2020-03-09 13:50] abejenaru commented on #775
Even if I'm not really maintaining the .portable version ?  I haven't update it in ~ 3 years.

[2020-03-09 14:27] pauby commented on #775
Yes please.

[2020-03-09 14:29] procdaddy11 commented on #769
Yes

[2020-03-09 14:54] abejenaru opened #776 "RFM - freac.portable"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-03-09 15:41] abejenaru commented on #775
done!

[2020-03-09 15:45] #769 closed

[2020-03-09 15:50] teknowledgist commented on #732
Nope.  (Personal) Life and technical complications remain (preventing me from testing), and [the issue at Standard Notes](https://github.com/standardnotes/desktop/issues/469) has stalled.  I'm sure they would welcome help with configuring Electron-Builder to make a machine install, but I don't have that level of knowledge (or time).

[2020-03-09 16:06] pauby commented on #732
Thanks for updating us. I'm minded to close this issue just now with "Can't implement" and re-open if / when they release an installer that allows a machine wide install.

Thoughts?

[2020-03-09 17:37] JohannesKonings opened #777 "RFP - NoSQL Workbench for Amazon DynamoDB"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/workbench.html

Direct do

[2020-03-09 18:30] teknowledgist commented on #732
I have no argument with that.  I should get notifications for any updates on the issue, and I should be able to push a fixed package pretty quickly once the installer is corrected.

[2020-03-09 20:03] #732 closed

[2020-03-09 20:32] jrosdahl commented on #626
I planned to respond to this after making the next release, but here goes.

OK. (I guess this could be a language issue – non-native English speaker here. I didn't interpret "Can I just clarify" as "Can _you_ just clarify", and the points are statements, not questions. I also wasn't 100% sure whether "the project" referred to ccache or Chocolatey.)

That said, I find it a bit hard to comment on yo

[2020-03-10 15:11] pauby commented on #626
@jrosdahl

My question was quoting what you had said [previously](https://github.com/chocolatey-community/chocolatey-package-requests/issues/626#issuecomment-585414621):

As long as the lack of testing is pointed out in the description of the package (because there is a high expectation that software would be tested / work whereas the expectation here is lower) then I think this would be good as a

[2020-03-10 21:45] Foadsf opened #778 "RFP - SALOME"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.salome-platform.org/
Direct download URL for the software / installer : https

[2020-03-11 13:06] Foadsf commented on #778
Dear @pauby , it is SALOME actually.

[2020-03-11 15:21] pauby commented on #778
@Foadsf I saw this and changed it:

![image](https://user-images.githubusercontent.com/12760779/76433267-01909a00-63ac-11ea-9a9f-06ab3f1e7615.png)

I'll change it back.

[2020-03-11 20:21] boubou commented on #756
Hi,
Do you have an ETA for that plugin ?
Thanks.

[2020-03-12 01:36] boubou commented on #766
Hi,
It looks like there is a new version since today.
3.3.7367
Released on March 11, 2020
For Win7/ Win8/ Win10
Please add me as a maintainer then I will update it and maintain it in futur.
Thanks.

[2020-03-12 08:56] brutaldev commented on #766
@boubou I've added your username (boubou) as a maintainer for the package.
For automation you can check the [XML file](https://github.com/brutaldev/chocolatey-packages/blob/master/MusicBee/musicbee.xml) I used with Ketarin.

[2020-03-12 23:05] chtof commented on #778
Status: **Review**
https://chocolatey.org/packages/salome

[2020-03-13 16:46] brogers5 opened #779 "RFP - Check Point Endpoint Security VPN"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.checkpoint.com/products/remote-access-vpn/
Direct download URL for the softwa

[2020-03-13 18:28] Foadsf commented on #488
@pauby I'm trying to edit this post and use the official template, but I can't. Would you be kind to provide me with the official template if it is available somewhere? (I tried opening a new RFP to copy past from there but it shows a blank issue request!)

[2020-03-13 18:42] Foadsf commented on #488
It seems the [FUNET link](http://www.nic.funet.fi/pub/sci/physics/elmer/bin/windows/) is a better place for downloading. There are `nightly` and stable binaries.

[2020-03-13 18:51] Foadsf commented on #488
options:

- `--nightly`, `--stable`
- `--with-mpi`, `--without-mpi`

[2020-03-13 19:22] pauby commented on #488
@foadsf It's blank for me too. I'm hoping this is a temp GitHub issue as it's very strange.

In the meantime you can find the template at https://raw.githubusercontent.com/chocolatey-community/chocolatey-package-requests/master/.github/ISSUE_TEMPLATE/kPackageRequest.md

[2020-03-13 19:57] pauby commented on #779
@brogers5 That download URL appears to be locked behind a login?

![image](https://user-images.githubusercontent.com/12760779/76655314-e917af80-6564-11ea-9511-db1d14f4233d.png)

[2020-03-13 20:15] brogers5 commented on #779
@pauby, I grabbed the URL from this page:
https://supportcenter.checkpoint.com/supportcenter/portal/role/supportcenterUser/page/default.psml/media-type/html?action=portlets.DCFileAction&eventSubmit_doGetdcdetails=&fileid=103038

Relevant link should be the first download button. In particular, I noticed the HashKey param seems to change every time the page is accessed. So it appears the URL isn't

[2020-03-13 20:55] pauby commented on #779
That is going to be a problem and almost impossible to automate any updates for.

[2020-03-13 20:57] brogers5 commented on #779
I looked around and couldn't find a static URL that is publicly exposed. I've reached out to their support to see if they'd be willing to assist, will update if/when I hear back.

[2020-03-15 20:55] chtof commented on #488
Status: **In progress**
https://chocolatey.org/packages/elmer

[2020-03-16 20:23] pauby commented on #768
Can I suggest you raise an issue on [chocolatey\choco](https://github.com/chocolatey/choco/issues)?

[2020-03-16 21:28] jrosdahl commented on #626
Version 3.7.8 with (kind of experimental) Windows binary releases is now available.

[2020-03-17 09:42] mstick99 opened #780 "RFP - Waterfox Classic"
A package for Waterfox Classic (half way down https://www.waterfox.net/download/)

There already exists a package for Waterfox Current.

[2020-03-17 09:54] pauby commented on #626
I've made this to maintainers now. Thanks for the update @jrosdahl

[2020-03-17 09:54] mkevenaar commented on #780
@mstick99 would you please go back and create an issue using the template?

[2020-03-17 15:41] #780 closed

[2020-03-18 11:33] pauby commented on #780
@mstick99 Is there a reason you've closed this? Is the package is still needed?

[2020-03-18 15:50] mstick99 commented on #780
Closed RFP and put in as an Issue as requested.

[2020-03-18 17:39] chtof commented on #488
Status: **Review**
https://chocolatey.org/packages/elmer
https://chocolatey.org/packages/elmer-mpi

@Foadsf:
- These 2 packages should be tested (as I didn't find easily how to use Elmer FEM).
- For nightly versions:
  - Note: The latest nightly version has been released several months ago.
  - For nightly versions, the problem is the nightly installers don't contain a timestamp so if we release n

[2020-03-18 18:39] opusforlife2 opened #781 "RFP - beets"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/beetbox/beets, https://beets.io/
Direct download URL for the software

[2020-03-18 18:51] pauby commented on #781
There is no Windows binary for this. Instead it's install via `pip` (at least that is what the homepage says).

[2020-03-18 18:59] pauby commented on #780
I'm a little confused. Nobody requested you to close this RFP. Where did you 'put it in as an Issue'?

[2020-03-18 20:19] mstick99 commented on #780
Received this request:

Maurice Kevenaar <notifications@github.com> | Maurice Kevenaar <notifications@github.com> | Mar 17, 2020, 5:54 AM (1 day ago)
mstick99 would you please go back and create an issue using the template?

So closed the RFP and input an Issue at http://github.com/chocolatey-community/chocolatey-coreteampackages/issues

[2020-03-18 22:09] Foadsf commented on #488
Dear @chtof sure I will test them. Would you be kind to provide me with the testing instructions? Also @raback , one of the Elmer's core developers, should also be interested in this.

[2020-03-18 23:05] chtof commented on #488
Hello @Foadsf @raback, I recommend to test them once they will be validated (they are currently under review). Once validated, repeat these steps for elmer and elmer-mpi* packages (so, twice):
- Install elmer and/or elmer-mpi: `choco install [elmer|elmer-mpi]`
- Test the application (are you able to use the software like an user will do) and specially the main features of the application (I think

[2020-03-19 07:21] mkevenaar commented on #780
@mstick99 I updated the comment asking you to update your issue.

[2020-03-21 16:09] chtof commented on #781
Status: **Review**
https://chocolatey.org/packages/beets

[2020-03-21 16:11] chtof commented on #778
Status: **Published**
- https://chocolatey.org/packages/salome

Can be closed.

[2020-03-21 22:21] Foadsf commented on #488
Dear @chtof couldn't we have options instead of different pckages as I decribed [above](https://github.com/chocolatey-community/chocolatey-package-requests/issues/488#issuecomment-598865732)?

[2020-03-22 03:25] boubou commented on #774
I will keep it!
Please add me as a maintainer and I will maintain it with pleasure!
Thanks.
Seb

[2020-03-22 03:26] boubou commented on #776
I will keep it!
Please add me as a maintainer and I will maintain it with pleasure!
Thanks.
Seb

[2020-03-22 03:26] boubou commented on #775
I will keep it!
Please add me as a maintainer and I will maintain it with pleasure!
Thanks.
Seb

[2020-03-22 09:17] chtof commented on #488
@Foadsf Disavantages:
- Can't be embedded if all-in-one package (each installer is about 120 MB and the max size of an embedded comunity package is 200 MB).
- If all-in-one package, only one installer will be scanned by VirusTotal due to technical reasons.
- How to handle packages with different versions in only one package?
- When you haven't the Business edition of Chocolatey, it's a little bit

[2020-03-22 11:40] shvchk opened #782 "RFP - Winja"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.phrozen.io/projects/2020/03/winja-virustotal-uploader-binary/
Direct download

[2020-03-22 17:25] pauby commented on #779
@brogers5 Any update on this from support?

[2020-03-23 07:47] cqiy297 opened #783 "RFP - iA Writer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://ia.net/writer
Direct download URL for the software / installer : https://ia.net/w

[2020-03-23 08:48] abejenaru commented on #774
Thanks so much Seb, that's wonderful!

On Sun, 22 Mar 2020 at 04:25, Sébastien Boulianne <notifications@github.com>
wrote:

[2020-03-23 08:49] abejenaru commented on #776
Wonderful, thank you!

On Sun, 22 Mar 2020 at 04:26, Sébastien Boulianne <notifications@github.com>
wrote:

[2020-03-23 08:54] abejenaru commented on #775
Thank you Seb, that is really wonderful!

On Sun, 22 Mar 2020 at 04:26, Sébastien Boulianne <notifications@github.com>
wrote:

[2020-03-23 09:01] abejenaru opened #784 "RFM - Enterprise Architect Viewer"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/ealite
Package source URL: https://github.com/abejenaru/chocolatey-packages/tree/master/automatic/ealite

[2020-03-23 09:04] abejenaru opened #785 "RFM - Software Ideas Viewer"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/software-ideas-viewer
Package source URL: https://github.com/abejenaru/chocolatey-packages/tree/master/automatic/software-ideas-viewer

[2020-03-23 09:05] abejenaru opened #786 "RFM - Software Ideas Modeler"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/software-ideas-modeler
Package source URL: https://github.com/abejenaru/chocolatey-packages/tree/master/automatic/software-ideas-modeler

[2020-03-23 09:07] abejenaru opened #787 "RFM - nteract"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/nteract
Package source URL: https://github.com/abejenaru/chocolatey-packages/tree/master/automatic/nteract

[2020-03-23 09:14] abejenaru opened #788 "RFM - nteract (Install)"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/nteract.install
Package source URL: https://github.com/abejenaru/chocolatey-packages/tree/master/automatic/nteract.install

[2020-03-23 22:47] brogers5 commented on #779
Nope, never heard back from them.

[2020-03-25 06:03] opusforlife2 opened #789 "RFP - Xtreme Download Manager (xdm)"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/subhra74/xdm
Direct download URL for the software / installer : https:

[2020-03-26 00:20] Nischi85 opened #790 "RFP - SteelSeries Engine"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://steelseries.com/engine/
Direct download URL for the software / installer : https:

[2020-03-26 03:13] boubou commented on #774
Did you add me as a maintainer on your package ?
Please add boubou as a maintainer.
Thanks Abejenaru!

[2020-03-26 03:13] boubou commented on #775
Did you add me as a maintainer on your package ?
Please add boubou as a maintainer.
Thanks Abejenaru!

[2020-03-26 03:13] boubou commented on #776
Did you add me as a maintainer on your package ?
Please add boubou as a maintainer.
Thanks Abejenaru!

[2020-03-26 03:15] boubou commented on #784
Please add boubou as a maintainer.
Thanks Abejenaru!

[2020-03-26 03:17] boubou commented on #766
Im sorry, I didnt see your message.
Package Maintainer(s):
werner
I didnt receive an email that you added me as a maintainer.
Thanks.

[2020-03-26 04:03] boubou commented on #786
Please add boubou as a maintainer.
Thanks Abejenaru!

[2020-03-26 04:03] boubou commented on #785
Please add boubou as a maintainer.
Thanks Abejenaru!

[2020-03-26 09:10] abejenaru commented on #774
Yes I did!
It also looks like you have to confirm being a Maintainer somewhere on the package page: https://chocolatey.org/packages/gmkvextractgui/
Many thanks!

[2020-03-26 09:14] abejenaru commented on #776
I did! Please check the package page, I think you must confirm the change.
Thanks!

[2020-03-26 09:15] abejenaru commented on #775
I did! Please check the package page for confirmation.
Thanks!

[2020-03-26 09:19] abejenaru commented on #784
Done! You will still have to confirm it, probably on the package page https://chocolatey.org/packages/ealite.
Many many thanks!

[2020-03-26 09:19] #784 closed

[2020-03-26 09:20] abejenaru commented on #785
Done! You will still have to confirm it, probably on the package page: https://chocolatey.org/packages/software-ideas-viewer.
Thank you so much!

[2020-03-26 09:20] #785 closed

[2020-03-26 09:21] abejenaru commented on #786
Done! You still have to confirm it, probably on the package page: https://chocolatey.org/packages/software-ideas-modeler.
Thank you so much!

[2020-03-26 09:21] #786 closed

[2020-03-26 13:32] brutaldev commented on #766
Hi @boubou

It's been stuck on "pending approval" for quite some time, should I remove and re-add?

![image](https://user-images.githubusercontent.com/1929531/77652440-e3639600-6f76-11ea-9867-60acbac5a5b2.png)

[2020-03-26 17:23] Nischi85 opened #791 "RFP - Last.fm Desktop Scrobbler 3.X"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.last.fm/about/trackmymusic
Direct download URL for the software / installer :

[2020-03-26 21:16] ttabaka opened #792 "RFP - Adobe Connect"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: **https://helpx.adobe.com/adobe-connect/connect-downloads-updates.html**

Direct download

[2020-03-28 19:47] chtof commented on #792
Status: **Review**
https://chocolatey.org/packages/adobe-connect

[2020-03-28 19:49] chtof commented on #791
Not updated for a while but this package already exists: https://chocolatey.org/packages/lastfmscrobbler

[2020-03-28 20:50] chtof commented on #790
Status: **Review**
https://chocolatey.org/packages/steelseries-engine

[2020-03-28 21:43] Nischi85 commented on #791
It's the wrong package you linked to. This is the current version, the vesion you linked to is an outdated no more updated version. Therefore my title with the version 3.X in the name.

[2020-03-28 22:19] chtof commented on #791
It's the same software. Have you tried to contact the package maintainer of lastfmscrobbler?

[2020-03-28 22:21] chtof commented on #789
Status: **Review**
https://chocolatey.org/packages/xdm

[2020-03-28 22:34] Nischi85 commented on #791
They basically do the same thing, but they are different versions supporting different settings and operating systems. they are both accessable through the last.fm webpage, the legacy is still there because of legacy reasons. It would feel weird to "update" the old legacy version with this new 3.X version. If you say that is the correct path to go, then I will ask the current package maintainer to

[2020-03-29 11:44] chtof commented on #782
Status: **Review**
- https://chocolatey.org/packages/winja
- https://chocolatey.org/packages/winja.install
- https://chocolatey.org/packages/winja.portable

[2020-03-29 14:34] pauby commented on #791
The legacy application's last version is 2.1.37. The new version is 3.1.29.

If both of these applications do exactly the same thing and if the natural progression for the application is from the legacy / old version to this then it makes sense for the current Chocolatey package to be updated with the new version. The old version will never be updated so three is no risk of having to release a new

[2020-03-29 14:36] Nischi85 commented on #791
okay thanks for your'e input pauby, I will contact the current maintaner and see.

[2020-03-29 17:47] houstdav000 opened #793 "RFP - Cisco Webex Meetings"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.webex.com/video-conferencing
Direct download URL for the software / installer

[2020-03-29 17:50] houstdav000 opened #794 "RFP - Cisco Webex Teams"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.webex.com/team-collaboration.html
Direct download URL for the software / inst

[2020-03-29 18:19] jtcmedia commented on #772
Package submitted: [https://chocolatey.org/packages/arduino-cli/0.9.0](https://chocolatey.org/packages/arduino-cli/0.9.0)

[2020-03-29 19:19] jtcmedia commented on #777
Package pushed: [https://chocolatey.org/packages/nosql-workbench/](https://chocolatey.org/packages/nosql-workbench/)

[2020-03-30 11:55] chtof commented on #793
Status: **Review**
https://chocolatey.org/packages/webex-meetings

[2020-03-30 12:37] chtof commented on #794
Status: **Review**
https://chocolatey.org/packages/webex-teams

[2020-03-31 00:30] AdmiringWorm commented on #771
I see that the packages have been approved, as such I am closing this issue and marking it as published.

[2020-03-31 00:30] #771 closed

[2020-03-31 00:33] #778 closed

[2020-04-02 11:17] chtof commented on #773
Status: **Review**
https://chocolatey.org/packages/avrdude

[2020-04-02 11:40] chtof commented on #783
Status: **Review**
https://chocolatey.org/packages/iawriter

[2020-04-02 12:13] chtof commented on #759
Status: **Review**
https://chocolatey.org/packages/textexpander

[2020-04-04 14:50] houstdav000 opened #795 "RFP - Jigdo"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.einval.com/~steve/software/jigdo/
Direct download URL for the software / inst

[2020-04-04 15:35] pauby commented on #795
This _might_ be embeddable - I couldn't find a license though.

[2020-04-04 15:37] houstdav000 commented on #795
Had to look at the git tree, it's GPLv2

https://git.einval.com/cgi-bin/gitweb.cgi?p=jigdo.git;a=blob;f=COPYING;h=d60c31a97a544b53039088d14fe9114583c0efc3;hb=HEAD

[2020-04-04 15:38] pauby commented on #795
Awesome! You're eyes are better than mine! 😄

[2020-04-04 22:52] aster94 opened #796 "'RFP - doxybook2"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/matusnovak/doxybook2
Direct download URL for the software / installer

[2020-04-05 07:38] Kristinita opened #797 "RFP — Restream Chat"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=restream&moderatorQueue=true&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?&q=is%3Aissue+restream)
- [x] The issue title start

[2020-04-05 07:50] Kristinita opened #798 "RFP - PhantomBot"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=PhantomBot&moderatorQueue=true&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?&q=is%3Aissue+PhantomBot)
- [x] The issue title s

[2020-04-05 10:11] Kristinita opened #799 "RFP - WinSize2"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=winsize&moderatorQueue=true&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?&q=is%3Aissue+winsize)
- [x] The issue title starts

[2020-04-05 15:43] pauby commented on #797
I will pickup this one.

[2020-04-06 01:30] carsten-engelke opened #800 "RFM - jdk8"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2020-04-06 13:18] pauby commented on #800
@carsten-engelke We can't accept this request until the maintainer has been contacted via the 'Contact Maintainers' link on the package page and after 7 days has elapsed.

[2020-04-06 21:59] ootaken commented on #800
Hello. This is Ota that current maintainer of JDK8 package.

I agree that I have followed the Package Triage Process and I do NOT want to become maintainer of the package;

Sorry it is very difficult to support current Oracle specifcation to download JDK.

[2020-04-08 21:22] pidus opened #801 "RFP - Avro Keyboard"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.omicronlab.com/avro-keyboard-download.html
Direct download URL for the softwa

[2020-04-09 10:14] pauby commented on #801
@pidus I can't connect to the omicronlab.com site. Getting the error:

![image](https://user-images.githubusercontent.com/12760779/78884633-2cc1e400-7a53-11ea-90e1-faedc38639d3.png)

Could be a temporary issue. Is this working for anybody else?

[2020-04-09 10:26] pauby commented on #791
@Nischi85 Do you have an update on this?

[2020-04-09 10:36] Nischi85 commented on #791
@pauby Yes I've contacted the maintainer, he said he would update to the latest 3.X version. It seems to be stuck now at waiting for maintainer to take corrective action according to https://chocolatey.org/packages/lastfmscrobbler/3.1.29

[2020-04-09 10:58] AdmiringWorm commented on #801
@pauby the website and download location seems to work as it should for me.
I am opening it up for maintainers.

[2020-04-09 12:10] pauby commented on #801
:+1: Very weird. Still not working for me in 3 different browsers.

[2020-04-09 12:12] pauby commented on #791
:+1: As the package is in progress on the repository I'm going to go ahead and close this now as it's no longer needed.

[2020-04-09 12:12] #791 closed

[2020-04-09 13:19] AdmiringWorm commented on #801
@pauby could be a misconfiguration on the server that you get connected to.

[2020-04-09 13:39] pauby commented on #801
@AdmiringWorm It could be. As long as it's working for everybody else just ignore my woes 😄

[2020-04-10 21:46] mcandre opened #802 "RFP - Korg drivers and firmware update tools"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.korg.com/us/support/
Software summary / short description: Korg drivers and f

[2020-04-11 12:14] pauby commented on #802
@mcandre You missed `Direct download URL for the software / installer :` - we need this.

[2020-04-11 23:52] aster94 opened #803 "RFP - siril"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.siril.org/about/
Direct download URL for the software / installer : https://f

[2020-04-14 04:32] animehunter123 commented on #736
Whew... it took me a few months!!! But I think I was able to make the package, tanos said we can use his zip url for now. Here is the git project I made:

https://github.com/animehunter123/jwpce

Do you know how we can add this to the chocolatey repositories?

[2020-04-15 13:33] JohannesKonings opened #804 "RFP - Kyma CLI"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://github.com/kyma-project/cli
Direct download URL for the software / installer : h

[2020-04-15 23:03] brogers5 opened #805 "RFP - SanDisk SSD Dashboard"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://kb.sandisk.com/app/answers/detail/a_id/15108/~/sandisk-ssd-dashboard-support-info

[2020-04-18 06:09] corbob commented on #799
I would like to create this package.

[2020-04-18 13:24] Kristinita opened #806 "RFP - CairoShell"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=Cairo&moderatorQueue=&moderationStatus=all-statuses&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?&q=is%3Aissue+Cairo)
- [x] T

[2020-04-18 19:34] michaelmhoffman opened #807 "RFP - Lenovo Vantage"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://vantage.lenovo.com/
Direct download URL for the software / installer : https://do

[2020-04-18 20:04] brogers5 opened #808 "RFP - WD Backup"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://support.wdc.com/downloads.aspx?p=249
Direct download URL for the software / insta

[2020-04-18 20:43] brogers5 opened #809 "RFP - iExplorer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://macroplant.com/iexplorer
Direct download URL for the software / installer : https

[2020-04-18 21:00] mkevenaar commented on #808
I would like to pick this up

[2020-04-19 12:51] mkevenaar commented on #808
Pushed and ready for review

[2020-04-20 05:59] AdmiringWorm commented on #809
This software seems like it can be possibly embedded as well (not entirely sure)
https://macroplant.com/iexplorer/eula

thoughts /cc @pauby

[2020-04-20 06:06] AdmiringWorm commented on #805
NOTE for anyone looking to create a package for this one, remember to put the mention of only using the software on internal SSD drives in the description of the package (possibly also as a warning when installing the package).

[2020-04-20 19:15] corbob commented on #795
I would like to create this package.

[2020-04-21 01:53] animehunter123 commented on #736
I finished the nugget package, and it now fully installs and uninstalls. I think its ready to be uploaded to the chocolatey repository, what should we do next?

Here is our repository:
https://github.com/animehunter123/jwpce

[2020-04-23 12:49] pauby commented on #736
@animehunter123 Have a look at the [docs](https://chocolatey.org/docs/create-packages).

[2020-04-24 18:30] jtcmedia opened #810 "RFM - Android Studio"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-04-25 11:59] Kristinita commented on #798
@scaniatv, @IllusionaryOne, @BrandenB, @gmt2001, @TheCynicalLiger, please, pay attention to this request.

Thanks.

[2020-04-25 12:37] TheCynicalLiger commented on #798
@Kristinita why me i'm not a dev?i just push fixes when i find bugs

[2020-04-25 12:41] pauby commented on #809
I'd agree @AdmiringWorm:

[code]

Although I'm a little concerned at the point highlighted. When they say package they are meaning 'software bundle' and not 'Chocolatey package' but, edging on the side of caution, it might be nice to get that cleared.

[2020-04-25 12:44] Kristinita commented on #798
@TheCynicalLiger , I just looked at the list of [**top and active PhantomBot contributors**](https://github.com/PhantomBot/PhantomBot/graphs/contributors). I'm sorry, I deleted your mention.

Thanks.

[2020-04-25 12:50] #779 closed

[2020-04-25 13:03] #488 closed

[2020-04-25 13:07] pauby commented on #768
@chtof Did you raise an issue for this?

[2020-04-25 13:19] gmt2001 commented on #798
1. **Don't go arbitrarily tagging people like that.**
2. We will absolutely **NOT** provide support for single-platform distribution channels
3. We have enough distribution channels already
4. We have a Discord and a Forums, which are **WAY** more appropriate places for a request like this, yet I see that you failed to even **TRY** to use them

This request is Denied

[2020-04-25 13:50] pauby commented on #743
@teknowledgist Any update on this?

[2020-04-25 14:41] pauby commented on #798
@gmt2001 What request are you denying?

[2020-04-25 14:42] gmt2001 commented on #798
This one. The user made this issue for the sole purpose of tagging contributors at the PhantomBot repo to ask them to do it, instead of using our existing communication tools.

[2020-04-25 14:46] pauby commented on #802
No response in 14 days. Closing.

[2020-04-25 14:46] #802 closed

[2020-04-25 15:01] #794 closed

[2020-04-25 15:03] #793 closed

[2020-04-25 15:25] #772 closed

[2020-04-25 15:27] #777 closed

[2020-04-25 16:07] #790 closed

[2020-04-25 16:10] #789 closed

[2020-04-25 16:29] #782 closed

[2020-04-25 16:31] #792 closed

[2020-04-25 16:32] pauby commented on #766
As thwre has been no update in a month I'm going to open this up to other maintainers.

[2020-04-25 16:39] mkevenaar commented on #766
I’ll pick this up.

[2020-04-27 07:53] mardukbp opened #811 "RFP - sd: Intuitive find & replace CLI"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/chmln/sd
Direct download URL for the software / installer : https://gi

[2020-04-28 00:40] brogers5 commented on #808
[Package](https://chocolatey.org/packages/wd-backup) was approved yesterday. Should be clear to close this one out.

[2020-04-28 05:55] #808 closed

[2020-04-28 05:55] mkevenaar commented on #808
Package published.

[2020-04-28 18:54] opusforlife2 commented on #775
@boubou The package page still lists @abejenaru as the sole maintainer.

[2020-04-28 19:01] mkevenaar commented on #775
Let's keep this issue open until an updated version of the package is published. I am leaving this one open for other maintainers to pick up.

[2020-04-28 21:52] AdmiringWorm commented on #775
@boubou remember to check your email spam folder for emails from chocolatey.org.
Sometimes the emails appear there instead of in your inbox.

You will need to click on the confirmation link in that email to accept being added as a maintainer.

[2020-04-29 07:39] mkevenaar commented on #766
New version up and running.

[2020-04-29 07:39] #766 closed

[2020-04-29 07:55] pauby opened #812 "RFM - Kindle"
## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/Kindle
Package source URL: https://github.com/AnthonyMas

[2020-05-01 17:22] georgettica commented on #683
I want to take over the work that @pauby did.
To do that I need to understand what has been done and what is the scope of work required.

please respond here on this and I would like to give it a go

[2020-05-07 16:29] houstdav000 opened #813 "RFP - Keys"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://keys.pub/
Direct download URL for the software / installer : https://github.com/k

[2020-05-07 22:13] dgalbraith commented on #812
I will pick this up.

[2020-05-07 22:14] dgalbraith commented on #813
I will pick this one up for packaging.

[2020-05-07 22:15] dgalbraith commented on #811
I will pick this one up for packaging.

[2020-05-08 10:49] mardukbp commented on #811
Great! Thank you. I will notify the author of sd when the package is ready.

[2020-05-10 12:02] pauby commented on #683
@georgettica I have done no work on this at all. That's why I moved it back to being available for other maintainers.

[2020-05-10 12:05] georgettica commented on #683
@pauby ☺️ all is good.
I'll look at similar projects and try to assess the depth of work before I dive into it.

[2020-05-11 03:30] dgalbraith commented on #811
[Package](https://www.chocolatey.org/packages/sd-cli/0.7.5) has been uploaded and is ready for review.

[2020-05-11 03:32] dgalbraith commented on #812
An update to the Package Maintainers is needed for me to be able to push package updates.  Is it possible for my Chocolatey account [dgalbraith](https://www.chocolatey.org/profiles/dgalbraith) to be added as a maintainer?

[2020-05-11 04:18] mardukbp commented on #811
Great! Thank you so much!

[2020-05-11 17:37] opusforlife2 commented on #781
It's been approved.

[2020-05-12 11:22] #781 closed

[2020-05-13 10:31] Xav83 commented on #626
Hi everyone !

As a `ccache` user this package is really interesting me.

I may have skipped some steps, but, since I am new to this (I am just starting to upload my first package for `conan`), so I wanted to see if I could pull it off before committing to be the maintainer of a second packages.

And, well, I have now a package pending [here](https://chocolatey.org/packages/ccache/3.7.9) ^^

@paub

[2020-05-13 10:50] pauby commented on #626
If you just let us know when you have picked up the package, when you've submitted it to the Chocolatey Community Repository and when it's been approved then we can update the status on the issue as we go along.

[2020-05-13 10:56] Xav83 commented on #626
Great ! I will do that ! So I pick up this package 🙂

[2020-05-13 20:22] teknowledgist commented on #743
I've queried the author a couple times now, but no response yet.

[2020-05-14 09:51] pauby commented on #743
If we are getting no response from the author then I'm inclined to mark this as Invalid?

[2020-05-14 21:18] me-and opened #814 "RFM - MiKTeX"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/miktex.install
Package source URL: https://github.com/ar

[2020-05-15 08:11] pauby commented on #814
@me-and Can you contact the maintainer using the 'Contact Package Maintainers' link on the package page, wait a week and then update this if no response?

[2020-05-15 09:36] me-and commented on #814
Done. I'll come back if there's no response.

[2020-05-15 10:00] pauby commented on #814
Can you update the issue either way? If there is a response we need to close this.

[2020-05-15 10:38] abejenaru commented on #776
@boubou can you check your email (spam folder as well) for emails from chocolatey.org.
You will need to click on the confirmation link in that email to accept being added as a maintainer.

[2020-05-15 10:39] abejenaru commented on #774
@boubou can you check your email (spam folder as well) for emails from chocolatey.org.
You will need to click on the confirmation link in that email to accept being added as a maintainer.

[2020-05-15 13:01] boubou commented on #774
Ok, sorry for the delay.
I will check it when I will be back at home.

[2020-05-15 13:57] teknowledgist commented on #743
Maybe.  Especially since there have been several releases since I last heard from them, so it's not like it's on ice for the pandemic.

I have to say that I don't get it.  The software is free (of charge), and anyone is free to copy/host it from anywhere.  Don't zip it up with metadata though!  Even if you ask politely, include the license and links to the home site, allow folks to verify identica

[2020-05-15 15:27] Xav83 commented on #626
For information @jrosdahl, the chocolatey package is currently in the review process.
You can follow it [here](https://chocolatey.org/packages/ccache/3.7.9)

[2020-05-16 13:00] dgalbraith commented on #813
[Package](https://www.chocolatey.org/packages/keys/) has been uploaded and is ready for review.

[2020-05-17 00:23] Neolel opened #815 "RFP - HakuNeko"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] The issue title starts 'RFP - ';
- [x] There is no open issue for this package;
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/manga-download/hakuneko
Direct download URL for the software / install

[2020-05-17 11:44] chtof commented on #697
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Chocolatey package ready to be submitted: https://github.com/chtof/chocolatey-packages/tree/master/automatic/toolwiz-time-freeze

[2020-05-17 15:23] dgalbraith commented on #811
Review is complete and the [sd-cli](https://www.chocolatey.org/packages/sd-cli) package is now approved and available.

[2020-05-17 15:24] dgalbraith commented on #813
Review is complete and the [keys](https://www.chocolatey.org/packages/keys) package is now approved and available.

[2020-05-17 16:31] dgalbraith commented on #804
I will pick this one up for package creation.

[2020-05-17 16:31] dgalbraith commented on #815
I will pick this one up for package creation.

[2020-05-17 17:46] mardukbp commented on #811
Thank you so much @dgalbraith! I already added the installation instructions for Windows to the README file of sd.

[2020-05-17 17:46] #811 closed

[2020-05-17 20:31] programmer262 commented on #509
How to crack wps blocked
And have the Android  version at least
In chrom or in gitlab or github

[2020-05-17 20:57] Xav83 commented on #626
Le package pour `ccache` vient d'être validé, et est désormais disponible.
Voici le lien vers la page du package => https://chocolatey.org/packages/ccache

[2020-05-17 21:19] Xav83 commented on #289
The `BetterDiscord` website specifies that it is no longer maintained.
It is also tell that future development can be found [here](https://github.com/JsSucks/BetterDiscordApp).

I don't know if this is the software that @Wh1t3Rose wanted though :/

[2020-05-18 07:16] Xav83 commented on #806
I pick up this package

[2020-05-18 09:19] Xav83 commented on #806
FYI, I pushed a chocolatey package [here](https://chocolatey.org/packages/cairoshell/0.3.7015), which is currently passing the tests.

[2020-05-18 09:53] #813 closed

[2020-05-18 09:55] pauby commented on #697
@chtof There is currently an issue with messages being sent to the Site Admins through the website. I've added you as a maintainer of the package.

[2020-05-19 09:42] Xav83 commented on #796
I pick up this package 🙂

[2020-05-19 20:28] Xav83 commented on #796
FYI, I pushed a chocolatey package [here](https://chocolatey.org/packages/doxybook2/1.1.3), which is currently passing the tests.

[2020-05-20 00:03] TheNavyBear opened #816 "RFP - TuneIn Radio Desktop App"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://tunein.com/
Direct download URL for the software / installer : https://tunein.com

[2020-05-20 00:07] TheNavyBear commented on #812
Thank you @dgalbraith for taking over this project. Kindle is an app I use regularly, and I like having all my apps from either the Windows Store or Chocolatey. Thank you for helping keep this package alive. I look forward to an updated version once they get you added to the Package Maintainers. Be well.

[2020-05-20 18:09] chantisnake opened #817 "RFP - Freetube"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

**Software project URL** : https://freetubeapp.io/
**Direct download URL for the software / installer** :
- EXE:

[2020-05-21 07:39] Xav83 commented on #796
Update:
All the tests passed for the [chocolatey package](https://chocolatey.org/packages/doxybook2/1.1.3).
It is now waiting for a moderator to review it 😉

[2020-05-21 08:49] Xav83 commented on #796
For information @aster94, the version of the package on chocolatey is the version `1.1.3`. The version `1.1.4` will be automatically pushed when the version `1.1.3` will be validated by a maintainer. 😉

[2020-05-21 09:05] aster94 commented on #796
thank you :)

Il giorno gio 21 mag 2020 alle ore 10:49 Xav83 <notifications@github.com>
ha scritto:

[2020-05-21 09:52] Xav83 commented on #798
I pick up this package 🙂

[2020-05-21 11:13] pauby commented on #798
@gmt2001 I'm still not sure what you're denying. The _request_ was made for a package to be created. The software is licensed under GPL which allows distribution if the package maintainer wanted to add the software to the package. If users want to create a Chocolatey package from this then there is nothing in the license that prohibits that so I'm unsure what you want me us to do, if anything.

[2020-05-21 13:14] Xav83 commented on #798
For information, I created a chocolatey package, and it is currently passing the tests.
You can follow it [here](https://chocolatey.org/packages/phantombot/3.1.2)

[2020-05-22 06:37] Xav83 commented on #817
I pick up this package 🙂

[2020-05-22 07:25] rkitover opened #818 "RFP - Visual Studio Community 2019 English Language Pack"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://visualstudio.microsoft.com/
Direct download URL for the software / installer : ht

[2020-05-22 09:09] pauby commented on #818
@jberezanski is this something you'd consider adding to your Visual Studio packages?

[2020-05-22 18:13] rkitover commented on #818
I had to actually remove my Russian language pack entirely, because even these commands in my powershell `$profile` still made some tools output russian:

[code]

And this caused this `cmake` bug for me:

https://gitlab.kitware.com/cmake/cmake/issues/17191

Once I removed the Russian language pack entirely and left just the English language pack, my `cmake` + `ninja` builds started working again.

[2020-05-23 04:51] dgalbraith commented on #804
[Kyma CLI](https://www.chocolatey.org/packages/kyma-cli) packaged and ready for review.

[2020-05-23 11:30] me-and commented on #814
Hello, it's now been eight days and I've not heard anything from the maintainer after contacting them that way either.

[2020-05-23 20:13] Xav83 commented on #798
The chocolatey package have been validated and is now available to the users 😄
https://chocolatey.org/packages/phantombot

[2020-05-23 20:14] Xav83 commented on #796
The chocolatey package have been validated and is now available to the users 😄
https://chocolatey.org/packages/doxybook2

[2020-05-23 21:20] dgalbraith commented on #804
[Kyma CLI](https://www.chocolatey.org/packages/kyma-cli) package is now approved and available.

[2020-05-23 22:43] dgalbraith commented on #816
I will pick this one up.

[2020-05-24 09:58] #804 closed

[2020-05-24 09:59] #796 closed

[2020-05-24 10:00] #798 closed

[2020-05-24 10:01] AdmiringWorm commented on #814
Opening this one up for new maintainers.

[2020-05-24 10:05] AdmiringWorm commented on #812
@dgalbraith typically we would have asked you to use the `Contact Site Admins` link on the package page to request being added as a maintainer. Unfortunately, this does not work correctly at the moment,and as such, I have added you as a maintainer now (you should have received an email with a link to confirm the addition).

[2020-05-24 10:08] #626 closed

[2020-05-24 19:42] dgalbraith commented on #815
Packaging is complete and ready for review.  There are 3 separate packages covering this:
* A meta-package [haku-neko](https://www.chocolatey.org/packages/haku-neko);
* An install package [haku-neko.install](https://www.chocolatey.org/packages/haku-neko.install); and
* A portable package [haku-neko.portable](https://www.chocolatey.org/packages/haku-neko.portable)

[2020-05-25 08:47] dgalbraith commented on #812
@AdmiringWorm is the issue with notifications impacting package maintiner updates at all?  I have not received an email to confirm the maintainer addition at all (I have checked in Spam, against automated rults etc - the only emails I have received are from package submissions/reviews).

[2020-05-25 10:51] pauby commented on #812
@dgalbraith The issue with emails is only affecting 'Contact Site Admins' on the package page. It's not affecting any other emails being sent. I will caveat that with _as far as we know_.

Emails do occasionally get lost so I'm going to put this down to that.

[2020-05-25 11:29] pauby commented on #818
@rkitover I'm not an avid user of Visual Studio and when I am I use the English version so I don't come across these issues. So to answer your question, without answering your question, I don't have an answer.

This repo is really for requesting packages or new maintainers for existing packages. I'm keen for any discussion around this issue to stay on-topic. My immediate thoughts are we leave this

[2020-05-25 11:46] AdmiringWorm commented on #818
@rkitover @pauby considering that the visual studio packages already have a package parameter that allows the selection of the language pack to install (along with additional language packs), I am not really sure that a separate package for language packs is really needed.

![image](https://user-images.githubusercontent.com/1474648/82810097-e7843500-9e8d-11ea-8bb2-686196f6eabe.png)

The following

[2020-05-25 13:25] boubou commented on #775
Im sorry, I just saw it!

[2020-05-25 13:26] boubou commented on #776
Hi
I checked my spam folder and I didn't find anything.
Can you send me it please ?

[2020-05-25 20:29] Xav83 commented on #817
There is actually a package already on Chocolatey for Freetube.
You can find it [here](https://chocolatey.org/packages/freetube).

@chantisnake you may want to ping the maintainers of this [package](https://chocolatey.org/packages/freetube) to have them update it to the last version 😉

[2020-05-25 20:43] chantisnake commented on #817
@Xav83 thanks, I guess I did not check for pre-release, my fault of course.

I see that the new version is pushed and waiting to approve. I guess I will close this issue then.

[2020-05-25 20:43] #817 closed

[2020-05-26 20:59] dandanio opened #819 "HWiNFO version outdated"
There is a new version of a popular package HWiNFO.
Your repo includes 6.26-4160 and the newest one is: 6.27-4170 Beta.

Please update and keep up the great work!

[2020-05-26 23:14] boubou commented on #787
Hi,
I message you and I asked you to add me as a maintainer then I will keep it up to date.
I checked my spam folder but I didn't find your email.
Please resend me the email!
Thanks in advance!

[2020-05-26 23:15] boubou commented on #776
Hi,
I message you and I asked you to add me as a maintainer then I will keep it up to date.
I checked my spam folder but I didn't find your email.
Please resend me the email!
Thanks in advance!

[2020-05-26 23:15] boubou commented on #775
I pushed an update 2 days ago!

[2020-05-26 23:32] #775 closed

[2020-05-26 23:36] AdmiringWorm commented on #819
The package [hwinfo](https://chocolatey.org/packages/hwinfo) is not maintained in this repository, please contact the maintainer of the package.

[2020-05-26 23:37] AdmiringWorm commented on #819
Sorry, I thought I was in a different repository.

Please fill out the templated that was requested of you when you opened this issue.

[2020-05-27 08:02] abejenaru commented on #776
I have re-added you as a maintainer, hopefully that will trigger the confirmation email!
Thank you for your interest!

[2020-05-27 08:02] abejenaru commented on #787
I have re-added you as a maintainer, hopefully that will trigger the confirmation email!
Thank you for your interest!

[2020-05-27 08:02] abejenaru commented on #774
For this package as well, I have re-added you as a maintainer, hopefully that will trigger the confirmation email!
Thank you for your interest!

[2020-05-27 22:50] JanPokorny commented on #707
The situation around tl;dr clients is complicated (and the official README does not help), but judging by what Scoop uses (https://github.com/ScoopInstaller/Main/blob/master/bucket/tldr.json), this is the preferred client: https://isacikgoz.me/tldr/

[2020-05-28 00:23] dgalbraith commented on #815
Package has been reviewed and is now generally available.

[2020-05-28 12:40] #815 closed

[2020-05-28 20:49] teknowledgist commented on #814
MiKTeX is an interesting install and upgrade.  I'll try to wrangle this one, but I don't want to discourage anyone who is particularly gung ho about doing it.

[2020-05-29 02:52] Cossey commented on #748
I've got this one, please assign to me. Cheers!

[2020-05-29 07:43] dgalbraith commented on #809
For clarity on the distribution rights it appears that the binaries provided are fully embeddable based on the additional [license clarifications](https://macroplant.com/legal/copyrights-and-distribution)

![image](https://user-images.githubusercontent.com/1270002/83234115-b35b8d80-a187-11ea-8060-ad352636c4bd.png)

That being said the provided binary is just an installer stub that downloads the ac

[2020-05-29 10:41] pauby commented on #809
Is there no 'offline' installer available (using the word offline in the manner that Microsoft does with some of these things)?

The more I work with the installers the more I just shake my head and ask _why_?

[2020-05-29 10:48] pauby commented on #748
@Cossey Done. Please keep us updated on when this is submitted and approved.

[2020-05-29 15:31] dgalbraith commented on #707
I will pick this up for packaging.

[2020-05-30 03:34] Cossey commented on #748
This might take a few days, as whoever creates/distributes this software is an idiot and distributes the installer exe inside of a zip file (which only reduces the file size by 800kB). Fortunately I've recorded the InstallShield .iss files needed to perform the silent install and uninstall of the software and in testing they appear to work fine. I have just been experimenting with the correct way

[2020-05-30 11:01] dgalbraith commented on #816
[Package](https://www.chocolatey.org/packages/tunein-radio) is complete and ready for review.

[2020-05-30 15:46] AdmiringWorm commented on #748
@Cossey please refrain from name-calling. Your comment have been edited to remove this.

[2020-05-31 09:06] Cossey commented on #748
Package submitted [here](https://chocolatey.org/packages/roccatswarm).
Passed automated checks, ready for review.

[2020-06-02 01:41] rkitover commented on #818
@AdmiringWorm I did not know it was possible to pass extra parameters to packages, my apologies for not looking more deeply into the documentation.

[2020-06-02 01:41] #818 closed

[2020-06-02 11:38] dgalbraith commented on #816
[Package](https://www.chocolatey.org/packages/tunein-radio) reviewed and available.

[2020-06-02 11:39] #816 closed

[2020-06-02 16:24] brogers5 commented on #748
Package was approved yesterday. Should be clear to close this one out.

Thanks again @Cossey for stepping up!

[2020-06-02 16:46] TheNavyBear commented on #812
@dgalbraith will the Kindle package be put on the 'Chocolatey Automatic Package Update Model (AU)' like you did with TuneIn, or is that even possible with Kindle? I ask cause I know Amazon is not the best at announcing new versions of the Kindle app, but I also don't mind keeping an eye on it and letting the maintainers know when a new version is ready if the package isn't auto-updated. (Sorry if

[2020-06-03 03:55] Cossey commented on #748
Package approved.

Package will be automatically maintained via my Package Update script at [github script link](https://github.com/Cossey/choco) running on docker in a server instance in the cloud.

[2020-06-03 09:54] #748 closed

[2020-06-03 17:11] tunisiano187 commented on #814
FYI, I'm looking into it, just reading the previous version to see if i'm able to convert it to automatic

[2020-06-03 17:18] teknowledgist commented on #814
@tunisiano187 Feel free to take a look at [what I have so far](https://github.com/teknowledgist/Chocolatey-packages/tree/master/Under%20Construction/miktex.install).

I have the automatic piece done, but I'm trying to do the updates the "right" way "installing" only the setup utility and using that for installation.  MiKTeX doesn't like to install overtop itself, and it's built-in package manager

[2020-06-03 17:21] teknowledgist commented on #814
One thing I [found out](https://github.com/MiKTeX/miktex/issues/553#issuecomment-635135996) is that the version of the installer is not the same as the milestone of MiKTeX.  I'm trying to make the Chocolatey package match the milestone rather than the version of the installer.

[2020-06-03 18:27] tunisiano187 commented on #814
I have some other way to do that if needed, i install it on my runner, and get the real version from the installed apps on windows... if it can help

[2020-06-03 18:49] tunisiano187 commented on #814
I'll let you work on this one, i will work on another

[2020-06-03 20:03] tunisiano187 commented on #118
Hello, i think i'll use wamp-server for this, is it ok for you ?

[2020-06-04 01:24] TheCakeIsNaOH opened #820 "RFM - Chrome History View (Nirsoft)"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-06-04 01:27] TheCakeIsNaOH opened #821 "RFM - Foldit"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-06-04 07:31] tunisiano187 commented on #821
Hello,
I'll look into it this evening, as i'm already maintaining some of his packages.

[2020-06-04 11:57] Cossey commented on #803
I've got this one, please assign and change Status, thanks!

Since its GPL 3, the license terms allow redistribution. I will make this package *Embeddable* so no external download will be required, it will use the zip distribution from the website.

[2020-06-04 14:32] aster94 commented on #803
Great @Cossey also the version 1 should be near to the release

[2020-06-04 15:33] tunisiano187 commented on #821
OK, package ready, i'll ask to be added as maintainer

[2020-06-04 17:06] tunisiano187 commented on #820
Hello,
I have created the package for this one too, i'll ask to become maintainer too

[2020-06-04 18:53] TheCakeIsNaOH opened #822 "RFM - The Fastest Mouse Clicker for Windows"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/fastest-mouse-clicker
Package source URL: https://github.com/TheCakeIsNaOH/chocolatey-packages/tree/master/fastest-mouse-clicker

A word of warning for anyone wanting to

[2020-06-05 11:31] Cossey commented on #803
Package submitted, awaiting moderation.

I am concerned however due to the package size being `100MB` that it seems that pushing to chocolatey from my cloud server seems to stall the auto-updater script and pushing always throws back a `524 origin timeout` error.

If I will have to manually execute the script from my desktop, it will affect my ability to maintain it and keep it up to date in a tim

[2020-06-05 12:15] tunisiano187 commented on #821
Package sent waiting for testing

[2020-06-05 12:40] tunisiano187 commented on #820
Package uploaded, waiting for verification
@pauby can ou change the label? Thank you

[2020-06-05 13:20] tunisiano187 commented on #118
I am on the triage process of WAMP-server.
It already includes phpmyadmin

[2020-06-05 13:21] tunisiano187 commented on #768
I have a working package for this, just need to download the file and install from local

[2020-06-05 14:16] photodude commented on #118
@tunisiano187 this request for phpadmin is intended for those building a custom *AMP setup outside of WAMP.

WAMP was not meeting my needs and had too many limits so I went the road of building a custom *AMP via chocolatey.

[2020-06-05 14:21] photodude commented on #118
@tunisiano187 here is a link to the article I wrote on building a custom *AMP setup using chocolatey.  It's a bit dated and I haven't reviewed it in a while for process updates.
https://brian.teeman.net/joomla/885-install-amp-on-windows-with-chocolatey

[2020-06-05 18:58] tunisiano187 commented on #768
Pushed, should be OK

[2020-06-07 16:00] tunisiano187 commented on #190
Hi, i've created the package, i'll ask for the maintainership.

[2020-06-08 08:07] tunisiano187 commented on #768
https://chocolatey.org/packages/deepl/1.11.0.1

[2020-06-08 08:57] tunisiano187 commented on #814
Any progress? or you really need help ?

[2020-06-08 09:00] tunisiano187 commented on #820
Can you assign it to me ? to have the notifications.
Thank you

[2020-06-08 09:00] tunisiano187 commented on #768
Can you assign it to me ? to ease the followup.
Thank you

[2020-06-08 09:02] tunisiano187 commented on #190
Can you assign it to me ? to ease the followup.
Thank you

[2020-06-08 09:05] tunisiano187 commented on #151
i'm searching, but i don't find any link i can use to get it automatically...

[2020-06-08 11:13] tunisiano187 commented on #190
Thank @pauby for adding me on others, can you add me here too ?
i'll try to work on the oldest to close most of them (limited by my knowledge)

[2020-06-08 12:50] pauby commented on #190
If you mean add you to this issue, I'll do that.

If you mean add you to this package then you need to follow the same process for each package - either @brianmego can add you or you can send a message to the Site Admins referencing this issue.

[2020-06-08 12:59] tunisiano187 commented on #190
Yes it was for this issue ;-) thank you
I've asked for the maintainership with the form for maintainers, i'm waiting for the triage process

[2020-06-08 14:51] tunisiano187 commented on #190
yes, that's just tunisiano on chocolatey.

[2020-06-08 15:09] aster94 opened #823 "RFP - gerbv"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/gerbv/
Direct download URL for the software / installer

[2020-06-08 15:14] pauby commented on #823
It looks like the latest version of this software is not Windows based. The last Windows version appears to be gerbv-win-static_20160713.zip. @aster94 is this what you were expecting?

[2020-06-08 15:21] aster94 commented on #823
If I land in that page automatically starts the download of `gerbv-win-static_20160713.zip` which works for me (win10-64bit), I think that, even if old, that is the lastest version

[2020-06-08 18:43] teknowledgist commented on #814
@tunisiano187 It's basically done.  I'm just playing with adding an option to identify a specific repository for installation.  Either way, I can't push an update until the admins make me a maintainer.  I get the feeling (from some other requests) that they are very busy.  😄

[2020-06-08 18:53] AdmiringWorm commented on #814
@teknowledgist

Have you used to `Contact Site Admins` on the package page to request being added as a maintainer?

[2020-06-08 19:07] AdmiringWorm commented on #818
@rkitover no worries.
Be mindful that package parameters are not supported by all packages, as additional code is required by the maintainers to add support for different package parameters.
Typically when package parameters are supported, these are detailed on the package details page by the maintainer.

[2020-06-08 19:17] teknowledgist commented on #814
Not for this package.  I've been assigned to other packages through these issues before without doing that, so I was assuming things were just behind.  I can make the request, sorry for the delay.

[2020-06-08 19:32] AdmiringWorm commented on #814
@teknowledgist I now I had added you once or twice through these issues. However, this was during a time that the `Contact Site Admins` emails were never received. As such, we only had that option. Since that issue was fixed, we require the contact to go through Site Admins again.

The only other times is if the poster of the request is the maintainer of the package, in those cases, we recommend t

[2020-06-08 20:22] teknowledgist commented on #814
I didn't realize there was anything different, but it's not a problem at all.  Request submitted.  Thanks.

[2020-06-09 04:43] EpsilonsQc opened #824 "RFP - 20 missing packages"
1. Daemon Tools Lite [Disc Soft Ltd.]
2. AMD Chipset Drivers v2.04.28.626 [AMD]
3. AMD Radeon Software v20.5.1 (x64) [AMD]
4. AMD Ryzen Master v2.2.0.1543 [AMD]
5. ASUS AI Suite 3 v3.00.52 [ASUS]
6. ASUS AURA Lighting Control for Graphic card v0.0.6.7 [ASUS]
7. ASUS Boot Setting (Direct BIOS) v1.00.22 [ASUS]
8. ASUS EZ Update v3.00.11 [ASUS]
9. ASUS GPU Tweak II v2.1.7.1 [ASUS]
10. Samsung NVMExpr

[2020-06-09 05:59] tunisiano187 commented on #824
Hi, you need to follow the guidelines here : https://github.com/chocolatey-community/chocolatey-package-requests/raw/master/README.md to make the work easier for everyone to follow the packages separately and follow the evolution.
Thank you

[2020-06-09 06:03] mkevenaar commented on #824
Hi @EpsilonsQc just like @tunisiano187 already said, please create an issue for each of the items in the list. Also please use the template provided when you create the issue on GitHub and fill in all the required items.

[2020-06-09 10:06] pauby commented on #819
Closing this as no update after 14 days.

[2020-06-09 10:06] #819 closed

[2020-06-09 10:11] pauby commented on #812
@dgalbraith Is there an update on this? I ask as I see you are still pending as a maintainer.

[2020-06-09 10:12] pauby commented on #806
@Xav83 The package failed verification on 26 May.

[2020-06-09 10:14] pauby commented on #803
@Cossey The package has failed validation.

[2020-06-09 10:14] pauby commented on #799
@corbob Any update on this?

[2020-06-09 10:15] pauby commented on #795
@corbob Any update on this?

[2020-06-09 10:15] Cossey commented on #803
@pauby Thanks, I've been busy the past few days but I was in the middle of correcting the problem.

[2020-06-09 10:15] pauby commented on #787
@boubou Any update on this?

[2020-06-09 10:16] #783 closed

[2020-06-09 10:17] pauby commented on #776
Any update on this?

[2020-06-09 10:17] pauby commented on #774
Any update on this?

[2020-06-09 10:17] #773 closed

[2020-06-09 10:19] #759 closed

[2020-06-09 10:20] pauby commented on #743
Any update on this?

[2020-06-09 10:20] pauby commented on #707
@dgalbraith Any update on this?

[2020-06-09 10:21] #697 closed

[2020-06-09 13:11] Xav83 commented on #806
Oh, I didn't see it, I will see to fix that during the week 🙂

[2020-06-09 13:30] teknowledgist commented on #743
I've received no reply whatsoever despite several messages.  I'm happy to build/maintain the package if someone else can convince the author of any of:

1) to make a shift in his license statement.
2) to make an exception for a Chocolatey package.
3) to make an official download site that allows scripted downloads.

Unfortunately, until then, this package is not possible.

[2020-06-10 03:26] EpsilonsQc commented on #824
OK thanks for the heads up. Will do in due time.

[2020-06-10 03:26] #824 closed

[2020-06-12 15:25] dgalbraith commented on #707
Packaging is complete - just waiting for verification testing to be completed before marking available for review.

[2020-06-12 16:30] AdmiringWorm commented on #707
@dgalbraith when you submit a package, please include the link to the package here.
That way we won't have to waste time trying to search for the package (and hopefully find it).

[2020-06-13 06:03] dgalbraith commented on #707
Packages are complete and ready for review.

I have added 2 packages here - [tldr](https://www.chocolatey.org/packages/tldr) and [tldr-plusplus](https://www.chocolatey.org/packages/tldr-plusplus).

`tldr` is a meta-package meant to provide an abstraction to the implementation of the client while the [tldr++](https://isacikgoz.me/tldr/) client package is captured as the actual implementation to be

[2020-06-15 01:13] qqgg231 opened #826 "RFP - ZebraDesigner"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://www.zebra.com/us/en/support-downloads/printer-software/zebra-designer-3-download

[2020-06-15 08:41] pauby commented on #826
FYI There may be a little work involved in downloading from the link provided, from the command line.

[2020-06-15 11:22] tunisiano187 commented on #190
Package sent (10 Jun 2020) waiting for review

[2020-06-15 11:37] tunisiano187 commented on #821
/attach @tunisiano187 tunisiano
You attach my user if it can help ;-)

[2020-06-15 19:52] majkinetor opened #827 "RFM - cpu.z*"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Existing Package Details

Package source URL:
https://github.com/majkinetor/au-packages/tree/master/cpu-z
https://github.com/majkinetor/au-packages/tree/master/cpu-z.portable
https://github.com/majkinetor/au-packages/tree/master/cpu-z.install

[2020-06-16 01:36] teknowledgist commented on #700
Notice to anyone thinking about building this package, it is **32-bit only**.  [It will not work/install on 64-bit Windows.](http://tinypdf.com/support.html#Does%20TinyPDF%20work%20on%20Windows%2064-bit)

[2020-06-16 09:51] tunisiano187 commented on #827
I think i can take them in my automatic repository.

[2020-06-16 10:06] majkinetor commented on #827
OK, thx, I am keeping them for now, I wanted to see if there is an interest.

[2020-06-16 10:06] #827 closed

[2020-06-16 15:02] SlrG commented on #700
@teknowledgist
Thank you, for letting me know. I did not know this until now and I think its better to withdraw my package request under this circumstances. Would not make sense to put work into a package limited to 32-bit only.

[2020-06-16 15:02] #700 closed

[2020-06-18 16:18] AdmiringWorm commented on #700
@SlrG if you look at http://tinypdf.com/products.html
the page specifically mentions:

Even if the software only worked for 32bit, it would still be a valid request (it can be determined during installation what the os architecture is).
I'm not going to re-open the request now, as that would be up to you if you still want to request a package for tinypdf

[2020-06-18 20:05] petitchou opened #828 "RFM - Electron"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-06-18 20:26] tunisiano187 commented on #828
I'm trying to update it, i'll keep you in touch

[2020-06-19 01:34] EpsilonsQc opened #829 "RFP - Daemon Tools Lite"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.daemon-tools.cc/products/dtLite

Direct download URL for the software / insta

[2020-06-19 01:38] EpsilonsQc opened #830 "RFP - AMD Chipset Drivers"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.amd.com/en/products/chipsets-am4

Direct download URL for the software / inst

[2020-06-19 01:41] EpsilonsQc opened #831 "RFP - AMD Radeon Software"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.amd.com/en/technologies/radeon-software

Direct download URL for the software

[2020-06-19 01:42] EpsilonsQc opened #832 "RFP - AMD Ryzen Master"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.amd.com/en/technologies/ryzen-master

Direct download URL for the software /

[2020-06-19 01:44] EpsilonsQc opened #833 "RFP - ASUS AI Suite v3.00.52"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.asus.com/support/Download-Center/

Direct download URL for the software / ins

[2020-06-19 01:47] EpsilonsQc opened #834 "RFP - ASUS AURA Lighting Control for Graphic card v0.0.6.7"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.asus.com/support/Download-Center/

Direct download URL for the software / ins

[2020-06-19 01:50] EpsilonsQc opened #835 "RFP - ASUS Boot Setting v1.00.22"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.asus.com/support/Download-Center/

Direct download URL for the software / ins

[2020-06-19 01:53] EpsilonsQc opened #836 "RFP - ASUS EZ Update v3.00.11"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.asus.com/support/Download-Center/

Direct download URL for the software / ins

[2020-06-19 01:54] EpsilonsQc opened #837 "RFP - ASUS GPU Tweak II v2.1.8.1"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.asus.com/us/site/graphics-cards/gpu-tweak-ii/

Direct download URL for the so

[2020-06-19 01:56] EpsilonsQc opened #838 "RFP - Samsung NVMExpress"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.samsung.com/semiconductor/minisite/ssd/download/tools/

Direct download URL f

[2020-06-19 01:57] EpsilonsQc opened #839 "RFP - Rockstar Games Launcher"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://socialclub.rockstargames.com/rockstar-games-launcher

Direct download URL for the

[2020-06-19 01:58] EpsilonsQc opened #840 "RFP - Howard E-Mail Notifier v1.72"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.the-sz.com/products/howard/

Direct download URL for the software / installer

[2020-06-19 02:00] EpsilonsQc opened #841 "RFP - iStripper v1.2.242"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.istripper.com/

Direct download URL for the software / installer :
https://ww

[2020-06-19 02:03] EpsilonsQc opened #842 "RFP - The Matrix Screensaver"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.meticulous-software.co.uk/downloads.shtml

Direct download URL for the softwa

[2020-06-19 02:04] EpsilonsQc opened #843 "RFP - TranslucentTB"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://github.com/TranslucentTB/TranslucentTB

Direct download URL for the software / in

[2020-06-19 02:06] EpsilonsQc opened #844 "RFP - Winamp PlayaControl v1.66"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
http://android.malzner.net/

Direct download URL for the software / installer :
http://an

[2020-06-19 02:08] EpsilonsQc opened #845 "RFP - Winamp Playlist File Remover v2.5"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
http://forums.winamp.com/showthread.php?t=157049

Direct download URL for the software /

[2020-06-19 02:09] EpsilonsQc opened #846 "RFP - O&O AppBuster v1.1.1339"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.oo-software.com/en/ooappbuster

Direct download URL for the software / instal

[2020-06-19 02:14] EpsilonsQc opened #847 "RFP - Freemake YouTube Video Downloader"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.freemake.com/free_video_downloader/

Direct download URL for the software / i

[2020-06-19 02:17] EpsilonsQc opened #848 "RFP - Freemake Youtube to MP3 Boom v1.07.19"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.freemake.com/free_youtube_converter/

Direct download URL for the software /

[2020-06-19 09:02] tunisiano187 commented on #828
Package sumited, waiting for verification and approval

[2020-06-19 09:09] pauby commented on #845
According to the 'first post in the thread](http://forums.winamp.com/showpost.php?s=330eaa4ccfa5602fa321fa4d06a44e63&p=1172453&postcount=1) that Direct Download URL has been removed (it goes to a 404 page) and the site provided in the footer for the 'stable' version is also a 404 page.

[2020-06-19 09:13] pauby commented on #843
I've actually been looking for something like this for a while so I'll pick this up!

[2020-06-19 09:19] pauby commented on #841
This isn't a package that we would make available on the Community Repository. Closing the issue.

[2020-06-19 09:19] #841 closed

[2020-06-19 11:14] petitchou commented on #828
Thanks! I appreciate it!

[2020-06-19 14:36] tunisiano187 commented on #828
OK, in moderation, if you need it quickly, you can force by using : choco install electron --version=8.3.3

[2020-06-19 15:12] AdmiringWorm commented on #829
This is not a request that can be be honored, due to publisher have requested the package basically not to exist.
See: https://github.com/chocolatey-community/chocolatey-package-requests/issues/372#issuecomment-408102941 for the more information.

[2020-06-19 15:12] #829 closed

[2020-06-19 15:16] AdmiringWorm commented on #831
Duplicate of #681

[2020-06-19 15:16] #831 closed

[2020-06-19 15:41] AdmiringWorm commented on #830
@EpsilonsQc it looks like this is the package you are looking for: https://chocolatey.org/packages/amd-ryzen-chipset

If it is this package, and it isn't up to date please contact the maintainer of the package to get it updated (if there is no response from the maintainer, then follow the [triage process](https://chocolatey.org/docs/package-triage-process#package-is-outdated) to get it updated.

[2020-06-19 18:45] EpsilonsQc commented on #845
I uploaded the installer to my Google Drive and edited the original post. Hope that help to make the package a reality. This Winamp plugin is so useful.

Here's the link to the software installer :
https://drive.google.com/file/d/1QJwv0-1RHcXEicdAHyUJpuV8DJbGjf10

[2020-06-19 18:48] EpsilonsQc commented on #830
I'll try to contact the package manager and update this post accordingly if I receive a message. Else I'll go with the triage process. Thanks.

[2020-06-19 18:53] EpsilonsQc commented on #681
Updated URL and version RFP - AMD Radeon Software :

Software project URL :
https://www.amd.com/en/technologies/radeon-software

Direct download URL for the software / installer :
https://drivers.amd.com/drivers/beta/win10-radeon-software-adrenalin-2020-edition-20.5.1-june10.exe

Software summary / short description:
AMD Radeon Software Adrenalin 2020 Edition 20.5.1 installation package. Made by A

[2020-06-19 19:02] EpsilonsQc commented on #829
Well, it's quite old (July 2018), so I just contacted the developer of Daemon Tools to see if they changed their mind. Will update this post accordingly if and when I receive a response from their end. Thanks.

I would like to know if you changed your mind regarding "Daemons Tools Lite" being available as a package on chocolatey ?

https://github.com/chocolatey-community/chocolatey-package-request

[2020-06-20 11:25] yoanmalie opened #849 "RFP - Valorant"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://playvalorant.com
Direct download URL for the software / installer : https://valor

[2020-06-20 13:19] AdmiringWorm commented on #849
Other urls for different regions seems to be available:
North America: https://valorant.secure.dyn.riotcdn.net/channels/public/x/installer/current/live.live.na.exe
Asia: https://valorant.secure.dyn.riotcdn.net/channels/public/x/installer/current/live.live.ap.exe

Probably others as well, didn't check any further.
Opening this one up to maintainers anyhow as I am sure something could be worked out

[2020-06-21 09:12] georgettica commented on #683
seems like I have not time to work on it (as can be seen from the last comment I made) if someone aside of me wants to work on it the community will be happy

[2020-06-22 08:48] pauby commented on #814
@teknowledgist Can you give us an update on this one? Are you picking up all of these packages:

- https://github.com/chtof/chocolatey-packages/tree/master/automatic/miktex
- https://github.com/chtof/chocolatey-packages/tree/master/automatic/miktex.install
- https://github.com/chtof/chocolatey-packages/tree/master/automatic/miktex.portable

[2020-06-22 10:22] pauby commented on #681
@EpsilonsQc Is this a new package request or is it a request to update _this_package request?

[2020-06-22 10:24] pauby commented on #845
@EpsilonsQc We can't use an unofficial download location for software unfortunately. So have it available on your Google Drive is not going to work unfortunately.

[2020-06-22 10:29] AdmiringWorm commented on #681
@pauby it is the same program.
The amd graphics drivers are part of the amd radeon software.

[2020-06-22 10:53] pauby commented on #681
@AdmiringWorm Cool. So should the [original request](https://github.com/chocolatey-community/chocolatey-package-requests/issues/681#issue-490381972) be updated? Happy to do it if @Trance-Paradox doesn't but just want to be clear before doing so.

[2020-06-22 11:01] AdmiringWorm commented on #681
@pauby the request should probably be updated, but not the direct download URL.
The URL used in the original request URL is to the auto-detection tool and not the software being requested,
and the URL by @EpsilonsQc is to the optional/beta release of the Radeon software (which is not generally recommended unless there are problems with the stable release).

[2020-06-22 11:09] Trance-Paradox commented on #681
I requested this almost a year back. Since then the link and official site may have changed. I just want to install the updated radeon drivers.

[2020-06-22 12:51] TheCakeIsNaOH opened #850 "RFM - ddu"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/ddu
Package source URL: https://github.com/dtgm/chocolat

[2020-06-22 12:57] AdmiringWorm commented on #850
@TheCakeIsNaOH in the future, please remove the section mentioning `### Current Maintainer` and use the [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) standard for the date (`YYYY-MM-DD`)

[2020-06-22 13:21] TheCakeIsNaOH commented on #850
Sounds fine, but the issue template does not mention either of these requirements.

[2020-06-22 13:30] AdmiringWorm commented on #850
@TheCakeIsNaOH I am aware, those aren't requirements right now but will when the validator is pulled in.

The reason I made those decisions when writing the validator is because:
1. I needed a way to determine certain actions based on the template, and having both the current maintainer and I don't want to become the maintainer would only confuse the validation.
2. It was easier to use a standard

[2020-06-22 13:49] TheCakeIsNaOH commented on #850
@AdmiringWorm I completely understand the need for specific formatting and validation, I was concerned about people not knowing about the requirements, but I see you added details about the requirements to the issue template in the PR, which looks good to me.

[2020-06-22 16:59] Xav83 commented on #806
FYI The package passed the automatic tests and is waiting for the review by the moderator 🙂

[2020-06-22 22:01] EpsilonsQc commented on #845
Well, the situation is kinda sad because this app was made by a random guy on a forum and is nowhere to be found now.

[2020-06-22 22:06] EpsilonsQc commented on #681
As a long time AMD Radeon GPU user here, I can assure you that 99,99% of the time, the Optional/Beta release bring more stability and more bug fixed than the most up-to-date WHQL driver available. I believe that most AMD Radeon user always use the most recent driver because this is the default update behavior of the AMD Radeon Software to install the latest available driver (20.5.1 in this case) e

[2020-06-22 23:17] teknowledgist commented on #814
The miktex.install package is done.  I was waiting because (I would swear that) [the new versioning scheme](https://miktex.org/announcement/new-release-versioning-scheme) said "middle of June" 10-12 days ago, so I thought I would wait (a couple days).  Since it now says "end of June", I will push the package anyway.

I can easily (and should) pick up the `miktex` package, and I may as well take th

[2020-06-23 03:54] teknowledgist commented on #814
Thinking about the meta-package, `miktex`, is there any way to pass package parameters given for the meta package onto the dependency, `miktex.install`, package?

If not, is there a standard to just remove the description of parameters from the meta package and have a default install of the dependency?  IOW, only users who dig deeper into the dependency will see the parameter options?

Thanks.

[2020-06-23 09:13] pauby commented on #814
There is this parameter:

[code]

Can you send a request for each of those packages and reference this issue?

[2020-06-23 09:19] pauby commented on #845
Is the source code for it available?

[2020-06-23 11:25] pauby commented on #845
/recheck

[2020-06-23 11:29] AdmiringWorm commented on #814
@teknowledgist if the meta package and the install/portable package id are the same (excluding `.install`/`.portable`), then any parameters (and arguments) passed to the meta package should also be passed to the dependency.

[2020-06-23 11:41] AdmiringWorm commented on #681
I was talking from my own experience as a long time AMD Radeon user as well, so I guess I must be among those 0.01% that you didn't cover then as 9/10 times I have tried the optional download I have had problems, everything from graphical glitches, software crash to a full hard crash (rolling back to the recommended version typically fixed these problems).

No, that is not the default. It will onl

[2020-06-23 16:18] TheCakeIsNaOH commented on #821
Package version approved as of today, thanks for picking this up @tunisiano187

[2020-06-23 16:18] #821 closed

[2020-06-23 22:45] EpsilonsQc commented on #845
As far as I know, no. This plugin was only available thru the forums post link I shared above.

[2020-06-23 22:48] EpsilonsQc commented on #681
Well maybe it's true but in all case, the "minimalsetup" **Auto-Detect and Install Radeon™ Graphics Drivers for Windows** install v20.5.1 by default, which is the current beta/optional drivers...

[2020-06-23 23:25] AdmiringWorm commented on #845
@pauby there is possible to traverse the wayback machine to get the original page and the download, not sure if that would be an acceptable solution though.

https://web.archive.org/web/20130210100237/http://nunzioweb.com:80/daz/plfr.html

[2020-06-23 23:30] EpsilonsQc commented on #845
wow that is awesome. the download link work 🐙  !
https://web.archive.org/web/20130210100237/http://nunzioweb.com:80/daz/files/Playlist_File_Remover_v2_2_2.exe

[2020-06-23 23:42] AdmiringWorm commented on #845
@EpsilonsQc yes it works, but that link only works in the browser (due to javascript), the direct URL would be: https://web.archive.org/web/20130222021733if_/http://nunzioweb.com/daz/files/Playlist_File_Remover_v2_2_2.exe

[2020-06-23 23:53] AdmiringWorm commented on #681
@EpsilonsQc That is not happening when I run it, but I also have the *recommended* version of Radeon software installed, so that gets automatically selected. The same would be true if you have the optional version installed locally.

![image](https://user-images.githubusercontent.com/1474648/85478432-8353ae80-b5bc-11ea-9d23-53194486f8b2.png)

Anyways, back to the point. I am not saying that the op

[2020-06-24 02:15] EpsilonsQc commented on #681
@AdmiringWorm Sounds like the perfect solution (to have both the Recommended package and the Optional package with a -beta or -optional suffix) !

[2020-06-24 09:16] pauby commented on #845
@AdmiringWorm I didn't even think about that. I would be happy with that if there were comments in the code / description about it. Since it was my initial objection, I'll post in the moderators channel.

[2020-06-25 10:05] Cossey commented on #803
Package has been waiting for review for a few weeks so it's up to the review team now to okay it.

[2020-06-25 12:03] Ashkaan opened #852 "RFM - autoruns"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [ ] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2020-06-25 16:51] tunisiano187 commented on #852
Hello,
I think it's already there : https://chocolatey.org/packages/autoruns
Are they different?

[2020-06-25 17:48] tunisiano187 commented on #850
Hello, i'll take this package too ;-)
Have a nice day

[2020-06-25 19:13] AdmiringWorm commented on #852
@tunisiano187

Because the template is not up to scratch, the validator don't get that far to validate that. He also have checked that he is the current maintainer.

@Ashkaan Please update the template as per the `Package Request Validation` comment.

[2020-06-25 19:22] tunisiano187 commented on #852
OK, missunderstood the request sorry.

i can take it if you add me as maintainer.
tunisiano
Have a nice day

[2020-06-25 20:04] AdmiringWorm commented on #852
@tunisiano187 until a package has been marked as `Status: Available for maintainer(s)` it is not available to be picked up from this repository.

[2020-06-26 15:38] Ashkaan commented on #852
Please give me instructions.  I reached out to the site admins and they told me that I only have to post here to be relieved.

[2020-06-26 17:19] AdmiringWorm commented on #852
@Ashkaan see the comment from the bot: https://github.com/chocolatey-community/chocolatey-package-requests/issues/852#issuecomment-649500914

You may get additional requested changes once you have fixed the one it already have mentioned (since it it aborted the validation when it noticed conflicting sections).

[2020-06-26 21:11] dgalbraith commented on #812
@pauby I have not received an email to validate the addition as a maintainer.  Not sure if there is another way to update the status on this / accept assignment as a package maintainer without using the email?

[2020-06-27 02:11] tunisiano187 commented on #812
@dgalbraith, you can contact the admins via the form on the package page, it's working again.

[2020-06-27 02:32] dgalbraith commented on #812
thanks @tunisiano187.  Maintainers contacted ([Chocolatey.org Message for maintainers of the package 'Kindle'.pdf](https://github.com/chocolatey-community/chocolatey-package-requests/files/4839855/Chocolatey.org.Message.for.maintainers.of.the.package.Kindle.pdf)) - will update here on the outcome.

[2020-06-29 09:00] pauby opened #853 "RFM - bonjour"
## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/bonjour
Package source URL: https://support.apple.com/do

[2020-06-29 09:01] pauby commented on #853
The binaries cannot be embedded and @xmha97 confirmed that the latest installer is not available on the official Apple download page. Will update this with more info when I have it.

[2020-06-29 11:08] xmha97 commented on #853
You can see the latest version of bonjour into iTunes setup:

## iTunes 64-bit
![PeaZip](https://user-images.githubusercontent.com/23485114/85996612-b57e6980-ba1d-11ea-90e9-ab2cce4fa20e.png)

## iTunes 32-bit
![PeaZip](https://user-images.githubusercontent.com/23485114/85996636-bca57780-ba1d-11ea-9515-f2b382153e36.png)

iTunes can be downloaded from the following link:
https://www.apple.com/itunes

[2020-06-29 20:05] jberezanski commented on #818
Sorry everyone for the long silence, I somehow missed this issue and only stumbled upon it by accident today.
Yes, the existing packages do support specifying all desired languages at install time. What they do not support right now is adding a language to an _existing_ VS installation. (One could probably hack it by installing any of the workload packages with the relevant language parameter adde

[2020-06-29 20:19] rkitover commented on #818
It may be worthwhile to consider defaulting to English on even non-English Windows installations, as the non-English build tool message output can sometimes break other build tools, and developers generally want to use these tools in English, but that's up to you guys.

[2020-06-30 10:17] AdmiringWorm commented on #853
/recheck

[2020-07-03 09:59] cmorty opened #854 "RFM - FreePlane"
## I Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/FreePlane
Package source URL: https://github.com/dtgm/chocolatey-p

[2020-07-03 20:15] gep13 commented on #854
I have just added @tunisiano187 as a maintainer of this package.

[2020-07-03 20:45] #852 closed

[2020-07-04 15:16] TheCakeIsNaOH commented on #820
The new version by @tunisiano187 has been approved. Thanks for taking over this package.

[2020-07-04 15:16] #820 closed

[2020-07-04 16:07] tunisiano187 commented on #850
Hello,
Can someone assign this one to me ? and add the triage label ?
It waiting for moderation.
Thank you
tunisiano

[2020-07-04 16:12] tunisiano187 commented on #854
@gep13 , can you assign it to me?
That's usefull to follow what is still in progress.

Thank you

[2020-07-04 16:21] AdmiringWorm commented on #850
@tunisiano187 I assume you mean the review label, as the triage label is for issues that aren't yet been made available to maintainers.

The statuses are as following:

- `Status: Incomplete Request` - The validator has found issues with the request that needs to be fixed
- `Status: Triage`
    1. The validator has not found issues, and requires a human to open it up for maintainers completely

[2020-07-04 16:23] AdmiringWorm commented on #854
@tunisiano187 Gary could not have added you until you added a comment to the issue.
This is a limitation of GitHub. (Just so you know).

[2020-07-04 16:54] tunisiano187 commented on #850
Yes, sorry.
Thank you

[2020-07-04 16:55] tunisiano187 commented on #854
Thank you, didn't knew it.

[2020-07-04 17:08] AdmiringWorm commented on #854
@tunisiano187 I don't think most people know that. I found that first out myself last weekend (while working on some upcoming enhancements to the request validator).

[2020-07-04 17:10] tunisiano187 commented on #854
Maybe you should add it in the Readme as a requisite to became maintainer ?

[2020-07-04 17:17] AdmiringWorm commented on #854
I am planning to make some changes to the docs, to add a section of what is expected when a new maintainer is picking up a request.
I have not yet gathered the full thoughts of how this is detailed yet, though.

[2020-07-05 08:06] Cossey commented on #803
Package has been approved.

[2020-07-05 16:59] #803 closed

[2020-07-06 17:14] Spunkie opened #855 "RFM - SDIO"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/sdio
Package source URL: https://github.com/Spunkie/chocolatey-packages/tree/master/automatic/sdio

___
This package has been a constant thorn in my side.

The _developer

[2020-07-06 17:22] Spunkie commented on #855
/confirm your-chocolatey-username

[2020-07-06 17:26] Spunkie commented on #855
@AdmiringWorm Well the bot's broken, my https://chocolatey.org/profiles/Spunkie is linked to github correctly. Might have something to do with the link to the pkg source is broken on the current `SDIO` pkg.

[2020-07-06 17:46] mkevenaar commented on #855
/confirm Spunkie Spunkie

[2020-07-06 17:49] mkevenaar commented on #855
/attach @Spunkie Spunkie

[2020-07-06 17:51] mkevenaar commented on #855
/recheck

[2020-07-06 18:02] AdmiringWorm commented on #855
@Spunkie it is not broken, (at least not in that case). You didn't replace `your-chocolatey-username` with you actual chocolatey username.

[2020-07-06 18:39] aelisya opened #856 "RFM - Windows Firewall Control"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/windowsfirewallcontrol
Package source URL: https://www.b

[2020-07-06 18:57] AdmiringWorm commented on #830
@EpsilonsQc can you give us a status update on this one?
Did you ever receive a response for this package?
Or did it get updated?

[2020-07-07 00:03] EpsilonsQc commented on #830
I did receive an update on Disqus from the package maintainer [dgatto](https://chocolatey.org/profiles/dgatto) claiming he is going through the process of getting an updated version approved.

https://chocolatey.org/packages/amd-ryzen-chipset

[2020-07-07 05:16] tunisiano187 commented on #830
The package is still waiting for approval, but the version is lower than the latest approved, so it won't be installed except if he hides the others and the users have to allow downgrade... Not really easy.

[2020-07-07 05:36] EpsilonsQc commented on #830
Yeah the maintainer discussed about that issue with the reviewer :

Their conversation can be found here :
https://chocolatey.org/packages/amd-ryzen-chipset/2.04.28.626

[2020-07-07 17:21] tunisiano187 commented on #828
@AdmiringWorm , This package is now published. you can close this issue.
Thank you

[2020-07-07 17:23] tunisiano187 commented on #768
This package as been approved, you can close this issues.
Thank you

[2020-07-07 17:27] #828 closed

[2020-07-07 17:48] #768 closed

[2020-07-12 01:33] Cossey commented on #856
If no one takes up maintaining this package i might look into doing so, but i can only start work on it in 7-10 days time.

Just a note that they keep the exe file name the same every update so if someone tries to install an old version on the community repo then those installs will fail the hash check.

[2020-07-12 01:51] TheCakeIsNaOH commented on #850
Approved. Thanks @tunisiano187 for taking this package over.

[2020-07-12 01:51] #850 closed

[2020-07-12 07:40] tunisiano187 commented on #856
I've requested maintinership monday, but still don't have any answer.
I'll ask the site admins for it
Th package is already ready

[2020-07-12 07:44] tunisiano187 commented on #856
Request sent to site admins

Le dim. 12 juil. 2020 à 03:33, Stewart Cossey <notifications@github.com> a
écrit :

[2020-07-12 17:46] beefday opened #857 "RFM - Transmission"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/transmission
Package source URL: https://github.com/dtgm

[2020-07-12 18:11] tunisiano187 commented on #857
As soon as the triage process is passed, i'll take this package, ass it is from DTGM to ;-)

[2020-07-12 18:13] beefday commented on #857
Great, thank you very much! :-)

[2020-07-12 19:01] AdmiringWorm commented on #857
@tunisiano187 if you haven't already, please send off a message to the site admins to get added as a maintainer.

[2020-07-12 19:10] tunisiano187 commented on #857
Already done ;-) And the package is ready, and the PR too

[2020-07-12 20:17] dgalbraith commented on #707
The packages [tldr](https://www.chocolatey.org/packages/tldr) and [tldr-plusplus](https://www.chocolatey.org/packages/tldr-plusplus) have now been reviewed and are available in the community repository.

[2020-07-12 20:24] #707 closed

[2020-07-12 20:25] dgalbraith commented on #812
No response from the package maintainers to date.

There is also a [pull request](https://github.com/AnthonyMastrean/chocolateypackages/pull/383) for a version update that has been outstanding since 31-March so not sure if maintenance is still taking place.

[2020-07-12 21:05] tunisiano187 commented on #856
Package ready, just waiting for have the maintainer role andi'll push it asap

[2020-07-13 08:57] dgalbraith commented on #810
I am happy to pick this one up - Chocolatey user name is dgalbraith

[2020-07-13 09:00] dgalbraith commented on #293
I am happy to pick this one up - Chocolatey user name is dgalbraith

[2020-07-13 09:01] dgalbraith commented on #682
I am happy to pick this one up

[2020-07-13 13:57] aelisya commented on #856
@tunisiano187 thanks a lot :), i really like this software (since the way to monitor windows firewall is so... unfriendly for normal user)

[2020-07-13 15:06] tunisiano187 commented on #856
You're welcome

[2020-07-13 16:05] Daebis opened #858 "RFP - DroidCam"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.dev47apps.com/
Direct download URL for the software / installer : https:

[2020-07-13 16:30] Daebis commented on #858
stupid bot are broken with bold xD

[2020-07-13 17:04] AdmiringWorm commented on #858
@Daebis don't make changes to the layout of the template, the bot requires the layout itself to be unchanged.

[2020-07-13 17:17] Daebis commented on #858
i supose a human read that and it's better for eyes to have a little of bold :/
thanks for the help

[2020-07-13 18:06] AdmiringWorm commented on #858
I can't speak of other people of course, but to me, I find it easier to read when it isn't bold.

BTW, any reason why you closed the issue? Do you no longer want to request a package for the software?

[2020-07-13 18:41] Daebis commented on #858
mistake x)

[2020-07-13 18:44] AdmiringWorm commented on #858
NOTE TO UPCOMING MAINTAINERS

The link on the download page is being invoked using javascript, so additional parsing may be necessary if being made as an automatic package.

[2020-07-15 10:09] pauby commented on #683
I'll pick this up again (I need it after rebuilding my VR machine).

[2020-07-15 13:08] aelisya commented on #856
@tunisiano187 new version failed the test (i will mark this closed thanks for all)

[2020-07-15 14:28] AdmiringWorm commented on #856
@aelisya the request is not considered to be completed until the package has been approved by a moderator, thus I am re-opening this request again.

[2020-07-15 15:04] PissedCapslock commented on #681
Would it be easier to split this up in a package per GPU, just like how AMD offers them on https://www.amd.com/en/support ?
What works for me is:

* Download the installer for my specific GPU (although I have the impression most Radeon cards have the same driver): https://drivers.amd.com/drivers/beta/win10-radeon-software-adrenalin-2020-edition-20.7.1-july9.exe
* Run that exe manually but stop aft

[2020-07-16 18:11] charmarkk opened #859 "RFP - colour-contrast-analyser"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/ThePacielloGroup/CCAe
Direct download URL for the software / inst

[2020-07-17 07:27] alexanderadam opened #860 "RFP - Compiler for 💎 Crystal language 💎"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://crystal-lang.org/
Direct download URL for the software / installer: https://g

[2020-07-18 01:46] jtcmedia commented on #810
@dgalbraith I believe I have added you as a maintainer. You just need to approve. My repo has the current package https://github.com/jtcmedia/chocolatey-packages/tree/master/androidstudio if you want a starting point.

[2020-07-18 15:55] pauby commented on #683
I've looked into this and I'm going to pass on it. This isn't a good installer to package.

The setup is a stub installer ([there is no offline installer](https://forums.oculusvr.com/developer/discussion/49742/offline-installer))and runs you through a process including logging in etc. It doesn't have a silent option natively, I don't think AutoHotkey is going to be easy to script (although I'd ima

[2020-07-18 17:03] pauby commented on #843
This has been pushed - https://chocolatey.org/packages/translucenttb

[2020-07-18 17:09] pauby commented on #797
This software is not downloadable publically from what I can see. The download link takes you to a login page which then allows you to download the software (using the URL above). While that's fine for this version, updates can't be automated.

@Kristinita Are you aware of a public URL that the latest version can be downloaded from?

[2020-07-18 17:19] mcsitter opened #861 "RFP - travis-cli"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/travis-ci/travis.rb
Direct download URL for the software / instal

[2020-07-18 17:55] pauby commented on #757
This has been pushed at https://chocolatey.org/packages/keepass-plugin-rulebuilder

[2020-07-18 18:11] pauby commented on #756
This has been pushed at https://chocolatey.org/packages/keepass-plugin-haveibeenpwned

[2020-07-18 19:06] pauby commented on #546
This has been done at https://chocolatey.org/packages/gitflow-avh/0.0.0.20200718

[2020-07-19 07:29] tunisiano187 opened #862 "RFM - wamp-server"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/wamp-server/3.2.0
Package source URL: https://github.com/tunisiano187/Chocolatey-packages/tree/master

[2020-07-19 07:33] tunisiano187 commented on #862
/confirm tunisiano

[2020-07-19 07:37] tunisiano187 commented on #862
/recheck

[2020-07-19 09:16] tunisiano187 opened #863 "RFM - spybot"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/spybot/2.8.68.0
Package source URL: https://github.com/tunisiano187/Chocolatey-packages/tree/master/a

[2020-07-19 09:20] tunisiano187 opened #864 "RFM - xolidosigndesktop"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/xolidosigndesktop
Package source URL: https://gitlab.com/chocolatey-packages/automatic-updating/-/tree

[2020-07-20 05:52] Trance-Paradox commented on #681
H

Will it cover the auto detect function for any amd gpu?
Or u suggestion different options for installing card specific drivers.

[2020-07-20 06:02] PissedCapslock commented on #681
This approach certainly doesn't auto-detect which AMD GPU you use.
However, it looks like the actual driver is the same for a bunch of GPUs, so there wouldn't be a need for many packages (I think).

[2020-07-20 06:50] Trance-Paradox commented on #681
Does single nvidia's driver works for all its cards

[2020-07-20 16:51] michaelmhoffman opened #865 "RFP - wsl-ubuntu-2004"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.microsoft.com/store/apps/9n6svws3rx71
Direct download URL for the softwa

[2020-07-20 17:16] pauby commented on #865
I will pick this up.

On Mon, 20 Jul 2020, 17:51 Michael Hoffman, <notifications@github.com>
wrote:

[2020-07-20 18:17] AdmiringWorm commented on #861
Notice to any upcoming maintainer, this request will require a request on ruby and installation to happen through a call to `gem`.

[2020-07-21 13:59] JavaZauber commented on #570
mention https://github.com/Genymobile/genymotion-kernel/issues/4

[2020-07-22 04:38] comnam90 opened #866 "RFP - lsagent"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.lansweeper.com/download/lsagent/
Direct download URL for the software /

[2020-07-22 04:38] comnam90 commented on #866
I'm also happy to become the maintainer of this package - https://github.com/comnam90/chocolatey-packages/tree/master/automatic/lsagent

[2020-07-22 09:57] pauby opened #867 "RFM - rstray"
## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Package URL:
Package source URL:

Date the maintainer was contacted (in YYYY-MM-DD): 2020-06-29
How t

[2020-07-22 09:59] pauby commented on #867
I am raising this issue on behalf of @ltGuillaume (software author) (see https://github.com/ltGuillaume/Redshift-Tray/issues/14).

[2020-07-22 10:56] pauby commented on #867
@AdmiringWorm Just an FYI about the failing check above.

[2020-07-22 11:00] AdmiringWorm commented on #867
@pauby hmm, I didn't take into account that someone would start the sentence of how the maintainer was contacted with a `'`.
The code I implemented only checks if it starts with a letter.

[2020-07-22 11:05] AdmiringWorm commented on #867
/recheck

[2020-07-22 11:06] pauby commented on #867
:+1: I thought it might be that but rather than change it I thought I'd let you know so you can amend the check.

[2020-07-22 11:07] AdmiringWorm commented on #867
@pauby already have, validation currently running again to verify the changes I made was correct

[2020-07-22 11:09] AdmiringWorm commented on #867
and apparently it wasn't 😢

[2020-07-22 11:10] AdmiringWorm commented on #867
/recheck

[2020-07-22 17:33] tunisiano187 commented on #862
Il semble fonctionne, je vais retirer cette demande

[2020-07-22 17:33] #862 closed

[2020-07-22 19:24] comnam90 commented on #866
Created package here https://chocolatey.org/packages/lsagent

[2020-07-22 21:47] aelisya commented on #856
@AdmiringWorm we have received the update, can i close it now ?

[2020-07-22 21:49] AdmiringWorm commented on #856
@aelisya yup, now that the package version have been approved, this request is considered completed and can be closed.

[2020-07-22 21:49] #856 closed

[2020-07-22 22:07] aelisya commented on #856
@tunisiano187 i just want to say on the website it say 6.3.0 and on the software installed 6.3.0.0, so it lead to perimed logo to show everytime (or it's juste me ?)

[2020-07-23 01:46] dgalbraith commented on #810
Package and history have been migrated with the [initial version](https://www.chocolatey.org/packages/AndroidStudio/4.0.1.0) now pushed using the new [repository source](https://github.com/dgalbraith/chocolatey-packages/tree/master/automatic/androidstudio).

[2020-07-23 03:38] teknowledgist commented on #814
The miktex and miktex.install packages are done and working (mostly -- some folks are having upgrade issues, but I'll sort them out).  I don't yet have the .portable package updated, but that wasn't really in the scope of this RFM.  I think this can be closed.

[2020-07-23 03:59] teknowledgist commented on #842
I can take this one.

[2020-07-23 07:45] tunisiano187 commented on #856
Perimed logo ?, i'm using their installer so ...

Le jeu. 23 juil. 2020 à 00:08, Michael <notifications@github.com> a écrit :

[2020-07-23 11:56] aelisya commented on #856
@tunisiano187 no sorry it was a bug on my side (it's why i have rapidly removed my comment)

[2020-07-23 12:13] peterbarendse opened #868 "RFM - ElasticSearch"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/elasticsearch
Package source URL: https://github.com/ela

[2020-07-23 12:25] mkevenaar commented on #868
I recently become the maintainer for ElasticSearch and have pushed a new version.

[2020-07-23 12:27] #868 closed

[2020-07-23 12:28] mkevenaar commented on #868
https://chocolatey.org/packages/elasticsearch/7.8.0

[2020-07-23 17:31] zverev-iv opened #869 "RFM - xmplay"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to my **new account**

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/xmplay
Package source URL: https://github.com/zverev-iv/choco-xmplay

My old account - **zitter**. My new account - **zverev-iv**

[2020-07-23 17:36] tunisiano187 commented on #869
You can do it yourself here : https://chocolatey.org/packages/xmplay/ManagePackageOwners

[2020-07-23 17:39] zverev-iv commented on #869
oh! thanks wery much!

[2020-07-23 17:39] #869 closed

[2020-07-23 18:36] tunisiano187 commented on #867
I'll take it, i've requested to be added as maintainer via the admin form

Package already automated

[2020-07-23 22:01] #814 closed

[2020-07-24 20:51] montgomp opened #870 "RFP - Azure IoT Explorer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/Azure/azure-iot-explorer
Direct download URL for the software / i

[2020-07-24 20:52] montgomp commented on #870
Myself and [YinXue](https://github.com/YingXue) will be maintainers as we are currently code maintainers for this application.

[2020-07-24 23:44] #870 closed

[2020-07-25 11:31] chtof commented on #838
Status: **Review**
https://chocolatey.org/packages/samsung-nvme-driver

@EpsilonsQc: It needs to have the drive connected to install the package so I am not able to test. Is it possible for you to uninstall your current driver, restart your computer and test this Chocolatey package:
`choco install samsung-nvme-driver --pre --version="3.3"`

If it doesn't work, you will have to re-install manually

[2020-07-25 11:32] chtof commented on #839
Duplicate: https://github.com/chocolatey-community/chocolatey-package-requests/issues/714

[2020-07-25 12:02] chtof commented on #843
Status: **Published**

- https://chocolatey.org/packages/translucenttb

Can be closed.

[2020-07-25 12:13] chtof commented on #863
It looks like it's a know issue since version 2.7: https://forums.spybot.info/showthread.php?77434-Install-Spybot-2-8-67-0-Silent-Mode-Batch&p=484652

[2020-07-25 13:15] chtof commented on #864
@tunisiano187
https://github.com/chocolatey-community/chocolatey-test-environment

It should be nice if you can have a Chocolatey Test environment. It allows to test a package in the same conditions than the package verifier. For example, this Chocolatey package currently fails due to a missing dependency on .NET framework.

When you will submit the corrected package, this test will also fails fro

[2020-07-25 15:33] #843 closed

[2020-07-25 15:35] AdmiringWorm commented on #839
Duplicate of #714

[2020-07-25 15:35] #839 closed

[2020-07-25 15:36] AdmiringWorm commented on #839
thanks @chtof must have missed that when opening this up for maintainers

[2020-07-25 15:38] tunisiano187 commented on #864
I've added this to my package, i'll send it as soon as i can upload it (currently refused, i don't really know why)
Thank you for the solution.

[2020-07-25 15:38] #864 closed

[2020-07-25 15:39] tunisiano187 commented on #867
Package uploaded, Green, so waiting for moderation.

[2020-07-25 15:41] #863 closed

[2020-07-25 20:06] EpsilonsQc commented on #843
I know you just pushed this package, but their is a new version available (Version 4 Hotfix 5 | 2020.2) that released 4 days ago.

https://github.com/TranslucentTB/TranslucentTB/releases/tag/2020.2

[2020-07-25 20:10] EpsilonsQc commented on #843
@pauby @chtof I know you just pushed this package, but their is a new version available (Version 4 Hotfix 5 | 2020.2) that released 4 days ago.

https://github.com/TranslucentTB/TranslucentTB/releases/tag/2020.2

[2020-07-25 20:18] EpsilonsQc commented on #838
**Tried to install the package but the console gave me this error :**

[code]

[2020-07-26 01:19] dgalbraith commented on #682
The [Watchman package](https://www.chocolatey.org/packages/watchman) is now ready for review.

[2020-07-27 15:43] wickedsp1d3r opened #871 "RFP - mediahuman-youtube-to-mp3-converter"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.mediahuman.com/youtube-to-mp3-converter/
Direct download URL for the sof

[2020-07-28 03:52] corbob commented on #795
@pauby apologies for the delay. I've submitted the package for moderation. Just working through validation errors.

[2020-07-28 03:54] corbob commented on #799
@pauby I believe I've corrected the validation issues, just need to have an admin move it back to submitted so I can reupload it.

[2020-07-28 11:28] pauby commented on #799
@corbob I did that this morning for you (after your email).

[2020-07-28 13:12] corbob commented on #795
The package has been uploaded: https://chocolatey.org/packages/jigdo/0.8.0 The only thing to note with it: jigdo itself doesn't have an icon, I opted for the Debian icon as it seems to be most often associated with Debian 🤷

[2020-07-28 15:34] corbob commented on #799
@pauby thanks. I just need to figure out what I missed (or what my build script failed to strip out) and then I can get it submitted again.

[2020-07-28 18:26] chtof commented on #838
@EpsilonsQc
Exit code was '3010', it means "Pending restart".
I added 3010 as valid exit code.
Could you try again?

- Uninstall your current driver
- Restart your computer
- Test this Chocolatey package:
`choco install samsung-nvme-driver --pre --version="3.3"`
- Test if the driver works as expected after the installation.

If it doesn't work, you will have to re-install manually your Samsung NVM

[2020-07-29 02:51] EpsilonsQc commented on #838
@chtof The installation worked flawlessly and this is what I received from the console (note that the last 2 lines were in bold red) :

[code]

[2020-07-29 06:04] chtof commented on #838
@EpsilonsQc Is the driver working as expected with the disk after the installation and the required reboot?

[2020-07-29 06:06] EpsilonsQc commented on #838
@chtof yes.

[2020-08-01 06:50] brogers5 commented on #757
Package has been approved as of July 26th. Should be clear to close this one out.

[2020-08-01 06:52] brogers5 commented on #756
Package has been approved as of July 21st. Should be clear to close this one out.

[2020-08-01 07:02] #756 closed

[2020-08-01 07:02] #757 closed

[2020-08-02 01:52] #810 closed

[2020-08-03 00:27] dgalbraith commented on #761
I will pick ths one up for packaging.

[2020-08-03 09:42] pauby commented on #860
Given this has had no update since created and it looks like it needs to be [compiled from source](https://github.com/crystal-lang/crystal/wiki/Porting-to-Windows#building-crystal-for-windows) I'm going to go ahead and close this. If we need to reopen it again, we can do.

[2020-08-03 09:42] #860 closed

[2020-08-04 01:03] corbob commented on #801
I would like to create this package.

[2020-08-05 15:38] TheNavyBear commented on #812
So Amazon servers are no longer serving the version that Chocolatey is trying to pull, so the install through Chocolatey fails. The pull request for a newer (but now outdated) version from March still hasn't been resolved. A new maintainer willing to take over can't get a response to be made maintainer.

I know Chocolatey is open source, and is driven by volunteers, and as such no one really wants

[2020-08-05 16:35] tunisiano187 commented on #812
Hello, the triage process is working correctly, of course it happend that the maintainer isn't answering, but after a week the triage process ask to submit it to the site admins, who are answering maximum 3 days after.
I see some people have pushed it, so they can follow the process, if it's not working, don't hesitate to ask me, i'm interested in this product so i can maintain it if neede ;-)
Hav

[2020-08-05 22:53] tunisiano187 commented on #812
@dgalbraith , i see you haven't received the mail to confirm you want to be maintainer, i had a problem with another maintainer that had unchecked the notifications in his profile, so my tests to add him as maintainer were not sent, is it checked for you ?

[2020-08-05 23:11] dgalbraith commented on #812
@tunisano187 thanks for the suggestion - I have checked my profile setup and notifications are enabled.

@TheNavyBear this may well be down to me using GitHub for the comms here - I have reviewed the process and have contacted the Site Admins on the request to be added as a package maintainer (noting that this was done previously, I just didn't receive the email to confirm) - I am sure that this w

[2020-08-06 08:51] pauby commented on #812
@TheNavyBear

As has already been pointed out by @dgalbraith, he was actually added as a new maintainer but failed to get the email (the email has a link in there for him to click on to confirm to take over as maintainer). He has since sent a subsequent email, 12 hours ago, which I've now responded to and hopefully he has that new email with the link.

Just to be clear here Chocolatey != Chocolate

[2020-08-06 08:59] dgalbraith commented on #812
@pauby confirming that I have received and actioned the maintainer addition this time around - thanks!

Will push the new package as soon as I merge the history and overlay the updates.  Wil do so asap, but may take me until the weekend given a few things in flight.

[2020-08-06 10:07] tunisiano187 commented on #812
@pauby , ys it was the idea ;-) real maximum is 3 days (weekend included ;-) )
That's really amazing by the way ;-) thanl you all for this !!!

[2020-08-06 14:25] TheNavyBear commented on #812
@pauby thank you very much for the information. I really do appreciate the insight. It was made clear after the fact that it was a true comms issue and not a lack or care or concern. I apologize if I came across too harsh.

Thank you everyone for the effort and dedication to keep this package going, it is really truly appreciated.

[2020-08-07 08:03] cosmo0920 opened #872 "RFP - Treasure Agent v3.x"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://github.com/treasure-data/omnibus-td-agent

Direct download URL for the soft

[2020-08-07 09:48] pauby commented on #812
@TheNavyBear

No need to apologise. You didn't come across that way. I did feel that maybe there was some understanding that was missing on how things flow, hence my message. Glad it helped! So we're good here 😄

[2020-08-08 20:50] qqgg231 opened #873 "RFP - Win+X Menu Editor"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://winaero.com/comment.php?comment.news.30
Direct download URL for the softwar

[2020-08-09 15:50] dgalbraith commented on #812
Package has been pushed and updated from the new package source and is ready for review.  Pushed package versions are:

- [Kindle for PC 1.28.57030](https://www.chocolatey.org/packages/Kindle/1.28.57030); and
- [Kindle for PC 1.29.58059](https://www.chocolatey.org/packages/Kindle/1.29.58059)

1.28.57030 was a manual push and 1.29.58059 is the latest version which was pushed by the automatic update