[2018-12-21 16:09] mkevenaar commented on #478
Downloading the software and packaging is possible, however a silent installation is not possible.

I'll be working on creating an AHK for that.

[2018-12-21 16:35] pauby commented on #478
@mkevenaar Let us know if you manage to get it working and we can change the label on the issue.

[2018-12-22 00:24] qqgg231 opened #497 "RFP - NSudo"
NSudo is a system management tool for advanced users to launch programs with full privileges.

https://github.com/M2Team/NSudo/releases

[2018-12-22 11:11] luzpaz commented on #355
@nathanielwarner can you specify what the issues are ?

[2018-12-22 11:19] luzpaz opened #498 "RFP - ODA File Converter"
https://www.opendesign.com/guestfiles/oda_file_converter

FYI, this ia a rebranded verions of Teigha File Converter (https://www.opendesign.com/guestfiles/TeighaFileConverter redirects to the above URL)

Reason: The ODA Converter is a small freely available utility that allows to convert between several versions of DWG and DXF files. FreeCAD and other applications can use it to offer DWG import an

[2018-12-24 16:43] mkevenaar commented on #478
@pauby AHK script is created and package is pushed. Waiting for review. [source](https://github.com/mkevenaar/chocolatey-packages/tree/master/automatic/samsung-magician)

@Fastor01 Package is pushed, please wait for reviewers to approve the package: [samsung-magician](https://chocolatey.org/packages/samsung-magician)

[2018-12-24 17:28] b16r05 opened #499 "RFM - Dumo"
Dumo is already is the repo: https://chocolatey.org/packages/dumo
However, there have been updates: https://www.kcsoftwares.com/?download
Also, I keep getting checksum error

[code]

[2018-12-24 17:43] JourneyOver opened #500 "RFM - DuckieTV & DuckieTV Nightly"
Looking for someone to take over this package https://chocolatey.org/packages/duckietv in accordance of https://github.com/JourneyOver/chocolatey-packages/issues/19#issuecomment-449665066

I honestly just don't feel like maintaining it anymore, and duckietv nightly was just having issues to begin with; with pushing up to chocolatey due to an upstream error (though that should hopefully be fixed ev

[2018-12-24 19:39] mkevenaar commented on #499
@b16r05 I know that at least one of the maintainers is currently not actively maintaining it's packages. If you are willing to take over the package, please use the "Contact Site Admins" link with the package to contact the admins.

The installation fails because the package is using a non-version specific URL, when there is a new version of the software, the package checksum will fail.

[2018-12-24 20:11] pauby commented on #499
@mkevenaar both of those maintainers are known to be no longer maintaining their packages.

[2018-12-24 21:52] bcurran3 commented on #444
Done.

https://chocolatey.org/packages/open-shell/4.4.131

[2018-12-25 11:02] mkevenaar commented on #281
This package has been created: https://chocolatey.org/packages/iobit-malware-fighter/ waiting for reviewers to approve

[2018-12-26 20:14] dimqua commented on #195
The tool is unmaintained, but there is a replacement for it: https://github.com/DavidXanatos/wumgr

The package is already exist but it has "no maintainers", which is pretty strange to me.
https://chocolatey.org/packages/wumgr

[2018-12-26 20:49] pauby commented on #195
@dimqua Can you raise a new 'RFM' issue for this as this is closed.

[2018-12-26 21:13] dimqua opened #501 "RFM - wumgr"
This package is outdated and has no maintainers at the moment.

https://chocolatey.org/packages/wumgr

I did not contact previous maintainer @whiggs yet, since it's not possible trough the site.

---

WuMgr (Update Manager for Windows) is a tool to manage updates of Microsoft products on the Windows operating system. - https://github.com/DavidXanatos/wumgr

[2018-12-27 11:21] Iterus0 opened #502 "RFP - vscodium"
FLOSS binaries of Microsoft's VSCode.

Although the source code of VSCode is released under the MIT license, the binaries distributed by Microsoft are [non-free](https://code.visualstudio.com/license) and contain telemetry, somewhat similar to Chrome/Chromium.

That repo addresses this issue: https://github.com/VSCodium/vscodium

[2018-12-27 12:20] Thilas commented on #502
I can take care of this one. It shouldn't take long to push a first version.

[2018-12-27 16:35] Thilas commented on #502
FYI, package has been pushed. Waiting for approval.

[2018-12-27 16:39] pauby commented on #501
@dimqua There are no maintainers of this package.

[2018-12-27 20:41] mkevenaar commented on #363
Package is created.

[2018-12-27 20:45] mkevenaar commented on #363
https://chocolatey.org/packages/swiftforwindows; waiting for reviewers to complete their actions.

[2018-12-30 19:57] #466 closed

[2019-01-03 09:33] Foadsf opened #503 "RFP - LuxRender and LuxCoreRender"
- LuxRender website --> http://www.luxrender.net/
- LuxCoreRender can be downloaded from --> https://luxcorerender.org/download/

[2019-01-03 10:31] Foadsf opened #504 "RFP - ManuelBastioniLAB"
Latest version can be downloaded from --> http://www.manuelbastioni.com/download.php

[2019-01-03 10:42] Foadsf commented on #504
As the original project is not maintained anymore a community fork has been created --> https://github.com/animate1978/MB-Lab

[2019-01-03 10:59] mkevenaar commented on #363
Package reviewed by @gep13; Issue can be closed!

[2019-01-03 11:02] #363 closed

[2019-01-03 11:02] mkevenaar commented on #478
Package is approved by @gep13; This issue could be closed!

[2019-01-03 11:02] #478 closed

[2019-01-03 11:03] mkevenaar commented on #281
Approved by @gep13; this issue could be closed!

[2019-01-03 13:22] Thilas commented on #502
Packaged approved by @gep13: https://chocolatey.org/packages/vscodium.
The issue can be closed.

[2019-01-03 16:57] #502 closed

[2019-01-03 17:00] #281 closed

[2019-01-04 06:31] FranklinYu commented on #63
I’m thinking about picking this up, but the current version is poorly written:

 1. It extracts the zip file to `$env:ProgramFiles` and `${env:ProgramFiles}` for no obvious reason.
 1. There is a `chocolateyHelpers.ps1` sourced *only once*. It has only 15 lines.
 1. Every time user upgrade, new version is installed, without overwriting old version. For example, if user upgrade from `8.0.33` to `8.

[2019-01-04 07:18] AdmiringWorm commented on #63
I would say yes. Rewrite it completely, maybe have a fallback to the programs directories if the user already have it installed. However, everything is up to you to decide what to do (if you pick up the package)

[2019-01-04 16:28] snmishra opened #505 "RFP - LaunchyQt"
The original Launchy project has been long abandoned. There is a revived fork at https://github.com/samsonwang/LaunchyQt

Launchy is a free utility designed to help you forget about your start menu, your desktop icons, and your file manager. Launchy indexes and launches your applications, documents, project files, folders, and bookmarks with just a few keystrokes!

[2019-01-04 16:36] pauby commented on #505
If this is not a new application then we should look at add it to the current Launchy package. From what I can see this fork simply builds on the work of the previous application?

[2019-01-04 17:18] JonasDralle opened #506 "RFP - DVD Flick 2"
Chocolatey lacks choice when it comes to DVD authoring software <sub>[(What's that?)](https://en.wikipedia.org/wiki/DVD_authoring)</sub>.

DVD Flick 2 offers more up to date encoding librarys than the original DVD Flick.

## DVD Flick 2

## DVD Flick

---

Sourceforge https://sourceforge.net/projects/dvdflick-v2/
License: GPL3
Download available via https://sourceforge.net/projects/dvdflick-v2/fil

[2019-01-04 17:20] pauby commented on #506
@JonasDralle Where is the project for DVD Flick 2 located?

[2019-01-04 17:23] JonasDralle opened #507 "RFP - Open DVD Producer"
Chocolatey lacks choice when it comes to DVD authoring software <sub>[(What's that?)](https://en.wikipedia.org/wiki/DVD_authoring)</sub>.

# Open DVD Producer

---

Website https://opendvdproducer.jonata.org/
Sourcecode https://gitlab.com/jonata/opendvdproducer
License: GPL3

Download available via https://github.com/jonata/opendvdproducer/releases/download/16.11/opendvdproducer_16.11.exe.7z
(sinc

[2019-01-04 17:38] JonasDralle commented on #506
reading the reviews it seems like this package is not only old but is also using old encodings 😐.

[2019-01-04 17:42] snmishra commented on #505
It does build on existing Launchy application but there are some incompatibilities. Old plugins will not work and there's a new Python plugin system. The old application continues to function though the lack of maintenance is showing. I don't know how to judge the trade-off of potential breakage vs adding a new package.

[2019-01-04 17:45] pauby commented on #505
In that case, given the potential to break existing installations (which will obviously have been around a long time) and an entirely new plugin systems, it's probably best to create a new package.

[2019-01-04 18:20] JonasDralle commented on #506
I have rephrased the issue to be about the fork

[2019-01-04 18:32] JonasDralle opened #508 "RFP - K-Meleon"
# K-Meleon

~ 10k weekly downloads on SourceForge

website: http://kmeleonbrowser.org/
sourceforge: https://sourceforge.net/projects/kmeleon/
download link: https://sourceforge.net/projects/kmeleon/files/latest/download
wikipedia https://en.wikipedia.org/wiki/K-Meleon

[2019-01-04 19:35] JonasDralle opened #509 "RFP - Waircut"
# Waircut

---

SourceForge: https://sourceforge.net/projects/waircut/
download link: https://sourceforge.net/projects/waircut/files/latest/download
License: CC BY-NC-ND 4.0

~ 11k weekly downloads via SourceForge
Software seems to be popular in north africa

[2019-01-04 19:35] JavaZauber opened #510 "RFP - GeoServer"
# GeoServer

---

website http://geoserver.org/
GitHub https://github.com/geoserver/geoserver
SourceForge https://sourceforge.net/projects/geoserver/
download page summary http://geoserver.org/release/stable/
download link https://sourceforge.net/projects/geoserver/files/latest/download
License: GPL2

~ 15k weekly downloads via SourceForge

[2019-01-04 19:35] JonasDralle opened #511 "RFP - Webmin"
# Webmin

---

website http://www.webmin.com/
download page summary http://www.webmin.com/windows.html
download link https://sourceforge.net/projects/webadmin/files/latest/download

~ 20k weekly downloads via SourceForge

[2019-01-04 19:35] JonasDralle opened #512 "RFP - AutoClicker"
# AutoClicker

---

sourceforge https://sourceforge.net/projects/orphamielautoclicker/
download link https://sourceforge.net/projects/orphamielautoclicker/files/latest/download
License: CC NC 2.0

~ 568 000 weekly downloads via SourceForge

[2019-01-04 19:35] JonasDralle opened #513 "RFP - Amidst"
# Amidst

---

GitHub https://github.com/toolbox4minecraft/amidst
Download https://github.com/toolbox4minecraft/amidst/releases

[2019-01-04 19:35] JonasDralle opened #514 "RFP - Jekyll"
# Jekyll

---

Requires package [ruby](https://chocolatey.org/packages/ruby)
then `gem install bundler jekyll`

this and [hugo](https://chocolatey.org/packages/hugo) are the most widely used static-side-generators out there.

_Comment: does it even make sense to have a package that just installs ruby and then a  single gem?_

---

website https://jekyllrb.com/
GitHub https://github.com/jekyll/jeky

[2019-01-04 20:52] pauby commented on #508
@dimqua the age of the package isn't all that's looked at. If this is still widely used and a benefit to the community then that's important.

[2019-01-05 02:24] rje6459 opened #515 "RFP - DualMonitorTools"
This software suite is very handy for those with multiple monitors.

Info page: http://dualmonitortool.sourceforge.net/
Download page: https://sourceforge.net/projects/dualmonitortool/files/latest/download

[2019-01-05 03:48] AdmiringWorm commented on #242
I would like to take on this package, request has been sent to admins

[2019-01-05 04:40] jacktose opened #516 "RFM - dupeGuru"
The [dupeGuru package][choco] is long abandoned and needs a new maintainer. Per [this discussion][forum], the maintainer, dtgm, is AWOL.
The package is a major version behind. It's been four years since it was updated, four and two years since complaints were made in the disqus comments, and six months since I opened [an issue on the maintainer's repo][issue].

[choco]: https://chocolatey.org/pack

[2019-01-05 06:01] AdmiringWorm commented on #499
I've contacted the admins to request taking over the package now, so expect a new release sometime today/tomorrow (hopefully).

[2019-01-05 17:42] AdmiringWorm commented on #499
just pushed a new package version now: https://chocolatey.org/packages/dumo/2.17.1.85

[2019-01-05 17:53] AdmiringWorm commented on #242
New package version have been submitted: https://chocolatey.org/packages/openmpt/1.28.1.0

[2019-01-05 21:17] AdmiringWorm commented on #496
I'm looking into creating a package for this one.

[2019-01-05 21:39] AdmiringWorm commented on #496
hmm, just tried to push the new package to chocolatey. But got thrown an error by the chocolatey server (`System.OutOfMemoryException`).
I'll try again a little later.

[2019-01-05 21:45] AdmiringWorm commented on #495
@FranklinYu I'm considering picking this one up (not entirely decided yet).
Any special request other than embedding the archive?

I did launch it promply, and noticed that you get a question to install it (I don't think I would handle this though).
Mainly, I would probably just extract the archive, and create a shim for the executable.
So if you have any requests for anything else to be added, no

[2019-01-05 23:06] nitrocode commented on #498
https://chocolatey.org/packages/oda-file-converter

[2019-01-06 10:48] b16r05 commented on #499
Thanks. Tested... looks good. Only thing is Dumo does not show up in Windows 10 search results (from the  START menu), like Sumo. Not sure if it has something to do with the script or my computer. But, the shortcut on the desktop works. Thanks again.

[2019-01-06 12:45] pauby commented on #499
@b16r05 That sometimes take a while before it shows up - sometimes it's instant.

[2019-01-06 12:45] #499 closed

[2019-01-06 14:01] JonasDralle commented on #508
`2016-12-20` K-Meleon 76 Release Candidate
`2017-12-15` K-Meleon 77 development started
(section "Latest News" on the website)

It seems to be software commonly used in russian internet cafés and the development is either really slow or very risk-averse. Can't tell.

Besides, the software is relevant enough to meet the [wikipedia criteria of notability](https://en.wikipedia.org/wiki/Wikipedia:Nota

[2019-01-06 15:09] pauby commented on #508
@JonasDralle Is this your interpretation or did you see this written somewhere?

[2019-01-06 16:31] b16r05 opened #517 "RFM - qTox"
Open source package qTox is already in the choco repo. However the version is 1.14.1.
https://chocolatey.org/packages/qtox

Latest available is 1.16.3.
https://github.com/qTox/qTox/releases/download/v1.16.3/setup-qtox-x86_64-release.exe

Download website: https://tox.chat/download.html

Requesting update.

[2019-01-06 16:55] JonasDralle commented on #508
I did not find a relevance criteria inside the README. There's much room to improve

[2019-01-06 17:04] JonasDralle commented on #508
I have further researched this and [the guidelines](https://chocolatey.org/docs/create-packages#rules-to-be-observed-before-publishing-packages) says:

no specific criteria (popularity, recency, interest in current userbase) is mentioned.

---

I'm neither a developer nor a user of `K-Meleon`. I just discovered it and thought "Hey this is lacking in the repos, let's open a request for it" 😉.

[2019-01-06 18:50] mkevenaar commented on #511
I will have a look at this one

[2019-01-06 20:58] b16r05 commented on #517
Original site maintainer is listed as "chocolatey" : )

Someone did try to contact the maintainer by posting a message in the Disqus section, but an admin responded with

`"can I ask that you raise an issue for this here: https://github.com/chocolat... Thanks"`

Have you tried to reach out to the current maintainer? [No]

[2019-01-06 21:08] pauby commented on #517
Can you follow the advice in there and raise an issue in that repo - the link is clickable.

[2019-01-06 21:08] #517 closed

[2019-01-06 21:11] b16r05 opened #518 "RFP - Jami (formerly Ring)"
Open source package, available through chocolatey, formerly called Ring, has been renamed, a-gain! Now, it is called Jami. Choco package: https://chocolatey.org/packages/ring/2018.04.14.

which is out of date as the latest stable Desktop version is 20181123
https://en.wikipedia.org/wiki/Jami_(software)
available from where ???
(maybe, https://git.ring.cx/savoirfairelinux/ring-project/tree/master)

[2019-01-06 21:13] pauby commented on #518
@b16r05 Have you [contacted the current maintainer](https://chocolatey.org/docs/package-triage-process)?

[2019-01-06 23:05] FranklinYu commented on #495
@AdmiringWorm No other requests. It has been long since I played this game…

[2019-01-07 04:18] FranklinYu commented on #458
https://chocolatey.org/packages/thumbs-viewer/1.0.2.8

[2019-01-07 08:58] #458 closed

[2019-01-07 12:51] b16r05 commented on #518
My apologies... I missed that step. I go through that process first, before submitting a request.

[2019-01-07 21:38] joachimschmidt557 commented on #518
Hi, this is the current maintainer of `ring` here. Should I create a new package `jami`?

[2019-01-07 22:12] b16r05 commented on #518
@joachimschmidt557
Hi, I wouldn't know. What I do know is that current Ring package can be updated, as their is a newer stable version available. Not sure where from? I think they moved or mirrored from github to gitlab.
Jami... looks like it is still in nightly/beta. With chocolatey, I think you can have beta packages... so, maybe you could create a Jami package and have it as beta, until the fin

[2019-01-08 07:14] AdmiringWorm commented on #496
Finally the package was pushed.
However, since it's a pre-release, you'll need to use `--pre` when calling choco install
https://chocolatey.org/packages/qilin-editor/0.4.0-alpha

[2019-01-08 07:15] #496 closed

[2019-01-08 08:03] joachimschmidt557 commented on #518
Yes, that is the case with the `ring` packages. They are preview versions.

I would suggest creating a new package `jami` and [deprecating](https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package) the ring package according to the documentation.

[2019-01-08 09:31] pauby commented on #518
@joachimschmidt557 Cool. I'll mark this as in progress and add the Blocked Upstream tag. We can remove that once things change.

[2019-01-08 09:32] joachimschmidt557 commented on #518
Yes, I'll keep an eye on the development of Jami. Once a new version is out, I'll create the jami package and deprecate the ring package.

[2019-01-08 11:31] MHketbi commented on #490
on it, ETA: 10 days.

[2019-01-08 11:31] MHketbi commented on #497
on it, ETA: 10 days.

[2019-01-08 11:34] #475 closed

[2019-01-08 15:18] JonasDralle commented on #517
Uh I'm not sure why this closed.
qTox is outdated (1.14.1 -> 1.16.3) and there is no maintainer

![image which shows "chocolatey" as the package maintainer](https://user-images.githubusercontent.com/6533815/50839248-37795f00-1360-11e9-8707-415e03e2f3da.png)

qTox GitHub https://github.com/qTox/qTox
qTox Website https://qtox.github.io/

### Triage Process
1. Contact Maintainer
   -> probably not ap

[2019-01-10 15:31] AdmiringWorm commented on #517
Exactly, which is also why we always suggest opening an issue in the repository instead of using the Contact Maintainers link or the disqus forum.
With over 200 packages being maintained in that repo, we get our share of emails regarding issues/requests from users and some emails will unfortunately always fall through the gaps of what we see.

[2019-01-10 15:35] AdmiringWorm commented on #242
The package was approved a few days ago

[2019-01-10 15:35] #242 closed

[2019-01-10 15:55] AdmiringWorm commented on #495
I've decided, I will create a package for this one.
If nothing else, just for the possibility to have a summary of the package with: `Create landscapes and cities ... then blow them up!` 😆

[2019-01-10 16:58] AdmiringWorm commented on #495
Package submitted: https://chocolatey.org/packages/powder-toy/93.3

[2019-01-11 17:18] joachimschmidt557 commented on #483
The package is [available](https://chocolatey.org/packages/godot-mono).

[2019-01-11 18:35] bcurran3 commented on #515
This is already available and I maintain it (rather well I must say.)

https://chocolatey.org/packages/dual-monitor-tools

[2019-01-11 18:37] bcurran3 commented on #511
I looked into this a few years ago and there was a stumbling block. I think because it requires apache to be installed. I'd be willing to take another look at it in the near future.

[2019-01-11 19:12] AdmiringWorm commented on #515
hmm, odd that it never came up during a search when I tried to check if one existed already.

Well anyhow, great that it already exists. Keep up the great work @bcurran3

[2019-01-11 19:12] #515 closed

[2019-01-11 20:05] bcurran3 opened #519 "SUGGESTION: readme.md update for chocolatey-package-requests"
SUGGESTION: for https://github.com/chocolatey/chocolatey-package-requests/blob/master/README.md

**Before submitting a request for packager (RFP):**
* Search https://chocolatey.org/packages to make sure the package doesn't already exist. Search using the program name and a hyphenated version of the program name; e.g. for Total Commander search for totalcommander and total-commander. You should als

[2019-01-11 20:37] pauby commented on #519
@bcurran3 ordinarily this would be where you could send these requests (GitHub issues). I'm keen not to set a precedent for them to be raiaed here though as this is for package requests.

However I am working on changes such as you suggest so I'll have a look at and try and incorporate these.

[2019-01-11 20:37] #519 closed

[2019-01-12 13:17] simplepat opened #520 "RFM - ExpressVPN"
Hi, I would like if possible to take maintenance of the ExpressVPN package (commercial VPN but great value)
The owner is unresponsive since last july. Thanks !

[2019-01-12 23:10] dariusz-wozniak commented on #23
I'm closing the issue since application is no longer available.

[2019-01-12 23:10] #23 closed

[2019-01-13 00:36] qqgg231 opened #521 "RFP - Lossless Audio Checker"
Internet music dealers currently sell "CD-Quality" tracks, or even better ("Studio-Master"), thanks to lossless audio coding formats (FLAC, ALAC). However, a lossless format does not guarantee that the audio content is what it seems to be. The audio signal may have been upscaled (increasing the resolution), upsampled (increasing the sampling rate) or even transcoded from a lossy to a lossless form

[2019-01-13 02:40] bcurran3 commented on #511
Just did a quick look...

I thought the stumbling block was going to be the 32 bit ver of ActiveState Perl but https://chocolatey.org/packages/ActivePerl-EqEmu-x86 should cover that as the DL link of http://eqemu.github.io/downloads/ActivePerl-5.16.3.1604-MSWin32-x86-298023.msi still works.

![image](https://user-images.githubusercontent.com/14026600/51080931-1a62ca00-1699-11e9-92f2-160c9ae3737d.p

[2019-01-13 17:54] rje6459 opened #522 "RFP - OfficeToPDF"
OfficeToPDF is a command line utility that converts Microsoft Office 2003, 2007, 2010, 2013 and 2016 documents from their native format into PDF using Office's in-built PDF export features.

Source: https://github.com/cognidox/OfficeToPDF

Latest Release: https://github.com/cognidox/OfficeToPDF/releases/latest

[2019-01-13 20:23] mcandre opened #523 "RFM: python[3] packages should feature a "python3[.exe]" binary"
Many scripts that depend on Python 3 components invoke Python as `python3`, to avoid ambiguity with systems that also have Python 2 installed. Could we fix the "python" and "python3" Chocolatey packages to feature a "python3.exe" executable, to support this name for launching Python?

[2019-01-13 20:36] pauby commented on #523
@mcandre this is not the right place for this. Please use the 'Contact Maintainers' link on the package page.

[2019-01-13 20:36] #523 closed

[2019-01-13 20:41] mcandre opened #524 "RFM python[3]: pip errors with SSL certificate chains"
pip[3] from the python[3] packages, is unable to install packages from the main pip repository, complaining of SSL certificate errors. This happens for me in Windows 10, for example.

I tried upgrading pip, but `python -m pip install -U pip` says that pip is already up to date. I also set files.pythonhosted.org to trusted in `%APPDATA%\pip.ini` at global level, and applied `--trusted-host` flags,

[2019-01-14 07:14] pauby commented on #524
@mcandre This is the wrong place for this. Please contact the package maintainer using the 'Contact Maintainers' link on the package page.

[2019-01-14 07:14] #524 closed

[2019-01-14 08:33] #495 closed

[2019-01-14 08:34] pauby commented on #63
@FranklinYu Have you picked this up and working on it?

[2019-01-14 08:37] pauby commented on #498
@nitrocode This package is waiting you taking corrective action on it since 3 January. Are you still happy to submit and maintain it?

[2019-01-14 13:45] nitrocode commented on #498
@pauby thanks for the reminder. I resubmitted it with the correct version.

[2019-01-14 13:48] nitrocode opened #525 "RFP - Pipenv"
https://pipenv.readthedocs.io/en/latest/

[2019-01-14 14:16] FranklinYu commented on #63
@pauby Yes I'm working on it. No ETA though.

[2019-01-14 21:49] jeremyj563 commented on #355
He said that the issues are tracked and he posted a link to the repository.

[2019-01-15 17:35] nathanielwarner commented on #355
Hey guys, I'm in the process of updating the package and trying to resolve the issues (as @jeremyj563 said they are tracked on the repo) will get back to you soon.

[2019-01-15 17:46] jack1142 commented on #474
In case would want to take this, this MPC-HC fork will probably replace mpc-hc package from core team packages, see [this PR](https://github.com/chocolatey/chocolatey-coreteampackages/pull/1191) and if it won't, then I'll add such package to chocolatey repository myself (though, I already have 2 approving reviews, so probably it will just replace current source of mpc-hc package)

[2019-01-16 02:57] mcandre commented on #524
Update: The problem is specific to the bashate pip package. Other pip packages install just fine.

[2019-01-16 09:41] pauby commented on #474
@jack1142 Just to be clear you've picked this one up?

[2019-01-16 09:51] jack1142 commented on #474
Yep, it should be soon added to chocolatey core team packages as mpc-hc package.

[2019-01-16 15:31] pauby commented on #240
Thanks @d1vanloon

[2019-01-16 15:31] #240 closed

[2019-01-17 09:23] jack1142 commented on #474
Okay, it should be available in few hours, it's called [mpc-hc-blsid2](https://chocolatey.org/packages/mpc-hc-blsid2)

[2019-01-17 21:46] gep13 commented on #474
Just wanted to confirm that the URL is the following:

https://chocolatey.org/packages/mpc-hc-clsid2

[2019-01-17 21:50] AdmiringWorm commented on #474
@gep13 yup, that's correct

[2019-01-17 23:03] FranklinYu opened #527 "RFP - gitextensions.portable"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://gitextensions.github.io/
Direct download URL for the software / installer: https:/

[2019-01-17 23:11] jack1142 commented on #474
Whoops, my bad.

[2019-01-18 13:15] jack1142 commented on #474
Okay, package is available now, https://chocolatey.org/packages/mpc-hc-clsid2

[2019-01-18 13:16] #474 closed

[2019-01-18 16:17] AdmiringWorm commented on #229
I've requested to be added as a maintainer of this package. Expect an updated version later today

[2019-01-18 20:19] #229 closed

[2019-01-19 16:34] nitrocode commented on #498
@luzpaz The oda-file-converter package has been approved 😄

[2019-01-19 17:00] #498 closed

[2019-01-20 14:54] dimqua opened #528 "RFP - Nuclear"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

**Software project URL:** https://nuclear.gumblert.tech/
**Direct download URL for the software / installer:** h

[2019-01-23 03:08] JourneyOver commented on #528
Done https://chocolatey.org/packages/nuclear

[2019-01-23 19:32] JourneyOver commented on #528
Issue can now be closed as it's been approved.

[2019-01-23 19:38] #528 closed

[2019-01-23 21:36] kerhbal commented on #312
So this issue has been closed for 10 months and your users are still getting stuck here. And no one seems to care about the pull-request made and left there for 10 months? Read the comments please. https://chocolatey.org/packages/GoodSync

[2019-01-23 22:41] pauby commented on #312
@kerhbal I think there is some misunderstanding about this repository, this package and the Chocolatey Community Repository. Let me try and clear that up.

## This Repository

Here you raise issues for a package to be created (that doesn't exist) or for a new maintainer to take over a package that doesn't have an active maintainer.

## This Package

The package that this refers to is maintained by

[2019-01-24 09:43] pauby commented on #312
@kerhbal You make some good points. To try and keep this issue about this package it would be good to chat about them over at https://gitter.im/chocolatey/chocolatey.org.

To clarify this issue was closed on 29 April and the label removed as it was no longer needed (the label or the issue). Since that date 4 package versions have been published (with 10 in total in 2018). At the time it was though

[2019-01-24 15:54] arberg commented on #312
thank you for reopening, I've posted there for followup questions: https://gitter.im/chocolatey/chocolatey.org?at=5c49df63cb47ec3000961f32

[2019-01-24 16:06] kerhbal commented on #312
@pauby Thank you for the response and understanding.

[2019-01-24 22:05] nathanielwarner commented on #355
It's working at this point, but when you uninstall it, you have to interact with the bundled uninstaller. I've been able to fix this by creating an uninstall script that invokes the uninstaller with '/S'. It uninstalls silently and correctly, but then chocolatey pops up a bunch of errors since it's still trying to run the auto uninstaller, which isn't possible because the software has been uninsta

[2019-01-25 08:31] Foadsf opened #529 "RFP - SolveSpace"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

 * Software project URL : http://solvespace.com/index.pl
 * Direct download URL for the software / installer : h

[2019-01-25 08:34] pauby commented on #529
@Foadsf We have a template for requesting a package (when you go to raise an issue) - can you please edit your message above and add that?

[2019-01-27 18:59] nathanielwarner commented on #355
Thanks for the help @pauby, I think it's all set now. Still waiting on the confirmation email from chocolatey so I can get an API key and push to the repo...

[2019-01-28 04:34] JourneyOver commented on #500
Closing this as I no longer need someone to take this over for now.

[2019-01-28 04:34] #500 closed

[2019-01-28 11:04] JonasDralle commented on #383
[This StackExchange](https://stackoverflow.com/a/10959815) describes a way to download JDK without sign-ip:
[code]
maybe it's applicable for this package too?

[2019-01-28 11:59] saxnot commented on #384
i too have interest in this package
it's more useful than iReports IMHO

[2019-01-28 17:07] nathanielwarner commented on #355
So I still haven't received the confirmation email from chocolatey... I tried resending it to no avail. I'm not sure what to do next.

[2019-01-29 02:30] FranklinYu opened #530 "RFP - omnidb-server"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.omnidb.org
Direct download URL for the software / installer:
https://www.omnid

[2019-01-29 02:41] FranklinYu opened #531 "RFP - omnidb-app"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.omnidb.org/
Direct download URL for the software / installer:
https://www.omni

[2019-01-29 02:42] FranklinYu commented on #531
Related to #530.

[2019-01-29 10:15] Kristinita opened #532 "RFP - gtools"
## 1. Checklist

- [x] The package I am requesting does not already exist on **<https://chocolatey.org/packages>**;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

---

## 2. Package Details

Software project URL : **<http://www.p-nand-q.com/download/gtools/>**
Direct download URL for t

[2019-01-29 10:31] Kristinita commented on #525
I think, **Status: Not needed**.

Pipenv [**is PyPI tool**](https://pypi.org/project/pipenv/) and [**simply installed on Windows**](https://stackoverflow.com/a/49740382/5951529) — `pip install pipenv`

I use pipenv for [**my big project**](https://github.com/Kristinita/KristinitaPelican) and I never had installation problems.

Thanks.

[2019-01-29 11:54] mkevenaar commented on #530
Hi @FranklinYu [omnidb-server](https://chocolatey.org/packages/omnidb-server) is pushed

[2019-01-29 14:54] #525 closed

[2019-01-30 08:03] omjunior opened #533 "RFP - KLayout"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.klayout.de/
Direct download URL for the software / installer : https://www.kl

[2019-01-30 10:22] pauby commented on #520
@simplepat Can you update the above?

[2019-01-30 11:10] omjunior commented on #533
I am not sure what you mean.
I checked it is not a package already, that there is no pending RFP for it, it starts with 'RFP -', url is not locked.
It contains the project site, a direct download link, and a description.
Sorry, but I'm new here!

[2019-01-30 11:12] omjunior commented on #533
Ah, ok. I saw others now. I was not supposed to remove what was there, even though it says: "PLEASE REMOVE ALL COMMENTS ONCE YOU HAVE READ THEM."
I'll do that.

[2019-01-30 11:18] omjunior commented on #533
@pauby Done. I misinterpreted that "PLEASE REMOVE ALL COMMENTS ONCE YOU HAVE READ THEM".

[2019-01-30 11:46] mkevenaar commented on #530
@gep13 approved the package.

[2019-01-30 11:46] mkevenaar commented on #531
@gep13 approved the package.

[2019-01-30 16:44] #530 closed

[2019-01-31 10:58] JonasDralle opened #534 "RFP - Spacemacs"
# Spacemacs

## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages; _yup_
- [x] There is no open issue for this package; _not in this repo, no_
- [x] The issue title starts 'RFP - '; _oh I wrote FRP again oops_
- [x] The download URL is public and not locked behind a paywall / login; _GitHub is pretty open right now (Jan 2019)_

## Package Detail

[2019-01-31 11:02] JonasDralle commented on #534
Sidenote: I am really big fan of the newly introducted GitHub Issue Template for reporting package requests. I still have a question:

1) why should I remove the HTML comments? They won't be shown

and an addition:

2) can we put the checklist inside a spoiler? You know, this Bulletinboard-Thing?

<details>
<summary>Click here to find out</summary>
Hello!

[code]
(Whoa this is way more meta than e

[2019-01-31 19:08] qqgg231 opened #535 "RFP - RadiAnt DICOM Viewer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.radiantviewer.com
Direct download URL for the software / installer : https://

[2019-02-01 08:15] FranklinYu commented on #532
This is an old software; code was hosted on [Google Code](https://code.google.com/archive/p/pserv4/), and home page was last updated in 2014. According to the source repository, the project is distributed with BSD-3-Clause license, so we can probably embed the source.

With Google I found two GitHub mirrors exported from the Google Code project: https://github.com/maphew/pserv4 and https://github.

[2019-02-01 08:20] Kristinita commented on #532
`Type: Reply`

@FranklinYu , yes, I know it, but I can't find any another tool, that simply and without loss data risks add new value for `PATH` environment. See 3 item of my request.

Thanks.

[2019-02-04 11:38] Foadsf opened #536 "RFP - MyOpenLab"
## Checklist

- [*] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [*] There is no open issue for this package;
- [*] The issue title starts 'RFP - ';
- [*] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://myopenlab.org/inicio/en/
Direct download URL for the software / installer : https

[2019-02-04 11:40] luzpaz commented on #355
@pauby :point_up:

[2019-02-04 11:42] pauby commented on #355
@nathanielwarner Have you reached out via the 'Contact Site Admins' link?

[2019-02-04 13:44] Foadsf opened #537 "RFP - Ngspice"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://ngspice.sourceforge.net/index.html
Direct download URL for the software / installe

[2019-02-04 13:52] pauby commented on #534
@JonasDralle

Just to keep things tidy from the issue perspective. While they might not be shown they will still be stored. It's just a request!

I'd prefer they were visible but I'm open to what others think. However here really isn't the place to discuss it so I'll refer everybody to [Gitter](https://gitter.im/chocolatey/chocolatey.org)

[2019-02-06 19:28] luzpaz opened #538 "RFP - Jack2"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://jackaudio.github.io
Direct download URL for the software / installer : https://gi

[2019-02-07 13:22] bencefr opened #539 "RFM - gcc-arm-embedded"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-07 21:24] nathanielwarner commented on #355
Alright, the email verification finally worked, and the package is uploaded and currently pending review.

[2019-02-08 08:39] Foadsf opened #540 "RFP - SimulIDE"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://sourceforge.net/projects/simulide/
Direct download URL for the software / instal

[2019-02-09 17:58] aster94 opened #541 "RFP - GoPro Quik"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://shop.gopro.com/softwareandapp/quik-%7C-desktop/Quik-Desktop.html#
Direct download

[2019-02-09 18:06] aster94 opened #542 "RFP - LibreHardwareMonitor"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/LibreHardwareMonitor/LibreHardwareMonitor
Direct download URL for the

[2019-02-09 18:08] aster94 opened #543 "RFP - HashTools"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.binaryfortress.com/HashTools/
Direct download URL for the software / installe

[2019-02-11 09:19] Foadsf opened #544 "RFP - KTechLab"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/ktechlab/ and https://github.com/ktechlab/ktechlab
Direc

[2019-02-11 09:51] pauby commented on #544
@Foadsf There doesn't appear to be a Windows binary for this?

[2019-02-11 09:57] Foadsf commented on #544
I thought there is but maybe I'm wrong. Lets ask the developer @zoltanp

[2019-02-11 10:00] zoltanp commented on #544
I have not tried to build KTechLab on windows. If kdelibs4 and KDE4 builds and runs on windows, then KTechlab should be also possible to build and run.

[2019-02-11 10:02] Foadsf commented on #544
@zoltanp I'm no expert but isn't KDE based on Qt? I had the assumption that all Qt software are inherently cross-platform. How can we give this a try?

[2019-02-11 10:12] zoltanp commented on #544
If an application does not use some platform-specific functionality / libraries, then it should be multi-platform. However, there is a big difference between something that _should_ work (there is no obvious reason to not to work) and something that _does_ work (it has been tried and it has worked)

For KDE on windows there is documentation on wiki; I'm not familiar with details:

https://communit

[2019-02-11 10:32] pauby commented on #544
@Foadsf Until this has been tested I am going to leave it as 'Blocked Upstream'. But I would suggest that there are very few maintainers who is going to put the work in to testing this out before even trying to build a package.

In addition to that, [compiling from source in a Chocolatey package is not currently supported](https://github.com/chocolatey/choco/issues/1709). As you're aware.

[2019-02-11 19:19] nathanielwarner commented on #355
Review passed today, and the package is up!

[2019-02-11 19:21] #355 closed

[2019-02-12 11:42] Foadsf commented on #544
@zoltanp [a feature request](https://github.com/ktechlab/ktechlab/issues/9) has been placed in 2012 and I also asked [this question on Reddit](https://www.reddit.com/r/kde/comments/apev89/how_to_install_ktechlab_on_windows/) to see if KDE guys can help. I will follow this discussion in the above mention ticket.

[2019-02-12 16:20] zoltanp commented on #544
@Foadsf  I'm aware of that request, just because of my limited free time I have not gotten into experimenting with windows. First I want to move KTechLab to Qt5 / KF5 and then look into windows port more seriously (I assume there is a significant demand for it).
If you have the skills, or want to learn, feel free to experiment with compiling KTechLab on windows.

[2019-02-14 14:31] chantisnake opened #545 "RFP - lean theroem prover"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

### Software project URL :
https://leanprover.github.io/
### Direct download URL for the software / installer :

[2019-02-15 16:44] steviecoaster opened #546 "RFM - gitflow-avh"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-15 16:47] steviecoaster opened #547 "RFM - gitflow-hooks"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X ] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-15 16:52] steviecoaster opened #548 "RFM - git-flow-hooks"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-15 16:53] steviecoaster opened #549 "RFM - getopt"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X ] There is no existing open maintainer request for this package;

## Checklist

- [ X] Issue title starts with 'RFM - '

## Existing Package Detai

[2019-02-15 16:55] steviecoaster opened #550 "RFM - Mp3 Skype Recorder"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [ X] There is no existing open maintainer request for this package;

## Checklist

- [ X] Issue title starts with 'RFM - '

## Existing Package Detai

[2019-02-15 16:56] steviecoaster opened #551 "RFM - Room Arranger"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X ] There is no existing open maintainer request for this package;

## Checklist

- [ X] Issue title starts with 'RFM - '

## Existing Package Detai

[2019-02-17 00:47] AdmiringWorm commented on #547
Considering this package is deprecated, I don't see any need to request any maintainers for it.

[2019-02-17 00:47] #547 closed

[2019-02-18 15:55] ErikBjare opened #552 "RFP - ActivityWatch"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/ActivityWatch/activitywatch
Direct download URL for the software / inst

[2019-02-18 16:10] AdmiringWorm commented on #552
For anyone wishing to pick this one up, a few considerations should be made:

This should probably be made optionally by using package parameters (either opt-in or opt-out), unless the application truly requires to be started on boot to work.

this doesn't seem to be much of a problem if going by the latest virustotal scans for the latest pre-release, it shows 4 anti-viruses being triggered, so it

[2019-02-19 08:45] pauby commented on #383
Can we progress this package and remove the 'Blocked Upstream' label given the [comment](https://github.com/chocolatey/chocolatey-package-requests/issues/383#issuecomment-458087128) by @JonasDralle ?

[2019-02-19 08:46] pauby commented on #63
@FranklinYu Can you give us an update on this one?

[2019-02-19 08:46] AdmiringWorm commented on #383
@pauby yeah, we probably can do that

[2019-02-19 08:51] Foadsf opened #553 "RFP - Scicoslab"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://www.scicoslab.org/
Direct download URL for the software / installer : http://cermi

[2019-02-19 11:31] Foadsf opened #554 "RFP - OpenModelica"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://openmodelica.org/
Direct download URL for the software / installer : https://open

[2019-02-19 12:03] FranklinYu commented on #63
@pauby Still working on it. I was just back from my two-week vacation…

[2019-02-21 23:10] kenmaglio opened #555 "RFP - Kustomize"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/kubernetes-sigs/kustomize
Direct download URL for the software / insta

[2019-02-21 23:12] kenmaglio commented on #555
I already have a package created - however, I wanted to at least post this - and that I'm working on getting it approved / pushed through the process.

https://github.com/kenmaglio/choco-kustomize

[2019-02-21 23:25] kenmaglio commented on #555
https://chocolatey.org/packages/kustomize/2.0.1#versionhistory

[2019-02-22 19:37] pauby opened #556 "RFM - CrystalDiskInfo"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-24 19:24] mikecole commented on #312
I would be willing to pick up this package if needed. Sounds like we'd want to stop the ketarin pushes, so would that happen by revoking dtgm as maintainer?

[2019-02-24 19:31] mikecole commented on #35
I'll claim this.

[2019-02-24 19:37] mkevenaar commented on #556
I am willing to pick this one up

[2019-02-24 20:33] mikecole commented on #35
Pushed: https://chocolatey.org/packages/little-system-cleaner

[2019-02-24 23:41] mikecole commented on #56
I picked this one back up. It's in moderation: https://chocolatey.org/packages/cmsupportcenter

[2019-02-24 23:44] mikecole commented on #58
I was looking at this installer, and it appears to not have an installer. The contents of a zip file need to be unzipped. In this case when installing through choco, where should it be unzipped to?

[2019-02-25 00:17] mikecole commented on #72
In moderation: https://chocolatey.org/packages/twister-webkit

[2019-02-25 07:56] pauby commented on #58
@mikecole Usual places are the tools folder within the package folder or the `Get-ToolsLocation` folder (see https://github.com/chocolatey/choco/wiki/HelpersGetToolsLocation).

[2019-02-25 07:58] pauby commented on #312
When you are ready to push the new package raise a PR in dtgm repository to remove the package and the Ketarin files.

[2019-02-25 08:02] #556 closed

[2019-02-25 15:16] mikecole commented on #312
@arberg Fair to say the only change needed is the source URL for the installer?

[2019-02-25 15:18] mikecole commented on #56
Passed moderation. This can be closed.

[2019-02-25 15:19] mikecole commented on #72
Passed moderation.

[2019-02-25 16:44] mikecole commented on #140
Update pushed: https://chocolatey.org/packages/line

[2019-02-25 18:06] #72 closed

[2019-02-25 18:07] #56 closed

[2019-02-25 21:37] pauby opened #557 "RFM - Filezilla Server"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-25 22:21] mkevenaar commented on #557
I’m willing to pick this one up

[2019-02-26 11:33] mkevenaar commented on #557
New version pushed: https://chocolatey.org/packages/filezilla.server/0.9.60.2

[2019-02-26 20:28] #555 closed

[2019-02-26 20:29] #140 closed

[2019-02-26 20:37] mkevenaar commented on #497
@MHketbi Do you have an update on this one?

[2019-02-26 20:37] mkevenaar commented on #490
@MHketbi Do you have an update on this one?

[2019-02-26 22:55] wcarson commented on #383
I'm new to chocolatey but would be interested in taking a shot at this one. I've played around with this a little bit, and it seems doable using a technique similar to what @JonasDralle proposed to get around having to click the license agreement. The issue is that at some point you have to have a (free) Oracle account to download the file. Is it acceptable to prompt for credentials during a choco

[2019-02-27 07:00] pauby commented on #383
@wcarson the install should be silent. If it is absolutely required you could make sure the details are passed as package parameters.

[2019-02-27 10:08] AdmiringWorm commented on #383
Or at least unattended (silent would mean nothing is shown during install)

[2019-02-27 13:47] pauby commented on #383
Unattended is a better description :)

[2019-02-27 15:23] steviecoaster opened #558 "RFM - Detect It Easy 1.01"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-27 22:42] pauby commented on #558
Whoever picks this up please raise a PR in the current package source repository to remove it and the ketarin files.

[2019-02-27 23:11] oferg2 opened #559 "RFP - TrendMicro HouseCall"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.trendmicro.com/en_us/forHome/products/housecall.html
Direct download URL for

[2019-02-28 14:19] luzpaz opened #560 "RFM - numpy"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-02-28 14:29] mkevenaar commented on #559
I know housecall and it's a piece of software designed for a one time run. I believe it does not "install" anything on your PC.

Therefore I don't know if this is eligible for a package.

/cc: @AdmiringWorm @gep13 @pauby

[2019-02-28 14:29] AdmiringWorm commented on #560
@luzpaz Have you tried contacting the maintainer of the package?
If so, how did you contact them? and when did you contact them?

[2019-02-28 14:37] AdmiringWorm commented on #559
@mkevenaar So that software is only meant to be run exactly once? and then it isn't of any use anymore?

If so, then that could indeed not be eligible as a package. Though, I'm not sure if it would disqualify it as one either.

[2019-02-28 15:42] oferg2 commented on #559
Hello,
For my use as a system admin, I am working on many clients’ servers that I need to download HouseCall but I can’t or don’t want to use a browser and Choco is perfect for that mission.
Not to mention that I can script that easily from a trusted repo.
For that I think choco is meant, automation and trusted repo, no matter if it’s a dull install or portable.

Sent from my iPhone

[2019-02-28 15:53] luzpaz commented on #560
Through the chocolatey package page 'Contact the Maintainers' I'm not sure the first time was. But I also contacted them earlier today. The package hasn't been updated since 2014 so I thought it was relevant to just open this ticket.

[2019-02-28 21:24] mkevenaar commented on #559
@oferg2 IMO you should have an virusscanner on the machines available.

Having said that, when using Chocolatey in an organizational context, we recommend that you don't use the Community Package Repository directly. You can find information about organizational use of Chocolatey here:
https://chocolatey.org/docs/how-to-setup-offline-installation
Differences between feeds:
https://chocolatey.org/d

[2019-02-28 21:52] pauby commented on #559
I kind of agree with @Admiringworm - I don't know if this fits the
definition of a package but I don't know if it being a run once only thing
disqualifies it.

The software runs, does it's thing and it doesn't install anything. But it
does do a job. However to get it to run again you would need to force
install it. So from that point of view it's not exactly a nice way for it
to work.

Chocolatey

[2019-02-28 22:17] oferg2 commented on #559
Everything is true for what you mentioned but my situation does not meet the private org repo as I’m installing this tool everyday on a different client (of my company) that I work with on many computers. Those clients’ infra has been compromised by viruses so there’s no network sharing between the servers, I just want to use choco to download the latest stable build for this tool, most of the tim

[2019-02-28 22:55] wcarson commented on #383
Just pushed an initial version of this package to the queue to be reviewed. To handle the Oracle Account requirement, it requires `--params "'/Username:{username} /Password:{password}'"` package params be specified. I've attached the initial version if anyone's feeling brave. (I have tested it locally on Win10 and on the [Chocolatey Texting Environment](https://github.com/chocolatey/chocolatey-tes

[2019-02-28 23:09] wcarson commented on #383
Hi. I pushed an initial version for review. To handle the Oracle Account requirement, the package requires that the credentials be specified as package params: `"'/Username:{username} /Password:{password}'"`. The package is attached if anyone is feeling brave. (It's been tested locally on Win10 and on the [Chocolatey Testing Environment](https://github.com/chocolatey/chocolatey-test-environment) V

[2019-03-01 22:36] FranklinYu opened #561 "RFP - z-cron"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.z-cron.com/
Direct download URL for the software / installer: http://down.z-da

[2019-03-02 00:13] pauby commented on #561
@franklinyu agreed. Installer not embedded unless explicit consent given.

[2019-03-02 03:04] mikecole commented on #58
Submitted: https://chocolatey.org/packages/juffed/0.8.1

[2019-03-02 12:02] Kilbourne opened #562 "RFP - Laragon"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://laragon.org/
Direct download URL for the software / installer : https://sourcefor

[2019-03-02 12:04] Kilbourne opened #563 "RFM - Station"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://getstation.com/
Direct download URL for the software / installer : https://dl.get

[2019-03-02 12:07] AdmiringWorm commented on #563
This one seems to have been pushed once (back in 2017), but no working edition was ever published.

Changing to RFM.

package url: https://chocolatey.org/packages/Station

[2019-03-02 15:42] mkevenaar commented on #557
Package is published.

[2019-03-02 15:42] #557 closed

[2019-03-03 18:32] chtof commented on #481
I would like to become the maintainer for the "kdevelop" chocolatey package.
I have already updated kdevelop on my repository https://github.com/chtof/chocolatey-packages/tree/master/automatic/kdevelop but I need to be added as maintainer to be able to push the package on chocolatey.

Thanks in advance for your help!

[2019-03-04 05:16] pauby commented on #481
@chtof can you use the 'Contact Site Admins' link on the package page to request this and reference this issue?

[2019-03-04 13:06] #383 closed

[2019-03-04 15:04] pauby commented on #481
Added @chtof as a maintainer.

[2019-03-04 16:46] luzpaz opened #564 "RFP - Polar-bookshelf"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://getpolarized.io
Direct download URL for the software / installer :
https://github

[2019-03-04 16:48] churchthecat opened #565 "RFP Azire VPN client"
## Checklist

- [x ] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [ x] There is no open issue for this package;
- [ x] The issue title starts 'RFP - ';
- [ x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.azirevpn.com/client
Direct download URL for the software / installer : ht

[2019-03-04 16:51] pauby commented on #565
@churchthecat Can you fix the format of your request? We have a template that needs to be followed.

[2019-03-04 16:53] pauby commented on #564
@lupaz your direct download URL points to the Mac installer. Can you correct that?

[2019-03-04 20:27] chtof commented on #481
Hi Paul,

I have received the mail but my name doesn't appears yet. Maybe I have to
wait a commit of the change?

Regards,
Christophe

Le lun. 4 mars 2019 à 16:04, Paul Broadwith <notifications@github.com> a
écrit :

[2019-03-04 20:51] mkevenaar commented on #481
Hi @chtof

did you click on the link?

[2019-03-04 21:06] chtof commented on #219
Submitted https://chocolatey.org/packages/kmymoney (Pending automatic review)
Latest windows stable version 4.8.3

[2019-03-04 21:19] chtof commented on #481
Hi Christophe,

The email has instructions for you to click a link to confirm you want to
become a maintainer of the package.

Kind regards,

Paul Broadwith
Chocolatey
W: chocolatey.io
*Software Management Automation*

On Mon, 4 Mar 2019 at 20:27, chtof <chtof62@gmail.com> wrote:

[2019-03-09 12:17] chtof commented on #166
https://chocolatey.org/packages/molotov available.

[2019-03-09 12:17] #166 closed

[2019-03-11 16:03] Trance-Paradox opened #566 "RPF - amd display drivers"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
Direct download URL for the software / installer :
Software summary / short description:

[2019-03-11 16:34] TakataSanshiro commented on #564
I've submitted one.
https://chocolatey.org/packages/polar

[2019-03-11 18:54] #566 closed

[2019-03-11 18:55] pauby commented on #566
This isn't a valid request (project and download URL kidding and no further information). Closing. Fell free to reopen once the missing information is added.

[2019-03-12 15:56] TakataSanshiro commented on #564
and it has passed automated testing.

[2019-03-12 16:13] TakataSanshiro commented on #413
I'd like to become a new maintainer of one.
My Username is Sanshiro.
https://chocolatey.org/profiles/Sanshiro

[2019-03-12 16:45] pauby commented on #413
@TakataSanshiro If @chantisnake does not add you use the Contact Site Admins link on the package page.

[2019-03-12 16:49] chantisnake commented on #413
Added! @TakataSanshiro

Thank you

[2019-03-13 20:07] chtof commented on #562
Just submitted, waiting for automatic and manual reviews.
https://chocolatey.org/packages/laragon
https://chocolatey.org/packages/laragon.install
https://chocolatey.org/packages/laragon.portable

[2019-03-14 18:14] TakataSanshiro commented on #564
It has been approved.

[2019-03-14 19:23] mikecole commented on #58
Approved: https://chocolatey.org/packages/juffed

[2019-03-14 19:32] #58 closed

[2019-03-14 19:32] #564 closed

[2019-03-15 17:11] TakataSanshiro commented on #413
It has been approved.
https://chocolatey.org/packages/shadowsocks/4.1.5

[2019-03-15 17:12] #413 closed

[2019-03-16 16:53] vvch opened #567 "RFP - Veusz"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://veusz.github.io/
Direct download URL for the software / installer : https://githu

[2019-03-16 19:04] #562 closed

[2019-03-16 19:45] pauby commented on #559
I've downloaded and run the software. It works like a `portable` package - it doesn't install but you can run it multiple times and do a scan of your computer. It's effectively a portable virus scanner.

Because it's so straightforward to package, I'm going to go ahead and do it.

[2019-03-16 20:22] pauby commented on #559
Done - https://chocolatey.org/packages/housecall.portable

[2019-03-17 00:00] oferg2 commented on #559
Great news!
What would be its install command? Choco ???

Sent from my iPhone

[2019-03-17 10:20] AdmiringWorm commented on #559
@oferg2 when the new package have been approved, it will be installable through
[code]

[2019-03-17 12:29] chtof commented on #561
Under review: https://chocolatey.org/packages/z-cron

[2019-03-17 14:53] necrose99 opened #568 "RFP - writage"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: http://www.writage.com/
Direct download URI: http://www.writage.com/Writage-1.12.msi
Softw

[2019-03-17 14:58] necrose99 commented on #568
![writage](https://user-images.githubusercontent.com/2396239/54493197-0b67e600-489b-11e9-8ef9-98af163c19b0.PNG)

[2019-03-17 16:13] pauby commented on #568
@necrose99 Can you go back and amend this issue to follow the template?

[2019-03-17 16:50] chtof commented on #552
Under review: https://chocolatey.org/packages/activitywatch

[2019-03-17 18:04] pauby commented on #559
I forgot to mention that you will be able to run it with the command 'housecall' - as it's a portable package it doesn't create any shortcuts.

[2019-03-17 18:40] oferg2 commented on #559
Thanks !

Sent from my iPhone

[2019-03-17 23:07] necrose99 commented on #568
Fine ill lob a template in in a few days nuspec.

[2019-03-18 07:08] pauby commented on #568
@necrose99 there is no need to 'lob a template in'. When you raise an issue a template is created for you to fill in

[2019-03-18 07:37] necrose99 commented on #568
[Writage-1.12.nupkg.zip](https://github.com/chocolatey/chocolatey-package-requests/files/2976813/Writage-1.12.nupkg.zip)
my bad i was referring to nuget pkg/spec as for submitting one of those templates..

[2019-03-18 09:10] arberg commented on #312
Sorry for being a bottleneck.

The only change I had for the original script was an update of the URL. I have no idea that is required for the powershell based installer, but it seems likely it just an url, since I believe its a standard msi/exe installer. Well no I suppose there has to be a correct scraping of the download page, for the auto-update script.

Best Alex

[2019-03-18 09:15] pauby commented on #568
I fixed the template.

[2019-03-18 09:17] mkevenaar commented on #568
I am willing to have a look at it.

[2019-03-18 09:27] pauby commented on #312
Has any progress been made on this @mikecole ?

[2019-03-18 09:29] pauby commented on #497
As no package has been pushed for this, and no update in some time, I'm going to open it up to other maintainers again.

[2019-03-18 09:30] #494 closed

[2019-03-18 09:31] pauby commented on #490
As no package has been pushed for this, and no update in some time, I'm going to open it up to other maintainers again.

[2019-03-18 09:33] pauby commented on #481
Version 5.3.2 has been pushed and approved.

[2019-03-18 09:33] #481 closed

[2019-03-18 09:36] pauby commented on #272
@FranklinYu Is this progressing?

[2019-03-18 09:36] pauby commented on #63
@FranklinYu Is there any progress on this you can share?

[2019-03-18 11:57] mkevenaar commented on #568
@necrose99 package is pushed, waiting for review:
https://chocolatey.org/packages/writage/1.12

[2019-03-18 12:24] mikecole commented on #312
Sorry, I have not. I probably won’t until next week at the earliest.

On Mon, Mar 18, 2019 at 4:27 AM Paul Broadwith <notifications@github.com>
wrote:

[2019-03-18 13:18] FranklinYu commented on #63
@pauby Yes. If everything is going on well, I would be releasing this within a week. I still have some question about policy or implementation of chocolatey.org; I would raise them in Gitter channel. (Actually I raised one of them yesterday.)

[2019-03-18 13:21] FranklinYu commented on #272
@pauby This has been blocked by chocolatey/choco#1686 until last Friday. After I finish #63, I would verify chocolatey/choco#1686 in Chocolatey 0.10.13 before releasing this package. The shortcut is the last piece.

[2019-03-18 22:03] necrose99 commented on #568
i've pushed a few ie however i'vent had time to keep at them .. up
along with gentoo pkg  repos i keep ..
 as effectively as i'd like..
https://chocolatey.org/packages/eset.endpoint/1.0.1   (corp version of nod32..) being one of them
needed to be 6.x anyway but 1.x for test build.  (other --params ie server-ip (management/updates)  licence key etc might be better in CHOCO-PRo/enterprise repos.. bu

[2019-03-19 18:00] akkiogra opened #569 "RFM - FileOptimizer"
https://chocolatey.org/packages/FileOptimizer

## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title sta

[2019-03-19 18:09] pauby commented on #569
@akkiogra Did you contact the current maintainers and if so how and when? (as per the email I responded back to you with).

[2019-03-19 18:26] pauby commented on #569
As the maintainers have not been contacted and this has just been done now I'm going to close this. We can always re-open it later if needed.

[2019-03-19 18:26] #569 closed

[2019-03-19 19:22] FranklinYu commented on #63
The package is finished. I just need to be a maintainer of the package.

[2019-03-19 19:36] pauby commented on #63
@FranklinYu If you've not done it yet, can you send in the request via the 'Contact Site Admins' link on the package page? If you have done this already, ignore me 😄

[2019-03-19 20:05] chtof commented on #543
Difficulty is a popup _"HashTools has been added to the Windows Explorer context menu"_ appears during install and block the install even with appropriate options **/VERYSILENT /SILENT /SUPPRESSMSGBOXES /NORESTART /SP-**

, needs probably to use ahk.

[2019-03-20 04:44] Spunkie commented on #569
Ya sorry, maintainer here. I think I have been contacted about this by others recently but I've been mostly off grid for the past 6 months.

Guess at some point in the last couple of months my new release script broke. I can take a look at it in a few days.

[2019-03-22 01:08] FranklinYu commented on #63
It’s under review.

https://chocolatey.org/packages/Tomcat/9.0.17

[2019-03-22 09:42] JonasDralle opened #570 "RFP - Genymotion Android Emulator"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

Finding the download link out requires having an account. The download link can be used without authentication.

## Package Details

[2019-03-22 10:30] pauby commented on #570
@JonasDralle As the downlaod location cannot be accessed without logging in, and unless there is a way to do this from the command line silently, this can't be a package for the Community Repository.

[2019-03-22 10:36] mkevenaar commented on #540
I'm going to have a look at this one :-)

[2019-03-22 12:10] mkevenaar commented on #540
@Foadsf pushed! https://chocolatey.org/packages/simulide/0.3.10 Waiting for review.

[2019-03-22 12:20] mkevenaar commented on #559
Package is released.

[2019-03-22 12:20] #559 closed

[2019-03-22 12:22] mkevenaar commented on #219
Package is released.

[2019-03-22 12:23] #219 closed

[2019-03-22 12:56] Foadsf commented on #540
@mkevenaar you are awsome 🖖

did you push the latest version or the latest binary?

[2019-03-22 12:58] mkevenaar commented on #540
@Foadsf I have pushed the latest version available in the downloads of SF. I have embedded the software to make sure it always works. It will also automatically update once a new version is released on SF.

[2019-03-22 15:43] Foadsf commented on #540
@mkevenaar thanks a lot.  would you be kind to share the link also here so I can learn how you did it?

[2019-03-23 12:36] chtof commented on #543
Under review: https://chocolatey.org/packages/hashtools

[2019-03-23 16:37] JonasDralle commented on #570
it worked with https://github.com/chocolatey/chocolatey-package-requests/issues/383 tho

[2019-03-23 16:54] pauby commented on #570
@JonasDralle Just to clarify what I said above:

If there is a way to do this from the command line silently then that is fine.

Can I also ask, again, to edit the initial request and use the template we provided?

[2019-03-23 18:32] JonasDralle commented on #570
Issue content has been edited.
Theres no authentication required for the download afterall.

Setup is probably non-standard

[2019-03-23 19:06] pauby commented on #570
I've amended the descritpion to say the download URL is public as you [confirmed](https://github.com/chocolatey/chocolatey-package-requests/issues/570#issuecomment-475893722).

[2019-03-23 22:18] #568 closed

[2019-03-24 10:10] JonasDralle commented on #570
:+1:
Publicity of link was tested via Mozilla Firefox private window.
Hopefully they won't change it once automated downloads hit them.

The setup looks rather gimmicky so maybe it's non-standard. To use the software a user has to log in via the settings menu (but that's post-install configuration when Genymotion is first launched)

[2019-03-24 21:40] mkevenaar commented on #540
@Foadsf sorry for my late reply, howevr take a look at the live stream @gep13 and I made a couple of weeks ago: https://youtu.be/afXnIu7bcEw

[2019-03-25 12:32] mkevenaar commented on #567
I'm working on this one.

[2019-03-25 13:20] mkevenaar commented on #567
Submitted: https://chocolatey.org/packages/veusz/3.0.1.1

[2019-03-25 13:47] FranklinYu opened #571 "RFP - java-ee-8-web-profile"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [ ] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.oracle.com/technetwork/java/javaee/overview/index.html
Direct download URL for

[2019-03-25 14:15] FranklinYu opened #572 "RFP - apache-netbeans"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://netbeans.apache.org/
Direct download URL for the software / installer: https://www

[2019-03-25 14:29] pauby commented on #572
@FranklinYu Is that comment still relevant given we are now at version 10?

[2019-03-25 14:30] pauby commented on #571
@franklinyu If we can't get a URL for the software then this can't be a package. Can you confirm it?

[2019-03-25 15:00] FranklinYu commented on #572
I’m not sure. @wget Any ideas?

[2019-03-25 15:49] mynameiswolfy opened #573 "RFP - Auto Mouse Click"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.murgee.com/auto-mouse-click/
Direct download URL for the software / installer

[2019-03-25 20:22] AdmiringWorm commented on #571
@pauby I think a package for this is still possible.
Most likely it will need to provide a cookie to be able to download it though.
Similar to what was mentioned on a different RFP.
https://github.com/chocolatey/chocolatey-package-requests/issues/383#issuecomment-458087128

I say we open this up for maintainers, if it turns out that it truly is impossible we can mark it as Blocked/Invalid.

Though

[2019-03-25 23:48] chtof commented on #41
Thanks a lot @yesbox for these information!
Under review: https://chocolatey.org/packages/gns3

[2019-03-27 10:54] mynameiswolfy commented on #573
The installer also opens a browser window and local folder on completion, even on silent install which is an extra hurdle to overcome.

[2019-03-27 10:56] pauby commented on #573
@mynameiswolfy If that is the case can you add the 'notSilent' tag?

[2019-03-27 11:05] mynameiswolfy commented on #573
There might be a way to make it silent (I hope so!) but I couldn't find the switch to do that. I'm pretty new to this :)

[2019-03-27 11:26] AdmiringWorm commented on #573
I had a look at the decompiled code for the installer, and unfortunately they have hard coded the opening of the webpage.

Other than closing the browser (which is a bad idea), there is no way to prevent this.

@mynameiswolfy ^^

[2019-03-27 11:35] rebekah65 opened #574 "RFM - Stremio"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-03-27 15:35] TheCakeIsNaOH opened #575 "RFP - GeoGebra Graphing Calculator"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.geogebra.org/download
Direct download URL for the software /installer: https:/

[2019-03-27 15:40] TheCakeIsNaOH opened #576 "RFP - GeoGebra Geometry"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.geogebra.org/download
Direct download URL for the software / installer : http

[2019-03-27 18:03] grafst opened #577 "RFP - Moneydance"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://infinitekind.com/moneydance
Direct download URL for the software / installer : ht

[2019-03-28 10:19] pauby commented on #571
@AdmiringWorm If there's _any_ chance of being able to get the download through, then we should try it.

[2019-03-28 10:20] pauby opened #578 "RFM - Wireshark"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] ~I~ Requestor ~have~ has followed the Package Triage Process and ~I~ they do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

##

[2019-03-28 10:46] mkevenaar commented on #578
I have contacted the admins and I am willing to take this one

[2019-03-29 13:52] mkevenaar commented on #578
Done :-)

[2019-03-29 13:52] #578 closed

[2019-03-29 13:53] mkevenaar commented on #567
Package is approved.

[2019-03-29 13:53] #567 closed

[2019-03-29 14:09] #540 closed

[2019-03-29 14:12] mkevenaar commented on #552
Package is released.

[2019-03-29 14:12] #552 closed

[2019-03-29 14:12] mkevenaar commented on #561
Package is published.

[2019-03-29 14:12] #561 closed

[2019-03-29 14:15] mkevenaar commented on #329
Package https://chocolatey.org/packages/friture/0.36 is published; virus scan is down to 3 results.

[2019-03-29 14:15] #329 closed

[2019-03-29 14:24] mkevenaar commented on #165
I have contacted the admins to add me as a maintainer.

[2019-03-29 15:47] chtof commented on #204
Under review: https://chocolatey.org/packages/liberationfonts

[2019-04-04 06:28] mkevenaar commented on #165
Package updated, should now automatically update.

[2019-04-04 06:28] #165 closed

[2019-04-04 09:59] diaconesq opened #579 "RFP - BPing"
## Checklist

- [v] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [v] There is no open issue for this package;
- [v] The issue title starts 'RFP - ';
- [v] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://gizmoware.net/bping/
Direct download URL for the software / installer : http://giz

[2019-04-04 11:08] mkevenaar commented on #35
@mikecole this package is currently in a failed state. Are you still working on this?

[2019-04-04 11:09] mkevenaar commented on #41
This package is published.

[2019-04-04 11:09] #41 closed

[2019-04-04 11:12] mkevenaar commented on #543
This package is approved.

[2019-04-04 11:12] #543 closed

[2019-04-04 11:13] mkevenaar commented on #230
A new version of this package is approved on March 28th, I think this one can be closed.

@pauby what do you think?

[2019-04-04 11:20] mkevenaar commented on #199
I am one of the current maintainers of this package, and it is automatically updated.

[2019-04-04 11:20] #199 closed

[2019-04-04 11:21] mkevenaar commented on #253
I am currently maintaining this package.

[2019-04-04 11:21] #253 closed

[2019-04-04 11:22] mkevenaar commented on #248
I am currently maintaining this package.

[2019-04-04 11:22] #248 closed

[2019-04-04 11:26] mkevenaar commented on #441
https://chocolatey.org/packages/tapwindows This package already exists and is maintained.

[2019-04-04 11:26] #441 closed

[2019-04-04 11:28] mkevenaar commented on #352
I am willing to take this one.

[2019-04-04 20:42] klondikemarlen commented on #199
Do you want to take over as chief maintainer? Right now the only thing I'm doing is reading the notifications of each new release.

[2019-04-05 00:14] m2nlight opened #580 "RFP - caffeinate"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/iorate/win-caffeinate
Direct download URL for the software / installer

[2019-04-05 05:41] srtlg commented on #199
On Thu, Apr 04, 2019 at 13:42 -0700, Marlen T. B. wrote:

I can do that.  Just I am not maintaining any official chocolatey package.  Can you describe how you upload it?

[2019-04-05 05:47] mkevenaar commented on #199
@srtlg I think that @klondikemarlen was asking me this.

I don’t mind having you on the package @klondikemarlen, please let me know if you want me to remove you.

[2019-04-05 05:48] mkevenaar commented on #352
Uploaded, waiting for review

[2019-04-05 06:36] pauby commented on #572
@FranklinYu Have you been able to progress this?

[2019-04-05 07:56] pauby commented on #230
@mkevenaar @chtof has taken this over by the looks of things so yes, let's close it.

[2019-04-05 07:56] #230 closed

[2019-04-05 15:19] mkevenaar commented on #445
Package pushed for review: https://chocolatey.org/packages/orientdb

[2019-04-05 15:31] FranklinYu commented on #572
I did a quick search and conclude that the migration isn’t finished yet. In the [status](https://cwiki.apache.org/confluence/display/NETBEANS/Apache+Transition) page there is still several “in-progress”. I can’t find any announcement for completion of migration.

@ComFreek may also provide some more related information.

[2019-04-05 22:28] mikecole commented on #35
@mkevenaar Kinda, yeah. Got busy with other things and turns out I need to script the install because there's no silent installer arguments. I'll get to it sometime.

[2019-04-06 08:03] theMorzan opened #581 "RFP - Locale Emulator"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/xupefei/Locale-Emulator
Direct download URL for the software / installe

[2019-04-06 08:50] ComFreek commented on #572
@FranklinYu I am afraid I don't know any more information than you. Also, the current [NetBeans package](https://chocolatey.org/packages/NetBeans) ("co-maintained" by me) is not maintained anymore. Personally, I would like to pass it to somebody else. I already asked the other comaintainers, but did not receive any response. So it might be a good time to replace it by Apache NetBeans altogether.

[2019-04-06 08:58] ComFreek opened #582 "RFM - NetBeans"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;
- [x] I tried contacting the other comaintainers (weeks ago), but did not receive a response. I've now sent another e-mail referencing this issue.

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/netbeans
Package source

[2019-04-06 09:33] pauby commented on #582
@ComFreek Are you going to fix the package version submitted on 2 March?

[2019-04-06 12:14] ComFreek commented on #582
@pauby No, I don't intend to.

[2019-04-06 15:32] chtof commented on #579
Under review: https://chocolatey.org/packages/bping

[2019-04-06 15:33] chtof commented on #565
Reviewed and so, available: https://chocolatey.org/packages/azclient

[2019-04-06 15:49] mkevenaar commented on #565
@chtof thank you!

[2019-04-06 15:49] #565 closed

[2019-04-06 16:43] chtof commented on #94
Under review: https://chocolatey.org/packages/qutim

[2019-04-06 16:44] chtof commented on #82
Seen as approved: https://chocolatey.org/packages/xysubfilter/

[2019-04-06 16:52] mkevenaar commented on #82
@chtof thank you!

[2019-04-06 16:52] #82 closed

[2019-04-06 17:08] FranklinYu commented on #582
@Akipe is probably not maintaining the package either, since last run of AU was February 2018, according to [AU logs](https://gist.github.com/Akipe/00330331551bc3703af5c89a1d82bfeb).

[2019-04-06 17:09] FranklinYu commented on #572
@ComFreek Thank you very much for your input! I’ll have to contact NetBeans team directly though.

[2019-04-06 18:18] chtof commented on #97
Under reviews: https://chocolatey.org/packages/portqry

[2019-04-06 20:11] chtof commented on #349
Under review:
https://chocolatey.org/packages/marktext
https://chocolatey.org/packages/marktext.install
https://chocolatey.org/packages/marktext.portable

[2019-04-07 10:25] chtof commented on #338
Ready to push, waiting to be added as maintainer as a previous version already exists.

https://github.com/chtof/chocolatey-packages/tree/master/automatic/texts

[2019-04-07 10:48] chtof commented on #320
Hi @FranklinYu ,
If this software still exists, could you update the link to download it as it return currently an http error 404?

[2019-04-07 12:00] chtof commented on #461
Under review: https://chocolatey.org/packages/manuskript

[2019-04-07 14:13] chtof commented on #582
Duplicate? Related to netbeans, see also: https://github.com/chocolatey/chocolatey-package-requests/issues/572

[2019-04-07 14:19] chtof commented on #572
-  _The package I am requesting does not already exist on https://chocolatey.org/packages_
netbeans already exists but has not been updated for a while: https://chocolatey.org/packages/netbeans

- See also https://github.com/chocolatey/chocolatey-package-requests/issues/582 (duplicate?).

- Chocolatey script for NetBeans 11 is already to be pushed: https://github.com/chtof/chocolatey-packages/tree

[2019-04-07 18:23] diaconesq opened #583 "RFP - Httping"
## Checklist

- [v] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [v] There is no open issue for this package;
- [v] The issue title starts 'RFP - ';
- [v] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.vanheusden.com/httping/
Direct download URL for the software / installer : ht

[2019-04-07 19:53] chtof commented on #583
Under review: https://chocolatey.org/packages/httping

[2019-04-07 20:56] chtof commented on #400
Under review: https://chocolatey.org/packages/dontsleep.portable

[2019-04-07 23:58] klondikemarlen commented on #199
@srtlg yeah, please drop me, thanks.

[2019-04-08 01:25] FranklinYu commented on #320
I can’t find it in McAfee website. Third party download is still available from [Softpedia](https://www.softpedia.com/get/Network-Tools/Traceroute-Whois-Tools/Trout.shtml), [LO4D.com](https://trout.en.lo4d.com/), [Scan With](http://www.scanwith.com/download/Trout.htm), and [SnapFiles](http://www.snapfiles.com/get/trout.html), but it’s time to say goodbye.

[2019-04-08 01:25] #320 closed

[2019-04-08 06:15] ComFreek commented on #572
@chtof Great work! Per the comments above, could you please push your package as "apache-netbeans". Unless the comments above are resolved, #582 is not a duplicate. So I'd suggest (a) pushing your package as "apache-netbeans" and (b) waiting for a response from @FranklinYu about how NetBeans responded.

[2019-04-08 08:43] pauby commented on #572
@ComFreek

Can you elaborate on that? I'm not sure I underatand.

@chtof I'm going to add you as a maintainer of the package (as per your email). However please don't push your package until we sort out what is happening here.

What I'd like to know is if, regardless of the outcome with [Netbeans](https://github.com/chocolatey/chocolatey-package-requests/issues/572#issuecomment-480520717) are we g

[2019-04-08 09:41] pauby commented on #582
@ComFreek I'm going to reject the package in that case. Will link to your comment.

[2019-04-08 10:15] ComFreek commented on #572
@pauby First, I'd suggest reading [this Disgus comment](https://chocolatey.org/packages/NetBeans#comment-4059251934). My understanding of it is as follows:

- There are two different programs: Apache NetBeans and NetBeans. The former is the successor of the latter, but note that while being termed "the successor", it still does not include every feature of the latter. See also https://github.com/c

[2019-04-08 10:35] chtof commented on #527
Under review: https://chocolatey.org/packages/gitextensions.portable

[2019-04-08 10:44] AdmiringWorm commented on #572
/cc @wget

[2019-04-08 14:22] chtof commented on #338
Under review: https://chocolatey.org/packages/texts

[2019-04-08 15:15] mkevenaar commented on #199
@klondikemarlen I have removed you.

[2019-04-08 18:23] FranklinYu commented on #572
@ComFreek When that day comes, the Chocolatey way IMO is to [deprecate](https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package) the NetBeans package in favor of Apache NetBeans.

[2019-04-09 08:57] mkevenaar commented on #352
Published.

[2019-04-09 08:57] #352 closed

[2019-04-09 08:57] mkevenaar commented on #445
This package is published!

[2019-04-09 08:57] #445 closed

[2019-04-09 12:51] mkevenaar commented on #94
Package is published.

[2019-04-09 12:51] #94 closed

[2019-04-09 12:51] mkevenaar commented on #97
Package is published.

[2019-04-09 12:51] #97 closed

[2019-04-09 12:52] mkevenaar commented on #204
Package is published.

[2019-04-09 12:52] #204 closed

[2019-04-09 12:52] mkevenaar commented on #338
Package is published.

[2019-04-09 12:52] #338 closed

[2019-04-09 12:53] mkevenaar commented on #400
Package is published.

[2019-04-09 12:53] #400 closed

[2019-04-09 12:53] mkevenaar commented on #461
Package is published.

[2019-04-09 12:53] #461 closed

[2019-04-09 19:57] Foadsf commented on #540
Dear @mkevenaar does this package work properly on your machine? I get this error:

[2019-04-09 19:59] mkevenaar commented on #540
@Foadsf It is working for me, would you be able to create an issue at my repo?

https://github.com/mkevenaar/chocolatey-packages/issues

We will take it from there.

[2019-04-10 10:44] kaffeekanne opened #584 "RFP - Thonny"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://thonny.org/
Direct download URL for the software / installer : https://github.com

[2019-04-10 10:48] mkevenaar commented on #584
Thank you, I'll be working on this one

[2019-04-10 10:54] kaffeekanne commented on #584
Wow, great to read! I have no idea what the policy about desktop icons is though. I find them annoying, the installer offers not to place one, but i can live with deleting icons on `choco upgrade all`.

[2019-04-10 11:21] mkevenaar commented on #584
@kaffeekanne Package is pushed: https://chocolatey.org/packages/thonny
waiting for review

[2019-04-10 13:11] sumo300 commented on #435
@pauby Not sure if me chiming in on this would be helpful, but I did 5 seconds of research and it looks like you need to be able to log into Adobe and use their Creative Cloud Packager to create silent installers.  And, depending on your licensing, you either have a choice to require the end-user to log in to the product to license it or if you have Enterprise, to package it with a serial #.

Refe

[2019-04-10 14:05] pauby commented on #435
@sumo300 If you create the silent installer how will that be distributed?

* If it is to be distributed with the package then we need the license to allow that - I'm _guessing_ that Adobe won't allow that.
* If it's to be downloaded then do Adobe have a direct URL to allow that download?

If the answer to both of those is no then it's still not suitable for the community repository. It would howev

[2019-04-10 16:45] sumo300 commented on #435
@pauby I'm assuming no to both of those, but I do not know definitively.  Just trying to help with a little bit of research.  You have to be a licensed Adobe Creative Cloud user to even get the tool and I think the MSIs it generates are specific to that account.

https://helpx.adobe.com/enterprise/package/help/creating-packages.html

[2019-04-10 17:03] kaffeekanne commented on #584
Works for me, thank a lot!

[2019-04-10 18:33] tribals opened #585 "RFP - Sublime Merge"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.sublimemerge.com/
Direct download URL for the software / installer : https://d

[2019-04-11 07:04] mkevenaar commented on #584
Package is published!

[2019-04-11 07:04] #584 closed

[2019-04-11 07:05] mkevenaar commented on #585
@tribals Would you please update this issue and use the template provided when creating a new request?

[2019-04-11 07:57] tribals commented on #585
@mkevenaar Sure.

[2019-04-11 12:21] chtof commented on #585
How to handle the version?
I have nothing find better than version "1107" (https://www.sublimemerge.com/download) contrarily to "sublime text" package with build and version numbers.

Maybe I should handle "1107" as "1.1.0.7" version?

[2019-04-11 12:32] chtof commented on #572
As I have a doubt everyone agree, tell me if I should push https://github.com/chtof/chocolatey-packages/tree/master/automatic/apache-netbeans .

[2019-04-11 13:29] pauby commented on #585
There are two options I can see.

1. If you use the version 1107.0.0 then it's kind of correct (as it appears they only use that one number). However if they ever switch away from this to, let's say v1.0.0 you're a bit stuffed.

2. If you use 0.1107.0 then if they ever switch to 1.0.0 then you're okay.

3. You could go further and use 0.0.1107.

I think whatever you do, don't have their build numb

[2019-04-11 14:13] ComFreek commented on #572
@FranklinYu Did you receive a respones from NetBeans yet?

[2019-04-11 14:59] chtof commented on #581
Under review: https://chocolatey.org/packages/locale-emulator

[2019-04-11 15:12] chtof commented on #585
Ok, I like the third option as we can see immediatly it's not an usual versioning and can be deduct it can be a build versioning. And a "build number" should have decimals :-)
Thank you Pauby!

So, under review: https://chocolatey.org/packages/sublimemerge

[2019-04-11 16:30] chtof commented on #509
It needs Jumpstart to be installed (available at the same download location) but I didn't found any information regarding Jumpstart (official website, author, license etc... Nothing.).

[2019-04-11 18:04] chtof commented on #178
- Software is not listed in "Program and features".
- No uninstaller found in standard folders.

 @mzomparelli : Hi, could you tell us the way to uninstall properly zVirtualDesktop ?

[2019-04-11 18:12] mzomparelli commented on #178
*	Delete the exe
*	Delete Folder: C:\Users\[User]\AppData\Roaming\zVirtualDesktop
*	Registry Key: Computer\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Run\zVirtualDesktop

Those are the only files that zVirtualDesktop creates.

[2019-04-11 19:35] chtof commented on #160
Under review: https://chocolatey.org/packages/logisim-evolution

[2019-04-11 21:26] chtof commented on #178
Under review: https://chocolatey.org/packages/zvirtualdesktop

[2019-04-11 21:33] FranklinYu commented on #572
@ComFreek I haven’t been able to spare a time do to that, sorry. I will report here as soon as I sent them a message, but before that anyone can do it.

[2019-04-11 21:53] mzomparelli commented on #178
Yes, I can do that.

[2019-04-12 10:06] chtof commented on #574
Updated version is ready to be pusblished: https://github.com/chtof/chocolatey-packages/tree/master/automatic/stremio

Just waiting to be added as maintainer (request already sent on contact site admins).

[2019-04-12 10:21] zero77 commented on #574
@chtof
Thanks

[2019-04-12 10:57] chtof commented on #574
Under review: https://chocolatey.org/packages/stremio/4.4.25

[2019-04-12 11:56] chtof commented on #505
Under review: https://chocolatey.org/packages/launchyqt

[2019-04-12 13:47] mkevenaar commented on #99
I'll be working on this one. Already asked the moderators to add me.

[2019-04-12 19:24] chtof commented on #307
https://chocolatey.org/packages/phonerlite already available (Version 2.70 - install version)

I have just pushed:
https://chocolatey.org/packages/phonerlite.install
https://chocolatey.org/packages/phonerlite.portable

Maybe https://chocolatey.org/packages/phonerlite would have changed to have a version dependency on phonerlite.install

[2019-04-13 10:29] chtof commented on #156
Ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/dnscrypt-proxy, just waiting to be added as maintainer (request sent) and review.

[2019-04-13 10:38] chtof commented on #151
Already deployed in Chocolatey: https://chocolatey.org/packages/kav

[2019-04-13 10:46] chtof commented on #147
It seems there is no direct link to download directly a trial version of MalwareBytes Ranomware.
And when you fill the "request trial", you have the following message : "THANK YOU FOR REACHING OUT
Our sales team will reach out shortly to find the right business solution for you.".

@zero77: Do you have another link other than this beta version to download this software?

[2019-04-13 10:47] pauby commented on #151
@chtof That's the trial version. Not sure if there is a difference but that package has been around since 2013 whereas this request is only just over a year old. So if suggest they are different.

[2019-04-13 10:49] chtof commented on #146
Link no longer available.
@zero77: Do you have another link?

[2019-04-13 14:22] AdmiringWorm commented on #146
@chtof https://www.malwarebytes.com/antiexploit/

[2019-04-13 15:38] pauby opened #586 "RFM - rclone"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] ~I~ Reported user ~have~ has followed the Package Triage Process and ~I do~ does NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

[2019-04-13 19:16] AdmiringWorm commented on #586
Looks like there is already a new maintainer for this one.

@atruskie seems to have been added a few days ago, and probably just haven't been able to update the package yet. (I'm guessing of course).

https://github.com/kkzinger/chocolatey-packages-new/issues/4

[2019-04-14 10:25] chtof commented on #516
Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/dupeguru

Just waiting to be added as maintainer of the package (request just sent to contact site admins).

[2019-04-14 10:26] chtof commented on #156
Updated version under review: https://chocolatey.org/packages/dnscrypt-proxy/2.0.22

[2019-04-14 10:35] chtof commented on #144
- This project seems having be stopped and I understand (thanks to Google Translate) the author doesn't want the package downloaded on another site. See :

1. [WebSite translated in english](https://translate.google.fr/#view=home&op=translate&sl=auto&tl=en&text=Aufgrund%20der%20überraschenden%20Krankheit%20und%20des%20Tod%20eines%20sehr%20nahestehenden%20Freundes%20und%20Mitstreiters%2C%20sowie%20

[2019-04-14 15:00] pauby commented on #144
I've unlisted all of the package versions as the installer is gone and they therefore won't install (this is not an embedded package). I'm also going to go ahead and close this now as until the installer appears back online at a trusted source, we can't use it.

Thanks @chtof for providing that info!

[2019-04-14 15:00] #144 closed

[2019-04-14 15:11] pauby commented on #586
Cheers @AdmiringWorm for picking that up. We can keey an eye on it until a new version is pushed?

[2019-04-14 15:45] AdmiringWorm commented on #144
@pauby I don't know if there really was a need to unlist the package completely. While the package won't work for FOSS users, it would work with the licensed edition of choco.

[2019-04-14 15:47] pauby commented on #144
@AdmiringWorm I checked that. It's not in the licensedpackages cache.

[2019-04-14 15:49] AdmiringWorm commented on #144
I see. I guess there weren't any other choice then. :cry:

Good work.

[2019-04-14 15:50] pauby commented on #144
Unfortunately not. I should have mentioned I'd done that!

[2019-04-14 18:23] chtof commented on #516
Updated version under review: https://chocolatey.org/packages/dupeguru/4.0.3

[2019-04-14 20:56] chtof commented on #184
- Ready to be published for review: https://github.com/chtof/chocolatey-packages/tree/master/automatic/acestream
- Status: Request just sent to be added as maintainer.

[2019-04-14 21:05] chtof commented on #141
Hi Bruno @bhaible , could you tell us if windows build versions "are ready to download and install"? Because, according your information and libffcall website, it seems the windows build needs to be build manually...

Best regards.

[2019-04-14 21:43] wget commented on #572
Hello everyone. Good news.

The netbeans.org website is now redirecting to netbeans.apache.org. All the Java SE+PHP (web) related languages have been integrated into Netbeans, my proposition is to create the package `apache-netbeans` make (only) the following packages depend on it:
* `netbeans-php`
* `netbeans-web`
* `netbeans-jse`
* `netbeans-html5`

**NOT** for

* `netbeans-cpp` (we still haven'

[2019-04-14 21:48] wget commented on #435
Hello everyone. I'm posting this link here. ProDesign Tools has been very keen for ages into trying to provide offline installers for the Adobe Stack.
Thanks to the creation of a single Adobe account, and the recovery of a specific cookie, it is possible to download the stack locally.
https://prodesigntools.com/adobe-cc-2019-direct-download-links.html
Bundling won't be authorized though AFAIK (leg

[2019-04-14 23:05] chtof commented on #127
**Status: Waiting to be added as maintainer** (Request sent to contact site admins)

(Package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/myrica)

[2019-04-14 23:10] chtof commented on #349
Can be closed, these 3 packages have been validated.

[2019-04-14 23:14] atruskie commented on #586
Sorry I got interrupted. Almost there. I'll report back here when ready

[2019-04-15 00:32] FranklinYu commented on #572
I asked in their user list and get information similar to what @wget said above; C/C++ isn’t included in Apache NetBeans 11. One nitpick: from [Apache NetBeans 11 release note](https://blogs.apache.org/netbeans/entry/announce-apache-netbeans-incubating-11) it seems to support Java EE.

[2019-04-15 00:49] #349 closed

[2019-04-15 06:41] ComFreek commented on #572
@wget minor comment: Isn't having packages with `apache-` prefix and without a bit confusing? What do you do with the old `netbeans` package?

Yes, please, that sounds like a good idea!

[2019-04-15 09:47] chtof commented on #127
Under review: https://chocolatey.org/packages/myrica/2.006.20150301.20190415

[2019-04-15 09:49] chtof commented on #184
Under review: https://chocolatey.org/packages/acestream

[2019-04-15 10:35] chtof commented on #126
**Status: In Progress - Waiting to be added as maintainer to pusblished [the updated version](https://github.com/chtof/chocolatey-packages/tree/master/automatic/source-han-code-jp)** (request sent to contact site admins)

[2019-04-15 11:00] chtof commented on #126
**Status: Review** (https://chocolatey.org/packages/source-han-code-jp)

[2019-04-15 19:16] aronovgj opened #587 "RFM - ccenhancer"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [ ] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-04-15 20:26] chtof commented on #251
**Status: In progress** - Waiting to be added as maintainer (request sent).

- https://github.com/chtof/chocolatey-packages/tree/master/automatic/hugin
- https://github.com/chtof/chocolatey-packages/tree/master/automatic/hugin.install
- hugin.portable will be updated within the next days.

[2019-04-16 16:46] zero77 commented on #146
@chtof
or https://forums.malwarebytes.com/forum/126-anti-exploit-beta/

[2019-04-16 16:48] zero77 commented on #147
@chtof
https://forums.malwarebytes.com/forum/172-anti-ransomware-beta

Normally the one at the top but, it does change.

[2019-04-16 18:13] chtof commented on #251
Status:
- hugin.install: **Review**
- hugin: **Review**
- hugin.portable: **In Progress**

Regarding hugin.portable: the portable version is no longer available:
- In the previous portable chocolatey package, there is a portable version "Hugin_2015.0.0_64bit.7z" in https://sourceforge.net/projects/hugin/files/hugin/hugin-2015.0/  . And in the latest version, no portable version "*_64bit.7z" is ava

[2019-04-16 19:45] chtof commented on #399
Status: **In Progress** (Waiting to be added as maintainer, request sent to Contact site admins).

Updated packages are ready to be published:

- https://github.com/chtof/chocolatey-packages/tree/master/automatic/multipar

- https://github.com/chtof/chocolatey-packages/tree/master/automatic/multipar.install

- https://github.com/chtof/chocolatey-packages/tree/master/automatic/multipar.portable

[2019-04-17 11:35] atruskie commented on #586
This should be set up now, and should automatically update in the future

[2019-04-17 15:02] Trance-Paradox opened #588 "RFP - CUDA toolkit"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;ok
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://developer.nvidia.com/cuda-toolkit
Direct download URL for the software / instal

[2019-04-17 17:16] pauby commented on #588
@Trance-Paradox The Direct Download URL is invalid. It looks like that download link is actually a one time link. Unless somebody can figure a way around that this couldn't be packaged.

[2019-04-17 17:46] Trance-Paradox commented on #588
can you try this link the earlier one was from my browser download links

[2019-04-17 17:47] pauby commented on #588
@Trance-Paradox That seems to work - I did strip the numbers after the filename in the previous URL but that results in a 403 error. I'll make this available to maintainers now.

[2019-04-18 08:09] pauby commented on #572
There has been a [package submitted](https://chocolatey.org/packages/netbeans11/11.0) that looks a lot like what is being discussed here.

As I said in the package notes I'm keen not to approve that package until we have a proper way forward for this as it's not a 'simple' package.

Suggestions?

[2019-04-18 08:11] pauby commented on #582
@Akipe has updated and submitted a new version of the package. See my [comment](https://github.com/chocolatey/chocolatey-package-requests/issues/572#issuecomment-484399830). Can we please keep updates to the other issue?

[2019-04-18 11:26] chtof commented on #572
So I can delete my package... https://github.com/chtof/chocolatey-packages/blob/master/automatic/apache-netbeans/tools/chocolateyinstall.ps1

For information:
- No variable environment  in my package compared to @Akype. Maybe it's needed?
- @Akype use the name of netbeans (I am lost if finally, netbeans or apache-netbeans should be use)
- @Akype version doesn't install 32 bits version (inside the

[2019-04-18 11:44] pauby commented on #572
@chtof Nobody said you had to delete your package. If you have a look at the [package submitted](https://chocolatey.org/packages/netbeans11/11.0) you'll see I left a note on there about this issue.

The package you listed above hasn't been submitted yet. Is there a reason?

My reason for posting my [comment](https://github.com/chocolatey/chocolatey-package-requests/issues/572#issuecomment-48439983

[2019-04-18 11:50] chtof commented on #572
You said me in a previous post:

@chtof <https://github.com/chtof> I'm going to add you as a maintainer of
the package (as per your email). However please don't push your package
until we sort out what is happening here.

Le jeu. 18 avr. 2019 à 13:44, Paul Broadwith <notifications@github.com> a
écrit :

[2019-04-18 12:35] ComFreek commented on #572
@pauby In the other thread, you wrote the following:

Of which package? I can't see any new [`netbeans` package](https://chocolatey.org/packages/NetBeans). I see a new [`netbeans11` package](https://chocolatey.org/packages/netbeans11/11.0), which however was pushed by [adriens](https://chocolatey.org/profiles/adriens). Their profile does not link to @Akipe on GitHub, and the GitHub source of `netb

[2019-04-18 12:38] pauby commented on #572
@ComFreek adriens is correct. @Akipe is not. I've obviously been looking at something else and got the two mixed up. I've updated my comments above to replace Akipe with adriens.

[2019-04-18 12:39] pauby commented on #572
@chtof I'm not sure what you are referring to. @adriens submitted a new package.

[2019-04-18 19:47] adriens commented on #572
Thanks @pauby  for pointing it

[2019-04-18 20:51] chtof commented on #572
@pauby So, your complete comment sent on 8th april :

"
@ComFreek <https://github.com/ComFreek>

(c) if anyone fixes (not upgrades!) the "netbeans" package, they should add
a note to the successor "apache-netbeans" at the top of the description.

Can you elaborate on that? I'm not sure I underatand.

@chtof <https://github.com/chtof> I'm going to add you as a maintainer of
the package (as per your

[2019-04-18 20:58] pauby commented on #572
@chtof I'm not sure i understand. All you've done is quote a comment I made with nothing added to it.

[2019-04-18 21:14] chtof commented on #572
Just because you have said me in another previous post: "@chtof I'm not sure what you are referring to. "
So I have sent the complete related post.

Well, the situation with Netbeans is enough complicated.
Just know, I worked on apache-netbeans package https://github.com/chtof/chocolatey-packages/tree/master/automatic/apache-netbeans
No problem for me if I have to delete this package, if you want

[2019-04-18 21:37] pauby commented on #572
@chtof I think you're misunderstanding my role here. I'm trying to facilitate a decision to be made on this and, as a moderator, help the package move forward. I'm not making any decisions on the course of this package at the moment. It's to to you guys to decide. If there is stalemate then the moderators can get involved.

Once the decision has been made what is happening with this, then we can d

[2019-04-18 22:44] adriens commented on #572
Hi, just to explain why I created `netbeans-11` package. I choosed *not* to make a `PR` on the existing `netbeans` package because of the incubatin status of Netbeans 11. It also seems like Netbeans 11 is not a newer version of Netbeans 10 (which also is in incubating status).
So by creating this dedicated package, it makes life easier for the end user to install the netbeans versions in a separat

[2019-04-19 10:21] adriens commented on #572
Hey, here are some very fresh news !!! : https://twitter.com/netbeans/status/1118640035883098112  :

![2019-04-19 21_20_48-Apache NetBeans sur Twitter _ _Big news -- it is now official, @TheASF @NetBeans](https://user-images.githubusercontent.com/5235127/56420290-17572580-62e9-11e9-8295-083d14f22398.png)

[2019-04-19 10:22] adriens commented on #572
go go go 😸

[2019-04-20 03:29] chtof commented on #160
Status: **closed**
https://chocolatey.org/packages/logisim-evolution

[2019-04-20 03:37] FranklinYu commented on #572
What? I’m new to NetBeans world, but this is confusing.

[2019-04-20 07:35] #160 closed

[2019-04-20 10:45] chtof commented on #251
Regarding hugin.portable, I think this package should be deprecated as they are no longer sources to maintain the portable version.
See the answer of Hugin Team to my case: https://bugs.launchpad.net/hugin/+bug/1825030/comments/2

Ok for you?

[2019-04-20 13:37] chtof commented on #192
Swish hasn't been updated by the author since June 2013 (http://www.swish-sftp.org).
It can be installed under Windows 10 but it displays an error message "Unable to exchange encryption keys: LIBSSH2_ERROR_KEX_FAILURE. I think it's because the libssh2.dll file installed by Swish is too old.

According https://sourceforge.net/projects/swish/, someonelse has also a problem to run Swish under Windows

[2019-04-20 15:58] pauby commented on #192
Does the issue only occur on Windows 10 or other operating systems that Chocolatey supports?

[2019-04-20 16:08] chtof commented on #202
Status: **Review**
https://chocolatey.org/packages/skympc

[2019-04-20 16:17] chtof commented on #192
No idea. But, a lot of changes have been applied on the SSL protocol since
2013 (encryption, cyphers etc...).
For me, it's a bad idea in term of security to provide a such unmaintened
package.
And no idea if it can runs on other windows versions.

Le sam. 20 avr. 2019 à 17:58, Paul Broadwith <notifications@github.com> a
écrit :

[2019-04-20 16:31] pauby commented on #251
The current version of the portable package has embedded binaries. No need to deprecate it.

However the .install package uses an MSI installer. The .portable is a ZIP file. My understanding is that a portable package doesn't install anything. Which this doesn't. However it does update the registry.

[2019-04-20 16:36] pauby commented on #192
Chocolatey supports other operating systems. If it runs on them then there is no reason it should not be a package. I would expect the maintainer to identify that it won't run on Windows 10 or implement a workaround if there is one.

If there is no security issues reported then again there is no reason for it not to be a package.

Whether it's a good idea or bad to use an older / unmaintained libr

[2019-04-20 18:53] chtof commented on #251
Ok, if a user install hugin.install, he will have the latest version and an
old version (probably never updated) if he install the portable version.
Little bit confusing.

If we let the portable as is, then this issue can be closed.

Le sam. 20 avr. 2019 à 18:31, Paul Broadwith <notifications@github.com> a
écrit :

[2019-04-20 20:48] vvch opened #589 "RFP - SMTube"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
  http://www.smtube.org/
Direct download URL for the software / installer :
  http://sour

[2019-04-20 20:57] chtof commented on #210
Don't know if it's for a long time but https://www.sublight.me displays a message _"Sorry, we are currently not accepting new registrations."_
- There is no explaination in https://www.sublight.me/history
- The download link displayed in https://www.sublight.me/history redirect also to _"Sorry, we are currently not accepting new registrations."_

Maybe to reject if no change within a few months?

[2019-04-20 21:30] pauby commented on #210
What is people who already have registrations? Or can you not download unless you have a registration? I may have missed the reason why registrations are relevant for the package.

[2019-04-20 21:51] chtof commented on #210
I have no more information.
The download link redirect to the homepage without asking for an authentication.
https://www.sublight.me/premium/ redirect also to the homepage.

It can be a dead site.

[2019-04-20 22:07] AdmiringWorm commented on #210
Hmm, could be that they have encountered some issues that they need to resolve before they can let any new user on the platform.

I'll mark it as blocked upstream for now, and if it's still down after a few months we can probably close this issue.

[2019-04-21 21:05] adriens commented on #572
@FranklinYu : here is what I mean for the scheme version :

![2019-04-22 08_02_49-Apache NetBeans Releases](https://user-images.githubusercontent.com/5235127/56475538-43cf9500-64d5-11e9-9cf2-caac1a1ed70f.png)

As you can see, all version do have separate paths 😸

[2019-04-21 21:24] chtof commented on #220
Status: **Review**

https://chocolatey.org/packages/umbrello
https://chocolatey.org/packages/umbrello.install
https://chocolatey.org/packages/umbrello.portable

[2019-04-22 00:48] snmishra opened #590 "RFP - Magicsplat Tcl/Tk for Windows"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.magicsplat.com/tcl-installer/
Direct download URL for the software / installe

[2019-04-22 06:21] ComFreek commented on #572
@pauby What is the moderator's stance on maintaining multiple (stable) versions in parallel? I guess, the Nuget package system forces one to actually have three packages, right?

Then again, the [IntelliJ IDEA IDE](https://chocolatey.org/packages/intellijidea-community) also has big updates very now and then and there is only one package for it. Do note that IntelliJ IDEA updates can even make ins

[2019-04-22 10:15] pauby commented on #572
@comfreek if I understand your question correctly then it really depends.

If you have one package with v9, 10, 11 then that's good for software that people want to always update to the latest version. I'm on v9, I run `cup all` and I get v11. To stay on s v9 version I have to pin it and then manually update to v9.123 (or whatever).

If you have three packages v9, v10 and v11 then I can easily sta

[2019-04-22 13:01] luzpaz opened #591 "RFM - wings3d"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-04-22 13:36] FranklinYu commented on #572
I think it boils down to version compatibility. If v10 is supposed to *replace* v9, then I would prefer one package with several channels.

This is interesting. I did some quick search but found nothing. Any details?

[2019-04-22 13:43] ComFreek commented on #572
@FranklinYu I was told that a plugin I co-authored throws some strange exceptions in a rather recent IntelliJ version. It's still usable, but you users are presented with an exception. I don't have any citable references, though.

What are channels? I couldn't find anything in conjunction with "Chocolatey". If a package has a version 9.0.0 and then an upgrade to 10.0.0 is pushed, you can no longer

[2019-04-22 15:33] FranklinYu commented on #572
@ComFreek Sorry I used the wrong term; it should be called “Stream”. It’s not something *user* can make use of; instead it’s [AU specific feature](https://github.com/majkinetor/au#streams), so user still need to do the pinning and manual update, as mentioned by @pauby above. It just makes maintainer’s life easier.

[2019-04-22 16:13] ComFreek commented on #572
I see, makes sense. So, I guess someone would need to investigate whether Apache Netbeans v9, v10, v11 are supposed to live side-by-side or not. Could I kindly ask you, @FranklinYu or @adriens, to do this? You seem to have familiar with Apache NetBeans :smile:

[2019-04-22 16:32] FranklinYu commented on #572
I’m not familiar; I just want to start learning. I’ll see when I have time, but recently I have been occupied by my work…

[2019-04-22 19:32] adriens commented on #572
@ComFreek : to help, I can already tell you that plugins are actually not necessarly compatible as they do not target the same repos.
As a developer I do highly rely on plugins, ....so that does also can keep me stick on a version.

At the Office, I'm still on Netbeans 8.2 because of some plugins while at home I'm on Netbeans 11 😺

[2019-04-22 19:37] adriens commented on #572
@ComFreek :

I'll try to ask `ASF` directly 🤞

[2019-04-22 19:59] chtof commented on #228
Status: **In progress**

- Request sent to be added as maintainer of this package.
- Updated packages ready to be pushed:
https://github.com/chtof/chocolatey-packages/tree/master/automatic/gravitdesigner
https://github.com/chtof/chocolatey-packages/tree/master/automatic/gravitdesigner.install
https://github.com/chtof/chocolatey-packages/tree/master/automatic/gravitdesigner.portable

[2019-04-22 20:35] adriens commented on #572
I'm working on it 👍

[2019-04-22 20:47] adriens commented on #572
Here we go guys : https://issues.apache.org/jira/browse/NETBEANS-2445

[2019-04-22 20:48] adriens commented on #572
Now, let's wait for thei post on this issue 🤞 🙏 ⏸ 🍀

[2019-04-22 20:56] pauby commented on #572
@comfreek this isn't the case. If v10 (or higher) is approved you can still push v9 package versions (or lower).

[2019-04-23 05:49] ComFreek commented on #572
Oh, but my comment still stands true for pushing minor or patch versions, right? If v10.1.0 is pushed, you can no longer push v10.0.1, or can you? In any case, I corrected my comment above, thanks for the correction & sorry for spreading wrong information.

Then, how about the single package `netbeans` with pushed versions at v8, v9, v10 and v11? Users are then free to ping their specific major ve

[2019-04-23 06:22] AdmiringWorm commented on #572
@ComFreek any version that don't already exist for the package, can be pushed.
So you can push a version of 10.0.1 even when version 10.1.0 have been pushed.

[2019-04-23 07:53] pauby opened #592 "RFM - Natron"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] ~I have~ User reporting this has followed the Package Triage Process and ~I~ they do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM

[2019-04-23 08:26] #586 closed

[2019-04-23 08:26] #585 closed

[2019-04-23 08:27] #581 closed

[2019-04-23 08:27] #574 closed

[2019-04-23 08:29] #527 closed

[2019-04-23 08:42] pauby commented on #251
That will be the same for any package where the user installs one .portable and one .install. That's the users perogative to do that (perhaps it's required) but it's also the users responsibility so make sure what they have installed is what they want. the .portable and .install packages are two separate packages.

As the packages you've submitted are not approved we will keep the issue open until

[2019-04-23 09:11] adriens commented on #572
@ComFreek updated the Jira issue.

[2019-04-23 13:31] tribals commented on #585
Thanks, guys!

[2019-04-23 15:03] FranklinYu commented on #572
@ComFreek The point is, if a user wants to stay in Apache NetBeans v10, he cannot `cup` to update all packages.

[2019-04-23 15:05] pauby commented on #572
@FranklinYu That's not strictly true but I get what you're trying to say. The user does need to do some extra work such as pin the version and then manually update.

[2019-04-23 15:23] ComFreek commented on #572
On the other hand, with separated packages, he would need to manually upgrade a package if he desired to do so. Manual work is required in both cases. That's why I didn't mention this in the linked Jira issue either to not overcomplicate things.

[2019-04-23 15:26] pauby commented on #572
@ComFreek With separate packages, assuming he / she wanted to upgrade to the latest version (which is what we are talking about) there is no manual step beyond typing `cup all`. With the same package if they wanted to update to the latest v9 version and the package has v9, v10 and v11 then they would have to do that manually (ie. `cup apache-netbeans --version v9.0.whatever`)

[2019-04-23 17:35] FranklinYu commented on #572
So there are two kinds of users:

1. user sticking with one major version
2. user always using latest release

One of them needs to upgrade manually. I suggest to optimize for majority. I haven’t ever used NetBeans, but I don’t think upgrading v9 → v10 → v11 will break workflow for over half of the users.

[2019-04-23 19:22] adriens commented on #572
@FranklinYu  :

From my point of view, making choice on a upgrade way while you are not a regular user of the software may not be a good idea 😸 ... cause when you work relies on plugins, trust me this can be a bad surprise when you accidentally upgrade your IDE.

[2019-04-24 03:32] maphew opened #593 "RFP - VirtualDub2"
## Package Details

Software project URL : https://sourceforge.net/projects/vdfiltermod/
Direct download URL for the software / installer : https://sourceforge.net/projects/vdfiltermod/files/latest/download
Software summary / short description: A streamlined video editor with simple frame-by-frame timeline. Free, open-source, portable. The default package is ready for use with many essential plugi

[2019-04-24 10:12] pauby commented on #572
Given what seems to be coming across it sounds like separate packages would be better to maintain compatibility? So something like:

[code]

There doesn't appear to be much more appearing above around anything different. If there is anything new then let's keep going.

I'd like to hear everybody's thoughts on separate packages, get a consensus on that one issue and then move forward?

[2019-04-24 12:46] ComFreek commented on #572
- 👍 for **separate package versions:** `apache-netbeans-9`, `apache-netbeans-10`, `apache-netbeans-11`

(Sorry to throw in another point, but could we have an `apache-netbeans-latest` package for users wishing to have the latest release all the time? Does that make sense?)

[2019-04-24 12:52] pauby commented on #572
@ComFreek

You could do and it could be a meta package with a depdency simply on the package managing the latest installer version.

[2019-04-24 18:00] chtof commented on #245
Status: **In progress**

- Waiting to be added as maintainer for this package.
- Updated version ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/uncrustify

[2019-04-24 19:21] adriens commented on #572
@ComFreek : I like the `latest` idea...like a branch in fact. What would be very cool also would to use it like a synonym, I mean to make it point, actually to Netbeans 11, and if one day we have a Netbeans 12, switch it to tihis latest one.

[2019-04-24 20:19] AdmiringWorm commented on #572
@adriens I'm curious, is the different major versions of netbeans meant to be able to exist side-by-side?

If they aren't, we also have the possibility to have the main netbeans package always follow the latest realeases (as well as previous releases), and have so-called meta package which restricts the version that can be used.

For instance, say a user installs the package `apache-netbeans-9`, t

[2019-04-24 20:38] adriens commented on #572
Looks like, yes.

[2019-04-25 05:34] ComFreek commented on #572
@chtof Do you plan to cast your vote on [pauby's question](https://github.com/chocolatey-community/chocolatey-package-requests/issues/572#issuecomment-486161797)? Then, we'd be complete :smile:

[2019-04-25 06:12] chtof commented on #572
If sometimes plugins can be broken during update, it should append also when an user update manually netbeans.
Separate packages, what happens and what will happen if user install 2 separate packages? Or maybe give clear instructions in description?
Do we have already an example of separate packages on Chocolatey to know what kind of side effects we can have?
@ComFreek : so, I am not sure what is

[2019-04-25 06:22] ComFreek commented on #572
That's a very good point! @adriens Do Apache Netbeans 9 and 10 install to different directories? (Same question with 9 and 11 as well as 10 and 11.)

[2019-04-25 07:16] pauby commented on #572
@AdmiringWorm That is a good point. Never thought about doing it that way around.

[2019-04-25 07:17] bhaible commented on #141
The current release is libffcall 2.1.

New in 2.1:

* Added support for the following platforms: (Previously, a build on these platforms failed.)
  - arm: Linux with PIE-enabled gcc.
  - x86_64: Solaris 11.3.
  - OpenBSD 6.1.
  - HardenedBSD 10 and 11.

* Fixed a bug regarding passing of pointers on the following platforms:
  - x86_64: Linux with x32 ABI: CC="gcc -mx32".

* Fixed a crash in trampo

[2019-04-25 07:20] bhaible commented on #141
No, I only provide the source code, no Windows binaries.

The build instructions are contained in the file `INSTALL.windows`.

[2019-04-25 07:48] pauby commented on #141
Unless somebody is willing to build those binaries and then push them then this cannot be a package. There is no automatic mechanism inside a package to build and install at runtime.

Hopefully somebody can pick this up and do that but I've added the Blocked Upstream label in the meantime.

[2019-04-25 08:37] mkevenaar commented on #446
Shockwave is EOL: https://helpx.adobe.com/shockwave/shockwave-end-of-life-faq.html
Because of that, I am going to close this issue

[2019-04-25 08:54] pauby commented on #446
@mkevenaar I think we should keep this open. Appreciate it's not updated but the last version pushed is not the most recent (according to this). I might actually just pick this up just so it's _done_ so to speak.

The download URL is https://filehippo.com/download_shockwave/ and the current package is using FileHippo.

[2019-04-25 08:55] mkevenaar commented on #446
@pauby both options is fine by me.

[2019-04-25 08:59] pauby commented on #446
Requested to be added to the package. I'll update here so we can get this closed asap.

[2019-04-25 09:14] adriens commented on #572
@ComFreek, @pauby  : the target dir on which NB will be installed relies on the choco package name itself, see for `Netbeans 11` :

![2019-04-25 20_12_23-lib](https://user-images.githubusercontent.com/5235127/56724442-bae78080-6796-11e9-9c8c-809497fcbacb.png)

[2019-04-25 09:46] ComFreek commented on #572
Looks good! However, I've just read on https://netbeans.apache.org/download/nb110/nb110.html that

So when they publish an installer, we should probably make the packages also use that one. Then it's not clear if different versions are still installed into different directories.

Wow, this is all so complicated 🤷‍♂️  I think a single package is better in this case -- contrary to my previous opinio

[2019-04-25 10:11] pauby commented on #446
I've just pushed a new (final) version.

[2019-04-25 11:18] chtof commented on #572
Maybe a ticket should be opened to try to have answers?
Could we install several major versions? How upgrade from netbeans to
apache-netbeans (specificities?)? Is it recommended to upgrade to another
major version excepted to have new features/is it "dangerous" due to the
compatility of plugins? How many time previous version will be yet
supported? ...

Le jeu. 25 avr. 2019 à 11:46, ComFreek <noti

[2019-04-25 18:45] chtof commented on #250
Status: **In progress**

- Request sent to be added as maintainer of luminance/luminance.install/luminance.portable
- Updated packages ready to be pushed:
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/luminance
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/luminance.install
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/lumi

[2019-04-25 18:46] chtof commented on #245
Status: **Review**

[2019-04-25 18:48] chtof commented on #228
Status; **Review**
https://www.chocolatey.org/packages/GravitDesigner/3.5.14

[2019-04-25 20:26] chtof commented on #250
Status: **Review**

- https://www.chocolatey.org/packages/luminance/2.5.1.20190425
- https://www.chocolatey.org/packages/luminance.install/2.5.1
- https://www.chocolatey.org/packages/luminance.portable/2.5.1

[2019-04-25 20:30] adriens commented on #572
@ComFreek  : maybe could we moderate `Netbeans 11` then deprecated it when ASF'ons is released ? 🤔

[2019-04-26 02:17] chtof commented on #252
Already up to date with the latest version 4.0.1

Maybe a portable version can be added for the portable version : https://github.com/torakiki/pdfsam/releases/download/v4.0.1/pdfsam-4.0.1-windows.zip

So, RFM to RFP for the portable version?

[2019-04-26 05:42] ComFreek commented on #572
I agree. I mean, possible users are waiting for a package to arrive! While @chtof's comments are all good things to consider, we would considerably delay packaging, wouldn't we?

[2019-04-26 06:56] pauby commented on #252
@chtof if it's something you need then yeah, raise an issue. Because there is no template in this issue (it was raised before we added those) then I'd rather close this and re-open a new one to capture all the information.

[2019-04-26 06:56] #252 closed

[2019-04-26 06:57] pauby commented on #252
And good catch @chtof !

[2019-04-27 13:10] chtof commented on #593
Status: **Review**
https://chocolatey.org/packages/virtualdub2

[2019-04-27 13:26] chtof commented on #592
https://natron.fr unavailable today (connection timeout). To check later if it is temporary or not.

[2019-04-27 14:09] chtof commented on #591
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/wings3d

[2019-04-27 14:40] chtof commented on #590
Status: **Review**
https://chocolatey.org/packages/magicsplat-tcl-tk-installer

[2019-04-27 15:25] chtof commented on #589
Status: **Review**
https://chocolatey.org/packages/smtube

[2019-04-28 10:31] b16r05 commented on #446
I just installed this on two PCs. First one, showed a dialog box that wanted input. I clicked "next" and the installation went through fine. The second one, everything went perfectly.

I did this over independent existing installations (non-chocolatey). Not sure what happens?
Also, not sure sometimes why two installations show with | FALSE flag?

[2019-04-28 10:51] chtof commented on #587
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated packages ready to be pushed:
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/ccenhancer
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/ccenhancer.install
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/

[2019-04-28 13:26] chtof commented on #487
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be pushed:
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/octave
  - **https://github.com/chtof/chocolatey-packages/tree/master/automatic/octave.install** -> For his second one, I have an issue to published:

Chocolatey v0.10.14-be

[2019-04-28 18:19] chtof commented on #558
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/die

[2019-04-28 23:03] pauby commented on #446
@b16r05 I'm not sure what has happened. I'm not sure what you mean with the |FALSE flag.

If it's an issue, can you raise it at https://github.com/pauby/chocopackages

[2019-04-28 23:03] #446 closed

[2019-04-29 19:45] adriens commented on #572
So guys, what are we doin' please ? 🙏

[2019-04-30 06:35] ComFreek commented on #572
I still share the same opinion from my [second to last comment](https://github.com/chocolatey-community/chocolatey-package-requests/issues/572#issuecomment-486604091): Release one package with different versions and inform users of pinning in package description.

[2019-04-30 08:01] mkevenaar commented on #99
I have pushed a new beta package to the repository. This package is a pre-release and will be approved once all the tests are done.

[2019-04-30 09:11] mkevenaar commented on #99
https://chocolatey.org/packages/opera-beta/60.0.3255.60-beta Package is available.

[2019-04-30 09:11] #99 closed

[2019-05-01 09:31] chtof commented on #587
Status: **Review**
- https://chocolatey.org/packages/ccenhancer
- https://chocolatey.org/packages/ccenhancer.install
- https://chocolatey.org/packages/ccenhancer.portable

[2019-05-01 09:33] chtof commented on #591
Status: **Review**
https://chocolatey.org/packages/wings3d

[2019-05-01 09:57] chtof commented on #558
Status: **Review**
https://chocolatey.org/packages/die

[2019-05-01 10:32] chtof commented on #550
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/mp3skyperecorder

[2019-05-01 11:15] chtof commented on #551
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/roomarranger

[2019-05-01 12:40] chtof commented on #553
Status: **Review**
https://chocolatey.org/packages/scicoslab

[2019-05-01 13:58] chtof commented on #554
Status: **Review**
https://chocolatey.org/packages/openmodelica

[2019-05-01 15:25] chtof commented on #560
It seems the only way to install recent versions is to use pip (See https://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy).
There is no longer Windows package since version 1.10.4 on SourceForge.

[2019-05-01 17:42] pauby commented on #560
I _think_ we already have packages that use pip. @AdmiringWorm does this ring any bells?

[2019-05-01 17:46] AdmiringWorm commented on #560
Yes, it indeed rings a bell.
The [mkdocs](https://chocolatey.org/packages/mkdocs) is one such package that makes use of pip.

[2019-05-01 17:47] pauby commented on #560
If we have a precedent set then no reason this can't still be a package!

[2019-05-01 18:03] chtof commented on #550
Status: **Review**
https://chocolatey.org/packages/mp3skyperecorder/4.50.1

[2019-05-01 18:55] bdukes opened #594 "RFM - LastPass"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/lastpass
Package source URL: https://github.com/bdukes/Chocolatey-Packages/tree/master/automatic/lastpass

I currently maintain the LastPass package, but they've recently

[2019-05-01 19:34] chtof commented on #563
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/station

[2019-05-01 20:05] mkevenaar commented on #594
@bdukes could you add me as a maintainer? Username @mkevenaar

[2019-05-01 20:23] bdukes commented on #594
done

[2019-05-02 07:28] SpaceAgeHero opened #595 "RFP - Ardour"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [/] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://ardour.org/
Direct download URL for the software / installer : https://community.

[2019-05-02 14:30] FranklinYu opened #596 "RFP - asn1-editor"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.sysadmins.lv/projects/asn1editor/default.aspx
Direct download URL for the soft

[2019-05-02 15:01] FranklinYu opened #597 "RFP - ssl-verifier"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.sysadmins.lv/projects/sslverifier/default.aspx
Direct download URL for the sof

[2019-05-02 18:24] pauby commented on #595
If there is no official version available l available to download for free, do you have a vision of how it would be packaged?

[2019-05-02 20:42] chtof commented on #127
Status: closed

[2019-05-02 20:43] chtof commented on #126
Status: closed

[2019-05-02 20:44] chtof commented on #156
Status: closed

[2019-05-02 20:45] chtof commented on #178
Status: closed

[2019-05-02 21:07] #184 closed

[2019-05-02 21:22] #156 closed

[2019-05-02 21:51] #178 closed

[2019-05-02 21:52] #126 closed

[2019-05-02 21:53] #127 closed

[2019-05-03 07:42] SpaceAgeHero commented on #595
The source code is available. I was hoping it could be built and hosted "somewhere".

[2019-05-03 10:41] mkevenaar commented on #594
Currently the LastPass installer won't even start inside Windows Server 2012 R2. I'm trying to figure out why

![image](https://user-images.githubusercontent.com/834643/57132714-bfb4c180-6da0-11e9-868e-b01fa61b3cb3.png)

[2019-05-03 10:46] AdmiringWorm commented on #594
@mkevenaar could be that one of the services failed to start. Check if the LDAP service for LastPass have started

[2019-05-04 03:45] amitkeret opened #598 "RFP - RaiDrive"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.raidrive.com/
Direct download URL for the software / installer :
* From proje

[2019-05-04 08:38] chtof commented on #551
Status: **Review**
https://chocolatey.org/packages/roomarranger

[2019-05-04 12:06] chtof commented on #598
Status: **Review**
https://chocolatey.org/packages/raidrive

[2019-05-04 13:20] chtof commented on #597
Status: **Review**
https://chocolatey.org/packages/sslverifier

[2019-05-04 14:33] chtof commented on #596
Status: **Review**
https://chocolatey.org/packages/asn1editor

[2019-05-04 14:55] chtof commented on #487
Status: **Review**
- https://chocolatey.org/packages/Octave/5.1.0
- https://chocolatey.org/packages/Octave.install/5.1.0

[2019-05-04 18:06] chtof commented on #580
Status: **Review**
https://chocolatey.org/packages/win-caffeinate

[2019-05-05 10:56] chtof commented on #563
Status: **Review**
https://chocolatey.org/packages/station

[2019-05-05 17:20] chtof commented on #588
Status: **In progress**
- Waiting to receive (or not) an answer of the current maintainer as this package already exists (https://chocolatey.org/packages/cuda) and hasn't been updated since 2013.
- Updated package ready to be pushed: https://github.com/chtof/chocolatey-packages/tree/master/automatic/cuda

[2019-05-05 18:06] chtof commented on #577
Status: **Review**
https://chocolatey.org/packages/moneydance

[2019-05-05 19:06] chtof commented on #487
Well, I have a strange issue with octave.install.

- The installation works properly manually with the graphical installer.
- In silent mode, the installation hangs at the end of installation (see below) and it never finish (but Octave is installed as I can launch Octave). Same issue when using a chocolatey-test-environment (Vagrant/VirtualBox).
- So, I have scripted the installation with the grap

[2019-05-05 19:58] chtof commented on #576
Status: **Review**
https://chocolatey.org/packages/graphingcalculator

[2019-05-05 19:59] chtof commented on #575
Status: **Review**
https://chocolatey.org/packages/graphingcalculator

[2019-05-05 20:06] chtof commented on #575
Status: **In progress**
- Updated package ready: https://github.com/chtof/chocolatey-packages/tree/master/automatic/graphingcalculator (but probably to rename to geogebra6, see below).

Due to a mistake with another RFP, I have pusblished GeoGebra Graphing Calculator with the name of "graphingcalculator". Maybe we should reject this last one and I should contact maintainer of geogebra6 to see if h

[2019-05-06 04:00] jtcmedia commented on #343
A package for Npcap is a no-go. A silent installation is only offered by their OEM licenses. I wrote an email to the authors who responded that they do not want a Chocolatey package for Npcap.

[2019-05-06 05:54] SpaceAgeHero opened #599 "RFP - CorsixTH"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/CorsixTH/CorsixTH
Direct download URL for the software / installer : h

[2019-05-06 07:07] pauby commented on #343
Could it be automated with AutoHotkey?

[2019-05-06 13:40] TheCakeIsNaOH commented on #575
That was not worded ideally @chtof, sorry about that.

I should say that it is the next major version of GeoGebra, not that it is v7. However, they probably should have called it version 7, but instead, they keep the version 6 naming.

[2019-05-06 14:44] jtcmedia commented on #343
Yes, it could, but then you're circumventing a feature that they sell with their OEM paid licenses. This is why I wrote the software authors who have specifically requested that a Chocolatey package **not** be made with a silent installation.

[2019-05-06 18:37] chtof commented on #576
Status: **Review**
https://chocolatey.org/packages/geogebra-geometry

[2019-05-06 18:50] TheCakeIsNaOH commented on #576
Thank you.

[2019-05-06 19:33] chtof commented on #599
Status: **In progress**
- corsixth.install is under review : https://chocolatey.org/packages/corsixth.install
- corsixth.portable and corsixth (meta/virtual package) coming soon.

[2019-05-08 07:41] chtof commented on #251
Status: **Published**

- https://chocolatey.org/packages/hugin

- https://chocolatey.org/packages/hugin.install

Can be closed.

[2019-05-08 07:52] #251 closed

[2019-05-08 09:18] gep13 commented on #487
@chtof I got to exactly the same point when I tried to package up this application.  It was the topic of a live streaming session that I did here:

https://www.youtube.com/watch?v=aecDukZETUE

On how to help with package maintenance.  My suggestion would be to reach out to the creators of the application/installer, to see if they are aware of anything.

[2019-05-08 10:10] chtof commented on #551
Status: **Published**

- https://chocolatey.org/packages/roomarranger

Can be closed.

[2019-05-08 10:37] chtof commented on #576
Status: **Published**

- https://chocolatey.org/packages/geogebra-geometry

Can be closed.

[2019-05-08 10:44] chtof commented on #550
Status: **Published**

- https://chocolatey.org/packages/mp3skyperecorder/4.51

Can be closed.

[2019-05-08 15:04] chtof commented on #487
_If you need help using Octave, you have many options, from reading the Octave manual, asking for help on the mailing lists, chatting online with other Octave users, or paying for commercial support._
So, I have sent a message to the mailing-list: https://lists.gnu.org/archive/html/help-octave/2019-05/msg00037.html

[2019-05-08 15:59] chtof commented on #553
Status: **Published**

- https://chocolatey.org/packages/scicoslab

Can be closed.

[2019-05-08 16:05] #553 closed

[2019-05-08 18:39] chtof commented on #505
Status: **Published**

- https://chocolatey.org/packages/launchyqt

Can be closed.

[2019-05-08 19:35] wickles opened #600 "RFP - Voicemeeter"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.vb-audio.com/Voicemeeter/index.htm ([banana](https://www.vb-audio.com/Voiceme

[2019-05-08 19:44] #505 closed

[2019-05-09 07:15] gep13 commented on #487
@chtof It will be interesting to see if an answer is received there.  If I could ask that you keep me posted, I would appreciate it.

[2019-05-11 13:12] chtof commented on #558
Status: **Published**

- https://chocolatey.org/packages/die/2.03
- PR raised on the dgtm repository

Can be closed.

[2019-05-11 13:12] chtof commented on #220
Status: **Published**

- https://chocolatey.org/packages/umbrello
- https://chocolatey.org/packages/umbrello.install
- https://chocolatey.org/packages/umbrello.portable

Can be closed.

[2019-05-11 13:13] chtof commented on #250
Status: **Published**

- https://www.chocolatey.org/packages/luminance/2.5.1.20190425
- https://www.chocolatey.org/packages/luminance.install/2.5.1
- https://www.chocolatey.org/packages/luminance.portable/2.5.1

Can be closed.

[2019-05-11 13:14] chtof commented on #228
Status: **Published**

- https://www.chocolatey.org/packages/GravitDesigner/3.5.14
- https://www.chocolatey.org/packages/gravitdesigner.install/3.5.14
- https://www.chocolatey.org/packages/gravitdesigner.portable/3.5.14

Can be closed.

[2019-05-11 13:16] chtof commented on #575
Status: **Published**

https://chocolatey.org/packages/geogebra6/6.0.535.0

Can be closed.

[2019-05-11 13:17] chtof commented on #554
Status: **Published**

- https://chocolatey.org/packages/openmodelica

Can be closed.

[2019-05-11 13:18] chtof commented on #563
Status: **Published**

- https://chocolatey.org/packages/station

Can be closed.

[2019-05-11 13:19] chtof commented on #580
Status: **Published**

- https://chocolatey.org/packages/win-caffeinate

Can be closed.

[2019-05-11 13:19] chtof commented on #589
Status: **Published**

- https://chocolatey.org/packages/smtube

Can be closed.

[2019-05-11 13:20] chtof commented on #593
Status: **Published**

- https://chocolatey.org/packages/virtualdub2

Can be closed.

[2019-05-11 13:20] chtof commented on #596
Status: **Published**

- https://chocolatey.org/packages/asn1editor

Can be closed.

[2019-05-11 13:21] chtof commented on #597
Status: **Published**

- https://chocolatey.org/packages/sslverifier

Can be closed.

[2019-05-11 13:22] chtof commented on #516
Status: **Published**

- https://chocolatey.org/packages/dupeguru/4.0.3

Can be closed.

[2019-05-11 13:23] chtof commented on #399
Status: **Published**

- https://chocolatey.org/packages/multipar
- https://chocolatey.org/packages/multipar.install
- https://chocolatey.org/packages/multipar.portable

Can be closed.

[2019-05-11 13:24] chtof commented on #245
Status: **Published**

- https://www.chocolatey.org/packages/uncrustify/0.68.1

Can be closed.

[2019-05-11 13:26] chtof commented on #202
Status: **Published**

- https://chocolatey.org/packages/skympc

Can be closed.

[2019-05-11 13:32] #202 closed

[2019-05-11 13:32] #245 closed

[2019-05-11 13:33] #399 closed

[2019-05-11 13:33] #516 closed

[2019-05-11 13:33] #597 closed

[2019-05-11 13:33] #596 closed

[2019-05-11 13:34] #593 closed

[2019-05-11 13:34] #589 closed

[2019-05-11 13:34] #580 closed

[2019-05-11 13:35] #563 closed

[2019-05-11 13:35] #554 closed

[2019-05-11 13:35] #575 closed

[2019-05-11 13:36] #228 closed

[2019-05-11 13:36] #250 closed

[2019-05-11 13:37] #220 closed

[2019-05-11 13:38] #558 closed

[2019-05-11 17:21] chtof commented on #487
@gep13 https://lists.gnu.org/archive/html/help-octave/2019-05/msg00057.html
I have not yet answered. My thoughs:
- Problem is this issue doesn't occurs outside chocolatey (because octave-5.1.0-w64-installer.exe /S is run immediately as background process).
- So, maybe we should inspect files in https://hg.octave.org/mxe-octave/file/tip/installer-files (launch each of them in command-line)? I have

[2019-05-11 17:59] AdmiringWorm commented on #487
@chtof actually, it is reproducable outside of chocolatey.
Just tested the following in powershell
[code]

been running for 10-15 minutes now, and hasn't let go yet.

[2019-05-11 20:51] chtof commented on #487
@gep13 Ok, but for octave developers, "it will be probably not a normal way
to install octave". Either Chocolatey should be able to install a such
package or octave should have an installer compatible with a package
manager as Chocolatey? That is the question I think.
Also, I laughed a lot when I have seen the Youtube video. You was very
unlucky to have choosen a problematic package for your demo

[2019-05-12 10:02] gep13 commented on #487
@chtof I actually knew ahead of time that this package was causing issues. I was hoping in the back of my mind that it would be “fixed” in the new release and it would “just” work, but I was also concerned that it wouldn’t.

Since this is reproducible outside of Chocolatey, I think we have something to go back to the Octave developers with. Although, as they point out, maybe best to simply stick w

[2019-05-12 11:55] chtof commented on #600
Status: **Review**
https://chocolatey.org/packages/voicemeeter

[2019-05-12 12:47] chtof commented on #573
Status: **Review**
https://chocolatey.org/packages/automouseclick

[2019-05-12 14:29] chtof commented on #560
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/numpy

[2019-05-13 11:30] mkevenaar commented on #594
@bdukes I got it working again. Could you please remove your AU script?

[2019-05-13 11:30] #594 closed

[2019-05-13 11:32] mkevenaar commented on #35
@mikecole The current release of this package is now in a Rejected state. Do you have an update or do you want me to put this on available again?

[2019-05-13 11:33] mkevenaar commented on #63
A newer version then mentioned above (9.0.19) is published!

[2019-05-13 11:33] #63 closed

[2019-05-13 13:19] bdukes commented on #594
It's been removed, thanks @mkevenaar!

[2019-05-13 14:30] mikecole commented on #35
Yes please. Sorry, I got busy. I may pick it up again at some point in the future.

[2019-05-13 21:33] 3zmana commented on #261
Packages available :)

[2019-05-14 11:12] chtof commented on #35
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/little-system-cleaner

[2019-05-14 11:44] chtof commented on #35
Status: **Review**
https://chocolatey.org/packages/little-system-cleaner/0.3

[2019-05-14 11:45] chtof commented on #537
Status: **Review**
https://chocolatey.org/packages/ngspice

[2019-05-14 12:48] chtof commented on #538
Status: **Review**
https://chocolatey.org/packages/jack

[2019-05-14 15:03] chtof commented on #542
Status: **Review**
https://chocolatey.org/packages/libre-hardware-monitor

[2019-05-14 15:32] chtof commented on #545
Status: **Review**
https://chocolatey.org/packages/lean

[2019-05-14 17:18] chtof commented on #536
Status: **Review**
https://chocolatey.org/packages/myopenlab

[2019-05-14 18:01] chtof commented on #535
Status: **Review**
https://chocolatey.org/packages/radiant

[2019-05-14 18:57] chtof commented on #534
@JonasDralle Hi Jonas, the link you have provided doesn't include either windows executable neither windows installer. Could you confirm and eventually, tell us if a spacemacs windows installer exists?
Thanks in advance.

[2019-05-14 19:04] wickles commented on #600
You're right, there's not a portable version. My mistake. I'm not sure what you mean by your second point?

[2019-05-14 19:08] wickles commented on #600
Updated for clarity. The download links I put are for potato version, like I said this should be the default version.

[2019-05-14 20:19] JonasDralle commented on #534
There is no windows installer. Instead [Emacs](https://chocolatey.org/packages/Emacs) would need to be installed and the config downloaded into a `emacs.d` folder

[2019-05-14 20:45] chtof commented on #534
Thank you for this information @JonasDralle . I understood it's like a plugin for emacs.

Status: **Review**
https://chocolatey.org/packages/spacemacs

[2019-05-14 22:05] chtof commented on #533
Status: **Review**
https://chocolatey.org/packages/klayout

[2019-05-15 13:35] chtof commented on #539
@bencefr I have looked your package. Could you tell me how you determine if an executable should be shimmed or not (for example cc1.exe is not shimmed, why and how do you determine them)?
Thanks in advance!

[2019-05-15 21:24] chtof commented on #541
I haven't find option to launch the installer in silent mode (https://software.gopro.com/PC/GoPro_Quik-WinInstaller-2.7.0.945.exe).
So, I have tried with AutoHotkey: Win Spy doesn't identify window controls like buttons (only the window title is identified) so I have tried to click on button using coordinates: it doesn't work.
If someone want to have a look (an AutoHotkey Guru ;-) ), the package i

[2019-05-15 22:00] chtof commented on #532
Status: **Review**
https://chocolatey.org/packages/gtools

[2019-05-16 01:51] mikecole commented on #312
@pauby please move this back to available. I may pick it up again someday, but just don't have the time right now. Thanks!

[2019-05-16 05:02] luzpaz opened #601 "RFP - milton"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/serge-rgb/milton

Direct download URL for the software / installer : h

[2019-05-16 05:50] bencefr commented on #539
@pauby , I don't know what it means to shim an exe file. I simply copied the existing package and updated the contents.

[2019-05-16 08:40] pauby commented on #539
@bencefr I think that last comment was intended for @chtof

Shimming is a process of making an executable available on the %path% without changing the %path% itself. So the executable can sit inside the package tools folder and still be available to run directly from the command line.

I think @chtof was asking which executables should be available on the commands line directly.

[2019-05-16 08:59] bencefr commented on #539
Sorry @pauby , I misaddressed my previous comment.
@chtof , I am a Unix dev and I expect availability of all tools without major inconvenience of all the awkwardness of Windows environment. I am also not the user of these packages, therefore I have no stong opinions what should or should not be available in the path, so I trust the original package.
However light-heartedly speaking, if I install s

[2019-05-16 10:13] chtof commented on #601
Status: **Review**
- https://chocolatey.org/packages/milton
- https://chocolatey.org/packages/milton.install
- https://chocolatey.org/packages/milton.portable

[2019-05-16 10:47] chtof commented on #600
Status: **Published**

- https://chocolatey.org/packages/voicemeeter
- https://chocolatey.org/packages/voicemeeter.install
- https://chocolatey.org/packages/voicemeeter.portable

Can be closed.

[2019-05-16 11:37] #600 closed

[2019-05-16 12:56] chtof commented on #529
Status: **Review**
https://chocolatey.org/packages/solvespace

[2019-05-16 13:13] chtof commented on #522
Status: **Review**
https://chocolatey.org/packages/office-to-pdf

[2019-05-16 14:03] chtof commented on #521
Status: **Review**
https://chocolatey.org/packages/lossless-audio-checker

[2019-05-16 22:19] chtof commented on #591
Status: **Published**
https://chocolatey.org/packages/wings3d

Can be closed.

[2019-05-16 22:20] chtof commented on #577
Status: **Published**
https://chocolatey.org/packages/moneydance

Can be closed.

[2019-05-17 00:05] #577 closed

[2019-05-17 00:06] #591 closed

[2019-05-20 18:33] chtof commented on #535
Status: **Published**
https://chocolatey.org/packages/radiant

Can be closed.

[2019-05-20 18:35] chtof commented on #532
Status: **Published**
https://chocolatey.org/packages/gtools

Can be closed.

[2019-05-20 18:47] chtof commented on #537
Status: **Published**
https://chocolatey.org/packages/ngspice

Can be closed.

[2019-05-20 18:55] #537 closed

[2019-05-20 18:55] #532 closed

[2019-05-20 18:56] #535 closed

[2019-05-20 18:59] chtof commented on #545
Status: **Published**
https://chocolatey.org/packages/

Can be closed.

[2019-05-20 19:04] #545 closed

[2019-05-20 19:07] chtof commented on #536
Status: **Published**
https://chocolatey.org/packages/myopenlab

Can be closed.

[2019-05-20 19:17] #536 closed

[2019-05-20 20:25] chtof commented on #538
Status: **Published**
https://chocolatey.org/packages/jack

Can be closed.

[2019-05-20 20:30] qqgg231 opened #602 "RFP - Playlist Creator"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.oddgravity.de/app-opc.php
Direct download URL for the software / installer :

[2019-05-20 21:03] #538 closed

[2019-05-20 22:19] chtof commented on #590
Status: **Published**
https://chocolatey.org/packages/magicsplat-tcl-tk

Can be closed.

[2019-05-21 05:24] #590 closed

[2019-05-21 09:59] chtof commented on #560
Status: **Published**
https://chocolatey.org/packages/numpy

Can be closed.

[2019-05-21 10:18] #560 closed

[2019-05-21 11:16] chtof commented on #35
Status: **Published**
https://chocolatey.org/packages/little-system-cleaner/0.3

Can be closed.

[2019-05-21 11:20] #35 closed

[2019-05-21 19:12] pauby opened #603 "RFM - Moonlight-QT"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-05-21 19:30] wickles opened #604 "RFP - Tusk"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://klaussinani.github.io/tusk/
Direct download URL for the software / installer : [l

[2019-05-22 00:24] amitkeret opened #605 "RFP - pdf2djvu"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : [Project](http://jwilk.net/software/pdf2djvu) | [GitHub](https://github.com/jwilk/pdf2djv

[2019-05-22 12:13] chtof commented on #599
Status: **Published**
- https://chocolatey.org/packages/corsixth
- https://chocolatey.org/packages/corsixth.install
- https://chocolatey.org/packages/corsixth.portable

Can be closed.

[2019-05-22 12:29] chtof commented on #522
Status: **Published**
https://chocolatey.org/packages/office-to-pdf

Can be closed.

[2019-05-22 12:30] chtof commented on #534
Status: **Published**
https://chocolatey.org/packages/spacemacs

Can be closed.

[2019-05-22 13:22] #534 closed

[2019-05-22 13:23] #522 closed

[2019-05-22 13:33] #599 closed

[2019-05-22 19:57] jpluimers commented on #383
For Oracle SQL Developer 19.1.0, I made a commit in a fresh branch at https://github.com/jpluimers/chocolatey-packages/commit/796b1e4978631daea42d7490fe5602346c482929

Two questions:

- What's the easiest way to test if I did not goof up that commit?
- Should I make a pull request to https://github.com/wcarson/chocolatey-packages in order to get it at https://chocolatey.org/packages or is there an

[2019-05-22 20:20] chtof commented on #542
Status: **Published**
https://chocolatey.org/packages/libre-hardware-monitor

Can be closed.

[2019-05-22 20:23] chtof commented on #601
Status: **Published**

- https://chocolatey.org/packages/milton
- https://chocolatey.org/packages/milton.install
- https://chocolatey.org/packages/milton.portable

Can be closed.

[2019-05-22 20:28] #601 closed

[2019-05-22 20:29] #542 closed

[2019-05-22 20:40] chtof commented on #533
Status: **Published**
https://chocolatey.org/packages/klayout

Can be closed.

[2019-05-22 20:43] chtof commented on #598
Status: **Published**
https://chocolatey.org/packages/raidrive

Can be closed.

[2019-05-22 20:52] chtof commented on #573
Status: **Published**
https://chocolatey.org/packages/automouseclick

Can be closed.

[2019-05-22 23:00] #573 closed

[2019-05-22 23:00] #598 closed

[2019-05-22 23:00] #533 closed

[2019-05-23 08:50] pauby commented on #383
Run the package through the [Chocolatey Test Environment](https://github.com/chocolatey/chocolatey-test-environment). However I noted your comments about it - the Vagrant environment is simply a bare, unpatched (for a reason) Windows Server 2012 R2 server. So if you can spin one of those up you can test your package on there. Ordinarily we woudl recommend not testing on your machine as you may not

[2019-05-23 21:53] chtof commented on #529
Status: **Published**
https://chocolatey.org/packages/solvespace

Can be closed.

[2019-05-24 07:10] #529 closed

[2019-05-24 10:51] chtof commented on #588
Status: **Published**
https://chocolatey.org/packages/cuda

Can be closed.

[2019-05-24 11:10] #588 closed

[2019-05-24 11:43] chtof commented on #605
Status: **Review**
https://chocolatey.org/packages/pdf2djvu

[2019-05-24 12:18] chtof commented on #604
Status: **Review**
https://chocolatey.org/packages/tusk

[2019-05-24 13:41] chtof commented on #603
Status: **In progress**
- **It seems moonlight-qt is a duplicate of moonlight. Probably better to keep moonlight-qt (as there are several ways to install it) so I will redirect moonlight to moonlight-qt **. Also I will renamed the updated packages (see below).
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated packages ready to be published:
  -

[2019-05-24 14:28] chtof commented on #602
Status: **Review**
- https://chocolatey.org/packages/playlist-creator
- https://chocolatey.org/packages/playlist-creator.install
- https://chocolatey.org/packages/playlist-creator.portable

[2019-05-24 16:54] #602 closed

[2019-05-24 17:00] AdmiringWorm commented on #603
@chtof considering that the package moonlight never had an approved version (and was created after moonlight-qt), I would say that the moonlight is a duplicate of moonlight-qt instead.
Since a version of moonlight was never approved, it officially do not exist on the community repository.

As such, I would say to ignore that package, and instead just focus on moonlight-qt (and change the install/p

[2019-05-24 22:52] chtof commented on #513
Status: **Review**
https://chocolatey.org/packages/amidst

[2019-05-25 10:43] chtof commented on #512
Status: **Review**
https://chocolatey.org/packages/autoclicker

[2019-05-25 11:21] chtof commented on #507
Status: **In progress**
- Issue to published the package: https://github.com/chocolatey/chocolatey.org/issues/613#issuecomment-495909781
- Package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/open-dvd-producer

[2019-05-25 22:00] chtof commented on #513
Status: **Published**
https://chocolatey.org/packages/amidst

Can be closed.

[2019-05-25 22:02] #513 closed

[2019-05-25 22:16] chtof commented on #514
Status: **Review**
https://chocolatey.org/packages/jekyll

[2019-05-25 22:40] chtof commented on #605
Status: **Published**
https://chocolatey.org/packages/pdf2djvu

Can be closed.

[2019-05-26 05:27] #605 closed

[2019-05-26 10:54] chtof commented on #521
Status: **Published**
https://chocolatey.org/packages/lossless-audio-checker

Can be closed.

[2019-05-26 10:55] chtof commented on #512
Status: **Published**
https://chocolatey.org/packages/autoclicker

Can be closed.

[2019-05-26 11:14] #512 closed

[2019-05-26 11:14] #521 closed

[2019-05-26 12:43] chtof commented on #508
Status: **Review**
- https://chocolatey.org/packages/k-meleon
- https://chocolatey.org/packages/k-meleon.install
- https://chocolatey.org/packages/k-meleon.portable

[2019-05-27 07:57] pauby opened #606 "RFM - sqlitebrowser"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-05-27 08:18] mkevenaar commented on #606
I am willing to try this one.

[2019-05-27 08:51] pauby commented on #606
You are too quick @mkevenaar

[2019-05-27 18:06] chtof commented on #604
Status: **Review**
https://chocolatey.org/packages/tusk

Already approved:
- https://chocolatey.org/packages/tusk.install
- https://chocolatey.org/packages/tusk.portable

[2019-05-27 18:13] chtof commented on #603
Status: **Review**
- https://chocolatey.org/packages/moonlight-qt
- https://chocolatey.org/packages/moonlight-qt.portable
- Deprecation of https://chocolatey.org/packages/moonlight for moonlight-qt
- Deprecation of https://chocolatey.org/packages/moonlight.install for moonlight-qt.install
- Deprecation of https://chocolatey.org/packages/moonlight.portable for moonlight-qt.portable

Already approve

[2019-05-27 18:24] chtof commented on #507
Status: **Review**
https://chocolatey.org/packages/open-dvd-producer

_*Successfully published 2 days later and slao from another computer_

[2019-05-27 18:48] chtof commented on #322
For information, maybe the website has been redesigned, https://www.bandlab.com/download requires login/sign up but the desktop assistant can be now directly downloaded from https://www.bandlab.com/products/desktop/assistant

[2019-05-28 01:12] amitkeret commented on #598
? re-open

[code]

Here's the [log file](https://pastebin.com/TpVFXBfU).
Looks like the executable is named `RaiDrive_1.6.4.518.exe`, but the installation script is sending a generic `RaiDrive.exe` parameter?

PS: I already have `dotnetfx` and `vcredist2013` installed.

[2019-05-28 08:09] pauby commented on #598
@amitkeret This issue was for the package being created which it has and published so the issue was closed. If there are issues with the package can you use the 'Contact Maintainers' link ont he package page to let them know?

[2019-05-28 11:53] chtof commented on #592
Seems to be the new URL: https://natrongithub.github.io

[2019-05-28 13:01] mkevenaar commented on #606
https://chocolatey.org/packages/sqlitebrowser/3.11.2
https://chocolatey.org/packages/sqlitebrowser.install/3.11.2
https://chocolatey.org/packages/sqlitebrowser.portable/3.11.2

[2019-05-28 18:51] chtof commented on #598
@Amitkeret A fix was already submitted yesterday (and waiting currently for approval). See https://chocolatey.org/packages/raidrive/1.6.4.51800

[2019-05-29 20:46] Ashkaan opened #607 "MBOX Viewer"
https://sourceforge.net/projects/mbox-viewer/

[2019-05-29 22:11] pauby commented on #607
@ashkaan can you go back and create the issue with the template required?

[2019-05-29 23:05] Ashkaan opened #608 "RFP - MBOX Viewer"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/mbox-viewer/
Direct download URL for the software / inst

[2019-05-30 08:02] pauby commented on #607
A new issue #608 was opened. Closing.

[2019-05-30 08:02] #607 closed

[2019-05-30 09:38] chtof commented on #592
Status: **Review**
- https://chocolatey.org/packages/natron
- https://chocolatey.org/packages/natron.install
- https://chocolatey.org/packages/natron.portable

[2019-05-30 09:49] chtof commented on #508
Status: **Published**
- https://chocolatey.org/packages/k-meleon
- https://chocolatey.org/packages/k-meleon.install
- https://chocolatey.org/packages/k-meleon.portable

Can be closed.

[2019-05-30 11:39] chtof commented on #487
@gep13 After some searchs, it's due to a call to `%MSYSDIR%\bin\bash.exe --login -c echo` in the post-install.bat script.
I have yet to check if there are side-effects to exclude this line or maybe to add the use of a command like startcmd to launch this "bash.exe" call.

@AdmiringWorm

[2019-05-30 11:55] #508 closed

[2019-05-30 12:30] chtof commented on #487
But unfortunately, I can't change a file during an installation... So I have just updated the case to know if this call is really needed or if it can be launched in another way (with startcmd for example).

@gep13 @AdmiringWorm

[2019-05-30 13:25] chtof commented on #487
Status: **Review**
- https://chocolatey.org/packages/octave
- https://chocolatey.org/packages/octave.install

Following my previous post, using autohotkey, a file can be changed as soon as an installation starts :-) ! So it works !
See https://github.com/chtof/chocolatey-packages/blob/master/automatic/octave.install/tools/chocolateyinstall.ahk
@gep13 @AdmiringWorm

Already approved:
- https://choc

[2019-05-30 14:34] chtof commented on #608
Status: **Review**
- https://chocolatey.org/packages/mboxviewer

[2019-05-30 16:20] gep13 commented on #487
@chtof great work!

Did you get an official reply on whether this can be worked around like this? Any side effects?

Also, why the need for the verification.txt in the package?

[2019-05-30 16:30] chtof commented on #487
@gep13

I have only sent a new post about it on the Octave mailing-list today: https://lists.gnu.org/archive/html/help-octave/2019-05/msg00221.html
In fact, I have just seen I am not maintainer for octave.portable so it's not my fault ;-)

[2019-05-30 17:03] chtof commented on #503
Status: **Review**
- https://chocolatey.org/packages/luxcorerender
- https://chocolatey.org/packages/luxcorerender-opencl
- https://chocolatey.org/packages/luxcorerender-opencl-sdk
- https://chocolatey.org/packages/luxcorerender-sdk

[2019-05-31 08:56] pauby commented on #487
@chtof It might be worth reaching out to the maintainer of the octave.portable package to see if they would be happy for you to take over that package too. Makes sense to own all of them. That assumes you want to of course 😄

octave and octave.install are approved.

[2019-05-31 15:58] TakataSanshiro commented on #447
I’d like to become a new maintainer of one.
My Chocolatey name is 'Sanshiro'.

I couldn't send a message via Contact Site Admins.

[2019-06-01 11:10] chtof commented on #472
Status: **Review**
https://chocolatey.org/packages/unar

[2019-06-01 11:35] chtof commented on #407
Status: **Review**
https://chocolatey.org/packages/wlan-optimizer

[2019-06-01 12:04] chtof commented on #327
Status: **Review**
https://chocolatey.org/packages/torrent-file-editor

[2019-06-01 12:07] chtof commented on #307
Status: **Published**
- https://chocolatey.org/packages/phonerlite
- https://chocolatey.org/packages/phonerlite.install
- https://chocolatey.org/packages/phonerlite.portable

Can be closed.

[2019-06-01 12:08] #307 closed

[2019-06-01 12:51] chtof commented on #309
Status: **Review**
- https://chocolatey.org/packages/infinitex
- https://chocolatey.org/packages/infinitex.install
- https://chocolatey.org/packages/infinitex.portable

[2019-06-01 15:46] chtof commented on #407
Status: **Published**
- https://chocolatey.org/packages/wlan-optimizer

Can be closed.

[2019-06-01 15:47] #407 closed

[2019-06-01 16:08] FranklinYu commented on #327
@chtof Thank you! Two nitpick:

1. The icon broke.
2. The “license” links to SourceForge page.

[2019-06-01 17:04] chtof commented on #327
@FranklinYu
1. icon uploaded.
2. There is no license to download and I have only find license information on the SourceForge page ("GNU General Public License version 3.0 (GPLv3)").

[2019-06-01 17:33] FranklinYu commented on #327
There is license on GitHub.

[2019-06-01 17:51] chtof commented on #327
@FranklinYu Corrected, thank you!

[2019-06-03 11:05] Foadsf opened #609 "RFP - KLatexFormula"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://klatexformula.sourceforge.io/
Direct download URL for the software / installer :

[2019-06-03 11:24] mkevenaar commented on #606
Package is published.

[2019-06-03 11:24] #606 closed

[2019-06-03 17:53] chtof commented on #604
Status: **Published**
- https://chocolatey.org/packages/tusk
- https://chocolatey.org/packages/tusk.install
- https://chocolatey.org/packages/tusk.portable

Can be closed.

[2019-06-03 18:12] chtof commented on #507
Status: **Published**
https://chocolatey.org/packages/open-dvd-producer

Can be closed.

[2019-06-03 18:30] #507 closed

[2019-06-04 10:26] amitkeret opened #610 "RFP - spacedesk"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://spacedesk.net/
Direct download URL for the software / installer : [64-bit](https:

[2019-06-04 20:08] FranklinYu opened #611 "RFM - internet-download-manager"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-06-04 20:22] AdmiringWorm commented on #611
@FranklinYu how and when did you try contacting the existing maintainer of the package?

[2019-06-04 20:24] FranklinYu commented on #611
I think I have used "Contact Maintainer". If there is no record in the internal server I can do it again.

[2019-06-04 20:31] AdmiringWorm commented on #611
There probably are a record (I do not have access to the servers as I am not employed by chocolatey).

What about the second part of the question? When did you try contacting the maintainer?

[2019-06-04 21:27] FranklinYu commented on #611
A week ago; I typically leave Disqus comment as public timestamp.

[2019-06-05 11:41] mkevenaar commented on #486
According to the latest download page, wxMaxima is included in Maxima.

https://sourceforge.net/projects/maxima/files/Maxima-Windows/5.43.0-Windows/

[2019-06-05 11:49] Foadsf commented on #486
@mkevenaar so basically `choco install maxima` will install WxMaxim as well? That I didn't know. 🤔

[2019-06-05 11:50] mkevenaar commented on #486
@Foadsf based on the release notes of the application, yes. Could you verify?

[2019-06-05 12:11] Foadsf commented on #486
@mkevenaar I'm not able to install due to :

[code]

[2019-06-05 12:22] Foadsf commented on #486
@mkevenaar I confirm that it installs WxMaxima and seem to work properly. Maybe it could be a good idea to add WxMaxima to search query/info of the package, as well as the Chocolatey homepage. Thanks for your kind support.

[2019-06-05 13:54] AdmiringWorm commented on #486
@Foadsf I have added the `wxmaxima` tag to the `maxima` package, however it won't show on the package page until the next version is released.

[2019-06-05 15:18] mkevenaar commented on #486
@Foadsf Do you agree that we can close this issue?

[2019-06-05 15:31] Foadsf commented on #486
@mkevenaar @AdmiringWorm thank you guys. this issue AFIK was due to my lack of knowledge of the new updates of the Maxima project and it can be closed.

[2019-06-05 15:34] #486 closed

[2019-06-05 20:41] SZanlongo opened #613 "RFP - Auto-Dark-Mode"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/Armin2208/Windows-Auto-Night-Mode
Direct download URL for the software

[2019-06-05 21:13] Foadsf opened #614 "RFM - Scilab"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/SciLab
Package source URL: https://www.scilab.org/downlo

[2019-06-05 21:41] basictheprogram commented on #614
Given what I see in the git repo, it looks like this package is maintained by the DEPRECATED - Using Chocolatey Package Updater with 3rd party tool Ketarin method.

I find both chocopkgup and AU convoluted. I just maintain my packages by hand.

Does a RFM allow for me to pull the package out of https://github.com/dtgm/chocolatey-packages.git project and just maintain the SciLab package by hand?

[2019-06-05 21:45] pauby commented on #614
@basictheprogram there is no requirement to have your packages automatically updated using AU or anything else so yes you can update by hand.

[2019-06-05 22:27] Foadsf opened #615 "RFP - JModelica"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://jmodelica.org/
Direct download URL for the software / installer : https://jmodeli

[2019-06-05 22:55] basictheprogram commented on #614
We use this package internally so I will adopt and maintain the package. I'll upload a package after I know I've become the maintainer.

[2019-06-05 23:56] AdmiringWorm commented on #614
@basictheprogram to become the new maintainer, you will need to use the `Contact Site Admins` link on the package page.

Just request there to be added as a maintainer, and link to this isue.

[2019-06-06 20:12] chtof commented on #592
Status: **Published**
- https://chocolatey.org/packages/natron
- https://chocolatey.org/packages/natron.install
- https://chocolatey.org/packages/natron.portable

Can be closed.

[2019-06-07 04:05] #592 closed

[2019-06-07 09:37] dimqua opened #616 "RFP - Extraterm"
## Package Details
**Software project URL**: http://extraterm.org/

**Direct download URL for the software/installer**: https://github.com/sedwards2009/extraterm/releases

**Software summary / short description**:
Extraterm is an open source project to build a terminal emulator and expand it with new features to support modern workflows and do more than just act like a glorified teletype.
## Check

[2019-06-08 05:16] necrose99 opened #617 "RFP DISM++"
## Package Details

Software project URL : https://www.chuyu.me/en/index.html
Direct download URL for the software / installer : http://cdn.chuyu.me/Dism++10.1.1000.100_2d2bf466baca088c4b35248f5a7316f4e00cac0b.zip
Software summary / short description:Dism++ can be considered as a GUI frontend of DISM, but it is based on low-level Component Based Servicing (CBS) interface instead of DISM API or DIS

[2019-06-08 06:02] pauby commented on #617
@necrose99 can you go back and fix your request to use the template provided.

[2019-06-08 10:09] chtof commented on #514
Status: **Published**
- https://chocolatey.org/packages/jekyll

Can be closed.

[2019-06-08 10:20] chtof commented on #608
Status: **Published**
https://chocolatey.org/packages/mboxviewer

Can be closed.

[2019-06-08 10:36] chtof commented on #472
Status: **Published**
https://chocolatey.org/packages/unar

Can be closed.

[2019-06-08 10:49] chtof commented on #327
Status: **Published**
https://chocolatey.org/packages/torrent-file-editor

Can be closed.

[2019-06-08 10:53] #472 closed

[2019-06-08 10:58] #327 closed

[2019-06-08 10:59] #608 closed

[2019-06-08 13:51] chtof commented on #603
Status: **Published**
- https://chocolatey.org/packages/moonlight-qt
- https://chocolatey.org/packages/moonlight-qt.install
- https://chocolatey.org/packages/moonlight-qt.portable
- Deprecation of https://chocolatey.org/packages/moonlight for moonlight-qt
- Deprecation of https://chocolatey.org/packages/moonlight.install for moonlight-qt.install
- Deprecation of https://chocolatey.org/packages/moo

[2019-06-08 14:36] #603 closed

[2019-06-08 14:41] chtof commented on #610
Status: **In progress**
- https://chocolatey.org/packages/spacedesk-server (In review)
- https://chocolatey.org/packages/spacedesk-client (coming soon)

[2019-06-08 15:49] chtof commented on #610
Status: **Review**
- https://chocolatey.org/packages/spacedesk-server
- https://chocolatey.org/packages/spacedesk-client

[2019-06-08 16:42] chtof commented on #616
Status: **Review**
- https://chocolatey.org/packages/extraterm
- https://chocolatey.org/packages/extraterm.install
- https://chocolatey.org/packages/extraterm.portable

[2019-06-08 19:27] chtof commented on #615
Status: **Review**
https://chocolatey.org/packages/jmodelica

[2019-06-09 09:48] chtof commented on #613
Status: **Review**
https://chocolatey.org/packages/auto-dark-mode

[2019-06-09 10:56] chtof commented on #609
Status: **In progress**
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/klatexformula
- klatexformula needs Latex so will depend on miktex. But currently there is an error to install miktex/miktex.install (binary file can't be installed and a newer version is available). I have just sent a message to maintainer to know if he has planned t

[2019-06-09 11:20] Foadsf commented on #609
I know I'm not supposed to say this here, but dear @chtof you are an awesome human being. you have my ❤ and respect. please share your Patreon account here.

[2019-06-09 11:51] chtof commented on #347
Status: **Review**
- https://chocolatey.org/packages/speedcrunch
- https://chocolatey.org/packages/speedcrunch.install
- https://chocolatey.org/packages/speedcrunch.portable

[2019-06-09 17:51] chtof commented on #609
Hi Foad, thank you for your comment! I am glad you have appreciate some of my packages.
My Patreon account is available [here](https://www.patreon.com/chtof).

[2019-06-11 05:19] joachimschmidt557 commented on #309
The packages are approved. Thank you!

[2019-06-11 05:19] #309 closed

[2019-06-11 18:08] vintagesucks opened #618 "RFP - GB Studio"
![GB Studio][screenshot]

# GB Studio
A free and easy to use retro adventure game creator for your favourite handheld video game system

## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / log

[2019-06-11 19:27] mkevenaar commented on #226
I am working on this one right now.

[2019-06-12 19:52] Foadsf opened #619 "RFP - TeXmacs"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.texmacs.org/tmweb/home/welcome.en.html
Direct download URL for the software /

[2019-06-13 18:30] chtof commented on #615
Status: **Published**
https://chocolatey.org/packages/jmodelica

Can be closed.

[2019-06-13 18:59] #615 closed

[2019-06-14 17:24] naoliv opened #620 "RFP - SciDAVis"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: http://scidavis.sourceforge.net/
Direct download URL for the software / installer: https:/

[2019-06-14 17:26] pauby commented on #617
No update. Closing. If it's fixed at a later time we can reopen.

[2019-06-14 17:26] #617 closed

[2019-06-14 17:26] #514 closed

[2019-06-14 17:27] #487 closed

[2019-06-14 17:28] pauby commented on #272
@FranklinYu Can you provide an update on this?

[2019-06-14 17:29] #347 closed

[2019-06-14 17:29] #613 closed

[2019-06-14 17:31] #616 closed

[2019-06-14 17:32] #503 closed

[2019-06-14 18:19] FranklinYu commented on #272
@pauby Thanks for the heads-up. Since chocolatey/choco#1686 has been released, I will try it this weekend to see whether it works for this package.

[2019-06-15 09:39] chtof commented on #368
Status: **Review**
https://chocolatey.org/packages/universal-adb-drivers

[2019-06-15 10:46] chtof commented on #614
So this one can also be closed?

[2019-06-15 10:51] AdmiringWorm commented on #614
looks that way.

@basictheprogram in the future, please leave a comment on the issue when:

1. You start working on a package
2. You push the package to chocolatey.org
3. When the package have been approved by the moderators.

This way we can label the issue correctly according the what the status of the request is.

[2019-06-15 10:51] #614 closed

[2019-06-15 11:04] chtof commented on #619
Status: **Review**
https://chocolatey.org/packages/texmacs

[2019-06-15 11:11] AdmiringWorm commented on #546
I am curious, couldn't this package actually be deprecated?
Considering that `gitflow-avh` is included in git for windows itself?

/cc @pauby

[2019-06-15 11:26] chtof commented on #620
Status: **Review**
https://chocolatey.org/packages/scidavis

[2019-06-15 11:34] chtof commented on #609
Status: **Review**
https://chocolatey.org/packages/klatexformula

[2019-06-15 12:34] chtof commented on #618
Status: **Review**
- https://chocolatey.org/packages/gbstudio
- https://chocolatey.org/packages/gbstudio.install
- https://chocolatey.org/packages/gbstudio.portable

[2019-06-15 14:51] pauby commented on #546
@AdmiringWorm [That makes sense](https://github.com/petervanderdoes/gitflow-avh/wiki/Installing-on-Windows#git-for-windows). You could argue if you have an earlier version of Git then you could use it but Git 2.6.4 is fairly old now.

@steviecoaster What are your thoughts?

[2019-06-15 16:12] chtof commented on #611
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/internet-download-manager

[2019-06-15 17:50] basictheprogram commented on #614
I assumed the commit at https://github.com/basictheprogram/chocolatey-packages-dtgm/commit/c1940aafdb679f3eb57f55ee5cb9423cf9f466ba did all of those things.

[2019-06-15 18:23] chtof commented on #371
Status: **Review**
- https://chocolatey.org/packages/ocenaudio
- https://chocolatey.org/packages/ocenaudio.install
- https://chocolatey.org/packages/ocenaudio.portable