[2018-01-22 14:41] daLuiz commented on #199
Someone on the [PyCharm gallery page](https://chocolatey.org/packages/PyCharm-community) offered to work on this as well, he offered his [source code for phpstorm](https://github.com/mastacheata/chocolatey-phpstorm), which is by the same manufacturer and should be quite similar. Maybe you can work together and / or use his code?

[2018-01-22 15:39] AdmiringWorm commented on #199
@klondikemarlen I've not had any issue like that with using the test environment (and using the latest virtualbox and vagrant as well).

The error message mentions a log file, could be useful to look through that to see if it contains any more information.

[2018-01-22 15:48] pauby commented on #199
The test environment is little more than a standard 2012 R2 server with Chocolatey installed.

If you're having a problems and need it sorted quickly just build a server yourself but it woudl be better, long term, to fix the Vagrant issues as it's a bit neater.

[2018-01-22 18:51] klondikemarlen commented on #199
I updated everything to the latest version (despite what it said in https://github.com/chocolatey/chocolatey-test-environment#setup) and now `vagrant up` works (except that my memory is apparently too low).
@daLuiz I did see the phpstom guy's message and took a look at his code. It is too advanced for me at this stage. I am just trying to get the most basic version working. Then hopefully the know

[2018-01-22 18:59] AdmiringWorm commented on #199
@klondikemarlen when you're ready to become the maintainer of this package, please send out a message on the package page (using the Contact Site Admins) that you want to be added (make sure to also mention this issue)..
Then we can get you added as the official maintainer of the package.

[2018-01-22 19:00] AdmiringWorm commented on #9
@joachimschmidt557 please don't forget to push a meta package `quodlibet` as well.

[2018-01-22 19:01] #71 closed

[2018-01-22 19:02] klondikemarlen commented on #199
Roger that.

[2018-01-22 19:07] AdmiringWorm commented on #245
@stephengroat I had a look at the package source he is hosting on the github repo, and if he pushes the package as it currently stands in the repo it won't be approved at the community repo.

Three of the files that will be included in the package is just the template values, and shouldn't be included in those cases. as well as the uninstall script needs to be cleaned up (removing unneeded comment

[2018-01-22 20:28] klondikemarlen commented on #199
I am trying to interpret the requirement for this package. They are explained here https://www.jetbrains.com/help/pycharm/2016.1/requirements-for-pycharm.html.

However ... I don't really understand. Is JRE include? So this package has no dependencies? Or is it included but useless for development so I need it as a dependency?

Also I finally got the testing environment up and running. My /package

[2018-01-22 20:29] klondikemarlen commented on #199
I am have a working basic install ... now I am testing:
- [ ] uninstall
- [ ] upgrade
- [ ] downgrade

[2018-01-22 20:36] klondikemarlen commented on #199
About the dependencies I believe python should probably be include (Python 2.4 or higher, Jython, PyPy or IronPython) see
![image](https://user-images.githubusercontent.com/23045206/35243210-e74a70a4-ff70-11e7-9f7e-3b0bd888dd9a.png)

[2018-01-23 00:04] klondikemarlen commented on #199
I couldn't get it to work so I reread though everything and made a new version (https://github.com/klondikemarlen/Chocolatey-Packages/commit/0ec93914488215e993e94f076d788e9b25747b90). Hopefully it will work better this time.

I still have a couple questions though:
Does anyone know how to specify:
`<dependency id="python2 or python3? but only one is required?" version="2.4" />`

And
Do I need a "*

[2018-01-23 01:53] klondikemarlen commented on #199
Ok. I have a working version at https://github.com/klondikemarlen/Chocolatey-Packages/tree/master/PyCharm-community. I still don't know whether I should require python as a dependency or not. But it updates, install and uninstalls. At some point I would like to work with @mastacheata to get the whole thing automated. I will contact the Site Admins and try and become a maintainer :)

[2018-01-23 03:41] dragon788 commented on #199
It's not a great practice to do a just in time package install so you may want to ask the user of they range python 2 or python 3 and show them the command for that version and let them know they need to install it after pycharm is installed. I suggest this route because last I knew running an install command to pull in another package directly in your own installer is frowned upon as it breaks th

[2018-01-23 04:29] mastacheata commented on #199
I wouldn't bundle python with the IDE.
The IDE doesn't require Python at all to function properly and there's at least 4 different python for windows with a sizeable community (Official Python2 and Python3 as well as ActivePython 2 and 3)
When coding Python I usually do that for fully remote projects, for example.

@klondikemarlen I'd suggest forking our mastacheata/chocolatey-phpstorm repo and bu

[2018-01-23 09:32] pauby opened #254 "RFM - Keepass"
https://chocolatey.org/packages/keepass

I will pick this one up.

[2018-01-23 09:52] pauby opened #255 "RFM - DB Browser for SQLite"
https://chocolatey.org/packages/sqlitebrowser

[2018-01-23 09:54] pauby opened #256 "RFM - GSmartControl"
https://chocolatey.org/packages/gsmartcontrol

[2018-01-23 17:34] klondikemarlen commented on #199
@dragon788 and @mastacheata Thanks for the advice on not bundling Python with the install. I will take it under advisement.

Would I still include python as a package dependency? (or is that the same thing as bundling python?)

@dragon788 Do you have an example of some code that asks the user if they want to install an optional dependency? I really know nothing about PowerShell scripting. I am con

[2018-01-23 18:18] mastacheata commented on #199
The files have lots of comments in them.
Start by adjusting the nuspec template and fill in your details.
In the powershell file adjust the full name references to the phpstorm with pycharm and change the code parameter in the data URL to PCC  (PyCharm Community) or PCP (PyCharm Professional) or even both (just use PCP,PCC as the code)

[2018-01-23 20:27] mastacheata commented on #199
I've just taken over the RubyMine maintainership.
That means you can easily check the differences between PHPStorm and RubyMine in my repo and use that to get a better understanding of what needs to be changed to adjust it to PyCharm.

This took me 2 hours because I first started off in a separate repository (mastacheata/chocolatey-rubymine) but then moved both projects into one repo and instead c

[2018-01-23 21:18] klondikemarlen commented on #199
Nice thinking on the file compare. I will take a look at that for sure! I just checked out the branch and got set up so far ... but I'll see if I can get it running tomorrow.

[2018-01-23 21:32] mastacheata commented on #199
I've rewritten the history so you can really see what the changes are.
This diff should include everything that needs to be changed for changing my auto-package repo into any of the other jetbrains tools.

https://github.com/mastacheata/chocolatey-packages/compare/phpstorm...rubymine

[2018-01-24 00:46] klondikemarlen commented on #199
@mastacheata Cool :) I love branch compare.

[2018-01-24 02:59] klondikemarlen commented on #199
@mastacheata What does your helper.ps1 file do? https://github.com/mastacheata/chocolatey-packages/blob/phpstorm/tools/helper.ps1#L13. Does my (or well the choco new base code) do the same thing? https://github.com/klondikemarlen/chocolatey-packages-automatic/blob/pycharm_community/tools/chocolateyUninstall_template.ps1

I am pretty much done. I just need an AppVeyor account and a tonne of testing

[2018-01-24 03:02] mastacheata commented on #199
The helper.ps1 file only contains a function to look up the path / filename to the uninstaller in the registry.
Looks like that is what `Get-UninstallRegistryKey` does in your Uninstall_template.ps1

[2018-01-24 03:39] dragon788 commented on #199
Try linking this as your AppVeyor.yml file, https://gist.github.com/16d6e54ef086f1be22f91702f552f157

[2018-01-24 05:55] klondikemarlen commented on #199
Ok. It is maybe working. I just need to wait until my cron thing runs. And I guess I should test everything ...

[2018-01-24 05:56] mastacheata commented on #199
It is maybe working, That's the attitude 🎉

[2018-01-24 05:58] mastacheata commented on #199
@dragon788 I like that it tries to install the package, but it's lacking the deployment part, so you'd have to manually run the script at home and send it off to chocolatey again.

[2018-01-24 06:05] klondikemarlen commented on #199
There is also this one ... though it has a lot of extra features. https://github.com/majkinetor/au-packages-template/blob/master/.appveyor.yml

[2018-01-24 06:18] mastacheata commented on #199
Yeah, this majkinetor/au-packages-template is great if you want to know and use all features of chocolatey, appveyor and powershell at once.,
Though, you better have an extra life to learn what he does there.
When I created the phpstorm thing I had no clue about PowerShell at all and this template was just too much at once to understand. I doubt I understand half of it even now.

[2018-01-24 06:21] klondikemarlen commented on #199
+1 for needing extra life. This has been my introduction into PowerShell. Kind of exciting really. :)

[2018-01-24 13:44] dragon788 commented on #199
@mastacheata it does require a manual deploy but you can do that from AppVeyor. Outside of AU I don't trust auto publishing to Chocolatey because if it does publish and get approved and then you find a bug you have to increment the version and go through the entire moderation process again. So what I do is use my appveyor.yml to build it and then add in the remote NuGet step to allow me to manuall

[2018-01-24 16:24] mastacheata commented on #199
Yeah, but if you just check the results in AppVeyor and don't run it on your own machine, what's the point in delaying the deploy? AppVeyor already knows if everything went good or not.
Either you verify the results on your own computer again, in which case you could skip the whole automated build stuff and just get a notification about new versions being available or you blindly trust AppVeyor, i

[2018-01-25 17:58] klondikemarlen commented on #199
@srtlg See this thread about the automator. https://github.com/klondikemarlen/chocolatey-packages-automatic

[2018-01-26 07:46] pauby commented on #143
@p3lim What is the status of this package? I noticed you are not listed as a maintainer - are you still interested in picking this package up?

[2018-01-26 09:11] churchthecat opened #257 "RFP Spywareblaster"
Why SpywareBlaster? Spyware, adware, browser hijackers, and dialers are some of the most annoying and pervasive threats on the Internet today. By simply browsing a web page, you could find your computer to be the brand-new host of one of these unwanted fiends!

The most important step you can take is to secure your system.
And SpywareBlaster is the most powerful protection program available.

Mult

[2018-01-27 01:18] flcdrg opened #258 "RFP - Font installer library Chocolatey extension"
We're getting quite a few font packages that end up embedding similar/identical code for installing/uninstalling fonts. https://chocolatey.org/packages/SourceHanSansJP is just one example.

It would be beneficial if we had a `chocolatey-fonts.extension` package (or similar name) that included that library code so other font packages could just reuse it.

[2018-01-28 22:02] dimqua commented on #213
Just pushed the package: https://chocolatey.org/packages/merkaartor

[2018-01-29 20:06] pauby commented on #247
Published.

[2018-01-29 20:06] #247 closed

[2018-01-31 19:41] TakataSanshiro commented on #231
@mcandre Actually, I took over the cwrsync package from narnaud who the previous maintainer.
At that time, one was deprecated and has no files.
I've never used one, but I can update the package.
Are you using this? Does cwrsync depend
rsync (≥ 5.5.0.20160518)?

[2018-01-31 19:49] TakataSanshiro commented on #197
The package has been approved.

[2018-02-01 15:21] pauby opened #259 "RFM - Ninja"
https://chocolatey.org/packages/ninja

[2018-02-03 18:11] p3lim commented on #143
I think the files I had for this were lost last time I cleaned up my PC, and I still haven't gotten any confirmation on my original request to maintain it.

[2018-02-04 19:24] #209 closed

[2018-02-04 19:27] dimqua commented on #196
https://chocolatey.org/packages/windowsspyblocker

[2018-02-04 19:27] #196 closed

[2018-02-05 11:10] pauby commented on #254
All three keepass packages have now been upadated and approved.

[2018-02-05 11:10] #254 closed

[2018-02-05 11:11] pauby commented on #222
Updated and approved.

[2018-02-05 11:11] #222 closed

[2018-02-05 15:37] AdmiringWorm commented on #209
@dimqua thank, I completely forgot about closing this issue when it was approved

[2018-02-05 15:53] AdmiringWorm commented on #245
@stephengroat I've also tried to get in contact with the maintainer of this package, with no luck.
If you still want to become the maintainer of the package, just respond here as well as sending of a message to the site admins on the package page.

If you don't want to become the maintainer anymore, I could take over it myself (just let me know if you don't).

[2018-02-05 16:02] stephengroat commented on #245
i'll maintain. might take me a few tries to get the exact syntax right, but i think there are enough examples floating around i can figure it out.

thanks!

[2018-02-05 16:05] AdmiringWorm commented on #245
👍

In that case, please send of a message to the site admins so we can get you added as a maintainer.

https://chocolatey.org/packages/uncrustify/0.64-alpha1/ContactAdmins

[2018-02-05 16:09] #197 closed

[2018-02-07 09:49] churchthecat commented on #236
thank you

[2018-02-08 10:47] kkzinger commented on #234
Package was approved.

[2018-02-08 16:43] #234 closed

[2018-02-09 12:12] RiseT opened #260 "RFP: VueScan"
https://www.hamrick.com/

- Of the few that exist, this is to my knowledge by far the best manufacturer-independent scanner software for Windows (comparable alternatives are much more expensive). Available for Mac OS and Linux as well.

- As it brings its own drivers, it's also very useful for older scanners for which manufacturers don't provide updated drivers anymore (e. g. support for the lates

[2018-02-12 12:32] dimqua commented on #85
Abandoned.

[2018-02-12 12:32] #85 closed

[2018-02-12 12:36] dimqua commented on #84
Abandoned project.

[2018-02-12 12:36] #84 closed

[2018-02-12 12:40] #193 closed

[2018-02-13 16:40] #213 closed

[2018-02-14 02:30] TuRDMaN opened #261 "RFP - NetSetMan (Network Settings Manager)"
http://www.netsetman.com/en/freeware#download

A handy utility to easily switch between different network configurations.

There is a free version, as well as a paid version (package for the free version would be the main priority).

From the download page:

[2018-02-18 04:52] dimqua commented on #86
Package is pushed: https://chocolatey.org/packages/okular/17.12.0

[2018-02-19 19:58] pauby opened #262 "RFM - RethinkDB"
https://chocolatey.org/packages/rethinkdb/2.3.2

[2018-02-19 20:05] pauby opened #263 "RFM - x64dbg"
https://chocolatey.org/packages/x64dbg.portable

[2018-02-27 11:05] pauby commented on #143
I will pick this one up. My intention is to just to add the dependency for discord.install as they both provide the same package but the .install is more up to date.

[2018-02-27 11:15] pauby opened #264 "RFM - Windows Azure PowerShell"
https://chocolatey.org/packages/WindowsAzurePowershell

I will pick this one up.

[2018-02-28 16:26] dimqua opened #265 "RFP - VNote"
A Vim-inspired note-taking application, especially for Markdown.

Downloads: https://github.com/tamlok/vnote/releases

[2018-02-28 19:56] SZanlongo commented on #243
Works great, thanks!

[2018-02-28 19:59] SZanlongo opened #266 "RFP - NAS Navigator"
Buffalo NAS Navigator:
http://www.buffalotech.com/support/

[2018-02-28 20:05] SZanlongo opened #267 "RFP - Microsoft Office Remote"
Remote control for Office:
https://www.microsoft.com/en-us/download/details.aspx?id=41149

[2018-02-28 22:27] #243 closed

[2018-02-28 22:27] #236 closed

[2018-03-01 12:28] kwill commented on #9
I think this is done? https://chocolatey.org/packages?q=quodlibet

[2018-03-01 12:36] #9 closed

[2018-03-01 12:36] #86 closed

[2018-03-05 16:02] MagicGreenDragon opened #268 "RFP - qpdf"
Someone can add the support for this package?
https://github.com/qpdf/qpdf

Thanks in advance!

[2018-03-05 16:03] MagicGreenDragon opened #269 "RFP - jadx"
Someone can add the support for this package?
https://github.com/skylot/jadx

Thanks in advance!

[2018-03-07 22:13] pauby commented on #264
These two packages - [1](https://chocolatey.org/packages/WindowsAzurePowershell_0871) and [2](https://chocolatey.org/packages/AzurePowerShell) - are similar and should be [deprecated](https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package)

[2018-03-09 08:34] AdmiringWorm commented on #264
The AzurePowershell package should probably be the one that isn't deprecated, and rather deprecate WindowsAzurePowershell instead.

[2018-03-09 12:40] Alegrowin opened #270 "RFM saxonhe"
We currently use saxonHE 9.8.0.1 that enable the xsltv3 transforms.

I tried to contact the package admin but without answer. I am ready to take over and publish a new version of the package.

[2018-03-09 13:15] pauby commented on #264
That's what was discussed on the email in the Google group. Which reminds me to reply to that.

[2018-03-09 14:15] AdmiringWorm commented on #270
Since you wishes to take over as a new maintainer, then please send a message to the site admins (using the link on the left side when you are viewing the package details page.)

Then we can get you added as a maintainer, and get the ball rolling.

*NOTE: I'm guessing that by package admins you actually mean package maintainer.*

[2018-03-09 14:30] Alegrowin commented on #270
Exact I meaned  package maintainer. :) I sent a request through the website. Thank you!

[2018-03-09 19:26] AdmiringWorm commented on #270
Let us keep this request open until a new version have been pushed to chocolatey.

[2018-03-13 16:56] Thilas opened #271 "RFM ilspy"
[ilspy](https://chocolatey.org/packages/ilspy) has not been updated for months (this is a @dtgm's package) and despite a few requests.

I propose to maintain this as I already have some packages on my own.

[2018-03-14 14:04] pauby commented on #271
@Thilas you should make requests for packags through the 'Contact Site Admins' link on the package page. But I've added you to the package maintainers subject you to confirming the email that has been sent to you. If you keep this issue up to date with what is happening (using the Labels) that will allow us to manage it better.

[2018-03-14 14:12] Thilas commented on #271
Thanks @pauby! I'll push an updated package asap.

[2018-03-14 14:46] gep13 commented on #271
@Thilas I believe I am correct in saying that @majkinetor is already looking to maintain this package as an automatic package:

https://github.com/dtgm/chocolatey-packages/pull/378#issuecomment-372915553

Can you please make sure that there is no duplication of work?

[2018-03-14 14:47] gep13 commented on #271
@Thilas out of interest... where have you sent those requests for it to be updated?

[2018-03-14 15:36] Thilas commented on #271
@gep13, thanks for the remark. I'll sync with @majkinetor on this.

Otherwise, I didn't send requests on my own. But I saw several (old) comments on the package without answers + a pull request sent a week ago on dtgm's repo with no answer neither (at least yesterday) + the fact that dtgm doesn't seem to maintain his package anymore.

[2018-03-14 15:57] FranklinYu opened #272 "RFP - classyshark"
<http://classyshark.com/>

Not sure whether this fits Chocolatey, because ClassyShark downloads new version on start up. New version is placed in ~~the same folder~~ `$PWD`.

In addition, should this be `classyshark.portable`? Or `classy-shark` or `classy_shark`?

[2018-03-14 16:01] franklinyu opened #273 "RFP - cfr-decompiler"
<http://www.benf.org/other/cfr/>

I can do this myself when I have time, but no guarantee.

[2018-03-14 16:23] Thilas commented on #271
Ok, so I have checked with @majkinetor and finally I'll be the one taking care of this package.

[2018-03-14 18:30] mcandre opened #274 "RFP - splint"
Would love to see the traditional C security linter splint available on Chocolatey!

Homepage

http://lclint.cs.virginia.edu/

MSI's are already available:

https://github.com/maoserr/splint_win32/downloads

[2018-03-14 19:26] jnm2 opened #275 "RFP - BuddyBackup"
Since CrashPlan is discontinuing its peer-to-peer backup service, http://www.buddybackup.com/ seems to be the best alternative.

[2018-03-14 20:38] FranklinYu opened #276 "RFP - dos2unix"
Main page: <https://waterlan.home.xs4all.nl/dos2unix.html>

Source: <https://sourceforge.net/p/dos2unix/dos2unix/ci/master/tree/>

Tag: `dos2unix`, `unix2dos`, `dos2mac`, `mac2dos`, `newline`

I can do it if no one does.

[2018-03-14 20:43] mcandre opened #277 "RFP - vera++"
Could we get a package for the vera++ static analyzer for C/C++ code?

https://bitbucket.org/verateam/vera/wiki/Installation

[2018-03-14 22:05] gep13 commented on #271
@Thilas this is great news.  Let me know when you have completed that work, and I can get the files removed from this repository, so that it is clear that it is no longer being maintained here.

[2018-03-15 07:34] Thilas commented on #271
New version has been pushed. Waiting for approval.

[2018-03-15 08:31] gep13 commented on #271
@Thilas thanks for doing this!  Once the checks are complete, and the virus scan results are posted, I will get this reviewed (unless another moderator beats me to it).

[2018-03-15 09:17] gep13 commented on #271
@Thilas as you suspected, it failed automated testing:

https://chocolatey.org/packages/ilspy/3.0.1

Leave this with me.  I will exempt it from that testing, once the virus results are posted.

[2018-03-15 09:48] Thilas commented on #271
Thanks @gep13! You are faster than me ;)

FYI I did test the new package on my own chocolatey-test-environment and it works like a charm when dotnet4.6.1+ is up and running.

[2018-03-15 09:59] gep13 commented on #271
FYI I did test the new package on my own chocolatey-test-environment and it works like a charm when dotnet4.6.1+ is up and running.

Perfect.  I had no doubt that this was the case, I just want to be sure that we get the all clear from VirusTotal on the contained assemblies, and then we can get it approved/exempted.

[2018-03-15 10:40] gep13 commented on #271
@Thilas and it's approved.

https://chocolatey.org/packages/ilspy/3.0.1

Thanks again!

[2018-03-15 10:40] #271 closed

[2018-03-15 10:44] Thilas commented on #271
Thank you @gep13!

[2018-03-16 15:09] pauby opened #278 "RFM - carotdav"
https://chocolatey.org/packages/carotdav/1.9.9

[2018-03-18 06:58] joachimschmidt557 commented on #268
I'll create a package for `qpdf`

[2018-03-18 21:54] Chronoshift111 opened #279 "RFP - IObit Uninstaller"
I am requesting a package to be made.
Application website:
https://www.iobit.com/en/advanceduninstaller.php

[2018-03-18 21:55] Chronoshift111 opened #280 "RFM - IObit Advanced SystemCare"
I am requesting a package to be made.
Application website:
https://www.iobit.com/en/index.php

[2018-03-18 21:57] Chronoshift111 opened #281 "RFP - IObit Malware Fighter"
I am requesting a package to be made.
Application website:
https://www.iobit.com/en/malware-fighter.php

[2018-03-18 21:59] Chronoshift111 opened #282 "RFP - IObit Driver Booster"
I am requesting a package to be made.
Application website:
https://www.iobit.com/en/driver-booster.php

[2018-03-18 22:06] Chronoshift111 opened #283 "RFP - LibreOffice Suite"
I am requesting a package to be made.
Application website:
https://www.libreoffice.org/

[2018-03-18 22:10] Chronoshift111 opened #284 "RFP - NordVPN"
I am requesting a package to be made.
Application website:
https://nordvpn.com/

[2018-03-18 22:55] Thilas commented on #283
It already exists: https://chocolatey.org/packages/libreoffice-fresh

[2018-03-19 09:05] dimqua commented on #283
Also: https://chocolatey.org/packages/libreoffice-still

[2018-03-19 12:17] vintagesucks opened #285 "RFP - Wallcat"
Wallcat for Windows
About: https://www.wall.cat/

Releases: https://github.com/PaitoAnderson/WallcatWindows/releases

[2018-03-19 16:12] Chronoshift111 commented on #283
Dear Thomas D,

      Thank you for letting me know. I was unsure if there were any
differences between the LibreOffice Fresh and the LibreOffice Suite.

Sincerely,

Chronoshift

On 3/18/2018 6:55 PM, Thomas D?moulins [Masked] wrote:

[2018-03-19 16:19] AdmiringWorm commented on #283
@Chronoshift111 there isn't any difference.

The LibreOffice Fresh/Still is both the LibreOffice Suite itself.

The Fresh edition being the edition where all the latest features are enabled, with the Still version taking a little safer approach with mainly adding stability/bug fixes, and only updating to new features when they have been sufficiently tested by users of LibreOffice Fresh.

*NOTE: Th

[2018-03-19 16:19] #283 closed

[2018-03-19 16:21] AdmiringWorm commented on #284
👍 for this, I've actually thought of creating a package for this one myself, but never got around to do that.

Maybe I will do that soon now (*We'll see*)

[2018-03-19 16:22] AdmiringWorm commented on #282
A package for this request already exists:

https://chocolatey.org/packages/driverbooster

[2018-03-19 16:22] #282 closed

[2018-03-19 16:25] AdmiringWorm commented on #280
Package already exist:
https://chocolatey.org/packages/Afedteated

I see it is truly outdated right now, but if you could please contact the maintainer first to see if he/she is willing to update the package first before we open this to new maintainers.

[2018-03-19 16:32] AdmiringWorm commented on #273
I think cfr should be the one used in this case, as it seems that is what they use themselves on the webpage.

[2018-03-19 16:35] AdmiringWorm commented on #272
I'm unable to view the webpage to see what is available, and how they write the name on the webpage.

If only a portable edition is available, and the name is actually spelt without spaces the id should be `classyshark`, if it contains a space then `classy-shark`.

`.portable` and `.install` is only used when both an installer and portable package exist.

[2018-03-19 16:37] AdmiringWorm commented on #268
@joachimschmidt557 feel free, let us know when you have pushed one to chocolatey (would be nice to include the link to the package as well).

[2018-03-19 17:44] franklinyu commented on #272
There is some issue with GitHub Pages or the domain. Source is available in <https://github.com/google/android-classyshark>.

[2018-03-19 17:47] franklinyu commented on #273
@AdmiringWorm If it is named `cfr` for now, is it possible to rename the package (when conflict occurs in future), and all user of the package get automatically migrated? For example, after they `choco upgrade cfr` they do `choco list --local-only` I would like they see `cfr-decompiler`.

[2018-03-19 18:01] AdmiringWorm commented on #272
Correct me if I'm wrong, but from the looks of it this is software for android, not for windows.

If that is the case, a package can't be created until a windows release is available for the software.

[2018-03-19 18:03] AdmiringWorm commented on #273
@franklinyu nope, it isn't possible.

When a id have been set, it can't be changed.

The package with that id can be deprecated in favor of a new id though, however when it comes to id's it's first come first served.
So the conflict won't be noticed by the cfr package itself, only for maintainers of a similarly named package.

[2018-03-19 18:06] franklinyu commented on #272
It’s used to decompile Android package on desktop (Windows, macOS, Linux, etc.).

[2018-03-19 18:07] AdmiringWorm commented on #272
Ah, I see. I guess I misunderstood the software then, my bad.

[2018-03-19 18:22] franklinyu commented on #273
I decided to call it CFR because I can’t find any other CFR that can possibly be software.

[2018-03-19 20:15] franklinyu commented on #280
If that is updated, please also update the “Software Site”. Currently it points to direct download link of an executable, not very informative.

[2018-03-19 21:42] dimqua opened #286 "RFP - Node.js"
Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.

https://nodejs.org/

[2018-03-19 21:53] pascalberger commented on #286
Packages for Node JS already exist:

* [Node.js](https://chocolatey.org/packages/nodejs)
* [Node.js LTS](https://chocolatey.org/packages/nodejs-lts)

[2018-03-19 21:53] #286 closed

[2018-03-20 07:00] Wh1t3Rose opened #287 "RFM - Battle.net"
https://chocolatey.org/packages/battle.net

[2018-03-20 07:01] Wh1t3Rose opened #288 "RFP - Intel XTU"
https://downloadcenter.intel.com/download/24075/Intel-Extreme-Tuning-Utility-Intel-XTU-

[2018-03-20 07:03] Wh1t3Rose opened #289 "RFP - BetterDiscord"
https://betterdiscord.net
https://github.com/jiiks/betterdiscordapp

[2018-03-21 05:17] franklinyu commented on #273
<https://chocolatey.org/packages/cfr> pending automated review.

[2018-03-21 09:26] gep13 commented on #273
@franklinyu thanks for creating this package!

[2018-03-21 19:49] AdmiringWorm commented on #287
@Wh1t3Rose have you tried to contact the maintainers of this package before submitting this request?

I know one of the maintainers (@bcurran3) is quire active in the community.

[2018-03-22 06:54] bcurran3 commented on #287
I've been busy of late and this is sitting on the back shelf at the moment. Might have time next month. From what I remember it's going to need AHK and probably take hours of testing to get it right that I just don't have at the moment.

[2018-03-22 07:01] bcurran3 commented on #287
@Wh1t3Rose - if you find me a command to silently install the program, I'll give you a package in less than 24 hours.

[2018-03-22 14:33] TempMonitorPro commented on #226
I made an Ansible playbook for this a couple weeks back I can try and take a stab at it.

[2018-03-22 14:36] hartmch commented on #226
I wrote an Ansible playbook for this a couple weeks back so I can try and take a stab at it.

[2018-03-23 11:33] pauby opened #290 "RFP - youtube-dl-gui"
https://mrs0m30n3.github.io/youtube-dl-gui/

[2018-03-23 11:57] pauby commented on #264
azurepowershell package, version 5.0.0 and 5.5.0 have both been submitted. Both also require an exception which I've requested for 5.0.0 and will request for 5.5.0 when it fails.

Once both of these packages are accepted I'll then deprecate the other two.

[2018-03-23 17:55] franklinyu commented on #290
Note: both `.install` and `.portable`.

[2018-03-23 18:00] franklinyu opened #291 "RFP - typora"
https://typora.io/

Issue tracker: https://github.com/typora/typora-issues/issues

[2018-03-23 20:17] AdmiringWorm commented on #291
@franklinyu a package for this one already exist: https://chocolatey.org/packages/typora

It only contains a pre-release edition, which is why it probably didn't show in a normal search.

Please contact the maintainer of the package if it's outdated.

[2018-03-23 20:18] #291 closed

[2018-03-24 04:11] franklinyu commented on #291
I’m wondering whether the version is correct. `0.9.47-beta` seems to imply that there would be `0.9.47-beta2`, `0.9.47-rc1`, and finally `0.9.47` non-beta release. The actual situation is that `0.9.47` is a beta release, as much as `0.9.44` and `0.9.45`. Author use `0.9.47 (beta)` to indicate that, and I think "Beta" means something similar to [initial development in Semantic Versioning](https://s

[2018-03-24 05:58] joachimschmidt557 commented on #268
The [package](https://chocolatey.org/packages/qpdf/8.0.2) is submitted and awaiting review.

[2018-03-24 11:05] AdmiringWorm commented on #291
yeah, I wouldn't consider it a beta release either.

[2018-03-25 14:42] joachimschmidt557 commented on #290
I'll create a package for `youtube-dl-gui.install` and `youtube-dl-gui.portable` as well as the meta package `youtube-dl-gui`

[2018-03-26 02:07] joachimschmidt557 commented on #285
I'll create a package for wallcat

[2018-03-26 02:25] joachimschmidt557 commented on #279
Duplicate of #119

[2018-03-26 04:13] #279 closed

[2018-03-26 06:34] joachimschmidt557 commented on #285
The [package](https://chocolatey.org/packages/wallcat/1.0.4) is awaiting review.

[2018-03-26 10:08] joachimschmidt557 commented on #268
The package is approved.

[2018-03-26 10:11] gep13 commented on #268
@joachimschmidt557 thank you!

[2018-03-26 10:11] #268 closed

[2018-03-26 21:40] SZanlongo opened #292 "RFM - Revo Uninstaller"
The current package for Revo Uninstaller
https://chocolatey.org/packages/Revo.Uninstaller
throws a hash check error.

[2018-03-26 23:10] SZanlongo opened #293 "XMeters"
https://entropy6.com/xmeters/

[2018-03-27 14:38] AdmiringWorm commented on #292
@SZanlongo
Have you tried to contact the maintainer of the package using the `Contact Maintainers` link on the package page before opening this issue?

/cc @jivkok

[2018-03-28 02:44] joachimschmidt557 commented on #265
I'll create a package for VNote.

[2018-03-29 00:44] joachimschmidt557 opened #294 "RFM - GravitDesigner"
https://chocolatey.org/packages/GravitDesigner

The package is outdated. This is the homepage of Gravit Designer: https://www.designer.io/ Current version is 3.3.0, Choco version is 3.1.3

I already tried to contact the maintainers on 3/24/18, but I recieved no response.

[2018-03-29 01:04] joachimschmidt557 commented on #51
This package is already updated to the newest version and actively maintained.

[2018-03-29 01:08] joachimschmidt557 commented on #294
Just realized this is a duplicate of #228

[2018-03-29 01:09] joachimschmidt557 commented on #171
Package exists and is actively maintained:
https://chocolatey.org/packages/kubernetes-helm

[2018-03-29 02:45] joachimschmidt557 commented on #290
The packages are submitted and awaiting review.

[2018-03-29 02:45] joachimschmidt557 commented on #265
The [package](https://chocolatey.org/packages/vnote.portable/1.13) is submitted and awaiting review.

[2018-03-29 07:57] gep13 commented on #290
@joachimschmidt557 thanks for taking care of this!

[2018-03-29 07:57] #290 closed

[2018-03-29 08:04] gep13 commented on #171
@joachimschmidt557 thanks for checking this!

[2018-03-29 08:04] #171 closed

[2018-03-29 08:05] gep13 commented on #265
@joachimschmidt557 looks like this one is caught up in the backlog from when the verifier wasn't functioning correctly.  I/we will get this approved once the verifier catches up.

[2018-03-29 11:19] AdmiringWorm commented on #171
looks like it didn't when the request was created though, but nonetheless thanks for checking up on this.

[2018-03-29 11:20] #294 closed

[2018-03-29 11:22] AdmiringWorm commented on #51
@joachimschmidt557 thanks, guess we could close this issue then.

[2018-03-29 11:22] #51 closed

[2018-03-29 14:47] franklinyu commented on #269
This should be easy to pick up. However:
1. The project has a GUI application, but do not has an icon for it. I’m wondering whether to create a start-menu shortcut for the GUI.
2. The official way to use the CLI version on Windows is the batch file included. I’m not sure whether I create an EXE shim to the Batch file, or create one to the Jar file, or simply add `bin/` to `%PATH%`.

[2018-03-30 04:04] joachimschmidt557 commented on #232
[FreeFileSync](https://chocolatey.org/packages/freefilesync) seems to be updated to the newest version

[2018-03-30 04:29] joachimschmidt557 commented on #216
There is a [package](https://chocolatey.org/packages/bitwarden) for bitwarden available now. It doesn't install extensions, but rather the software itself.

[2018-03-30 12:22] gep13 commented on #232
Yeah, I saw this going through the moderation queue.  Seems like teknowledgist has got this one under control.

[2018-03-30 12:22] #232 closed

[2018-03-30 15:25] #256 closed

[2018-03-31 00:33] mcandre opened #295 "RFP - bmake"
So that BSDmakefile's can be processed in Windows environments.

[2018-03-31 15:30] AdmiringWorm commented on #295
And the url for the software?
Without it we can't mark this request as available for maintainers.

[2018-03-31 15:34] AdmiringWorm commented on #216
@DarwinJS with the package that @joachimschmidt557 mentioned, would you say that your request has been met?

Or would you request the browser extensions as well?

[2018-03-31 15:38] AdmiringWorm commented on #269
@franklinyu

1. If you're picking up this request, then that decision would be entirely up to you. Considering it's a GUI app, then it would make sense to create shortcuts though (perhaps adding the option to disable/enable the creation of those shortcuts during install).
2. If the official way is to use the batch file, they you should do exactly that. Just create a shim for the bat file using the

[2018-03-31 15:53] DarwinJS commented on #216
Yes all good thanks

[2018-03-31 15:53] #216 closed

[2018-04-01 17:09] pauby opened #296 "RFM - sharex"
https://chocolatey.org/packages/sharex

This is something i use daily so I will pick this up.

[2018-04-01 17:21] pauby opened #297 "RFM - handbrake"
https://chocolatey.org/packages/handbrake.install
https://chocolatey.org/packages/handbrake
https://chocolatey.org/packages/handbrake.portable

[2018-04-02 13:19] kaovilai opened #298 "RFP - openconnect-gui"
Gui for Windows ported openconnect
https://openconnect.github.io/openconnect-gui/

[2018-04-02 13:21] kaovilai opened #299 "RFM - ZeroTierOne"
Need a maintainer who can keep the package up to date. Thanks!
https://chocolatey.org/packages/zerotier-one

[2018-04-02 13:23] kaovilai opened #300 "RFP - eclipse-java-oxygen"
http://www.eclipse.org/downloads/packages/eclipse-ide-java-developers/oxygen3

[2018-04-02 13:24] kaovilai opened #301 "RFP - eclipse-cpp-oxygen"
http://www.eclipse.org/downloads/packages/eclipse-ide-cc-developers/oxygen3

[2018-04-02 17:59] Chronoshift111 opened #302 "RFP - Bear Notes"
I am requesting a package to be made.
http://www.bear-writer.com/

[2018-04-03 04:27] AdmiringWorm commented on #301
please also give the link to the project page of the software that you're requesting.
Otherwise we can't mark this as available for maintainers.

[2018-04-03 04:27] AdmiringWorm commented on #300
please also give the link to the project page of the software that you're requesting.
Otherwise we can't mark this as available for maintainers.

[2018-04-03 04:28] AdmiringWorm commented on #299
Have you tried to contact the maintainer first?
Before opening this request?

[2018-04-03 04:34] kaovilai commented on #301
Link updated

[2018-04-03 04:35] kaovilai commented on #300
updated

[2018-04-03 04:36] kaovilai commented on #299
I guess not but he seemed inactive and there are comments on the post from 2017 suggesting the software is outdated. Should I contact the maintainer anyway?

[2018-04-03 04:37] kaovilai commented on #276
Regarding dos2unix, I wonder if mingw's one is better

[2018-04-03 04:48] AdmiringWorm commented on #299
yes, the maintainer should always be contacted (except when it's a maintainer we know have stopped maintaining packages).

Please contact the maintainer and follow the official triage documentation: https://chocolatey.org/docs/package-triage-process#the-triage-process

If there isn't any response from the maintainer within a reasonable amount of time we can open this request up for new maintainers

[2018-04-03 05:44] kaovilai opened #303 "RFP - reflect.free.home"
Marcrium Reflect Free Home Edition
https://www.macrium.com/reflectfree
Download here
https://updates.macrium.com/reflect/v7/ReflectDLHF.exe

Not sure if naming is appropriate, reflectfree is available for business use as well given they enter business info. Meaning that a package for business edition may not be legal but home edition should be fine.

[2018-04-03 05:53] franklinyu commented on #276
Not idea. I suspect they might even be the same, or MinGW simply packaged an old version. Anyway I think it’s good to provide one more option.

[2018-04-03 05:55] kaovilai opened #304 "RFP - anyconnect-client"
Client software for AnyConnect
https://www.cisco.com/c/en/us/support/security/anyconnect-secure-mobility-client/tsd-products-support-series-home.html
Download here https://software.cisco.com/download/navigator.html?mdfid=283000185&i=rm

[2018-04-03 06:03] kaovilai opened #305 "RFM - r"
The underlying project of RStudio
https://www.r-project.org/

[2018-04-03 06:07] kaovilai opened #306 "RFP - nordvpn"
VPN client for NordVPN
https://nordvpn.com/download/

[2018-04-03 07:19] gep13 commented on #305
There is already a package pushed, however it is unlisted:

https://chocolatey.org/packages/r

If I am not mistaken, I believe that someone was working on this.

[2018-04-03 12:18] kaovilai commented on #306
Duplicate of #284

[2018-04-03 12:18] #306 closed

[2018-04-03 12:41] kaovilai commented on #305
Idk.. its up to date overhere
https://npackd.appspot.com/p/r

[2018-04-03 15:21] AdmiringWorm commented on #305
a package already exist, and is up to date.

https://chocolatey.org/packages/r.project

closing this one as I know it already exist.

[2018-04-03 15:23] kaovilai commented on #305
Should r be alias of r.project?

[2018-04-03 15:38] AdmiringWorm commented on #305
I'm thinking about it, haven't decided anything just yet though.
Could be useful to convert it to a meta package, or to convert the r.project package to a meta package instead. I'll let you know when something have been decided.

[2018-04-03 15:40] AdmiringWorm commented on #302
@gep13 there also seems to be browser extensions for that one, not sure if those would be helpful on a windows computer though, but those were the reason I put it as available for maintainers.

http://www.bear-writer.com/faq/Extensions/Browser%20extensions/

[2018-04-03 15:48] AdmiringWorm commented on #305
I'm reopening this again, as I believe we'll turn either the `r` package, or the `r.project` package to a meta package.

I'm also assigning myself as I'm already maintaining one of them.

[2018-04-03 16:57] AdmiringWorm commented on #284
I've started looking into creating a package for this one, don't know just yet if it will happen though.
But, lets cross our fingers for know 😄

[2018-04-03 18:29] gep13 commented on #302
@AdmiringWorm ah, good catch! Didn't see those! :+1:

[2018-04-03 19:56] SZanlongo commented on #292
@AdmiringWorm Yes, I've used the form for reaching out.

[2018-04-04 02:05] joachimschmidt557 commented on #285
The package is available now.

[2018-04-04 02:06] joachimschmidt557 commented on #265
The package is available now.

[2018-04-04 03:46] #265 closed

[2018-04-04 04:49] #285 closed

[2018-04-04 09:53] #305 closed

[2018-04-05 12:59] MisterT87 opened #307 "RFP - PhonerLite"
Very nice VOIP Softphone (SIP only)(Windows only) - multi language support and a lot of VOIP providers are supported, FritzBox devices also supported and have profiles for easy setup...

newest Version: 2.6.1

URL: [http://phonerlite.de/download_en.htm](http://phonerlite.de/download_en.htm)

Only the first two files are important:
PhonerLiteSetup.exe - Install version
PhonerLite.zip - Portable ver

[2018-04-06 06:44] JourneyOver opened #308 "RFM - Centbrowser"
Looking for someone to take over this package https://chocolatey.org/packages/CentBrowser as I no longer want to deal with it anymore.. Just getting too annoying having to deal with their crap tier CDN that they use..

Until someone picks this package up, it's going to sit dormant in my deprecated folder https://github.com/JourneyOver/chocolatey-packages/tree/master/deprecated/centbrowser.

[2018-04-06 17:11] AdmiringWorm commented on #245
@stephengroat just wanted to follow up on this to find out what the status of the package is, are you getting anywhere or do you perhaps need some help?

[2018-04-06 17:24] AdmiringWorm commented on #303
@kaovilai is this the package you're looking for?
https://chocolatey.org/packages/reflect-free

[2018-04-06 17:26] AdmiringWorm commented on #303
I did notice that it's outdated though, but to get it updated would first require you do try contacting the maintainer (link is on the package page)

[2018-04-06 17:34] AdmiringWorm commented on #280
@franklinyu you'll need to try contacting the maintainer for updates to a package, if you don't get any response from him/her though (usually 1 or more weeks after contact) then please post back here and we can open it up for new maintainers

[2018-04-06 17:35] AdmiringWorm commented on #231
closing this one as there haven't been any response by @mcandre

[2018-04-06 17:35] #231 closed

[2018-04-06 17:59] AdmiringWorm commented on #284
Almost have the package complete, however seems like I won't be completing it.
Someone hogged the id on chocolatey a couple of hours after I started working on the package.

[2018-04-06 18:04] AdmiringWorm commented on #229
seems like this one have started being updated again, as such I'm closing this request.

[2018-04-06 18:27] kaovilai commented on #303
I understand the intent of the maintainer keeping things going but if a choco pacakage does not install automatically anymore, behavior is different, new (sub) package name is needed to tell user that things changed.

[2018-04-06 18:28] kaovilai commented on #303
I guess issue is closed for now 👍

[2018-04-06 18:28] #303 closed

[2018-04-06 18:31] kaovilai commented on #296
Its in Windows Store too. Not sure if anyone managed to script the windows store install instead?

[2018-04-06 18:31] franklinyu commented on #280
There seems to be three versions: [Free](https://www.iobit.com/en/advancedsystemcarefree.php), [Pro](https://www.iobit.com/en/advancedsystemcarepro.php) and [Ultimate](https://www.iobit.com/en/advanced-systemcare-antivirus.php). The Pro version is as mentioned above, but why is it called Afedteated? There is also Free version called [`advancedsystemcarefree`](https://chocolatey.org/packages/advanc

[2018-04-06 19:41] AdmiringWorm commented on #303
indeed, if a package can't be automated it does defeat the purpose of community packages (not chocolatey itself though), however using autohotkey is a perfectly valid solution which quite a few packages currently employ.

Using autohotkey doesn't immediately mean that it will take over your mouse, or that your mouse will automatically jump across the screen.

BTW, you mentioned enterprise, most en

[2018-04-06 19:44] AdmiringWorm commented on #280
that is actually something you'll need to ask the maintainer of the package, I honestly have no idea.

That is definitely an option, if there is someone that is interested in maintaining it.

Again, that is something you'll need to ask the maintainer of the package, and not something I can answer.
The maintainers is the ones that decide on the naming when they push the package for the first time.

[2018-04-06 19:45] AdmiringWorm commented on #296
@kaovilai I actually tried that some time ago, never found a way I was satisfied with though. Or that worked as I expected for that matter.

[2018-04-07 12:46] zero77 commented on #165
Thanks for checking but, sadly there’s been no changes from my last post.

[2018-04-07 12:56] AdmiringWorm commented on #165
I'll open this one to be available for new maintainers then.

[2018-04-07 13:08] zero77 commented on #165
Ok thanks, although is it worth moving the packages to the main chocolatey package repository.

[2018-04-07 13:14] zero77 commented on #253
@dimqua
Why not just copy and change the current Standard Firefox package and get it to update to Firefox Beta instead, and then submit the PR.

https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/firefox

[2018-04-07 13:15] zero77 commented on #248
@mikolajzaremba03
Why not just copy and change the current Standard Firefox package and get it to update to Firefox Developer instead, and then submit the PR.

https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/firefox

[2018-04-07 14:02] AdmiringWorm commented on #165
while that could definitely be done, I personally am not interested in doing that work myself.

Won't deny a PR to add it to the core team repo though.

[2018-04-08 03:03] joachimschmidt557 opened #309 "RFP - Infinitex"
Infinitex : A LaTeX and WYSIWYG editor with academic search functionality and other helpful tools

GitHub source: https://github.com/fetacore/Infinitex

GitHub releases: https://github.com/fetacore/Infinitex/releases

[2018-04-08 04:07] joachimschmidt557 opened #310 "RFP - mockoon"
Mockoon is the easiest and quickest way to run mock APIs locally. No remote deployment, no account required.

Homepage: https://mockoon.com

[2018-04-08 07:51] joachimschmidt557 opened #311 "RFP - gSubs"
gSubs finds matching subtitles to videos.

Homepage: https://cholaware.com/gsubs/

GitHub source: https://github.com/sanjevirau/gsubs

[2018-04-08 11:55] pauby commented on #296
Package has been submitted.

[2018-04-08 12:28] pauby commented on #264
Both packages have been deprecated (awaiting mod approval):

https://chocolatey.org/packages/WindowsAzurePowershell_0871
https://chocolatey.org/packages/WindowsAzurePowershell

[2018-04-10 11:43] arberg opened #312 "RFM - Goodsync"
https://chocolatey.org/packages/GoodSync

Package currently installs the old v9, not the new v10. All that needs to happen (it seems) is to update the url

v9: https://www.goodsync.com/download/GoodSync-Setup.msi
v10: https://www.goodsync.com/download/GoodSync-v10-Setup.msi

Package-maintainer is unresponsive, and it sounds like an issue like this is the way forward.

[2018-04-12 09:07] majkinetor opened #313 "RFM yed"
https://chocolatey.org/packages/yed
https://github.com/majkinetor/au-packages/tree/master/yed

[2018-04-12 09:08] majkinetor commented on #313
nvm

I will continue to maintain it

[2018-04-12 09:08] #313 closed

[2018-04-13 14:51] pauby commented on #312
As this looks fairly straightforward I'll pick this one up.

[2018-04-13 14:55] pauby commented on #296
Package approved.

[2018-04-13 14:55] #296 closed

[2018-04-13 15:01] pauby commented on #312
New release for this package was published on 10 April so it's been picked back up.

[2018-04-14 08:28] arberg commented on #312
The current release (as of 14/4) still has the incorrect url

$url = 'https://www.goodsync.com/download/GoodSync-Setup.msi'

according to content of tools\chocolateyInstall.ps1 as seen on

https://chocolatey.org/packages/GoodSync

Perhaps it was just auto-updated due to new goodsync release. I suspect there are bots doing updates, as it is what I would do.

Best Alex

[2018-04-14 12:20] vintagesucks opened #314 "RFP - Lunacy"
**Lunacy, Sketch for Windows**

Setup and portable version available at https://icons8.com/lunacy
Latest release at http://appsync.icons8.com/lunacy/docs/releases/

[2018-04-14 13:08] Chronoshift111 commented on #280
This is more specifically the website of the program:
https://www.iobit.com/en/advancedsystemcarefree.php

[2018-04-14 14:04] Chronoshift111 opened #315 "RFP - Microsoft OneNote 2016"
I am requesting a package to be made for Microsoft OneNote 2016. This is for the better desktop version of the program instead of the crappy limited version that comes with Windows 10. This can be accessed by looking at the page at <https://www.onenote.com/download>  and ignoring the large obnoxious "Open OneNote" button at the top and instead look under the "Also Available on"  section and click

[2018-04-14 14:13] Chronoshift111 commented on #315
I am trying to install the package I found on Chocolatey, but it keeps failing with an error:

ERROR: Checksum for 'C:\Users\[MyNameRemoved].GIGABYTE-[MyNameRemoved]\AppData\Local\Temp\chocolatey\onenote\16.0.9029.2167\setuponenotefreeretail.x64.en-us_.exe' did not meet 'AEBA2969D2CEBC23BE01B1512AC1AE3CE18E876F00E6E55889F9FE7FECF003C5' for checksum type 'sha256'. Consider passing the actual checks

[2018-04-14 15:09] pauby commented on #315
@Chronoshift111 Can you try reaching out to the package maintainer via the Contact Maintainer link on the package page.

[2018-04-14 15:09] #315 closed

[2018-04-14 17:01] AdmiringWorm commented on #284
@Chronoshift111 I mean that someone pushed a package with the same id as the one that would be used for this software, it seems like the intention is to provide the a package for this one though but currently it isn't a functional package.

[2018-04-15 13:44] Chronoshift111 opened #316 "RFM - OneNote"
I have contacted the maintainers for this package and they told me to look at the "Package Notes" which
have instructed me to go here and ask that someone update it.

The link to the package can be found here:

The error that is received when installing the package is below:

ERROR: Checksum for 'C:\Users\[NAME].GIGABYTE-[NAME]\AppData\Local\Temp\chocolatey\onenote\16.0.9029.2167\setuponenotefreer

[2018-04-15 13:45] Chronoshift111 commented on #316
Link to Package Notes:
https://github.com/bcurran3/ChocolateyPackages/blob/master/onenote/readme.md

[2018-04-15 13:57] Chronoshift111 opened #317 "RFP - Paint 3D"
I am requesting a package to be made.

https://paint-3d.en.softonic.com/download

[2018-04-15 19:54] pauby commented on #317
Is this the Paint 3d app that comes with Windows 10? It's also a UWP app is it not?

[2018-04-15 20:08] pauby commented on #316
This looks fairly straightforward so I'll grab it.

[2018-04-16 10:40] pauby commented on #316
Published

[2018-04-16 10:40] #316 closed

[2018-04-16 13:24] pauby commented on #264
Previously approved versions unlisted for both packages.

[2018-04-16 13:24] #264 closed

[2018-04-17 07:36] jtcmedia commented on #297
I can pick this up.

[2018-04-18 20:12] superbonaci opened #318 "RFP - yumi-uefi"
YUMI is already available and add also the UEFI version.

[2018-04-19 17:46] jtcmedia commented on #297
This can be closed, pkg has been approved
https://chocolatey.org/packages/handbrake.install/1.1.0
https://chocolatey.org/packages/handbrake/1.1.0
https://chocolatey.org/packages/handbrake.portable/1.1.0

[2018-04-19 20:33] Alegrowin commented on #270
https://chocolatey.org/packages/SaxonHE/9.8.0.11

[2018-04-20 01:34] Chronoshift111 commented on #284
How can we make a new ID?

[2018-04-20 07:54] pauby commented on #284
If the current package isn't working then I would suggest we work with the
maintainer to fix that. Submitting a package for something that is already
in the feed will likely be rejected.

On Fri, 20 Apr 2018, 02:34 Chronoshift111, <notifications@github.com> wrote:

[2018-04-23 16:59] #270 closed

[2018-04-23 16:59] #297 closed

[2018-04-23 17:01] AdmiringWorm commented on #318
Let's keep the title in lowercase (except the RFP), just to mimick what is expected of the package id (which should always be in lowercase for new packages).

[2018-04-23 17:04] AdmiringWorm commented on #317
@pauby looks like it.

@Chronoshift111 since this is a package on the Windows Store, and they don't provide a way to install manually this request can't be granted. As such I'm closing this issue, feel free to reopen it if the situation changes.

[2018-04-23 17:04] #317 closed

[2018-04-25 07:19] andreasblueher opened #319 "RFP - notepadplusplus plugin manager"
While notepadplusplus is already available, plugin manager is not shipped with it anymore. Would be nice to be able to add it via choco

[2018-04-25 15:26] AdmiringWorm commented on #319
Please also include the link to the website, as well as the official location where the plugin can be downloaded from

[2018-04-26 03:30] FranklinYu opened #320 "RFP - Trout"
A GUI trace-route.

https://www.mcafee.com/uk/downloads/free-tools/trout.aspx

EULA: https://www.mcafee.com/uk/resources/legal/mcafee-software-free-eula.pdf
Download at: http://b2b-download.mcafee.com/products/tools/foundstone/trout.zip

[2018-04-28 01:11] joachimschmidt557 opened #321 "RFP - Loop Drop"
Loop Drop is a looper, modular synth and sampler designed for improvisation and live performance.

Website: http://loopjs.com

GitHub repo: https://github.com/mmckegg/loop-drop-app

[2018-04-28 01:52] joachimschmidt557 opened #322 "RFP - BandLab Assistant"
BandLab Desktop Assistant (Beta)

Create and upload new projects or continue your recent ones in just a few clicks from the convenience of your desktop. BandLab Assistant provides handy shortcuts and keeps you updated via desktop notifications.

Website: https://www.bandlab.com/download

[2018-04-28 15:56] AdmiringWorm commented on #318
I decided to work on this package, and get it into the core team repository. Just waiting for the other contributors to review the request and we can get it pushed to chocolatey.

[2018-04-28 16:35] AdmiringWorm commented on #314
Working on creating a package for this one now. Should be have something ready soon.

[2018-04-28 18:29] AdmiringWorm commented on #314
The package have been submitted:
https://chocolatey.org/packages/lunacy

[2018-04-28 18:49] AdmiringWorm commented on #80
I've started working on taking over the package. Should have something available soon

[2018-04-28 19:26] AdmiringWorm commented on #314
btw, I just created a package for the installer.
If there is any interest in the future, I could create one for the portable edition as well.

[2018-04-28 19:38] AdmiringWorm commented on #80
The package have now been pushed to chocolatey:
https://chocolatey.org/packages/Qemu/2018.04.24

[2018-04-29 20:13] starrychloe opened #323 "RFP - Uru"
Seems most of the work has already been done.
https://bitbucket.org/jonforums/uru/wiki/Chocolatey

[2018-04-29 21:27] superbonaci commented on #318
Thank you very much.

[2018-05-01 16:36] pauby commented on #323
I'm unsure why the developer doesn't just submit this to the Chocolatey feed. Have you contacted them?

[2018-05-01 18:24] pauby commented on #299
@kaovilai Did you contact the maintainer?

[2018-05-01 18:25] pauby commented on #295
@mcandre Can you provide us with the URL for the software?

[2018-05-01 18:26] pauby commented on #284
@Chronoshift111 are you any further forward with this?

[2018-05-01 18:28] pauby commented on #280
@Chronoshift111 @franklinyu have you contacted the maintainer of the existing package to move this forward?

[2018-05-01 18:29] pauby commented on #245
@stephengroat before we close this with 'no update', can you confirm what stage this is at?

[2018-05-01 18:32] pauby commented on #225
@AdmiringWorm @aariveros have one of you picked this up to create a package? Label indicates it has been.

[2018-05-01 18:36] franklinyu commented on #280
@pauby No, I have not yet. I’m still hesitating to take this package (or package series) because I don’t use it myself. I have three RFPs queued before this RFM.

[2018-05-01 18:51] pauby commented on #269
If the Java8 package sees a 64 bit OS it will install the 64 bit version.

Is that what you were looking for?

[2018-05-01 18:54] pauby commented on #280
That's fine. In the meantime I've flagged this as being available. If you want to pick it up again when you have more time just come back and let us know.

[2018-05-01 19:02] franklinyu commented on #269
According to the package description of `jre8`, user can manually exclude 64-bit JRE with `/exclude:64` even on 64-bit OS. So it is more than simply checking `Get-ProcessorBits`. I want the package to

1. try to fulfill the dependency, for example install 64-bit JRE if it’s missing, and
2. abort if that fails.

By "abort" I mean something like throwing an exception in `chocolateyInstall.ps1`, but

[2018-05-01 20:26] franklinyu commented on #269
Is there a reliable way to determine whether 64-bit Java is present? I thought about parsing output of `java -version`, but it prints to error stream. To catch the error output as an variable in PowerShell, it seems to be necessary to first save it in a temporary file. Is `New-TemporaryFile` a good choice? Or there is some Chocolatey-specific way?

[2018-05-02 07:06] pauby commented on #269
Unless there is a straightforward way to do it I'd redirect the output to a
file. Its a bit clunky but it will be definitive.

New-TemporaryFile is a PS 5 (from memory) cmdlet. Chocolatey should be PS 2
compatible. What I do is:

`do {
    $tempPath = Join-Path -Path $env:TEMP -ChildPath [Guid]::NewGuid()
} while (Test-Path -Path $tempPath)`

(that's from memory as I'm typing this on my phone!)

T

[2018-05-02 13:54] FranklinYu opened #324 "RFP - weasel"
Homepage: <http://rime.im/> (Chinese)
Download link: <https://dl.bintray.com/rime/weasel/weasel-0.11.1.0-installer.exe>
Keywords: rime, weasel

(“Weasel” is a kind of [ink brush](https://en.wikipedia.org/wiki/Ink_brush).)

Note: the installer and uninstaller is made from NSIS, but `uninstaller.exe /S` is not silent, for unknown reason.

[2018-05-02 15:00] kaovilai commented on #299
No, maybe I'll do after I'm done with my finals. Feel free though.

[2018-05-02 19:32] TakataSanshiro commented on #284
What a coincidence. I submitted the same app without not see this issue.
I failed verification testing, and haven't fixed it yet.
@AdmiringWorm I added you as the nordvpn maintainers.
If you don't mind, you submit one, instead of me.

https://chocolatey.org/packages/nordvpn

Here is the source.
https://github.com/TakataSanshiro/Chocolatey-Packages/tree/master/nordvpn
I think need an autohotkey scr

[2018-05-02 20:24] AdmiringWorm commented on #284
@TakataSanshiro sure thing, I'll need to get my network back up first though. Hopefully will be able to submit a fix in a few days (will still need to be exempted from automated testing though.)

[2018-05-03 09:49] pauby commented on #323
No response to making this available for maintainers.

[2018-05-03 09:51] pauby commented on #299
To keep this going I've contacted the maintainer.

[2018-05-03 09:52] pauby commented on #295
No further update so closing this one. Can re-open if there is updates later.

[2018-05-03 09:52] #295 closed

[2018-05-03 09:53] pauby commented on #245
No response. Opening this up for maintainers.

[2018-05-03 10:08] pauby commented on #244
I've contacted the Onetastic sales team and linked them to this thread. Hopefully we can get something put up for the community as Onetastic is a great product which I use myself! If it was part of Chocolatey thought it's much more straightforward to install and keep up to date.

Fingers crossed.

[2018-05-03 10:09] pauby commented on #185
I will take a look at this one.

[2018-05-03 10:14] pauby commented on #143
Package submitted buyt is failing as it is trying to install version 0.0.301 of discord.install but that package hasn't been updated to that version yet. Have contacted the maintainer.

[2018-05-03 10:33] gep13 commented on #143
Ideally, it would be good to have all the packages that make up a meta package in the same repository.  Is that possible here?

[2018-05-03 22:39] bhillcv opened #325 "Veeam Backup & Replication 9.5 Update 3 Free"
Hello!
I have in my vmware environment, a vm with Windows Server 2012 R2, and I submitted to the Esxi the LTO 7 Tape with 2 autoloader drive. When running the backup job the displayed error is as follows:
![captura de tela 2018-05-03 as 19 32 22](https://user-images.githubusercontent.com/35144537/39605838-c599ee3e-4f08-11e8-9f5b-565575905072.png)
![captura de tela 2018-05-03 as 19 43 51](https://u

[2018-05-04 08:23] sameerh1808 opened #326 "RFP - Flutter"
A new mobile app SDK to help developers and designers build modern mobile apps for iOS and Android. Flutter is an open-source project currently in beta.

Homepage: https://flutter.io/

GitHub source: https://github.com/flutter/flutter

[2018-05-04 09:37] pauby commented on #325
This is not a support group for Veeam but for Chocolatey package requests.

[2018-05-04 09:37] #325 closed

[2018-05-04 09:39] pauby commented on #326
Whoever picks this up please note the [installation instructions](https://flutter.io/setup-windows/) particularly the System Requirements.

[2018-05-04 12:12] pauby commented on #244
A quick update on this - the team at Onetastic have got in touch and things are looking positive. Will come back once we've ironed everything out. 🤞

[2018-05-04 13:12] gep13 commented on #244
@pauby that is great news!

[2018-05-04 14:48] FranklinYu opened #327 "RFP - torrent-file-editor"
Home page: <https://sourceforge.net/projects/torrent-file-editor/>
Source: <https://github.com/drizt/torrent-file-editor>
Downloads: <https://sourceforge.net/projects/torrent-file-editor/files/v0.3.10/>

[2018-05-04 17:26] AdmiringWorm commented on #185
@pauby the skype package have already been moved to the core team repository, the issue just was forgotten to be updated.

[2018-05-04 17:29] #185 closed

[2018-05-04 17:30] pauby commented on #185
Awesome @AdmiringWorm. Saves me a job!

[2018-05-04 17:46] dematch1 opened #328 "RFP - lossless-cut"
https://github.com/mifi/lossless-cut

[2018-05-04 23:42] pauby commented on #284
Fantastic @AdmiringWorm.

[2018-05-05 02:34] joachimschmidt557 opened #329 "RFP - Friture"
Friture is a real-time audio analyzer. It works on Windows, Mac OS X and Linux. It is free and open source.

Website: http://friture.org

GitHub repo: https://github.com/tlecomte/friture

[2018-05-05 10:37] AdmiringWorm commented on #284
Working on the finishing touches for the nordvpn package now.
But I noticed that the version have been updated already, @pauby would you mind rejecting the existing version on chocolatey? So it's ready to be pushed immidietely:
https://chocolatey.org/packages/nordvpn/6.12.11

[2018-05-05 10:42] AdmiringWorm commented on #284
nvm, find a way to use versioned urls. So I can update the existing version first.

[2018-05-05 11:13] AdmiringWorm commented on #284
A updated version have been pushed: https://chocolatey.org/packages/nordvpn/6.12.11

I believe it will fail automatic testing, but in that case I would need to request an exemption.
We'll see though what happens first

[2018-05-07 00:14] franklinyu opened #330 "RFM - javadecompiler-gui"
Wrote to maintainer 1 month ago; have not yet heard any response by now.

[2018-05-07 08:33] pauby commented on #330
@franklinyu are you wanting to pick this up?

[2018-05-07 12:41] franklinyu commented on #330
@pauby If nobody else is interested, then yes, I can pick it up.

[2018-05-07 12:56] pauby commented on #330
@franklinyu Cool - I'll add the 'up for maintainers' flag but jump in if / when you want to take it if nobody else has.

[2018-05-07 16:51] AdmiringWorm commented on #284
The package is failing as I exepcted, just need to investigate that it's failing because of the correct reason.
If it is, then I'll ask for an exemption.

[2018-05-07 17:08] AdmiringWorm commented on #330
@franklinyu when/if you're interested in picking it up, then please send a msg to the Site admins (link on the package page) and we can get you added as a co-maintainer (this is of course valid for anyone that wish to maintain this package of course).

[2018-05-07 17:09] AdmiringWorm commented on #318
the package have been pushed (and approved) on chocolatey.
I would have said as such before, but wasn't able to.
https://chocolatey.org/packages/yumi-uefi

[2018-05-07 17:10] #318 closed

[2018-05-07 17:10] AdmiringWorm commented on #314
package was approved a little while ago

[2018-05-07 17:10] #314 closed

[2018-05-07 17:11] AdmiringWorm commented on #143
seems like the package have is approved

[2018-05-07 17:11] AdmiringWorm commented on #80
The package was approved some time ago.

[2018-05-07 17:11] #80 closed

[2018-05-07 22:58] superbonaci commented on #318
Thank you much appreciated.

[2018-05-08 07:54] pauby commented on #143
@AdmiringWorm I was keeping this open to track @gep13 suggestion of having this and discord.install in the same repo. I've contacted the other maintainer so will update when they come back - I'm on top of it so this will not stay open forever. If there is a better place to track this then please let me know.

[2018-05-08 18:33] AdmiringWorm commented on #143
@pauby I think it would probably be best to keep a issue open in your package repository instead, and rather /cc those you believe to want to following the discussion there.

The package have been updated, and as such the package request have been fullfilled, as such it doesn't really belong here anymore.
That's just my opinion of course.

[2018-05-09 03:39] FranklinYu opened #331 "RFP - ncollector-studio"
Homepage: <http://www.calluna-software.com/>
Download: <http://www.calluna-software.com/downloads/ncollector/NCollectorStudioLite.msi>

A crawler and offline browser.

[2018-05-09 07:56] AdmiringWorm commented on #284
the latest version of nordvpn has been approved.

[2018-05-09 07:56] #284 closed

[2018-05-12 13:28] neta540 opened #332 "RFM - Firestorm"
Maintainer does not respond nor updates the package to the current release.

[2018-05-12 21:26] pauby commented on #244
I've submitted a package for Onetastic just now. It's not the easiest installer to work with but it's done and working. Will close this once / if it's published.

[2018-05-13 08:59] gep13 commented on #244
@pauby are the Onetastic team taking ownership of the package, and pushing it when they release a new version, or are you going to be taking care of it?

[2018-05-14 11:33] pauby commented on #244
@gep13 No, it's all taken care of by me. The software version is embedded in the installer file properties so it's a matter of pulling that down and checking.

[2018-05-14 11:43] pauby commented on #299
No response from the maintainer so I'm going to open this up for others.

[2018-05-14 11:43] pauby commented on #225
No response so I'm going to put this up for other maintainers.

[2018-05-14 12:17] pauby opened #333 "RFM - MobaXTerm"
https://chocolatey.org/packages/MobaXTerm

[2018-05-14 12:17] pauby opened #334 "RFM - MySQL.Workbench"
https://chocolatey.org/packages/mysql.workbench

[2018-05-14 12:19] pauby opened #335 "RFM - CloudBerry Explorer for Amazon S3"
https://chocolatey.org/packages/CloudBerryExplorer.AmazonS3

[2018-05-14 12:19] pauby opened #336 "RFM - CloudBerry Explorer for Microsoft Azure Cloud Storage"
https://chocolatey.org/packages/CloudBerryExplorer.AzureStorage

[2018-05-14 13:18] pauby commented on #143
Agreed @AdmiringWorm. If that's the way it's normally done then I'm happy with that.

Issue created https://github.com/pauby/ChocoPackages/issues/8

[2018-05-14 13:18] #143 closed

[2018-05-16 12:56] churchthecat opened #337 "RFP - Steve Black Hosts List"
https://github.com/StevenBlack/hosts

Extending and consolidating hosts files from several well-curated sources like adaway.org, mvps.org, malwaredomainlist.com, someonewhocares.org, and potentially others. You can optionally invoke extensions to block additional sites by category.

[2018-05-16 15:36] pauby commented on #337
This is really just a file that is used by other apps to provide site blocking? I'm unsure whether it, as itself, constitutes a package, or whether it would need to be bundled with other apps to be useful.

For example you could bundle it with a Hostman install and it would then install the list for Hostman or create a package that updates your hosts file with this?

@AdmiringWorm what are your th

[2018-05-16 15:40] AdmiringWorm commented on #337
I had more or less the same thought, I honestly don't know if it should be a package or not.

If it were to be created as a package though, I would hope to never see the script itself.
It either would be a huge complicated mess of if/else statements accepting parameters, or a package form every kind of the provided hosts files.

[2018-05-16 15:54] AdmiringWorm commented on #337
@ferventcoder @gep13 thoughts?

[2018-05-16 17:25] gep13 commented on #337
@AdmiringWorm @pauby perhaps what should be packaged up is this:

https://github.com/ScriptTiger/Unified-Hosts-AutoUpdate/blob/master/Hosts_Update.cmd

[2018-05-16 17:25] gep13 commented on #337
Sorry, I meant this link:

https://github.com/ScriptTiger/Unified-Hosts-AutoUpdate

[2018-05-16 17:50] FranklinYu opened #338 "RFM - Texts"
https://chocolatey.org/packages/texts

Download: <http://www.texts.io/Texts-1.5.msi>

[2018-05-16 17:53] AdmiringWorm commented on #337
@gep13 yeah, that one seems likely to be something that could be packaged.

@churchthecat is that the one you would perhaps to see packaged as a chocolatey package?

[2018-05-16 18:46] AdmiringWorm commented on #329
Package have been submitted:
https://chocolatey.org/packages/friture/0.35

[2018-05-16 18:50] franklinyu opened #339 "RFP - python.pypy3"
Homepage: <https://www.pypy.org/>
Download link (x32 only): <https://bitbucket.org/pypy/pypy/downloads/pypy3-v6.0.0-win32.zip>

I'm not sure whether it qualifies because it's in beta. Package name is picked to be consistent with <https://chocolatey.org/packages/python.pypy>.

`irm 'https://api.bitbucket.org/2.0/repositories/pypy/pypy/refs/tags?q=name~%22pypy3%22&sort=-target.date'`

[2018-05-16 19:09] churchthecat commented on #337
Well I wasn't aware about scripttigers script , but that looks cool :). However its not just a hostfile on stevenblacks its a tool for composing new hostfiles by selecting the different extensions and so on.  Selecting view code shows all of the files.  My idea was to make it easy to update a hostile based on different sources automaticly, a quick look at scripttigers seems to do just that. Not a

[2018-05-17 09:29] pauby opened #340 "RFM - hackfont"
https://chocolatey.org/packages/hackfont

I use this so will pick it up.

[2018-05-17 10:32] AdmiringWorm commented on #329
Due to a number of virus positives on virustotal.com, this package won't be approved on chocolatey.org.

I'll monitor the releases for this software, and when/if the virus count gets low enough I'll start it up again.

[2018-05-17 11:16] pauby commented on #339
Pre-release versions can be added to the community feed.

[2018-05-17 12:28] pauby opened #341 "RFM - keepass-plugin-enhancedentryview"
https://chocolatey.org/packages/keepass-plugin-enhancedentryview

I will pick this up.

[2018-05-17 13:25] pauby opened #342 "RFM - SublimeText3"
https://chocolatey.org/packages/SublimeText3

[2018-05-17 15:03] MagicGreenDragon opened #343 "RFP - npcap"
Someone can add the support for this package?
https://github.com/nmap/npcap

I ask it because the nmap package install npcap, but sometimes it is not the latest version.

Thanks in advance!

[2018-05-17 18:06] pauby commented on #343
Windows installer at https://nmap.org/npcap/#download

[2018-05-17 21:10] pauby commented on #340
Submitted.

[2018-05-17 21:11] pauby commented on #340
I also submitted [hackfont-windows](https://chocolatey.org/packages/hackfont-windows) earlier which is a Windows Installer for this font - it's a WAY better method for installing.

[2018-05-17 21:12] pauby opened #344 "RFM - OpenShot"
https://chocolatey.org/packages/OpenShot

[2018-05-17 21:14] pauby opened #345 "RFM - Caffeine"
https://chocolatey.org/packages/caffeine

[2018-05-18 03:56] franklinyu commented on #269
Waiting for automatic tests: <https://chocolatey.org/packages/jadx>

[2018-05-18 13:15] pauby opened #346 "RFM - PotPlayer"
https://chocolatey.org/packages/potplayer

[2018-05-18 14:19] pauby commented on #330
Just adding the package URL for convenience - https://chocolatey.org/packages/javadecompiler-gui

[2018-05-18 14:25] #341 closed

[2018-05-18 14:26] #340 closed

[2018-05-21 15:26] Sirove opened #347 "RFP - SpeedCrunch (Installer)"
http://speedcrunch.org/download.html

We do have SpeedCrunch (**Portable**) as a package but that's not an option for a multi-user-environment because every user shares the same configuration and calculation history.

The installer works with the `/S` parameter for a completely unattended and silent installation!

[2018-05-21 15:32] Sirove opened #348 "RFP - K-Lite Codec Pack Basic"
https://codecguide.com/download_k-lite_codec_pack_basic.htm

The "Full" and "Mega" Packs are overpowered for the average Windows user.
Would be very nice to have the minimalists favorite "Basic" Pack as an alternative!

The `/verysilent` parameter works just fine!

[2018-05-22 05:53] FranklinYu opened #349 "RFP - marktext"
https://marktext.github.io/website/

[2018-05-22 08:49] pauby commented on #348
@zersh would you be interested in picking this up as you maintain the Mega and Full packages?

[2018-05-22 14:44] butekx opened #350 "RFP - Kafka Tool"
Homepage: http://www.kafkatool.com
Description: Kafka Tool is a GUI application for managing and using Apache Kafka clusters. It provides an intuitive UI that allows one to quickly view objects within a Kafka cluster as well as the messages stored in the topics of the cluster. It contains features geared towards both developers and administrators. Some of the key features include

[2018-05-23 08:08] #342 closed

[2018-05-24 09:34] pauby opened #351 "RFM - keepass-plugin-keeagent"
https://chocolatey.org/packages/keepass-plugin-keeagent/0.8.1

I will pick this up.

[2018-05-28 17:07] pauby opened #352 "RFM - Intel SSD Toolbox"
https://chocolatey.org/packages/Intel.SSD.Toolbox

[2018-05-30 00:44] dimqua opened #353 "RFP -MellowPlayer"
MellowPlayer is a free, open source and cross-platform desktop application that runs web-based music streaming services in its own window and provides integration with your desktop (hotkeys, multimedia keys, system tray, notifications and more). MellowPlayer is written in C++ and QML.

https://colinduquesnoy.github.io/MellowPlayer/

[2018-05-30 13:15] franklinyu opened #354 "RFM - PyPy"
Package: <https://chocolatey.org/packages/python.pypy>

I don’t use this package, so I may not have time to maintain it.

[2018-05-31 13:20] jeremyj563 opened #355 "RFP - Kdenlive"
https://kdenlive.org/en/download/

Kdenlive is an acronym for KDE Non-Linear Video Editor. It is currently being ported to Windows as a GSOC project.

Now, you don’t need to do anything more to set up [on Windows]. To run Kdenlive, you just have to unzip the downloaded Kdenlive version, and start Kdenlive from kdenlive.exe in kdenlive-windows folder.

Current Windows beta download: https://files.k

[2018-05-31 14:41] MagicGreenDragon opened #356 "RFM - rtmpdump"
A package for rtmpdump exists, but is outdated.

The latest version is 2.4, and can be found here:
https://www.videohelp.com/software/RTMPDump

Thanks in advance.

[2018-05-31 14:44] MagicGreenDragon opened #357 "RFP - avinaptic"
Someone can add avinaptic package (the program is x32 only)?

Website:
http://fsinapsi.altervista.org/code/avinaptic/index.html

Lastest version:
http://fsinapsi.altervista.org/code/avinaptic/avinaptic2-win32-20111218.zip

Thanks in advance!

[2018-06-02 10:27] AdmiringWorm commented on #354
@franklinyu have you tried contacting the maintainer to get this package updated?
By using the `Contact Maintainers` link on the package page?

[2018-06-02 14:50] Bradley-Kars opened #358 "RFP - Bluestacks"
Could someone add Bluestacks?

Website:
https://www.bluestacks.com/

Lastest version:
https://www.bluestacks.com/download.html?utm_campaign=homepage-dl-button-en#download

Thanks in advance!

[2018-06-02 14:53] pauby commented on #358
@daddydeadpool Which is it - a request for Bluestacks or Nox App Player?

[2018-06-02 14:55] pauby commented on #337
@churchthecat can you answer the questions on this thread to progress or can the issue be closed?

[2018-06-02 15:07] churchthecat commented on #337
Sorry , completely missed the replys.  Gep13s suggestion seems to be a better option. Close this would probably be best.

[2018-06-02 15:13] #337 closed

[2018-06-02 15:14] pauby opened #359 "RFP - Unified-Hosts-AutoUpdate"
https://github.com/ScriptTiger/Unified-Hosts-AutoUpdate - see issue #337

[2018-06-02 16:34] Sirove opened #360 "RFP - Alt-Tab Terminator"
https://www.ntwind.com/software/alttabter.html

"Alt-Tab Terminator is a powerful program for Windows that replaces the default Alt-Tab function with an improved one that offers a better overview and customization options the default function lacks." -[gHacks](https://www.ghacks.net/2018/06/01/alt-tab-terminator-improves-windows/)

[2018-06-02 17:36] franklinyu commented on #354
Yes I did, and he seemed to update the package after some delay. Never mind.

[2018-06-02 17:36] #354 closed

[2018-06-03 18:47] daddydeadpool commented on #358
bluestacks tried editing it sorry

[2018-06-04 08:52] pauby commented on #360
I will pick this up (as I've just installed it and I love it!)

[2018-06-04 08:53] pauby opened #361 "RFM - Who Crashed"
https://chocolatey.org/packages/whocrashed/5.53

[2018-06-05 21:27] AdmiringWorm commented on #361
A recommendation to whoever picks this one up.
Add a note in the description that the free edition is only for home use, other uses needs to buy the professional edition.

[2018-06-06 09:24] pauby opened #362 "RFP - Sublime Text 3 Portable"
https://www.sublimetext.com/3

Since I already have the full installer I'll pick this one up too.

[2018-06-06 20:16] mcandre opened #363 "RFP - the Swift programming language"
Installer:

https://swiftforwindows.github.io/

[2018-06-12 10:04] pauby opened #364 "RFM - LyX"
https://chocolatey.org/packages/lyx/2.2.3.2

[2018-06-13 12:46] dimqua opened #365 "RFP - Athame"
An extensible music download tool written in C#.

https://svbnet.co/athame

[2018-06-14 23:40] nonbob commented on #97
👍 +1

[2018-06-16 20:15] mcandre opened #366 "RFM - rsync"
The rsync package is broken, at least for x86 users, as a result of the rsync installation media being hosted, in quite a fragile manner, first in https://www.itefix.net/dl/cwRsync_5.5.0_x86_Free.zip (a dead website), and then indirectly via the Wayback Machine https://web.archive.org/web/20160613105413/https://www.itefix.net/dl/cwRsync_5.5.0_x86_Free.zip , whose download link is currently inopera

[2018-06-18 08:06] pauby commented on #366
Package is at https://chocolatey.org/packages/rsync

[2018-06-20 17:11] Sirove opened #367 "RFP - VDesk"
https://github.com/eksime/VDesk

"Vdesk extends the virtual desktop functionality on Windows 10 by adding options to the operating system to launch programs on specific desktops." -[gHacks](https://www.ghacks.net/2016/06/15/vdesk-virtual-desktops-windows-10/)

[2018-06-20 17:14] AdmiringWorm commented on #367
Changing this to RFM, there was a package that was tried to be submitted last year.
However it failed, and no fix was provided for it.

Anyone interested in picking this up, please contact the site admins on the package page requesting to take over maintenance (as well as linking to this issue in the message).
Package: https://chocolatey.org/packages/VDesk

[2018-06-21 12:19] Sirove opened #368 "RFP - Universal ADB Drivers"
https://adb.clockworkmod.com/

"A single Windows driver that supports the ADB (and fastboot) interface for most Android phones."

[2018-06-21 19:02] FranklinYu opened #369 "RFP - iisnode"
Source: https://github.com/Azure/iisnode

The upstream https://github.com/tjanczuk/iisnode seems no longer maintained.

This project is known to fail on latest platform: Azure/iisnode#46.

[2018-06-22 16:45] Hakker commented on #346
will take a go at this package. It will be my first project here so this looks ok so far.
https://github.com/Hakker/Chocolatey/tree/master/Potplayer

[2018-06-22 22:56] AdmiringWorm commented on #346
@Hakker send a message to the site admins through the package page mentioning that you wish to take over as a maintainer (remember to reference this issue), then we can get you added as a maintainer for the package. As well as changing the status of this issue.

[2018-06-23 18:43] pauby commented on #346
@Hakker It looks like I'm unable to assign you to this issue. I'm doing this on my phone but will try againwhen I'm at my desktop.

Please keep it up to date with the correct labels and comments.

[2018-06-24 08:25] Melvinkooi opened #370 "RFP - Gameplay Time Tracker"
Gameplay Time Tracker is an application that allows you to track the time on how much you've played a game outside of Steam or any game platforms. It's a local program so you don't need any count to use it and it support both Win32 and UWP games.

The website is: https://www.gameplay-time-tracker.info/en/default.aspx

The download page is: https://www.gameplay-time-tracker.info/en/download.aspx#do

[2018-06-24 08:34] CypherNL opened #371 "RFP - Ocenaudio"
Ocenaudio is a singe-track editor which feature set is here: https://www.ocenaudio.com/features
I use this program quite often for spectral analyst or checking the waveform or using the statistics feature to see if there's any possible clipping. It's updated quite often and it doesn't have a proper update system so i think this package would be a nice addition to the Chocolatey repository.

The pr

[2018-06-25 08:20] pauby opened #372 "RFM - DAEMON Tools Lite"
https://chocolatey.org/packages/daemontoolslite/4.49.1.20140507

[2018-06-25 10:10] Hakker commented on #346
I have no idea which setting it should be then. It's a default profile. Haven't changed a thing in there

[2018-06-25 10:19] pauby commented on #346
As long as you're picking this up and updating the comments / labels as you go it's will work out fine 👍

[2018-06-25 10:48] pauby commented on #346
It doesn't link to the chocolatey.org packages pages so it's not going to be that. Somebody will no doubt come along and tell us exactly what the issue is :)

[2018-06-25 14:32] AdmiringWorm commented on #346
@pauby as you found out, you'll need push access to the repo to be able to be assigned a issue.

@Hakker in your case though, just post a new comment when you have pushed the package to chocolatey, and another one when the package have been approved and we'll set the correct labels.

[2018-06-25 18:48] Hakker commented on #346
Failed to process request. 'The specified API key does not provide the authority to push packages. This package may already exist and be owned by a different user. It could also be hidden. Try going directly to https://chocolatey.org/packages/'packageName' to determine maintainers.'.
The remote server returned an error: (403) Forbidden..

As stated before current package maintainer is Pallitax who

[2018-06-25 18:58] AdmiringWorm commented on #346
@Hakker you'll need to accept the addition that was sent to your email from chocolatey to get added as the maintainer.

[2018-06-25 19:11] Hakker commented on #346
It must be me but I haven't received any email like that.

[2018-06-25 19:16] AdmiringWorm commented on #346
Just to confirm, you're chocolatey username is Hakker?

[2018-06-25 19:43] pauby commented on #366
No response. Closing.

[2018-06-25 19:45] pauby commented on #366
Opened for other maintainers.

[2018-06-25 20:07] Hakker commented on #346
ok submitted the package.

[2018-06-26 00:15] nathanielwarner commented on #355
I've got a package almost ready to publish [here](https://github.com/nathanielwarner/kdenlive-chocolatey). There's a few (tracked) issues that I'd love some help with, but it's mostly working.

[2018-06-28 11:49] Hakker commented on #346
re-submitted the package with updated checksums. For some reason the binaries changed in size yet the changelog hasn't which caused it initial review to fail.

[2018-06-28 14:15] Hakker commented on #346
gonna wait a day here because now it changed again. checked his so called old versions cdn and videohelp and they use the newer one as well it kinda looks like he is using an active branch and compiles it daily. So I want to see how it is tomorrow.

[2018-06-29 12:14] Hakker commented on #346
well seems it was still the same (dunno why it's stable now) anyways changed the download location to his CDN so hopefully will stay the same.
Pushed both 12844 and since that one just went through the mail also 12845.

[2018-06-29 18:20] Hakker commented on #346
and I see the automatic reviews for 12844 and 12845 are approved now.

[2018-06-29 18:28] #346 closed

[2018-07-01 10:05] enko commented on #105
I tried to contact @cbilson via the e-mail on his github profile on 2017-11-24, but he never replied back. In the meanwhile I added support for emacs 25 and now I have added support for emacs 26 on my [repo](https://github.com/enko/EmacsChocolateyPackage). I have also set up [automated testing](https://ci.appveyor.com/project/enko/emacschocolateypackage) and if I would made maintainer, I would set

[2018-07-02 19:33] dimqua opened #373 "RFM - Meinberg NTP"
https://chocolatey.org/packages/meinberg-ntp

[2018-07-04 18:10] mikecole opened #374 "RFM - ssdt17"
ssdt15 was recently modified to allow for parameters to select which options to install: https://github.com/mikecole/chocolatey-packages/pull/6

This same feature was attempted to be included with ssdt17, but it gives a general MSI installation error with little or no details. Hoping a second set of eyes can help power through this.

Here's the open PR for ssdt17 for reference: https://github.com/

[2018-07-04 18:39] pauby commented on #374
@mikecole the issues here are to request new package maintainers for an out of date / abandoned package or to request a new package to be created.

The best place for you to request a second pair of eyes is in the [Gitter rooms](https://github.com/chocolatey/choco/blob/master/README.md#chat-room)

[2018-07-04 18:39] #374 closed

[2018-07-05 06:19] enko commented on #105
@AdmiringWorm

I'm the maintainer now, you can close the issue.

[2018-07-05 15:11] AdmiringWorm commented on #105
@enko lets keep it open until the latest version is approved (this is usually what we do).

/cc @pauby

[2018-07-05 16:10] pauby commented on #105
Apologies. I'd assumed it was all through from @enko statement so didn't check.

[2018-07-05 16:11] AdmiringWorm commented on #105
@pauby I thought as much.
No worries though, thankfully issues can be re-opened 😄

[2018-07-06 15:40] mikecole commented on #370
https://chocolatey.org/packages/gameplay-time-tracker/2.10.91.91

[2018-07-06 15:42] mikecole commented on #361
I can do this.

[2018-07-06 15:46] mikecole commented on #29
I can look at this. Requesting to be added as maintainer.

[2018-07-06 18:35] AdmiringWorm commented on #361
@mikecole awesome, please send a email to the site admins on the package page.

Thanks you for picking up the package.

[2018-07-06 19:34] mikecole commented on #29
https://chocolatey.org/packages/mactype/2017.628.0

[2018-07-06 20:01] mikecole commented on #361
https://chocolatey.org/packages/whocrashed/6.01

[2018-07-07 16:12] mcandre commented on #366
The updated package seems to work for me on both 32 and 64 bit.

[2018-07-07 16:12] #366 closed

[2018-07-07 19:37] mikecole commented on #361
Passed review. Please close.

[2018-07-07 21:46] #361 closed

[2018-07-08 20:16] #308 closed

[2018-07-10 15:35] toto2700 commented on #344
I'd like to maintain the program.

[2018-07-10 15:44] toto2700 commented on #344
and boinc too. Also outdated.

[2018-07-10 16:40] pauby commented on #344
@toto2700 Send a message to the site admins using the Contact Site Admins on the left hand side of the package page (see the [package triage process](https://www.chocolatey.org/docs/package-triage-process#i-want-to-take-overhelp-with-package-maintenance-for-my-software))

[2018-07-10 17:05] pauby commented on #269
Package has been approved. Closing.

[2018-07-10 17:05] #269 closed

[2018-07-10 22:52] yaomtc opened #375 "RFP - Money Manager EX"
Website: https://www.moneymanagerex.org/
License: GPL2
Source code: https://github.com/moneymanagerex/moneymanagerex

I use this on Linux, MacOS, Windows, and Android, with Syncthing handling the database synchronization. It has been an essential tool for me for several years. It would be very nice if someone made a Chocolatey package for it!

[2018-07-11 08:07] pauby commented on #375
Thanks @yaomtc - have you thought about trying to put together a package for this yourself?

[2018-07-11 13:52] yaomtc commented on #375
I did consider it, but haven't yet taken the time to investigate how much time it would take to learn and do it. Maybe I will.

[2018-07-17 11:59] mikecole commented on #29
Approved.

[2018-07-17 12:00] mikecole commented on #370
Approved

[2018-07-17 12:50] #370 closed

[2018-07-17 14:18] #29 closed

[2018-07-18 12:21] Foadsf opened #376 "RFP - antimony"
website: http://www.mattkeeter.com/projects/antimony/3/
github: https://github.com/mkeeter/antimony

was discussed here in[ this github issue](https://github.com/mkeeter/antimony/issues/195).

P.S. Is there any way for Chocolatey to compile from the source like HomeBrew?

[2018-07-18 14:30] Foadsf commented on #376
@pauby thanks for the immediate reply. Two questions:

1. Can you provide me with some instructions or examples of Chocolatey scripts used for building from source code?
2. Any idea if there are other Windows package managers which can compile from the source?

[2018-07-18 14:33] pauby commented on #376
I know of no other packages that build from source code. As I said unless it's incredibly simple, it wouldn't be viable to do as a package.

With regards to other packages you would need to check them out individually. I think getting the developer to provide **A** windows package would be a good start (an MSI if possible) and the Chocolatey community could pick that up and create a package from i

[2018-07-18 15:06] franklinyu opened #377 "RFP - IECookiesView"
https://www.nirsoft.net/utils/iecookies.html

tag: `nirsoft`

[2018-07-19 04:00] mikecole commented on #375
In moderation: https://chocolatey.org/packages/money-manager-ex/1.3.3.0

[2018-07-19 13:14] mikecole commented on #375
Approved: https://chocolatey.org/packages/money-manager-ex

[2018-07-19 17:48] yaomtc commented on #375
Thank you, @mikecole!

[2018-07-19 17:49] #375 closed

[2018-07-20 08:03] #373 closed

[2018-07-20 08:04] gep13 commented on #373
@mikecole thanks for picking this one up!

[2018-07-20 13:12] mikecole commented on #345
In moderation: https://chocolatey.org/packages/caffeine/1.64.0.20180720

[2018-07-20 14:44] mikecole commented on #372
I have some concerns about this package.

1) The download are advertised-blocked so the download links are not easily retrieved.

2) The existing version (it's broken anyway) seems to be linked to a Russian file sharing site.

There appears to be a publisher program that one can join that may give us other options here. How are those generally completed? On behalf of the package maintainer or on b

[2018-07-20 18:53] gep13 commented on #372
@mikecole hmm, this is a new one on me.  I haven't heard of a publisher program before, so I am really not sure on how to progress with that.  It would be interesting to know if redistributing the binaries would be an option.  I didn't see anything obvious on the site.  Perhaps reaching out to them to answer the question, that might provide a route to take.

[2018-07-20 18:57] gep13 commented on #345
@mikecole thanks for working on this!

[2018-07-20 18:57] #345 closed

[2018-07-20 18:59] mikecole commented on #372
@gep13 I'll follow up with them. Maybe it will be another fiddler situation where they don't want the package listed.

Should this be marked as Blocked Upstream?

[2018-07-20 19:03] AdmiringWorm commented on #372
@mikecole I would say yes, it should be marked with `Blocked Upstream`.
As such I've added that label as well.

[2018-07-20 19:15] gep13 commented on #372
@mikecole let us know how you get on, and if you need any assistance.

[2018-07-20 21:37] fafnirical opened #378 "RFM - Hub"
https://chocolatey.org/packages/hub

[2018-07-20 21:50] fafnirical opened #379 "RFP - Lando"
https://github.com/lando/lando

Lando is "a free, open source, cross-platform, local development environment and DevOps tool built on Docker container technology".

Would require https://chocolatey.org/packages/docker-for-windows.

[2018-07-21 23:08] bcurran3 opened #380 "RFM - shotcut"
Current maintainers have been unresponsive. Multiple requests for updates in Disqus. I've sent e-mails via Contact Maintainers recently and in the past. Program is currently one major and 7 minor releases behind.

I'll offer to maintain it.

[2018-07-21 23:19] bcurran3 commented on #367
This one is probably very easy for someone to pick up.

Looks like it failed simply because the install script checks for and aborts if not Windows 10 and the package submitter never bothered to ask for an exemption.

[code]

This request has been open a month. I don't really want to pick it up, but will if someone doesn't volunteer soon.

[2018-07-21 23:31] bcurran3 commented on #267
Just an FYI, this is a bit dated program:

info from the website link (2014)
Supported Operating System
Windows 7, Windows 8, Windows 8.1

Windows Phone 8
Microsoft Office 2013 (Office 2013 RT is not supported)
Bluetooth on your PC

[2018-07-21 23:35] bcurran3 commented on #372
Dupe of https://github.com/chocolatey/chocolatey-package-requests/issues/238

[2018-07-21 23:45] mikecole commented on #238
This is a dupe, can we delete it since we have more info on the other?

[2018-07-22 00:12] bcurran3 opened #381 "RFM - Plex Home Theater"
Request for maintainer**ship**.

https://chocolatey.org/packages/plex-home-theater

Maintainer appears to be AWOL, hasn't made a package in over two years.

Yes, I've attempted contact.

The program is no longer available for new downloads. Via the magic of The Internet Archive and my own personal stash, it still exists.

Program is freely distributable.

For whatever it's worth, I'd like to repac

[2018-07-22 01:47] gep13 commented on #380
Looks like the .install and .portable versions of this application are updated. Perhaps best to turn this into a meta package, pointing at one of the others?  Ideally, ask the maintainer of the other packages to handle the meta data one as well.

[2018-07-22 01:50] gep13 commented on #238
Duplicate: https://github.com/chocolatey/chocolatey-package-requests/issues/372

[2018-07-22 01:50] #238 closed

[2018-07-22 01:52] gep13 commented on #380
https://chocolatey.org/packages/Shotcut

[2018-07-22 01:56] mikecole commented on #367
In moderation: https://chocolatey.org/packages/vdesk/1.1.2

(beat you, Bill)

[2018-07-22 16:09] mikecole commented on #53
In moderation: https://chocolatey.org/packages/flashdevelop/5.3.3.0

[2018-07-23 07:17] gep13 commented on #53
@mikecole thanks!

[2018-07-23 07:17] #53 closed

[2018-07-23 10:07] vintagesucks opened #382 "RFP - Fluxfonts"
**Fluxfonts - a continual font generator for increased privacy**

Latest release at https://github.com/da2x/fluxfonts/releases

[2018-07-23 12:32] pauby commented on #381
@bcurran3 Did you send an email to the Site Admins?

[2018-07-23 12:37] pauby commented on #380
I sent  the maintainer of the .install and .portable packages a message to ask if he wants to pickup this package too. Will update when I have a response.

[2018-07-23 12:41] #362 closed

[2018-07-23 12:41] #360 closed

[2018-07-23 12:42] #351 closed

[2018-07-23 12:43] #344 closed

[2018-07-23 12:46] #105 closed

[2018-07-23 20:20] bcurran3 commented on #380
Maintainer responded - plan to make meta package.

I didn't know about the more current .install and .portable packages which are new packages compared to the old shotcut package that's out of date.

Issue can be closed.

[2018-07-23 20:22] bcurran3 commented on #381
No. My bad.

Close this. I'll go that route.

[2018-07-23 20:23] pauby commented on #381
We don't need to close this.. We can use it to track the progress.

[2018-07-23 20:23] pauby commented on #380
We'll leave this open to track progress.

[2018-07-23 20:49] bcurran3 commented on #380
Official process of Contact Site Admins done.

[2018-07-23 22:39] bcurran3 commented on #258
This makes a lot of sense.

I'm going to take a stab at it.

[2018-07-24 03:37] bcurran3 commented on #258
PRE-release up for those who want to test or help make it better:
https://chocolatey.org/packages/chocolatey-font-helpers.extension

[2018-07-24 08:00] pauby commented on #378
I will pick this up.

[2018-07-24 09:10] bcurran3 commented on #258
Done:
https://chocolatey.org/packages/chocolatey-font-helpers.extension/0.0.1

Proof Concept:
https://chocolatey.org/packages/android-insomnia-regular-font/1.0

[2018-07-24 09:55] #380 closed

[2018-07-24 13:56] PacMo66 opened #383 "RFP - Oracle SQL Developer"
Database Development tool
common in enterprise enviroment
used every day by my team

latest available via http://www.oracle.com/technetwork/developer-tools/sql-developer/downloads/index.html

[2018-07-24 13:57] PacMo66 opened #384 "RFP - TIBCO Jaspersoft Studio"
Eclipse-based Editor for creating Jaspersoft Reports

latest via https://community.jaspersoft.com/project/jaspersoft-studio

[2018-07-25 08:28] pauby opened #385 "RFM - hMailServer"
https://chocolatey.org/packages/hmailserver

[2018-07-26 13:46] mikecole commented on #372
Publisher wishes for this package to be delisted:

Hi Mike,

Thank you for the detailed reply and explanation.

We are not ready to allow Chocolatey users install DAEMON Tools Lite in silent mode. Please get the existing broken package delisted.

We can offer you to list DAEMON Tools Pro and/or DAEMON Tools Ultra and share partner comission in case of product purchase. Please let me know if you ar

[2018-07-26 16:19] mikecole commented on #372
I de-listed all versions of the package. I think this can be closed.

[2018-07-26 18:43] gep13 commented on #372
@mikecole in addition to the above, I think we need to remove all maintainers from the package as well, that way, no new package versions can be pushed.

[2018-07-26 18:44] gep13 commented on #372
@mikecole I have removed all maintainers from the package.  If the situation changes, we can get this changed as required.

Thanks for following up with this.

[2018-07-26 18:44] #372 closed

[2018-07-26 19:22] mikecole commented on #372
You're welcome.

[2018-07-27 05:46] bcurran3 commented on #288
Done!

https://chocolatey.org/packages/intel-xtu

***
**Click here to [Patreon-ize](https://www.patreon.com/bcurran3) the package maintainer.**
***

[2018-07-27 17:58] bcurran3 commented on #316
@Chronoshift111 - evidently the instructions weren't clear enough, you were supposed to create an issue on MY issues page at https://github.com/bcurran3/ChocolateyPackages/issues to notify me to update the package - not bother the community.

[2018-07-28 12:28] Sirove opened #386 "RFP - Eddie (AirVPN)"
https://github.com/AirVPN/Eddie

"Eddie is developed by and is the official client of [AirVPN](https://airvpn.org), a VPN service based on OpenVPN and operated by activists and hacktivists in defence of net neutrality, privacy and against censorship."

[2018-07-31 21:09] maphew opened #387 "RFP: nip2 - a user interface for the VIPS image processing library"
**nip2** is a GUI for the VIPS image processing library. It's a little like a spreadsheet: you create a set of formula connecting your objects together, and on a change nip2 recalculates.

Repository: https://github.com/jcupitt/nip2
Releases: https://github.com/jcupitt/nip2/releases

Depends on: **libvips** - a fast image processing library with low memory needs.

Repository: https://github.com/jc

[2018-08-01 15:19] valentind44 opened #388 "RFP - PhotoFiltre Studio X"
PhotoFiltre Studio is shareware and is limited to a 30-day trial period. At the end of the 30-day trial
period, if you want to continue using PhotoFiltre Studio you will need to purchase a registration key
from the programs author. If, on the other hand you no longer want to continue using the program
you must remove it from your system immediately.

[2018-08-01 15:22] valentind44 opened #389 "RFP - Dacia Media Nav Toolbox"
https://dacia.naviextras.com/shop/portal/download?type=x-toolbox/engine

Dacia Media Nav Toolbox is a Windows utility. It can sync new updates and add new content to your Dacia MediaNav head unit.

[2018-08-01 15:24] valentind44 opened #390 "RFP - Office 2007"

[2018-08-01 15:25] valentind44 opened #391 "RFP - LG Bridge"
https://www.lg.com/us/support/product-help/CT10000025-1438110404543-lg-backup-lg-switch

LG Bridge is a PC and Mac PC software  that replaces the LG PC Suite.

With LG Bridge you can:

    Update the Android system
    Back up all your data
    Manage the device remotely with LG AirDrive
    Perform an emergency recovery of the software

[2018-08-01 15:26] valentind44 opened #392 "RFP - Samsung Android USB Driver for Windows"
https://developer.samsung.com/galaxy/others/android-usb-driver-for-windows

[2018-08-01 15:31] valentind44 opened #393 "RFP - Molotov"
https://www.molotov.tv/download

Molotov TV, or simply Molotov, is a French service of distribution of television channels by Internet.

[2018-08-01 15:31] pauby commented on #388
URL?

[2018-08-01 15:32] valentind44 commented on #388
http://www.photofiltre-studio.com/download.htm
Note that a package already exists for the free version of this software (PhotoFiltre 7)

[2018-08-01 15:35] pauby commented on #390
@valentind44 You need to provide additional information. Office 2007 can already be install silently but doesn't have a public source so is not a good candidate for a Community Repository package.

[2018-08-01 15:39] valentind44 commented on #390
That's too bad, sorry. Direct links from microsoft for other office editions can be obtained here https://tb.rg-adguard.net/public.php .

[2018-08-01 15:40] pauby commented on #393
@valentind44 The repository needs the information in English please. Can you please update?

[2018-08-01 15:41] valentind44 commented on #393
Ok should I translate it ? I think the service is exclusive to France.

[2018-08-01 15:44] pauby commented on #393
@valentind44 What you've done is fine. Thanks.

[2018-08-01 15:52] pauby commented on #388
👍

[2018-08-01 15:53] pauby commented on #389
@valentind44 Is there a public URL to download from?

[2018-08-01 15:53] valentind44 commented on #390
It generates download links from Microsoft servers.

[2018-08-01 15:55] valentind44 commented on #389
If you click the link I provided, it will redirect to the latest version. The direct link is http://azure.distrib.naviextras.com/content/!application/LG/ToolboxDacia/2016042601_3.18.5.647040_STRICT_dacia/Dacia_Media_Nav_Toolbox_Setup.exe .

[2018-08-01 16:00] valentind44 opened #394 "RFP - Lyrics Finder"
https://www.mediahuman.com/lyrics-finder/

MediaHuman Lyrics Finder is a free software application, which can help you find and add missing lyrics (song text) to all songs in your music library. It's a safe operation because the app doesn't overwrite lyrics you've already had.

Very easy to use: simply drag&drop some tracks from your favorite music player (e.g. iTunes) and MediaHuman Lyrics Finder

[2018-08-01 16:08] pauby commented on #389
@valentind44 The link in the first message takes me to a login box. The link you provided above - where does it come from? Is this the official Dacia one (obtained when logging into the site in the first URL)?

[2018-08-01 16:10] valentind44 commented on #389
I didn't realize it wasn't available if you're not logged in, sorry. Yes I obtained the link when I was logged in. It's the official link.

[2018-08-01 16:12] pauby commented on #389
👍

[2018-08-01 16:17] pauby commented on #390
It won't generate any links for Office 2007 in French or English (and I'm not trying any more).

[2018-08-01 16:26] valentind44 commented on #390
Yes, sorry. I provided the link because it works for other Office versions like Office 2013. It used to work for office 2007 but microsoft doesn't support it anymore so there are no more links available. I provided the link for informative purpose and in case a package could be made for other versions of Office.
Doing more research I've see that https://chocolatey.org/packages/OfficeProPlus2013 is

[2018-08-01 16:38] #390 closed

[2018-08-04 04:22] pauby opened #395 "RFM - nvm"
https://chocolatey.org/packages/nvm

[2018-08-04 14:39] valentind44 commented on #389
So I took some time to learn how to make chocolatey packages. I uploaded the corresponding package here https://chocolatey.org/packages/dacia-media-nav-toolbox/3.18.5.647040 . It is waiting for review. I am now looking for maintainers. I uploaded sources here https://github.com/valentind44/chocolatey-packages/tree/master/manual .

[2018-08-04 14:40] valentind44 commented on #394
So I took some time to learn how to make chocolatey packages. I uploaded the corresponding package here https://chocolatey.org/packages/lyricsfinder/1.4.4 . It is waiting for review. I am now looking for maintainers. I uploaded sources here https://github.com/valentind44/chocolatey-packages/tree/master/manual .

[2018-08-04 14:40] valentind44 commented on #393
So I took some time to learn how to make chocolatey packages. I uploaded the corresponding package here https://chocolatey.org/packages/molotov/2.2.2 . It is waiting for review. I am now looking for maintainers. I uploaded sources here https://github.com/valentind44/chocolatey-packages/tree/master/manual .

[2018-08-04 14:40] valentind44 commented on #392
So I took some time to learn how to make chocolatey packages. I uploaded the corresponding package here https://chocolatey.org/packages/samsung-usb-driver/1.5.51.0 . It is waiting for review. I am now looking for maintainers. I uploaded sources here https://github.com/valentind44/chocolatey-packages/tree/master/manual .

[2018-08-04 14:41] valentind44 commented on #391
So I took some time to learn how to make chocolatey packages. I uploaded the corresponding package here https://chocolatey.org/packages/lgbridge/1.2.46 . It is waiting for review. I am now looking for maintainers. I uploaded sources here https://github.com/valentind44/chocolatey-packages/tree/master/manual .

[2018-08-04 14:41] valentind44 commented on #388
So I took some time to learn how to make chocolatey packages. I uploaded the corresponding package here https://chocolatey.org/packages/photofiltre-studio-x/10.13.0 . It is waiting for review. I am now looking for maintainers. I uploaded sources here https://github.com/valentind44/chocolatey-packages/tree/master/manual .

[2018-08-06 20:26] AdmiringWorm commented on #56
@mikecole the version you've pushed is failing autoamtic testing.

Was this expected? If so, making a comment on the review page is needed to continue the process.

[2018-08-06 20:28] mikecole commented on #56
It was not expected, no. I stalled out on working on this package. Maybe we can release back to Available and maybe I'll re-pick it up down the road?

[2018-08-06 20:29] AdmiringWorm commented on #56
👍
Yup, will do that, I'll also change it to a RFM, since the package exist now.

[2018-08-06 20:30] mikecole commented on #56
Thanks!

[2018-08-07 03:45] bcurran3 commented on #258
![](https://media.makeameme.org/created/no-problem-your.jpg)

[2018-08-07 11:06] valentind44 commented on #388
I do wish to continue maintaining the package. I thought it was better if more than one person maintain a package, in case one of the maintainers is not available and the package needs an update.
But I don't mind if I'm the only one maintaining this package. I'll try to make an automatic update script with AU when I have time.

[2018-08-07 11:06] valentind44 commented on #391
I do wish to continue maintaining the package. I thought it was better if more than one person maintain a package, in case one of the maintainers is not available and the package needs an update.
But I don't mind if I'm the only one maintaining this package. I'll try to make an automatic update script with AU when I have time.

[2018-08-07 11:07] valentind44 commented on #392
I do wish to continue maintaining the package. I thought it was better if more than one person maintain a package, in case one of the maintainers is not available and the package needs an update.
But I don't mind if I'm the only one maintaining this package. I'll try to make an automatic update script with AU when I have time.

[2018-08-07 11:07] valentind44 commented on #393
I do wish to continue maintaining the package. I thought it was better if more than one person maintain a package, in case one of the maintainers is not available and the package needs an update.
But I don't mind if I'm the only one maintaining this package. I'll try to make an automatic update script with AU when I have time.

[2018-08-07 11:08] valentind44 commented on #394
@AdmiringWorm
I do wish to continue maintaining the package. I thought it was better if more than one person maintain a package, in case one of the maintainers is not available and the package needs an update.
But I don't mind if I'm the only one maintaining this package. I'll try to make an automatic update script with AU when I have time.

[2018-08-07 11:17] AdmiringWorm commented on #394
@valentind44 in that case, I would suggest adding a comment on the package page (in the disqus comment section) that you're looking for co-maintainers.

This issue will be closed when the package is approved (or when we notice it), so the a request for adding additional maintainers would be lost here.

[2018-08-07 15:23] dimqua opened #396 "RFP - simplewall"
Simple tool to configure Windows Filtering Platform (WFP) which can configure network activity on your computer.

https://www.henrypp.org/product/simplewall

[2018-08-07 22:04] FranklinYu opened #397 "RFP - Huggle"
https://en.wikipedia.org/wiki/Wikipedia:Huggle

[2018-08-08 02:11] pauby commented on #378
@AdmiringWorm I had started to look at this and got sidetracked and haven't done any more work on it. I'm going to remove me from it an make it available for maintainers again. If I get the time I'll jump back in but in the meantime it would obviously be selfish to keep it assigned to me.

[2018-08-09 14:24] pauby opened #398 "RFM - pidgin-otr"
https://chocolatey.org/packages/pidgin-otr/4.0.1

[2018-08-15 21:55] bcurran3 commented on #292
I'm partial to this program. It looks like it's only updated about twice a year, not too heavy maintenance. I'll take it on. Please add me as maintainer.

[2018-08-15 23:30] bcurran3 commented on #292
Done!

I've COMPLETELY overhauled and updated this.
I plan to deprecate the original and add this as a dependency for smooth transitions.

https://chocolatey.org/packages/revo-uninstaller

[2018-08-16 07:48] pauby commented on #292
@bcurran3 Use the 'Contact Site Admins' on the package page to request being added as a maintainer.

[2018-08-17 09:22] pauby opened #399 "RFM - multipar"
https://chocolatey.org/packages/multipar.install/1.2.9.9

Please also see https://www.livebusinesschat.com/smf/index.php?topic=6108.0 which indicates that the multipar.eu site (where the current package downloads the installer from) could be malicious. So any new package should look to use the official download locations (see https://www.livebusinesschat.com/smf/index.php?board=396.0 for those).

[2018-08-17 12:00] temp opened #400 "RFP - Don't Sleep"
http://www.softwareok.com/?seite=Microsoft/DontSleep

Don't Sleep is a small portable Windows program to prevent system shutdown, Standby, Hibernate, Turn Off and Restart.

[2018-08-17 12:01] temp opened #401 "RFP - Poki"
https://pokiapp.com/

Poki is a Pocket client for Windows.

[2018-08-17 12:47] pauby commented on #401
@temp is this only available through the Windows store?

[2018-08-17 13:52] temp commented on #401
Oh, seems like your are right. Didn't think of that.

[2018-08-17 15:35] pauby commented on #401
No problem. Chocolatey can't be used to package Windows Store applications.

[2018-08-17 15:35] #401 closed

[2018-08-18 01:49] AdmiringWorm commented on #399
Or better yet, embed the package as the license allows it (LGPL)

[2018-08-20 10:50] hamzayoussef opened #402 "RFP - Visual Paradigm"
Visual Paradigm is a world-wide leading award-winning enterprise management and software development suite, which provides all the features you needs for enterprise architecture, project management, software development and team collaboration in a one-stop-shop solution.

https://www.visual-paradigm.com/

Community version : https://www.visual-paradigm.com/download/community.jsp

[2018-08-20 11:29] gsmitheidw commented on #383
Tempted to bite but this one will be trick to do because download requires clicking boxes for licence and then logging in. Hosting the package within the nupkg would be possible technically but it's Oracle, so legally that would want to be very clearly defined and agreed in writing.

[2018-08-20 13:40] gsmitheidw commented on #402
Ok i've picked that up - my first community package, I hope I don't regret this. I don't even use the software myself, I just deploy it to our developers. Anyway it's awaiting moderation:

https://chocolatey.org/packages/visualparadigm-ce/15.1

[2018-08-20 15:43] AdmiringWorm commented on #383
Well, since the license doesn't explicitly allow distribution of the installer, it certainly can't be embedded without permission from Oracle.

If there is a requirement to click the accept license boxes, this certainly complicates things. But maybe it could be worked around similiar in how it's done with the [jre](https://chocolatey.org/packages/jre8) and [jdk](https://chocolatey.org/packages/jdk

[2018-08-21 23:20] Huevos-y-Bacon opened #403 "RFP - Egnyte Connect / Egnyte Drive"
**Egnyte Connect / Egnyte Drive**

Enterprise cloud storage - Windows desktop agent

- [Mass Deployment Guide, incl uninstall](https://helpdesk.egnyte.com/hc/en-us/articles/216688268-Egnyte-Connect-Desktop-App-for-Windows-Mass-Deployment-Guide)
- [MSI installer](https://helpdesk.egnyte.com/hc/en-us/articles/205237150-Download-Desktop-App-Egnyte-Drive-Installers)

[2018-08-24 16:18] bhillcv opened #404 "VBScritpt for Microsoft Windows Active Directory 2012"
Good afternoon people.

I have a vbs script that runs at the time of the user logon that takes the information from the station and time of the last logon and enters in the field Description of the User in the AD.

See below:
![captura de tela de 2018-08-24 11-50-40](https://user-images.githubusercontent.com/35144537/44595661-18f33c80-a7a0-11e8-91de-fe31b7602f56.png)

﻿

The script in vbs is this:

[2018-08-24 16:19] pauby commented on #404
@bhillcv Can you please update your message in English and provide a URL for download of the package?

[2018-08-24 16:30] bhillcv commented on #404
Done

[2018-08-24 17:31] pauby commented on #404
@bhillcv I think you have this wrong. This is not a support forum for WIndows, VB Script, programming or anything else. This is to request a new maintainer for a Chocolatey package or a new Chocolatey package be created by a maintainer.

[2018-08-24 17:31] #404 closed

[2018-08-27 10:15] gsmitheidw commented on #402
This is now approved and available, issue can be closed

[2018-08-27 10:32] #402 closed

[2018-08-27 11:43] #394 closed

[2018-08-27 11:43] #393 closed

[2018-08-27 11:44] #392 closed

[2018-08-27 11:44] #391 closed

[2018-08-27 11:45] #388 closed

[2018-08-27 11:48] pauby commented on #376
@Foadsf Where are we with this one?

[2018-08-28 12:35] ComFreek commented on #376
@pauby I don't know @Foadsf's status on this, but I tried working on it and got stuck in building it on Windows, see https://github.com/mkeeter/antimony/issues/195#issuecomment-406175974. It seems to be a Boost (linking) issue, I am not sure where exactly the error stems from: https://github.com/mkeeter/antimony/issues/178#issuecomment-406779755

[2018-08-29 18:11] franklinyu opened #406 "RFP - ArchWSL"
https://github.com/yuk7/ArchWSL

Run Arch instead of Ubuntu on WSL.

[2018-08-31 08:38] vintagesucks opened #407 "RFP - WLAN Optimizer"
**WLAN Optimizer**

![WLAN Optimizer][screenshot]

About: http://www.martin-majowski.de/index.html
Download: http://www.martin-majowski.de/downloads.html

[screenshot]: http://www.martin-majowski.de/mediapool/61/613886/resources/37311388.gif "WLAN Optimizer"

[2018-09-01 03:15] bcurran3 commented on #169
I use this sometimes to double check for program updates that lead to package updates that I maintain. I guess I'll pick it up.

[2018-09-01 15:17] jansohn opened #408 "RFP - spotlight-desktop"
About: https://wallpaper.onlineth.com/
Download: https://github.com/onlineth/Spotlight-Desktop/releases

[2018-09-01 18:57] wget commented on #406
Interested in this as well. I'm a fervent Arch Linux user and will apply to become a Trusted User in the weeks to come, maybe adding this to choco would help me in getting accepted.

[2018-09-01 19:06] franklinyu commented on #406
@wget Alternative solution:

https://github.com/bilguun0203/WSL-ArchLinux

[2018-09-01 19:09] wget commented on #406
Thanks for the idea. I remember having discussed with the guy who initially wrote the Arch Linux port to Windows even before WSL was a thing... Wondering if he is part from one of these solution...

[2018-09-03 02:34] bcurran3 commented on #169
I've got the package done (v5.7.4.401) and ready to publish, but I haven't been added as maintainer yet.

[2018-09-03 07:41] gep13 commented on #169
@bcurran3 have you requested to be added as a maintainer of this package?  I don't see an email about it.

[2018-09-03 10:12] bcurran3 commented on #169
No. For some reason I always assume if I state it here, action will be taken.

I just requested maintainership via "normal" channels; i.e. e-mail generated to admins.

[2018-09-03 11:29] bcurran3 commented on #169
Done.

https://chocolatey.org/packages/sumo/5.7.4.401

[2018-09-03 15:14] gep13 commented on #169
While that "may" happen, it can't be relied upon.  The agreed process is to ask via the Contact Admins link, as that has the best chance to get actioned.

[2018-09-03 15:15] #169 closed

[2018-09-03 15:42] AdmiringWorm commented on #169
This is also mentioned in the README.md for this repository as well:

[2018-09-05 17:04] chantisnake opened #409 "RFM - Anaconda 3"
Download page: https://www.anaconda.com/download/
Latest Download link:
- 64bits: https://repo.anaconda.com/archive/Anaconda3-5.2.0-Windows-x86_64.exe
- 32bits: https://repo.anaconda.com/archive/Anaconda3-5.2.0-Windows-x86.exe

See here for Params:
https://github.com/chantisnake/chocolateyPackage/blob/master/anaconda-choco/anaconda3/Versions/4.1.0/tools/chocolateyinstall.ps1

Chocolatey Package Pa

[2018-09-05 17:06] chantisnake opened #410 "RFM - Anaconda 2"
Download page: https://www.anaconda.com/download/
Latest Download Link:
- 64 bits: https://repo.anaconda.com/archive/Anaconda2-5.2.0-Windows-x86_64.exe
- 32 bits: https://repo.anaconda.com/archive/Anaconda2-5.2.0-Windows-x86.exe

For params, see here:
https://github.com/chantisnake/chocolateyPackage/blob/master/anaconda-choco/anaconda2/Versions/4.1.1/tools/chocolateyinstall.ps1

[2018-09-05 17:12] chantisnake opened #411 "RFM - Fstar"
I am deprecating all my packages, you can find previous version of Fstar packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/FStar-choco

[2018-09-05 17:15] pauby commented on #410
Chocolatey package page https://chocolatey.org/packages/anaconda2

@chantisnake Are you giving up maintainership of the package?

[2018-09-05 17:17] chantisnake commented on #410
Yes, I am giving up maintainership for all my packages.
Feel sad about leaving this community.

[2018-09-05 17:18] pauby commented on #409
Chocolatey package page https://chocolatey.org/packages/anaconda3

@chantisnake are you giving up maintainership?

[2018-09-05 17:19] pauby commented on #411
https://chocolatey.org/packages/FStar

[2018-09-05 18:08] chantisnake opened #412 "RFM - you-get"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).

  You can find previous version of you-get packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/you-get-choco
  The chocolatey package page for you-get : https://chocolatey.org/packages/you-get

[2018-09-05 18:10] chantisnake opened #413 "RFM - shadowsocks-windows"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).

  You can find previous version of shadowsocks-windows packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/shadowsocks-windows-choco
  The chocolatey package page for shadowsocks-windows : https://chocolatey.org/packages/shadowsocks-windows

[2018-09-05 18:17] chantisnake opened #414 "RFM - Rocket.Chat.Electron"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of Rocket.Chat.Electron packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/Rocket.Chat.Electron-choco
  The chocolatey package page for Rocket.Chat.Electron : https://chocolatey.org/package

[2018-09-05 18:17] chantisnake opened #415 "RFM - hyper"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of hyper packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/hyper-choco
  The chocolatey package page for hyper : https://chocolatey.org/packages/hyper

  (This issue is created automatical

[2018-09-05 18:17] chantisnake opened #416 "RFM - spek"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of spek packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/spek-choco
  The chocolatey package page for spek : https://chocolatey.org/packages/spek

  (This issue is created automatically,

[2018-09-05 18:17] chantisnake opened #417 "RFM - bitdiffer"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of bitdiffer packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/bitdiffer-choco
  The chocolatey package page for bitdiffer : https://chocolatey.org/packages/bitdiffer

  (This issue is cre

[2018-09-05 18:17] chantisnake opened #418 "RFM - SimpleDnsCrypt"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of SimpleDnsCrypt packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/SimpleDnsCrypt-choco
  The chocolatey package page for SimpleDnsCrypt : https://chocolatey.org/packages/SimpleDnsCrypt

[2018-09-05 18:17] chantisnake opened #419 "RFM - i2pd"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of i2pd packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/i2pd-choco
  The chocolatey package page for i2pd : https://chocolatey.org/packages/i2pd

  (This issue is created automatically,

[2018-09-05 18:17] chantisnake opened #420 "RFM - Git-Credential-Manager-for-Windows"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of Git-Credential-Manager-for-Windows packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/Git-Credential-Manager-for-Windows-choco
  The chocolatey package page for Git-Credential-Manager-fo

[2018-09-05 18:17] chantisnake opened #421 "RFM - rssguard"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of rssguard packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/rssguard-choco
  The chocolatey package page for rssguard : https://chocolatey.org/packages/rssguard

  (This issue is created

[2018-09-05 18:17] chantisnake opened #422 "RFM - FStar"
I am deprecating all my [packages](https://github.com/chantisnake/chocolateyPackage).
  Therefore I am giving up my maintainer ship for all my packages.

  You can find previous version of FStar packages here: https://github.com/chantisnake/chocolateyPackage/tree/master/FStar-choco
  The chocolatey package page for FStar : https://chocolatey.org/packages/FStar

  (This issue is created automatical

[2018-09-05 19:30] pauby commented on #411
Duplicate of #422 (keeping that one as has GH link to maintainers repo)

[2018-09-05 19:30] #411 closed

[2018-09-06 02:33] r4sas commented on #419
I'm ready to take the baton in maintenance of that package.
Username at site: r4sas.

[2018-09-06 07:11] pauby commented on #419
@r4sas Can you contact the Site Admins using the link on the left side of the package page?

[2018-09-06 10:03] pauby opened #423 "RFP - hugo-extended"
Hugo Extended package (not the normal Hugo) https://github.com/gohugoio/hugo/releases

I will pick this up.

[2018-09-06 18:11] r4sas commented on #419
@pauby, wrote just now.

[2018-09-06 18:39] pauby commented on #419
@r4sas Added you as a maintainer.

[2018-09-06 19:44] r4sas commented on #419
Thank you.

[2018-09-14 06:42] bitbeans commented on #418
@chantisnake

You can add me as a maintainer if you like.
Many thanks for your work! :)

https://chocolatey.org/profiles/bitbeans

[2018-09-15 20:00] chantisnake commented on #418
You have been added.

[2018-09-17 14:35] samvdkris opened #424 "RFP - Godot"
A really cool open-source 2D/3D game engine that has pretty active development. Would be great if someone more experienced could add it to chocolatey.

https://godotengine.org/

[2018-09-19 15:59] chantisnake commented on #410
@teknowledgist, you have been added to the maintainer of anaconda 2

[2018-09-19 16:11] teknowledgist commented on #410
I'll do my best!  :smile:

[2018-09-19 16:19] #410 closed

[2018-09-19 16:19] #409 closed

[2018-09-21 23:37] b16r05 opened #425 "[Package Request] Lightbulb"
I want to request a package called Lightbulb.
Everything about it is here: https://github.com/Tyrrrz/LightBulb : )

[2018-09-21 23:41] b16r05 opened #426 "[RFP] BBC iplayer"
I want to request a package called BBC iplayer.
Everything about it is here: https://www.bbc.co.uk/iplayer/install
Note that this is not an open source package.
I assume it should work as other packages, but not quite sure.

[2018-09-22 09:43] pauby commented on #425
This is already a package on the Chocolatey Community Repository - https://chocolatey.org/packages/lightbulb

[2018-09-22 09:43] #425 closed

[2018-09-22 18:16] b16r05 commented on #425
Late night... forgot the 't' in light while searching! Thank you!

[2018-09-22 19:48] pauby commented on #419
@r4sas How are you getting on with this package?

[2018-09-22 19:50] #381 closed

[2018-09-22 19:51] #288 closed

[2018-09-22 19:51] #258 closed

[2018-09-22 20:04] r4sas commented on #419
As @chantisnake said [here](https://github.com/PurpleI2P/i2pd/issues/1237#issuecomment-419463102), I'm waiting new release to publish. All ready in new [repo](https://github.com/r4sas/chocolatey-packages/tree/master/i2pd).

[2018-09-22 23:49] dreamss opened #427 "RFP - Startup organizer"
https://metaproducts.com/products/startup-organizer

Startup Organizer is a Windows 95/98/ME/NT/2000/XP/2003/Vista/7 program that was developed to provide quick access to all of the programs that are automatically started when you turn on or logon to your computer.

[2018-09-22 23:49] dreamss opened #428 "RFP - EVGA precision"
https://www.evga.com/precisionxoc/

The next generation of EVGA Precision has arrived with EVGA Precision XOC. This software allows you to fine tune your NVIDIA graphics card, maximizing cooling and performance. This new version of Precision is built for the latest NVIDIA graphics cards and combines the best of EVGA Precision and EVGA OC Scanner to give you never before seen overclocking features

[2018-09-23 00:10] dreamss opened #429 "RFP - EVGA ELEET"
NOT ELEETX, Older version for x58 motherboards

ELeetTune_1104_setup.exe

https://1drv.ms/u/s!AudyZ2x3gFfZjPxqY9YJZ2j9gOiwWQ

[2018-09-23 00:18] dreamss opened #430 "RFP - Acronis Virtual Disk Driver"
Easy support for 3+tb HDD, it creates a 2TB disk and a vrtual one with rest of the space.  ffee

https://kb.acronis.com/content/38937

[2018-09-23 00:23] dreamss opened #431 "RFP - Acronis Drive Monitor"
Acronis Drive Monitor is a free, downloadable software application developed by Acronis to monitor server, workstation and PC hard disk drives.

Great smart monitor tool that can support custom controller devices with   command line or scripts, see https://kb.acronis.com/content/9698

Download: https://kb.acronis.com/content/58078

[2018-09-23 07:33] pauby commented on #429
@dreamss That download location is a OneDrive folder. That's not a suitable location to take a download from for the package. In order to embed it, we need a license that allows it. Where did the software come from and does the license allow redistribution?

[2018-09-23 07:36] pauby commented on #428
@dreamss Do you have a download location for the software that doesn't require you to login?

[2018-09-23 10:26] dreamss commented on #431
actually while not specficly listed it supports any windows NT os, runs great on windows 10.

it does not really need software updates imo

[2018-09-23 10:28] dreamss commented on #428
https://www.techspot.com/downloads/6973-evga-precision-xoc.html ?

[2018-09-23 10:35] dreamss commented on #429
https://virustotalcloud.appspot.com/nui/index.html#/file/353785bbc78af950cbab516d864d78635f378f96a07f25f8e86bceb083f252f6/detection

[2018-09-23 10:52] pauby commented on #429
@dreamss Appreciate that is a mirror, however it's not a usual download location. I'm not saying it can't be used, but I wouldn't be happy with it as a moderator and will ask that question.

In addition, to embed it, we need a specific license saying it can be redistributed. Unfortunately we can't accept anything other than that.

[2018-09-23 13:56] dreamss commented on #429
AHA found the actual file on their page, as u can see crc/md5 matches my prev linked file

http://storage.cdn.evga.com/software/eleet.zip
https://www.evga.com/EVGA/GeneralDownloading.aspx?file=eleet.zip

as far as redist eula? I see NO licence attached to this file AT ALL, BUT u could try asking them directly. call them or email they open 24hr

https://www.evga.com/about/contactus/
https://www.evg

[2018-09-23 13:58] dreamss commented on #428
http://storage.cdn.evga.com/software/EVGA_PrecisionX_OC_Setup_v6.2.7.exe

[2018-09-23 14:07] pauby commented on #429
@dreamss That's not the way it works. If there is no explicit redistribution license then it can't be redistributed.

[2018-09-23 21:07] #420 closed

[2018-09-24 13:27] b16r05 opened #432 "RFP - Davmail"
I want to request an open source package called Davmail.
Details page here: http://davmail.sourceforge.net/
Download files here: https://sourceforge.net/projects/davmail/files/
Source code here: https://sourceforge.net/p/davmail/code/HEAD/tree/

[2018-09-25 16:32] b16r05 opened #433 "RFM - avirafreeantivirus"
Avira free antivirusis already in the chocolatey repo: https://chocolatey.org/packages/avirafreeantivirus

Looks like no one is maintaining it.

Current issue with installation is that user interaction is required as default installation from non-secure sources are not allowed, when checksum is not present. Therefore, two issues to tackle are:
1) add checksum
2) add a secure (possibly) HTTPS sourc

[2018-09-25 16:55] pauby commented on #433
The maintainers of this package are known not to be maintaining them.

[2018-09-25 21:52] maphew opened #434 "RFP: Tabula - liberate table data from PDF files"
Tabula is a tool for liberating data tables trapped inside PDF files

**About:** http://tabula.technology
**Releases:** https://github.com/tabulapdf/tabula/releases

**Why:** If you’ve ever tried to do anything with data provided to you in PDFs, you know how painful this is — you can’t easily copy-and-paste rows of data out of PDF files. Tabula allows you to extract that data in CSV format, throug

[2018-09-26 16:49] AdmiringWorm commented on #433
A note for anyone wanting to pick this up, you'll need to make use of authotkey (or similiar) to be able to do an unattended install

[2018-09-26 17:00] swonder900 opened #435 "RFP Adobe Stack (Photoshop, Illustrator, ...)"
The Adobe software suite (Photoshop, Illustrator, InDesign, ...) is one of the most popular (propertiary) software products in industry use.

Since Adobe doesn't use "traditional setups" but instead an web installer / download manager this might become a bit tricky.
I recommend installing the 30 day trial. After installing the user can log in and thus enable the license.

Since "stack" is a bit va

[2018-09-26 17:48] AdmiringWorm commented on #435
please use 1 issue per software, in that case we can close a issue single issue when that exact software is published on chocolatey.org

[2018-09-27 08:00] pauby commented on #435
@swonder900 That URL you provide only works for Photoshop (or I'll clarify that - _I_ could only get it to work for Photoshop). If you actually click on it as is - https://prod-rel-ffc-ccm.oobesaas.adobe.com/adobe-ffc-external/core/v1/wam/download?sapCode=PHSP&productName=[ExactProductName] - it downloads the Photoshop installer. If you change `{ExactProductName}` to `Illustrator` for example, it

[2018-09-27 08:02] #423 closed

[2018-09-27 08:14] pauby commented on #433
Good examples would the [Adaware Free Antivirus package](https://chocolatey.org/packages/ad-awarefreeantivirus) ([Package Source](https://github.com/pauby/ChocoPackages/tree/master/automatic/ad-awarefreeantivirus)) or [Veracrypt](https://chocolatey.org/packages/veracrypt) ([Package Source](https://github.com/kendaleiv/chocolatey-veracrypt))

[2018-09-27 08:16] pauby commented on #429
Ignore previous question - you addressed that [here](https://github.com/chocolatey/chocolatey-package-requests/issues/429#issuecomment-423818399) - my bad.

[2018-09-27 08:17] pauby commented on #406
@wget Where are we with this one? It's still set to be available so I'm wondering if you've picked it up and are working on it?

[2018-09-27 08:36] pauby commented on #23
Can we get agreement to close this issue or progress a way forward? Issue was originally raised 2 years ago.

[2018-09-28 03:20] franklinyu opened #436 "RFP - openjdk11"
https://jdk.java.net/11/

There is [concern about Oracle JDK](https://www.reddit.com/r/programming/comments/9j25je/do_not_fall_into_oracles_java_11_trap/), so I think OpenJDK would be useful in addition to future `javaruntime` 11.

[2018-09-28 14:43] franklinyu commented on #436
Should the token be `openjdk` or `openjdk11` like `jdk8`?

[2018-09-28 15:11] pauby commented on #436
@franklinyu My understanding of JDK is that most people tend to stick to major releases. So an app will be compatible with JDK7 for example. So a `choco upgrade` would upgrade all the point releases for v7 (7.1, .3, .9 etc.). So you can keep doing a `choco upgrade all` and not hit any major compatibility problems (in theory). But if you just have `openjdk` then when 8 comes out it will upgrade on

[2018-09-28 16:03] joachimschmidt557 commented on #321
I'll pick up Loop Drop then.

[2018-09-28 20:00] gep13 commented on #436
@franklinyu Please note that there is already an `openjdk` package in moderation:

https://chocolatey.org/packages/openjdk

[2018-09-28 20:10] franklinyu commented on #436
@gep13 Thanks a lot. The package has a lot of things wrong by now (the version is `OpenJDK 11.0`, wat); let's see how it go through.

[2018-09-28 21:11] joachimschmidt557 commented on #321
The package is submitted and awaiting approval.

[2018-09-29 16:34] Sierra1011 commented on #414
I volunteer as tribute - I've been using choco more and more recently and rocketchat was actually my PoC for using choco in production. Happy to take over and/or help out.

[2018-09-29 16:47] pauby commented on #414
@sierra1011 can you click the Contact Site Admins link on the package page and we can get you added?

[2018-09-29 17:09] Sierra1011 commented on #414
Done.

[2018-10-01 08:37] joachimschmidt557 commented on #321
The package is approved.

[2018-10-01 08:37] #321 closed

[2018-10-02 09:14] vintagesucks opened #437 "RFP - Brandy"
**Brandy**

About / Download: https://getbrandy.io/

[2018-10-02 16:14] wget commented on #406
On my todo. Will publish a note when I will have something to show. Until now, if someone faster than me comes up with a solution, feel free to adopt his/her solution instead.

[2018-10-02 21:01] pauby opened #438 "RFM - cmder"
https://chocolatey.org/packages/cmder

[2018-10-02 21:47] wmDevCodes commented on #186
I'll be happy to take this over

[2018-10-03 12:20] joachimschmidt557 commented on #310
The package is pushed and awaiting review: https://chocolatey.org/packages/mockoon/1.1.0

[2018-10-03 15:41] franklinyu opened #439 "RFP - diff-highlight"
https://github.com/git/git/tree/master/contrib/diff-highlight

This is part of Git, but [Git for Windows does not ship it](https://github.com/git-for-windows/MINGW-packages/blob/a1e0295788fab004dd3acd234edf822861c7f135/mingw-w64-git/PKGBUILD#L164-L170). Not sure whether this can be packaged?

If this is packaged, it should depends on Git. Shall version be just dates or same as Git?

[2018-10-03 15:52] pauby commented on #439
It's just a Perl script (by the looks of things) so don't see any reason it can't be packaged. I would suggest it keeps the same version as the version of Git that last updated it.

[2018-10-03 16:02] pauby commented on #186
@wmDevCodes If @brianmego hasn;t added you as a maintainer can you click on the 'Contact Site Admins' link from the package page to request it?

[2018-10-03 17:44] franklinyu commented on #439
Ok, but then it would be difficult to automate. It is trivial to get [latest updates of a file](https://github.com/git/git/commits/master/contrib/diff-highlight), but “finding a tag that contains specific commit” isn't trivial. The best way I can think of is to clone the repository and [run local Git command](https://stackoverflow.com/questions/7923091/how-to-list-all-tags-that-contain-a-commit).

[2018-10-03 17:49] pauby commented on #439
How often is it actually going to / does it change?

[2018-10-03 18:36] wmDevCodes commented on #186
@pauby .... I see that sqlyog was pulled from choco. Do you want to keep the files under @brianmego github page? Or can I create my own?

[2018-10-03 19:03] pauby commented on #186
@wmDevCodes It's [here](https://chocolatey.org/packages/sqlyog) - or am I misunderstanding?

If you are taking over maintenance then I'd suggest forking it from @brianmego and continuing with it on your own.

[2018-10-03 19:14] wmDevCodes commented on #186
for some reason the choco page failed to load up. It's there now 👍 . Forking done. Thank you @pauby .

[2018-10-03 20:36] franklinyu commented on #439
Not often; I guess once or twice a year. I'll update it manually.

[2018-10-04 04:30] #436 closed

[2018-10-04 04:36] franklinyu commented on #63
I think this issue can be re-opened. skyguy94/chocolatey-packages#13 and skyguy94/chocolatey-packages#16 is open for quite some time. I wrote to maintainer through “contact maintainer” today, but I doubt it would be any better than GitHub issue and pull request.

[2018-10-04 15:31] chantisnake commented on #415
Can I have your chocolatey Id please?

[2018-10-04 18:14] joachimschmidt557 commented on #415
My ID is: joachim.schmidt557 (https://chocolatey.org/profiles/joachim.schmidt557)

[2018-10-04 18:16] chantisnake commented on #415
I have added you as a maintainer. Thank you. (That is a long username, by the way)

[2018-10-04 18:27] #415 closed

[2018-10-05 00:11] r4sas commented on #419
Submitted new version.

[2018-10-05 00:27] #419 closed

[2018-10-08 01:54] franklinyu commented on #330
I have been maintaining this package. Closing.

[2018-10-08 01:54] #330 closed

[2018-10-08 02:12] FranklinYu opened #440 "RFP - little-fighter-2"
http://lf2.net/

This is a (very old) video game.

[2018-10-08 03:28] franklinyu commented on #440
All right, I guess it’s more like “Windows 10”…

[2018-10-09 15:55] dimqua opened #441 "RFP - TAP-Windows"
TAP-Windows provides virtual TAP device functionality on the Windows OS. It is installed in the C:\Program Files\TAP-Windows folder and is required by your VPN software to function.

TAP devices are virtual network kernel devices supported entirely in software – and not backed up by hardware network adapters. TAP drivers are used for TAP devices to work and they are designed with low-level kernel

[2018-10-10 08:49] JonasDralle opened #442 "RFP - PowerFolder"
Sync Client for PowerFolder (similar to the `nextcloud-client` or `dropbox` package).

Download Page: https://www.powerfolder.com/download-powerfolder-file-sync/
latest Windows installer: https://my.powerfolder.com/dl/firSoD3LMSiXaonvfcs2TQf/PowerFolder_Latest_Installer.exe

[2018-10-11 19:47] franklinyu opened #443 "RFM - MobaXTerm"
Latest package is [10.4](https://chocolatey.org/packages/MobaXTerm/10.4). Maintainer pushed [10.9](https://chocolatey.org/packages/MobaXTerm/10.9) but didn't take any action about the testing result. See also jivkok/Chocolatey-AutomaticPackages#19.

[2018-10-12 05:54] Mightyretro opened #444 "Open Shell (Fork of Classic shell)"
Hi guys :)

i would love to see this software in choco repo soon becouse how love windows start menu now days :(...

https://github.com/Open-Shell/Open-Shell-Menu/releases

Kind Regards // Guys

[2018-10-12 07:59] pauby commented on #443
Have you used the triage process (https://chocolatey.org/docs/package-triage-process to contact the maintainer?

[2018-10-12 15:52] gilwi opened #445 "RFP - OrientDB"
Hi,

I did not see any existing RFP for OrientDB so I opened one.
I have an open source project that uses OrientDB. As OSS projects needs contributors, I think installation must be as easy as it can be for people to focus on their ideas.
All other software components of the project are already installable with chocolatey, so it would be great to be able to install the whole requirements within a c

[2018-10-12 16:16] pauby commented on #445
@gilwi Can you post a link to the project and the download?

[2018-10-12 19:15] gilwi commented on #445
Sure!

Project : https://github.com/iorga-group/debattons
OrientDB Download Page : https://orientdb.com/download-2/

Thank you for answering so fast !

[2018-10-12 22:57] b16r05 commented on #433
Here are two links showing the history of how often updates are released from avira for avira free antivirus.

FileHippo: https://filehippo.com/download_avira/history/ [more up to date]
FileHorse: https://www.filehorse.com/download-avira/

Maybe the maintainer can only update so often. I mean, just add major versions, because if I am not mistaken, avira auto-updates itself and asks user for a rest

[2018-10-12 23:05] b16r05 opened #446 "RFM - Adobe Shockwave Player"
Not too bad, but the current version on choco [ 12.2.8.198 ] is just over a year old. Maintainer is unresponsive as various messages have been sent: https://chocolatey.org/packages/adobeshockwaveplayer

Latest version is: 12.3.4.204
https://en.wikipedia.org/wiki/Adobe_Shockwave_Player

[2018-10-13 08:17] pauby commented on #446
@b16r05 if you're looking to take over this package please use the 'Contact Site Admins' link from the package page.

[2018-10-13 08:18] pauby commented on #435
No update. Closing.

[2018-10-13 10:46] dimqua commented on #121
Is discontinued.

[2018-10-13 10:46] #121 closed

[2018-10-13 10:47] dimqua commented on #211
Is discontinued.

[2018-10-13 10:47] #211 closed

[2018-10-13 18:10] pauby opened #447 "RFM - tor"
https://chocolatey.org/packages/tor

If you pick this up please submit a Pull Request to remove the package from [dtgm repository](https://github.com/dtgm/chocolatey-packages/tree/master/automatic/tor/) and the [Ketarin file](https://github.com/dtgm/chocolatey-packages/blob/master/ketarin/tor.xml)

[2018-10-13 19:02] bcurran3 opened #448 "Issues opened by Pauby (assumed all of the Chocolatey Team) can't be responded to"
RE: https://github.com/chocolatey/chocolatey-package-requests/issues/447
RE: https://github.com/chocolatey/chocolatey-package-requests/issues/438

I can't respond to any of the RFM/RFP/etc that are opened by Pauby.

I'm guessing there is a permission problem when an issue is created by a member of the Chocolatey Team.

![download](https://user-images.githubusercontent.com/14026600/46908966-cbfa2f8

[2018-10-13 19:05] bcurran3 commented on #448
REF: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/chocolatey/yYZ2ScqlorU/N-w384-UBgAJ
REF: https://chocolatey.org/packages/tor
REF: https://chocolatey.org/packages/tor-browser

Pauby,

RE: https://github.com/chocolatey/chocolatey-package-requests/issues/447

Could you please post the request that whomever picks it up to include the binary?  It's allowed, see:
https://ww

[2018-10-13 21:42] b16r05 opened #449 "RFP - Clementine"
I want to request an open source package called Clementine.

Details page: https://www.clementine-player.org/
Download page: https://www.clementine-player.org/downloads
Github page: https://github.com/clementine-player/Clementine

[2018-10-13 21:43] b16r05 commented on #432
Nevermind, this is already in: https://chocolatey.org/packages/clementine

[2018-10-13 21:43] b16r05 commented on #449
https://chocolatey.org/packages/clementine

[2018-10-14 03:02] #449 closed

[2018-10-14 03:07] pauby commented on #448
@bcurran3 This repo is for package requests. If you're having issues in here then there are alternative contact methods to use.

If you have the time to do that it would be appreciated.

[2018-10-14 03:07] #448 closed

[2018-10-14 06:46] JonasDralle opened #450 "RFM - JetBrains CLion"
## Why open for maintainers?

Package [`clion-ide`](https://chocolatey.org/packages/clion-ide) is two years outdated. Maintainer unreachable (account seems to be deserted).

## Where do I download it from directly?

Current version available at https://download-cf.jetbrains.com/cpp/CLion-2018.2.4.exe

I _assume_ there's some easy way to get the most recent version to automatically build the packag

[2018-10-14 06:49] pauby commented on #450
Package is at https://www.chocolatey.org/packages/clion-ide

@JonasDralle Have you followed the [Package Triage Process](https://chocolatey.org/docs/package-triage-process)?

[2018-10-14 08:35] JonasDralle commented on #450
<sub>1.</sub> I was unable to contact user `MichaelsJP` due to lacking contact option son his profile. I looked at his profile while logged in.

<sub>2.</sub> I have not attempted to fix it myself (sorry)

<sub>3.</sub> I have talked about this in Gitter via an throwaway account associated with `aq9nyzug8ds@temp.mailbox.org`

[2018-10-14 08:36] pauby commented on #450
@JonasDralle Use the 'Contact Maintainers' link on the package page to contact the maintainer.

[2018-10-14 08:43] JonasDralle commented on #450
done.

[2018-10-14 08:45] pauby commented on #450
@JonasDralle Thanks. If you've not heard anything back after a few days e can make this available to maintainers.

[2018-10-15 00:51] brianmego commented on #186
Hi there. Sorry I was late getting back to you. I do not particularly have
interest in maintaining this anymore, so it definitely makes sense to move
it to your own github account. With that said, if there's something I need
to do to give you official control in chocolatey, I'm happy to do so.

Brian

On Wed, Oct 3, 2018 at 2:14 PM Werner Mayer <notifications@github.com>
wrote:

[2018-10-15 06:02] wmDevCodes commented on #186
Thanks for the reply :) No problem. Everything is done as far as taking
over is concerned.... I am currently waiting for the updated package to
be moderated.

[2018-10-15 08:34] pauby opened #451 "RFM - adwcleaner"
https://chocolatey.org/packages/adwcleaner

[2018-10-15 08:47] pauby commented on #186
I've just approved this package now so I'll go ahead and close this issue.

Thanks for picking it up @wmDevCodes

[2018-10-15 08:47] #186 closed

[2018-10-15 10:57] nicolafarina commented on #261
I can take it.

[2018-10-16 07:13] nicolafarina commented on #261
I wrote to the developer yesterday to explore his support and to having some details about download repository. Waiting for an answer.

[2018-10-16 07:18] nicolafarina opened #452 "RFP - Directory Opus"
Directory Opus is a complete replacement for Explorer, with far more power and functionality than any other file manager available today.

Would be great having it on Chocolatey.

[2018-10-16 07:19] nicolafarina commented on #452
Started talking with developers so I can easily maintain it.

[2018-10-16 07:21] nicolafarina opened #453 "RFP - Comfort Clipboard"
The most complete and useful clipboard manager ever!

Absolutely needed on Chocolatey.

[2018-10-16 10:38] pauby commented on #453
@nicolafarina Can you post URL for the project? I noted what you said above - is there no download location?

[2018-10-16 10:38] pauby commented on #452
@nicolafarina Project URL and download location?

[2018-10-16 10:44] nicolafarina commented on #452
Puaby I'll start building the package as soon as I receive a feedback from developers, official download location is not clear to me (for versioned setup files).

I'll update you as soon as possible.

[2018-10-16 10:45] nicolafarina commented on #453
Puaby I'll start building the package as soon as I receive a feedback from developers, official download location is not clear to me (for versioned setup files).

I'll update you as soon as possible.

[2018-10-16 10:46] pauby commented on #452
@nicolafarina You don't need to raise an issue here if you are going to build the package yourself. Requesting a package is really aimed at those who want a package created but don;t know where to start so we make it available to other current and potential maintainers.

[2018-10-16 10:47] pauby commented on #453
@nicolafarina See [comment here](https://github.com/chocolatey/chocolatey-package-requests/issues/452#issuecomment-430190853)

[2018-10-16 10:57] nicolafarina commented on #452
I misunderstood the meaning of this section, my fault. Apologize me.

[2018-10-16 10:57] nicolafarina commented on #453
I misunderstood the meaning of this section, my fault. Apologize me.

[2018-10-16 11:00] pauby commented on #453
@nicolafarina No need to apologise. If you wanted to keep visibility of a package you are creating yourself, for example if there are people you want to keep updated on it's progress, then this would be the place to create it.

[2018-10-16 11:13] nicolafarina commented on #453
That was definetely my intent.

[2018-10-16 15:38] pauby commented on #131
@AdmiringWorm I can't seem to find that package - have you got a URL?

[2018-10-16 15:39] AdmiringWorm commented on #131
@pauby https://chocolatey.org/packages/atmel-studio

[2018-10-16 15:39] pauby commented on #131
@AdmiringWorm ... I tried everything but the dash in the middle. Sods law....

[2018-10-16 15:41] AdmiringWorm commented on #131
hehe, it's always the one you don't try.

BTW, I've started slowly looking into creating a package for this one (so far looks like it would require a exemption from automated testing though 😢)

[2018-10-16 15:42] pauby commented on #131
Awesome. That's another one off the list. I was going to come here and say that the gist from the last rejection will have been purged by now so whoever takes it on will need to start from scratch... but you're doing that anyway!

[2018-10-16 15:46] AdmiringWorm commented on #131
yup, I am. Almost regret it already though.

Just installed the program in a VM (through a temp package) to figure out the dependencies, and got quite the surprise.

I'm always amazed when a program have more dependencies installed than Visual Studio, which this one do.

[2018-10-16 15:47] pauby commented on #131
What in earth does it need?!?!

[2018-10-16 15:49] AdmiringWorm commented on #131
well, so far from what it installed itself, pretty much all of the .NET frameworks between 3.5 and 4.6, vcredist from 2010 to 2015 (maybe even 2017), Microsoft Build tools 14.0 and a few more that I have no idea what they are.

[2018-10-16 15:52] AdmiringWorm commented on #131
This includes default runtimes, additional runtimes, debug runtimes, SDK's, etc.

[2018-10-16 16:07] pauby commented on #131
Wow. That's quite a catalogue of, what would appear to be, unnecessary software! Maybe the authors are not really sure themselves to installing everything is the solution?

[2018-10-16 16:12] AdmiringWorm commented on #131
I would think so yes.

Also found a few KB's it needs, that doesn't yet exist on chocolatey.
So in the meantime, I'm putting the work on this package on hold until I've gotten around to creating them.

So far the list of KB's that it needs (and doesn't exist) is:
- [ ] [KB2978092](https://support.microsoft.com/help/2978092)
- [ ] [KB2975719](https://support.microsoft.com/help/2975719)
- [ ] [KB297

[2018-10-16 16:38] AdmiringWorm commented on #101
I've started working on an updated package for this, as such I'm grabbing this 😄

[2018-10-16 16:53] AdmiringWorm commented on #40
looks like a package for this exist, and have already been approved.
As such, I'm closing this one

[2018-10-16 16:53] #40 closed

[2018-10-16 16:54] AdmiringWorm commented on #40
ops, forgot package url: https://chocolatey.org/packages/madvr

[2018-10-16 17:44] #418 closed

[2018-10-16 18:12] AdmiringWorm commented on #422
@chantisnake if you're still interested in stopping maintaining this package, I would be willing to pick this up. chocolatey username is the same as here on github

[2018-10-16 18:59] AdmiringWorm commented on #421
@chantisnake if you're still interested of quitting the maintenance of this package, I would be willing to take it off your hands.
My chocolatey username is the same as here on github.

[2018-10-16 19:23] AdmiringWorm commented on #408
I'm now looking into creating a package for this software

[2018-10-16 19:51] AdmiringWorm commented on #408
A package is in the process of getting published to chocolatey.org right now.
It will be available at: <https://chocolatey.org/packages/spotlight-desktop>

There is a known problem with the package though, it installs by default to the users application data directory. Unfortunately I was unable to find a install switch to override this, for now.

[2018-10-16 19:54] AdmiringWorm commented on #101
A new version have been pushed to chocolatey.org and is currently waiting approval.

[2018-10-17 09:53] joachimschmidt557 commented on #310
The package is approved.

[2018-10-17 09:53] #310 closed

[2018-10-17 13:19] joachimschmidt557 commented on #416
I can become maintainer of this package. My chocolatey username is `joachim.schmidt557`

[2018-10-17 13:20] joachimschmidt557 commented on #424
I can pick up godot.

[2018-10-17 14:12] pauby commented on #424
@joachimschmidt557 Contact the site admins for the packages (I see you are looking at Spek too) and we can get you added.

[2018-10-17 15:47] chantisnake commented on #416
@joachimschmidt557  you have been added

[2018-10-17 15:48] chantisnake commented on #421
@AdmiringWorm  you have been added.

[2018-10-17 15:48] chantisnake commented on #422
@AdmiringWorm  you have been added.

[2018-10-17 15:56] AdmiringWorm commented on #421
@chantisnake
thank you, I'll get out a fix version for the package then.

[2018-10-17 15:56] AdmiringWorm commented on #422
@chantisnake
thank you, I'll get out a fix version for the package then.

[2018-10-18 11:41] AdmiringWorm commented on #422
Fix version have been approved

[2018-10-18 11:41] #422 closed

[2018-10-18 11:41] AdmiringWorm commented on #408
Package have been approved

[2018-10-18 11:41] #408 closed

[2018-10-18 11:42] AdmiringWorm commented on #101
New version have been approved

[2018-10-18 11:42] #101 closed

[2018-10-19 08:12] bcurran3 commented on #452
Great program. Used to use it in the 80's on my Amiga!

[2018-10-19 09:28] bcurran3 commented on #406
https://chocolatey.org/packages/wsl-archlinux

[2018-10-19 10:51] nicolafarina commented on #452
Just for you know, package is up!
https://chocolatey.org/packages/comfortclipboardpro/

P.S. Fixing some description details at the moment, setup version is ok.

[2018-10-19 10:54] nicolafarina commented on #453
Just for you know, package is up!
https://chocolatey.org/packages/comfortclipboardpro/

P.S. Fixing some description details at the moment, setup version is ok.

[2018-10-19 12:18] plroebuck opened #454 "RFM - Growl"
[https://chocolatey.org/packages/Growl](https://chocolatey.org/packages/Growl)

[2018-10-19 13:43] pauby commented on #454
@plroebuck Have you followed the Package Triage Process and contacted the maintainers in the first instance?

[2018-10-19 14:01] plroebuck commented on #454
Attempted contact with [both via GitHub](https://github.com/mochajs/mocha/issues/3483#issuecomment-429853137). No response from either.

From package homepage comments, it's been broken for over two years now.

[2018-10-19 14:52] AdmiringWorm commented on #421
The fix version have now been approved.

[2018-10-19 14:52] #421 closed

[2018-10-19 14:56] pauby commented on #454
Can you use the 'Contact Maintainers' link on the package page?

[2018-10-19 15:38] AdmiringWorm commented on #453
I see the first version have been approved, as such it's time to close this issue.

[2018-10-19 15:38] #453 closed

[2018-10-19 19:09] plroebuck commented on #454
Done.
But if they haven't fixed the problems in several years, it's kinda obviously unmaintained.

[2018-10-20 16:18] dimqua opened #455 "RFP - Hardentools"
Hardentools is a utility that disables a number of risky Windows features.

https://github.com/securitywithoutborders/hardentools

[2018-10-21 15:45] franklinyu commented on #443
Wrote to the maintainer a week ago. No response yet.

[2018-10-22 15:33] RaiMan opened #456 "RFM - SikuliX 1.1.0"
https://chocolatey.org/packages/sikulix

As the owner of the underlying SikuliX (https://github.com/RaiMan/SikuliX1) I do not want to maintain this package (not familiar with Chocolatey and do not want to be), but I am willing to support new maintainer(s)

[2018-10-23 04:04] #396 closed

[2018-10-23 05:07] JonasDralle commented on #450
There has been no response from maintainer for over a week.

[2018-10-23 08:04] gep13 commented on #450
@JonasDralle can you use the Contact Site Admins link on the package page, to send an official request to help with maintenance of this package, including your username on chocolatey.org.  Thanks

[2018-10-24 13:57] franklinyu commented on #406
`wsl-archlinux` is live. Closing this issue unless someone specifically wants https://github.com/yuk7/ArchWSL.

[2018-10-24 13:58] #406 closed

[2018-10-25 12:55] AdmiringWorm commented on #455
I'm looking into creating a package for this now.

[2018-10-25 13:17] AdmiringWorm commented on #455
Package have been pushed to chocolatey.org
https://chocolatey.org/packages/hardentools/1.0

The pre-release version will also be pushed after the latest stable is approved.

[2018-10-25 13:29] AdmiringWorm commented on #448
@bcurran3 do you still experience this?

I logged into a separate bot account which shouldn't have any elevated permissions in this repository, and everything seemed to work fine.

[2018-10-25 16:50] AdmiringWorm commented on #438
new version have been submitted

[2018-10-25 17:52] bcurran3 commented on #448
No. It was fixed a day or two later. I'm assuming Paul fixed the problem when he closed the issue but didn't mention it.

[2018-10-25 18:59] AdmiringWorm commented on #448
I doubt it.
Could have been a temporary problem with github at the time.

No way to know right now though.

[2018-10-25 19:43] bcurran3 commented on #451
I've been debating with myself about this one for months as it's one of those programs that sometimes gets updated frequently, but than sits a month or two.

I'll step up.

[2018-10-25 20:20] bcurran3 commented on #451
https://github.com/bcurran3/ChocolateyPackages/tree/master/adwcleaner

Done. Will push when made a maintainer.

[2018-10-26 06:48] AdmiringWorm commented on #455
the package have been approved

[2018-10-26 06:48] #455 closed

[2018-10-26 09:56] mkevenaar commented on #299
Hi @pauby
We are already emailing about this :) perhaps we can speed up the process?

Maurice

[2018-10-26 09:57] pauby commented on #299
@mkevenaar In what way? What did you have in mind?

[2018-10-26 09:59] mkevenaar commented on #299
@pauby I am willing to try and create an updated package (automated)

[2018-10-26 10:00] pauby commented on #299
@mkevenaar Just saw your email - if you are happy to try and create it I'll change the labels. If you need any help let us know the [Gitter](https://gitter.im/chocolatey/choco) or [Google Groups](https://groups.google.com/forum/#!forum/chocolatey) are the best places to start.

[2018-10-26 11:42] mkevenaar commented on #299
Hi @pauby I have a package that can be installed without intervention on the chocolate-test-environment vagrant / virtualbox. I'm currently not a maintainer that can push a package, so I would not add it to my git repo just yet. How do you want to proceed?

[2018-10-26 13:03] #424 closed

[2018-10-26 13:04] pauby commented on #299
@mkevenaar Send an email to the Site Admins requesting to be added as a maintainer (and referencing this issue) using the link on the left hand side of the package page.

[2018-10-26 13:08] mkevenaar commented on #299
@pauby I have send the request.

[2018-10-26 15:20] mkevenaar commented on #299
@pauby Thanks for your support, A new package is submitted.

https://github.com/mkevenaar/chocolatey-packages/tree/master/automatic/zerotier-one

[2018-10-26 16:48] luzpaz opened #457 "RFP - FreeCAD development version"
There is a stable version package for FreeCAD at https://chocolatey.org/packages/freecad
The request to is to make a package that the windows users can install, test and utilize all the cutting edge development for FEM Workbench, Path/CAM, etc..etc...
This is also relevant because FreeCAD has such a long release cycle.
Releases can be viewed at https://github.com/FreeCAD/FreeCAD/releases
O.18_pre

[2018-10-28 19:53] FranklinYu opened #458 "RFP - thumbs-viewer"
https://thumbsviewer.github.io/

[2018-10-28 19:56] franklinyu commented on #457
Pre-release and stable release should coexist in the same package. Please contact package maintainer to add pre-release.

[2018-10-28 20:51] luzpaz commented on #457
I've sent a message to the maintainers through the website.

[2018-10-29 01:31] franklinyu commented on #339
https://chocolatey.org/packages/pypy3

[2018-10-29 01:31] #339 closed

[2018-10-29 07:51] AdmiringWorm commented on #438
The new version have been approved

[2018-10-29 07:51] #438 closed

[2018-10-29 10:08] nicolafarina opened #459 "RFM - Screamer Radio"
The package is apparently dead. I can take care of it. https://chocolatey.org/packages/Screamer

Let me know.

[2018-10-29 10:09] nicolafarina commented on #452
The package is available: https://chocolatey.org/packages/directoryopus

[2018-10-29 10:11] nicolafarina commented on #261
Developers don't provide specific download URL for each version, so it need a rapid package maintainer. Actually I can't take anymore packages other than I use daily. Sorry.

[2018-10-29 11:44] pauby commented on #459
@nicolafarina Can you follow the [Package Triage Process](https://chocolatey.org/docs/package-triage-process)

[2018-10-29 11:47] #452 closed

[2018-10-29 11:48] nicolafarina commented on #459
Yep, already wrote to the actual maintainer. I suppose that he doesn't provide support anymore, the package is 4 years old... Anyway, I can wait two days more and follow up here.

Thanks.

[2018-10-29 12:32] pauby commented on #459
@nicolafarina If you've already contacted him using the process there's no point in doing it again!

Drop a note using 'Contact Site Admins' from the package page and we can get you added as a maintainer. Reference this issue too (makes it easier).

[2018-10-29 16:17] franklinyu commented on #443
Maintainer updated the package.

[2018-10-29 16:17] #443 closed

[2018-10-29 18:27] rplhalim opened #460 "RFP - SQL Multi Select"
Installer resides in this website
https://www.yohz.com/sms_details.htm

When using pgadmin and having multiple databases, this program allows me to run the same query on all databases at once.

[2018-10-31 14:25] nicolafarina commented on #459
Done Pauby.

[2018-11-01 20:02] b16r05 opened #461 "RFM - Manuskript"
I want to request an open source package called Manuskript.

Details page here: http://www.theologeek.ch/manuskript/
Download files here: http://www.theologeek.ch/manuskript/download/
Source code here: https://github.com/olivierkes/manuskript

[2018-11-01 20:32] max-stockhausen opened #462 "RFP - X32-Edit"
Download of package: [LINK](https://downloads.music-group.com/software/behringer/X32/X32-Edit_PC_3.2.zip)
On this website: [LINK](https://www.musictribe.com/Categories/Behringer/Mixers/Digital-Mixers/X32-COMPACT/p/P0AAP/downloads)

[2018-11-01 21:35] plroebuck commented on #454
Well?

[2018-11-01 21:41] plroebuck commented on #333
How is this different from #443?

[2018-11-01 22:15] pauby commented on #454
@plroebuck theres a question mark at the end of that. But no question.

[2018-11-01 22:17] pauby commented on #333
@plroebuck that other issue is closed.

[2018-11-02 10:00] plroebuck commented on #454
It's been 2 calendar weeks. Have the maintainer's responded to you? I never heard back from anyone.

What are next steps?

[2018-11-02 10:59] pauby commented on #454
@plroebuck See the the [first message I sent you](https://github.com/chocolatey/chocolatey-package-requests/issues/454#issuecomment-431367641) and go through the process.

For brevity 1) the maintainers respond to your message - we're not involved, and 2) if you have the skills, or want to learn the skills to maintain the package, use the 'Contact Site Admins' link on the package page, ask to beco

[2018-11-02 12:07] plroebuck commented on #454
No rudeness intended at all. Do *lots* of support myself for [Mocha](https://mochajs.org/). Was in reference to your process (but then forgot to quote it while hurrying):

[2018-11-08 19:11] franklinyu opened #463 "RFP - enjarify"
https://github.com/Storyyeller/enjarify

Note: upstream recommend [`pypy3`](https://chocolatey.org/packages/pypy3) as interpreter, but also supports [`python3`](https://chocolatey.org/packages/python3). Maybe the package should allow user use without `python3` when `pypy3` is present.

[2018-11-10 23:19] dimqua opened #464 "RFP - mitmproxy"
mitmproxy is an interactive TLS-capable intercepting HTTP proxy for penetration testers and software developers.

https://mitmproxy.org/

[2018-11-11 00:22] dimqua opened #465 "RFP - Basilisk browser"
Basilisk is a free and Open Source XUL-based web browser, featuring the well-known Firefox-style interface and operation. It is based on the Goanna layout and rendering engine (a fork of Gecko) and builds on the Unified XUL Platform (UXP), which in turn is a fork of the Mozilla code base without Servo or Rust.

https://basilisk-browser.org/

[2018-11-11 12:15] JonasDralle opened #466 "RFP - UMLet"
UMLet is a free, open-source UML tool with a simple user interface: draw UML diagrams fast, build sequence and activity diagrams from plain text, export diagrams to eps, pdf, jpg, svg, and clipboard, share diagrams using Eclipse, and create new, custom UML elements. UMLet runs stand-alone or as Eclipse plug-in on Windows, OS X and Linux.

https://www.umlet.com/

Download: https://www.umlet.com/dow

[2018-11-13 13:44] mkevenaar commented on #334
Package is updated. We can close this one.

[2018-11-13 14:04] #334 closed

[2018-11-14 21:33] joachimschmidt557 commented on #218
I think digiKam is actively maintained now. The latest version on [chocolatey](https://chocolatey.org/packages/digikam) (5.9.0) matches the [latest release version](https://www.digikam.org/download/).

[2018-11-15 03:50] jgeorgeson opened #467 "RFM - jfrog-cli"
Package isn't being updated - https://chocolatey.org/packages/jfrog-cli

I've submitted several PRs - https://github.com/kevinkabatra/jfrog-cli/pulls

am willing to take over maintaining the package.

[2018-11-15 14:57] FranklinYu opened #468 "RFM - GitHub"
https://chocolatey.org/packages/GitHub

This package should be [deprecated](https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package).

[2018-11-16 03:58] dimqua commented on #229
Hmm, the latest version is 3.17.**1**.

[2018-11-16 04:02] dimqua opened #469 "RFM - FBReader"
https://chocolatey.org/packages/FBReader

I've contacted the maintainer few weeks ago, he didn't answer yet.

[2018-11-16 04:06] dimqua opened #470 "RFM - Lato Font"
https://chocolatey.org/packages/lato

[2018-11-16 04:57] dimqua opened #471 "RFP - YARA"
The pattern matching swiss knife for malware researchers (and everyone else).

https://virustotal.github.io/yara/

[2018-11-16 05:07] dimqua opened #472 "RFP - Unar"
The Unarchiver is a macOS app, but the underlying unarchiving code can run on other OSes, too. There is not yet any GUI app for any other OS, but there are two command-line tools, unar and lsar, which can be used on macOS, Windows and Linux.

https://theunarchiver.com/command-line

[2018-11-16 05:12] dimqua opened #473 "RFP - Busybox"
WIN32 native port of BusyBox. BusyBox is a single binary that contains many common Unix tools. It's often found in embedded Linux systems like routers, in Android smartphones, in Linux containers and anywhere else it would be handy to have a compact set of Unix command line tools.

https://frippery.org/busybox/
https://github.com/rmyorston/busybox-w32

[2018-11-16 07:29] dimqua opened #474 "RFP - MPC-HC (fork)"
https://github.com/clsid2/mpc-hc

[2018-11-16 11:05] pauby commented on #467
@jgeorgeson Please use the 'Contact Site Admins' link on the left of the package page and reference this issue.

[2018-11-16 13:45] mkevenaar commented on #319
The new [7.6](https://chocolatey.org/packages/notepadplusplus) version already has the [plugin manager](https://notepad-plus-plus.org/download/v7.6.html) restored.

I think this one can be closed.

[2018-11-16 15:12] #319 closed

[2018-11-16 15:38] FranklinYu commented on #468
@pauby I don't really have the time right now; currently in my queue fixing Java 11 has higher priority. If anyone else take this I would be more than happy.

[2018-11-16 17:00] pauby commented on #468
@franklinyu That's cool. Just needed to know what label to put on this 😁

[2018-11-16 17:01] pauby commented on #468
I'll pick this up.

[2018-11-19 04:13] FranklinYu commented on #395
I think the `nvm.portable` package has been taken by someone?

[2018-11-19 09:29] pauby commented on #395
@FranklinYu It looks like it has. Last package submitted on 30 August and it's the most recent version. Will close this. Thanks for pointing it out!

[2018-11-19 09:29] #395 closed

[2018-11-19 15:42] AdmiringWorm commented on #218
@joachimschmidt557 it certainly looks that way.
Thanks for letting us know.

[2018-11-19 15:42] #218 closed

[2018-11-19 16:45] joachimschmidt557 commented on #259
I can pick this package up.

[2018-11-19 17:03] pauby commented on #259
@joachimschmidt557 Drop a message to the Site Admins.

[2018-11-19 19:10] #468 closed

[2018-11-19 20:08] procdaddy11 opened #475 "RFP - TunSafe"
WireGaurd is the next big thing for VPNs.

https://tunsafe.com
https://github.com/TunSafe/TunSafe

[2018-11-19 21:02] bcurran3 commented on #200
I completely forgot about this.

Done!

https://chocolatey.org/packages/croscorefonts-font

[2018-11-20 00:10] SZanlongo commented on #267
@bcurran3 Yes, it seems that the mobile app is no longer supported, making this no longer useful.

[2018-11-20 00:10] #267 closed

[2018-11-20 00:19] bcurran3 commented on #200
@rogersachan, since you seem appreciative...

https://chocolatey.org/packages/crosextrafonts-caladea-font/2013.02.14
https://chocolatey.org/packages/crosextrafonts-carlito-font/2013.09.20

[2018-11-20 00:36] bcurran3 commented on #451
https://chocolatey.org/packages/adwcleaner

AdwCleaner (Portable) 7.2.4.0 | 1330 | Friday, October 26, 2018 | approved

This issue should be closed.

[2018-11-20 00:40] bcurran3 commented on #442
I'm looking into this and will most likely add support in https://chocolatey.org/packages/choco-package-list-backup

[2018-11-20 01:40] rogersachan commented on #200
Thanks so much for this!

[2018-11-20 09:39] #451 closed

[2018-11-20 22:21] luzpaz commented on #457
@luzpaz no response from maintainer

[2018-11-21 20:40] FranklinYu opened #476 "RFP - Cronical"
https://github.com/mgefvert/Cronical

Binary in GitHub repository.

[2018-11-22 11:06] #457 closed

[2018-11-22 11:47] #200 closed

[2018-11-22 11:48] #259 closed

[2018-11-22 11:52] #467 closed

[2018-11-22 11:55] pauby commented on #454
@plroebuck Did you receive a response from the maintainers? I'm assuming not by the comments above but I just want to be clear before moving forward.

[2018-11-22 11:57] #459 closed

[2018-11-22 11:59] #333 closed

[2018-11-22 12:00] #299 closed

[2018-11-22 12:02] pauby commented on #416
@joachimschmidt557 Are you intending to submit an update or will I move this to be open for other maintainers to pick up?

[2018-11-22 12:11] bcurran3 commented on #292
This issue should be closed.

[2018-11-22 12:12] #292 closed

[2018-11-22 12:17] joachimschmidt557 commented on #416
The chocolatey pacakge is currently up to date (version 0.8.2), the [latest version](https://github.com/alexkay/spek/releases) (0.8.3) is only available for macOS.

[2018-11-22 12:18] #416 closed

[2018-11-22 19:45] plroebuck commented on #454
@pauby, no response.

[2018-11-26 12:33] Fastor01 opened #477 "RFP - Intel Rapid Storage Technology"
Hey Guys,
can you please add IRST to the repository.
Its the software for managing IRST included in modern chipsets.
Thank You!

[2018-11-26 12:35] pauby commented on #477
@fastor01 You need to provide the details for the package you are requesting such as the download location for the software.

[2018-11-26 12:35] Fastor01 opened #478 "RFP - samsung magician"
Hey Guys,
can you add please samsung magician to the repo.
Samsung magician is for managing samsung SSD.

Thank You!

[2018-11-26 12:36] pauby commented on #478
@Fastor01 Same as last request - download location.

[2018-11-26 12:40] pauby commented on #477
@Fastor01 This [already exists](https://chocolatey.org/packages/intel-rst-driver)

[2018-11-26 12:41] #477 closed

[2018-11-26 12:45] Fastor01 commented on #478
@pauby http://ssd.samsungsemi.com/ecomobile/ssd/update10.do?fname=/Samsung_Magician_Installer.zip

[2018-11-26 12:51] pauby commented on #478
@fastor1 I get this error when trying to download it.

![image](https://user-images.githubusercontent.com/12760779/49015100-fe06de80-f179-11e8-9eaf-3b1feba9cc89.png)

If that's not just me then we can't use that as a download source.

[2018-11-26 12:57] Fastor01 commented on #478
@pauby I'm getting the error also. 10 minutes ago it worked fine :(. Maybe in a few minutes it will work again.

[2018-11-26 13:05] pauby commented on #478
That being the case we cannot use that fora download location.

[2018-11-26 16:21] b16r05 opened #479 "RFP - Stretchly"
I want to request an open source package called Stretchly.

Details page here: https://hovancik.net/stretchly/
Download files here: https://hovancik.net/stretchly/downloads/
Source code here: https://github.com/hovancik/stretchly

[2018-11-26 18:48] FranklinYu opened #480 "RFM - charles"
https://chocolatey.org/packages/Charles

I wrote to the maintainer on November 15. Also left comment under package. There was a pull request kevnord/CharlesChocolateyPackage#3 long ago, but the maintainer did not react.

Anyone taking this package, keep in mind that this package only tracks version 3 in https://www.charlesproxy.com/download/previous-release/. Version 4 is tracked by https://chocol

[2018-11-26 18:53] AdmiringWorm commented on #95
I'm looking into creating a package for this now.

I won't be providing *"Nightly Builds"* though (this may change in the future).
But I will support the *GPO* edition they provide(I have no idea what this is though, think it's related to perhaps a corporate edition somehow), with an optional package parameter.

[2018-11-26 18:59] dimqua commented on #95
This software seems pretty much dead at the moment. The latest release was more than 2 years ago.

[2018-11-26 19:00] AdmiringWorm commented on #95
I know, but you did request it when it was already in dorment state (when it comes to stable releases).
However, their latest nightly build was released last month it seems.

[2018-11-26 19:04] dimqua commented on #95
I can just close this issue if you are ok with it. :-)

No, it was released 2018-01-05.

[2018-11-26 19:07] AdmiringWorm commented on #95
No need, I'm more or less done with the package.

Ops, mixed up the numbers (again 😞)

[2018-11-26 19:10] AdmiringWorm commented on #95
just pushed: https://chocolatey.org/packages/vacuum-im/1.2.5

[2018-11-26 19:10] dimqua opened #481 "RFM - KDevelop"
https://chocolatey.org/packages/kdevelop

I wrote the maintainer two weeks ago, no answer yet.

[2018-11-26 19:17] dimqua commented on #365
This software is no longer maintained.

https://github.com/fuzzybabybunny/Athame

[2018-11-26 19:17] #365 closed

[2018-11-26 21:10] AdmiringWorm commented on #481
I believe this package is/was supposed to be provided by the KDE team themselves.
Could be useful to perhaps try getting in contact with them first (if I remember correctly, they had issues receiving messages from chocolatey in the past. Could be they still have).

[2018-11-28 09:47] Anupam750 commented on #142
@Akipe , could you please upgrade the onlyoffice package in the chocolatey repository?

[2018-11-28 09:48] Anupam750 commented on #36
Guys, the onlyoffice is out of sync of the latest versions

https://github.com/chocolatey/chocolatey-package-requests/issues/142#issuecomment-339013722

[2018-11-28 09:49] pauby commented on #36
@Anupam750 This issues was closed almost two years ago so you're not going to get a response here. If the package is out of date use the 'Contact Maintainers' link on the package page.

[2018-11-28 17:33] dimqua opened #482 "RFP - Librefox"
Firefox set for a better security, privacy and performances.

https://github.com/intika/privafox-firefox

[2018-11-28 19:02] wec22 opened #483 "RFP - godot (mono version)"
The current version of godot in the repositories does not include C# support.  There is an official download that includes it.  It would be great if there was a package for that version as well.

This package would be almost the same as the existing one, but would need to have the mono package as a dependency.

(Also a start menu shortcut would be nice since the other package lacks that as well ma

[2018-11-28 19:54] pauby commented on #483
@wec22 We need the project URL and the software download URL.

[2018-11-29 08:44] mkevenaar commented on #450
Hi,

I am willing to take over this package. I have contacted the site admins already.

Maurice

[2018-11-29 19:23] jddipqd opened #484 "RFP - Spring Tools 4"
Next version of Spring Tool Suite.

https://spring.io/tools

[2018-11-29 19:53] AdmiringWorm commented on #484
This would most likely be more suited in the existing package for [Spring Tools](https://chocolatey.org/packages/SpringToolSuite).

Have you tried to contact the maintainer to get him to update the package?

[2018-11-29 20:39] AdmiringWorm commented on #484
So it should be considered a completely different software?

Sometimes, even when the codebase have been completely rewritten, it is still the same application (just not backwards-compatible, which is compliant with the increase of the major version increment).

Unless the changes makes it a completely different application, it should still be in the main package (IMO).

[2018-11-30 01:49] wec22 commented on #483
oh whoops sorry.
project: [here](https://godotengine.org/download/windows)
download: [here](https://downloads.tuxfamily.org/godotengine/3.0.6/mono/Godot_v3.0.6-stable_mono_win64.zip)

[2018-11-30 09:44] pauby commented on #484
I agree with @AdmiringWorm. If this is the same application then it should be the same package.

[2018-11-30 11:47] mkevenaar commented on #450
@JonasDralle A new package has been pushed, waiting for moderators to approve.

[2018-12-01 11:07] JonasDralle commented on #450
out of interest: how is this done? Do you manually need to push a button for bundling the newest version or do you have a script that scans for new updates and then auto-packages and auto-submits?

[2018-12-01 11:29] mkevenaar commented on #450
Hi Jonas, most of my packages are build automatically using AU and AppVeyor. For more info [read the docs](https://chocolatey.org/docs/automatic-packages)

[2018-12-04 09:45] rgl commented on #466
I will package this up. Just a doubt, what java package should this depend on? jre8?

[2018-12-04 17:00] AdmiringWorm commented on #482
seems like the project have been moved:
https://github.com/intika/Librefox-Firefox

[2018-12-04 21:06] joachimschmidt557 commented on #483
Since I am the maintainer of the current godot package, I can pick this up.

[2018-12-05 16:48] JonasDralle commented on #466
Question: does chocolatey have a fuzzy dependency system? For example "I work with dependency version 1.0 to 1.99" (excluding everything below 1.0 and above 1.9).

Because _if_ someone already has a Java Version 6 - 11 installed that should be used.
If not, downloading the newest working version probably is the most sane choice (since the JREs are backwards compatible ^(ignoring jigsaw here) and n

[2018-12-05 17:03] FranklinYu commented on #272
I have finished the package, but it is blocked by chocolatey/choco#1686.

[2018-12-06 14:54] joachimschmidt557 commented on #483
Should I put the mono version into a different packge called `godot-mono` for example?

[2018-12-08 22:31] ruchirarya opened #485 "RFP - IobitUninstaller"
The following famous uninstaller "IobitUninstaller" from www.iobit.com is not available currently.

[2018-12-08 22:34] mkevenaar commented on #485
Is this the same as mentioned in #119 ?

[2018-12-08 22:38] mkevenaar commented on #119
I am willing to pick this one up

[2018-12-09 12:43] AdmiringWorm commented on #485
Duplicate of #119

[2018-12-09 12:43] #485 closed

[2018-12-09 19:38] mkevenaar commented on #119
@AdmiringWorm package is created and pushed. Waiting for moterators to approve: [iobit-uninstaller](https://chocolatey.org/packages/iobit-uninstaller/)

[2018-12-10 00:36] FranklinYu commented on #480
Recently several users upvoted my comment in Disqus, so I would like to take this package. I have wrote through “Contact Site Admins” but just also adding it here for the record.

[2018-12-10 15:41] FranklinYu commented on #484
The maintainer has pushed version 4. It's awaiting moderation. I guess this issue can be closed.

[2018-12-10 16:45] pauby commented on #484
It's at https://chocolatey.org/packages/SpringToolSuite/4.0.2

[2018-12-10 16:45] #484 closed

[2018-12-10 22:11] FranklinYu commented on #377
In homepage it says

This seems to allow us to embed the binary into the package? We need it because the URL is not version-dependent.

[2018-12-11 08:55] pauby commented on #377
@FranklinYu Are you picking this up?

Whoever does pick this up, in the package LICENSE.txt file include that text and include a link to it on the website.

[2018-12-13 05:35] AdmiringWorm commented on #479
I'm looking into creating a package for this software

[2018-12-13 06:59] AdmiringWorm commented on #479
package is pushed: https://chocolatey.org/packages/stretchly/0.18.0

need to fix the description, but everything else is done.

[2018-12-14 08:39] mkevenaar commented on #119
Package approved. Case closed!

[2018-12-14 08:40] mkevenaar commented on #450
This one is done!

[2018-12-14 08:43] mkevenaar commented on #304
This software requires a login to download.

[2018-12-14 09:42] pauby commented on #304
@mkevenaar Thanks for checking that out. As this also need a Service Level Agreement it can't be added to the Community Repository anyway so I'm going to go ahead and close it.

[2018-12-14 09:42] #304 closed

[2018-12-14 09:57] #450 closed

[2018-12-14 09:57] #119 closed

[2018-12-14 10:40] Foadsf opened #486 "RFP - WxMaxima"
There is already formulas for [maxima ](https://chocolatey.org/packages?q=maxima)and [gnuplot ](https://chocolatey.org/packages?q=gnuplot) but there is not for [WxMaxima ](https://wxmaxima-developers.github.io/wxmaxima/)yet.

[2018-12-14 10:44] Foadsf opened #487 "RFM - Octave"
The [portable version of Octave](https://chocolatey.org/packages/octave.portable) is updated, however [the main one](https://chocolatey.org/packages/Octave) is still way behind. I left [a requested for update](http://disq.us/p/1wxnj6v) while ago still got no respond.

[2018-12-14 10:47] pauby commented on #487
@Foadsf Can you contact the maintainers using the 'Contact Maintainers' link on the package page?

[2018-12-14 10:48] pauby commented on #486
Download page - https://wxmaxima-developers.github.io/wxmaxima/download.html

[2018-12-14 10:56] Foadsf commented on #487
@pauby I have already done that. no response so far :(

[2018-12-14 11:06] Foadsf opened #488 "RFP - Elmer FEM"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://www.elmerfem.org/blog/
Direct download URL for the software / installer : http://w

[2018-12-14 11:15] pauby commented on #488
Download location for the installer is at https://sourceforge.net/projects/elmerfem/files/

[2018-12-14 11:16] pauby commented on #487
@Foadsf How long ago did you contact them?

[2018-12-14 11:20] Foadsf commented on #487
@pauby Informed Chocolatey guys on twitter a couple of month ago. Left the comment on Disqus one month ago, contacted the developers via the form 5 days ago again.

[2018-12-14 12:38] MHketbi commented on #475
i will handle this.
Estimate time: 4 days.

[2018-12-14 12:39] pauby commented on #475
@MHketbi Can you ask to be added as a maintainer by using the 'Contact Site Admins' on the package page? Update here when you've been added.

[2018-12-14 12:49] MHketbi commented on #475
it is not RFM, it is a new package.

[2018-12-17 01:00] qqgg231 opened #489 "RFP - RW-Everything"
This utility access almost all the computer hardware, including PCI (PCI Express), PCI Index/Data, Memory, Memory Index/Data, I/O Space, I/O Index/Data, Super I/O, Clock Generator, DIMM SPD, SMBus Device, CPU MSR Registers, ATA/ATAPI Identify Data, Disk Read Write, ACPI Tables Dump (include AML decode), Embedded Controller, USB Information, SMBIOS Structures, PCI Option ROMs, MP Configuration Tabl

[2018-12-17 01:01] qqgg231 opened #490 "RFP - AutoPowerOptionsOK"
automatic power options adjustment  based on timer

http://www.softwareok.com/?seite=Microsoft/AutoPowerOptionsOK

[2018-12-17 01:04] qqgg231 opened #491 "RFM - SunsetScreen"
outdated version on choco:

https://chocolatey.org/packages/sunset-screen

No respond from:
- author of software
- author of package

http://www.skytopia.com/software/sunsetscreen/

maybe it is good idea to change package name to from `sunset-screen` to `sunsetscreen` as in oryginal there is  no space

[2018-12-17 01:08] qqgg231 opened #492 "RFP - bs1770gain"
It is a loudness scanner. It helps normalizing the loudness of audio and video files to the same level.

http://bs1770gain.sourceforge.net

[2018-12-17 07:57] pauby commented on #491
@qqgg231 Did you contact the maintainer of the package? If so, how and how long ago?

[2018-12-17 07:59] pauby commented on #489
Download page http://rweverything.com/download/

[2018-12-17 08:00] #480 closed

[2018-12-17 08:02] pauby commented on #483
I noticed you said:

If it is the same package you could just take a dependency on mono?

[2018-12-17 08:06] #95 closed

[2018-12-17 17:11] AdmiringWorm commented on #95
thanks @pauby, I completely forgot to close this one when it was approved.

[2018-12-17 18:18] joachimschmidt557 commented on #483
The [download page](https://godotengine.org/download/windows) offers different files for the non-Mono and Mono version and my guess is that the software inside is compiled differently.

[2018-12-17 18:21] pauby commented on #483
In that case you should have two separate packages. But still take a dependency on mono.

[2018-12-17 18:22] joachimschmidt557 commented on #483
Ok

[2018-12-17 19:59] JonasDralle commented on #466
I suspect this versioning cannot be applied to the versions separated by package boundaries (separate packages for JRE8, JRE9, ... etc)

I have just seen that there's only one JRE in the repo (version 8, a sane choice) with multiple JDK versions (also a sane choice). My question is mostly hypothetical since this package might want to depend upon package [javaruntime](https://chocolatey.org/package

[2018-12-17 22:45] qqgg231 commented on #491
@pauby

I was all on Sun, Dec 9

I thought I contacted maintener, but now I see that I probably tried and couldn't  because it is not possible through https://chocolatey.org/packages/sunset-screen/ContactOwners

Also GitHub page is not available

So I sent only mail to author of app (on 9 Dec )

[2018-12-18 06:40] FranklinYu opened #493 "RFP - flash-decompiler-trillix"
http://www.flash-decompiler.com/

Trial version is available for download. Unlimited evaluation time, limited function.

For packager: consider embedding installer in package. From [license](http://www.eltima.com/wiki/software-licenses/fd-trial.html):

[2018-12-18 15:06] nsleigh opened #494 "RFP - Google Chrome Beta"
Request for a new package based on the existing GoogleChrome package that will install the Google Chrome Beta version. The beta version is useful for tests UIs to ensure they are compatible with the next release of Chrome.

The package is identical to GoogleChrome package but uses the following URLs in update.ps1:
$releases = 'http://omahaproxy.appspot.com/all?os=win&amp;channel=beta'
URL32 = 'htt

[2018-12-18 15:13] pauby commented on #494
@nsleigh Have you contacted hte maintainers of the current Google Chrome package to find out their viewed on adding Beta versions?

[2018-12-18 15:17] nsleigh commented on #494
@pauby No I thought as chrome was a core package this was the method of doing so. Should I send them a link to this?

[2018-12-18 15:38] nsleigh commented on #494
@pauby Thanks for the info, I was imaging this would be a completely new package as Chrome and Chrome Beta install side-by-side. I have written all the code for the package and is seems to work ok.
I'll try and create a pull-request.

[2018-12-18 15:54] AdmiringWorm commented on #494
It would probably be the best to have both the stable and the beta releases in the same package.

That they have different urls is not really a problem, the update script would just have to be changed to use AU streams.

@nsleigh if you could open a PR to add support for it, that would be great.

[2018-12-18 15:56] pauby commented on #494
Once done, let us know so we can close this issue.

[2018-12-18 15:57] AdmiringWorm commented on #494
You can install the same package side-by-side as well, unless the package uses a some kind of detection to find existing installs (I don't believe we do that in the googlechrome package though).

[2018-12-18 16:08] nsleigh commented on #494
It seemed like a standalone package to me, this is the pull request https://github.com/chocolatey/chocolatey-coreteampackages/pull/1169.

[2018-12-18 16:23] nsleigh commented on #494
I believe it does as it needs to check a different registry key, in this case it is searching for "Google Chrome Beta".

[2018-12-18 16:38] qqgg231 commented on #494
+1 for possibility of installing both Chrome and Chrome Beta

[2018-12-19 03:20] FranklinYu commented on #494
In this case how do I specify whether to install Chrome or Chrome Beta?

[2018-12-19 03:22] FranklinYu opened #495 "RFP - powder-toy"
https://powdertoy.co.uk/

A very famous video game. Consider embedding the installer because it’s GPL.

[2018-12-19 06:59] nsleigh commented on #494
@FranklinYu it is a different MSI and different version, that is why I have made it a separate packages.

[2018-12-19 11:39] Foadsf opened #496 "RFP: Qilin Editor"
Qilin editor:
- GitHub Repo [here](https://github.com/qilin-editor/qilin-app)
- latest releases for download [here](https://github.com/qilin-editor/qilin-app/releases)

[2018-12-19 15:36] nsleigh commented on #494
Still doesn't feel right to merge and have to know complex command lines to install and remove the beta version.

[2018-12-19 15:49] FranklinYu commented on #494
Problem is, each package can have two channels: stable or pre-release. Chrome has four channels: Stable, Beta, Dev, Canary, which doesn't fit in the stable-and-pre model.

[2018-12-19 16:12] AdmiringWorm commented on #494
@FranklinYu true, but this request is specifically for the Beta versions, the Dev and Canary could actually be better suited as different packages, because they choco won't see the difference between Beta/Dev/Canary versions (except the version itself though).

There is already a dev package on chocolatey though, although it's heavily outdated.

[2018-12-19 16:33] FranklinYu commented on #494
@AdmiringWorm Thank you. I did some search and found both Dev and Canary:

https://chocolatey.org/packages/GoogleChrome.Dev
https://chocolatey.org/packages/GoogleChrome.Canary

Given that, I don't hold any preference whether to split the package.

[2018-12-20 21:22] qqgg231 commented on #494
@AdmiringWorm making 4 separate packages will be much simpler approach to maintain and also much simpler to use. I think it is unintuitive to have one branch obtained via /args and rest via separate packages.

I am afraid it will add not benefit to have stable and beta in one package in this case

[2018-12-20 21:36] nsleigh commented on #494
@qqgg231 totally agree.

[2018-12-21 01:44] qqgg231 commented on #478
You can get link with this code. I just finished it

	#download page
	$r = Invoke-WebRequest -Uri "https://www.samsung.com/semiconductor/minisite/ssd/download/tools/" -UseBasicParsing
	# Create HTML file Object
	$HTML = New-Object -Com "HTMLFile"
	# Write HTML content according to DOM Level2
	$HTML.IHTMLDocument2_write($r.Content)

	#$a1 = $HTML.all.tags("p") | % InnerText
	$a2=  $HTML.getElementB

[2018-12-21 04:31] qqgg231 commented on #383
"requirement to click the accept license boxes"
this is doable or bypassable

But in next step we need some account credentials

Is it okay to put these dummy account credentials into nupkg?

[2018-12-21 08:09] gsmitheidw commented on #383
I think Oracle may dislike that, if they start seeing floods of downloads from one account they may block it or even worse, they might call the legal department to send cease and desist letters. They might even put a captcha to weed out scripts.

I think it would be more successful if the nupkg could pass parameters for specific oracle credentials added per user and submit them through the site.