[2022-09-03 14:09] Xav83 commented on #1012
I pick up this package 🙂

I actually already have created a [Chocolatey package](https://community.chocolatey.org/packages/fanficfare) which is currently waiting for the review of Moderators :wink:

[2022-09-03 16:51] w0 commented on #1342
@pauby Looks like I am not yet listed as a maintainer. Package will be pushed once I am listed.

https://gist.github.com/w0/a569e20fa01812b6a86bd6d0c3663614

[2022-09-03 19:04] thecodrr commented on #1345
Co founder of Notesnook here. @pauby what'll be required to push this further?

[2022-09-03 19:27] pauby commented on #1345
Can you explain what you mean by 'push this'?

[2022-09-04 04:07] thecodrr commented on #1345
Hey, what I meant is that I'd like for notesnook to be installable through chocolatey. I read the readme and it seems a maintainer is required to take up the whole process. Can I take up the maintainance officially?

Also, it was not very clear about how & where to actually submit the packages. Can you clarify that a bit?

[2022-09-04 14:59] Xav83 commented on #981
Hi @AdmiringWorm  @BrandonKMLee,

I took a look at this issue, and the [following Chocolatey package](https://community.chocolatey.org/packages/nheko-reborn), maintained by @dgalbraith, is available and seems up to date with the [releases of nheko](https://github.com/Nheko-Reborn/nheko/releases). :slightly_smiling_face:

[2022-09-04 19:48] pauby commented on #981
Thanks @Xav83 for updating this and letting us know!

[2022-09-04 19:48] #981 closed

[2022-09-04 19:54] pauby commented on #1345
@thecodrr The package doesn't exist at the moment so from that aspect there is nothing to pick up. If you want to submit a package for this then please check out the [documentation](https://docs.chocolatey.org/en-us/create/create-packages ) in the first instance.

If you let us know you'll be picking this up we can change the labels to indicate that.

[2022-09-04 19:57] pauby commented on #1342
@w0 Did you request to be added as a maintainer?

[2022-09-04 20:06] w0 commented on #1342
Yea in this issue. Do I need to do it from the package page?

[2022-09-04 20:23] pauby commented on #1342
Ahh. Yes. Go to the package page and click 'Contact Site Admins', request to take over the package and mention this issue.

[2022-09-05 07:39] Xav83 commented on #977
I pick up this package 🙂

I actually already have created a [Chocolatey package](https://community.chocolatey.org/packages/flipflip) which is currently waiting for the review of Moderators :wink:

[2022-09-05 10:44] dtantono opened #1358 "RFP - ludusavi-x64"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://github.com/mtkennerly/ludusavi
Direct download URL for the software / installer

[2022-09-05 18:31] TheCakeIsNaOH commented on #1358
A package for Ludusavi already exists here, and includes both the 32 and 64 bit versions: https://community.chocolatey.org/packages/ludusavi

@dtantono please search for pre-existing packages before creating a RFP issue.

[2022-09-05 18:31] #1358 closed

[2022-09-06 00:17] w0 commented on #1342
package submitted. For some reason the download 404's during verification. I cannot recreate this

https://community.chocolatey.org/packages/easyeda/6.5.15

[2022-09-06 06:57] Xav83 commented on #1322
Hi  @dtantono @pauby,

I took a look at this issue, and the [following Chocolatey package](https://community.chocolatey.org/packages/rustdesk), maintained by @bdukes, is available and seems up to date with the [releases of rustdesk](https://github.com/rustdesk/rustdesk/releases). :slightly_smiling_face:

[2022-09-06 07:32] dtantono commented on #1322
that means somebody already submitted the package without being noticed by the automated system. I will close this.

[2022-09-06 07:32] #1322 closed

[2022-09-06 12:14] Alia5 commented on #1338
I did a lot of changes compared to the last release.
It seems that VirusTotal is now fine with GlosSI again
https://www.virustotal.com/gui/url/871382ac12fd2d51d81497c9634f78c9db72dd0936f0446ce6db48ea62904e96?nocache=1

You can validate this yourself with the latest release
https://github.com/Alia5/GlosSI/releases/tag/0.0.8.0

[2022-09-06 12:25] soredake opened #1359 "RFP - insomnia-sleep"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://dlaa.me/Insomnia/
Direct download URL for the software / installer

[2022-09-07 06:19] Xav83 commented on #1084
Hi  @dtantono @pauby,

I took a look at this issue, and the [following Chocolatey package](https://community.chocolatey.org/packages/threema-desktop), maintained by @Starz0r, is available and seems up to date with the [release that can be downloaded on Threema website](https://threema.ch/en/download). :slightly_smiling_face:

[2022-09-07 06:39] dtantono commented on #1084
I think it looks okay and I can close it

[2022-09-07 06:39] #1084 closed

[2022-09-07 20:32] Xav83 commented on #1077
This [package](https://community.chocolatey.org/packages/qrcp) has been reviewed and approved by @gep13 :slightly_smiling_face:

[2022-09-08 05:11] TheCakeIsNaOH commented on #1342
@w0 looks like you are running into this: https://github.com/chocolatey/home/issues/11
I've added an exemption.

[2022-09-08 05:17] TheCakeIsNaOH commented on #1077
Thanks for creating the package @Xav83

[2022-09-08 05:17] #1077 closed

[2022-09-08 06:21] Xav83 commented on #1338
This [package](https://community.chocolatey.org/packages/glossi) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-09-08 06:35] Xav83 commented on #1002
Hi  @soredake,

I took a look at this issue, and the [following Chocolatey package](https://community.chocolatey.org/packages/hamachi), maintained by @Smart123s, is available and seems up to date with the [release that can be downloaded on Hamachi website](https://www.vpn.net/). :slightly_smiling_face:

[2022-09-08 07:20] #1002 closed

[2022-09-08 15:59] unforgettableid opened #1360 "RFM - gsmartcontrol"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package
- [x] There is no existing open maintainer request for this package

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://community.chocolatey.org/packages/gsmartcontrol
Package source URL: https://github.

[2022-09-08 17:12] tunisiano187 commented on #1360
Hello, I'll update it

[2022-09-09 05:56] Xav83 commented on #984
Hi  @K0media,

I took a look at this issue, and the [following Chocolatey package](https://community.chocolatey.org/packages/everythingtoolbar), maintained by @niks255, is available and seems up to date with the [releases of everythingtoolbar](https://github.com/stnkl/EverythingToolbar/releases). :slightly_smiling_face:

[2022-09-09 07:45] ITNEXTGEN opened #1361 "RFP - dell-alienware-update"
New request for package - Dell Alienware Update

Package Details
Software project URL : https://www.dell.com/support/home/de-de/drivers/DriversDetails?driverId=YX736
Direct download URL for the software / installer: https://dl.dell.com/FOLDER08335051M/2/Dell-Alienware-Update-Windows-Universal-Application_YX736_WIN_4.5.0_A00_01.EXE
Software summary / short description: Dell Alienware Update Softwar

[2022-09-09 15:59] TheCakeIsNaOH commented on #1360
Added @tunisiano187 as a maintainer.

[2022-09-09 16:06] #1338 closed

[2022-09-10 09:24] niks255 commented on #984
I won't mind if you guys take over

[2022-09-12 13:44] MichaelTech88 opened #1362 "RFP - OfficeConnect"
## Checklist

- [X] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://adaptiveplanning.doc.workday.com/r/0BUDwnxyZl6BbmOU9di~AA/root
Dir

[2022-09-12 15:07] pauby commented on #1361
@ITNEXTGEN Can you go back and complete the template? Othwerwise we will need to close this issue.

[2022-09-12 16:37] soredake opened #1363 "RFP - wo-mic"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://wolicheng.com/womic/
Direct download URL for the software / instal

[2022-09-14 11:13] denovellis opened #1364 "RFP - Zoc Terminal"
## Checklist

- [X] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.emtec.com/zoc/
Direct download URL for the software / installe

[2022-09-15 13:41] denovellis commented on #1364
@pauby hi Paul, it's the first time I added a package in RPF. How can i use it ?

[2022-09-15 14:09] pauby commented on #1364
@denovellis I'm not sure what you mean by 'how can I use it'?

[2022-09-16 10:46] denovellis opened #1365 "RFP - remote-desktop-client"
## Checklist

- [X] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-serv

[2022-09-18 05:45] dtantono opened #1366 "RFP - authme"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://authme.levminer.com/#downloads or https://github.com/Levminer/authme
Direct down

[2022-09-18 11:28] printfn opened #1367 "RFP - fend"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/printfn/fend
Direct download URL for the software / ins

[2022-09-18 16:20] brogers5 commented on #1359
It looks like there was a package submitted for moderation some years ago, but was ultimately abandoned and rejected:
https://community.chocolatey.org/packages/insomnia

I can pick this one up, but having ran into this situation before, seems like we'll need to get the Package Triage Process started.

[2022-09-19 11:43] #1280 closed

[2022-09-19 22:16] dgalbraith commented on #1365
I will pick this one up.

[2022-09-19 22:25] dgalbraith commented on #1366
I will pick this one up.

[2022-09-20 07:19] Xav83 commented on #970
I pick up this package :slightly_smiling_face:

I actually already have created a [Chocolatey package](https://community.chocolatey.org/packages/taskboard) which is currently waiting for the review of Moderators :wink:

[2022-09-20 15:11] pauby commented on #1280
@soredake I can't find a package for this. Can you confirm what the URL is / what it was called?

[2022-09-20 15:26] soredake commented on #1280
@pauby this software is discontinued and will stop working soon
![изображение](https://user-images.githubusercontent.com/5204968/191299552-0c0758a4-29d7-4c4a-a1b3-2646f3f5350b.png)

[2022-09-21 23:59] dgalbraith commented on #1365
@denovellis the package is built and ready to be pushed but just a final point on naming - windows-desktop-client doesn't really seem appropriate as it does not convey the purpose of the package.

I am thinking of pushing as remote-desktop-client - given this is a desktop implementation of RDS / MSRDC I think that this is likely most appropriate.  Do you have any concerns or an alternate suggestio

[2022-09-22 09:42] denovellis commented on #1365
It is perfect for me.

[2022-09-25 18:28] brogers5 commented on #1359
I reached out to the maintainer shortly after my last comment, and have yet to hear back. As the normal 7 day waiting period is up, I've submitted a request to the admins to be added as a maintainer.

The software has not been updated since the original package submission. Therefore, I've also requested to pick up the rejected package version, so I can submit a revised package under the same packa

[2022-09-27 03:51] brogers5 commented on #1359
Packages have been submitted and are now pending review:
https://community.chocolatey.org/packages/insomnia/1.1.0.0
https://community.chocolatey.org/packages/insomnia-dotnet/1.0.0.0

[2022-09-27 06:01] Foadsf opened #1368 "RFP - hopsan"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://liu.se/en/research/hopsan
Direct download URL for the software / i

[2022-09-28 22:24] dgalbraith commented on #1366
Packages have been pushed and are now ready for review:

- https://community.chocolatey.org/packages/authme/3.3.4
- https://community.chocolatey.org/packages/authme.install/3.3.4
- https://community.chocolatey.org/packages/authme.portable/3.3.4

[2022-09-29 07:56] imakiro commented on #335
Hi, can we please reopen this issue? The software is updated to Current version: 6.4.0.27 from the main download page
https://www.msp360.com/download.aspx?prod=cbes3free

[2022-09-29 08:48] pauby commented on #335
@imakiro As we now use a new template and automated system can I ask you to raise a new issue for this?

[2022-09-29 13:39] qqii opened #1369 "RFP - sqlean-sqlite-extensions"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/nalgeon/sqlean
Direct download URL for the software / i

[2022-09-29 13:52] MichaelTech88 opened #1370 "RFP - PlanningForExcel"
## Checklist

- [ X] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [ X] There is no open issue for this package;
- [ X] The issue title starts with 'RFP - ';
- [ X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://adaptiveplanning.doc.workday.com/r/0BUDwnxyZl6BbmOU9di~AA/K0f~o

[2022-09-29 18:39] AdmiringWorm commented on #1361
Closing as the template was not updated as requested

[2022-09-29 18:39] #1361 closed

[2022-09-29 18:42] #1060 closed

[2022-09-29 18:45] AdmiringWorm commented on #1047
Apologies for this issue not having a response, and that it has taken so long.
To answer your confusion.

The package is unlisted, meaning it does not show up in any searches for the package, and can only be detected when navigating directly to the package.

However, since the package exists I will be closing this issue, please follow the package triage documentation for further actions on this pa

[2022-09-29 18:45] #1047 closed

[2022-09-29 18:47] AdmiringWorm commented on #976
As this is a Windows Store only package, and AFAIK it is not possible to install the application outside of Windows Store when you do not have the application file.

As such I will, unfortunately, be closing this issue, we can always re-open the issue if the situation changes.

[2022-09-29 18:49] AdmiringWorm commented on #971
Since there was no mention of how and when the maintainer was contacted, and the message from our bot was unanswered and due to the age of this issue, I will be closing this issue.

Please follow the package triage documentation for any further actions: https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#the-triage-process

[2022-09-29 18:49] #971 closed

[2022-09-29 18:51] AdmiringWorm commented on #949
As there is already a package named `mailbird` and it links to the same location as specified in this issue, this looks like the exact same package that is being requested.

For any further actions, please follow the package triage documentation: https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#the-triage-process

[2022-09-29 18:51] #949 closed

[2022-09-29 19:58] dgalbraith commented on #1369
I will pick this up.

Point to note - the extensions are compiled as 64-bit so are not compatible with the existing distributions / packages containing the  sqlite command line shell ([SQLite](https://community.chocolatey.org/packages/SQLite) or [sqlite.shel](https://community.chocolatey.org/packages/sqlite.shell)).

Until the main distribution is updated with a 64-bit version of the [command line

[2022-09-29 23:37] RandomDSdevel commented on #1060
@AdmiringWorm:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Where, if I might ask?  It doesn't show up in any of:

 - '`choco search iasl`'
 - [A search for 'iasl'](https://community.chocolatey.org/packages?q=iasl) in [the Chocolatey Community Packages web tree](https://community.chocolatey.org/packages)
 - [A search for 'iasl'](https://github.com/chocolatey-community/chocolatey-packages/search?q=iasl) in [the

[2022-09-30 08:37] lalberts opened #1371 "RFP - CadZinho"
## Checklist

- [X] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/zecruel/CadZinho
Direct download URL for the software /

[2022-09-30 08:50] lalberts commented on #1371
Direct download URL for the software / installer : https://github.com/zecruel/CadZinho/releases/download/0.2.0/windows.zip

[2022-09-30 10:47] pauby commented on #1371
@laberts Can you add to the original message above?

[2022-09-30 10:53] pauby commented on #1060
It's at https://community.chocolatey.org/packages/iasl

[2022-10-01 19:46] RandomDSdevel commented on #1060
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OK; thank you, @pauby.

[2022-10-01 21:17] RandomDSdevel commented on #1060
@AdmiringWorm:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This has now been started with warexify/chocolatey-edk2-buildtools#1, a PR to the package source's host GitHub repository.

[2022-10-02 07:32] unforgettableid commented on #1360
Dear @tunisiano187:  I see you've now published a GSmartControl 1.1.4 package.  Thank you very much!

Closing.

[2022-10-02 07:32] #1360 closed

[2022-10-03 05:58] dgalbraith commented on #1367
Packages have been pushed and are now ready for review:

- https://community.chocolatey.org/packages/fend/1.1.1
- https://community.chocolatey.org/packages/fend.install/1.1.1
- https://community.chocolatey.org/packages/fend.portable/1.1.1

[2022-10-08 18:28] brogers5 commented on #1359
`insomnia-dotnet` has been approved and should now be live for consumption.

`insomnia` is still awaiting review.

[2022-10-08 23:20] dgalbraith commented on #1366
Packaged have been reviewed and are now available in the Community repository.

[2022-10-08 23:21] dgalbraith commented on #1367
Packages have been reviewed and are now available in the Community repository.

[2022-10-09 19:09] dgalbraith commented on #1365
The package is pushed and awaiting review:

- https://community.chocolatey.org/packages/remote-desktop-client/1.2.3497

Note that it is currently failing package verification and a moderator needs to consider the verification exemption request.  I believe that the verification failure is due to a reboot required by the package dependencies.

The package is good as-is on any machine which has a Dot

[2022-10-09 20:05] lalberts commented on #1371
Checklist

The package I am requesting does not already exist on https://community.chocolatey.org/packages;
There is no open issue for this package;
The issue title starts with 'RFP - ';
The download URL is public and not locked behind a paywall / login;

Package Details

Software project URL : https://github.com/zecruel/CadZinho
Direct download URL for the software / installer : https://github.co

[2022-10-09 20:21] lalberts opened #1372 "RFP - blenderbim"
## Checklist

- [ ] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [ ] There is no open issue for this package;
- [ ] The issue title starts with 'RFP - ';
- [ ] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.7.0/choco/blenderbim

[2022-10-10 06:26] Xav83 commented on #1064
This [package](https://community.chocolatey.org/packages/magpie) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-10 06:27] Xav83 commented on #970
This [package](https://community.chocolatey.org/packages/taskboard) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-10 07:15] Xav83 commented on #1098
This [package](https://community.chocolatey.org/packages/64gram) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-10 07:25] Xav83 commented on #1075
This [package](https://community.chocolatey.org/packages/crowtranslate) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-10 08:32] soredake commented on #1098
@Xav83 thank you!

[2022-10-10 08:32] #1098 closed

[2022-10-10 08:32] soredake commented on #1064
@Xav83 thank you!

[2022-10-10 08:32] #1064 closed

[2022-10-10 08:47] denovellis commented on #1364
Sorry it is an error

[2022-10-10 14:10] #970 closed

[2022-10-10 15:25] brogers5 commented on #1359
`insomnia` has recently been approved and should now be live for consumption.

Issue can now be closed.

[2022-10-10 15:31] #1359 closed

[2022-10-10 15:36] #1075 closed

[2022-10-10 15:52] #1366 closed

[2022-10-10 16:35] soredake commented on #1359
@brogers5 thank you!

[2022-10-11 07:22] mkevenaar commented on #628
That must have slipped my mind, I am sorry. Will look at it tomorrow!

Verstuurd vanaf mijn iPhone

[2022-10-11 11:41] pauby commented on #628
You're already maintaining and updating this package @mkevenaar .... 😄

[2022-10-11 13:40] musosoft opened #1373 "RFP - local"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://localwp.com/
Direct download URL for the software / installer : ht

[2022-10-11 19:32] Xav83 commented on #1096
This [package](https://community.chocolatey.org/packages/discord-history-tracker) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-11 19:40] Xav83 commented on #1015
This [package](https://community.chocolatey.org/packages/openproject/12.2.5) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-11 19:47] Xav83 commented on #1061
This [package](https://community.chocolatey.org/packages/monitorian) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-11 21:25] #1061 closed

[2022-10-11 21:25] #1015 closed

[2022-10-11 21:26] #1096 closed

[2022-10-13 07:32] Xav83 commented on #1063
This [package](https://community.chocolatey.org/packages/athens/2.1.0) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-13 07:42] Xav83 commented on #1091
This [package](https://community.chocolatey.org/packages/sophia) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-13 07:57] Xav83 commented on #1040
This [package](https://community.chocolatey.org/packages/switchhosts/4.1.2) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-13 09:01] Xav83 commented on #977
This [package](https://community.chocolatey.org/packages/flipflip/3.2.1) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-13 09:22] Xav83 commented on #1093
This [package](https://community.chocolatey.org/packages/gmail-desktop/3.0.0) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-13 11:49] #1063 closed

[2022-10-13 11:50] #1091 closed

[2022-10-13 11:50] #1093 closed

[2022-10-13 11:50] #977 closed

[2022-10-13 11:50] #1040 closed

[2022-10-13 19:01] Xav83 commented on #1045
This [package](https://community.chocolatey.org/packages/bot-framework-composer/2.1.2) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-14 15:47] #1045 closed

[2022-10-14 17:36] Xav83 commented on #1288
This [package](https://community.chocolatey.org/packages/superf4) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-14 17:54] Xav83 commented on #1041
This [package](https://community.chocolatey.org/packages/tachidesk) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-10-14 21:39] dgalbraith commented on #1365
Initial review has been completed and the package is now available in the Community Repository.

https://community.chocolatey.org/packages/remote-desktop-client/

[2022-10-16 22:36] RandomDSdevel opened #1374 "RFM - iasl"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://community.chocolatey.org/packages/iasl
Package source URL:  https://github.com/wa

[2022-10-17 16:42] #1365 closed

[2022-10-18 20:36] dgalbraith commented on #1374
I am happy to pick this one up.

[2022-10-18 20:46] TheCakeIsNaOH commented on #1374
@dgalbraith I've added you as a maintainer, you should have a confirmation email.

[2022-10-26 20:20] tunisiano187 commented on #1341
Hello, i'll try to update it.

[2022-10-26 21:20] MichaelTech88 commented on #1362
Do you know when this will be available in Chocolatey?

[2022-10-26 21:43] tunisiano187 commented on #1341
https://github.com/tunisiano187/Chocolatey-packages/issues/3153 done !
@TheCakeIsNaOH , can you add me as assignee, and maintainer ? (tunisiano)

Thank you.

[2022-10-26 21:59] TheCakeIsNaOH commented on #1341
@tunisiano187 added, you should have a confirmation email.
In the future, if the current maintainer of a package created the RFM, I'd suggest pinging them to add you as a maintainer.

[2022-10-26 22:01] TheCakeIsNaOH commented on #1362
@MichaelTech88 this issue currently has the tag `Status: Available For Maintainer(s)` tag, so it is open for anyone to add the package. So there is no specific timeframe, instead it is up to if/when someone wants to pick this package up.

[2022-10-27 11:20] pauby commented on #1362
@MichaelTech88 I just wanted to follow up on @TheCakeIsNaOH comment above.

Chocolatey does not add or maintain packages on the Chocolatey Community Repository. As this is a 'community' repository, volunteer community maintainers add and maintain those packages. Making a request in this repository is asking that community of volunteer maintainers to create, add and maintain that package. But, as y

[2022-10-27 15:38] jtcmedia commented on #1341
Hi @tunisiano187 , please remove me as maintainer of this package by using the *Manage Maintainers* link on its Chocolatey page, thanks!

[2022-10-27 17:32] tunisiano187 commented on #1301
Hello,
i've prepared this package on my automated repository.
so i'll take it.
@pauby can you add me as maintainer and assign me this issue?
Thank you.

[2022-10-27 18:19] tunisiano187 commented on #1341
@jtcmedia done.

[2022-10-28 15:32] soredake commented on #1082
DS4Windows development is resumed https://github.com/Ryochan7/DS4Windows

[2022-10-28 18:04] tunisiano187 commented on #1301
@dtantono, the package as been pushed, so it will be vailable soon.

Have a nice day

[2022-10-29 09:24] tunisiano187 commented on #1082
Hello,
I'll take this package
@AdmiringWorm, or @TheCakeIsNaOH , can you add me as maintainer(tunisiano) and assign this issue ?

Thank you

[2022-10-29 11:21] mictaege opened #1375 "RFM - traffic-monitor"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://community.chocolatey.org/packages/traffic-monitor
Package source URL: https://git

[2022-10-29 15:48] jtcmedia commented on #1082
I've added you as maintainer. Please remove me once approved.

[2022-10-29 16:32] tunisiano187 commented on #1082
Done, thanks

[2022-10-29 17:29] tunisiano187 commented on #1082
Update pushed

[2022-10-29 17:30] tunisiano187 commented on #1070
Package automated, this issue can be closed

[2022-10-29 20:15] tunisiano187 commented on #1070
@jtcmedia can yyou close this issue?

[2022-10-30 00:51] #1070 closed

[2022-10-30 00:51] #1082 closed

[2022-10-30 09:55] tunisiano187 commented on #1302
Hello,
I'll take this package.
Can you assign me the issue?
I'll request the maintainership on the choco page

[2022-10-30 20:08] karolzlot opened #1376 "RFP - wsl2-distro-manager"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/bostrot/wsl2-distro-manager
Direct download URL for the

[2022-10-31 12:31] pauby commented on #1376
I've gone ahead and updated the download URL.

[2022-10-31 14:06] tunisiano187 commented on #1302
Thanks, it will be pushed the next run

[2022-10-31 17:32] stefansundin commented on #1288
Nice work @Xav83 👍

I just have one question, isn't the Copyright section supposed to have my name?

<img width="396" alt="Screenshot 2022-10-31 at 10 25 28" src="https://user-images.githubusercontent.com/1991151/199070853-21a3a6a4-a1d1-4724-9eca-1f642308373a.png">

SuperF4 is licensed under GPLv3 but is not authored by FSF. :)

I see that some other packages don't have a Copyright section at all

[2022-10-31 18:07] tunisiano187 opened #1377 "RFM - citrix-sharefile-sync"
Please remove the 'Current Maintainer' section if you are not the current maintainer of the package,
otherwise if you are the current maintainer of the package please remove the 'I DON'T Want To Become The Maintainer' section.

## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Pack

[2022-10-31 22:13] tunisiano187 commented on #1302
Pushed

[2022-11-01 15:32] Xav83 commented on #1288
Hi @steviecoaster,

I have re-used the Copyright mention from the [LICENCE file](https://github.com/stefansundin/superf4/blob/master/LICENSE) of the SuperF4 repository.

If you want I can change it to include your name, something like `Copyright (C) Stefan Sundin`, for example (feel free to tell me exactly what you want me to specify as the copyright mention :wink:).

[2022-11-01 16:15] stefansundin commented on #1288
Sorry steviecoaster, if you see this, Xav83 mentioned you by mistake.

That's the copyright for the license itself, not for the program.

Awesome, changing it to `Copyright (C) Stefan Sundin` sounds great! I'm also Ok with removing the Copyright statement (I noticed not all packages have it). I don't feel like it necessarily have to be everywhere.

Thank you!

[2022-11-01 17:10] Xav83 commented on #1288
Oops sorry steviecoaster :pray:

Oohh I see ! I'll change it in the package source in a few days, when I will be in front of my computer :wink:

Thank you @stefansundin (I've got you pseudo right this time :laughing:) for helping me making the package information more accurate. If in the future, you have any other element to improve the superf4 (or any package that I maintain), you can create issu

[2022-11-03 20:44] karolzlot commented on #1376
@pauby This URL will change every version, this is why I put general one with links to versions. Not sure why this is preferred.

[2022-11-03 21:17] tunisiano187 commented on #1375
Hello, i'll pick this package.
It's ready on repo.
@pauby , cn you assign me this issue?
And add me to the package mintainers ? https://community.chocolatey.org/packages/traffic-monitor

Thank you very much

[2022-11-03 21:31] vintagesucks opened #1378 "RFP - spark-desktop"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://sparkmailapp.com/
Direct download URL for the software / installer:

[2022-11-04 11:12] tunisiano187 commented on #20
The package is outdated and i've contacted @kkzinger to update it.

[2022-11-04 12:29] pauby commented on #1376
@karolzlot That's understood. For the request, the automation requires a link to the current download, else we get a [message like above](https://github.com/chocolatey-community/chocolatey-package-requests/issues/1376#issuecomment-1296340763).

[2022-11-04 17:23] RandomDSdevel commented on #1374
@dgalbraith, CC @TheCakeIsNaOH:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doesn't dgalbraith/chocolatey-packages#446 getting merged there also close this issue?

[2022-11-04 21:17] TheCakeIsNaOH commented on #1374
@RandomDSdevel issues generally stay open until the package has been approved by a moderator. Currently, the package is still in moderation: https://community.chocolatey.org/packages/iasl/2022.03.31

[2022-11-04 22:40] RandomDSdevel commented on #1374
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Right, got it; thanks.

[2022-11-04 23:14] dgalbraith commented on #1374
@RandomDSdevel There is an automatically updating package package now available but as @TheCakeIsNaOH says still awaiting moderation.

It is a little strange and needs a moderator to review - the package is currently failing validation but I do not think that this is a valid error.

Once a moderator has taken a look this will be confirmed or additional updates requested before the package is publi

[2022-11-05 20:04] tunisiano187 commented on #1273
@pauby ,Hello, this package is from dtgm, but the latest release matches with the published one... Is this still relevant?
the package may be updated to current chocolatey version, but that's all ...

Thank you

[2022-11-07 13:02] pauby commented on #1273
👍 Ordinarily, it would be good to still have another maintainer for when the software is updated. However, the last update was over 7 years ago, so I think we can agree with @kamack38 and conclude it's been abandoned.

I think we can go ahead and close this.

[2022-11-07 13:02] #1273 closed

[2022-11-07 21:33] tunisiano187 commented on #1253
Hello, i'll take this package.
Package ready on [my repo](https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/cryptsync)
And i've sent a request to be added via the contact admins form.

Have a nice day.
Thank you

[2022-11-08 13:09] rogueyoshi opened #1379 "RFP - ndi-tools"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.ndi.tv/tools/#download-tools
Direct download URL for the softw

[2022-11-08 13:12] rogueyoshi commented on #1379
Ah it seems newtek is publishing their own package. Great.

[2022-11-08 13:12] #1379 closed

[2022-11-08 21:14] tunisiano187 commented on #1278
I'll take this package.
As requested the package is now ready on https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/datamash
@pauby Can you assign this to me?
Thank you
[dtgm PR](https://github.com/dtgm/chocolatey-packages/pull/631)

[2022-11-09 18:09] tunisiano187 commented on #1278
Package Pushed

[2022-11-10 01:07] TheCakeIsNaOH commented on #1278
Approved, thanks for picking up the package @tunisiano187

[2022-11-10 01:07] #1278 closed

[2022-11-10 07:14] tunisiano187 commented on #1277
Hello,
@FoxInTheClouds, the package seems to be unavailable now, do you have a link to the install ?
Thank you.

[2022-11-11 21:59] dgalbraith commented on #1374
Package has now been reviewed and is available on the Community Repository.

[2022-11-12 05:05] TheCakeIsNaOH commented on #1374
Thanks for picking up the package @dgalbraith

[2022-11-12 05:05] #1374 closed

[2022-11-12 05:07] TheCakeIsNaOH commented on #1301
Package approved, thanks for picking it up @tunisiano187

[2022-11-12 05:07] #1301 closed

[2022-11-13 20:37] justinpryzby opened #1380 "RFM - meson"
## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://community.chocolatey.org/packages/meson
Package source URL: https://github.com/me

[2022-11-17 06:06] Foadsf opened #1381 "RFP - gdl-(gnu-data-language)"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/gnudatalanguage/gdl
Direct download URL for the softwar

[2022-11-18 19:05] Xav83 commented on #1368
I pick up this package :slightly_smiling_face:

I actually already have created a [Chocolatey package](https://community.chocolatey.org/packages/hopsan) which is currently waiting for the review of Moderators :wink:

[2022-11-19 12:44] chtof commented on #1337
Status: **Review**
https://community.chocolatey.org/packages/sidebar-diagnostics

[2022-11-19 13:57] opusforlife2 opened #1382 "RFP - endless-sky"
## Checklist

- [x] The package I am requesting does not already exist on https://community.chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://endless-sky.github.io/
Direct download URL for the software / inst

[2022-11-20 14:56] mikeee commented on #1380
Sent a request for maintainer access, happy to pick this package up.

[2022-11-20 18:21] mikeee commented on #1378
Submitted the package. Should be available soon.

[2022-11-21 01:54] mikeee commented on #1376
Pushed an update script, awaiting packages to hit the community feed.

[2022-11-21 12:59] pauby commented on #1381
@Foadsf Can you see the validation message above and update your original request?

[2022-11-22 17:17] mikeee commented on #1373
I'll push this package - will have to do something slightly janky for an updater script.

[2022-11-22 17:18] mikeee commented on #1382
I'll have a package submitted for this req 🛠️

[2022-11-22 17:28] mikeee commented on #1372
https://community.chocolatey.org/packages/blenderbim-nightly#versionhistory

Looks like there is already a chocolatey package for this up, appears to be nightly dev builds only at this point. Are there any release/stable packages?

@fbpyr appears to be the maintainer of the package.

[2022-11-23 07:20] fbpyr commented on #1372
Thank you @mikeee for the notification.  🙂

`blenderbim-nightly` indeed is currently published as nightly build
(accessible on choco cli search with `--pre` or with the search option
`Include Prerelease` on the web search on chocolatey.org)
on each night with new commits from repo `IfcOpenShell`.

As BlenderBIM development is quite in flux, I set up  - in accordance with
two of the main maintainer

[2022-11-23 17:25] mikeee commented on #1382
Package submitted, awaiting approvals 👍

[2022-11-25 17:29] pauby commented on #1302
This is now approved. Thanks @tunisiano187

[2022-11-25 17:29] #1302 closed

[2022-11-25 18:43] tunisiano187 commented on #1275
Hello @pauby ,
I'll take this package.
Can you assign me this issue ?

Thank you

[2022-11-26 15:47] mikeee commented on #1336
The package hasn't been updated and isn't working at the moment. I'm happy to pick up this package and submit releases for it though.

[2022-11-26 15:53] pauby commented on #1336
The [`signal`](https://community.chocolatey.org/packages/signal) package is maintained by @majkinetor, and it would make sense for them to pick this up and maintain it too, if they want to. @mikeee would you be willing to reach out to @majkinetor through the [`signal`](https://community.chocolatey.org/packages/signal) package page and ask?

[2022-11-26 19:32] Xav83 commented on #1336
Yes, indeed, I had trouble with the verification phase (cf. [package](https://community.chocolatey.org/packages/signal.portable/#versionhistory)). If you want, @mikeee, I can add you as a maintainer of the package so that you can push a new version of the package :wink:

[2022-11-26 19:38] tunisiano187 commented on #1272
Hello, @FoxInTheClouds, the package is up to date, why do you ask for a new maintainer?
The project hasn't any comit for 8 years.
Thank you

[2022-11-28 00:01] justinpryzby commented on #1380
Thanks for doing so !

On Sun, Nov 20, 2022 at 06:56:26AM -0800, Mike wrote:

[2022-11-28 10:03] prettybits opened #1383 "RFM - clamav"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://community.chocolatey.org/packages/clamav
Package source URL: https://github.com/x

[2022-11-28 12:55] pauby commented on #1383
I'll pick this up.

[2022-11-28 15:33] TheCakeIsNaOH opened #1384 "RFM - jdownloader"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/jdownloader
Package source URL: https://github

[2022-11-28 17:29] Xav83 commented on #1368
This [package](https://community.chocolatey.org/packages/hopsan) has been reviewed and approved by @TheCakeIsNaOH :slightly_smiling_face:

[2022-11-29 10:12] mikeee commented on #1282
Submitted a package which is maintained automatically 👍

[2022-11-29 18:15] tunisiano187 commented on #1268
I'll take this issue and package.