[2020-08-09 22:26] Michal-Mikolas commented on #562
What is the difference between "laragon" and "laragon.install" package please?

[2020-08-10 07:18] mkevenaar commented on #562
@Michal-Mikolas The laragon package is a meta package. This can be seen when you go to the [package page](https://chocolatey.org/packages/laragon) for laragon and you'll notice this banner:
![image](https://user-images.githubusercontent.com/834643/89759303-23708300-daea-11ea-8639-d3a859ef66ea.png)

This banner contains a link to the Chocolatey FAQ documentation about [metapackages](https://chocola

[2020-08-10 07:35] Michal-Mikolas commented on #562
"laragon" is metapackage, "laragon.install" is also metapackage. What is the difference between the two?

Which one should I use for the best user experience?

[2020-08-10 07:45] mkevenaar commented on #562
@Michal-Mikolas
Inside the screenshot above following text is displayed:

The `laragon` package is there for discovery, it has a dependency on the `laragon.install` and that package will install the laragon software.

Depending on how _you_ want to work with meta packages, you can either choose to install the `laragon.install` package or not.

I would like to request that you read the banner and t

[2020-08-11 06:59] animehunter123 commented on #736
Thanks Mr. Pauby, I will follow the docs to do your steps!
![jwpce](https://user-images.githubusercontent.com/42163211/89867125-aa595480-dbeb-11ea-9744-a2d065a81321.png)

[2020-08-11 15:44] naveen521kk commented on #861
I will take up this. I have done an [automatic updating package](https://github.com/naveen521kk/au-packages/tree/master/travis) but when running in Appveyor, It gives an [error](https://ci.appveyor.com/project/naveen521kk/au-packages/builds/34599681#L115) like below
[code]
Is it due to anybody else working on this or is it reserved or something? But when I visit https://chocolatey.org/packages/tra

[2020-08-11 16:14] tunisiano187 commented on #861
It is possible that the package already exist but is hidden

[2020-08-11 16:49] pauby commented on #861
@naveen521kk Have you packed Travis or the CLI? Your package name is `travis` not `travis-cli`.

See https://github.com/chocolatey/chocolatey.org/issues/613 for your issue.

[2020-08-11 16:49] AdmiringWorm commented on #861
@naveen521kk you are most likely being affected with a known problem on chocolatey.org (https://github.com/chocolatey/chocolatey.org/issues/613).
Unfortunately there isn't any known workaround AFAIK right now, the only thing you can do is to try again later.

@tunisiano187 even if the package is hidden (or unlisted, fully rejected, and so on) they will still show up when you go to the package url.

[2020-08-11 16:51] AdmiringWorm commented on #861
@pauby I would actually suggest that he would keep it with the `travis` id, as that would be consistent with what is used on other package managers (on linux): https://repology.org/project/travis/versions

[2020-08-11 17:43] naveen521kk commented on #861
I will try pushing it later. Also, I will keep the id as `travis` as it is consistent with other package manager.
Cheers

[2020-08-12 04:55] naveen521kk commented on #861
That error shows still now. Anything can be done?

[2020-08-13 05:22] naveen521kk commented on #861
Still doesn't allow me to push.

[2020-08-13 05:57] cholmquist opened #874 "RFP - Compressonator"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://gpuopen.com/compressonator/
Direct download URL for the software / installer

[2020-08-13 18:14] tunisiano187 commented on #734
I've created it, you can follow the process here : https://chocolatey.org/packages/powerchute-personal/3.1.0
Have a nice day

[2020-08-13 19:59] cholmquist commented on #874
I had provided an incorrect link to the executable in question. The correct one is
https://github.com/GPUOpen-Tools/compressonator/releases/download/V4.0.4855/CompressonatorCLI_x64_4.0.4855.exe

[2020-08-13 21:16] tunisiano187 commented on #874
I will take a look into that package

[2020-08-13 22:34] nils-a commented on #859
https://chocolatey.org/packages/colour-contrast-analyser/3.1.1

[2020-08-14 06:30] tunisiano187 commented on #874
https://chocolatey.org/packages/compressonator-cli/4.0.4855

[2020-08-15 16:48] demiters opened #875 "RFP - exodus"
## Checklist

- [ ] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [ ] There is no open issue for this package;
- [ ] The issue title starts with 'RFP - ';
- [ ] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.exodus.io/
Direct download URL for the software / installer : https://do

[2020-08-17 12:56] gep13 commented on #861
@naveen521kk I have just raised this issue on your repository:

https://github.com/naveen521kk/au-packages/issues/2

Which explains what is going on with this package.

[2020-08-17 14:06] naveen521kk commented on #861
Package has been successfully pushed. @gep13 Thanks for informing about that. :)

[2020-08-18 03:58] animehunter123 commented on #736
Hello Pauby, I pushed the package last week and it passed both of the automation tests. I follewed the docs, and everything looks ok. When will it be query'able via the webpage publically?

https://chocolatey.org/packages/jwpce  <--- here are the test results of the package.

[2020-08-18 16:11] ferventcoder opened #876 "RFM - Clojure"
https://chocolatey.org/profiles/matevarga

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/clojure
Packa

[2020-08-18 16:16] matevarga commented on #876
Hi, I confirm that I am the maintainer of the package and wish to pass it to someone else. Cheers,
Mate

[2020-08-18 22:25] demiters opened #877 "RFP - faceit"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.faceit.com/
Direct download URL for the software / installer : https://f

[2020-08-19 01:53] ferventcoder commented on #876
Overriding this tool.

[2020-08-19 13:40] eugenelim opened #878 "RFP - amazon-chime"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://aws.amazon.com/chime/download/
Direct download URL for the software / instal

[2020-08-19 23:26] demiters commented on #877
That seems to be the one.

[2020-08-19 23:26] #877 closed

[2020-08-20 09:58] pauby opened #879 "RFM - OneNote"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/onenote
Package source URL: https://github.com/pauby/chocopackages/tree/master/automatic/onenote

[2020-08-20 10:01] pauby commented on #879
A note for whoever picks this up.

The URL's I'm using serve one of two EXE's both with different names and therefore checksum's. If you add the details for EXE 1, and the Verifier or end user downloads EXE 2 at runtime, the checksums fail. This is the problem I'm hitting. I don't have time to waste on this everytime there is a new version released.

[2020-08-20 10:21] pauby commented on #736
@animehunter123 As the majority of moderators are volunteers life tends to get in the way of moderation unfortunately. Moderation can take anywhere from a few days to several weeks depending on the queue length and moderator availability. You can see the moderation queue, and the order of packages within it, by going to the packages page and change the filter from 'Normal View' to 'Moderator Queue

[2020-08-20 12:23] tunisiano187 commented on #879
Hello
I can give it a try.
Just to be sure did you try with the get-redirectedUrl ?

[2020-08-20 12:33] pauby commented on #879
What is that from?

[2020-08-20 12:36] tunisiano187 commented on #879
Wormies-AU-Helpers from @AdmiringWorm
It will take the final url, so that should be always the same file

[2020-08-20 12:37] tunisiano187 commented on #879
For example the x86 gives me : https://c2rsetup.officeapps.live.com/c2r/download.aspx?productReleaseID=OneNoteFreeRetail&platform=x86&language=en-US&version=O16GA&Source=O16ONF
So i assume the Source will be the same file

[2020-08-20 12:48] pauby commented on #879
As I'm moving away from AU I'm nto using any helpers.

That URL still downloads two different binaries.

[2020-08-20 13:47] tunisiano187 commented on #879
Found many things about this problem, none of them are solved...

[2020-08-20 14:39] tunisiano187 commented on #879
OK, i think i have the solution, i'll try in 3hours+/-

[2020-08-20 19:08] tunisiano187 commented on #879
Not easy one, i've got the basic, but ... Still have a problem with Latest
https://gitlab.com/chocolatey-packages/au-create-and-test/-/blob/master/automatic/onenote/update.ps1

[2020-08-22 19:04] tunisiano187 opened #880 "RFM - executor"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/executor
Package source URL: https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/Executor

[2020-08-23 17:19] tunisiano187 opened #881 "RFM - qttabbar"
## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/qttabbar
Package source URL: https://github.com/dtgm/choc

[2020-08-23 17:20] tunisiano187 commented on #881
the version 1038 exist and the version 1040 is only an update, not a complete installer

[2020-08-23 18:05] tunisiano187 commented on #881
@AdmiringWorm , FYI i've tryied some solutions, but the message is still the same

[2020-08-23 18:31] AdmiringWorm commented on #881
@tunisiano187 you removed the `(in YYYY-MM-DD):` from the template.
It is not expected to have the template changed, only to fill out the necessary information.

[2020-08-23 18:33] ptanmay143 commented on #849
Another thing I would like to mention for the maintainers is that this software does not provide a simple way of getting the version. So basically the chocolatey package would stay on the same version. Think of this as a online installer that would be the same downloaded anytime and anywhere. The rest of the content will be downloaded through the application, and not through the chocolatey package

[2020-08-23 19:49] dgalbraith commented on #876
I am happy to pick this one up and update the package if my Chocolatey user name dgalbraith could be added as a maintainer.

[2020-08-23 22:16] dgalbraith commented on #880
I have provided a pull request (https://github.com/tunisiano187/Chocolatey-packages/pull/2788) that will address the 406 error for your review.

I would suggest that you merge into a branch as there are a few other items that you will need to address before pushing the package, primarily the autostart following install which displays a GUI for initial setup immediately post install.

[2020-08-23 22:55] dgalbraith commented on #456
Working with @RaiMan on this - I have been assigned as a package maintainer and will push a fresh package once available.

[2020-08-24 02:50] kevinoid opened #882 "RFM - rubberduck"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/rubberduck
Package source URL: https://github.com/ptwale

[2020-08-24 04:01] Trance-Paradox opened #883 "RFP - LTspice"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulat

[2020-08-24 10:17] tunisiano187 commented on #880
Thank you for your help @dgalbraith .

[2020-08-24 10:17] #880 closed

[2020-08-24 10:23] Trance-Paradox commented on #865
yes very much appreciated thank you

[2020-08-24 11:52] RaiMan commented on #456
@dgalbraith
Is it possible, to already now with available version 2.0.4 create a new package?
2.0.5 will still take a while.

[2020-08-24 15:44] dgalbraith commented on #456
Yes - everything needed is in place and I will create a package for the current 2.0.4 version.

[2020-08-25 05:07] cosmo0920 opened #884 "RFP - Treasure Agent v4.x"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

Software project URL :  https://github.com/fluent-plugins-nursery/td-agent-builder

Direct download URL for the software / inst

[2020-08-25 05:36] dgalbraith commented on #812
Review has been completed and the updated package is now available on the community feed.

[2020-08-25 08:02] animehunter123 commented on #736
Perfect, as always thank you very much for your support. I appreciate it very much. (This was actually the first thing I ever coded, so I was excited about it). I appreciate your help and the chocolatey team. Have a wonderful week.

[2020-08-25 08:05] #812 closed

[2020-08-26 05:42] corbob commented on #799
Package has been published to the Community Repository: https://chocolatey.org/packages/winsize2

[2020-08-26 11:50] #799 closed

[2020-08-27 03:44] eugenelim commented on #878
Updated checklist in issue.

[2020-08-27 13:56] dgalbraith commented on #682
The [Watchman package](https://www.chocolatey.org/packages/watchman) has now been reviewed and is now available in the community package repository.

[2020-08-27 21:47] #682 closed

[2020-08-29 14:16] CypherNL opened #885 "RFM - naps2"
## Current Maintainer
- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist
- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/naps2
Package source URL: https://github.com/CypherNL/chocolatey-packages/tree/master/automatic/naps2

Package.install URL: https://chocolatey.org/packages/naps2.install
Pac

[2020-08-29 15:50] CypherNL commented on #885
/confirm your-chocolatey-username

[2020-08-29 15:50] CypherNL commented on #885
/confirm melvinkooi

[2020-08-29 15:51] CypherNL commented on #885
/confirm Melvinkooi

[2020-08-30 18:48] dgalbraith commented on #885
I will pick these up - chocolatey user [dgalbraith](https://chocolatey.org/profiles/dgalbraith).

[2020-08-31 12:30] nils-a commented on #859
The package has been approved.

@AdmiringWorm could you please close this issue?

[2020-08-31 12:36] #859 closed

[2020-08-31 15:29] naveen521kk commented on #861
Approved

[2020-08-31 15:34] #861 closed

[2020-09-01 10:06] tunisiano187 opened #886 "RFM - andy"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/andy
Package source URL: https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/andy

[2020-09-02 01:37] brogers5 commented on #734
Package has been approved as of yesterday. This issue can be closed.

[2020-09-02 10:29] #734 closed

[2020-09-03 15:09] numeralnathan opened #887 "RFP - StrokesPlus.net"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.strokesplus.net/
Direct download URL for the software / installer : http

[2020-09-03 16:43] daronmcintosh commented on #865
I created a package for this without realizing that this repo exists.

Package: https://chocolatey.org/packages/wsl-ubuntu-2004
Github: https://github.com/daronmcintosh/chocolatey-packages/tree/master/wsl-ubuntu-2004

@michaelmhoffman

Where did you see that wsl2 is required for 20.04? I just tested it and wsl1 can be used with 20.04.

Some things to note:
- wsl1 or wsl2 is **NOT** installed with

[2020-09-03 17:54] pauby commented on #865
@daronmcintosh I've not had a chance to look at this as yet but that package should provide a consistent experience alongside the other WSL packages. So if it's doing something different then we should look more closely at that.

Does this not happen with the other WSL packages?

Does the other packages provide this?

Apologies for many questions that I can look up the answers to. I don't have the

[2020-09-03 18:02] tunisiano187 commented on #878
Hello,
just saw this request, but i already have created this package.
https://chocolatey.org/packages/amazon-chime

Have a nice day

[2020-09-03 18:04] tunisiano187 commented on #874
@AdmiringWorm , this package as been approved.
So this issue can be closed.
Thank you

[2020-09-03 18:06] tunisiano187 commented on #190
This package as been approved, so the issue can be closed.
Thank you

[2020-09-03 18:09] tunisiano187 commented on #854
This package as his first version approved a new one has been sent, so i think you can close the issue.
Thank you

[2020-09-03 18:11] tunisiano187 commented on #857
The package as been approved, you can close the issue.
Thank you

[2020-09-03 18:12] tunisiano187 commented on #867
This package as been approved, so you can close the issue.
Thank you

[2020-09-03 18:52] daronmcintosh commented on #865
`wsl-ubuntu-2004` checks if wsl is installed. If wsl is installed, it downloads the `.appx` package from `https://aka.ms/wslubuntu2004` and installs it with `Add-AppxPackage`. If wsl is not installed, it fails the installation.

When you say other package, I assumed you're referring to https://chocolatey.org/packages/wsl-ubuntu-1804.

Yeah, `wsl-ubuntu-1804` declares a dependency on wsl 1 [here](h

[2020-09-03 22:30] #857 closed

[2020-09-03 22:33] #854 closed

[2020-09-03 22:33] #190 closed

[2020-09-03 22:34] #874 closed

[2020-09-03 22:34] #878 closed

[2020-09-04 00:46] daronmcintosh commented on #865
I realized that this cannot be done.

However, a param that could be added is "/InstallRoot" which sets the default user as root.

[2020-09-04 12:50] pauby commented on #865
Thanks for clarifying that @daronmcintosh. While this isn't your issue, I'm concerned about:

I'm wondering if the issue is just a reboot.

I thought the default user was root?

[2020-09-04 14:05] daronmcintosh commented on #865
Yeah, the PC has to be rebooted before the distro can be installed.

I faced a similar issue with the `wsl2` package that I solved with a param and documentation. See the package description for more info: <https://chocolatey.org/packages/wsl2#description>

Only if you run `ubuntu.exe install --root`. If you open the app from the start menu or run `ubuntu.exe`, it will ask you to create a user tha

[2020-09-04 14:13] pauby commented on #865
You only really do this once so when I couldn't remember what happened.

Awesome.

Thanks for clarifying that. I will now disappear back into the shadows 😄

[2020-09-04 14:21] daronmcintosh commented on #865
Yeah, this is only done once after you install the distro.

:v:

[2020-09-06 16:37] BorhnN commented on #801
Hi @corbob, if you're willing, I would like to contribute.

I was learning about chocolatey package creation for this package. Then found this.

[2020-09-07 00:54] michaelmhoffman commented on #865
Thanks for your work!

I have tried using it with WSL1 before and it seems to work initially but some things that work with WSL1 and 18.04 only work for 20.04 if you have WSL2. In the blog post ["Ubuntu 20.04 and WSL 1"](https://discourse.ubuntu.com/t/ubuntu-20-04-and-wsl-1/15291/1), @sirredbeard explains some of the issues and recommends that Ubuntu 20.04 not be used with WSL1 for now. It looks l

[2020-09-07 12:33] Trance-Paradox commented on #865
Do I have to uninstall Ubuntu 2004 installed from windows store before installing with chocolatey?

[2020-09-07 13:15] daronmcintosh commented on #865
No, you don't have to and you can continue using the version installed through the store. But if you want to use the chocolatey version, I suggest unregistering Ubuntu 20.04 then installing the choco package.

[2020-09-07 14:07] Trance-Paradox commented on #865
ooo OK actually i was getting an error while installing Ubuntu 2004. I already have the store version installed so I thought that it was causing an collision with the chocolaty version.

[2020-09-09 00:32] valtoree opened #889 "RFP - gtkhash"
##Software summary / short description:

A cross-platform desktop utility for computing message digests or checksums

https://github.com/tristanheaven/gtkhash

https://github.com/tristanheaven/gtkhash/releases/

<!-- ## Package Expectations
adding icon to the desktop

P.s. yes I have searched for the package on chocolatey.org and its not there.

[2020-09-09 08:59] #865 closed

[2020-09-11 14:05] K0media commented on #887
Thanks for submitting this, @numeralnathan. I had to do this in the past, but I just left it and saw you added it here.

[2020-09-11 14:49] CypherNL commented on #885
Added to the naps2 and naps2.install. My bad for taking so long. I wasn't aware i had to add you to the maintainers list myself.

[2020-09-11 15:01] numeralnathan commented on #887
Please clarify...

[2020-09-17 17:06] tunisiano187 commented on #886
Solution found by @bcurran3 , thanks

[2020-09-17 17:06] #886 closed

[2020-09-17 17:10] tunisiano187 commented on #853
I'm already working on it, but was stuck with one thing, now it's working, so it's in moderation state

[2020-09-17 18:43] xmha97 commented on #853
There is Bonjour v2.0 on the Chocolatey... I need Bonjour v3.1.0.2

[2020-09-17 19:19] vexx32 commented on #853
It's there, just currently in moderation. Once it passes the moderation requirements it will be available. 🙂

[2020-09-18 09:29] xmha97 commented on #853
Great 👏

[2020-09-18 10:20] tunisiano187 commented on #853
It's Accepted, so this issue can be closed ;-)
Thank you

[2020-09-18 10:41] #853 closed

[2020-09-20 04:15] JuanJ67m commented on #855
we need a update

[2020-09-20 08:15] tunisiano187 commented on #855
Hello,
I'll take this one, @Spunkie can you add tunisiano as maintainer?
Thank you

[2020-09-20 09:35] tunisiano187 commented on #855
Package ready to be pushed

[2020-09-21 02:14] corbob commented on #801
Hi @BorhnN, sure. It looks like I created an empty package and hadn't actually got to filling out the nuspec or coming up with the ChocolateyInstall.ps1 before being distracted by life.

Let me know if there's any assistance I can provide.

[2020-09-21 02:17] corbob commented on #801
It looks like @BorhnN has gotten this done, and it's in the community repository. Could this be assigned over to them @AdmiringWorm?

[2020-09-21 11:43] AdmiringWorm commented on #801
Looks to also be approved.
Considering this request as completed.

[2020-09-21 11:43] #801 closed

[2020-09-21 19:09] Ashkaan opened #890 "RFP - Disk Usage"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://docs.microsoft.com/en-us/sysinternals/downloads/du
Direct download URL for t

[2020-09-21 19:18] tunisiano187 commented on #890
This package already exists, is there a problem with it?

[2020-09-21 19:36] Ashkaan commented on #890
Holy moly.  I swear I searched "Disk Usage" and couldn't find it on the website.  I'm so sorry for the trouble.

[2020-09-21 19:36] #890 closed

[2020-09-22 16:51] tunisiano187 commented on #855
Done and approved, so you can close this issue.

[2020-09-22 18:18] #855 closed

[2020-09-23 00:12] TheNavyBear opened #891 "RFP - panacast-utility"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.panacast.com/
Direct download URL for the software / installer : https:/

[2020-09-24 06:08] #830 closed

[2020-09-24 06:13] AdmiringWorm commented on #787
Moving back to available for maintainers due to lack of response.

[2020-09-24 06:13] AdmiringWorm commented on #776
Moving back to available for maintainers due to lack of response.

[2020-09-24 06:14] AdmiringWorm commented on #774
Moving back to available for maintainers due to lack of response.

[2020-09-24 06:17] AdmiringWorm commented on #456
@dgalbraith any update on this?

[2020-09-24 06:22] AdmiringWorm commented on #743
@teknowledgist just to follow up, have you heard anything back from the author?

[2020-09-24 06:23] AdmiringWorm commented on #761
@dgalbraith any update on this?

[2020-09-24 06:23] AdmiringWorm commented on #842
@teknowledgist any update on this?

[2020-09-24 06:25] AdmiringWorm commented on #889
Closing as the issue has not been updated.

[2020-09-24 06:25] #889 closed

[2020-09-24 06:26] #806 closed

[2020-09-24 06:26] #546 closed

[2020-09-24 06:27] #795 closed

[2020-09-24 06:27] #838 closed

[2020-09-24 06:28] #866 closed

[2020-09-24 13:08] tunisiano187 commented on #774
@AdmiringWorm the package is up-to-date, now maintained by @boubou
So this issue can be closed.

Thank you

[2020-09-24 14:30] abejenaru commented on #774
I confirm, I'm not the maintainer anymore. Thanks!

[2020-09-24 18:39] TheNavyBear commented on #891
If it helps sway a maintainer: I don't believe this package will get many updates. All newer cameras use the Jabra Direct app instead of this one. This one is solely for the older cameras (version 1 and 2), and only gets updates as needed for security and bugs.

To that end, I mainly want it in Chocolately as I am now only using software that comes from Chocolately or the Microsoft App Store, as i

[2020-09-24 20:40] Ashkaan opened #892 "RFP - FrameView"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.nvidia.com/en-us/geforce/technologies/frameview/
Direct download URL for

[2020-09-24 21:33] #774 closed

[2020-09-28 19:04] tunisiano187 commented on #776
it's been pushed by boubou, so you can assign him, and maybe close

[2020-09-28 20:14] tunisiano187 commented on #882
@AdmiringWorm , i'll take this one.

[2020-09-28 20:32] AdmiringWorm commented on #882
@tunisiano187 if you haven't already, please send off an email using the `Contact Site Admins` link to get added (I assume you already have though, which is why I assigned you already. Usually we don't assign you until you get added).

[2020-09-28 20:36] AdmiringWorm commented on #776
@tunisiano187 considering that he had not responded on any of the issues that he had been assigned to, I am inclined to consider him unresponsive, and personally would like someone else to pick up the package due to this.

@pauby what are your thoughts on this?

[2020-09-29 06:26] tunisiano187 commented on #776
OK, depending on the decision, i can take it if you want.
Thank you

[2020-09-29 07:02] whitis opened #893 "RFP - go-fonts"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL:
https://github.com/golang/image/tree/master/font/gofont

Direct download URL for the

[2020-09-29 08:35] pauby commented on #776
@AdmiringWorm As we both agree, I'll just assign this to @tunisiano187 just now.

[2020-09-30 10:42] tunisiano187 commented on #882
Thank you
the package is uploaded, just a problem on the verifier with the dotnet4.6.2 (dependency) that fails to install...

[2020-09-30 10:43] tunisiano187 commented on #776
OK, so i assume i'll need to ask via admins form too ?

[2020-09-30 21:05] teknowledgist commented on #743
I just sent one last email re-explaining Chocolatey, listing the options we have for this to work, and requesting an answer (one way or another) from the author.  I think if we don't get a response within a week or so we have to assume a NetTraffic Chocolatey package is not possible.

[2020-09-30 21:10] teknowledgist commented on #842
Ah!  Sorry.  [It is long done](https://chocolatey.org/packages/thematrix).

[2020-10-01 07:46] AdmiringWorm commented on #776
@tunisiano187 yes that is correct.

[2020-10-01 07:47] #842 closed

[2020-10-02 12:11] CypherNL opened #894 "RFP - tvrename"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/TV-Rename/tvrename
Software Homepage: https://www.tvrename.com
Di

[2020-10-02 13:12] tunisiano187 commented on #787
I'll take it
I'm seding the message via the admins form.

[2020-10-02 21:55] AdmiringWorm commented on #845
@pauby did we get any final decision regarding using the web archive link?
I honestly don't remember, but have a feeling it leaned more towards not allowing it :confused:

[2020-10-02 21:57] AdmiringWorm commented on #797
@pauby I just checked the download link for this one, and it doesn't seem to be redirecting anymore to a login page (in a web browser).

Can you confirm whether you are seeing the redirect still?

[2020-10-02 21:59] pauby commented on #797
The issue I had with this one is that the direct download URL is just an Amazon S3 bucket that we would normally verify by going to the homepage and finding out the download link. But that's still behind a login page.

[2020-10-02 22:00] tunisiano187 commented on #788
@abejenaru
Hello, i'll pick this up to join with the meta.
Can you add me as maintainer? tunisiano

Thank you

[2020-10-02 22:03] pauby commented on #845
@AdmiringWorm We did. But we didn't come back here and I can't remember what the decision was. So I've asked the question again and tagged you in it.

[2020-10-02 22:03] AdmiringWorm commented on #797
Hmm, I see.
I'm not really seeing that on my end.
Going to the homepage on my end allows the installer to be directly downloaded without displaying any login page.

[2020-10-02 22:09] pauby commented on #797
That is very weird. If I try it in Firefox (where I have a lot of privacy plugins so that could be the problem) I am taken to a login page.

If I try it in Iridium (a Chrome based browser) it takes me straight to the download as you said.

So yeah, I'd say this is unblocked now (at least for everybody except me 😄 )

[2020-10-02 22:19] AdmiringWorm commented on #456
@dgalbraith Do you have any update on this request?
If there is no update within the next 7 days I will move this request back to being available to new maintainers.

[2020-10-02 22:19] AdmiringWorm commented on #761
@dgalbraith Do you have any update on this request?
If there is no update within the next 7 days I will move this request back to being available to new maintainers.

[2020-10-02 22:23] AdmiringWorm commented on #873
### Message to maintainers

It looks like the website does not allow a direct download using the download link, so additional work to have a working package will be needed.

I am still opening it up to new maintainers, as I do believe it is possible.

[2020-10-02 22:28] pauby commented on #873
I will look at picking this one up.

[2020-10-02 22:31] AdmiringWorm commented on #873
@pauby could be that all you have to do is set a User Agent and maybe a referer (it all depends on how the website is implemented).

[2020-10-05 08:28] abejenaru commented on #788
Done! Thanks for your interest @tunisiano187 !
PS. I've also added you to the .portable version, hope it's not a problem!

[2020-10-05 08:37] AdmiringWorm commented on #788
@tunisiano187 you may want to hit up @boubou as well, as it seems he is maintaining a meta-package (but as a full-blown package instead) for nteract (https://chocolatey.org/packages/nteract).

[2020-10-05 10:11] tunisiano187 commented on #788
Yes, I'll talk with him to check.
Thanks

[2020-10-08 10:07] brunelli opened #896 "RFP - obsidian"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://obsidian.md/
Direct download URL for the software / installer : https://gith

[2020-10-08 11:48] AdmiringWorm commented on #879
As per an update to our Readme, the trusted status of this package have been removed.

See https://github.com/chocolatey-community/chocolatey-package-requests#how-to-create-packages-for-a-request

[2020-10-08 11:50] AdmiringWorm commented on #822
As per an update to our Readme, the trusted status of this package have been removed.

See https://github.com/chocolatey-community/chocolatey-package-requests#how-to-create-packages-for-a-request

[2020-10-08 11:50] AdmiringWorm commented on #800
As per an update to our Readme, the trusted status of this package have been removed.

See https://github.com/chocolatey-community/chocolatey-package-requests#how-to-create-packages-for-a-request

[2020-10-08 13:21] AdmiringWorm commented on #896
Their EULA specifically denies any redistribution (https://obsidian.md/eula).
This do not mean that a package can not be created, but anyone wishing to pick up this request need to get explicit permission from the authors of the software first.

[2020-10-08 16:12] dgalbraith commented on #761
@AdmiringWorm packaging is in flight.  The base package is done but I have gone done a bit of a rabbit hole with i18n and hit some issues.  Will review this weekend and look to either progress or pull out the i18n and address separately later.

[2020-10-08 16:14] dgalbraith commented on #456
@AdmiringWorm in progress.  Core package is complete but have been trying to build out automated installs of some optional dependencies that I have hit a few blockers on.

[2020-10-08 17:18] tunisiano187 commented on #879
my tests aren't working, so if someone else want to take it, ...

[2020-10-09 10:49] pauby commented on #879
@tunisiano187 This isn't there anymore? I'd be interested to see what you did.

[2020-10-09 10:58] AdmiringWorm commented on #879
@pauby https://gitlab.com/chocolatey-packages/au-create-and-test/-/tree/cec0c864c7e64a22b72e137388d8285db5fd86fe/automatic/onenote

[2020-10-09 15:23] tunisiano187 commented on #879
I was trying to download twice, but got the same file
And I've searched for a proxy to try to have the other file but that wasn't working as expected

[2020-10-09 17:40] tunisiano187 commented on #879
@pauby maybe a last test can be to check if the value is the same as
filename32-1 and  filename64-1
here :
https://gitlab.com/chocolatey-packages/au-create-and-test/-/blob/cec0c864c7e64a22b72e137388d8285db5fd86fe/automatic/onenote/update.ps1#L47-60
but this weekend and the complete next week i won't be available enough to
test

Le ven. 9 oct. 2020 à 12:58, Kim J. Nordmo <notifications@github.com>

[2020-10-11 19:05] eddiefletchernz opened #897 "RFM - SqlServer2012Express"
## Current Maintainer

- [X ] I am the maintainer of the package and wish to pass it to someone else;

## Existing Package Details

Package URL: https://chocolatey.org/packages/SqlServer2012Express
Package source URL:

[2020-10-11 19:06] eddiefletchernz opened #898 "RFM - SelfSSL7"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Existing Package Details

Package URL: https://chocolatey.org/packages/SelfSSL7
Package source URL:

[2020-10-11 19:07] eddiefletchernz opened #899 "RFM - msdeploy"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Existing Package Details

Package URL: https://chocolatey.org/packages/msdeploy
Package source URL:

[2020-10-11 19:09] eddiefletchernz commented on #897
/confirm TheodoreIII

[2020-10-11 19:11] eddiefletchernz commented on #898
/confirm TheodoreIII

[2020-10-11 19:13] eddiefletchernz commented on #899
/confirm TheodoreIII

[2020-10-12 09:09] pauby commented on #743
@teknowledgist I'm assuming there was no response?

[2020-10-12 14:06] AdmiringWorm commented on #898
@eddiefletchernz I am not able to verify that you are the maintainer of this package due to missing information on the account profile.

If you could add your GitHub username on the chocolatey profile page (https://chocolatey.org/account/Edit), then we can open this up to a new maintainer immediately.

[2020-10-12 14:07] AdmiringWorm commented on #897
@eddiefletchernz I am not able to verify that you are the maintainer of this package due to missing information on the account profile.

If you could add your GitHub username on the chocolatey profile page (https://chocolatey.org/account/Edit), then we can open this up to a new maintainer immediately.

[2020-10-12 14:07] AdmiringWorm commented on #899
@eddiefletchernz I am not able to verify that you are the maintainer of this package due to missing information on the account profile.

If you could add your GitHub username on the chocolatey profile page (https://chocolatey.org/account/Edit), then we can open this up to a new maintainer immediately.

[2020-10-12 15:30] teknowledgist commented on #743
Not a peep.

Given that the author was quite responsive back in January/February, that there does not appear to have been any activity on the site since April, and that the global pandemic has been raging through most of this, I'm grimly wondering if an answer is not possible.

Either way, it does not appear a Chocolatey package is possible.

[2020-10-12 15:35] pauby commented on #743
I'll mark this as 'Can't Implement' for the time being.

Thanks for all your work on the @teknowledgist !

[2020-10-12 15:36] #743 closed

[2020-10-12 17:50] eddiefletchernz commented on #899
Added

[2020-10-12 17:50] eddiefletchernz commented on #897
Added

[2020-10-12 17:50] eddiefletchernz commented on #898
Added

[2020-10-12 17:51] AdmiringWorm commented on #898
Thank you for adding that. Opening this request to new maintainers.

[2020-10-12 17:51] AdmiringWorm commented on #897
Thank you for adding that. Opening this request to new maintainers.

[2020-10-12 17:51] AdmiringWorm commented on #899
Thank you for adding that. Opening this request to new maintainers.

[2020-10-14 09:56] pauby commented on #845
@AdmiringWorm Do we have a way forward on this given the chat?

[2020-10-17 08:02] LinArcX opened #900 "RFP - scc"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/boyter/scc
Direct download URL for the software / installer : htt

[2020-10-17 08:47] LinArcX opened #901 "RFP - fantasque-sans"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/belluzj/fantasque-sans
Direct download URL for the software / ins

[2020-10-17 08:49] LinArcX opened #902 "RFP - vazir-fonts"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/rastikerdar/vazir-font
Direct download URL for the software / ins

[2020-10-17 09:24] LinArcX opened #903 "RFP - scratch"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://scratch.mit.edu/
Direct download URL for the software / installer :
https://

[2020-10-21 08:31] AdmiringWorm commented on #845
@pauby yeah, I think we do.

I think it will be safe to open this up to maintainers, with at least one caveat.

For any package for this request, ensure that there is also a `VERIFICATION.txt` file available in the package that details how to validate the binary file.
This is mostly due to the actual webpage only being available on the Wayback machine, as well as the binary file.

I would also lik

[2020-10-21 10:32] AdmiringWorm commented on #902
Note to anyone picking up this request.
Remember that all packages on the community repository requires the description of the software to be in English, even when the software (in this case the font) is for a different language.

[2020-10-21 14:33] joeltonyc opened #904 "RFP - taskbarx"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://chrisandriessen.nl/taskbarx
Direct download URL for the software / installer

[2020-10-22 14:16] houstdav000 opened #905 "RFP - Zowe-Cli"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/zowe/zowe-cli
Direct download URL for the software / installer :

[2020-10-22 16:12] houstdav000 commented on #905
I might also be able to pick up this package as a maintainer. I'm not super familiar with the process, but am familiar with PowerShell

[2020-10-24 00:39] frankitox commented on #858
Hi @AdmiringWorm I'd like to maintain this package, I'm currently using DroidCam in Windows. Just created a [repository](https://github.com/frankitox/droidcam-chocolatey) for the package and push it. Now waiting for moderation.

[2020-10-25 11:15] CypherNL commented on #885
@designxsteph Did you have received the request to be added as maintainer for the naps2 and naps2.install packages? I haven't received any confirmation that you've accepted the request as the maintainership status is still on pending approval.

[2020-10-25 13:26] pauby commented on #885
@CypherNL I think you meant to tag @dgalbraith

[2020-10-25 13:32] designxsteph commented on #885
Hey there, I think maybe you meant to tag @dgalbraith ?

[2020-10-25 18:50] CypherNL commented on #885
Yeah, i think i though it was the correct option but i didn't check if it was the correct option. Whoops...

[2020-10-26 07:41] fds39 commented on #743
Hi @pauby and @teknowledgist
Maybe a very last hope with this message received 2 weeks ago at the end of this thread. Here is the copy of the mail I received
![screenshot_24](https://user-images.githubusercontent.com/40143934/97145725-f76ab280-1766-11eb-951c-1fcb50d454ac.jpg)

[2020-10-26 13:39] teknowledgist commented on #743
Thanks @fds39 for poking the bear.  I guess I was being too polite.  😄

Good news!  The CDN that should allow scripted downloads of NetTraffic is up.

I am working on completing the package.  It's not as simple as I had hoped though for several reasons, so it's taking a little longer.  I won't bore anyone with the details unless I get really stuck.

Soon.  There will be a NetTraffic package soon.

[2020-10-26 14:44] digitalnyc1 opened #906 "RFP - powerbi-report-builder"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.microsoft.com/en-us/download/details.aspx?id=58158
Direct download URL f

[2020-10-26 16:46] fds39 commented on #743
@teknowledgist you're just kiding me ;)
My message wasn't very polite at all, but yours was particularly elegant. But in the end, the average of our messages responded to a certain condescension of our interlocutor. Also my English is not very good :)

[2020-10-26 20:25] teknowledgist commented on #743
I've pushed [the NetTraffic package](https://chocolatey.org/packages/nettraffic).

Thanks for being patient.

[2020-10-27 21:13] AdmiringWorm commented on #858
Please supply a link to the package when you push, this helps both us and the user requesting the package (as well as any user coming across the issue in the future) without having to look up and down to find it.

[2020-10-27 21:15] AdmiringWorm commented on #906
@digitalnyc1 what is the difference between this software you request a package for, and the package https://chocolatey.org/packages/PowerBI?

Or are these perhaps the same?

[2020-10-27 23:48] frankitox commented on #858
This is the link to the [Chocolatey package](https://chocolatey.org/packages/droidcam/6.3.3) (Not approved yet).

[2020-10-28 01:33] digitalnyc1 commented on #906
They're different packages that are part of the Power Platform.  https://chocolatey.org/packages/PowerBI is the Power BI Desktop software https://powerbi.microsoft.com/en-us/desktop/, the Power BI Report Builder (https://docs.microsoft.com/en-us/power-bi/paginated-reports/report-builder-power-bi) is a separate thing.  Unfortunately, I'm not really that well versed in what they actually do, because

[2020-10-28 11:11] AdmiringWorm commented on #906
I see. I am not familiar to either one, so it looked to me that they both were the same.
Thank you for clarifying, I'll open this issue up as available.

[2020-10-28 11:14] AdmiringWorm commented on #858
@frankitox and it won't be approved either, as you currently have a failing requirement (you should have gotten an email to the registered email account with the information).

![image](https://user-images.githubusercontent.com/1474648/97428973-0e500700-1917-11eb-9837-d2204408659e.png)

As long as the validator is failing, moderators won't even see the package until they are fixed (or if they can

[2020-10-28 11:51] pauby commented on #906
@cporteou Can you shed any light on them being different / same?

[2020-10-28 15:56] TheNavyBear opened #907 "RFP - second-life-viewer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://secondlife.com/
Direct download URL for the software / installer : https://v

[2020-10-29 10:58] cporteou commented on #906
It is indeed 2 different applications for different content types. Power BI Report Builder is essentially a re-skin of the SSRS (Reporting Services) Report Builder intended for paginated reports.

[2020-10-31 16:46] jtcmedia opened #908 "RFM - arduino"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

/confirm jtcmedia

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/arduino
Package source URL: https://github.com/jtcmedia/chocolatey-packages/tree/master/arduino

Currently using AU for this package but it has stopped

[2020-10-31 21:27] tunisiano187 commented on #908
I'm interested to take this one, has it's one or the things i'm currently
using.
You can add Tunisiano.
Thanks

Le sam. 31 oct. 2020 17:47, jtcmedia <notifications@github.com> a écrit :

[2020-10-31 21:32] jtcmedia commented on #908
I've added you as maintainer, thanks!

[2020-11-02 16:12] jtcmedia commented on #908
@tunisiano187 Looks like you have migrated the package over to your own repo. Can you correct your README? It's not the CLI, it's the IDE. If you could submit a PR to my repo to remove arduino, that would be great and I can close this issue.

[2020-11-02 19:22] tunisiano187 commented on #908
Indeed, i've migrated because i don't use the same logic as yours.
I've changed the Readme... thanks for the tip.

Next time they'll release a new version, we'll see if everything is OK.

Le lun. 2 nov. 2020 à 17:13, jtcmedia <notifications@github.com> a écrit :

[2020-11-05 09:12] fds39 commented on #743
@teknowledgist I'm not sure I understand what to expect from now on.
I tested the installation but it doesn't seem to work. Forgive me for asking these awkward questions.
![screenshot_445](https://user-images.githubusercontent.com/40143934/98220961-57bfd800-1f4f-11eb-8dd8-4be2ec97b9a0.png)

[2020-11-05 14:34] teknowledgist commented on #743
@fds39 The NetTraffic package has not yet been approved by the Chocolatey repository moderators, so you have to add the --version switch like this:

    choco install nettraffic -y --version 1.66.1 --params '"/autorun"'

Of course, you should only do that if you trust that the package won't do anything malicious.  😄 That's what the moderators are for: to check that the package is "safe" (generally

[2020-11-07 15:30] grafst opened #909 "RFP - kite"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.kite.com
Direct download URL for the software / installer : https://alph

[2020-11-11 16:12] ograna opened #910 "RFP - logitech-g-hub"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://www.logitechg.com/de-de/innovation/g-hub.html
Direct download URL for the s

[2020-11-11 16:34] ograna opened #911 "RFP - overwolf"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.overwolf.com/
Direct download URL for the software / installer : https:/

[2020-11-23 17:00] haferje opened #912 "RFP - logitech-capture"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.logitech.com/en-us/product/capture
Direct download URL for the software

[2020-11-23 23:53] TheNavyBear opened #913 "RFP - pluto-tv"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.pluto.tv
Direct download URL for the software / installer : http://on.pl

[2020-11-27 20:20] b16r05 commented on #739
How do I re-open this request? Or, do I create a new one?

[2020-11-28 23:48] vamartid opened #914 "RFP - syncplay"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://syncplay.pl/ , https://github.com/Syncplay/syncplay
Direct download URL for

[2020-11-29 06:05] Trance-Paradox opened #915 "Bluestacks"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.bluestacks.com/
Direct download URL for the software / installer :  http

[2020-11-30 17:22] kevinoid commented on #882
I've been using the [rubberduck package](https://chocolatey.org/packages/rubberduck) since shortly after it was approved on October 4 and it works like a charm.  Thanks for maintaining it @tunisiano187!

Safe to close as "Status: Published" @AdmiringWorm?

[2020-11-30 17:30] kevinoid opened #916 "RFP - netextender"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.sonicwall.com/products/remote-access/vpn-clients/
Direct download URL fo

[2020-11-30 17:32] kevinoid opened #917 "RFP - global-vpn-client"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.sonicwall.com/products/remote-access/vpn-clients/
Direct download URL fo

[2020-11-30 17:32] #882 closed

[2020-11-30 17:39] tunisiano187 commented on #882
Oups sorry, i forgot ask to close

[2020-12-08 08:16] alazymeme commented on #289
BandagedBetterDiscord is the maintained version:
https://github.com/rauenzi/BetterDiscordApp
https://github.com/rauenzi/BBDInstaller

[2020-12-08 09:39] dex4er opened #918 "RFP - kui"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://kui.tools/
Direct download URL for the software / installer : https://win32-

[2020-12-08 19:06] vintagesucks opened #919 "RFP - recyclenow"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://bluefive.pairsite.com/recyclenow.htm

Direct download URL for the software /

[2020-12-11 10:19] fds39 commented on #743
I come here to close our long thread to warmly thank the protagonists of this NetTraffic package. :pray::pray:
I just realized that the package has been approved by the moderators.

So thanks to @teknowledgist the package maintainer, @pauby, @AdmiringWorm and of course VENEA.NET for their authorization. May the latter forgive me for my momentary harshness. :worried:

Long live this great package :

[2020-12-11 15:25] TheRec opened #920 "RFP - xnshell"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.xnview.com/en/xnshell/

Direct download URL for the software / installer

[2020-12-11 18:58] FrostedBrownies opened #921 "RFP - dedrm"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/apprenticeharper/DeDRM_tools
Direct download URL for the software

[2020-12-11 22:43] FrostedBrownies opened #922 "RFP - lively"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://rocksdanister.github.io/lively/
Direct download URL for the software / insta

[2020-12-14 22:45] dr0biwan commented on #845
That'd be a random guy who pumped out a load of plug-ins over the years & even worked on Winamp for a while & is easily contactable from the forum profile links (I've only stumbled on this by chance & thought it weird to see one of my plug-ins directly named).

FYI the plug-in was removed as there were issues with it & no the source code hasn't been provided but is instead maintained in an updated

[2020-12-14 23:25] EpsilonsQc commented on #845
I'd just like to add that, as someone who still use this plug-in all the time, and has been using it for the past 12+ years, I never encountered any problems/bugs or instability with it. Maybe i'm just lucky. But it pretty much do exactly what it's supposed to do : add an option (hotkey) to remove files from the winamp playlist and place them directly in the recycle bin.

[2020-12-15 07:47] opusforlife2 opened #923 "RFP - fluidsynth"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.fluidsynth.org/
Direct download URL for the software / installer : https

[2020-12-17 15:57] naveen521kk commented on #900
I will do this.

[2020-12-18 03:28] teknowledgist commented on #901
I've got this.  [Package created and submitted](https://chocolatey.org/packages/fantasque-sans.font).

[2020-12-18 06:00] naveen521kk commented on #900
Pushed it https://chocolatey.org/packages/scc

[2020-12-21 20:18] Elaborendum opened #924 "RFP - PinWin"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/pinwin/files/
Direct download URL for the software

[2020-12-22 01:09] Elaborendum commented on #924
It is the package I'm referring to, so I don't know how to proceed.

[2021-01-02 17:42] tunisiano187 opened #925 "RFM - voicemod"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Package URL:
Package source URL:

[2021-01-03 14:55] tunisiano187 commented on #903
This is one of the packages i'm maintaining, you can find it here : https://chocolatey.org/packages/scratch

[2021-01-04 17:48] greyltc opened #926 "RFP - dbus"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://www.freedesktop.org/software/dbus/
Direct download URL for the software / ins

[2021-01-04 21:13] #908 closed

[2021-01-05 00:34] #901 closed

[2021-01-05 00:44] #900 closed

[2021-01-05 01:35] #903 closed

[2021-01-05 01:41] AdmiringWorm commented on #926
TBH, as there is no official pre-built windows binary for this software, it is unlikely that a package will be created for this (not impossible that it will happen though).

A note for upcoming maintainers, the software needs to be compiled as part of the install process, unofficial binaries are not accepted on the community repository.

[2021-01-05 09:46] greyltc commented on #926
@AdmiringWorm I don't know much about chocolatey and I'd be interested in knowing a bit more about what it might take to get this packaged. Can you point me to a package that actually does compilation in the chocolatey pipeline that I could inspect? I've done a bit of searching, but all the packages I've come across seem to just take action on precompiled binaries.

[2021-01-09 08:47] nyrosis opened #927 "RFP - testnav"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://download.testnav.com/
Direct download URL for the software / installer : htt

[2021-01-09 19:22] opusforlife2 commented on #923
@chtof Interested? You've snapped up my other package requests pretty quickly. :P

[2021-01-09 22:12] opusforlife2 commented on #776
A newer version (1.1.3) was successfully published 2 weeks later. freac was published a few days earlier than that.

[2021-01-10 11:58] tunisiano187 commented on #776
I've pushed the update.
in case you have another request about this package, you can ask directly on my git at : https://github.com/tunisiano187/Chocolatey-packages/issues
@AdmiringWorm you can close this issue.
Thank you

[2021-01-10 11:59] #776 closed

[2021-01-12 07:56] opusforlife2 commented on #776
@tunisiano187 That's what I meant. That this issue could be closed successfully.

[2021-01-13 13:05] houstdav000 opened #928 "RFP - webex"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.webex.com/unified-homepage-081220201.html
Direct download URL for the so

[2021-01-13 13:06] houstdav000 commented on #928
Note: This basically is the replacement for both webex-teams and webex-meetings, and so should be its own install probably

[2021-01-13 13:25] houstdav000 commented on #928
Correction: The Webex Teams app has replaced Webex Meetings, and they renamed it "Webex", with a _slightly_ different download link. Whether this means we can just alias "webex" to "webex-teams" or not, I'm not sure though

[2021-01-13 14:57] AdmiringWorm commented on #928
@chtof this may perhaps be something you would want to look at.

If I understand everything correctly, then the `webex-teams` (and possibly `webex-meetings`) should be deprecated and replaced with a `webex` package.

If that is so, the best action is for the existing maintainer to deprecate those packages and submit a new one under the id `webex` instead of adding a package with a new maintainer.

[2021-01-13 22:52] chtof commented on #928
@AdmiringWorm It seems it's not clear for everybody.
See also Disqus messages on https://chocolatey.org/packages/webex-meetings
We don't know exactly if it replaces Webex-Meetings or Webex-Teams, if it's a kind of merge of both or an additional software, some keypoints:
- According https://www.g2.com/compare/cisco-webex-meetings-vs-webex-formerly-webex-teams, webex would replace webex-teams (but I

[2021-01-15 22:47] w0 commented on #922
On it

[2021-01-16 07:00] w0 commented on #922
Complete: https://chocolatey.org/packages/lively

[2021-01-18 15:38] WingSafari5 opened #929 "RFM - jdk11"
## Current Maintainer

_oota_ken_ said via Disquis they're not interested in further maintaining the package:
![image](https://user-images.githubusercontent.com/77145991/104935154-2c278800-59ab-11eb-8878-8345fd63f2ae.png)
 [permalink](http://disq.us/p/23ypo8s)

## I DON'T Want To Become The Maintainer

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the p

[2021-01-18 22:26] AdmiringWorm commented on #928
@chtof looking at the links you provided, to me the appropriate choice is to deprecate only the `webex-teams` package in favour of a new `webex` package (due to the mention on their site that webex replaces webex-teams).
But to keep webex-meetings as it currently is, at least until there is an explicit mention on the website that webex replaces meetings.

Why webex-meetings is mentioned as a previ

[2021-01-19 22:42] TheNavyBear commented on #913
I noticed this is still in triage, is there any info or links I need to provide to help with the triage process?

[2021-01-19 22:44] TheNavyBear commented on #891
I no longer need this software, and I don't want to tie up devs with software no longer needed. I am closing this request.

[2021-01-19 22:44] TheNavyBear commented on #891
I no longer need this software, and I don't want to tie up devs with software no longer needed. I am closing this request.

[2021-01-19 22:44] #891 closed

[2021-01-19 22:45] TheNavyBear commented on #907
I no longer need this software, and I don't want to tie up devs with software no longer needed. I am closing this request.

[2021-01-19 22:45] #907 closed

[2021-01-20 04:33] AdmiringWorm commented on #913
@TheNavyBear Most likely just been missed. I'll open this up to new maintainers.

But first, a note to anyone wanting to pick this up, the desktop application (and the service) seems to only be available to American consumers, this is something that needs to be noted in the description of the package.

[2021-01-20 14:58] TheNavyBear commented on #913
@AdmiringWorm ,ah ok, and thank you. Also, I was unaware it was US only, or I would have noted that in my original request. Thank you again for the help.

[2021-01-22 22:43] Ocramius commented on #832
Related? https://github.com/dmariogatto/choco/blob/master/amd-ryzen-master/amd-ryzen-master.nuspec (sorry, I am profane of Microsoft/Windows ecosystem dependency/build tools)

[2021-01-23 18:46] githubnavigator opened #930 "RFP - unpaper"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/rodrigost23/unpaper/
Direct download URL for the software / insta

[2021-01-24 03:17] NeuromancerMkII opened #931 "validate that current user have permissions to do this command (need write or triage access), unless the user have confirmed"
https://github.com/chocolatey-community/chocolatey-package-requests/blob/94f327f6d5262ca605b6ee4c03df954f46ae43ad/scripts/public/New-UserConnection.ps1#L66-L66

[2021-01-24 17:17] scowalt opened #932 "RFP - flashpoint-launcher"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/FlashpointProject/launcher
Direct download URL for the software /

[2021-01-24 17:20] scowalt opened #933 "RFP - win10-brightnessslider"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/blackholeearth/Win10_BrightnessSlider
Direct download URL for the

[2021-01-25 10:03] pauby commented on #931
@NeuromancerMkII The issues here are for raising package requests. I understand this is for the automation here but it looks like it's just repeating what was in the TODO which isn't helpful.

[2021-01-25 10:03] #931 closed

[2021-01-26 06:38] dtantono commented on #494
Yes, this package (https://chocolatey.org/packages/GoogleChrome.Dev) and (https://chocolatey.org/packages/EthanBrown.ChromeCanaryDevExtensions) are obsolete. I hope someone can maintain it soon

[2021-01-26 06:46] dtantono commented on #739
The maintainer attempt to make it live on Chocolatey (https://chocolatey.org/packages/strawberrymusicplayer). But, the approval hadn't already given. Is there a problem Chocolatey backend side?

[2021-01-26 06:47] mkevenaar commented on #494
@dtantono have you seen [this](https://chocolatey.org/packages/googlechromebeta#versionhistory) package?

[2021-01-26 06:51] dtantono commented on #494
I tried to search it by choco search google chrome or (https://chocolatey.org/packages?q=google+chrome+beta) and I only got the stable one (https://chocolatey.org/packages/GoogleChrome). the weird thing is it does not shows up on normal search

[2021-01-26 07:34] nsleigh commented on #494
Because it is a beta you have change the search to include pre-release (https://chocolatey.org/packages?q=google+chrome+beta&moderatorQueue=&moderationStatus=all-statuses&prerelease=true&sortOrder=relevance).

[2021-01-26 07:40] dtantono commented on #494
Sorry I am not really good in the powershell, is there any specific parameters on the PowerShell for search prerelease app?

[2021-01-26 08:02] nsleigh commented on #494
choco install googlechromebeta --pre

[2021-01-26 14:35] fmoeqbcegt74gs9e opened #934 "RFP - mailslurper"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://mailslurper.com/
Direct download URL for the software / installer : https://

[2021-01-26 15:16] teknowledgist commented on #700
Just for the record... When you attempt to install TinyPDF on 64-bit windows, a message pops up:

[code]

Of course, this package could be made to require a 32-bit system, but that is a dying breed.

[2021-01-26 16:33] SlrG commented on #700
Yes, the developer has (sadly but understandably) abandoned the free program for a commercial one, which is 64-bit compatible. I really liked it because of its tiny size compared to other pdf printers and really would have liked for it to be made compatible. But as this is not desired by the developer and as you said 32-bit is a dead horse, we will have to let this package go too.

[2021-01-27 16:30] infraweavers opened #935 "RFP - beekeeper-studio"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.beekeeperstudio.io
Direct download URL for the software / installer :  h

[2021-01-27 16:34] #935 closed

[2021-01-27 16:34] infraweavers commented on #935
doh, didn't search very well!

[2021-01-29 14:29] WingSafari5 commented on #929
any status?

[2021-02-01 11:52] silopolis opened #936 "RFP - qelectrotech"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://qelectrotech.org/
Direct download URL for the software / installer : https:/

[2021-02-01 14:01] pauby commented on #929
@WingSafari5 You've _requested_ a new maintainer for the package. It's down to the community maintainers (new or existing) to pick this up and maintain it _if they want to_.

If you need this package maintained within a timescale your best avenue is to pick it up and maintain it yourself.

Hope that helps explain things.

[2021-02-02 16:19] gliptak opened #937 "RFP - awscli-session-manager"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working

[2021-02-03 10:47] mstick99 opened #938 "RFM - rockbox"
New release: 1.4.1
Released: 2019-11-15
Platform:
Windows (7 / 8 / 10)
Linux
OS X (10.4, 10.5, 10.6)

http://www.rockbox.org/wiki/RockboxUtility#Download

[2021-02-04 16:35] b16r05 commented on #739
Thank you @dtantono for the note. I am excited to see some action, of my original request from over a year ago. This project is a fork of clementine, which is already available through chocolatey, ... but maybe enough things have changed to cause issues.

[2021-02-04 16:41] mstick99 commented on #938
We could not detect that you have specified a URL to the package in this issue, and we were not able to locate any package matching the id in the issue title. Please update the issue title to match the package name, or add the URL to the 'Package URL:' part of the issue.  https://chocolatey.org/packages/rockbox

[2021-02-05 08:51] pauby commented on #938
@mstick99 Can you go back to your original request and use the template and fill in the fields that the bot requires? If that is nto done we will need to close this issue.

[2021-02-05 15:26] FrostedBrownies commented on #922
Version 1.1.8.0 is now up, thanks @w0

[2021-02-05 15:26] #922 closed

[2021-02-06 01:36] dgalbraith commented on #893
[Go-fonts package](https://www.chocolatey.org/packages/go-fonts) has been pushed and is ready for moderation.

[2021-02-06 02:15] dgalbraith commented on #923
A [fluidsynth package](https://www.chocolatey.org/packages/fluidsynth/) has been pushed and is ready for moderation.

[2021-02-08 22:01] candrapersada opened #939 "RFP - tartube"
## Checklist
* [x]  The package I am requesting does not already exist on https://chocolatey.org/packages;
* [x]  There is no open issue for this package;
* [x] The issue title starts with 'RFP - ';
* [x]  The download URL is public and not locked behind a paywall / login;
## Package Details
Software project URL: https://tartube.sourceforge.io
Direct download URL for the software / installer:
http

[2021-02-10 22:13] dgalbraith commented on #918
A [https://www.chocolatey.org/packages/kui](kui package) has been pushed and is ready for moderation.

[2021-02-11 10:59] dtantono opened #940 "RFP - gingerwriter"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

Package Details

Software project URL : https://www.gingersoftware.com/
Direct download URL for the software / installer : https:/

[2021-02-11 11:11] pauby commented on #938
Closing this due to no update.

[2021-02-11 11:11] #938 closed

[2021-02-11 11:20] pauby commented on #928
Do we have an agreement on a way forward with this?

[2021-02-11 11:21] pauby commented on #924
Closing as there is no update, and it looks like there is a package that covers it.

[2021-02-11 11:22] pauby commented on #915
Closing this due to no update.

[2021-02-11 11:22] #915 closed

[2021-02-11 11:22] pauby commented on #914
Closing this as no update, and there is an existing package that looks to cover it.

[2021-02-11 11:22] #914 closed

[2021-02-11 11:25] pauby commented on #912
Just as a note to any potential maintainer: Logitech software loves to use their own installers that don't (usually) have any silent switches so AutoHotkey is likely going to be needed for this. See `[logitech-options](https://chocolatey.org/packages/logitech-options)` as an example.

[2021-02-11 11:26] pauby commented on #910
Closing due to no update, and there looks to be a package covering this.

[2021-02-11 11:26] #910 closed

[2021-02-11 11:27] pauby commented on #904
Closing this as no update, and there appears to be a package that covers this.

[2021-02-11 11:27] #904 closed

[2021-02-11 11:30] pauby commented on #858
@frankitox Are you planning on fixing the package that was pushed? If not, we should close this and open an RFM request.

[2021-02-11 11:32] #788 closed

[2021-02-11 11:32] pauby commented on #761
@dgalbraith Any update on this?

[2021-02-11 11:33] pauby commented on #456
@dgalbraith Any update to this?

[2021-02-11 12:05] frankitox commented on #858
Hi Paul. No, you can close it.

On Thu, Feb 11, 2021, 8:31 AM Paul Broadwith <notifications@github.com>
wrote:

[2021-02-11 12:07] #858 closed

[2021-02-11 12:21] houstdav000 commented on #928
I think I'd be in agreement with @AdmiringWorm to deprecate `webex-teams` in favor of `webex` and keep `webex-meetings`

[2021-02-12 10:20] b16r05 commented on #739
I noticed that chocolatey page for Strawberry Music Player shows version 0.8.1 from Last Update on 16 Oct 2020: https://chocolatey.org/packages/strawberrymusicplayer

A new version, 0.8.5, was released on Dec 19, 2020: https://github.com/strawberrymusicplayer/strawberry/releases

I am not sure if someone contacted the maintainer, so, I opened a ticket letting him know: https://github.com/strawberr

[2021-02-12 10:26] dtantono commented on #739
Hi
I think you should notify the maintainer on the chocolatey site or strawberry forum (https://forum.strawberrymusicplayer.org/) to improve the visibility of your request.

[2021-02-12 11:44] dgalbraith commented on #761
[SQL Server Compact 4.0 package](https://www.chocolatey.org/packages/mssqlserver-compact4.0/4.0.8876.1) has been pushed and is waiting for moderation.

[2021-02-12 19:41] opusforlife2 commented on #923
Awesome! Thank you so much! :D

[2021-02-13 09:40] b16r05 commented on #739
Hi @dtantono The software author @jonaski is active. He replied on the chocolatey page: https://chocolatey.org/packages/strawberrymusicplayer and also, my ticket when I contacted him: https://github.com/strawberrymusicplayer/strawberry/issues/649

However, I have no idea about the package maintainer: https://chocolatey.org/profiles/samon53. This package might need a new maintainer. I was wondering

[2021-02-13 10:58] dtantono commented on #739
Hi
I think our best bet is to contact the chocolatey support team (https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#package-is-outdated) and see their response for this issue.

[2021-02-13 20:25] b16r05 commented on #739
@dtantono I sent the maintainer a message, asking him to come in here. From what I understand from the link you provided, since this ticket is closed, I have to create a new one and see how that goes. I will hold off for now and give it a few days. Thanks for your help!

[2021-02-14 02:52] dtantono commented on #739
Hi, I also communicate with strawberry developers as well and you can track them here (https://github.com/strawberrymusicplayer/strawberry/issues/635) and (https://forum.strawberrymusicplayer.org/topic/194/feature-request-add-flatpak-package-and-other-repositories)

[2021-02-15 07:12] dgalbraith commented on #902
This one looks like it has been packaged https://chocolatey.org/packages/vazir-font and is available for use.

[2021-02-15 07:15] dgalbraith commented on #932
@scowalt just looking at this and I thought that it would be worth clarifying - is the intent here for a package of the FlashPoint launcher to be used for development purposes, or is the focus more on having a working install of the FlashPoint application configured with content?

If it is the former I have a package ready to push.  If it is the latter there are a few more things that need to be p

[2021-02-15 09:04] AdmiringWorm commented on #902
@dgalbraith looks that way. Closing this issue as a result.

[2021-02-15 09:04] #902 closed

[2021-02-15 15:15] scowalt commented on #932
My primary intention was the second one you mentioned: to have an install that could be used to play games out of the box.

The [Flashpoint download page](https://bluemaxima.org/flashpoint/downloads/) mentioned three versions: "Ultimate", "Infinity", and "Core". In a perfect world, all three have separate packages that are actively maintained. For the purposes of my request, however, I care most a

[2021-02-20 15:55] scowalt opened #941 "RFM - anyburn"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://www.anyburn.com/
Direct download URL for the software / installer : http://ww

[2021-02-20 16:09] #941 closed

[2021-02-21 12:32] chtof commented on #940
Status: **Review**
https://chocolatey.org/packages/gingerwriter

[2021-02-21 18:23] jhg21 opened #942 "RFP - frame.io-transfer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.frame.io/transfer/
Direct download URL for the software / installer : ht

[2021-02-21 18:41] AdmiringWorm commented on #942
I am not so sure if `frame.io-transfer` would be the correct identifier for any package created for this request (the title of the issue should use the expected identifier of the package).

Need a second opinion on the id before opening this issue to maintainers.

/cc @pauby @gep13 @ferventcoder

[2021-02-22 12:35] pauby commented on #942
@AdmiringWorm The `.io-transfer` is an invalid package name _unless_ the software is called that.

[2021-02-22 15:08] boubou commented on #917
I ever pushed the package sonicwall.global.vpnclient but I can get it works.
The install wasnt successful.
Maybe some help, we can achieve to fix the trouble.

[2021-02-22 15:09] boubou commented on #917
Something, I need that software too so it cans be a good thing to fix that.

[2021-02-22 15:21] boubou opened #943 "RPM: Videostream package seem not maintained anymore."
https://chocolatey.org/packages/videostream is bad checksums since many weeks/months.
I wrote to the maintainer privately, on his disqus wall and I opened an pull rtequest of his github.
[
![Untitled](https://user-images.githubusercontent.com/10491809/108728575-ba85b100-74f7-11eb-9026-62e366526053.png)
](url)
Can I be added as a maintainer on the package now ?
Thanks in advance.

[2021-02-22 15:38] boubou commented on #943
What is missing ?

[2021-02-22 16:15] AdmiringWorm commented on #943
Closing issue due to not following the template.
Please read the repository [`Readme.md`](https://cdn.getvideostream.com/videostream-native-updates/windows/x64/Setup.exe) file before opening any further issues.

Btw, the *PROOF* you show is a pull request to an unrelated repository, and not to the repository the maintainer of the package uses.

You also do not open an issue here to get added as a

[2021-02-22 16:15] #943 closed

[2021-02-22 16:17] AdmiringWorm commented on #942
@pauby I am well aware, how in this case I am uncertain if `frame.io` would be considered part of the software name, or if the software is just called `transfer`.

[2021-02-22 17:17] boubou commented on #943
Hi Kim,
Then can you point me in the right direction please ?

[2021-02-22 17:26] AdmiringWorm commented on #510
I am looking into creating a package for this request

[2021-02-22 17:49] pauby commented on #942
@AdmiringWorm That wasn't clear from your questions.

The software appears to be called Transfer and the company Frame.io (downloaded the software and inspected the MSI properties).

[2021-02-22 17:56] jhg21 commented on #942
@pauby Installing the program it is called `Frame.io Transfer` on Windows.
https://i.imgur.com/ggOC6Ho.png

But yes, the company is called Frame.io, but they themselves refer to the software as "Frame.io Transfer".

[2021-02-22 18:14] AdmiringWorm commented on #943
In which regard?
Opening an RFM request for this repository?
Or opening a pull request to the correct repository?

I assume the latter.
The pull request needs to go into `https://github.com/CruzMarcio/au-packages`, which is linked to on the package details page. Instead, you opened a PR to `https://github.com/majkinetor/au-packages-template` probably due to how the repository is set up. The reposi

[2021-02-22 18:19] AdmiringWorm commented on #942
This is the reason that makes me unsure, while personally I would probably have called the package `transfer` (if available) and left the `title` of the package as `Frame.io Transfer`, I would possibly think it can also be valid to name it as `frame.io-transfer` due to how it is referenced on the download page.

The title isn't meant as a hard requirement to an upcoming maintainer, but rather what

[2021-02-23 13:21] ThinkPadNL opened #944 "RFP - starleaf"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://support.starleaf.com/installing/starleaf-app/#Mass-dep
Direct download URL f

[2021-02-24 01:29] dgalbraith commented on #932
Ok, have a few packages ready for review on this:
* [flashpoint-launcher](https://www.chocolatey.org/packages/flashpoint-launcher) - the base launcher product which is sans any configuration or content - really for people wanting to roll their own usage of Flashpoint.
* [flashpoint-core](https://www.chocolatey.org/packages/flashpoint-core) - the core distribution that comes configured with example

[2021-02-24 01:33] scowalt commented on #932
This all looks great from my perspective, thank you for your work!

[2021-02-24 01:57] AdmiringWorm commented on #942
In the interest of time, I have opened this request to maintainers without any modifications.

[2021-02-24 03:10] AdmiringWorm commented on #510
A new package for this software has been pushed to chocolatey.org and will be available here: https://chocolatey.org/packages/geoserver

[2021-02-24 03:14] AdmiringWorm commented on #456
Moving request to `Available for Maintainer(s)` due to no response.

[2021-02-24 03:15] AdmiringWorm commented on #873
@pauby any update on this request?

[2021-02-24 03:15] AdmiringWorm commented on #787
@tunisiano187 any update on this request?

[2021-02-24 03:18] AdmiringWorm commented on #928
@chtof are you in any position to push a `webex` package and deprecate the `webex-teams` package?

[2021-02-24 10:46] pauby commented on #873
@AdmiringWorm I have had no time to pick this up although I am trying to carve out some time to update / pick up the packages. At the moment though it might better to make it available for others.

[2021-02-24 14:37] AdmiringWorm commented on #873
Alright, at the moment I think moving it back so other people can pick it up is appropriate.
Feel free to pick it up yourself when you have time though.

[2021-02-24 15:08] tunisiano187 commented on #787
It's done sorry.
Thank you

[2021-02-24 15:59] #787 closed

[2021-02-27 08:09] chtof commented on #944
Status: **Review**
https://chocolatey.org/packages/starleaf

[2021-02-27 08:59] chtof commented on #939
Status: **Review**
https://chocolatey.org/packages/tartube

[2021-02-27 09:00] chtof commented on #939
Status: **Review**
https://chocolatey.org/packages/tartube

[2021-02-27 09:04] chtof commented on #939
@AdmiringWorm F.Y.I., I am not the maintainer but someone has already scripted the Chocolatey package, it's why I inform the package is under review to avoid someone else script also this package.

[2021-02-27 09:06] AdmiringWorm commented on #939
@chtof ah, I see, I never checked the maintainer. In that case this request is considered already existing instead, since the maintainer never commented on the issue.

Thanks for letting me know.

[2021-02-27 09:06] #939 closed

[2021-02-27 09:21] chtof commented on #913
Status: **Review**
https://chocolatey.org/packages/pluto-tv

[2021-02-27 17:15] dgalbraith commented on #923
Moderation is now complete and the package is available.

[2021-02-27 17:17] dgalbraith commented on #918
Moderation is now complete and the package is available.

[2021-02-27 18:22] #923 closed

[2021-02-27 18:22] #918 closed

[2021-03-01 07:10] dgalbraith commented on #761
Moderation is complete and the [SQL Server Compact 4.0 package](https://www.chocolatey.org/packages/mssqlserver-compact4.0/4.0.8876.1) is now available.

[2021-03-01 08:01] #761 closed

[2021-03-02 11:18] gep13 opened #946 "RFM - meshmixer"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/meshmixer
Package source URL: https://github.com/NovaVip

[2021-03-02 11:58] AdmiringWorm commented on #946
@mkevenaar you know the drill, send a message using the site admins to get added to the package.

[2021-03-03 13:24] mkevenaar commented on #946
A new version has been pushed, ready for review

[2021-03-03 19:53] AdmiringWorm opened #947 "RFM - snapgene-viewer"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL:
Package source URL:

Additional details:

The snapgene viewer program is now hidden behind an emails subscription form and seems to have moved to be a free trial program instead of a free program.

[2021-03-03 23:03] mmatera opened #948 "RFP - asymptote"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://asymptote.sourceforge.io/
Direct download URL for the software / installer :

[2021-03-05 20:08] chtof commented on #944
Status: **Published**
https://chocolatey.org/packages/starleaf

[2021-03-05 20:08] #944 closed

[2021-03-05 20:09] chtof commented on #940
Status: **Published**
https://chocolatey.org/packages/gingerwriter

[2021-03-05 20:09] #940 closed

[2021-03-05 20:41] chtof commented on #919
Status: **Review**
https://chocolatey.org/packages/recyclenow

[2021-03-07 14:11] dgalbraith commented on #916
Looks like @djschumacher has packaged this one and it is currently going through review - https://www.chocolatey.org/packages/sonicwallnetextender/10.2.300.

[2021-03-09 07:54] dgalbraith commented on #921
[DeDRM ackage](https://www.chocolatey.org/packages/calibre-dedrm) is now ready for moderation.

Note that the latest version for the 5.x series(python 3 based) of Calibre has been uploaded as 5.x are the current Calibre versions.  There is also a package for the 4.x series which will be uploaded on successful completion of moderation.

[2021-03-09 14:01] FrostedBrownies commented on #921
Thanks for creating the package.

[2021-03-09 20:37] AdmiringWorm commented on #510
The package has been approved by a moderator and is available for normal consumption.

[2021-03-09 20:37] #510 closed

[2021-03-10 00:45] dgalbraith commented on #932
The main [flashpoint](https://www.chocolatey.org/packages/flashpoint) meta-package and the [flashpoint-infinity](https://www.chocolatey.org/packages/flashpoint-infinity) packages have been reviewed and are now generally available in the community repository.

[2021-03-10 04:01] teknowledgist commented on #948
I've got a package for this all ready to push.  I just have to be made a maintainer.

[2021-03-10 04:37] #932 closed

[2021-03-12 04:48] dgalbraith commented on #921
Moderation is complete and the [calibre-dedrm package](https://chocolatey.org/packages/calibre-dedrm) for Calibre 5.x is now available in the community repository.

[2021-03-12 05:16] #921 closed

[2021-03-13 18:27] teknowledgist commented on #936
I just submitted a [QElectroTech package](https://chocolatey.org/packages/qet), and another for [DXFtoQET](https://chocolatey.org/packages/dxftoqet).

I'll leave any `qet-daily` to someone else.

[2021-03-13 18:30] teknowledgist commented on #948
[Asymptote v2.69](https://chocolatey.org/packages/asymptote) is up and waiting for review by moderators.

[2021-03-14 19:13] silopolis commented on #936
Great ! Thank you !
Posted to the community to let them know
https://qelectrotech.org/forum/viewtopic.php?pid=14562

[2021-03-14 22:11] scorpio810 commented on #936
Great job, is amazing, thanks;-)

[2021-03-15 02:46] wickles opened #949 "RFP - mailbird"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.getmailbird.com/
Direct download URL for the software / installer : http

[2021-03-15 02:48] wickles commented on #949
There is a [package for mailspring](https://chocolatey.org/packages/mailspring) tagged with 'mailbird' and I am not aware if or how they are related.

[2021-03-16 18:57] MelvinG24 opened #950 "RFP - latino"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.lenguajelatino.org

Direct download URL for the software / installer :
h

[2021-03-17 22:15] mmatera commented on #948
I tried to use in the test of a project.  However, for some reason, I can not get that asy.exe appears in the path. Any clue?
[See logs in](https://github.com/Mathics3/pymathics-asy/actions/runs/652232008)

[2021-03-18 02:54] teknowledgist commented on #948
@mmatera I guess because the installer doesn't add the path?  The Chocolatey package does nothing more than run the installer silently (and fix a little bug with where the start menu shortcut sits).  If you run the installer manually, `asy.exe` isn't on the path either.

I suppose I could have the path to `asy.exe` added, I just didn't know that was wanted.

[2021-03-18 03:02] teknowledgist commented on #948
OK.  Adjusted package pushed.  Try it again.

[2021-03-18 03:30] teknowledgist commented on #906
I just pushed the [powerbi-reportbuilder package](https://chocolatey.org/packages/powerbi-reportbuilder).

[2021-03-18 10:22] mkevenaar commented on #946
Package is approved.

[2021-03-18 10:22] #946 closed

[2021-03-20 12:39] chtof commented on #919
Status: **Published**
https://chocolatey.org/packages/recyclenow

[2021-03-20 12:39] #919 closed

[2021-03-20 12:39] chtof commented on #913
Status: **Published**
 https://chocolatey.org/packages/pluto-tv

[2021-03-20 12:39] #913 closed

[2021-03-20 14:35] MelvinG24 commented on #950
Is there anything else may I have to do before this request is valid?

[2021-03-21 10:02] chtof commented on #942
Status: **Review**
https://chocolatey.org/packages/transfer

[2021-03-21 11:31] chtof commented on #937
Status: **Review**
https://chocolatey.org/packages/awscli-session-manager

[2021-03-21 23:44] jhg21 opened #951 "RFP - soundly"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://getsoundly.com/
Direct download URL for the software / installer : https://s

[2021-03-22 10:20] chtof commented on #934
Status: **Review**
https://chocolatey.org/packages/mailslurper

[2021-03-22 22:16] dgalbraith commented on #893
The [Go-fonts package](https://www.chocolatey.org/packages/go-fonts) is now available in the community repository.

[2021-03-23 07:28] AdmiringWorm commented on #936
Looks like the package is approved, and can be consumed normally.
Closing the request now as resolved.

[2021-03-23 07:28] #936 closed

[2021-03-23 12:51] #893 closed

[2021-03-23 13:02] AdmiringWorm commented on #951
Notice to upcoming maintainers.
There is a discrepancy in the EULA provided by the software authors, one section allows distribution while a different section disallows it.

I recommend that anyone picking up the creation of the package tries to contact the software authors to clarify wether it can be distributed or not.

[2021-03-23 13:03] AdmiringWorm commented on #937
Package looks to be approved

[2021-03-23 13:03] #937 closed

[2021-03-23 13:04] AdmiringWorm commented on #942
The package looks to have been approved.

[2021-03-23 13:04] #942 closed

[2021-03-23 13:36] AdmiringWorm commented on #950
@MelvinG24 only patience I'm afraid.

The approval of the requests are done manually, and only a few people do the approvals of them so it can sometimes take time until the requests are looked at.
Add that none of them speak Spanish (as far as I know), it can take longer.

Anyways, it is open to upcoming maintainers now, but first a note to them.

### Maintainer note

The latest executable was fla

[2021-03-23 13:38] AdmiringWorm commented on #919
@chtof just a note. Please remember to mark the request as `Status: Published` when you close the issue.
Other than that, great work :smile:

[2021-03-23 14:37] AdmiringWorm commented on #906
Looks like the package is approved.

[2021-03-23 14:37] #906 closed

[2021-03-23 14:38] AdmiringWorm commented on #948
The package version 2.69 is approved.

[2021-03-23 14:38] #948 closed

[2021-03-23 19:50] silopolis commented on #936
Great, thanks a lot again 🙏

Le mar. 23 mars 2021 à 08:28, Kim J. Nordmo ***@***.***> a
écrit :

[2021-03-23 20:39] teknowledgist commented on #896
This wouldn't require explicit permission if it's not an embedded package, would it?  A "normal" Chocolatey package that downloads the installer from the official distribution URL doesn't qualify as redistribution.

That said, while I'm not sure it deserves the "Blocked Upstream" label, the installer is strictly per-user (probably because of the limited, free license types).  It does **not** appea

[2021-03-26 02:05] BrandonKMLee opened #952 "RFP - weasel-(traditional-chinese/hong-kong-chinese)"
## Current Maintainer

@chtof

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [ ] RFM - Weasel (but defaults to "Simplified, China" inst

[2021-03-26 02:37] AdmiringWorm commented on #952
Please use the correct template when you are opening an issue in this repository, as well as only request 1 package in each issue.

Please fix the items mentioned by the bot, otherwise we will most likely close this issue in 7 days.

[2021-03-26 02:42] BrandonKMLee commented on #952
@AdmiringWorm apologies but I would like to raise an issue regarding a package behaving differently from a direct download from the site, and I hope that this can be addressed somehow, since the template is confusing.

[2021-03-26 02:52] AdmiringWorm commented on #952
@BrandonKMLee that is not what this repository is.

This repository is for requesting new packages that people want, as well as part of the triage process of getting new maintainers of existing packages.

For issues regarding specific packages, you need to contact the maintainer of that package (either using `Contact Maintainers`, the disqus comments or through their source repository).
For that s

[2021-03-26 02:52] #952 closed

[2021-03-27 03:59] dtantono opened #953 "RFP - photosync"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.photosync-app.com/home.html
Direct download URL for the software / installer

[2021-03-27 04:16] dtantono opened #954 "RFP - qoppapdfstudio"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.qoppa.com/
Direct download URL for the software / installer : https://downlo

[2021-03-27 04:20] dtantono opened #955 "RFP - qoppapdfstudio32bit"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.qoppa.com/
Direct download URL for the software / installer : https://downlo

[2021-03-27 04:24] dtantono opened #956 "RFP - hasleoeasyuefi"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.easyuefi.com/index-us.html
Direct download URL for the software / installer

[2021-03-27 04:27] dtantono opened #957 "RFP - evoluentmousemanager"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://evoluent.com/
Direct download URL for the software / installer : https://evoluen

[2021-03-27 04:30] dtantono opened #958 "RFP - evoluentmousemanagertypec"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://evoluent.com/
Direct download URL for the software / installer : https://evoluen

[2021-03-27 04:37] dtantono opened #959 "RFP - jetaudio"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://www.jetaudio.com/
Direct download URL for the software / installer : http://www.j

[2021-03-27 09:25] chtof commented on #950
Status: **Review**
https://chocolatey.org/packages/latino

[2021-03-27 21:33] chtof commented on #933
Status: **Review**
https://chocolatey.org/packages/win10-brightnessslider

[2021-03-28 01:28] dtantono opened #960 "RFP - simpletransfer"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://rambax.com/simpletransfer/
Direct download URL for the software / installer : ht

[2021-03-28 09:22] chtof commented on #911
- I didn't find switches to install this package silently.
- Windows Spy does not detect the name of buttons in installer so it seems not possible to use AutoHotKey.

[2021-03-28 09:37] chtof commented on #930
Status: **Review**
https://chocolatey.org/packages/unpaper

[2021-03-31 09:33] jan-win1993 commented on #702
I would like to create and maintain this package.

[2021-04-01 00:44] MelvinG24 commented on #950
Hi @chtof ,

On the Chocolatey packages website it's shows "Verification Testing Pending" am I have to do anything?

Thank you for your time

[2021-04-01 02:50] chtof commented on #950
Hi @MelvinG24,
https://docs.chocolatey.org/en-us/faqs#what-is-moderation

[2021-04-02 09:23] chtof commented on #934
Status: **Published**
https://chocolatey.org/packages/mailslurper

[2021-04-02 09:23] #934 closed

[2021-04-02 10:30] chtof commented on #911
Status: **Review**
https://chocolatey.org/packages/overwolf

[2021-04-02 19:06] chtof commented on #927
Status: **Review**
https://chocolatey.org/packages/testnav

[2021-04-03 08:51] chtof commented on #920
Status: **Review**
- https://chocolatey.org/packages/xnshell
- https://chocolatey.org/packages/xnshell.install
- https://chocolatey.org/packages/xnshell.portable

[2021-04-03 10:21] muesli opened #961 "RFP - glow"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/charmbracelet/glow/
Direct download URL for the software / instal

[2021-04-03 10:35] muesli commented on #961
Added the missing https scheme to the project URL.

[2021-04-03 11:27] AdmiringWorm commented on #955
@dtantono usually packages are not split based on architecture, as such this request is also covered by issue #954 and will be closed.

[2021-04-03 11:27] #955 closed

[2021-04-03 13:11] AdmiringWorm commented on #959
/recheck

[2021-04-04 07:51] LinArcX opened #962 "RFP - sshfs-win"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/billziss-gh/sshfs-win
Direct download URL for the software / inst

[2021-04-04 10:33] chtof commented on #961
Status: **Review**
https://chocolatey.org/packages/glow

[2021-04-04 10:37] chtof commented on #927
Status: **Published**
https://chocolatey.org/packages/testnav

[2021-04-04 10:37] #927 closed

[2021-04-04 10:38] chtof commented on #911
Status: **Published**
https://chocolatey.org/packages/overwolf

[2021-04-04 10:38] #911 closed

[2021-04-04 20:31] chtof commented on #960
Status: **Review**
https://chocolatey.org/packages/simpletransfer

[2021-04-05 08:38] chtof commented on #957
Status: **Review**
https://chocolatey.org/packages/evoluentmousemanager

[2021-04-05 13:21] chtof commented on #930
Status: **Published**
https://chocolatey.org/packages/unpaper

[2021-04-05 13:21] #930 closed

[2021-04-06 00:26] teknowledgist commented on #962
Just a comment:  sshfs-win is dependent on [winfsp](https://github.com/billziss-gh/winfsp) which [already has a package](https://community.chocolatey.org/packages/winfsp) maintained by @billziss-gh, the author of both applications.  It may be worth asking them to take ownership and maintenance the package.

[2021-04-06 14:35] dtantono opened #963 "RFP - ThunderbirdBeta"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.thunderbird.net/
Direct download URL for the software / installer : https://

[2021-04-06 15:07] dtantono opened #964 "RFP - thunderbirdnightly"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.thunderbird.net/
Direct download URL for the software / installer : https://

[2021-04-09 01:21] MelvinG24 commented on #950
@chtof,

Thank you very much for the link.
I have noticed that Latino has passed all checks, is that mean Latino can be install from the choco commands? <3

[2021-04-09 05:02] AdmiringWorm commented on #950
@MelvinG24 it hasn't yet been approved by the moderators so doing a normal `choco install` command will not work unless you also explicitly uses the `--version` argument as well.

[2021-04-11 05:55] BrandonKMLee commented on #739
@b16r05 @dtantono it seems that the newer version of the package is also broken, can someone please help out?

[2021-04-11 14:36] dtantono commented on #739
@BrandonKMLee you can contact the strawberry maintainer for this issue (https://github.com/strawberrymusicplayer/strawberry)

[2021-04-11 14:43] BrandonKMLee commented on #739
@dtantono the development team made the statement that it is on the side of the chocolatey package developers that are responsible.

[2021-04-11 14:45] dtantono commented on #739
you can consult this site (https://chocolatey.org/support)

[2021-04-12 09:33] chtof commented on #928
Status: **Review**
https://chocolatey.org/packages/webex

[2021-04-12 09:47] chtof commented on #928
@AdmiringWorm I wil deprecate webex-teams when webex will be approved. But if you agree, I will not add a dependency on webex-teams for webex as I am not sure the dependency will work correctly.

[2021-04-13 10:15] AdmiringWorm commented on #928
@chtof since the `webex-teams` will be deprecated in favor of `webex`, it should have it as a dependency.
What I typically do if I believe there may be some issues, is to have a empty script in the deprecated package that writes out a warning it is deprecated and should be uninstalled by the user:

https://github.com/AdmiringWorm/chocolatey-packages/blob/master/deprecated/uplay/tools/chocolateyIns

[2021-04-13 16:28] BrandonKMLee opened #965 "RFP - Pretty Easy Privacy"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://pep.software/thunderbird/
Direct download URL for the software / installer :

[2021-04-13 16:31] BrandonKMLee commented on #965
Edited the project URL for detection

[2021-04-14 15:55] TheCakeIsNaOH opened #966 "RFM - nvidia-broadcast"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/nvidia-broadcast
Package source URL: https://github.com/

[2021-04-14 22:03] jhg21 opened #967 "RFM - spicetify-cli"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/spicetify-cli
Package source URL: https://github.com/der

[2021-04-15 14:29] mcandre opened #968 "RFP - icc"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://software.intel.com/content/www/us/en/develop/tools/oneapi/components/dpc-comp

[2021-04-17 10:48] chtof commented on #953
Status: **Review**
https://chocolatey.org/packages/photosync

[2021-04-17 22:24] chtof commented on #953
Status: **Published**
https://chocolatey.org/packages/photosync

[2021-04-17 22:24] #953 closed

[2021-04-17 22:24] chtof commented on #961
Status: **Published**
https://chocolatey.org/packages/glow

[2021-04-17 22:24] #961 closed

[2021-04-17 22:25] chtof commented on #960
Status: **Published**
https://chocolatey.org/packages/simpletransfer

[2021-04-17 22:25] #960 closed

[2021-04-17 22:28] chtof commented on #950
Status: **Published**
https://chocolatey.org/packages/latino

[2021-04-17 22:28] #950 closed

[2021-04-17 22:29] chtof commented on #933
Status: **Published**
https://chocolatey.org/packages/win10-brightnessslider

[2021-04-17 22:29] #933 closed

[2021-04-17 22:38] chtof commented on #928
Status: **Published**
https://chocolatey.org/packages/webex

[2021-04-17 22:38] #928 closed

[2021-04-17 22:39] chtof commented on #920
Status: **Published**
- https://chocolatey.org/packages/xnshell
- https://chocolatey.org/packages/xnshell.install
- https://chocolatey.org/packages/xnshell.portable

[2021-04-17 22:39] #920 closed

[2021-04-19 00:10] dgalbraith commented on #896
@Jonasw234 has built a non-embedded package for [Obsidian](https://community.chocolatey.org/packages/obsidian) which is now available in the community repository.

I believe that the author is ok with a Chocolatey package / binaries being redistributed although I am not sure if the following would be acceptable from a moderation perspective?

![image](https://user-images.githubusercontent.com/1270

[2021-04-19 03:48] BrandonKMLee opened #969 "RFP - wekan"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://wekan.github.io/
Direct download URL for the software / installer : https://

[2021-04-20 08:33] BrandonKMLee opened #970 "RFP - taskboard"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://taskboard.matthewross.me/
Direct download URL for the software / installer :

[2021-04-21 00:31] BrandonKMLee opened #971 "RFM - new-version-of-imageglass"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2021-04-21 12:27] jan-win1993 commented on #702
The package is published.

[2021-04-22 00:42] #896 closed

[2021-04-22 15:03] chantisnake opened #972 "RFP -- Coq Platform"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

**Software project URL** : https://github.com/coq/platform
**Direct download URL for the software / install

[2021-04-24 09:01] chtof commented on #956
Status: **Review**
https://community.chocolatey.org/packages/easyuefi

[2021-04-24 09:25] chtof commented on #954
Status: **Review**
https://community.chocolatey.org/packages/pdfstudio

[2021-04-27 07:45] fraenki commented on #702
https://community.chocolatey.org/packages/openvpn-connect
This issue should be closed.

[2021-04-28 13:32] karlhorky opened #973 "RFP - flameshot"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/flameshot-org/flameshot/
Direct download URL for the software / i

[2021-04-28 21:43] brogers5 opened #974 "RFP - imazing"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://imazing.com/
Direct download URL for the software / installer : https://down

[2021-04-28 22:01] brogers5 commented on #974
The package link provided by the bot is indeed what I was looking for. However, the package was rejected due to failing multiple rounds of automated testing and has seemingly been abandoned by the maintainer.

[2021-04-29 12:10] LinArcX opened #975 "RFP - torifier"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.torifier.com/
Direct download URL for the software / installer : https:/

[2021-04-29 14:27] soredake commented on #358
Any progress on this?

[2021-05-01 21:55] DarkG3n3sis commented on #834
I love you, I was looking for this app to fix the rgb on armory crate all day long, thank you very much even if it has nothing to do with the tread.

[2021-05-02 15:40] BrandonKMLee opened #976 "KDE FireLight for Windows"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://utils.kde.org/projects/filelight/
Direct download URL for the software / ins

[2021-05-03 17:10] chantisnake commented on #972
The Coq package #106 seems to be taken by @AdmiringWorm , I was wondering if he would like to take this one with it too. Since the distribution method of these two packages are very similar. No pressure though.

[2021-05-04 04:28] BrandonKMLee opened #977 "RFP - flipflip"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/ififfy/flipflip
Direct download URL for the software / installer

[2021-05-07 15:30] #702 closed

[2021-05-07 16:11] AdmiringWorm commented on #974
@brogers5 since the package was submitted earlier this year, the triage process should be followed in this case (even though no version was approved).

If there is no response from the maintainer within 7 days, then this issue can be changed to a RFM request instead.

Triage process: https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#the-triage-process
RFM issue te

[2021-05-07 16:19] AdmiringWorm commented on #975
@LinArcX where did you get the direct download link that you have specified in the issue?
It is not a link that I can see on the webpage, nor do it match any of the time-limited links on the cnet download page.

[2021-05-07 16:24] AdmiringWorm commented on #358
@soredake there is no one that has posted that they would like to pick up the issue.
So it is still open for new maintainers AFAIK.

[2021-05-07 16:32] brogers5 commented on #974
The maintainer has been contacted. I'll circle back when either the maintainer responds or 7 days elapse, whatever comes first.

[2021-05-07 17:37] BrandonKMLee commented on #969
@AdmiringWorm  so https://github.com/wekan/wekan/wiki/Install-Wekan-from-source-on-Windows ?

[2021-05-07 23:34] BrandonKMLee commented on #969
checking https://github.com/wekan/wekan/wiki/Platforms#not-exposed-to-internet-bundle-for-raspi-3-arm64-windows-and-any-nodemongo-cpu-architectures-no-automatic-updates-no-sandboxing

[2021-05-08 19:40] brogers5 commented on #974
The maintainer got back to me this morning. He recently submitted another version, but is still blocked on automated testing. Appears to be missing a dependency: https://gist.github.com/choco-bot/27aa731128785ace006207c3a654d7a4

He invited me to submit a pull request, for which the package source is maintained here:
https://github.com/MANICX100/chocolatey/tree/master/imazing

With that said, I do

[2021-05-09 04:51] BrandonKMLee opened #978 "RFP - koodo-reader"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://koodo.960960.xyz/ and https://github.com/troyeguo/koodo-reader/releases
Dire

[2021-05-10 07:08] AdmiringWorm commented on #974
Unfortunately not, the current maintainer is responsive and is working toward getting the software available on chocolatey.org.
It would have been an RFM if the maintainer is unresponsive, unwilling or requests himself/herself a new maintainer.
As such, I will be closing this issue for now.

/CC @MANICX100

[2021-05-10 07:08] #974 closed

[2021-05-10 10:27] dtantono opened #979 "RFP - feem"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://feem.io/#features
Direct download URL for the software / installer : https://f00

[2021-05-10 11:00] BrandonKMLee opened #980 "RFP - gephi"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://gephi.org/
Direct download URL for the software / installer : https://github

[2021-05-15 12:48] AdmiringWorm commented on #979
Note to any upcoming maintainer.

The website seems to not be available in some regions of the world.

[2021-05-15 12:56] AdmiringWorm commented on #972
I do not have any plans to take on any new packages, opening this request up now.

[2021-05-15 12:57] AdmiringWorm commented on #970
Please update the issue description with the direct URL to the archive/installer, instead of the release page.

[2021-05-15 13:04] AdmiringWorm commented on #958
@chtof would this be an issue that you are interested in, considering you already maintain the package for VerticalMouse 4 and D?

[2021-05-16 06:21] dgalbraith commented on #980
A [package for Gephi](https://community.chocolatey.org/packages/gephi) has been pushed.

[2021-05-16 16:11] BrandonKMLee opened #981 "RFP - nheko-reborn"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/Nheko-Reborn/nheko
Direct download URL for the software / install

[2021-05-17 07:17] BrandonKMLee opened #982 "RFP - Wiki.js / Requarks"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://js.wiki/ and https://github.com/Requarks/wiki
Direct download URL for the so

[2021-05-17 08:44] BrandonKMLee opened #983 "RFP - Soundux"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://soundux.rocks/
Direct download URL for the software / installer : https://gi

[2021-05-17 19:06] K0media opened #984 "RFP - EverythingToolbar"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/stnkl/EverythingToolbar
Direct download URL for the software / in

[2021-05-17 19:12] K0media opened #985 "RFP - Everything.NET"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/stax76/Everything.NET
Direct download URL for the software / inst

[2021-05-20 18:24] qqgg231 commented on #873
I am bumping this one, because the software still works ok and is quite useful for example to add `Windows Terminal` and `Windows Terminal (Administrator)` entries.

[2021-05-20 18:50] qqgg231 opened #986 "RFP - Backup Start Menu Layout"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.sordum.org/10997/backup-start-menu-layout-v1-4/
Direct download URL for

[2021-05-21 04:21] BrandonKMLee opened #987 "RFP- Chocolatey"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://orangedatamining.com/ and https://github.com/biolab/orange3
Direct download

[2021-05-21 15:18] dgalbraith commented on #975
@AdmiringWorm Just looking for a point of clarification on the licensing here.  The pertinent section is:

[code]

My reading of this was that clause 2 would appear to support binary redistribution.

Noticing that you marked this as blocked upstream I presume that I was mistaken on this?

If you could confirm and provide a view on the thinking here it would  be appreciated.

[2021-05-21 15:59] abejenaru opened #988 "RFM - Pencil"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/Pencil
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/pencil

[2021-05-21 16:02] abejenaru opened #989 "RFM - etcd"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/etcd
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/etcd

[2021-05-21 16:03] dgalbraith commented on #981
A package [nekho-reborn](https://community.chocolatey.org/packages/nheko-reborn/0.8.2) has been pushed and is going through review.

[2021-05-21 16:04] abejenaru opened #990 "RFM - octave.portable"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/octave.portable
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/octave.portable

[2021-05-21 16:10] abejenaru commented on #990
/confirm a.bejenaru

[2021-05-21 16:15] abejenaru opened #991 "RFM - openshift-cli"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/openshift-cli
Package source URL: https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/openshift-cli

[2021-05-21 16:31] abejenaru commented on #988
/confirm a.bejenaru

[2021-05-21 21:21] qqgg231 opened #992 "RFP - scrivener"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.literatureandlatte.com/scrivener/download
Direct download URL for the so

[2021-05-21 21:25] qqgg231 commented on #992
Oh it is in "moderator queue" already 😛

[2021-05-21 21:25] #992 closed

[2021-05-22 11:16] soppelmann commented on #883
Any progress on this?

[2021-05-22 11:18] BrandonKMLee opened #993 "RFP - Habitica"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/HabitRPG/habitica
Direct download URL for the software / installe

[2021-05-22 13:35] soredake opened #994 "RFP - rclone-browser"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/kapitainsky/RcloneBrowser
Direct download URL for the software /

[2021-05-22 13:38] soredake opened #995 "RFP - freefilesync"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://freefilesync.org/
Direct download URL for the software / installer : https:/

[2021-05-22 13:40] soredake opened #996 "RFP - bluestacks-5"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.bluestacks.com/
Direct download URL for the software / installer : https

[2021-05-22 13:42] soredake opened #997 "RFP - megadownloader"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://megadownloaderapp.blogspot.com/
Direct download URL for the software / instal

[2021-05-22 13:43] soredake opened #998 "RFP - syncplay"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://syncplay.pl/
Direct download URL for the software / installer : https://gith

[2021-05-22 13:44] soredake opened #999 "RFP - yuzu"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://yuzu-emu.org/
Direct download URL for the software / installer : https://git

[2021-05-22 13:45] soredake opened #1000 "RFP - citra"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://citra-emu.org/
Direct download URL for the software / installer : https://gi

[2021-05-23 10:08] soredake opened #1001 "RFP - breaktimer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://breaktimer.app/
Direct download URL for the software / installer : https://g

[2021-05-25 09:46] soredake opened #1002 "RFP - hamachi"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.vpn.net/
Direct download URL for the software / installer : https://secu

[2021-05-26 19:12] AdmiringWorm commented on #990
@abejenaru can you try that command 1 more time, I had forgotten to include dots as a valid character in usernames, but that should be fixed now (just want to have it confirmed first).

[2021-05-26 19:22] abejenaru commented on #990
/confirm a.bejenaru

[2021-05-26 19:29] abejenaru commented on #991
Will be handled via a different channel.

[2021-05-26 19:29] #991 closed

[2021-05-26 19:29] AdmiringWorm commented on #990
## New maintainer notes

- This package is hosted in the [GitHub chocolatey-coreteampackages](https://github.com/chocolatey-community/chocolatey-coreteampackages) repository, when picking up this request please do one of the following
  1. After being added as a new maintainer, please open a PR to remove the package and icon from the repository if you want to host the package in your own repositor

[2021-05-26 19:29] abejenaru commented on #989
/confirm a.bejenaru

[2021-05-26 19:29] abejenaru commented on #988
/confirm a.bejenaru

[2021-05-26 19:32] AdmiringWorm commented on #988
@abejenaru just a note, you only needed to add the /confirm command ones. For the rest it is enough to just check the box that you are the maintainer again, and the bot will be re-run (I think it will just fail when you are already confirmed).

[2021-05-26 19:34] AdmiringWorm commented on #988
## New maintainer notes

- This package is hosted in the [GitHub chocolatey-coreteampackages](https://github.com/chocolatey-community/chocolatey-coreteampackages) repository, when picking up this request please do one of the following
  1. After being added as a new maintainer, please open a PR to remove the package and icon from the repository if you want to host the package in your own repositor

[2021-05-26 19:35] AdmiringWorm commented on #989
## New maintainer notes

- This package is hosted in the [GitHub chocolatey-coreteampackages](https://github.com/chocolatey-community/chocolatey-coreteampackages) repository, when picking up this request please do one of the following
  1. After being added as a new maintainer, please open a PR to remove the package and icon from the repository if you want to host the package in your own repositor

[2021-05-27 09:11] dgalbraith commented on #990
I am happy to pick this one up - Chocolatey user name dgalbraith.

[2021-05-27 09:11] dgalbraith commented on #989
I am happy to pick this one up - Chocolatey user name dgalbraith.

[2021-05-27 09:35] abejenaru commented on #989
Alright then! I've added you as maintainer, please check your email (also in spam) for a confirmation message.
Cheers!

[2021-05-27 09:36] abejenaru commented on #990
Thanks! I've added you as maintainer, please check your email (also in spam) for a confirmation message.
Cheers!

[2021-05-27 09:40] abejenaru opened #1003 "RFM - kubernetes-cli"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/kubernetes-cli
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/kubernetes-cli

[2021-05-27 09:42] abejenaru opened #1004 "RFM - kubernetes-kompose"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/kubernetes-kompose
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/kubernetes-kompose

[2021-05-27 09:43] abejenaru opened #1005 "RFM - minikube"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/Minikube
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/minikube

[2021-05-27 10:18] abejenaru opened #1006 "RFM - minishift"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/minishift
Package source URL: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/minishift

[2021-05-27 16:28] dgalbraith commented on #1003
I am happy to pick this one up - Chocolatey user name dgalbraith.

[2021-05-27 16:28] dgalbraith commented on #1004
I am happy to pick this one up - Chocolatey user name dgalbraith.

[2021-05-27 16:28] dgalbraith commented on #1006
I am happy to pick this one up - Chocolatey user name dgalbraith.

[2021-05-27 21:44] dgalbraith commented on #990
Maintainer confirmation accepted.

[2021-05-27 21:44] dgalbraith commented on #989
Maintainer confirmation accepted.

[2021-05-28 09:33] abejenaru commented on #1004
Thanks! I've added you as maintainer, please check your email (also the spam folder) for a confirmation message.

[2021-05-28 09:33] abejenaru commented on #1005
Thanks! I've added you as maintainer, please check your email (also the spam folder) for a confirmation message.

[2021-05-28 09:42] abejenaru commented on #1006
Thanks! I've added you as maintainer, please check your email (also the spam folder) for a confirmation message.
I also have one PR pending, don't transfer the package just yet!

[2021-05-28 11:17] dtantono opened #1007 "RFP - pcloud"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.pcloud.com
Direct download URL for the software / installer : https://p-def7

[2021-05-30 19:35] TheNavyBear opened #1008 "RFP - creality-slicer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.creality.com/download
Direct download URL for the software / installer :

[2021-05-30 22:53] TheNavyBear commented on #1008
Realized this was just a rebranded Cura app, which is in the repo and works fine for me. Will use that instead. Closing this ticket.

[2021-05-30 22:53] #1008 closed

[2021-05-31 17:15] dgalbraith commented on #1006
Maintainer confirmation accepted.

[2021-05-31 17:15] dgalbraith commented on #1005
Maintainer confirmation accepted.

[2021-05-31 17:16] dgalbraith commented on #1004
Maintainer confirmation accepted.

[2021-05-31 17:16] dgalbraith commented on #1003
Maintainer confirmation accepted.

[2021-06-02 03:38] teknowledgist commented on #995
[This package exists](https://community.chocolatey.org/packages/freefilesync/10.2.0.20180914#description), but unless something has changed can no longer (to my knowledge/ability) work as a Chocolatey package.  It cannot be embedded and the developer has created multiple roadblocks to scripted downloading and silent install.

If you have information that the developer (Zenju) has had a change of h

[2021-06-02 08:10] #995 closed

[2021-06-06 07:51] Unpublished opened #1009 "RFP - cheat"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/cheat/cheat
Direct download URL for the software / installer: http

[2021-06-12 13:37] dgalbraith commented on #978
A [package](https://community.chocolatey.org/packages/koodo-reader/1.2.5) for koodo-reader has been pushed and is under review.

[2021-06-15 03:47] dtantono opened #1010 "RFP - deskreen"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://deskreen.com/lang-en
Direct download URL for the software / installer : https://

[2021-06-15 15:04] BrandonKMLee opened #1011 "RFP - manga-py"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/manga-py/manga-py
Direct download URL for the software / installe

[2021-06-16 02:32] BrandonKMLee opened #1012 "RFP - fanficfare"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/JimmXinu/FanFicFare
Direct download URL for the software / instal

[2021-06-16 05:10] BrandonKMLee opened #1013 "RFP - Lector"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/BasioMeusPuga/Lector
Direct download URL for the software / insta

[2021-06-16 08:04] BrandonKMLee commented on #1013
https://github.com/BasioMeusPuga/Lector/issues/132

[2021-06-16 18:56] braderhart opened #1014 "RFM - mupdf"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/mupdf
Package source URL: https://github.com/braderhart/choco/tree/master/auto/mupdf

[2021-06-18 14:06] dgalbraith commented on #981
[nheko-reborn](https://community.chocolatey.org/packages/nheko-reborn/) package is now available.

[2021-06-18 15:06] BrandonKMLee commented on #981
@dgalbraith thank you.,

[2021-06-18 15:11] BrandonKMLee commented on #981
ERROR: Running ["C:\ProgramData\chocolatey\lib\nheko-reborn\tools\nheko-v0.8.2-installer.exe" --accept-licenses --confirm-command install ] was not successful. Exit code was '1'. See log for possible error messages.
The upgrade of nheko-reborn was NOT successful.
Error while running 'C:\ProgramData\chocolatey\lib\nheko-reborn\tools\chocolateyInstall.ps1'.
 See log for details.

[2021-06-18 15:14] BrandonKMLee commented on #981
[logger.txt](https://github.com/chocolatey-community/chocolatey-package-requests/files/6677891/logger.txt)

[2021-06-22 05:47] BrandonKMLee opened #1015 "RFP - openproject"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.openproject.org/
Direct download URL for the software / installer : http

[2021-06-22 15:36] tordenflesk opened #1016 "RFP - NVCleanstall"
## Package Details

Software project URL : https://www.techpowerup.com/download/techpowerup-nvcleanstall/
Direct download URL for the software / installer : https://www.techpowerup.com/download/techpowerup-nvcleanstall/
Software summary / short description:
NVCleanstall lets you customize the NVIDIA GeForce Driver package by removing components that you don't need (or want). This not only keeps th

[2021-06-23 17:14] braderhart commented on #1014
/confirm braderhart

[2021-06-24 06:06] BrandonKMLee opened #1017 "RFP - LeanTime"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/Leantime/leantime
Direct download URL for the software / installe

[2021-06-24 06:09] BrandonKMLee opened #1018 "RFP - MyCollab"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/MyCollab/mycollab
Direct download URL for the software / installe

[2021-06-24 06:35] BrandonKMLee opened #1019 "RFP - Pomotroid"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/Splode/pomotroid
Direct download URL for the software / installer

[2021-06-24 08:26] BrandonKMLee opened #1020 "RFP - logseq"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/logseq/logseq
Direct download URL for the software / installer :

[2021-06-25 09:17] #990 closed

[2021-06-25 10:53] BrandonKMLee opened #1021 "RFP - Focalboard"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.focalboard.com/
Direct download URL for the software / installer : https

[2021-06-25 22:16] CypherNL commented on #885
@dgalbraith Do you still want to maintain this package? You're still pending in the maintainer list at both packages.

[2021-06-26 06:47] dgalbraith commented on #885
@CypherNL yes - will pick up and maintain.  I don't have the maintainer addition requests on these.  Is it possible to resend them or do I need to ask the Site Admins to add me?

[2021-06-26 13:36] CypherNL commented on #885
@dgalbraith I have re-added you as the maintainer of these 2 packages so you should get the request to approve for being a maintainer of these 2 packages pretty soon.

Let me know if you have received them and accepted them. If you didn't received them, let me also know.

[2021-06-27 07:54] heroku-miraheze opened #1022 "RFP - nicotine+"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://nicotine-plus.github.io/nicotine-plus/
Direct download URL for the software

[2021-06-29 08:52] #989 closed

[2021-06-29 09:10] tonytozoo opened #1023 "RFP - bitfocus-companion"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [ ] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://bitfocus.io/companion/
Direct download URL for the software / installer : ht

[2021-06-30 09:00] pauby opened #1024 "RFM - openvpn"
## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/openvpn
Package source URL: https://github.com/wget/choc

[2021-06-30 22:13] KaKi87 commented on #289
Hello,
Here's the up-to-date BetterDiscord installer : https://github.com/BetterDiscord/Installer
Thanks

[2021-07-02 09:02] dgalbraith commented on #1024
@pauby I am happy to pick this one up

[2021-07-02 09:06] pauby commented on #1024
@dgalbraith Can you send the usual email to the Site Admins and reference this issue in case I don't get to pick it up?

[2021-07-02 09:24] BrandonKMLee opened #1025 "RFP - Strategr"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://khrykin.github.io/StrategrDesktop/
Direct download URL for the software / in

[2021-07-03 04:59] dtantono opened #1026 "RFP - heroicgameslauncher"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://github.com/Heroic-Games-Launcher/HeroicGamesLauncher
Direct download URL for the

[2021-07-04 10:39] dtantono opened #1027 "RFP - epsxe"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.epsxe.com/download.php
Direct download URL for the software / installer : ht

[2021-07-04 10:41] dtantono opened #1028 "RFP - citra"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://citra-emu.org/download/#
Direct download URL for the software / installer : http

[2021-07-04 10:43] dtantono opened #1029 "RFP - desmume"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :http://desmume.org/download/
Direct download URL for the software / installer : https://

[2021-07-04 10:45] dtantono opened #1030 "RFP - rpcs3"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://rpcs3.net/download
Direct download URL for the software / installer : https://gi

[2021-07-04 10:48] dtantono opened #1031 "RFP - deskreen"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://deskreen.com/lang-en
Direct download URL for the software / installer : https://

[2021-07-04 11:49] dtantono opened #1032 "RFP - flameshot"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://github.com/flameshot-org/flameshot
Direct download URL for the software / instal

[2021-07-04 11:53] dtantono opened #1033 "RFP - pcsxr"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://deskreen.com/lang-en
Direct download URL for the software / installer : https://

[2021-07-04 11:58] dtantono opened #1034 "RFP - vysor"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.vysor.io/
Direct download URL for the software / installer : https://github.

[2021-07-04 12:19] dtantono opened #1035 "RFP - snipaste"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.snipaste.com/download.html
Direct download URL for the software / installer

[2021-07-05 11:04] #1032 closed

[2021-07-05 11:07] dtantono commented on #1032
Hi, i saw this issue is sitll unsolved and closed abruptly. may I know what happened?

[2021-07-05 12:35] pauby commented on #1032
See the above [comment](https://github.com/chocolatey-community/chocolatey-package-requests/issues/1032#issuecomment-873573809) - there is already a request for this.

[2021-07-05 12:35] burner1024 opened #1036 "RFM - VCExpress2010"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/VCExpress2010
Package source URL:

Date the ma

[2021-07-08 01:53] dnet890 opened #1037 "RFP - ringcentralofficialclient"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.ringcentral.com/
Direct download URL for the software / installer : https://

[2021-07-08 22:57] dgalbraith commented on #885
@CypherNL the maintenance of the packages has now been migrated - source code and history have been merged in to [dgalbraith/chocolatey-packages/naps2](https://github.com/dgalbraith/chocolatey-packages/naps2) and [dgalbraith/chocolatey-packages/naps2.install](https://github.com/dgalbraith/chocolatey-packages/naps2.install).

An automated updater has been implemented and the naps2.portable package

[2021-07-09 11:32] pauby commented on #885
@dgalbraith @CypherNL Is there anything more that needs to be done here? Or can we close this request?

[2021-07-09 12:05] CypherNL commented on #885
I think you can, not sure if @dgalbraith needs to do something, it seems everything's OK.

[2021-07-09 18:39] dgalbraith commented on #885
@pauby Nothing further required - the migration of maintenance is done and the request can now be closed as it is complete.

[2021-07-09 18:46] #885 closed

[2021-07-11 04:22] dtantono opened #1038 "RFP - beeper"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.beeper.com/
Direct download URL for the software / installer : https://downl

[2021-07-13 18:34] teknowledgist commented on #997
I got this:  https://community.chocolatey.org/packages/megadownloader

[2021-07-13 18:42] teknowledgist commented on #1014
I can pick this up.  @braderhart, can you add me as a maintainer?  (same username)

[2021-07-14 00:08] braderhart commented on #1014
@teknowledgist Done. At your earliest convenience can you please fork the package source and update the package accordingly.

[2021-07-14 16:18] Xav83 commented on #894
I pick up this package 🙂

[2021-07-14 16:28] Xav83 commented on #894
FYI, I pushed a chocolatey package [here](https://community.chocolatey.org/packages/tvrename), which is currently passing the tests.

[2021-07-14 17:36] CypherNL commented on #894
Nice! Thanks for picking this up!

[2021-07-14 22:31] teknowledgist commented on #1014
@braderhart I've got the package ready to go (not anything needed, really), but there isn't a new application release yet.

I don't see a need to push an interim package unless you want the package source to reflect my repo over yours.  Is that what you would like?

[2021-07-14 23:47] braderhart commented on #1014
@teknowledgist There isn't an immediate need, but if there are no new releases for some time then I may ask that you push a new package release so that I can remove the package source from GitHub.

[2021-07-15 11:08] pauby commented on #1014
Even though there is no new packages being published, I have added that label and will close this.

@AdmiringWorm Thoughs on a new 'New Maintainer' or 'Maintainer Request Complete' or something else label?

[2021-07-15 11:09] #1014 closed

[2021-07-15 11:11] mkevenaar commented on #1014
While I am not @AdmiringWorm, I think that could be a status in the workflow that we can add.

[2021-07-15 11:13] pauby commented on #894
@Xav83 Just an FYI, the package failed Verification.

[2021-07-15 11:18] AdmiringWorm commented on #1014
@pauby I'm not against adding a new label for `New Maintainer` or `Maintainer Request Complete` for cases like this.

However, I do agree with @mkevenaar that it should probably be a status workflow label.

Considering that the current label `Status: Published` is for requests that have been completed by publishing a new package to the new community repository, maybe we should have a label saying

[2021-07-15 11:20] pauby commented on #1014
If I had to pick I'd say 'Status: Completed' but it really doesn't matter which one as long as we know what it is.

[2021-07-15 12:08] Xav83 commented on #894
Yes, I've seen it @pauby, I will investigate it this weekend, as I will have some time to work on it 😉

[2021-07-16 03:45] dgalbraith commented on #980
Review on the [Gephi package](https://community.chocolatey.org/packages/gephi) is completed and the package is now available.

[2021-07-16 03:46] dgalbraith commented on #978
Review on the [Gephi package](https://community.chocolatey.org/packages/koodo-reader/1.2.5) has been completed and the package is now available.

[2021-07-16 03:48] dgalbraith commented on #975
Review on the [Torifier package](https://community.chocolatey.org/packages/torifier) has been completed and the package is now available.

[2021-07-16 04:32] BrandonKMLee commented on #978
@dgalbraith testing the Koodo now

[2021-07-16 09:48] #978 closed

[2021-07-16 09:49] #975 closed

[2021-07-16 09:49] #980 closed

[2021-07-16 09:51] #1038 closed

[2021-07-16 09:52] pauby commented on #986
@ferdnyc Thanks for providing that. I've updated the original comment on their behalf.

[2021-07-16 09:53] pauby commented on #1037
Just as a reminder, the package might be better being named `ring-central-official-client`

[2021-07-16 09:58] #1035 closed

[2021-07-16 10:16] dtantono commented on #1038
Hi, it seems this ticket is closed and it is still unfinished. may I know why?

[2021-07-16 10:16] dtantono commented on #1035
Hi, it seems this ticket is closed and it is still unfinished. may I know why?

[2021-07-16 12:55] pauby commented on #1035
See [this comment](https://github.com/chocolatey-community/chocolatey-package-requests/issues/1035#issuecomment-873578879)

[2021-07-16 12:56] pauby commented on #1038
See [this comment](https://github.com/chocolatey-community/chocolatey-package-requests/issues/1038#issuecomment-877739193). There was no update from you after that.

[2021-07-18 09:30] dtantono opened #1039 "RFP - ryujinx"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://ryujinx.org/download/
Direct download URL for the software / installer :https://

[2021-07-19 03:41] BrandonKMLee opened #1040 "RFP - switchhosts"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://swh.app/
Direct download URL for the software / installer : https://github.c

[2021-07-26 05:03] BrandonKMLee opened #1041 "RFP - Tachidesk"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/Suwayomi/TachideskJUI
Direct download URL for the software / inst

[2021-07-27 10:05] dtantono opened #1042 "RFP - duetdisplay"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.duetdisplay.com/?no_redirect=true
Direct download URL for the software / ins

[2021-07-27 13:54] Xav83 commented on #894
I am currently having some issues with the silent mode of the Tvrename installer. 🤔
Indeed, when I specify the option `/S` to install the program silently (since this is a NSIS installer), an error occurs.

For information, when I run the installer with this option directly on my machine, then no error occurs. It only seems to happen when running the tests in the Chocolatey Test environment.

Mayb

[2021-07-29 09:13] dtantono opened #1043 "RFP - adguard"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://adguard.com/en/adguard-windows/overview.html
Direct download URL for the softwar

[2021-07-29 12:51] dtantono opened #1044 "RFP - astiga"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://asti.ga/
Direct download URL for the software / installer : https://s3.eu-centra

[2021-07-30 19:24] drdamour opened #1045 "RFP - bot-framework-composer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/microsoft/BotFramework-Composer
Direct download URL for the softw

[2021-07-30 19:49] drdamour commented on #1045
rerun?

[2021-07-31 05:11] dtantono opened #1046 "RFP - droidcamobs"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.dev47apps.com/obs/
Direct download URL for the software / installer : https:

[2021-07-31 08:24] dtantono opened #1047 "RFP - iriun"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://iriun.com/
Direct download URL for the software / installer : https://1758658189

[2021-08-01 07:17] dtantono commented on #1047
I don't know there is a pending submission for this app because I already checked this (https://community.chocolatey.org/packages?q=iriun&moderatorQueue=&moderationStatus=all-statuses&prerelease=true&sortOrder=relevance) and it shows nothing. I hope these submission will be done soon

[2021-08-04 05:51] BrandonKMLee opened #1048 "RFP - archivebox"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/ArchiveBox/electron-archivebox
Direct download URL for the softwa

[2021-08-04 12:06] RufusJWB opened #1049 "RFP - win-x"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://winaero.com/download-winx-menu-editor-allows-you-to-add-or-remove-winx-menu-

[2021-08-04 12:34] RufusJWB commented on #1049
Duplicate of https://github.com/chocolatey-community/chocolatey-package-requests/issues/873

[2021-08-04 12:34] #1049 closed

[2021-08-04 12:53] pauby commented on #873
@karolzlot There is no bump here that woudl help. If you want to pick it up then you can do so otherwise we need to wait for somebody else.

[2021-08-04 15:14] holysaiyan1 opened #1050 "RFM - backupper-standard"
**I DON'T Want To Become The Maintainer**
------
- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

**Checklist**
------
- [x] Issue title starts with 'RFM - '

**Existing Package Details**
------
Package URL: https://chocolatey.org/packages/backupper-standard
Package source U

[2021-08-04 22:00] jbenden opened #1051 "RFM - typora"
## Current Maintainer

- [X] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://community.chocolatey.org/packages/typora
Package source URL:

[2021-08-04 22:05] jbenden commented on #1051
/confirm jbenden

[2021-08-15 17:45] MohammadRaziei opened #1052 "RFP - xxd"
Checklist

- [x]  The package I am requesting does not already exist on [https://chocolatey.org/packages](https://chocolatey.org/packages);
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details
Software project URL : https://sourceforge.net/projects/xxd-for-windows/
Di

[2021-08-16 22:44] dtantono opened #1053 "RFP - subsync"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://subsync.online/en/download.html
Direct download URL for the software / installer

[2021-08-18 14:54] dtantono opened #1054 "RFP - converseen"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://converseen.fasterland.net/
Direct download URL for the software / installer : ht

[2021-08-18 22:48] dtantono opened #1055 "RFP - shutterencoder"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.shutterencoder.com/en/
Direct download URL for the software / installer : ht

[2021-08-19 18:59] RufusJWB opened #1056 "RFP - Mendix Studio Pro"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://marketplace.mendix.com/link/studiopro/
Direct download URL for the software

[2021-08-23 12:38] damian101 opened #1057 "RFP - r128gain"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://github.com/desbma/r128gain
Direct download URL for the software / installer:

[2021-08-26 23:12] wickles opened #1058 "RFP - standard-notes"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://standardnotes.com/
Direct download URL for the software / installer : https:

[2021-08-30 11:08] jakublevy commented on #1057
Hi,
I created the package, here it is: https://community.chocolatey.org/packages/r128gain.

It is currently under moderation. If you want to install it, you can do so by:

1. checking yourself the content of scripts
2. executing `choco install r128gain --version 1.0.3`

[2021-08-30 15:14] jakublevy commented on #1057
The package was approved, close please.

[2021-08-30 19:16] damian101 commented on #1057
awesome!

[2021-08-30 19:16] #1057 closed

[2021-09-01 15:35] jakublevy commented on #967
Hi,
this package is currently out of date, seems to be still abandoned.
If you are looking for a maintainer, I could maintain it.

My chocolatey name is [Kubikola](https://community.chocolatey.org/profiles/Kubikola)

[2021-09-02 14:39] jakublevy commented on #967
I was added as a maintainer, so I pushed an update that got approved.

This issue can be closed.

[2021-09-03 18:08] RandomDSdevel opened #1059 "RFP - acpica"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL:  https://acpica.org/
Direct download URL for the software/installer:  https://acpica.

[2021-09-03 18:15] RandomDSdevel opened #1060 "RFP - iasl"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL:  https://acpica.org/
Direct download URL for the software/installer:  https://acpica.

[2021-09-03 18:21] RandomDSdevel commented on #1060
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes, that's an older, quite-outdated version of the package I'm requesting with this issue.

[2021-09-05 10:54] savbran opened #1061 "RFP - monitorian"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/emoacht/Monitorian
Direct download URL for the software / install

[2021-09-05 16:29] #967 closed

[2021-09-05 16:33] pauby commented on #1060
The version aside, that is still the same package / software?

[2021-09-05 19:22] RandomDSdevel commented on #1060
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exactly.

[2021-09-06 00:23] TheDcoder opened #1062 "RFP - proxallium"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://proxallium.dtw.tools
Direct download URL for the software / installer : http

[2021-09-06 04:15] BrandonKMLee opened #1063 "RFP - athens"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.athensresearch.org/
Direct download URL for the software / installer : h

[2021-09-07 14:43] braderhart commented on #1014
@teknowledgist Hey, was hoping you could go ahead and remove me as a package maintainer on this package. Thanks!

[2021-09-07 19:28] teknowledgist commented on #1014
@braderhart Sure.  No problem.  You have been removed as a maintainer.

[2021-09-08 07:33] soredake opened #1064 "RFP - magpie"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/Blinue/Magpie
Direct download URL for the software / installer :

[2021-09-08 11:33] soredake opened #1065 "RFP - yt-dlp"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/yt-dlp/yt-dlp
Direct download URL for the software / installer :

[2021-09-08 14:17] Cossey commented on #1062
Please assign this to me. I'll take on maintaining this package for Damon.

Daman, ill include the files direct in the chocolatey package. I can also include a start menu entry as well. My updating script will pull from github releases and update whenever the "latest" version tag differs.

I'll use the release text on github as the release notes. Also let me know how you want it tagged  on communi

[2021-09-08 20:09] TheDcoder commented on #1062
@Cossey Thank you so much for adopting this package! :grin:

These are the tags on the top of my head: privacy, security, anonymity, tor, proxy, vpn, portable etc.

As for the description I think we can keep it simple:

Let me know if you need more info, cheers!

[2021-09-10 08:54] Cossey commented on #1062
That is fine for now. I'll include files direct in the package instead of shimming them from GitHub.

Is just the current version fine to have on the community repository or do you need some older versions too?

Please give me up to a week to build an updating script, do testing and get the package(s) submitted.

[2021-09-10 10:11] TheDcoder commented on #1062
The current is fine, no need to have older versions with less features in the repository. They also used to come with Tor pre-packaged, which means they would be exposed to security risks if there are any in the old versions of Tor. The latest version doesn't package Tor so it's for the best.

Of course, please feel free to take your time, I am grateful for your effort and enthusiasm :smile:

[2021-09-13 12:02] Cossey commented on #1062
Okay, the package is nearly ready to be pushed, but should it `dependencies` the tor package (It will install the tor package when installed)? If so which tor package should it install? (https://community.chocolatey.org/packages?q=tor).

[2021-09-13 14:54] pauby commented on #1062
If there are several different dependencies a package can work with it's usually better not taking a direct dependency on any of them but instead highlight what is required in the package description and let the user decide which dependent package to install.

[2021-09-13 19:08] TheDcoder commented on #1062
@Cossey ProxAllium doesn't have a hard dependency, it can use any version of Tor. On the first start it prompts the user to go through the setup guide, which lets them choose a folder containing Tor, or a folder containing the Tor Browser (which includes Tor).

The choice is normally left up to the user, what I recommend to users is to install Tor browser so that Tor is kept updated whenever TB is

[2021-09-14 01:41] Cossey commented on #1062
Okay, it is submitted and there is a mention of the requirement of Tor.
https://community.chocolatey.org/packages/proxallium/0.4.2

[2021-09-14 01:49] TheDcoder commented on #1062
@Cossey Cool!

I have two comments:

1. The website has been migrated to a new domain: https://proxallium.dtw.tools (the old one still works and redirects to the new one)
2. The description says "requires" packages, but it doesn't really require them if the user already has Tor (Browser) installed outside of chocolatey, I'd phrase it something like this: "**Requires Tor to function, you can get it

[2021-09-14 01:54] Cossey commented on #1062
Okay I have made changes to those two points, but before I push again, is there a new url for https://download.tuxfamily.org/proxallium/icons/128.png that I should be using? (This is the icon that displays on the chocolatey community repository).

[2021-09-14 01:56] TheDcoder commented on #1062
Thanks, you can use the 256 pixel version of the icon for more resolution: https://download.tuxfamily.org/proxallium/icons/256.png

The download repository is still hosted at TuxFamily.

[2021-09-14 02:02] Cossey commented on #1062
Done.

[2021-09-14 10:33] Cossey commented on #1062
Waiting on moderator to approve. Unfortunately it has been flagged by VirusTotal as malicious by 8 vendors which will require moderator approval regardless. I noticed that you've posted on the virustotal page about that @TheDcoder . If you have not already, might I suggest you contact some of these vendors to report a false positive? That way this will improve your score on VirusTotal as well as n

[2021-09-14 11:04] TheDcoder commented on #1062
@Cossey Thank you for the information. I did send emails to AV vendors a while back and some of them responded positively, but most of them just ignored me. I think the turnaround time for me was longer than 3 days, and it didn't eliminate all false positives.

The reason for such a high positivity rate is due to how AutoIt (the programming language in which ProxAllium is written) is used, as it i

[2021-09-14 12:07] Cossey commented on #1062
That's really unfortunate how some have not responded.

Any updates you make and release will be automatically picked up and deployed out to the community repo. It checks approximately every 4 hours (DELAY=240) via the GitHub API.

However please do open an issue at https://github.com/Cossey/choco and give me a heads up if you plan on doing something like drastically change the folder structure or

[2021-09-14 14:48] AndreTheHunter commented on #714
Any progress on this?

[2021-09-14 18:51] iqgustavo opened #1066 "RFP - Portmaster"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://safing.io/portmaster/

Direct download URL for the software / installer :
ht

[2021-09-17 01:11] teknowledgist commented on #1058
This was [proposed a while back](https://github.com/chocolatey-community/chocolatey-package-requests/issues/732), but for now, it is not really possible.

Buried in that issue thread is [the link to the Standard Notes request for a "machine install"](https://github.com/standardnotes/desktop/issues/469).   If you want a Chocolatey package, make some noise over there.

[2021-09-17 12:42] #1058 closed

[2021-09-17 15:29] aCuria opened #1067 "RFP - cue-tools"
http://cue.tools/wiki/CUETools_Download

[2021-09-17 16:20] #1067 closed

[2021-09-18 03:25] TheCakeIsNaOH commented on #1065
I'll take this one, package current in review:
https://community.chocolatey.org/packages/yt-dlp/2021.09.02

[2021-09-18 05:01] Cossey commented on #1062
Package has been approved. RFP completed.

[2021-09-18 06:03] TheDcoder commented on #1062
Awesome! @Cossey Thanks for picking it up :)

[2021-09-23 00:40] RandomDSdevel opened #1068 "RFM - nasm"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/nasm
Package source URL:  https://github.com/andyli/nasm-

[2021-09-23 17:59] iqgustavo commented on #1066
Seems like the binary link is not being detected correctly.

Download URL:
https://updates.safing.io/latest/windows_amd64/packages/portmaster-installer.exe ***@***.***/0?redirect=https%3A%2F%2Fupdates.safing.io%2Flatest%2Fwindows_amd64%2Fpackages%2Fportmaster-installer.exe&recipient=cmVwbHkrQU5OVTQ2UVMzUjRYRTJSVU1WQ1ZCUTU3SlRJRkxFVkJOSEhEV1lXMkNRQHJlcGx5LmdpdGh1Yi5jb20%3D)

On Sep 14 2021, at 1:52

[2021-09-24 00:49] gileli121 opened #1069 "RFM - windowtop"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/windowtop
Package source URL: https://github.com/BiGilSo

[2021-09-24 15:48] jtcmedia opened #1070 "RFM - cura-lulzbot"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/cura-lulzbot
Package source URL: https://github.com/jtcmedia/chocolatey-packages/tree/master/cura-lulzbot

[2021-09-24 15:53] jtcmedia commented on #1070
/confirm jtcmedia

[2021-09-26 06:06] nanpuhaha opened #1071 "RFP - jump-desktop"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : `https://www.jumpdesktop.com/`
Direct download URL for the software / installer : `h

[2021-09-26 06:10] nanpuhaha opened #1072 "RFP - jump-desktop-connect"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : `https://www.jumpdesktop.com/connect/`
Direct download URL for the software / instal

[2021-09-27 08:14] vikusz opened #1073 "RFM - workrave"
- [x] Issue title starts with 'RFM - '
- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

Package URL: https://chocolatey.org/packages/workrave
Package source URL: https://github.com/Claud/chocolatey-packages

Date the maintainer was contacted (in YYYY-MM-DD): 2021-08-30
How t

[2021-09-27 15:59] soredake opened #1074 "RFP - internetarchive"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/jjjake/internetarchive
Direct download URL for the software / ins

[2021-09-28 06:46] dtantono opened #1075 "RFP - crowtranslate"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://crow-translate.github.io/
Direct download URL for the software / installer : htt

[2021-09-29 18:53] TheCakeIsNaOH commented on #1065
This can be closed as the first version package has been approved.

[2021-09-29 19:33] #1065 closed

[2021-10-01 14:35] TheCakeIsNaOH commented on #997
Package has been approved.

[2021-10-01 14:35] #997 closed

[2021-10-01 14:37] TheCakeIsNaOH commented on #957
Package has been approved.

[2021-10-01 14:37] #957 closed

[2021-10-01 14:38] TheCakeIsNaOH commented on #956
Package has been approved.

[2021-10-01 14:38] #956 closed

[2021-10-01 14:38] TheCakeIsNaOH commented on #954
Package has been approved.

[2021-10-01 14:38] #954 closed

[2021-10-01 14:40] TheCakeIsNaOH commented on #1030
Package already exists:
https://community.chocolatey.org/packages/rpcs3

[2021-10-01 14:40] #1030 closed

[2021-10-01 14:42] TheCakeIsNaOH commented on #1062
Package approved:
https://community.chocolatey.org/packages/proxallium/0.4.2

[2021-10-01 14:42] #1062 closed

[2021-10-01 14:45] TheCakeIsNaOH commented on #990
New package version has been approved.

[2021-10-01 14:52] TheCakeIsNaOH commented on #1022
@majkinetor has created a package here:
https://community.chocolatey.org/packages/nicotine-plus

[2021-10-01 14:52] #1022 closed

[2021-10-01 14:56] TheCakeIsNaOH commented on #1012
### Note to maintainers looking into creating this package

The linked zip archive is a calibre plugin. You may want to base your package on the `calibre-dedrm` package,
https://community.chocolatey.org/packages/calibre-dedrm

There is also a command line version of this software, but it is only available through pypi.

[2021-10-01 15:00] TheCakeIsNaOH commented on #1028
Duplicate of #1000

[2021-10-01 15:00] #1028 closed

[2021-10-01 15:02] TheCakeIsNaOH commented on #457
Added here:
https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1277

[2021-10-02 02:36] BrandonKMLee commented on #1012
It is because it is from PyPI that I hope that there is a standard installer for the tool, similar to Youtube-DL

[2021-10-10 22:36] jtcmedia commented on #1051
I can pick this up.

[2021-10-11 15:17] pauby commented on #1024
@dgalbraith I don't see any progress on this. My intention is to open it up to other maintainer?

[2021-10-11 15:25] dgalbraith commented on #1024
@pauby base streams setup and migration is done.  Have been stalled on a clean upgrade path from older package versions should they be installed.

Is it acceptable for an upgrade from an older version to require an uninstall/reinstall?

[2021-10-11 21:09] gep13 commented on #1051
@jbenden this can be done by moderators on the site, or by @jtcmedia directly. The latter would be the preferred route. You can reach out via the contact site admins link on the package if this doesn't get completed.

[2021-10-11 23:15] jtcmedia commented on #1051
I removed you @jbenden

[2021-10-14 23:13] dtantono opened #1077 "RFP - qrcp"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://claudiodangelis.com/qrcp/
Direct download URL for the software / installer : htt

[2021-10-17 10:07] soredake opened #1078 "RFP - nanazip"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/M2Team/NanaZip
Direct download URL for the software / installer :

[2021-10-17 13:40] soredake commented on #998
@digitalcoyote

[2021-10-18 08:15] dtantono opened #1079 "RFP - 8BitdoUltimateSoftware"
Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://support.8bitdo.com/ultimate/pro2.html
Direct download URL for the software / ins

[2021-10-21 04:15] ghost opened #1080 "RFP -"

[2021-10-21 04:16] #1080 closed, assigned to nobody

[2021-10-22 07:10] soredake opened #1081 "RFP - lswitch"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [x] The issue title starts with 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://haali.su/winutils/
Direct download URL for the software / installer : https:

[2021-10-23 16:00] jtcmedia opened #1082 "RFM - ds4windows"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/ds4windows
Package source URL: https://github.com/jtcmedia/chocolatey-packages/tree/master/ds4windows

[2021-10-25 14:30] BoboTiG opened #1083 "RFM - httpie"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details
Package URL: https://chocolatey.org/packages/httpie
Package source URL: https://github.com/httpie/httpie/tree/master/docs/packaging/windows-chocolatey