[2019-06-15 22:08] AdmiringWorm commented on #614
@basictheprogram the commit would only close this issue when the PR gets merged, and only **if** the person merging the PR have permissions to close issues in this repository.

However, we also add/change labels according to the state of the package (as I mentioned in my previous comment), and without a comment on the respective issue we wouldn't know what the state is, and can not add/change the

[2019-06-15 23:50] itzonban commented on #398
Hi.
I reported the missing maintainer / old version last year, and I would like to become the new maintainer for this package.

Best regards
Daniel

[2019-06-16 10:12] chtof commented on #364
Lyx Chocolatey script is available with the latest version (2.3.2 / https://chocolatey.org/packages/lyx/2.3.2), so updates have been submitted since this RFM.
The status is in an error state due to miktex.install but miktext.install has been corrected recently.
So, can be closed.

[2019-06-16 12:19] pauby commented on #364
@chtof we're looking for a new maintainer for this one as dtgm is not updating packages directly. There has been a new version pushed as the repository is being managed by others, where possible, to submit new version of some packages.

So while there is a new version available, the request for a new maintainer is still needed.

[2019-06-16 18:09] AdmiringWorm commented on #262
I have just set a message to the site admins requesting to be added as a maintainer for this request.

[2019-06-16 18:43] mkevenaar commented on #226
A start has been made:
- [Veeam Backup & Replication ISO downloader](https://chocolatey.org/packages/veeam-backup-and-replication-iso)
- [Veeam Backup & Replication Console](https://chocolatey.org/packages/veeam-backup-and-replication-console)
- [Veeam Explorer for Microsoft Active Directory](https://chocolatey.org/packages/veeam-explorer-for-microsoft-active-directory)
- [Veeam Explorer for Micro

[2019-06-16 18:52] chtof commented on #611
Status: **Review**
https://chocolatey.org/packages/internet-download-manager/6.33

[2019-06-16 19:23] mkevenaar commented on #398
Hi @itzonban,

the best way to do that is by using the "Contact Admins" link on the package page. An Admin will reply to you and add you as a maintainer.

[2019-06-16 19:25] mkevenaar commented on #447
@TakataSanshiro Could you please try this again?

If that is not working, you might need to disable your ad blockers, and/or approve some parts to allow the CAPTCHA to work.

[2019-06-16 19:31] AdmiringWorm commented on #262
A new version have been submitted to chocolatey: https://chocolatey.org/packages/rethinkdb/2.3.6

[2019-06-16 19:34] AdmiringWorm commented on #239
This looks to have been picked up by a new maintainer.

[2019-06-16 19:34] #239 closed

[2019-06-16 20:01] bcurran3 commented on #226
Please consider a meta package to install them all.

[2019-06-16 20:03] mkevenaar commented on #226
Please have a look at [Veeam Backup & Replication Management Console](https://chocolatey.org/packages/veeam-backup-and-replication-management)

[2019-06-16 20:28] chtof commented on #131
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/atmel-studio

[2019-06-16 21:35] luzpaz opened #621 "RFP - dexed"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL:  http://asb2m10.github.io/dexed/
Direct download URL for the software/installer: https://g

[2019-06-17 12:05] zandadoum commented on #151
/kav is for the 30 trial version.

there has been a real FREE kaspersky version for quite some time now (2017 or 2018) and that's not available as a choco package.

it would be very nice to be able to have a /kasperskyfree available :)

[2019-06-17 15:00] naoliv commented on #620
Thank you!

[2019-06-17 16:03] b16r05 commented on #518
Looks like Jami for Windows does not have nightly status anymore... https://jami.net/download-jami-windows/

[2019-06-17 16:48] AdmiringWorm commented on #257
I will be looking into creating a package for this one.

[2019-06-17 17:44] chtof commented on #618
Status: **Published**
- https://chocolatey.org/packages/gbstudio
- https://chocolatey.org/packages/gbstudio.install
- https://chocolatey.org/packages/gbstudio.portable

Can be closed.

[2019-06-17 17:54] pauby commented on #518
@joachimschmidt557 It looks like Jami is providing their own version now?

[2019-06-17 17:55] #618 closed

[2019-06-17 18:53] AdmiringWorm commented on #257
Seems like they have denied silent installation on purpose, because of this it will take a little longer to create a package for this one.

[2019-06-18 07:48] AdmiringWorm commented on #262
The submitted version have been approved

[2019-06-18 07:48] #262 closed

[2019-06-18 16:01] churchthecat opened #622 "RFP - Wireguard for Windows"
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.wireguard.com/install/#windows-pre-alpha
Direct download URL for the software / installer :

[2019-06-18 17:40] chtof commented on #620
Status: **Published**
https://chocolatey.org/packages/scidavis

Can be closed.

[2019-06-18 17:41] naoliv commented on #620
Closing. Thanks a lot again!

[2019-06-18 17:41] #620 closed

[2019-06-18 18:22] chtof commented on #610
Status: **Published**
- https://chocolatey.org/packages/spacedesk-server
- https://chocolatey.org/packages/spacedesk-client

Can be closed.

[2019-06-18 18:36] chtof commented on #609
Status: **Published**
https://chocolatey.org/packages/klatexformula

Can be closed.

[2019-06-18 18:42] chtof commented on #619
Status: **Published**
https://chocolatey.org/packages/texmacs

Can be closed.

[2019-06-18 18:44] #619 closed

[2019-06-18 18:44] #609 closed

[2019-06-18 18:45] #610 closed

[2019-06-19 04:51] FranklinYu commented on #272
https://chocolatey.org/packages/classyshark

[2019-06-19 15:21] FranklinYu opened #623 "RFM - MFCMapi"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-06-19 18:01] churchthecat commented on #257
:( hope it will work anyway

[2019-06-19 18:51] chtof commented on #611
Status: **Published**
https://chocolatey.org/packages/internet-download-manager/6.33

Can be closed.

[2019-06-19 18:52] necrose99 commented on #617
Ill make the pkg template..
Etc..
Just havent had a sec.

[2019-06-19 18:54] #611 closed

[2019-06-19 20:09] pauby commented on #617
@necrose99 Once you submit the package let us know and we can reopen this at that time.

[2019-06-19 22:19] itzonban commented on #398
Hi @mkevenaar

Thanks. I contacted the admins and I'm the maintainer now.

[2019-06-20 05:56] AdmiringWorm commented on #257
Well, I got something, just doing some final tests before I can push the package to chocolatey

[2019-06-20 12:01] AdmiringWorm commented on #257
Initial package have been submitted to chocolatey: https://chocolatey.org/packages/SpywareBlaster/5.5

[2019-06-20 17:20] TakataSanshiro commented on #447
@mkevenaar Thanks.
I could send a message via Contact Site Admins.

[2019-06-20 17:23] chtof commented on #371
Status: **Published**
- https://chocolatey.org/packages/ocenaudio
- https://chocolatey.org/packages/ocenaudio.install
- https://chocolatey.org/packages/ocenaudio.portable

Can be closed.

[2019-06-20 17:33] #371 closed

[2019-06-20 18:02] chtof commented on #131
Status: **Review**
https://chocolatey.org/packages/atmel-studio

[2019-06-21 08:51] itzonban commented on #275
@jnm2
I know it's an old issue.. but it looks like BuddyBackup is not in development anymore.. no new version in years and central servers are often reported down.

https://syncthing.net/ looks like a good alternative and there already exists a package.
https://chocolatey.org/packages/syncthing

[2019-06-21 10:38] jnm2 commented on #275
I will check that out, thanks!

[2019-06-21 17:15] ketsuban opened #624 "RFP - devkitPro Updater"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://devkitpro.org/
Direct download URL for the software / installer: https://github.co

[2019-06-22 11:40] chtof commented on #301
Status: **Review**
https://chocolatey.org/packages/eclipse-cpp-oxygen

[2019-06-22 12:11] chtof commented on #300
Status: **Review**
https://chocolatey.org/packages/eclipse-java-oxygen

[2019-06-22 12:39] chtof commented on #621
Status: **Review**
https://chocolatey.org/packages/dexed

[2019-06-22 13:17] chtof commented on #622
Status: **Review**
https://chocolatey.org/packages/wireguard

[2019-06-22 16:35] chtof commented on #623
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/mfcmapi

[2019-06-22 19:19] chtof commented on #145
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/pandafreeantivirus

[2019-06-22 19:21] chtof commented on #623
Status: **Review**
https://chocolatey.org/packages/mfcmapi

[2019-06-22 23:58] #272 closed

[2019-06-23 20:31] luzpaz opened #625 "RFP - povray"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: http://povray.org/
Direct download URL for the software / installer: http://www.povray.org

[2019-06-23 20:42] AdmiringWorm commented on #625
is this the package you are requesting?
https://chocolatey.org/packages/pov-ray

[2019-06-23 21:27] luzpaz commented on #625
Yes! sorry it is spelled differently in other places.

[2019-06-23 21:27] #625 closed

[2019-06-24 17:48] chtof commented on #145
Status: **Review**
https://chocolatey.org/packages/pandafreeantivirus

[2019-06-25 19:15] AdmiringWorm commented on #257
The package have been approved.

[2019-06-25 19:15] #257 closed

[2019-06-26 18:37] facorread commented on #298
I would like to maintain this package. I set up a repository [here](https://github.com/facorread/openconnect-gui-chocolatey). What do you think?

[2019-06-26 22:52] AdmiringWorm commented on #298
@facorread this is a request for a new non-existing package, so if you wish to maintain it then feel free to do as such.

[2019-06-26 22:54] AdmiringWorm commented on #398
@itzonban I just wanted to follow up on this request, have you been able to create an updated package after you were made the maintainer?

[2019-06-27 03:21] luzpaz opened #626 "RFP - ccache"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://ccache.dev/
Direct download URL for the software / installer: https://github.com/c

[2019-06-27 07:01] pauby commented on #626
@luzpaz Is there a Windows binary for this? I may be looking too hard but I can't see one?

[2019-06-27 07:22] itzonban commented on #398
@AdmiringWorm
Yes, I created an updated package and it is already approved and online.
https://chocolatey.org/packages/pidgin-otr

[2019-06-27 07:23] mkevenaar commented on #398
@itzonban Thanks for letting us know.

[2019-06-27 07:23] #398 closed

[2019-06-27 07:25] mkevenaar commented on #626
Based on the documentation, you need to build this software:

https://github.com/ccache/ccache/blob/master/doc/INSTALL-from-release-archive.md

[2019-06-27 11:22] luzpaz commented on #626
You're right. I found an unofficial binary, but it's not supported by upstream `ccache`. Would it be possible to use:
https://github.com/fastbuild/fastbuild instead (from http://fastbuild.org/) ?

[2019-06-28 10:02] pauby commented on #626
@luzpaz As long as we can verify an online version somewhere against anything that's embedded I'd be semi-happy with that.

The reasons behind this is obviously you could compile anything in there and then distribute it and claim it's the official build.

If you compiled your own version, added the instructions on how to verify it by downloading from your 'unoffocial' site and also the instruction

[2019-06-28 18:15] chtof commented on #287
Status: **Review**
https://chocolatey.org/packages/battle-net

[2019-06-28 18:21] mkevenaar commented on #287
@chtof why did you used a new package ID?

[2019-06-28 18:59] chtof commented on #287
@mkevenaar Because I have an issue when I used "battle.net" and I thought it was due to the "." in the package name. From my computer W10, chocolatey didn't find battle.net when using "`-dv -s".;chocolatey" `" but it worked on a chocolatey-test-environment.
After several attempts, I have preferred to use a new package name and it solves the issue on my computer.

[2019-06-28 19:18] mkevenaar commented on #287
@chtof does the link on the first issue work for you?

We can go down two roads:
1. Keep this new package ID and depricate the Battle.net package.
2. Keep the old package ID and reject the newly submitted package. (and use the name of the software as the package name)

I would suggest to go with option No 2

@pauby / @AdmiringWorm what do you think?

[2019-06-28 19:20] pauby commented on #287
I'd keep the new package and deprecate battle.net as that package name isn't using the correct naming convention. In addition there has only been one version of battle.net released so it's not a huge issue to deprecate it in favour of the new one.

[2019-06-28 19:48] bcurran3 commented on #287
Shouldn't be against naming conventions as "battle.net" IS the name of the program. (Sorry, but I can't quote a resource as chocolatey.org is not working for me.)

Simple solution is to have him added as a maintainer; deprecation of the old one makes no sense to me.

[2019-06-28 20:07] AdmiringWorm commented on #287
@majkinetor  @pauby I actually agree with the second option and what @bcurran3 is saying.

Quoting the chocolatey documentation:

So in this case where the name of the application is `battle.net` that should also be the package id.

https://chocolatey.org/docs/create-packages#naming-your-package

*NOTE: I probably won't be able to respond further until after the weekend, as I will be mostly offlin

[2019-06-28 21:32] pauby commented on #287
Wasn't ware the software was called battle.net @AdmiringWorm and in that case it should follow the naming of the software so I'll switch to 2 @mkevenaar

[2019-06-28 21:35] AdmiringWorm commented on #287
@pauby the full name is actually `Blizzard Battle.net Desktop App`, but I would said battle.net is the short name for the app.

[2019-06-29 07:11] pauby commented on #287
Bear in mind that the guidelines _allow_ software that has a dot in the name to use it for the package I'd. It doesn't say you _have_ to use it.

[2019-06-29 07:30] mkevenaar commented on #287
I agree, but the issue in this case is existing package ID vs new package ID.

https://chocolatey.org/packages/battle.net Already exists.

[2019-06-29 08:05] pauby commented on #287
@mkevenaar I was clarifying the guidelines, in general, for the future for anybody else reading this.

[2019-06-30 09:21] chtof commented on #322
Status: **Review**
https://chocolatey.org/packages/bandlab-assistant

[2019-06-30 09:48] chtof commented on #357
Status: **Review**
https://chocolatey.org/packages/avinaptic

[2019-06-30 10:33] chtof commented on #428
Status: **Review**
https://chocolatey.org/packages/evga-precision-xoc

[2019-06-30 10:56] luzpaz commented on #626
I can't do that at this time. I will close this and open a new ticket for fastbuild

[2019-06-30 11:13] pauby commented on #626
@luzpaz don't close this ticket as we'll need to know what's happening. If it turns out this can't be done in any way, then we can close it and label or accordingly.

[2019-06-30 11:24] chtof commented on #497
Status: **Review**
https://chocolatey.org/packages/nsudo

[2019-06-30 12:51] chtof commented on #442
Status: **Review**
https://chocolatey.org/packages/powerfolder

[2019-06-30 13:52] chtof commented on #328
Status: **Review**
https://chocolatey.org/packages/lossless-cut

[2019-07-01 13:48] CypherNL opened #627 "RFM - Kid3"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-07-01 18:03] TakataSanshiro commented on #447
I submitted a PR to dtgm repository.
https://github.com/dtgm/chocolatey-packages/pull/468

[2019-07-03 16:40] TakataSanshiro commented on #447
Status: Published
The PR has been merged.

Can be closed.

[2019-07-03 16:58] #447 closed

[2019-07-05 19:17] chtof commented on #623
Status: **Published**
https://chocolatey.org/packages/mfcmapi

Can be closed.

[2019-07-05 19:38] #623 closed

[2019-07-06 09:31] chtof commented on #627
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/kid3

[2019-07-06 09:33] chtof commented on #489
This site is currently unsafe: https://transparencyreport.google.com/safe-browsing/search?url=http:%2F%2Frweverything.com%2F&hl=en-US

[2019-07-06 12:06] chtof commented on #278
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/carotdav

[2019-07-06 12:38] chtof commented on #277
Status: **Review**
https://chocolatey.org/packages/vera

[2019-07-06 13:02] chtof commented on #280
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/afedteated

[2019-07-06 13:29] chtof commented on #276
Status: **Review**
https://chocolatey.org/packages/dos2unix

[2019-07-06 14:04] chtof commented on #275
Status: **Review**
https://chocolatey.org/packages/buddybackup

[2019-07-06 15:26] chtof commented on #274
Status: **Review**
https://chocolatey.org/packages/splint
https://chocolatey.org/packages/splint.install
https://chocolatey.org/packages/splint.portable

[2019-07-06 16:23] chtof commented on #266
Status: **Review**
https://chocolatey.org/packages/buffalo-nas-navigator

[2019-07-06 16:59] chtof commented on #261
Status: **Review**
https://chocolatey.org/packages/netsetman

[2019-07-06 17:01] chtof commented on #261
Status: **Published**
Already published and approved : https://chocolatey.org/packages/netsetman (by @3zmana)

So, can be closed.

[2019-07-06 20:21] #261 closed

[2019-07-07 13:21] chtof commented on #260
Status: **Review**
https://chocolatey.org/packages/vuescan

[2019-07-07 15:46] chtof commented on #241
Status: **Review**
https://chocolatey.org/packages/helix-alm-client

[2019-07-07 16:26] chtof commented on #237
Status: **Review**
https://chocolatey.org/packages/sonarlint-vs2017

[2019-07-07 16:51] chtof commented on #221
The installation with pip is not compatible with Windows:

[code]
Regarding the error _"ModuleNotFoundError: No module named 'fcntl'"_, according https://github.com/cs01/gdbgui/issues/18, the fcntl module is for unix(like) systems only.

So, if you agree, we can close this case.

[2019-07-07 16:56] chtof commented on #221
According https://asciinema.org/a/135330,
- Windows bash shell needs to be installed:
https://www.windowscentral.com/how-install-bash-shell-command-line-windows-10
- Install python3-pip from the Windows bash shell:
[code]

[2019-07-07 17:12] chtof commented on #221
So, the chocolatey package should:
if (Windows bash shell is not installed)
  Write "Under Windows, Asciinema runs only with a Windows Bash Shell.  See https://www.windowscentral.com/how-install-bash-shell-command-line-windows-10 to activate it.)
else
  bash -c "apt-get install --yes python3-pip ; python3 -m pip install asciinema==2.0.2"

[2019-07-07 17:47] chtof commented on #208
Status: **Review**
https://chocolatey.org/packages/b1freearchiver

[2019-07-07 18:00] #221 closed

[2019-07-08 01:25] jtcmedia opened #628 "RFM - Hadoop"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## Existing Package Details

Package URL: https://chocolatey.org/packages/hadoop
Package source URL: https://github.com/jtcmedia/chocolatey-packages/tree/master/hadoop

[2019-07-08 04:27] mkevenaar commented on #628
@jtcmedia could you add me as a maintainer please? Username mkevenaar

Thanks

[2019-07-08 05:25] jtcmedia commented on #628
done, it's pending approval. Thanks!

[2019-07-08 06:28] GecoMynx opened #629 "RFM - WinXcorners"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-07-08 08:23] pauby commented on #629
A new version of this package was submitted on 7 July by @sanshiro so I'm going to go ahead and close this just not as the package is actively being maintained.

[2019-07-08 08:23] #629 closed

[2019-07-08 08:54] GecoMynx commented on #629
It didn't change a thing, here is the Chocolatey Log and Transcript of the installation Process:
[Choco install WinXcorners Log.pdf](https://github.com/chocolatey-community/chocolatey-package-requests/files/3367492/Choco.install.WinXcorners.Log.pdf)

[2019-07-08 08:56] pauby commented on #629
@GecoMynx This is a request for a new maintainer. The reason this was closed is there is no need for a new maintainer as the package is being actively maintained (last submitted version was yesterday).

If there are issues with the package then you need to use the [Package Triage Process](https://chocolatey.org/docs/package-triage-process).

[2019-07-08 08:59] GecoMynx commented on #629
I have done that, as you can read in my Post.
I got no response and the issue also still isn't resolved and I'm still not the only one having the exact same issue with installing it.

[2019-07-08 09:07] pauby commented on #629
@GecoMynx I haven't seen any messages to the Site Admins (see [step 4](https://chocolatey.org/docs/package-triage-process#the-triage-process))? Did you do that? If you haven't can you do that now, I'll pick it up and we can follow this through via email and report the result here (rather than filling this with messages which are off-topic)?

I've sent the maintainer an email just now as from your

[2019-07-08 09:17] GecoMynx commented on #629
Yes, I did that, two times in fact: First time to the Maintainer a few days ago and then today morning to the site admin.

[2019-07-08 09:28] pauby commented on #629
@GecoMynx I can see no message from you or one about WinXCorners in my email. If you can do that agaian (use COntact Site Admins on the package page) I will pick it up and we can take this offline and report the resolution back here.

[2019-07-08 09:51] GecoMynx commented on #629
Sure thing, just give me a few minutes, doing it inside my work hours right now.

[2019-07-09 18:06] chtof commented on #328
Status: **Published**

- https://chocolatey.org/packages/lossless-cut

Can be closed.

[2019-07-09 18:17] chtof commented on #497
Status: **Published**

- https://chocolatey.org/packages/nsudo

Can be closed.

[2019-07-09 18:48] AdmiringWorm commented on #322
Seems like the package have been approved.

[2019-07-09 18:48] #322 closed

[2019-07-09 18:48] #497 closed

[2019-07-09 18:48] #328 closed

[2019-07-09 18:53] AdmiringWorm commented on #357
seems like the package have been approved

[2019-07-09 18:53] #357 closed

[2019-07-09 18:54] AdmiringWorm commented on #428
seems like the package have been approved

[2019-07-09 18:54] #428 closed

[2019-07-09 18:56] AdmiringWorm commented on #368
seems like the package have been approved

[2019-07-09 18:56] #368 closed

[2019-07-09 18:57] AdmiringWorm commented on #301
seems like the package have been approved

[2019-07-09 18:57] #301 closed

[2019-07-09 19:11] AdmiringWorm commented on #622
Looks like the package was automatically exempted as it was submitted as a pre-release.

[2019-07-09 19:11] #622 closed

[2019-07-09 19:14] AdmiringWorm commented on #621
looks like the package have been approved

[2019-07-09 19:14] #621 closed

[2019-07-09 19:16] AdmiringWorm commented on #145
Looks like the package have been approved.

[2019-07-09 19:16] #145 closed

[2019-07-10 08:26] RiseT commented on #260
@chtof Here are alternative, direct download URLs without cloudfront, if you're interested. Don't know which ones are better, though.

Example for v9.6:

32 Bit:
https://www.hamrick.com/files/vuex3296.exe

64 Bit:
https://www.hamrick.com/files/vuex6496.exe

[2019-07-10 17:03] jeff9315 opened #630 "RFP - Altcopy"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://altcopy.net/
Direct download URL for the software / installer :  https://altcopy.

[2019-07-10 17:52] pauby commented on #630
@jeff9315 Can you go back and edit your request to use the template? The checklist is important.

[2019-07-10 19:46] chtof commented on #260
@RiseT  Great, thank you for these links and for your feedback!
You are true, the main download link ("big green download button") on the site was "adapted" to my OS system. And I checked once again and now I saw a download link for other OS, mobile etc...
Package has just been submitted with these changes.
Thanks again!

[2019-07-10 20:08] jeff9315 commented on #630
OK ... Sorry @pauby ... I didn't realize that was important. I've added it in now.

[2019-07-10 22:09] chtof commented on #627
Status: **Review**
https://chocolatey.org/packages/kid3

[2019-07-10 22:10] chtof commented on #278
Status: **Review**
https://chocolatey.org/packages/carotdav
https://chocolatey.org/packages/carotdav.portable
https://chocolatey.org/packages/carotdav.install

[2019-07-10 22:11] chtof commented on #280
Status: **Review**
https://chocolatey.org/packages/afedteated

[2019-07-11 17:02] RiseT commented on #260
@chtof Hey, just tried to install the VueScan package and it failed because of a checksum error. When I inspected the current chocolateyinstall.ps1, I noticed that both "url" and "url64" contain the same 32 bit URL. So on my 64 bit system, it downloads the 32 bit version and compares its hash with the 64 bit hash, which of course fails.

[2019-07-11 18:09] chtof commented on #260
@RiseT , corrected version has been published. Well, thanks again!

[2019-07-11 18:20] Masterxilo opened #631 "RFP - touch"
touch, like the linux command

[code]

[2019-07-11 18:52] pauby commented on #631
@Masterxilo can you go back and edit your request to use the provided template?

[2019-07-11 19:30] chtof commented on #260
@RiseT  it fails again and the version of Vuescan has not changed. I think the file is built regularly and maybe something like a date change the checksum of the file:
PS C:\*****\GitHub\chocolatey-packages\automatic\vuescan> get-remotechecksum https://www.hamrick.com/files/vuex6496.exe
142bacb60e7047a003b6f62e595bc6b06f7e928d44cad17a156755976444f200
PS C:\*****\GitHub\chocolatey-packages\automati

[2019-07-11 21:51] RiseT commented on #260
Mh. Passed the automatic test & installing the current package went without problems for me.

[2019-07-13 19:32] chtof commented on #630
Status: **Review**
https://chocolatey.org/packages/altcopy

[2019-07-13 19:48] chtof commented on #146
Status: **Review**
https://chocolatey.org/packages/malwarebytes-antiexploit

[2019-07-13 20:17] chtof commented on #147
Status: **Review**
https://chocolatey.org/packages/malwarebytes-antiransomware

[2019-07-14 09:52] chtof commented on #146
As they are not static link for the installer file and the dynamic link is either temporary or depends on something like the IP address, the package fails. So, a statis link is welcome or a tip to handle a such situation.

[2019-07-14 09:52] chtof commented on #147
As they are not static link for the installer file and the dynamic link is either temporary or depends on something like the IP address, the package fails. So, a statis link is welcome or a tip to handle a such situation.

[2019-07-14 10:23] chtof commented on #289
Notes: It will be difficult to script this package as:
- Silent args haven't been found.
- An ahk script need to handle options according already installed discord app (discord, discord canary or discord PTB).

[2019-07-14 11:02] chtof commented on #311
Status: **Review**
https://chocolatey.org/packages/gsubs

[2019-07-14 11:33] chtof commented on #312
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/goodsync

[2019-07-14 12:39] chtof commented on #324
Status: **Review**
https://chocolatey.org/packages/weasel

[2019-07-14 13:43] chtof commented on #326
Already exists: https://chocolatey.org/packages/flutter

**Can be closed.**

[2019-07-14 14:05] chtof commented on #331
Status: **Review**
https://chocolatey.org/packages/ncollector-studio-lite

[2019-07-14 14:28] #326 closed

[2019-07-14 14:45] chtof commented on #332
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/firestorm

[2019-07-14 14:48] chtof commented on #348
Already exists: https://chocolatey.org/packages/k-litecodecpackbasic

**Can be closed.**

[2019-07-14 15:12] chtof commented on #350
Status: **Review**
https://chocolatey.org/packages/kafka-tool

[2019-07-14 16:27] chtof commented on #356
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/rtmpdump

[2019-07-14 18:54] chtof commented on #382
Status: **Review**
https://chocolatey.org/packages/fluxfonts

[2019-07-14 21:32] luzpaz commented on #626
Checkout https://github.com/nagayasu-shinya/ccache-win64/issues/4#issuecomment-511234552

[2019-07-15 08:47] pauby commented on #626
@luzpaz Can you keep us up to date on whether the developer does start publishing compiled binaries?

[2019-07-15 08:55] luzpaz commented on #626
@pauby do we want both 32 and 64 bit or just 64 ?

[2019-07-15 09:12] pauby commented on #626
@luzpaz If we can do both then I think both makes most sense. If he only wants to do one then the x86 version again makes most sense (as it covers both x86 and x64).

However, it would entirely be up to the package maintainer - those are only my suggestions!

[2019-07-15 11:27] AdmiringWorm commented on #626
I would say if possible, then support both 32bit and 64bit for this software.

If that isn't possible, then I would say only 64bit (as this is a caching for C/C++ compilers, I would say it is more likely that a the person using it is running 64bit, than 32bit and since 32bit is being phased out more and more).

[2019-07-15 16:14] RiseT commented on #260
@chtof I've noticed you're adding a start menu link manually in the latest script. Do you have any idea why the VueScan installer doesn't behave as usual with Chocolatey, i. e. doesn't place any links? I mean one would think an installer does what it always does, independently of Chocolatey.

[2019-07-17 02:57] FranklinYu commented on #324
@chtof What’s AHK here for?

[2019-07-17 05:09] chtof commented on #324
@FranklinYu weasel is automatically launched at end of installation. So, the AHK script closes weasel.

[2019-07-17 07:56] amitkeret opened #632 "RFP - Clockify"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://clockify.me/
Direct download URL for the software / installer : [Link](https://cl

[2019-07-18 16:20] chtof commented on #350
Status: **Published**

- https://chocolatey.org/packages/kafka-tool

Can be closed.

[2019-07-18 16:27] #350 closed

[2019-07-18 19:09] chtof commented on #382
Status: **Published**

- https://chocolatey.org/packages/fluxfonts

Can be closed.

[2019-07-19 01:36] qqgg231 opened #633 "RFP - Keeper"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://keepersecurity.com
Direct download URL for the software / installer : https://kee

[2019-07-19 07:53] #382 closed

[2019-07-20 05:45] qqgg231 opened #634 "RFM - DMDE - DM Disk Editor and Data Recovery Software"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://dmde.com/
Direct download URL for the software / installer : https://dmde.com/dow

[2019-07-20 07:01] AdmiringWorm commented on #634
Changed to RFM due to package existing.
Package was submitted in 2014, currently failing, is unlisted and author have removed github repository. Assuming it is no longer being maintained.
https://chocolatey.org/packages/dmde

[2019-07-20 14:50] chtof commented on #331
Status: **Published**

- https://chocolatey.org/packages/ncollector-studio-lite

Can be closed.

[2019-07-20 15:02] chtof commented on #324
Status: **Published**

- https://chocolatey.org/packages/weasel

Can be closed.

[2019-07-20 15:07] chtof commented on #311
Status: **Published**

- https://chocolatey.org/packages/gsubs

Can be closed.

[2019-07-20 15:30] joachimschmidt557 opened #635 "RFM - Folder Colorizer"
## Current Maintainer

- [x] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-07-20 15:55] chtof commented on #630
Status: **Published**
https://chocolatey.org/packages/altcopy

Can be closed.

[2019-07-20 16:12] chtof commented on #280
Status: **Published**
https://chocolatey.org/packages/afedteated

Can be closed.

[2019-07-20 16:26] chtof commented on #627
Status: **Published**
https://chocolatey.org/packages/kid3

Can be closed.

[2019-07-20 18:34] #627 closed

[2019-07-20 18:35] #280 closed

[2019-07-20 18:35] #630 closed

[2019-07-20 18:36] #311 closed

[2019-07-20 18:36] #324 closed

[2019-07-20 18:37] #331 closed

[2019-07-20 20:03] chtof commented on #241
Status: **Published**
https://chocolatey.org/packages/helix-alm-client

Can be closed.

[2019-07-20 20:29] chtof commented on #356
Status: **Review**
https://chocolatey.org/packages/rtmpdump

[2019-07-20 20:31] chtof commented on #332
Status: **Review**
https://chocolatey.org/packages/firestorm

[2019-07-20 20:34] chtof commented on #312
Status: **Review**
https://chocolatey.org/packages/goodsync

[2019-07-20 21:13] chtof commented on #635
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/foldercolorizer

[2019-07-20 21:43] chtof commented on #634
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/dmde

[2019-07-21 11:32] luzpaz commented on #626
per @jrosdahl

Relevant issues:
* https://github.com/ccache/ccache/issues/430
* https://github.com/nagayasu-shinya/ccache-win64/issues/4#issuecomment-513537555

[2019-07-21 12:18] chtof commented on #260
The checksum changes every day (without new version released), so how to handle this?
Version 9.6.45 - Checksum was 4aab8beeca3857462dccb67c095dc0cb6f4e69f0121f2b22ffd9bc27f52307d9 when I submitted the package.

Yesterday, 20th of July:
get-remotechecksum https://www.hamrick.com/files/vuex3296.exe
ca2f24554df70313ca9d34afbdeab374e353b66cc76c77219e12503c66b79286

Today, 21th of July:
get-remotechec

[2019-07-21 12:40] chtof commented on #276
Status: **Published**
https://chocolatey.org/packages/dos2unix

Can be closed.

[2019-07-21 12:49] chtof commented on #277
Status: **Published**
https://chocolatey.org/packages/vera

Can be closed.

[2019-07-21 16:09] RiseT commented on #260
@ferventcoder Any idea what to do if checksums change on a daily basis without a version change?

[2019-07-21 18:47] pauby commented on #260
@RiseT The author could genuinely be updating the software but not updating the version (happens a LOT). Or they could be doing it to generate a new checksum and defeats direct links to the file from something like Chocolatey. Either way I can't see a way around it.

A suggestion may be to look at embedding the software either using the redistribution rights in the license (if it allows it) or rea

[2019-07-21 19:08] bcurran3 opened #636 "RFM -plantronicshub"
## Current Maintainer: amoisis

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X ] There is no existing open maintainer request for this package;

## Checklist

- [ X] Issue title starts with 'RFM - '

## Existing Pack

[2019-07-22 01:59] #276 closed

[2019-07-22 06:26] #277 closed

[2019-07-22 06:27] #241 closed

[2019-07-22 17:11] chtof commented on #634
Status: **Review**
https://chocolatey.org/packages/dmde

[2019-07-22 17:12] chtof commented on #635
Status: **Review**
https://chocolatey.org/packages/foldercolorizer

[2019-07-23 11:48] chtof commented on #266
Status: **Published**
https://chocolatey.org/packages/buffalo-nas-navigator

Can be closed.

[2019-07-23 11:58] #266 closed

[2019-07-23 14:24] fox272 opened #637 "RFP - Google2SRT 0.7.7"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - Google2SRT ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/google2srt/
Direct download URL for the softw

[2019-07-23 14:30] pauby commented on #637
@fox272 Can you use the issue template that is provided?

[2019-07-23 14:31] pauby commented on #631
No update. Closing issue.

[2019-07-23 14:31] #631 closed

[2019-07-23 14:55] fox272 commented on #637
it's ok like that

[2019-07-23 15:04] pauby commented on #637
@fox272 If you complete the checklist then we're good to go.

[2019-07-23 19:05] chtof commented on #208
Status: **Rejected***
_* due to high AV detection count._

- https://chocolatey.org/packages/b1freearchiver

Can be closed.

[2019-07-23 19:16] #208 closed

[2019-07-24 02:42] steviecoaster commented on #633
I'll take this one. Good excuse for an upcoming Azure Devops demo

[2019-07-24 02:45] qqgg231 commented on #633
It may not matter, but iirc installer uses nupkg package during install, maybe this can be used by Choco script, but I am not sure

[2019-07-24 18:09] chtof commented on #300
Status: **Published**
https://chocolatey.org/packages/eclipse-java-oxygen

Can be closed.

[2019-07-24 18:15] chtof commented on #278
Status: **Published**

- https://chocolatey.org/packages/carotdav
- https://chocolatey.org/packages/carotdav.portable
- https://chocolatey.org/packages/carotdav.install

Can be closed.

[2019-07-24 18:57] steviecoaster commented on #633
This is pushed to the community repository pending moderation.

[2019-07-25 08:35] #278 closed

[2019-07-25 08:35] #300 closed

[2019-07-25 11:28] RiseT commented on #260
VueScan has been updated to 9.6.46, so you can check if the automatic script generation works.

[2019-07-25 17:55] chtof commented on #260
@RiseT The automatic update has failed as I have had the bad idea to rename for this package on my computer for example _chocolateyinstall.ps1_ into _chocolateyInstall.ps1_ and github desktop doesn't published a such change and so, update.ps1 doesn't find the renamed file.
The first point is to know how to handle this package as its checksum changes regularly for a same version. I have written to

[2019-07-25 18:10] AdmiringWorm commented on #260
@chtof do the version stay exactly the same every time? if not, you could perhaps use something similar to what I am doing for the origin package (checking the response for if the etag have changed, if so create push a new version).

https://github.com/AdmiringWorm/chocolatey-packages/blob/develop/scripts/Update-OnHeaderChanged.ps1
and
https://github.com/AdmiringWorm/chocolatey-packages/blob/devel

[2019-07-25 18:42] RiseT commented on #260
Except for for the people checking out VueScan just as a trial, those who will utiliize this chocolatey package are customers who have purchased VueScan 😠

[2019-07-25 18:43] luzpaz opened #638 "RFP - dust3d"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://dust3d.org/
Direct download URL for the software / installer :  https://github.co

[2019-07-25 18:47] chtof commented on #260
@RiseT What abour to end your request as customer to the software editor, it can helps.

[2019-07-25 21:58] chtof commented on #638
Status: **Review**
https://chocolatey.org/packages/dust3d

[2019-07-26 10:38] RiseT commented on #260
@AdmiringWorm
The version stated within the (setup) file name only changes for major versions (like 9.5 or 9.6), while on the download page, the full version (9.6.46) is mentioned:
https://www.hamrick.com/alternate-versions.html

Also, the properties of the setup file contain the full version (e. g. 9.6.46.0):
![vue](https://user-images.githubusercontent.com/12624674/61945882-61633d80-afa1-11e9-84

[2019-07-26 15:54] AdmiringWorm commented on #260
@RiseT I think it would be appropriate to use just the first 3-parts, then when the checksum changed to use the 4th part as the fix version (ie `9.6.46.20190726`, the date is recommended to be used as a fix part of the version)

[2019-07-26 17:27] chtof commented on #638
Status: **Published**
https://chocolatey.org/packages/dust3d

Can be closed.

[2019-07-26 18:18] #638 closed

[2019-07-26 21:22] FranklinYu opened #639 "RFP - softros"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://messenger.softros.com/
Direct download URL for the software / installer: https://d

[2019-07-27 09:28] chtof commented on #639
Status: **Review**
https://chocolatey.org/packages/slm

[2019-07-27 10:10] chtof commented on #637
Status: **Review**
https://chocolatey.org/packages/google2srt
https://chocolatey.org/packages/google2srt.install
https://chocolatey.org/packages/google2srt.portable

[2019-07-27 12:54] chtof commented on #364
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/lyx

[2019-07-27 13:00] chtof commented on #632
Hi @amitkeret , it seems the download link needs to be logged on Clockify.me to be used. Do you have another link which doesn't requires to be logged on Clockify.me?

[2019-07-27 15:37] chtof commented on #491
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published:
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/sunset-screen

- Under review:
  - https://github.com/chtof/chocolatey-packages/tree/master/automatic/sunset-screen.install
  - https://github.com/chtof/chocolatey-packag

[2019-07-27 18:56] chtof commented on #490
Status: **Review**
- https://chocolatey.org/packages/apo-ok
- https://chocolatey.org/packages/apo-ok.install
- https://chocolatey.org/packages/apo-ok.portable

[2019-07-27 19:27] AdmiringWorm commented on #632
@chtof seems like the downnload link can be aquired from here: https://clockify.me/apps

It seems to work without being logged in.

[2019-07-28 12:10] chtof commented on #482
Status: **Review**
https://chocolatey.org/packages/librefox-firefox

[2019-07-28 12:31] chtof commented on #476
Status: **Review**
https://chocolatey.org/packages/cronical

[2019-07-28 12:36] jrosdahl commented on #626
See also ccache/ccache#447.

[2019-07-28 13:03] chtof commented on #473
Status: **Review**
https://chocolatey.org/packages/busybox

[2019-07-28 13:25] chtof commented on #471
Status: **Review**
https://chocolatey.org/packages/yara

[2019-07-28 14:21] chtof commented on #469
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/fbreader

[2019-07-28 14:47] chtof commented on #440
Status: **Review**
https://chocolatey.org/packages/little-fighter-2

[2019-07-28 16:33] ComFreek commented on #572
Hah, months later, still no package 😄
But someone commented and asked for Netbeans 11 at the [Disqus thread for `netbeans`](https://disqus.com/home/discussion/chocolatey/chocolatey_gallery_netbeans_73/?utm_source=reply&utm_medium=email&utm_content=comment_date#comment-4554786081):

[2019-07-29 18:48] RiseT commented on #260
@chtof

Sorry, I've tried, and same here...

[2019-07-29 18:50] Foadsf opened #640 "RFP - LabPlot"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://labplot.kde.org/
Direct download URL for the software / installer : https://downl

[2019-07-29 22:23] chtof commented on #640
Status: **In progress**
- Should be submitted before the end of the week.

[2019-07-30 00:58] risk1996 opened #641 "RFP - Ren'Py"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.renpy.org
Direct download URL for the software / installer : https://www.renp

[2019-07-30 00:58] risk1996 commented on #641
I will try to maintain this package myself.

[2019-07-31 13:00] ghost opened #642 "RFP - matlab runtime 2019"
-->
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://in.mathworks.com/products/compiler/matlab-runtime.html
Direct download URL f

[2019-07-31 13:57] pauby commented on #642
@teknowledgist as you maintain the other Matlab packages would you be interested in picking this one up?

[2019-07-31 14:58] teknowledgist commented on #642
Sure.  I can do that.

[2019-07-31 15:00] AdmiringWorm commented on #642
@teknowledgist I will assign the issue to you then.
Thanks for taking care of it.

[2019-07-31 18:18] chtof commented on #131
Status: **Published**
https://chocolatey.org/packages/atmel-studio

Can be closed.

[2019-07-31 18:22] #131 closed

[2019-07-31 18:29] chtof commented on #634
Status: **Published**
https://chocolatey.org/packages/dmde

Can be closed.

[2019-07-31 18:35] #634 closed

[2019-07-31 20:24] teknowledgist commented on #642
mcr-2019a package submitted.

[2019-08-01 10:35] arberg commented on #312
Looks good to me. I've just run 'choco install goodsync' and reviewed the chocolateyinstall.ps1 and it looks good, it downloads correct goodsync and says it installed it.

Awesome chtof, thank you.

[2019-08-01 17:20] chtof commented on #312
@arberg And this package is automatically updated, version 10.10.1 is coming! Thank you for your feedback!

[2019-08-01 17:20] chtof commented on #312
Status: **Published**
https://chocolatey.org/packages/goodsync

Can be closed.

[2019-08-01 17:38] chtof commented on #356
Status: **Published**
https://chocolatey.org/packages/rtmpdump

Can be closed.

[2019-08-01 17:41] #356 closed

[2019-08-01 18:12] chtof commented on #237
Status: **Published**
https://chocolatey.org/packages/sonarlint-vs2017

Can be closed.

[2019-08-02 09:59] #237 closed

[2019-08-02 09:59] #312 closed

[2019-08-02 17:15] chtof commented on #364
Status: **Published**
https://chocolatey.org/packages/lyx

Can be closed.

[2019-08-02 17:19] #364 closed

[2019-08-02 17:21] chtof commented on #440
Status: **Published**
https://chocolatey.org/packages/little-fighter-2

Can be closed.

[2019-08-02 17:37] chtof commented on #490
Status: **Published**
- https://chocolatey.org/packages/apo-ok
- https://chocolatey.org/packages/apo-ok.install
- https://chocolatey.org/packages/apo-ok.portable

Can be closed.

[2019-08-02 17:48] #440 closed

[2019-08-02 17:56] #490 closed

[2019-08-02 17:59] chtof commented on #491
Status: **Published**
- https://chocolatey.org/packages/sunset-screen
- https://chocolatey.org/packages/sunset-screen.install
- https://chocolatey.org/packages/sunset-screen.portable

Can be closed.

[2019-08-02 18:10] chtof commented on #469
Status: **Published**
https://chocolatey.org/packages/fbreader

Can be closed.

[2019-08-02 18:12] #469 closed

[2019-08-02 18:12] #491 closed

[2019-08-02 18:23] chtof commented on #639
Status: **Published**
https://chocolatey.org/packages/slm

Can be closed.

[2019-08-02 21:15] #639 closed

[2019-08-03 08:37] chtof commented on #473
Status: **Published**
https://chocolatey.org/packages/busybox

Can be closed.

[2019-08-03 08:46] #473 closed

[2019-08-03 08:55] chtof commented on #476
Status: **Published**
https://chocolatey.org/packages/cronical

Can be closed.

[2019-08-03 09:13] chtof commented on #635
Status: **Published**
https://chocolatey.org/packages/foldercolorizer

Can be closed.

[2019-08-03 09:39] chtof commented on #465
Status: **Review**
- https://chocolatey.org/packages/basilisk
- https://chocolatey.org/packages/basilisk.install
- https://chocolatey.org/packages/basilisk.portable

[2019-08-03 10:02] chtof commented on #464
Status: **Review**
https://chocolatey.org/packages/mitmproxy

[2019-08-03 10:04] chtof commented on #464
Already exists and is up to update.
https://chocolatey.org/packages/mitmproxy

Can be closed.

[2019-08-03 10:48] AdmiringWorm commented on #464
Seems like the package was pushed after the request was made.

[2019-08-03 10:48] #464 closed

[2019-08-03 10:49] #635 closed

[2019-08-03 10:49] #476 closed

[2019-08-03 10:52] cholmquist opened #643 "RFP - concourse"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://concourse-ci.org/
Direct download URL for the software / installer : https://gith

[2019-08-03 11:04] chtof commented on #462
Status: **Review**
https://chocolatey.org/packages/x32-edit

[2019-08-03 14:00] chtof commented on #460
Status: **Review**
https://chocolatey.org/packages/sql-multi-select

[2019-08-03 14:23] chtof commented on #454
https://www.growlforwindows.com is unavailable for several years.
The installer is not embedded and so, the latest approved version fails.

What about to hide approved versions of this package and to close this issue?

[2019-08-03 14:24] chtof commented on #444
See previous post, so can be closed.

[2019-08-03 14:51] chtof commented on #643
Status: **Review**
https://chocolatey.org/packages/concourse

[2019-08-03 14:55] #444 closed

[2019-08-03 14:59] AdmiringWorm commented on #454
@chtof the website works perfectly fine.
If it was unavailable previously is something I can't say anything about, but the page both opens and can be browsed.

[2019-08-03 15:04] chtof commented on #437
@vintagesucks The link provided for download is temporary and so, changes each time. Also, the installer can't be embedded as I haven't find license for Brandy.
If the developer doesn't provide a static link to download software, we can't integrate it in Chocolatey package repository.

[2019-08-03 15:26] chtof commented on #434
Status: **Review**
https://chocolatey.org/packages/tabula

[2019-08-03 15:43] Kristinita opened #644 "RFP — Keyferret"
### 1. Checklist

- [x] The package I am requesting does not already exist on **<https://chocolatey.org/packages>**;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login.

### 2. Package Details

+ Software project URL: **<https://www.keyferret.com/>**
+ Direct download URL for the software/in

[2019-08-03 16:04] chtof commented on #430
Status: **Review**
https://chocolatey.org/packages/acronis-vdi

[2019-08-03 16:21] chtof commented on #644
Status: **In progress**
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/keyferret.install

keyferret.portable and keyferret (virtual/meta package) are coming soon.

[2019-08-03 18:18] chtof commented on #644
Status: **Review**
- https://chocolatey.org/packages/keyferret
- https://chocolatey.org/packages/keyferret.install
- https://chocolatey.org/packages/keyferret.portable

[2019-08-03 19:24] vintagesucks commented on #437
@chtof I [contacted](https://twitter.com/VintageSucks/status/1157732871664259073) the developer on Twitter to let him know.

[2019-08-03 23:48] AdmiringWorm commented on #437
@vintagesucks
I am putting this into the triage stage until you hear back from him.
That means of course that the package is not to be picked up until an answer have been received.

[2019-08-04 10:35] yamlCase opened #645 "RFP - Meshroom"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://alicevision.org/#meshroom
Direct download URL for the software / installer : http

[2019-08-04 16:27] Kristinita opened #646 "RFP — Briss"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=briss) on **<https://chocolatey.org/packages>**;
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+Briss);
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public a

[2019-08-05 16:24] chtof commented on #460
Status: **Published**
https://chocolatey.org/packages/sql-multi-select

Can be closed.

[2019-08-05 16:25] chtof commented on #462
Status: **Published**
https://chocolatey.org/packages/x32-edit

Can be closed.

[2019-08-05 16:27] chtof commented on #471
Status: **Published**
https://chocolatey.org/packages/yara

Can be closed.

[2019-08-05 16:36] chtof commented on #147
Status: **Package rejected**
Package rejected as there is no static link to download the installer and on another hand, the license doesn't allow to embed the installer. So there is no way to integrate this package in the official Chocolatey repository.

Can be closed.

[2019-08-05 16:37] chtof commented on #146
Status: **Package rejected**
Package rejected as there is no static link to download the installer and on another hand, the license doesn't allow to embed the installer. So there is no way to integrate this package in the official Chocolatey repository.

Can be closed.

[2019-08-05 16:42] chtof commented on #287
Status: **Package rejected**
Package rejected as the checksum of the installer changes all the time and on another hand, the license doesn't allow to embed the installer. So there is no way to integrate this package in the official Chocolatey repository.

Can be closed.

[2019-08-05 16:45] AdmiringWorm commented on #146
@chtof Am I correct to assume that only the url changes? But the checksum stays the same?

If so, there is a way. But you will need to change the package to grab the url during installation in that case

[2019-08-05 17:02] chtof commented on #146
@AdmiringWorm As I said, just as reminder, I have tried to use background "Internet Explorer calls" in PowerShell but when I click on the "download button", I haven't find a way to get the url of the download file.
Yes, the checksum stays the same and only the url changes. So I am interested to know how to handle this situation.

[2019-08-05 17:18] AdmiringWorm commented on #146
hmm, I see. I have more or less figured out how they are generating the url (but not what would be needed to get it).

Seems like they have taken some incredible steps to prevent automatic downloads (or at least it looks that way to me).

I will mark this as blocked upstream, but won't be closing it as there is a way. It just isn't possible without parsing the necessary javascript files, and figur

[2019-08-05 17:28] AdmiringWorm commented on #147
as with #146 , I will mark this as blocked upstream but won't be closing it (at least not yet).

[2019-08-05 17:29] #287 closed

[2019-08-05 17:29] #471 closed

[2019-08-05 17:30] #462 closed

[2019-08-05 17:31] #460 closed

[2019-08-05 17:42] mkevenaar commented on #146
@chtof have you looked at https://chocolatey.org/packages/adwcleaner and https://chocolatey.org/packages/malwarebytes these seem to have a static url. Perhaps https://chocolatey.org/packages/fiddler can help you record the requests.

[2019-08-05 17:52] AdmiringWorm commented on #146
@mkevenaar those packages uses an already listed static url, one that is showned on the website (I assume that software will probably eventually also use a static url when it is out of beta).

[2019-08-05 17:56] chtof commented on #146
@AdmiringWorm According https://www.malwarebytes.com/antiexploit/ , I understand antiexploit has been integrated in the premium version of MalwareBytes so we can't think it will be not officially released as a standalone tool.

[2019-08-05 18:46] chtof commented on #434
Status: **Published**
https://chocolatey.org/packages/tabula

Can be closed.

[2019-08-05 18:50] maphew commented on #434
Thank you!

[2019-08-05 18:50] #434 closed

[2019-08-05 18:55] chtof commented on #482
Status: **Published**
https://chocolatey.org/packages/librefox-firefox

Can be closed.

[2019-08-05 19:29] chtof commented on #644
Status: **Published**
- https://chocolatey.org/packages/keyferret
- https://chocolatey.org/packages/keyferret.install
- https://chocolatey.org/packages/keyferret.portable

Can be closed.

[2019-08-05 19:35] chtof commented on #274
Status: **Published**
- https://chocolatey.org/packages/splint
- https://chocolatey.org/packages/splint.install
- https://chocolatey.org/packages/splint.portable

Can be closed.

[2019-08-05 19:38] chtof commented on #275
Status: **Published**
https://chocolatey.org/packages/buddybackup

Can be closed.

[2019-08-05 19:52] #275 closed

[2019-08-05 19:53] jnm2 commented on #275
@chtof Thank you!

[2019-08-06 06:24] #274 closed

[2019-08-06 06:24] #644 closed

[2019-08-06 06:25] #482 closed

[2019-08-06 19:05] Kristinita opened #647 "RFP — TCP/IP Manager"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=tcp%2Fip%20manager) on **<https://chocolatey.org/packages>**;
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+tcp%2Fip+manager);
- [x] The issue title starts 'RFP - ';

[2019-08-07 18:25] chtof commented on #465
Status: **Published**
- https://chocolatey.org/packages/basilisk
- https://chocolatey.org/packages/basilisk.install
- https://chocolatey.org/packages/basilisk.portable

Can be closed.

[2019-08-08 07:28] #465 closed

[2019-08-09 06:51] ghuntley opened #648 "RFP - Microsoft Edge Insider"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.microsoftedgeinsider.com/en-us/
Direct download URL for the software / instal

[2019-08-09 07:59] AdmiringWorm commented on #648
A note for anyone interested in picking this up, there are separate installers for Windows 7, 8, 8.1 and 10.

As such, custom logic would most likely be needed to install the correct version depending on the platform of the user.

[2019-08-09 10:03] gep13 commented on #648
An example of the type of custom logic that might be required can be found in the PowerShell package.

[2019-08-10 10:03] chtof commented on #645
Binary for Windows is hosted on FossHub (https://www.fosshub.com/Meshroom.html?dwl=Meshroom-2019.1.0-win64.zip).

According https://github.com/chocolatey/package-validator/wiki/ScriptsDoNotDownloadFromFossHub, we can't implement a package with a binary hosted on FossHub. Also, these package can't be embedded (its size is about 300 MB).

Do you know an alternate official download location? Maybe yo

[2019-08-10 10:34] chtof commented on #646
Status: **Review**
https://chocolatey.org/packages/briss

[2019-08-10 11:05] chtof commented on #647
Status: **Review**
- https://chocolatey.org/packages/tcpipmanager
- https://chocolatey.org/packages/tcpipmanager.install
- https://chocolatey.org/packages/tcpipmanager.portable

[2019-08-10 12:24] chtof commented on #454
Strange, it doesn't work at home, in fact it works on my smartphone after disabling Wi-Fi...

[2019-08-10 12:40] chtof commented on #439
Hi @FranklinYu , could you explain how you install it manually until now on your windows OS? Which files are needed, where should they been copied? Depends only on git (and maybe on Perl)? How to check easily to know if the installation of the script is successfull? Thanks in advance!

[2019-08-10 12:57] chtof commented on #432
Status: **Review**
https://chocolatey.org/packages/davmail

[2019-08-10 14:08] AdmiringWorm commented on #454
sounds like your isp is either blocking the website, or the dns server used isn't resolving the domain name.

[2019-08-10 14:32] chtof commented on #431
Status: **Review**
https://chocolatey.org/packages/acronis-drive-monitor

[2019-08-10 14:54] chtof commented on #429
Status: **Review**
https://chocolatey.org/packages/evga-eleet

[2019-08-10 16:47] chtof commented on #427
Status: **Review**
https://chocolatey.org/packages/startup-organizer

[2019-08-10 18:48] chtof commented on #426
Status: **Review**
https://chocolatey.org/packages/bbc-iplayer

[2019-08-10 19:54] chtof commented on #403
Status: **Review**
https://chocolatey.org/packages/egnyte-connect

[2019-08-10 20:26] chtof commented on #397
Status: **Review**
https://chocolatey.org/packages/huggle

[2019-08-10 20:45] chtof commented on #389
Latest package downloads http://azure.distrib.naviextras.com/content/!application/LG/ToolboxDacia/2016042601_3.18.5.647040_STRICT_dacia/Dacia_Media_Nav_Toolbox_Setup.exe

On the website https://dacia.welcome.naviextras.com/#how-to-update, I see http://cdns.distrib.naviextras.com/content/!application/TOOLBOX/Agents/ReDa_ULC_4/2019_07_15_16_20/Dacia/DaciaMediaNavEvolutionToolbox-inst.exe

The first

[2019-08-10 23:13] AdmiringWorm commented on #397
@chtof your package is currently failing. Seems like you have a mixed remote and embedded package. (using embedded parameters, but remote helpers. As well as not including the binary, if this is supposed to be a embedded package).

I'll mark it as a package `In Progress`, let us know when the package gets updated.

[2019-08-11 03:36] FranklinYu commented on #439
@chtof It should depend on Git only. I think it’s using the perl in the MSYS2 that came with Git.

As for what to package, I read the Makefile:

https://github.com/git/git/blob/master/contrib/diff-highlight/Makefile

I think we need to concatenate `DiffHighlight.pm` and `diff-highlight.perl`, then prepend the shebang.

[2019-08-11 03:39] FranklinYu commented on #397
@chtof Please embed since this is GPL. Thanks!

[2019-08-11 10:33] chtof commented on #387
Status: **Review**
https://chocolatey.org/packages/nip2

[2019-08-11 11:14] chtof commented on #386
Status: **Review**
- https://chocolatey.org/packages/eddie
- https://chocolatey.org/packages/eddie.install
- https://chocolatey.org/packages/eddie.portable

[2019-08-11 11:35] chtof commented on #385
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/hmailserver

[2019-08-11 11:44] chtof commented on #397
@FranklinYu Not possible as the sum of installers exceed 200 MB, reason for which I have had to modify the script.
@AdmiringWorm Corrected and under review.

[2019-08-11 12:58] chtof commented on #384
Status: **Review**
- https://chocolatey.org/packages/tjs
- https://chocolatey.org/packages/tjs.install
- https://chocolatey.org/packages/tjs.portable

[2019-08-12 06:39] Kristinita opened #649 "RFP — DjVuLibre"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=djvulibre) on **<https://chocolatey.org/packages>**;
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+djvulibre);
- [x] The issue title starts 'RFP - ';
- [x] The downlo

[2019-08-12 06:47] Kristinita opened #650 "RFP - DjVu Converter"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=djvu%20converter) on **<https://chocolatey.org/packages>**;
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+djvu+converter);
- [x] The issue title starts 'RFP — ';
- [x] The down

[2019-08-12 08:53] Kristinita opened #651 "RFP — jPdf Tweak"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=jPdf%20Tweak) on **<https://chocolatey.org/packages>**;
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+jPdf+Tweak);
- [x] The issue title starts 'RFP — ';
- [x] The download URL

[2019-08-12 09:03] AdmiringWorm commented on #651
Anyone picking this request up should test if the a java dependency is needed.
Most java applications I have tested in the past (that have been compiled for windows platforms), do not need java as a dependency.

[2019-08-12 09:20] AdmiringWorm commented on #539
This have now been picked up by a new maintainer.

@n3rd4i

[2019-08-12 13:10] yamlCase commented on #645
well this is unfortunate.  I will make a feature request on their issue board, see what comes of it.

[2019-08-12 14:08] yamlCase commented on #645
good news: Meshroom will be releasing their Windows binary on github at the next version. Should be this week.

[2019-08-12 19:32] luzpaz opened #652 "RFP - Embree"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL:
https://www.embree.org/
Direct download URL for the software / installer:
https://github.c

[2019-08-13 17:42] chtof commented on #403
Status: **Published**
https://chocolatey.org/packages/egnyte-connect

Can be closed.

[2019-08-13 17:46] chtof commented on #637
Status: **Published**
- https://chocolatey.org/packages/google2srt
- https://chocolatey.org/packages/google2srt.install
- https://chocolatey.org/packages/google2srt.portable

Can be closed.

[2019-08-13 17:51] chtof commented on #430
Status: **Published**
https://chocolatey.org/packages/acronis-vdi

Can be closed.

[2019-08-13 19:06] #637 closed

[2019-08-13 19:06] #403 closed

[2019-08-13 19:06] #430 closed

[2019-08-14 05:25] Kristinita commented on #651
@AdmiringWorm,

**Type: Reply**

### 1. General case

Most java applications I have tested in the past (that have been compiled for windows platforms), do not need java as a dependency.

Thanks, I will remember this for the future.

### 2. jPdf Tweak

#### 2.1. Summary

Maybe I don’t know something, but I don't understand, how jPdf Tweak can work without Java.

#### 2.2. Argumentation

jPdf Tweak

[2019-08-14 06:23] fox272 opened #653 "RFP - Kugou"
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.kugou.com/
Direct download URL for the software / installer : http://download.kugou.com/dow

[2019-08-14 06:24] fox272 commented on #653
thanks for your help

[2019-08-14 06:54] AdmiringWorm commented on #651
When I said

I assumed that the windows specific archives was compiled to a `.exe` file, when it isn't you of course need to have java installed.

[2019-08-14 10:57] chtof commented on #385
Status: **Review**
https://chocolatey.org/packages/hmailserver

[2019-08-14 17:54] chtof commented on #651
@Kristinita What is the difference between "normal" version and "windows-x86" and "windows-x84" versions?
I have read "In addition, there are platform dependent binary versions available for Windows (x86/x64) and Linux (x86/x64); these bundle native JMuPdf libraries so that you can use the image export features out of the box." but I didn't how they can been different.
Maybe compact and normal ver

[2019-08-14 18:12] chtof commented on #650
Status: **Review**
https://chocolatey.org/packages/djvu-converter

[2019-08-14 18:44] chtof commented on #649
Status: **Review**
https://chocolatey.org/packages/djvu-libre

[2019-08-14 19:03] chtof commented on #652
Status: **Review**
- https://chocolatey.org/packages/embree
- https://chocolatey.org/packages/embree.install

@luzpaz  Ping us (or create a new request referencing this issue if this one is closed) if you think necessary to create package for the ZIP files linked against Visual Studio versions.
ZIP files where Embree is linked against the Visual Studio 2013 (VC12) runtime and and Visual Studio 201

[2019-08-15 08:50] Kristinita opened #654 "RFP — Poppler"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=poppler) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+poppler)
- [x] The issue title starts 'RFP — '
- [x] The download URL is public

[2019-08-15 09:43] chtof commented on #654
Status: **Review**
https://chocolatey.org/packages/poppler

[2019-08-15 09:59] Kristinita commented on #649
@chtof,

**Type: Question :question:**

### 1. Summary

Will the DjVuLibre folder add to PATH environment variable? See item 3 of my request. If yes, how you do it?

### 2. Not helped

I view [**your DjVuLibre package source**](https://github.com/chtof/chocolatey-packages/tree/master/automatic/djvu-libre) → I can't find [**`Install-ChocolateyPath`**](https://chocolatey.org/docs/helpers-install-cho

[2019-08-15 10:15] chtof commented on #359
Status: **Review**
https://chocolatey.org/packages/unified-hosts-autoupdate

[2019-08-15 10:58] chtof commented on #343
So, should we keep this issue opened? Or package the software without silent actions and notice that in the package page?

[2019-08-15 11:43] chtof commented on #649
@Kristinita Corrected, thank you!

[2019-08-15 12:08] luzpaz opened #655 "RFM - fontforge"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-08-15 12:44] chtof commented on #655
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/fontforge

[2019-08-15 13:04] chtof commented on #636
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/plantronicshub

[2019-08-15 13:25] chtof commented on #655
Status: **Review**
https://chocolatey.org/packages/fontforge

[2019-08-15 13:26] chtof commented on #636
Status: **Review**
https://chocolatey.org/packages/plantronicshub

[2019-08-15 13:46] chtof commented on #651
Status: **Review**
https://chocolatey.org/packages/jpdftweak

[2019-08-15 13:52] chtof commented on #260
Status: **Published**
https://chocolatey.org/packages/vuescan

Can be closed.

[2019-08-15 13:54] chtof commented on #332
**Firestorm now has separate downloads for Second Life and Open Simulator grids. Please choose which platform you wish to log into for the appropriate viewer. [More info about this change HERE](https://www.firestormviewer.org/second-life-opensim-are-no-longer-joined-at-the-hip).**

Chocolatey package "firestorm" will be deprecated (and will install firestorm-opensim by default).

Status: Review
ht

[2019-08-15 14:16] #260 closed

[2019-08-15 15:25] chtof commented on #648
The difficult is to grab the checksum as the link is each time the same but the checksum is different so the installer is different for each version (even if I was able to install the installer for Windows 10 on Windows 2012 ;-) ).
So I think the Microsoft website should detect the OS version used.
A solution can be to test with different user agent but maybe you have an easier solution?

[2019-08-15 15:43] chtof commented on #645
Status: **Review**
https://chocolatey.org/packages/meshroom

[2019-08-15 16:06] chtof commented on #632
Status: **Review**
https://chocolatey.org/packages/clockify

[2019-08-15 17:24] chtof commented on #624
Status: **Review**
https://chocolatey.org/packages/devkitpro

[2019-08-15 19:50] chtof commented on #653
Chocolatey package fails because Get-WebHeaders switch to HTTPS for download but the file can only been successfully downloaded in HTTP.
How to avoid to switch to HTTPS?

- Invoke-WebRequest -Uri "http://download.kugou.com/download/kugou_pc" : It works as expected
- Invoke-WebRequest -Uri "https://download.kugou.com/download/kugou_pc" : HTTP Status code 200 but It doesn't download the file.
- cins

[2019-08-16 08:29] vvch opened #656 "RFP - CudaText"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://uvviewsoft.com/cudatext/
Direct download URL for the software / installer : https:

[2019-08-16 08:46] AdmiringWorm commented on #653
Sounds like the same issue we have with the nlite package.
Only way currently around it is to embedd the software (if the licensing and size allows it).

Issue related: https://github.com/chocolatey/choco/issues/1221

I will mark this issue as blocked for now.

[2019-08-16 08:52] AdmiringWorm commented on #332
@chtof instead of deprecating the firestorm package, you could have it depend on the opensim and secondlife packages instead.
I assume the original package included both of them.

[2019-08-16 08:58] AdmiringWorm commented on #649
@chtof you shouldn't really rely on the package being available in only a single location.
Considering it is a NSIS installer, a user may decide to install it to a different location using the correct installer argument, in which case the package would fail to install.

Consider using the `Get-AppInstallLocation` available in the [chocolatey-core.extension](https://chocolatey.org/packages/chocolat

[2019-08-16 09:00] #348 closed

[2019-08-16 09:03] AdmiringWorm commented on #654
@chtof the next time, please wait for us to have labeled a issue with `Available for maintainers` before you pick up a request.

We try doing some validation of the request before we open it up to new maintainers (I say try as we sometimes miss something).

[2019-08-16 09:05] AdmiringWorm commented on #641
@risk1996 have you had any luck? or do you wish to open this request up for someone else to pick up instead?

[2019-08-16 09:06] AdmiringWorm commented on #640
@chtof any status update for this request? Or is it still in progress?

[2019-08-16 09:07] AdmiringWorm commented on #628
@mkevenaar any status update for this request? Or is it still in progress?

[2019-08-16 11:48] chtof commented on #640
Still in progress. Should be submitted really soon.

[2019-08-16 16:55] chtof commented on #640
Status: **Review**
https://chocolatey.org/packages/labplot

[2019-08-16 16:57] chtof commented on #640
Status: **Review**
https://chocolatey.org/packages/labplot

[2019-08-16 18:37] chtof commented on #656
Status: **Review**
https://chocolatey.org/packages/cudatext
https://chocolatey.org/packages/cudatext-beta

[2019-08-17 10:04] chtof commented on #386
Status: **Published**
- https://chocolatey.org/packages/eddie
- https://chocolatey.org/packages/eddie.install
- https://chocolatey.org/packages/eddie.portable

Can be closed.

[2019-08-17 10:11] chtof commented on #655
Status: **Published**
https://chocolatey.org/packages/fontforge

Can be closed.

[2019-08-17 10:15] luzpaz commented on #655
Thank you @chtof!

[2019-08-17 10:15] #655 closed

[2019-08-17 10:18] #386 closed

[2019-08-17 10:20] chtof commented on #387
Status: **Published**
https://chocolatey.org/packages/nip2

Can be closed.

[2019-08-17 10:26] chtof commented on #397
Status: **Published**
https://chocolatey.org/packages/huggle

Can be closed.

[2019-08-17 10:38] chtof commented on #426
Status: **Published**
https://chocolatey.org/packages/bbc-iplayer

Can be closed.

[2019-08-17 10:44] chtof commented on #427
Status: **Published**
https://chocolatey.org/packages/startup-organizer

Can be closed.

[2019-08-17 10:45] chtof commented on #431
Status: **Published**
https://chocolatey.org/packages/acronis-drive-monitor

Can be closed.

[2019-08-17 10:56] chtof commented on #432
Status: **Published**
https://chocolatey.org/packages/davmail

Can be closed.

[2019-08-17 10:59] chtof commented on #647
Status: **Published**
- https://chocolatey.org/packages/tcpipmanager
- https://chocolatey.org/packages/tcpipmanager.install
- https://chocolatey.org/packages/tcpipmanager.portable

Can be closed.

[2019-08-17 11:01] chtof commented on #646
Status: **Published**
https://chocolatey.org/packages/briss

Can be closed.

[2019-08-17 11:05] chtof commented on #643
Status: **Published**
https://chocolatey.org/packages/concourse

Can be closed.

[2019-08-17 12:54] #643 closed

[2019-08-17 12:54] #646 closed

[2019-08-17 12:55] #647 closed

[2019-08-17 12:55] #432 closed

[2019-08-17 12:56] #431 closed

[2019-08-17 12:56] #427 closed

[2019-08-17 12:57] #426 closed

[2019-08-17 12:57] #397 closed

[2019-08-17 12:57] #387 closed

[2019-08-17 15:28] chtof commented on #377
Status: **Review**
https://chocolatey.org/packages/iecv

[2019-08-17 16:37] chtof commented on #389
Status: **Review**
https://chocolatey.org/packages/dacia-toolbox

[2019-08-17 19:03] chtof commented on #570
Status: **Review**
https://chocolatey.org/packages/genymotion

Note: I haven't create a Chocolatey script for the genymotion installer including Oracle VirtualBox as it can been installed with Chocolatey and it's a better way to have separate packages (excepted if the genymotion-vbox does additional tasks, in that case, thanks to send a feedback about it).

[2019-08-17 19:08] chtof commented on #570
Status: **In progress**
- This package already exists with an old version (2.6.0).
- Message sent to Disqus and mail sent to package maintainers to know if they have any plans to update to the latest version 3.0.2.
- In case they can't update the package, an updated package is ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/genymotion

[2019-08-17 19:30] chtof commented on #454
At time when I write this post, the site is down https://www.isitdownrightnow.com/growlforwindows.com.html

[2019-08-17 19:54] chtof commented on #492
Status: **Review**
https://chocolatey.org/packages/bs1770gain

[2019-08-18 13:59] chtof commented on #518
@pauby I haven't find any version information of Jami so don't know when the package is updated.

[2019-08-18 14:11] chtof commented on #518
Well I have just find needed information in https://dl.jami.net/windows/ !
Seems the latest jami*.msi in https://dl.jami.net/windows/archive/ is also the version provided.

[2019-08-19 07:12] n3rd4i commented on #539
Package has been updated with:
1. `gcc-arm-embedded.7.3.1.20180627.zip`

As for:
2. `gcc-arm-embedded.8.2.1.20181220.zip`

Based on above comment this [particular] update will be deferred.

[2019-08-19 07:14] AdmiringWorm commented on #539
yup it sure can. Thank you @n3rd4i for stepping up and taking over the maintenance of the package.

[2019-08-19 07:14] #539 closed

[2019-08-19 08:32] pauby commented on #518
@chtof Given that, can we remove the 'Blocked Upstream' label?

[2019-08-19 18:12] Kristinita opened #657 "RFP - Tesseract"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=Tesseract&moderatorQueue=&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+Tesseract)
- [x] The issue

[2019-08-19 18:28] chtof commented on #518
@pauby Yes as we know the provided installer match the latest installer in https://dl.jami.net/windows/archive/

Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/jami

[2019-08-20 00:26] luzpaz opened #658 "RFP - ospray"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.ospray.org/downloads.html
Direct download URL for the software / installer :

[2019-08-20 05:36] Kristinita opened #659 "RFP — Sejda"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=sejda&moderatorQueue=true&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+Sejda)
- [x] The issue tit

[2019-08-20 13:52] Foadsf opened #660 "RFP - TikZiT"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://tikzit.github.io/index.html
Direct download URL for the software / installer : la

[2019-08-20 18:01] Ohrwerk opened #661 "RFP - VBACKUP"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://www.fileviewer.com/vbackup/
Direct download URL for the software / installer :http

[2019-08-20 18:03] pauby commented on #661
@Ohrwerk Can you go back and complete all of the fields in the template please?

[2019-08-20 18:05] Ohrwerk opened #662 "RFP - Blinksync"
## Package Details

Software project URL : http://blinksync.sourceforge.net/
Direct download URL for the software / installer : http://downloads.sourceforge.net/blinksync/BlinkSync-1.02-setup.exe

Software summary / short description:

BlinkSync is a free file and directory synchronization tool. It works both locally and over a network. It has a command line interface and is particularly suitable

[2019-08-20 18:06] pauby commented on #662
@Ohrwerk Can you go back and complete all of the fields in the issue template please?

[2019-08-20 18:12] Ohrwerk commented on #662
done

[2019-08-20 18:13] Ohrwerk commented on #661
done

[2019-08-20 18:25] Ohrwerk opened #663 "RFP - Display Changer"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://12noon.com/?page_id=80
Direct download URL for the software / installer : https:/

[2019-08-20 18:27] pauby commented on #663
@Ohrwerk When adding the `x` between the `[]` please don't leave a space. It should look like [x] but ends up looking like [x ]. Thank you.

[2019-08-20 18:30] Ohrwerk opened #664 "RFP - Clavier+"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://utilfr42.free.fr/util/Clavier.php?sLang=en
Direct download URL for the software /

[2019-08-20 18:45] Ohrwerk opened #665 "RFP - VB-CABLE Virtual Audio Device (VB-Audio)"
## Checklist

- [x]  The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.vb-audio.com/Cable/index.htm
Direct download URL for the software / installe

[2019-08-21 08:38] Ohrwerk opened #666 "RFP - VSTHOST"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://www.hermannseib.com/english/vsthost.htm
Direct download URL for the software / ins

[2019-08-21 09:01] pauby commented on #665
I am convinced this is a package on the community repository already but can I find it? I'll pick this up.

[2019-08-21 09:18] Ohrwerk commented on #665
Thank you.
There is only a package for Voicemeeter from VB-Audio, but this include also a mixer.
https://chocolatey.org/packages?q=VOICEMEETER
https://www.vb-audio.com/Voicemeeter/index.htm

There are also Voicemeter Banana/Potato/VBAN on the site, but i think these are a little bit overpowered for most people like me.
Extremley usefull for others but most people dosnt know "Superhero" Software li

[2019-08-21 09:21] pauby commented on #665
That was it! Thank you for confirming I wasn't imagining things!

[2019-08-21 10:25] Ohrwerk commented on #665
you are welcome

[2019-08-21 11:01] Ohrwerk opened #667 "RFP - VirtualMIDISynth"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://coolsoft.altervista.org/en/virtualmidisynth
Direct download URL for the software

[2019-08-21 15:11] chtof commented on #359
Status: **Published**
https://chocolatey.org/packages/unified-hosts-update

Can be closed.

[2019-08-21 15:25] chtof commented on #651
Status: **Published**
https://chocolatey.org/packages/jpdftweak

Can be closed.

[2019-08-21 15:40] chtof commented on #654
Status: **Published**
https://chocolatey.org/packages/poppler

Can be closed.

[2019-08-21 15:51] chtof commented on #385
Status: **Published**

- https://chocolatey.org/packages/hmailserver

Can be closed.

[2019-08-21 16:03] chtof commented on #429
Status: **Published**
https://chocolatey.org/packages/evga-eleet

Can be closed.

[2019-08-22 10:54] chtof commented on #632
Status: **Published**
https://chocolatey.org/packages/clockify

Can be closed.

[2019-08-22 11:06] chtof commented on #645
Status: **Published**
https://chocolatey.org/packages/meshroom

Can be closed.

[2019-08-22 13:35] chtof commented on #384
Status: **Published**

- https://chocolatey.org/packages/tjs
- https://chocolatey.org/packages/tjs.install
- https://chocolatey.org/packages/tjs.portable

Can be closed.

[2019-08-22 13:48] chtof commented on #636
Status: **Published**
https://chocolatey.org/packages/plantronicshub

Can be closed.

[2019-08-22 16:10] jerstlouis opened #668 "RFO - OpenSSL SDK with C development headers"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://slproweb.com/products/Win32OpenSSL.html
Direct download URL for the software / in

[2019-08-22 16:44] chtof commented on #660
Status: **Review**
https://chocolatey.org/packages/tikzit

[2019-08-22 17:05] AdmiringWorm commented on #668
For anyone wishing to pick this one up, please note that there was an attempt to submit one a few years ago so ensure that you Contact the site admins on https://chocolatey.org/packages/openssl to request being added as a new maintainer (reference this issue).

It is still considered a new package though, as there have never been any approved version.

[2019-08-22 17:05] #636 closed

[2019-08-22 17:06] #384 closed

[2019-08-22 17:06] #645 closed

[2019-08-22 17:07] #429 closed

[2019-08-22 17:07] #385 closed

[2019-08-22 17:08] #654 closed

[2019-08-22 17:08] #359 closed

[2019-08-22 23:36] amitkeret commented on #632
great news! however...
checksum failure for Clockify_Setup.exe
actual checksum: 68D2A2B1514D54C1A62689C1372C313E60B1AF84DEC2DC34505A284FB5326A3E

[2019-08-23 02:16] chtof commented on #632
Thank you. Version 1.7.3 has been released, so we have if possible to find another way to be be informed about new versions.

[2019-08-23 05:53] amitkeret commented on #632
how would this work for other apps?
download-page parsing? JSON/XML URI with version?

[2019-08-23 06:34] chtof commented on #632
It's often a download-page parsing when the version number is displayed in the download-page or in the name of the installer.
In the current case, there is another way but it's a little bit more complicated to implement.

[2019-08-23 09:47] #632 closed

[2019-08-23 18:04] chtof commented on #658
Status: **Review**
- https://chocolatey.org/packages/ospray
- https://chocolatey.org/packages/ospray.install
- https://chocolatey.org/packages/ospray.portable

[2019-08-24 11:01] chtof commented on #659
Status: **Review**
https://chocolatey.org/packages/sejda

[2019-08-24 11:16] chtof commented on #661
Status: **Review**
https://chocolatey.org/packages/vbackup

[2019-08-24 11:40] chtof commented on #662
Status: **Review**
https://chocolatey.org/packages/blinksync

[2019-08-24 11:54] chtof commented on #663
Status: **Review**
https://chocolatey.org/packages/display-changer

[2019-08-24 12:24] chtof commented on #664
Status: **Review**
- https://chocolatey.org/packages/clavier-plus
- https://chocolatey.org/packages/clavier-plus.install
- https://chocolatey.org/packages/clavier-plus.portable

[2019-08-24 16:52] chtof commented on #666
Status: **Review**
https://chocolatey.org/packages/vsthost

[2019-08-24 17:10] chtof commented on #667
Status: **Review**
https://chocolatey.org/packages/virtualmidisynth

[2019-08-24 17:51] chtof commented on #668
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/openssl

[2019-08-25 03:40] dawesi commented on #648
There are also 3 builds now - beta, dev and canary (and I'm sure there will soon be a fourth - GA

I think there should be a choco package for each release band... that way choco could simply detect current os version and grab appropriate one

anyway, would be super great to have this in choco #excited (haven't said that since just after IE4 came out and was only browser with wysiwyg)

[2019-08-25 10:36] chtof commented on #506
Status: **Review**
https://chocolatey.org/packages/dvdflick-v2

[2019-08-26 09:29] RufusJWB opened #669 "RFP - AusweisApp des Bundes"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.ausweisapp.bund.de
Direct download URL for the software / installer : https:/

[2019-08-26 10:50] b16r05 commented on #432
This got done. Awesome, thank you : )

[2019-08-26 12:22] luzpaz opened #670 "RFM - vcvrack"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
* https://vcvrack.com/
* Github: https://github.com/VCVRack/Rack

Direct download URL for

[2019-08-26 19:14] chtof commented on #668
Status: **Review**
https://chocolatey.org/packages/openssl

[2019-08-26 19:15] chtof commented on #570
Status: **Review**
https://chocolatey.org/packages/genymotion

[2019-08-26 19:26] chtof commented on #667
Status: **Published**
https://chocolatey.org/packages/virtualmidisynth

Can be closed.

[2019-08-26 19:35] chtof commented on #640
Status: **Published**
https://chocolatey.org/packages/labplot

Can be closed.

[2019-08-26 19:46] chtof commented on #660
Status: **Published**
https://chocolatey.org/packages/tikzit

Can be closed.

[2019-08-28 20:57] maphew opened #671 "RFM - Pyzo"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Existing Package Details

Package URL: https://chocolatey.org/packages/pyzo
Package source URL: n/a
Date the maintainer was contacted: 2019-08-27
How the maintainer was contacted: h

[2019-08-30 03:28] teknowledgist commented on #470
I am ready to maintain this package.

[2019-08-30 08:11] pauby commented on #470
Can you use the 'Contact Site Admins' link on the package page and we can get you added?

[2019-08-30 10:47] karlhorky opened #672 "RFP - git-it"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/jlord/git-it-electron (releases page: https://github.com/jlord/git-it-

[2019-08-30 12:05] #660 closed

[2019-08-30 12:05] #640 closed

[2019-08-30 12:06] #667 closed

[2019-08-30 12:07] #570 closed

[2019-08-30 12:10] #506 closed

[2019-08-30 12:10] #666 closed

[2019-08-30 12:11] #664 closed

[2019-08-30 12:11] #663 closed

[2019-08-30 12:12] #661 closed

[2019-08-30 12:13] #659 closed

[2019-08-30 12:13] #658 closed

[2019-08-30 12:15] luzpaz commented on #658
Thanks!

[2019-08-30 12:24] andrewstreet opened #673 "RFP - RealPopup LAN chat"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.realpopup.it
Direct download URL for the software / installer : https://www.r

[2019-08-31 00:15] luzpaz opened #674 "RFP - papagayo-ng"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://morevnaproject.org/papagayo-ng/

Direct download URL for the software / installer

[2019-08-31 19:38] luzpaz opened #675 "RFP - photoflow"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://aferrero2707.github.io/PhotoFlow
Direct download URL for the software / installer

[2019-09-02 16:06] RufusJWB opened #676 "RFP - pkcs11admin"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.pkcs11admin.net
Direct download URL for the software / installer : https://gi

[2019-09-02 16:14] luzpaz opened #677 "RFP - openorienteering-mapper"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.openorienteering.org/apps/mapper/
Github: https://github.com/OpenOrienteering

[2019-09-02 16:17] RufusJWB opened #678 "RFP - SoftHSM"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.opendnssec.org/softhsm/
Direct download URL for the software / installer : ht

[2019-09-02 22:37] chtof commented on #652
Status: **Published**
- https://chocolatey.org/packages/embree
- https://chocolatey.org/packages/embree.install

Can be closed.

[2019-09-03 01:15] luzpaz commented on #652
Thanks!

[2019-09-03 01:15] #652 closed

[2019-09-03 01:18] luzpaz commented on #652
@chtof can the version be bumped to 3.6.1? Just noticed that a new stable was released 5 days ago:
https://github.com/embree/embree/releases/tag/v3.6.1

[2019-09-03 08:10] chtof commented on #652
@luzpaz At the bottom of the Chocolatey page, you can see versions waiting approval (because I create the update.ps1 script just before closing issue).

[2019-09-03 12:59] maphew opened #679 "RFP - AsciiDocFX"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/asciidocfx/AsciidocFX
Direct download URL for the software / installer

[2019-09-03 13:00] luzpaz commented on #652
sorry for missing that. Thanks again. Cheers

[2019-09-03 14:07] AdmiringWorm commented on #679
A note to anyone wishing to pick this request up, a version of this was once tried to be pushed to chocolatey (in 2016), but was never approved.
As such contact the site admins on the following package page (https://chocolatey.org/packages/asciidocfx) to be added as a maintainer.

[2019-09-03 19:47] luzpaz opened #680 "RFP - hdrmerge"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://jcelaya.github.io/hdrmerge/
Direct download URL for the software / installer :
htt

[2019-09-04 09:03] JonasDralle commented on #383
Hidden dependency: Internet Explorer needs to be initialized

<sub>[log](https://gist.github.com/JonasDralle/a39595592f9465c4964dda8a97e1bd1c)</sub>

Can be solved by opening IE and clicking a few boxes.

The far more pressing issue is that the package does not work on 64 Bit machines:

<sub>[log](https://gist.github.com/JonasDralle/fe2fcdb6406a45c44c9ac4f5411ceb6b)</sub>

The log contains credent

[2019-09-06 15:13] Trance-Paradox opened #681 "RFP - AMD Graphics Driver"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.amd.com/en/support
Direct download URL for the software / installer : https:/

[2019-09-08 10:57] chtof commented on #662
Status: **Published**
https://chocolatey.org/packages/blinksync

Can be closed.

[2019-09-08 12:33] chtof commented on #492
Status: **Published**
https://chocolatey.org/packages/bs1770gain

Can be closed.

[2019-09-08 13:57] chtof commented on #656
Status: **Published**
- https://chocolatey.org/packages/cudatext
- https://chocolatey.org/packages/cudatext-beta

Can be closed.

[2019-09-08 19:36] chtof commented on #649
Improved version is submitted. Thank you @AdmiringWorm

Status: **Review**
https://chocolatey.org/packages/djvu-libre/3.5.27.41101

[2019-09-08 20:01] chtof commented on #389
Status: **Published**
https://chocolatey.org/packages/dacia-toolbox

Can be closed.

[2019-09-08 20:32] chtof commented on #332
@AdmiringWorm The original package was the firestorm for OpenSimulator (firestorm-opensim) version. In other words, they have create another firestorm for Second Life. It's why firestorm now depends on firestorm-opensim only.

Status: **Published**
- https://chocolatey.org/packages/firestorm-opensim
- https://chocolatey.org/packages/firestorm-secondlife

Can be closed.

[2019-09-09 08:43] kungfutse opened #682 "RFP - Watchman - A file watching service"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://facebook.github.io/watchman/
Direct download URL for the software / installer :
h

[2019-09-09 11:01] pauby commented on #682
Note the Windows version is currenrly in Beta.

[2019-09-09 11:33] chtof commented on #675
Status: **In progress**
- Can't published currently the package (`System.ApplicationException: An error has occurred. It's possible the package version already exists on the repository. ---> System.InvalidOperationException: Failed to process request. 'This package had an issue pushing: Exception of type 'System.OutOfMemoryException' was thrown.'.`)
- New package ready to be published: https://git

[2019-09-09 11:34] chtof commented on #668
Status: **Still in progress**

- Can't published currently the package (System.ApplicationException: An error has occurred. It's possible the package version already exists on the repository. ---> System.InvalidOperationException: Failed to process request. 'This package had an issue pushing: Exception of type 'System.OutOfMemoryException' was thrown.'.)
- New package ready to be published: https:

[2019-09-10 17:18] chtof commented on #675
Status: **Review**
https://chocolatey.org/packages/photoflow

[2019-09-10 17:20] chtof commented on #668
Status: **Review**
https://chocolatey.org/packages/openssl

[2019-09-11 02:43] teknowledgist commented on #470
updated package submitted.  This issue can be closed.

[2019-09-11 10:55] chtof commented on #675
Status: **Published**
https://chocolatey.org/packages/photoflow

Can be closed.

[2019-09-11 12:23] #675 closed

[2019-09-12 02:10] TheCakeIsNaOH commented on #681
A couple of notes for this.
1. For some cards, there are two versions available, both a stable version and a latest optional version
2. The autodetect application is for windows 7 and 10 only, does not work for every graphics product(not for pro drivers for instance). So the package may require some logic and/or a note about unsupported versions
3. I think most if not all of the various AMD driver

[2019-09-12 12:00] #389 closed, assigned to nobody

[2019-09-13 02:09] TheCakeIsNaOH opened #683 "RFP - Oculus Rift (CV1) software"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.oculus.com/rift/setup/
Direct download URL for the software / installer : htt

[2019-09-14 07:21] based2 opened #684 "Abuse Report for Package 'pip' Version '1.2.0 - gary requested a ticket"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer [X]

- [ ] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [ ] There is no existing open maintainer request for this package;

## Checklist

- [ ] Issue title starts with 'RFM - '

## Existing Package Deta

[2019-09-14 07:23] based2 commented on #684
Current pip is using a detected compromised dependency
https://chocolatey.org/packages/easy.install,
making the current install unusable and dangerous.

[2019-09-14 07:50] gep13 commented on #684
@based2 can you please read through the issue template and do and provide all the details, that it asks for? Thanks

[2019-09-14 10:37] chtof commented on #674
Status: **Review**
https://chocolatey.org/packages/papagayo-ng

[2019-09-14 10:54] chtof commented on #673
Status: **Review**
https://chocolatey.org/packages/realpopup

[2019-09-14 11:29] chtof commented on #676
Status: **Review**
https://chocolatey.org/packages/pkcs11admin

[2019-09-14 11:31] chtof commented on #649
Status: **Published**
https://chocolatey.org/packages/djvu-libre/3.5.27.41101

Can be closed.

[2019-09-14 11:34] chtof commented on #633
Hi @steviecoaster , could you tell us under which name can we find this package on chocolatey? I haven't find any package named "keeper" or "keepersecurity" on chocolatey.

[2019-09-14 12:15] chtof commented on #677
Status: **Review**
https://chocolatey.org/packages/openorienteering-mapper
https://chocolatey.org/packages/openorienteering-mapper.install
https://chocolatey.org/packages/openorienteering-mapper.portable

[2019-09-15 06:07] luzpaz opened #685 "RFP - helio-workstation"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://helio.fm/
Direct download URL for the software / installer :
https://ci.helio.fm/

[2019-09-15 06:35] mkevenaar commented on #685
I will pick this one up.

[2019-09-15 11:43] chtof commented on #678
Status: **Review**
https://chocolatey.org/packages/softhsm
https://chocolatey.org/packages/softhsm.install
https://chocolatey.org/packages/softhsm.portable

[2019-09-15 15:07] chtof commented on #680
Status: **Review**
https://chocolatey.org/packages/hdrmerge

[2019-09-16 07:51] amitkeret opened #686 "RFP - WindowGrid"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://windowgrid.net/
Direct download URL for the software / installer : http://windowgr

[2019-09-16 13:41] Trance-Paradox commented on #681
I am

[2019-09-16 13:43] Trance-Paradox commented on #681
Sorry i accidentally closed it
I am very new to GitHub.
I wonder how nvidia drivers are dealt with having to detect system gpu

[2019-09-16 13:48] TheCakeIsNaOH commented on #681
@Trance-Paradox
Nvidia has one driver for all currently supported cards. Older cards may need an older driver version, which currently requires the user to select an older package in chocolatey.
https://chocolatey.org/packages/geforce-game-ready-driver

[2019-09-16 19:08] jerstlouis commented on #668
@chtof wondering here, isn't the openssl.cfg usually inside of the /bin/ directory?
e.g. C:\Program Files\OpenSSL-Win64\bin\openssl.cfg
Our build script expected it there...

[2019-09-16 19:33] chtof commented on #668
@jerstlouis Corrected version openssl.1.1.1.400 submitted.

[2019-09-16 19:39] jerstlouis commented on #668
Thanks @chtof . So the openssl.cfg was actually in bin/ but the OPENSSL_CONF was set to the wrong thing?
I hard-coded the value of OPENSSL_CONF for now in our travis configuration and we're finally over that hurdle, thanks for all that work.

https://travis-ci.org/ecere/ecere-sdk/jobs/585742118#L41

I am wondering, should we need to execute a 'refreshenv' in the Travis script to pick it up?

[2019-09-16 20:07] chtof commented on #668
Yes, it was a mistake.
And regarding 'refreshenv', I have no opinion as for example, refreshenv shouldn't been put in a chocolatey script but I don't know why!

[2019-09-17 11:22] mkevenaar commented on #685
Submitted for review:
https://chocolatey.org/packages/helio-workstation
https://chocolatey.org/packages/helio-workstation.install
https://chocolatey.org/packages/helio-workstation.portable

[2019-09-17 15:34] AdmiringWorm commented on #668
It isn't really about whether you should or shouldn't put refreshenv in chocolatey script, but rather that it wouldn't have any meaning to do so.

When chocolatey runs one of the included scripts, it is ran as a new process. So even if you add refreshenv (Or `Update-SessionEnvironment` which is the full name of the alias) nothing would change when chocolatey have completed the run. The only time y

[2019-09-19 17:53] chtof commented on #680
Status: **Published**
https://chocolatey.org/packages/hdrmerge

Can be closed.

[2019-09-19 18:01] #680 closed

[2019-09-20 11:57] luzpaz opened #687 "RFP - photoflare"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://photoflare.io/
Direct download URL for the software / installer :
* https://launc

[2019-09-21 06:38] #649 closed

[2019-09-21 06:38] #651 closed

[2019-09-21 08:17] chtof commented on #678
Status: **Published**
- https://chocolatey.org/packages/softhsm
- https://chocolatey.org/packages/softhsm.install
- https://chocolatey.org/packages/softhsm.portable

Can be closed.

[2019-09-21 08:27] chtof commented on #677
Status: **Published**
- https://chocolatey.org/packages/openorienteering-mapper
- https://chocolatey.org/packages/openorienteering-mapper.install
- https://chocolatey.org/packages/openorienteering-mapper.portable

Can be closed.

[2019-09-21 08:32] chtof commented on #676
Status: **Published**
https://chocolatey.org/packages/pkcs11admin

Can be closed.

[2019-09-21 08:37] chtof commented on #673
Status: **Published**
https://chocolatey.org/packages/realpopup

Can be closed.

[2019-09-21 08:43] chtof commented on #674
Status: **Published**
https://chocolatey.org/packages/papagayo-ng

Can be closed.

[2019-09-21 11:13] chtof commented on #687
Status: **Review**
- https://chocolatey.org/packages/photoflare
- https://chocolatey.org/packages/photoflare.install
- https://chocolatey.org/packages/photoflare.portable

[2019-09-21 11:41] chtof commented on #671
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/pyzo

[2019-09-21 11:57] #674 closed

[2019-09-21 11:57] #677 closed

[2019-09-21 13:00] chtof commented on #671
Status: **Review**
- https://chocolatey.org/packages/pyzo
- https://chocolatey.org/packages/pyzo.install
- https://chocolatey.org/packages/pyzo.portable

[2019-09-22 09:39] chtof commented on #672
Status: **Review**
https://chocolatey.org/packages/git-it

[2019-09-22 09:54] chtof commented on #670
Status: **Review**
https://chocolatey.org/packages/vcvrack

[2019-09-22 10:16] chtof commented on #670
@luzpaz Note: This package already exists on chocolatey but has never been approved.

Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/vcvrack

[2019-09-22 11:38] luzpaz commented on #670
hmm....i thought i searched for it and nothing came up. Apologies

[2019-09-22 18:18] RufusJWB commented on #676
Work wonderful! Thank you very much!

[2019-09-22 18:18] #676 closed

[2019-09-22 18:21] RufusJWB commented on #678
Works very well, thank you!

[2019-09-22 18:21] #678 closed

[2019-09-23 14:20] Foadsf opened #688 "RFM - Fritzing"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

[2019-09-23 15:18] pauby commented on #688
@Foadsf Can you use the 'Contact Maintainers' link on the package page as per the process? Let us know if you get a response from 'purity'?

[2019-09-23 15:22] Foadsf commented on #688
@pauby there are three of them, which one should I contact?

[2019-09-23 15:38] pauby commented on #688
If you complete the form at that link it sends it to them all.

[2019-09-25 10:05] mkevenaar commented on #685
Released!

[2019-09-25 10:05] #685 closed

[2019-09-25 13:33] boubou commented on #686
Will check to build a package soon.

[2019-09-25 13:53] pauby commented on #343
Given the current state of play with this we should really close this issue.

[2019-09-25 13:53] #343 closed

[2019-09-25 16:04] Kristinita opened #689 "RFP — Registry File (.REG) Validator"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=registry+validator&moderatorQueue=&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>**
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolatey-package-requests/issues?q=is%3Aissue+registry+validator)
- [x] The is

[2019-09-25 18:20] boubou commented on #686
hummm
https://bitbucket.org/joshua_wilding/windowgrid-binaries/issues/27/no-license
should I pack it ?
not open-source
no license
just the bins

TheCakeIsNaOH @TheCakeIsNaOH 11:06
That seems to be an official mirror, the original site is here- http://windowgrid.net/
I would have it download during install script and not include the binary in the package.

Sébastien Boulianne @boubou 11:29
yes but

[2019-09-26 05:34] FranklinYu opened #690 "RFP - EpiData.install"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL: https://www.epidata.dk/
Direct download URL for the software/installer: http://www.epidata

[2019-09-26 08:49] neilime opened #691 "RFP - wslgit"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/andy-5/wslgit (releases page: https://github.com/andy-5/wslgit/release

[2019-09-26 19:44] boubou commented on #686
In progress.

[2019-09-26 19:44] boubou commented on #691
In progress!

[2019-09-26 19:47] boubou commented on #688
Its easy to rebuild the package.
If they dont answer, I can rebuild the package.

[2019-09-26 21:48] Foadsf commented on #688
@pauby so far they haven't replied.

@boubou That would be great

[2019-09-27 05:42] amitkeret commented on #686
hmmm I just went based on AlternativeTo.net stating it's free software... apologies
thanks @boubou for following-up on this!

[2019-09-27 14:02] AdmiringWorm commented on #688
@Foadsf typically we allow for 7 days since the contacting the maintainers until we decide that they are unresponsive. Please allow for a few more days.

[2019-09-27 14:15] AdmiringWorm commented on #691
@boubou please do not pick up request until we have assigned the issue with the label "Available for maintainers".

If we haven't assigned that label it means we have not yet had the chance to verify the request yet (ie, does not exist, is available on windows, is not behind a paywall or login, etc...)

[2019-09-27 14:26] AdmiringWorm commented on #670
@luzpaz when a package have never been approved, it won't come up in searches. The only way to find the program then is to type in the url manually.

Anyways, changing to RFM

[2019-09-27 14:28] AdmiringWorm commented on #672
Package have been approved

[2019-09-27 14:28] #672 closed

[2019-09-27 14:31] AdmiringWorm commented on #671
@chtof looks like you need to add a comment on the `pyzo` meta package, as it somehow wasn't added back to queue when it succeeded the automated tests.

[2019-09-27 14:34] karlhorky commented on #672
Thanks everyone!

[2019-09-27 14:34] AdmiringWorm commented on #687
Seems that all three packages have been approved

[2019-09-27 14:34] #687 closed

[2019-09-27 14:35] #673 closed

[2019-09-27 16:48] karlhorky commented on #672
And @jlord, ping to let you know that `git-it` is on the Windows Chocolatey package manager now too!

[2019-09-27 16:50] luzpaz commented on #670
Thanks for the heads up.
BTW, vcvrack is getting a lot of attention these days, dev is very active.

[2019-09-27 23:25] shatteredsword commented on #572
is this project dead? this is one of the last few remaining apps i can't use chocolatey to install :(

[2019-09-28 06:21] chtof commented on #671
Done, thank you.

[2019-09-28 07:14] ComFreek commented on #572
@shatteredsword Do you know this situation if you bumpo into a fellow human on a street and both of you can't decide whether to go left or right? This is this discussion in one sentence :smile:

@adriens Do you intend to publish your package?

[2019-09-28 09:16] adriens commented on #572
@ComFreek : my package request was rejected...and the Netbeans package has not evolved since.

Unfortunately I see that I was right and my approach was the good one as the official package did not evolve a single bit... 👎 👎

So, it could be interesting to moderate my package the good way.

To make short : if my package is moderated the positive way, I could of course release it 👍
@pauby  was also

[2019-09-28 09:44] ComFreek commented on #572
Well, of course not 😄 I am one of the co-maintainers of it (the others aren't active anyway) and announced on this thread that I would like to give up maintenance to somebody else.

@pauby You are a moderator, right? Can you have a look at @adriens' package?

[2019-09-28 10:32] chtof commented on #690
Status: **Review**
https://chocolatey.org/packages/epidata

Note : @FranklinYu, I haven't prefered to do not embed the package because distribution is with cost in the Pro version of Chocolatey.

[2019-09-28 12:10] chtof commented on #689
There is no license to allow to distribute these zip files and so, we can't embed them.
I have tried to handle the download links (headers options and cookies) but without success...
I hope someone else will be able to create this Chocolatey package.

[2019-09-28 12:21] chtof commented on #682
Hi @kungfutse, How can we see if a new version has been build to update the Chocolatey package (a build number for example)? To sum up, do you have another solution than downloading the build (7 MB) each day to check if the checksum has changed?

[2019-09-28 15:41] chtof commented on #670
Status: **Review**
https://chocolatey.org/packages/vcvrack

[2019-09-28 16:04] chtof commented on #679
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/asciidocfx

[2019-10-01 15:20] boubou commented on #501
Please add me as a maintainer.
I will update it!

[2019-10-01 17:15] boubou commented on #683
Is it on the way ?

[2019-10-01 17:32] chtof commented on #671
Status: **Published**
- https://chocolatey.org/packages/pyzo
- https://chocolatey.org/packages/pyzo.install
- https://chocolatey.org/packages/pyzo.portable

Can be closed.

[2019-10-01 17:36] #671 closed

[2019-10-01 17:50] boubou commented on #412
I will pick it up!
Please add me as a maintainer!

[2019-10-01 19:23] boubou commented on #549
I will pick it up!
Add me as a maintainer!

[2019-10-01 19:26] boubou commented on #335
I will pick it up!
Add me as a maintainer!

[2019-10-01 19:27] boubou commented on #336
I will pick it up!
Please add me as a maintainer!

[2019-10-02 17:05] chtof commented on #679
Status: **Review**
- https://chocolatey.org/packages/asciidocfx
- https://chocolatey.org/packages/asciidocfx.install
- https://chocolatey.org/packages/asciidocfx.portable

[2019-10-02 17:26] chtof commented on #518
Status: **Published**
https://chocolatey.org/packages/jami

Can be closed.

[2019-10-02 18:14] chtof commented on #669
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be published: https://github.com/chtof/chocolatey-packages/tree/master/automatic/ausweisapp2

(Note: @RufusJWB , the package already exists but have never been approved: https://chocolatey.org/packages/AusweisApp2. You can't find it with the search featur

[2019-10-02 19:13] #518 closed

[2019-10-02 19:16] AdmiringWorm commented on #684
Closing due to the template not being updated, and no response.

[2019-10-02 19:16] #684 closed

[2019-10-02 19:28] AdmiringWorm commented on #641
closing as there seem to be an approved package.

@risk1996 in the future, please respond to issues to give the status of a request (In progress, Review, approved) so we can attach the correct state, and close the issue when the package is approved.

[2019-10-02 19:28] #641 closed

[2019-10-02 23:04] AdmiringWorm commented on #298
Seems that a package have been pushed and approved.

@facorread in the future, please post a comment so we know what the status of the request is at (In progress, Review, Approved). This way we can mark the request with the correct label, and close the request when it have been completed.

[2019-10-02 23:04] #298 closed

[2019-10-02 23:06] AdmiringWorm commented on #628
@mkevenaar what is the current status of this request? Have it been completed, or is it still in progress?

[2019-10-02 23:08] AdmiringWorm commented on #642
Seems like the request have been completed.

@teknowledgist in the future, please post a comment so we know what the status of the request is at (In progress, Review, Approved). This way we can mark the request with the correct label, and close the request when it have been completed.

[2019-10-02 23:08] #642 closed

[2019-10-02 23:09] AdmiringWorm commented on #624
@chtof I see your package have been rejected (due to not being fixed after 45 days), are you still planning on going back to the package? Or should we open it up for new maintainers?

[2019-10-02 23:11] AdmiringWorm commented on #633
Moving back to "Available for maintainers" due to lack of response, and no package found matching expected keywords.

[2019-10-03 01:17] chtof commented on #624
Hi @AdmiringWorm ,
The package is pretty finished ("99,9%"). There is only something special to handle and it's rather difficult. To explain that:
- Devkitpro installer works well outside Chocolatey (when not called by PowerShell).
- Devkitpro installer call a windows batch file, calling "`bash --login`" commands and it doesn't/can't return an error code, so Powershell never knows when it should c

[2019-10-03 01:27] AdmiringWorm commented on #624
I see, it is unfortunate that it is such a problematic package.
I would love to help, but I honestly do not have any idea how to get around the issue.

I think the best bet would be to try getting a dialog with the developers of the installer, maybe they know how (or can implement something in the installer) so the install at least won't be hanging.

[2019-10-03 02:07] chtof commented on #624
I have just worked again a few minutes and I remember anything else. The root cause is the same but in another file. I think the NSIS installer logically uses https://github.com/devkitPro/installer/blob/master/nsis/devkitPro.nsi and this devkitPro.nsi file contains:  `ExecWait '"$INSTDIR\msys2\usr\bin\bash.exe" --login -c exit'`
I will see if I am able to build a new NSIS installer to check is it

[2019-10-03 07:18] mkevenaar commented on #628
@AdmiringWorm I am still working on this.

[2019-10-03 07:31] pauby commented on #546
@steviecoaster Can you let us know your thoughts on this? I've changed the label to Triage until we resolve this

[2019-10-03 10:49] JonasDralle opened #692 "RFM - RapidMiner Studio"
# RapidMiner Studio

---

## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

##

[2019-10-03 13:19] steviecoaster commented on #546
I think deprecation makes the most sense here, yes.

[2019-10-03 19:02] chtof commented on #624
Issue opened on [devkitPro GitHub tracker](https://github.com/devkitPro/installer/issues/19).

[2019-10-03 19:05] fincs commented on #624
Please see https://github.com/devkitPro/installer/issues/19#issuecomment-538081743

Alternative installation methods other than the officially supported devkitPro pacman method are not supported, and we are unable to provide instructions or guidance on how to bypass it.

[2019-10-03 19:23] chtof commented on #624
@fincs
@AdmiringWorm It seems they are not interested to an easy way to promote and to install devkitPro, requesting a little effort to find an alternative to one command-line "bash --login". So, what about to close this case as _Can't implement_ ? (Not Request / Can't Implement / Exists / Invalid label).

[2019-10-03 19:26] chtof commented on #624
And also for @ketsuban;

_"devkitPro is not the name of any piece of software. It's the name of the organization which produces and provides a bunch of tools and libraries for homebrew development."_
Source: https://github.com/devkitPro/installer/issues/19#issuecomment-538081743

[2019-10-03 19:44] fincs commented on #624
This is a very incorrect statement. First of all, as pointed out by my comment (which you also quoted), devkitPro is not the name of a piece of software; it's the name of an organization.

We have evolved our software distribution system over the course of 15+ years to be as simple and straightforward to install and maintain. Third parties trying to redistribute or repackage devkitPro software hav

[2019-10-03 19:54] ketsuban commented on #624
@chtof

I am well aware. I referred to "devkitPro Updater" (the name of this piece of software) and said "devkitPro provide a number of GNU cross-compiler toolchains" (which they do).

[2019-10-03 20:30] chtof commented on #624
@fincs Ok, my understanding is you have had numerous issues with third parties to redistribute or repackage devkitPro, I can understand that after having seen all commands launched by the installer.
You said you support only the installation with pacman method but on https://devkitpro.org/wiki/Getting_Started , you also provide an installer so we can think this installation method is also supporte

[2019-10-03 20:45] WinterMute commented on #624
@chtof your understanding is wrong and we don't require the existence of an alternative package we can't and won't support.

Bootstrapping msys2 and the package management system we use to maintain our packages (currently around 160 of them) is not compatible with Powershell and we'd really rather you didn't attempt to shoehorn this into a packaging system we have no intention of using or supporti

[2019-10-03 20:45] fincs commented on #624
devkitPro cannot be "rebuilt". devkitPro is an organization, not a piece of software. This is akin to trying to install Microsoft or Adobe without specifying which product.

Regardless of what Chocolatey does, we do not wish for third parties to redistribute or otherwise interfere with the supported installation methods for our software. devkitProUpdater is essentially a single use tool we provide

[2019-10-03 21:00] chtof commented on #624
@WinterMute Thanks for this additionnal information.
@fincs About _"It makes no sense for Chocolatey to redistribute or repackage said tool._". Chocolatey is a method to install and upgrade easily software. It allows to install easily a software, for example "choco install firefox" to install firefox and "choco update all" to update all software installed by Chocolatey. It's easier than having to

[2019-10-03 21:03] fincs commented on #624
You're not listening at all. devkitProUpdater is not updated when we publish new software. Our distribution channel is pacman, and `pacman -Syu` is used to update our software. devkitProUpdater is just a helper tool that is only used at the beginning of the lifetime of a toolchain installation, and there's no reason why Chocolatey would want to do anything with it, let alone upgrade it (which will

[2019-10-04 00:53] chtof commented on #624
@fincs This issue is related to "devkitPro Updater" and no related to "devkitPro" itself. My other issue was opened in the **installer** ("helper tool") repository of devkitPro.
- Yes, devkitPro use pacman to update itself and it's not for devkitPro we want to create an installer but for devkitProUpdater.
- devkitProUpdater has had several releases until last year (Version 3.0.3) and maybe or not,

[2019-10-04 09:08] WinterMute commented on #624
And we don't want you to create an installer for devkitProUpdater. It makes no sense. devkitProUpdater is a one shot tool for bootstrapping our package manager which then installs and updates the packages we provide.

Can you stop attempting to explain our own software to us. We know what it does, we know how it works and it cannot be managed by Chocolatey.

[2019-10-04 13:28] boubou commented on #417
I picked this package.
Developement of bitdiffer seem stopped.
There is no no release!

[2019-10-04 15:31] boubou commented on #336
No new release.
Developement seem stopped.

[2019-10-04 15:31] boubou commented on #335
No new release.
Developement seem stopped.

[2019-10-04 16:48] maphew opened #693 "RFP - Orfeo Toolbox"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.orfeo-toolbox.org/
Direct download URL for the software / installer : https:/

[2019-10-04 18:40] chtof commented on #633
Status: **Review**
https://chocolatey.org/packages/keeper

[2019-10-05 03:59] pauby commented on #335
I'll close this in the meantime and we can always reopen it later.

[2019-10-05 03:59] #335 closed

[2019-10-05 03:59] pauby commented on #336
I'll close this in the meantime and we can always reopen it later.

[2019-10-05 03:59] #336 closed

[2019-10-05 04:06] pauby commented on #624
@wintermute @fincs Chocolatey packages silently install the software on the computer. They don't rebuild, repackage and don't have to redistribute it (downloading and installing it at runtime). In effect it does what the end user would do when they download software but automates so that it ends up being silent.

There is a lot of miscommunication and clearly a misunderstanding or what Chocolatey

[2019-10-05 04:06] #624 closed

[2019-10-05 11:15] chtof commented on #670
Status: **Published**
https://chocolatey.org/packages/vcvrack

Can be closed.

[2019-10-05 11:28] chtof commented on #690
Status: **Published**
https://chocolatey.org/packages/epidata

Can be closed.

[2019-10-05 12:11] luzpaz commented on #670
Thank you!

[2019-10-05 12:11] #670 closed

[2019-10-05 15:05] chtof commented on #692
Status: **Review**
https://chocolatey.org/packages/rapidminer-studio
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be submitted: https://github.com/chtof/chocolatey-packages/tree/master/automatic/rapidminer

[2019-10-05 15:10] chtof commented on #665
Status: **Review**
https://chocolatey.org/packages/vb-cable

[2019-10-05 15:44] #690 closed

[2019-10-07 18:11] chtof commented on #665
Status: **Published**
https://chocolatey.org/packages/vb-cable

Can be closed.

[2019-10-07 18:29] chtof commented on #679
Status: **Published**
- https://chocolatey.org/packages/asciidocfx
- https://chocolatey.org/packages/asciidocfx.install
- https://chocolatey.org/packages/asciidocfx.portable

Can be closed.

[2019-10-07 18:40] chtof commented on #633
Status: **Published**
https://chocolatey.org/packages/keeper

Can be closed.

[2019-10-07 18:43] #633 closed

[2019-10-07 18:43] #679 closed

[2019-10-07 18:49] chtof commented on #669
Status: **Published**
https://chocolatey.org/packages/ausweisapp2

Can be closed.

[2019-10-07 20:08] #665 closed

[2019-10-08 09:42] kungfutse commented on #682
The provided link is a redirect to a latest successful build artifact. The redirect link will reveal the build number (currently b2260), so comparing those is a possibility I think.

[code]

[2019-10-08 20:12] boubou commented on #293
In moderation.

[2019-10-09 10:30] jackfox10 opened #694 "RFP - IIS CORS Module"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.iis.net/downloads/microsoft/iis-cors-module
Direct download URL for the softw

[2019-10-09 11:43] chtof commented on #548
The owner is now @boubou so it seems this issue can be closed.

[2019-10-09 11:45] chtof commented on #549
@boubou Could you use also "contact site admins" on the package page and refer this issue?

[2019-10-09 18:54] chtof commented on #571
@FranklinYu I didn't find something like "Java EE 8 SDK, Web Profile" on  https://www.oracle.com/technetwork/java/javaee/overview/index.html , even after quickly searched on Google, could you tell us where this installer can be found?

[2019-10-09 20:00] pauby commented on #571
@chtof If you do end up creating this package can you try and stick to the naming convention for the java packages that are already up in Chocolatey.org?

[2019-10-09 20:22] chtof commented on #571
@pauby We will see if I am able to create a such package handling a cookie. If not, your message will be also useful for another volunteer ;-) For now, the 1st is to know where we can find the installer wished by @FranklinYu

[2019-10-10 02:22] chtof commented on #689
Status: **Review**
- https://chocolatey.org/packages/registryfiles-validator
- https://chocolatey.org/packages/registryfiles-validator-commandline

[2019-10-10 04:29] FranklinYu commented on #571
@chtof The page seems to have been migrated to https://www.oracle.com/java/technologies/java-ee-sdk-web-download.html but we don't have direct link and that's the problem.

[2019-10-10 11:00] chtof commented on #689
Status: **Published**
- https://chocolatey.org/packages/registryfiles-validator
- https://chocolatey.org/packages/registryfiles-validator-commandline

Can be closed.

[2019-10-10 19:27] boubou commented on #694
I will pick the package.

[2019-10-11 14:23] boubou commented on #694
https://chocolatey.org/packages/iis-cors-module/1.0

[2019-10-11 14:25] boubou commented on #691
Can be close now sir!

[2019-10-11 14:28] boubou commented on #489
Can you change the status of the request if the site is considered unsafe please ?

[2019-10-11 14:28] boubou commented on #417
Can be close!

[2019-10-11 14:32] #417 closed

[2019-10-11 14:43] pauby commented on #489
@boubou The site is not being flagged in Firefox, MalwareBytes, [URL Void](https://www.urlvoid.com/scan/rweverything.com/) or any of the other site checkers I used. Only Google seem to be flagging this and I _suspect_ it has to do with the site not being https. So I'm not inclined to mark it as unsafe.

[2019-10-11 14:44] #691 closed

[2019-10-11 14:47] pauby commented on #694
@boubou Can you help us out by giving us a status rather than just posting a URL?

[2019-10-11 14:48] boubou commented on #686
Packaged an approuved!
Ticket can be close!

[2019-10-11 14:52] #689 closed

[2019-10-11 15:28] necrose99 opened #695 "RFP Visio & Project"
https://chocolatey.org/packages/office2019-proplus
_(basically could recycle the template it works mostly. )_  -x64 -x32 a nice add to force upgrade/etc to ie 64bit. if some older office is installed.  just tweek config xml's for x64/32 ...

(**https://www.wincert.net/forum/topic/13912-new-office-2019-download-links/**)

https://officecdn.microsoft.com/pr/492350f6-3a01-4f97-b9c0-c7c6ddf67d60/media

[2019-10-11 15:36] pauby commented on #695
@necrose99 Can you go back and use the template we provided?

[2019-10-11 15:39] pauby commented on #688
@Foadsf Can you confirm if the maintainers responded?

[2019-10-11 15:41] pauby commented on #692
@chtof You haven't been added as maintainer of the `rapidminer` package as yet. Can you request that again?

[2019-10-11 18:35] chtof commented on #693
Status: **Review**
https://chocolatey.org/packages/orfeo-toolbox

[2019-10-11 18:54] boubou opened #696 "Package Windows-Repair-Toolbox outdated since many many weeks."
Package Windows-Repair-Toolbox outdated since many many weeks.

[2019-10-11 18:55] boubou commented on #696
I wrote to the maintainer today.

[2019-10-11 19:15] chtof commented on #696
Hi @boubou , for the next packages like this one, write to the maintainer, and if you don't received an answer after **one week**;
- Create the updated script and send an email using the "Contact Site Admins" to inform you have an updated version ready to be published on your GitHub repository, and as reference add the date when you have wrote to the maintainer and the link to your updated version

[2019-10-11 20:01] chtof commented on #692
Status: **Review**
https://chocolatey.org/packages/rapidminer

[2019-10-11 20:01] #696 closed

[2019-10-11 20:51] Foadsf commented on #688
@pauby Not really. I haven't had any replies neither in Disqus nor via email.

[2019-10-12 07:52] chtof commented on #210
The site is still down pretty 6 months later so what about to close it?

[2019-10-12 14:33] chtof commented on #493
Status: **Review**
https://chocolatey.org/packages/flash-decompiler-trillix

[2019-10-14 08:08] pauby commented on #210
@AdmiringWorm suggested this too so agreed. Should the situation change we can always re-open it.

[2019-10-14 08:08] #210 closed

[2019-10-14 08:12] pauby commented on #688
@Foadsf Thanks for letting us know. I've made it available now.

[2019-10-14 20:11] ionred commented on #688
@pauby  I'll take it over. Putting together the package now. Should be ready in a little bit.

[2019-10-14 20:26] ionred commented on #688
@pauby  Ready to push https://github.com/ionred/chocolatey-packages/tree/master/automatic/fritzing

[2019-10-15 01:37] ionred commented on #648
Request to close -- I created Insider Beta and Insider Dev releases. Special handling not required for each OS when using the enterprise MSI to deploy.

Does anyone have a desire for a canary build? There's no enterprise build for canary so there will be a little more legwork required to get that up and running.

[2019-10-15 10:53] AdmiringWorm commented on #688
@ionred if you haven't already, please use the `Contact Site Admins` (on the package page) requesting to be added as a maintainer for this request, remember to also link to this issue.

[2019-10-15 11:00] ionred commented on #688
Roger, just completed the form.

[2019-10-15 20:19] boubou commented on #694
Ready for review ;)
Since some days. ;)

[2019-10-15 20:20] boubou commented on #501
This issue can be mark as resolved because I updated the package.

[2019-10-15 21:44] SlrG opened #697 "RFM - Toolwiz Time Freeze"
## Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
http://www.toolwiz.com/lead/toolwiz_time_freeze/

Direct download URL for the software / i

[2019-10-15 21:49] SlrG opened #698 "RFP - VirtualHere Windows USB Client"
## Checklist
- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.virtualhere.com/usb_client_software

Direct download URL for the software / in

[2019-10-15 21:52] SlrG opened #699 "RFP - VirtualHere Windows USB Server"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://www.virtualhere.com/windows_server_software

Direct download URL for the software

[2019-10-15 21:54] SlrG opened #700 "RFM - TinyPDF"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
http://www.tinypdf.com/

Direct download URL for the software / installer :
http://www.ti

[2019-10-16 10:19] #501 closed

[2019-10-16 10:35] #648 closed

[2019-10-16 13:52] boubou commented on #682
@chtof , do you pick that package ?

[2019-10-16 17:25] boubou commented on #700
Published!

[2019-10-16 17:52] SlrG commented on #700
Oh wow. You were so fast. :) Thank you very much. I really appreciate it.

[2019-10-16 18:07] boubou commented on #697
Published!

[2019-10-16 18:28] boubou commented on #686
https://chocolatey.org/packages/windowgrid

[2019-10-16 18:29] boubou commented on #293
In progress!

[2019-10-16 18:31] boubou commented on #412
Can be close.
Package approuved.
https://chocolatey.org/packages/you-get

[2019-10-16 18:34] boubou commented on #263
Please add me as a maintainer.
I will update the package as soon as I can!

[2019-10-16 19:36] SlrG commented on #697
@pauby
Sorry! I don't know how I could miss it beeing RFP  - Title in the checklist and writing RFP: Title instead.

[2019-10-16 19:38] SlrG commented on #697
@boubou
Thank you very much for publishing. :+1:

[2019-10-17 13:17] 4ft35t opened #701 "RFP - mpv.net"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://mpv-net.github.io/mpv.net-web-site/

Direct download URL for the software / insta

[2019-10-17 18:29] boubou commented on #701
Is it that ?
https://chocolatey.org/packages/mpvnet.install

[2019-10-17 22:33] TheCakeIsNaOH commented on #683
@pauby Any updates?

[2019-10-18 06:47] #701 closed

[2019-10-18 18:48] chtof commented on #697
@SlrG

@boubou Do not confuse published and under review (submitted). For me, published is when a package as been submitted and approved and so publicly available.
As you haven't specified where the package is available (annoying for me and other moderators as we have to search the package, check if you are the owner and it's not a duplicate), it seems the package is under review here : https://ch

[2019-10-19 06:52] ionred commented on #700
Package did not pass validation - checksum

[2019-10-19 11:14] chtof commented on #699
Status: **Review**
https://chocolatey.org/packages/virtualhere-server

[2019-10-19 11:15] chtof commented on #698
Status: **Review**
https://chocolatey.org/packages/virtualhere-client

[2019-10-19 11:23] chtof commented on #700
@boubou Also, you have specified silentArgs for a MSI file. TinyPDF uses "Inno Setup" as installer so silentArgs should be '/VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-'

[2019-10-19 22:17] AzimsTech opened #702 "RFP - OpenVPN Connect v3"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://openvpn.net/client-connect-vpn-for-windows/

Direct download URL for the software

[2019-10-21 07:49] kaffeekanne opened #703 "RFP - NeatMouse"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
- https://neatdecisions.com/products/neatmouse/
- https://github.com/neatdecisions/neatmo

[2019-10-22 08:20] cholmquist opened #704 "RFP - Intel ispc"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :https://ispc.github.io/

Direct download URL for the software / installer :
https://source

[2019-10-23 09:12] houstdav000 opened #705 "RFP - Wireguard"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.wireguard.com/install/
Direct download URL for the software / installer : htt

[2019-10-23 09:15] AdmiringWorm commented on #705
@houstdav000 is this the package that you are looking for: https://chocolatey.org/packages/wireguard

[2019-10-23 09:31] houstdav000 commented on #705
Wasn't aware there was a "pre" section. My mistake.

[2019-10-23 09:31] #705 closed

[2019-10-23 09:52] houstdav000 commented on #705
I will contact wireguard to see if they can get the chocolatey install added to their website

[2019-10-23 10:05] houstdav000 opened #706 "RFM - wc3270"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : http://x3270.bgp.nu/
Direct download URL for the software / installer : https://newcontin

[2019-10-23 10:05] houstdav000 commented on #706
Sorry about the previous one. This one I know isn't in Chocolatey

[2019-10-23 10:18] AdmiringWorm commented on #706
Actually it is: https://chocolatey.org/packages/wc3270
however since the version submitted was never approved, it won't show up in searches at all.

Changing request to RFM since it never was approved.

[2019-10-23 10:29] mkevenaar commented on #706
I will pick this one up.

[2019-10-23 10:30] AdmiringWorm commented on #706
@mkevenaar well you know the drill, shoot of a message to the site admins 😺

[2019-10-23 10:31] #412 closed

[2019-10-23 10:32] AdmiringWorm commented on #263
@boubou you need to send a message through the site admins on the package page (as is mentioned in the README docs): https://github.com/chocolatey-community/chocolatey-package-requests#how-to-create-packages-for-a-request

[2019-10-23 10:35] #686 closed

[2019-10-23 11:22] AdmiringWorm commented on #695
Closing as issue have not been been updated with the necessary template.

@necrose99 if/when you update the issue we can then re-open the this issue.

[2019-10-23 11:22] #695 closed

[2019-10-23 11:24] pauby commented on #683
@TheCakeIsNaOH I'm going to remove myself from this. While I have an interest in it, it's going to sit here until I get time to do it. If you have the time to pick it up then it would seem to be better for you to do so.

[2019-10-23 11:37] AdmiringWorm commented on #489
It isn't flagged by [VirusTotal](https://www.virustotal.com/gui/url/6178cd5727ceaf7c8dfe44c6b09c910ababd343d45877f3f6a7f6f276cc265c8/detection) either, also checked a few of the archives provided on the site but those were clean either.

Digging through the website html, javascript, etc don't turn up anything seen as malicious either (although they do dynamically embed an iframe on the page). So I

[2019-10-23 11:51] AdmiringWorm commented on #548
@chtof he may be the owner, but there haven't been an updated version submitted yet. So closing the issue is not valid yet

[2019-10-23 11:53] #669 closed

[2019-10-23 15:51] pauby commented on #702
Is this not a candidate for a new version of the current Open VPN package? Do we need to provide a separate package for it?

[2019-10-23 16:08] AdmiringWorm commented on #702
@pauby from my understanding, these are two different programs.
I will admit I may be completely wrong in thinking that though.

[2019-10-23 19:37] chtof commented on #548
@AdmiringWorm Ok, I will be more precise next time! So:
- Actual maintainer requested to pass the package to someone else and @boubou has asked and is now the new maintainer.
- The previous version was submitted in 2016 and there is no new version (abandonned ?).

So, with these new information, I request again to close this issue (new maintainer and no new version for about 3 years and latest ver

[2019-10-23 20:08] chtof commented on #489
My opinion is to close this issue:
- These site is unsafe according Google, we can trust to Google as we see very rarely this warning (if I take into account only my Chocolatey scripting activity, It's the first I have a package hosted on an unsafe site).
- If we provide this package, there is a risk for our users if they search and go on the website with another browser even if we don't specify t

[2019-10-24 02:36] chtof commented on #702
_Can the new and the old client co-exist ? Yes, you may continue to use both v2 and v3 on the same connect device and import the profiles desired into each. If you like, you can run either one or both._

_Is the old client still available? The OpenVPN client v1 was called “OpenVPN Desktop Client” and is no longer available. It is also not safe to use this anymore as it hasn’t been maintained for m

[2019-10-24 15:23] StewAlexander-com opened #707 "RFP - tldr"
Checklist
- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;
Package Details
Software project URL : See https://github.com/tldr-pages/tldr
Direct download URL for the software / installer : See http

[2019-10-24 16:37] ionred commented on #707
Researching

[2019-10-24 19:06] AdmiringWorm commented on #707
@StewAlexanderACC
can you please update the issue with the RFM template, and provide the all the details mentioned in that? Thanks

[2019-10-25 11:28] StewAlexanderACC commented on #707
@AdmiringWorm

My pleasure, where is this form you speak of?

[2019-10-25 11:44] StewAlexanderACC commented on #707
-->
## Checklist

- [ x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x ] There is no open issue for this package;
- [x ] The issue title starts 'RFP - ';
- [N/A ] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : **none, needs to be made**
Direct download URL for the software / installer : N

[2019-10-25 14:04] pauby commented on #707
Is this:

1. A request to create tldr pages for Chocolatey on the tldr GH repo? Or
2. A request to create a package that ends up with a working tldr command on Windows?

[2019-10-25 14:14] StewAlexanderACC commented on #707
@pauby #2 specifically - chocolatey commands are already in the repo (see here:https://github.com/tldr-pages/tldr/tree/master/pages/windows)

[2019-10-25 14:15] pauby commented on #707
@StewAlexanderACC Thanks for clarifying that. As soon as you have [updated the template in the original message](https://github.com/chocolatey-community/chocolatey-package-requests/issues/707#issuecomment-546367111) we can make this available.

[2019-10-25 14:34] StewAlexanderACC commented on #707
@pauby Updated I believe

[2019-10-25 14:46] mkevenaar commented on #706
Submitted:

https://chocolatey.org/packages/wc3270
https://chocolatey.org/packages/wc3270.install
https://chocolatey.org/packages/wc3270.portable

[2019-10-25 15:12] pauby commented on #489
@chtof Myself and @AdmiringWorm have both checked, as well as we can, the site itself using many different criteria and we're comfortable with a package being created. Just to address your specific points:

I pointed out some of the [other sites I used](https://github.com/chocolatey-community/chocolatey-package-requests/issues/489#issuecomment-541093810) as has [Kim](https://github.com/chocolatey-

[2019-10-25 15:38] pauby commented on #548
@chtof This is not a normal RFM in that a new maintainer is usually requested because a package is out of date _and_ there is a new version available (which is why it's noticed that the current maintainer is not maintaining the package) which is where @AdmiringWorm is coming from.

Given this request is unusual I'm going to go ahead and close it now.

[2019-10-25 15:38] #548 closed

[2019-10-25 15:46] AdmiringWorm commented on #707
@StewAlexanderACC just so everything will be clear (at least to me), what you are asking about is someone to package one of the clients located in the README? (https://github.com/tldr-pages/tldr#clients)

If so, I would suggest that you mention which one of them you would prefer (if any).

[2019-10-25 16:17] StewAlexanderACC commented on #707
@AdmiringWorm

The bash client won't work natively in the WIndows command line, but if it was **_ported_** then that is what I am talking about

So for instance if someone took the time to port the https://github.com/raylee/tldr client to windows, well that would answer the requirements

Or, build it from scratch using the above as a template, either way it answers my request, thanks

[2019-10-25 16:20] StewAlexanderACC commented on #707
@AdmiringWorm

Actually since this already works with python, it may be easier to just package this: https://github.com/lord63/tldr.py

With python being installed as a dependency

[2019-10-25 16:26] StewAlexanderACC commented on #707
@AdmiringWorm all those packages you mention are essentially equal on the front-end (back-end is probably quite different), so whichever is easiest to package, personally I would bet the python package is easiest

[2019-10-26 04:33] pauby commented on #707
@StewAlexanderACC Just so we're on the same page. This request is to create a Chocolatey package for tldr. It's not a request to create a new way for tldr to run on Windows. That might already be clear in your head, I just wanted to make sure we are all on the same page.

There have been a few suggestions and most of them sound like they are requesting a new way for tldr to run (as @AdmiringWorm s

[2019-10-26 12:28] chtof commented on #703
Status: **Review**
https://chocolatey.org/packages/neatmouse

[2019-10-26 12:46] chtof commented on #692
Status: **Published**
https://chocolatey.org/packages/rapidminer

Can be closed.

[2019-10-26 13:14] chtof commented on #704
Status: **Review**
https://chocolatey.org/packages/ispc

[2019-10-26 13:17] #692 closed

[2019-10-26 13:25] chtof commented on #683
Note: 21.7 GB are required to install Oculus.

[2019-10-26 14:23] chtof commented on #454
I didn't find an installer on https://www.growlforwindows.com. There is a "download" icon on the webpage but without link to download the installer! Someone can also check if he find an installer on the website? Thanks in advance!

[2019-10-26 18:42] chtof commented on #657
Status: **Review**
https://chocolatey.org/packages/tesseract

Hi @Kristinita, I have just submitted a Chocolatey package but it will install tesseract with default options, so in english. I tried to use an Autohotkey script but the problem is when you select all languages and scripts, 2 languages files are not available and you have to click on OK button to continue anyway the installation.
- A so

[2019-10-26 18:55] Kristinita commented on #657
@chtof,

**Type: Clarifying question ❔ **

Is it a problem of Tesseract installer? If yes, maybe we will create issue to Tesseract [**issue tracker**](https://github.com/UB-Mannheim/tesseract/issues)?

Thanks.

[2019-10-26 20:02] chtof commented on #657
@Kristinita [Issue opened](https://github.com/UB-Mannheim/tesseract/issues/24).

[2019-10-26 20:26] stweil commented on #657
Instead of using the installer to download the Tesseract models (`*.traineddata` files), it might be easier to get them directly from https://github.com/tesseract-ocr/tessdata_fast.

[2019-10-26 20:35] stweil commented on #657
The [package description](https://chocolatey.org/packages/tesseract#package-description) is outdated. So is the README of Tesseract which was used as the source of that description. Maybe I can update it soon.

[2019-10-26 20:47] stweil commented on #657
I suggest updating the installer to the October version.

[2019-10-28 11:40] StewAlexanderACC commented on #707
Well natively  the app probably will only answer back answers to Linux commands, which isn't very useful for some Windows users.

IDK, I was hoping someone could look into this...

As it stands the python tool would be helpful to a subset of Windows users who use Linux

[2019-10-28 13:41] pauby commented on #707
@StewAlexanderACC As I said [above](https://github.com/chocolatey-community/chocolatey-package-requests/issues/707#issuecomment-546567881) it sounds very much like you're asking for new app / program / software. This is the wrong place for that.

If the Python tool will work for users of Windows then it would seem to be the best course of action to use that. Do you agree?

Note that I don't use tl

[2019-10-28 15:16] StewAlexanderACC commented on #707
@pauby agreed

For the development concerns, ehh I suppose that will have to be addressed elsewhere.

However the python tool should work "out-of-the-box" for Windows and should be able to be packaged in Chocolatey

[2019-10-28 18:55] chtof commented on #693
Status: **Published**
https://chocolatey.org/packages/orfeo-toolbox

Can be closed.

[2019-10-28 19:01] #693 closed

[2019-10-28 19:28] chtof commented on #657
Hi @stweil,
- Thank you for your help so I understand the issue with missing files should be solved soon. I think it's easier to install all language and script directly from the installer instead of to search after the URL where the files should be downloaded, download the language file(s), search in which directory the language file(s) should be copied, download the script file(s), search in whi

[2019-11-01 17:27] chtof commented on #541
Status: **Review**
https://chocolatey.org/packages/gopro-quik

[2019-11-01 17:33] chtof commented on #414
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- No new version has been released since the package is abandoned.

[2019-11-01 17:38] chtof commented on #414
Sorry, I see "Sierra1011" is now the maintainer of this package.
https://chocolatey.org/packages/rocketchat

So, this case can be **closed**. Thanks!

[2019-11-02 08:33] #414 closed

[2019-11-03 13:38] JonasDralle opened #708 "RFP - CyberGhost VPN"
# CyberGhost

<sub>Source: [german wikipedia page](https://de.wikipedia.org/wiki/CyberGhost_VPN), translated via deepl.com</sub>

## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [ ] The download URL is public and not locked behind a paywall / login;
  -

[2019-11-04 01:40] pauby commented on #708
@JonasDralle The installer linked to above is simply a stub installer which downloads the full installer and runs it. Do you know of a link to the full (sometimes called an offline) installer?

[2019-11-07 18:58] chtof commented on #379
Note (I have highlighted the main points in bold):
Source: https://docs.lando.dev/basics/installation.html#windows

YOU MUST HAVE **HYPER-V ENABLED**
Make sure that Hyper-V is enabled or lando will not work!

Do not fear the package size!
Note that our **Windows installer includes Docker Desktop and this accounts for it's large file size** in comparison to our Linux packages.

When going through t

[2019-11-07 19:57] pauby commented on #379
This doesn't sound like it's going to be silent?

[2019-11-08 00:27] chtof commented on #379
To be tested. Maybe they will not appear if installed with admin rights.

[2019-11-09 05:44] Kristinita opened #709 "RFP — X-StreamLoader"
### 1. Checklist

- [x] The package I am requesting [**does not already exist**](https://chocolatey.org/packages?q=x-streamloader&moderatorQueue=true&prerelease=true&sortOrder=relevance) on **<https://chocolatey.org/packages>** (or [**Scoop**](https://scoop-docs.now.sh/apps/?query=x-streamloader))
- [x] [**There is no open issue for this package**](https://github.com/chocolatey-community/chocolate

[2019-11-09 13:41] pauby commented on #709
If you want to request additional packages, please raise individual issue for them.

[2019-11-09 13:43] pauby commented on #708
@JonasDralle Can you update us on this?

[2019-11-09 13:57] pauby commented on #582
Apologies. I was too hasty closing this as this is an RFM for the `netbeans` package. Reopening.

[2019-11-09 14:10] andrizmitnick opened #710 "RFP - AudioFlyout"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://github.com/ADeltaX/AudioFlyout
Direct download URL for the software / installer :

[2019-11-09 14:51] pauby commented on #572
This thread seems to have died a little bit. The [last comment](https://github.com/chocolatey-community/chocolatey-package-requests/issues/572#issuecomment-536170955) I missed and just seeing it now.

To answer it I did have a look at @adriens package and we were waiting to decide what was going to be the direction of all of this before approving. It was automatically rejected by the system becaus

[2019-11-09 18:56] JonasDralle commented on #708
Hi. Sorry I haven't looked into it yet.
I would probably do a Wireshark while the installer file is downloaded.
I'm not at my Windows computer right now.

[2019-11-10 06:00] shatteredsword commented on #572
I like the idea of having the separate versions, but if you rename the base package, will people be able to find it?

[2019-11-11 21:41] chtof commented on #541
Status: **Published**
https://chocolatey.org/packages/gopro-quik

Can be closed.

[2019-11-12 19:28] chtof commented on #703
Status: **Published**
https://chocolatey.org/packages/neatmouse

Can be closed.

[2019-11-12 19:43] chtof commented on #699
Status: **Published**
https://chocolatey.org/packages/virtualhere-server

Can be closed.

[2019-11-12 19:43] chtof commented on #698
Status: **Published**
https://chocolatey.org/packages/virtualhere-client

Can be closed.

[2019-11-12 20:29] chtof commented on #493
Status: **Published**
https://chocolatey.org/packages/flash-decompiler-trillix

Can be closed.

[2019-11-12 22:06] SlrG commented on #699
Thank you very much. :)

[2019-11-12 22:06] #699 closed

[2019-11-12 22:07] SlrG commented on #698
Thank you very much. :)

[2019-11-12 22:07] #698 closed

[2019-11-14 17:05] Moth-Tolias opened #711 "RFM - Minetest"
## I DON'T Want To Become The Maintainer

- [x] There is no existing open maintainer request for this package;
- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/minetest
Package source URL: http://www.minetest.net/

D

[2019-11-14 17:15] #493 closed

[2019-11-14 17:15] #703 closed

[2019-11-14 17:15] #541 closed

[2019-11-14 17:16] AdmiringWorm commented on #572
IMO, the base package should just be called `apache-netbeans`, not `apache-neatbeans-latest`.

[2019-11-15 08:59] pauby commented on #572
@shatteredsword I'm not sure what you mean. Just to be clear we don't rename packages - but which package are you referring to?

@AdmiringWorm Agreed. I've updated my [previous message](https://github.com/chocolatey-community/chocolatey-package-requests/issues/572#issuecomment-552107303)

[2019-11-15 09:08] adriens commented on #572
Hi guys 👍  for "We have seperate packages for each version" 😸

[2019-11-15 17:14] shatteredsword commented on #572
@shatteredsword i meant the same thing @AdmiringWorm said, he just said it way better. lol

[2019-11-15 23:12] chtof commented on #704
Status: **Published**
https://chocolatey.org/packages/ispc

Can be closed.

[2019-11-15 23:44] #704 closed

[2019-11-16 15:36] chtof commented on #711
Status: **In progress**
- Waiting to be added as maintainer (request already sent to Chocolatey contact-site admins).
- Updated package ready to be submitted: https://github.com/chtof/chocolatey-packages/tree/master/automatic/minetest

[2019-11-16 16:05] chtof commented on #710
Status: **Review**
https://chocolatey.org/packages/audioflyout

[2019-11-18 09:39] AdmiringWorm commented on #710
I see that this package have also been approved now.

[2019-11-18 09:39] #710 closed

[2019-11-18 09:42] AdmiringWorm commented on #711
@chtof I do not see any messages sent for the `minetest` package, would you mind sending the email again?

[2019-11-18 22:01] chtof commented on #711
Hi @AdmiringWorm, the mail was sent on saturday, 16th of november 2019 15:36 GMT.

_Hello,_

_Could you add me as maintainer for this package?_
_- Abandonned package: https://github.com/chocolatey-community/chocolatey-package-requests/issues/711_
_- Updated version is ready to be submitted: https://github.com/chtof/chocolatey-packages/tree/master/automatic/minetest_

_Message sent from Chocolatey.

[2019-11-18 22:04] AdmiringWorm commented on #711
@chtof unfortunately I can not see any trail at all, so there may have happened something during the sending of the email.

If you could send of a new email, we could get you added immediately.

[2019-11-18 22:22] chtof commented on #711
@AdmiringWorm Request sent again just now via contact admink link of the pkg.

[2019-11-18 22:47] AdmiringWorm commented on #711
hmm, oddly enough the email is not getting through it seems.
However I have went ahead and added you as a maintainer anyhow (pending confirmation of course).

@pauby this may be something you guys should look into on why the email never gets through.

[2019-11-19 19:39] andrizmitnick commented on #710
awesome.. thank you very much!!

[2019-11-19 19:40] andrizmitnick opened #713 "RFP - Search Deflector"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://github.com/spikespaz/search-deflector
Direct download URL for the software / inst

[2019-11-20 05:44] chtof commented on #711
Status: **Review**
https://chocolatey.org/packages/minetest/5.1.0

https://github.com/chocolatey/package-verifier/issues/70

[2019-11-20 16:03] boubou commented on #713
You are not permitted to transfer the file "SearchDeflector-Installer.exe" because its signature "c0caae0193d0f8ecd81f64ecb900082bf5be1f1a" has been identified by the Virus Outbreak Prevention service.

URL: https://github-production-release-asset-2e65be.s3.amazonaws.com/138102350/11349d00-e38f-11e9-8954-0c5089c0a629?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A/20191120/u

[2019-11-20 16:17] boubou commented on #713
I would like to be the maintainer.

[2019-11-20 16:31] AdmiringWorm commented on #713
@boubou please hold off on creating a package for this, it got quite alot of hits on different anti-virus scanners on virustotal.

It is rare that a reliable software gets the amount of positive hits on virustotal as this software gets (17 positive matches).
https://www.virustotal.com/gui/file/7d0e210917a8005815868a9a34e15157a60bfd3560e8fca04832811da0aabeb3/detection

I have posted in an internal

[2019-11-22 17:12] jimbo98 opened #714 "RFP - Rockstar Games Launcher"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://socialclub.rockstargames.com/rockstar-games-launcher
Direct download URL for the

[2019-11-22 17:13] jimbo98 commented on #714
https://gamedownloads.rockstargames.com/public/installer/Rockstar-Games-Launcher.exe

[2019-11-22 17:31] danielskowronski opened #715 "RFM - redis"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

## I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

[2019-11-22 17:32] mkevenaar commented on #715
I am willing to pick this op

[2019-11-22 17:49] AdmiringWorm commented on #714
@jimbo98 can you please update the issue with the project url and and brief software summary (I have updated the other things, and moved the download url to the first comment).

[2019-11-22 20:05] jimbo98 commented on #714
Software project URL :https://socialclub.rockstargames.com/rockstar-games-launcher
Software summary / short description:games download shop and center

[2019-11-23 01:23] qqgg231 opened #716 "RFP - Samsung Dex"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :  https://www.samsung.com/uk/apps/samsung-dex/
Direct download URL for the software / inst

[2019-11-24 00:01] tomwwabo opened #717 "RFP - Golem Brass Beta"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://golem.network/
Software sub-project URL : https://golem.network/download/brass-be

[2019-11-24 01:14] boubou commented on #716
Interesting.
I will pick it up!

[2019-11-24 18:04] bcurran3 commented on #716
Just an FYI that Samsung has abandoned DEX an it will not work on Android 10.

[2019-11-24 18:09] bcurran3 opened #718 "RFM - performancetest"
https://chocolatey.org/packages/performancetest

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad t

[2019-11-24 18:10] bcurran3 opened #719 "RFM - readycloud"
https://chocolatey.org/packages/readycloud

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to off

[2019-11-24 18:11] bcurran3 opened #720 "RFM: - backupper-server"
https://chocolatey.org/packages/backupper-server

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad

[2019-11-24 18:11] bcurran3 opened #721 "RFM - rdpguard"
https://chocolatey.org/packages/rdpguard

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to offer

[2019-11-24 18:12] bcurran3 opened #722 "RFM - network-inventory-advisor"
https://chocolatey.org/packages/network-inventory-advisor

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will

[2019-11-24 18:12] bcurran3 opened #723 "RFM - 3DMark"
https://chocolatey.org/packages/3dmark

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to offer g

[2019-11-24 18:13] bcurran3 opened #724 "RFM - PCMark"
https://chocolatey.org/packages/pcmark8

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to offer

[2019-11-24 19:32] bcurran3 opened #725 "RFM - Network Inventory Advisor"
https://chocolatey.org/packages/network-inventory-advisor

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will

[2019-11-24 19:33] bcurran3 opened #726 "RFM - Backupper Standard"
https://chocolatey.org/packages/backupper-standard

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be gla

[2019-11-24 19:34] bcurran3 opened #727 "RFM - PDQ Inventory"
https://chocolatey.org/packages/pdq-inventory

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to

[2019-11-24 19:35] bcurran3 opened #728 "RFM - PDQ Deploy"
https://chocolatey.org/packages/pdq-deploy

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to off

[2019-11-24 19:39] bcurran3 opened #729 "RFM - dokany"
https://chocolatey.org/packages/dokany

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to offer g

[2019-11-24 19:54] ionred commented on #716
Bill I read it was only the Linux on DeX feature? The rest of DeX should work on Android 10 from what I understand

[2019-11-24 20:13] bcurran3 commented on #716
You're most likely right. I read it in quick passing a few times but don't use it. :)

[2019-11-25 10:15] mkevenaar commented on #706
Deze zijn nu beschikbaar.

[2019-11-25 10:15] #706 closed

[2019-11-25 10:18] mkevenaar commented on #718
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:18] mkevenaar commented on #719
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:18] mkevenaar commented on #720
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:18] mkevenaar commented on #721
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:18] mkevenaar commented on #722
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:19] mkevenaar commented on #723
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:19] mkevenaar commented on #724
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:19] mkevenaar commented on #725
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:19] mkevenaar commented on #726
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:19] mkevenaar commented on #727
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:19] mkevenaar commented on #728
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:20] mkevenaar commented on #729
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-11-25 10:45] LoZeno opened #730 "RFM - Malwarebytes"
## Current Maintainer

- [ ] I am the maintainer of the package and wish to pass it to someone else;

I DON'T Want To Become The Maintainer

- [X] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [X] There is no existing open maintainer request for this package;

## Checklist

- [X] Issue title starts with 'RFM - '

## Existing Package Details

Pa

[2019-11-25 10:52] pauby commented on #730
I use this so I'll pick it up. Will send a request shortly.

[2019-11-25 22:37] pauby commented on #730
New version has been pushed.

[2019-11-26 23:25] brogers5 opened #731 "RFP - Doxie for Windows"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.getdoxie.com/info/apps.html
Direct download URL for the software / installer

[2019-11-26 23:26] Mavorsa opened #732 "RFP - Standard Notes"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://standardnotes.org/
Direct download URL for the software / installer : https://sta

[2019-11-27 00:14] brogers5 opened #733 "RFP - SoundSwitch"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://soundswitch.aaflalo.me/
Direct download URL for the software / installer : https:

[2019-11-27 00:55] brogers5 commented on #489
I have previously made occasional use of this in a past role as an embedded developer (specifically for BIOS behavior testing), and can vouch for its legitimacy. Although I've since moved away from embedded development and likely won't be using it again for the foreseeable future, it would be nice to see a package created for it.

[2019-11-27 01:29] brogers5 opened #734 "RFP - PowerChute Personal Edition"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://www.apc.com/shop/us/en/categories/power/uninterruptible-power-supply-ups-/ups-man

[2019-11-27 02:06] brogers5 opened #735 "RFP - Ledger Live"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://shop.ledger.com/pages/ledger-live
Direct download URL for the software / installe

[2019-11-28 01:47] animehunter123 opened #736 "RFP - JWPxp / JWPce - Dictionary MIJET (English to Japanese Language Dictionary)"
## Checklist

- [ ] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [ ] There is no open issue for this package;
- [ ] The issue title starts 'RFP - ';
- [ ] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://mijet.eludevisibility.org/JWPxp/JWPxp.html
Direct download URL for the software /

[2019-11-28 01:50] animehunter123 commented on #736
Hi everyone, I created this chocolatey package request. I think its very easy to get into the chocolatey package repositories. Can you guys add it? It will help a lot of us Japanese Language Learners.

[2019-11-28 08:35] qqgg231 commented on #489
Maybe site is unsafe, maybe it was hacked (e.g. with some script which tries to use browser security holes and install malware).  Software package may still be uncompromised (hash check is sufficient)

If site is unsafe then having choco package allows people to have safe, trusted place to download this software

[2019-11-28 10:21] pauby commented on #736
@animehunter123 Just to be clear the Chocolatey Team don't add packages that are requested. This is a repository for current / new maintainers to create packages (or become maintainers of existing packages).

It's also a great excuse to learn how to create packages. Take a look at https://chocolatey.org/docs/create-packages for more information.

[2019-11-29 01:33] animehunter123 commented on #736
Thank you pauby. I will wait for the owner of the software to hopefully read this and allow it to be added into the choco repository. Thank you very much.

[2019-11-29 06:02] sandriaas opened #737 "RFP - FalconX"
## Checklist

- [X] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [X] There is no open issue for this package;
- [X] The issue title starts 'RFP - ';
- [X] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL :
https://github.com/ChrisAnd1998/FalconX-Center-Taskbar
Direct download URL for the softwa

[2019-11-29 09:49] pauby commented on #736
@animehunter123 I think I may not have been clear. Let me try and clear it up.

We don't need to wait for the software author to create a package. _Anybody_ can create a package for the Chocolatey Community Repository. What you've done is create a request for a new Chocolatey package to be created. The Chocolatey Team don't create packages themselves. Instead we ask people to create these requests

[2019-11-30 05:14] vvch opened #738 "RFP - CoolReader"
## Checklist

- [x] The package I am requesting does not already exist on https://chocolatey.org/packages;
- [x] There is no open issue for this package;
- [x] The issue title starts 'RFP - ';
- [x] The download URL is public and not locked behind a paywall / login;

## Package Details

Software project URL : https://sourceforge.net/projects/crengine/
Direct download URL for the software / install

[2019-11-30 12:34] b16r05 opened #739 "RFP - Strawberry Music Player"
Software project URL : https://www.strawberrymusicplayer.org/
Direct download URL for the software / installer : https://github.com/jonaski/strawberry/releases
Software summary / short description: Strawberry is a music player and music collection organizer. It is a fork of Clementine...

[2019-11-30 22:18] pauby commented on #739
@b16r05 Can you go back and complete _all_ of the template?

[2019-11-30 22:21] pauby commented on #713
@AdmiringWorm do you have an update for this?

[2019-11-30 22:23] #711 closed

[2019-11-30 22:24] pauby commented on #708
@JonasDralle Have you got an update on this?

[2019-11-30 22:25] pauby commented on #628
@mkevenaar Have you got an update on this?

[2019-12-01 08:05] Moth-Tolias opened #740 "RFM - LMMS"
## I DON'T Want To Become The Maintainer

- [x] I have followed the Package Triage Process and I do NOT want to become maintainer of the package;
- [x] There is no existing open maintainer request for this package;

## Checklist

- [x] Issue title starts with 'RFM - '

## Existing Package Details

Package URL: https://chocolatey.org/packages/lmms
Package source URL: https://github.com/dtgm/chocola

[2019-12-01 14:51] pauby commented on #572
Since we have a way forward with this and there have been no further responses I'm going to go ahead and make this availabel for maintainers to pick up.

[2019-12-01 14:54] pauby commented on #546
I'm going to pick this up and do it just so it's out of the way.

[2019-12-02 20:03] bcurran3 opened #741 "RFM: winhue"
https://chocolatey.org/packages/winhue

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to offer g

[2019-12-02 20:12] bcurran3 opened #742 "RFM: grub2win"
https://chocolatey.org/packages/grub2win

I have no interest in the package, don't wish to maintain it anymore, and so it's up for grabs.

If you're interested, contact me via the Contact Maintainers link on the package web page. Please state why you want to maintain (i.e. You use it.) and if you have or currently maintain any packages. If you're a virgin package maintainer I will be glad to offer

[2019-12-02 22:40] AdmiringWorm commented on #713
Yes, I do have an update.

I have been looking around to find reasons of accepting this RFP despite the high positive virus count number, and have found none.

Due to the high positive count, and the only reason explained is due to an unsigned binary (which would only explain a small number of the hits, not that many).
Due to this, I will be closing this request.

Feel free to ask us to re-open th

[2019-12-02 22:40] #713 closed

[2019-12-02 22:42] AdmiringWorm commented on #742
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-12-02 22:42] AdmiringWorm commented on #741
Hi Bill,

Thank you for these issues, however could I ask you to please update this issue and use the template? This way we can make sure all the information is available for a new maintainer.

Thanks in advance.

[2019-12-03 04:35] animehunter123 commented on #736
Yes, that makes a lot of sense. I understand much better now, thank you for explaining this to me it makes so much more sense now.

[2019-12-05 11:54] JonasDralle commented on #708
I'm unsure how they download the real installer package.

Looking at the strings contained in the `cgsetup_de_.exe` did not show any relevant URLs for downloading. The downloader most certainly performs SSL Cert Pinning.

<details>
<summary>Here are all the strings contained in the `cgsetup_de_.exe`</summary>

	!This program cannot be run in DOS mode.
	.text
	`.rsrc
	@.reloc
	,U	r0
	,Ds:
	%	o;
	pr

[2019-12-05 11:56] JonasDralle commented on #708
The download URL is apparently public and not locked behind a paywall / login

`https://www.cyberghostvpn.com/download/cgsetup_.exe` works with any `cgsetup_(.*).exe` at the end.

[2019-12-05 12:25] pauby commented on #708
@JonasDralle Thanks very much for your work on this!

[2019-12-05 12:27] pauby commented on #729
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:28] pauby commented on #728
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:28] pauby commented on #727
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:28] pauby commented on #726
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:28] pauby commented on #725
After 14 days this issue will be closed due to the template not being used.

[2019-12-05 12:29] pauby commented on #724
After 14 days this issue will be closed due to the template not being used.